<% if url && url!= "http://url.unspecified" %>
<div class="website">
  <a href="<%= url %>"><%= url  %></a>
</div>
<% end %>

<% if info["top"]["description"].present? %>
<div class="description py-4">
  <strong><%= t('description') %>: </strong> <br/><%= simple_format(info["top"]["description"], {}, wrapper_tag: "div")%>
</div>
<% end %>

<% unless info.blank?  %>
<% lead =  t("repos.#{info['top']['repo_code'].downcase}.lead_graph", default: '') %>
<% unless lead.blank? %>
<div id="lead_graph" class="clear"><%= lead.html_safe %></div>
<% end %>

<div class='contact_info'>
  <strong><%= t('contact') %>:</strong> <br/>
<% if info["address"].present? %>
  <span class="street">
    <%= info["address"].join(" <br/>").html_safe %>
    <br />
  </span>
<% end %>

<% %w{city region post_code country}.each do |type|
   if info[type].present? %>
     <span class="<%= type %>"><%= info[type] %></span>
   <% end %>
<% end %>

<br/>

<% if info["telephones"].present? %>
   <% info["telephones"].each do |phone| %>
   <span class="telephone">
     <% if !phone['number'].blank? %>
       <% if !phone['number_type'].blank? && phone['number_type'].strip.upcase == 'FAX' %>
       <i class="fa fa-fax"  aria-hidden="true"></i> <%= phone['number'] %> (<%= t('fax') %>)
       <% else %>
       <i class="fa fa-phone" aria-hidden="true"></i> <%= phone['number'] %>
       <% end %>
     <% end %>
   </span><br/>
   <% end %>
<% end %>

<!-- YEE HAW -->
<% if info["email"].present? %>
<span class="email"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:<%= info['email'] %>" title="<%= t('email') %>"><%= info['email'] %></a></span>
<br/>
<% end %>
</div>
<% end %>

