<%= form_for @digital_object, :as => "digital_object", :url => {:action => :update}, :html => {:class => 'form-horizontal aspace-record-form'}.merge(update_monitor_params(@digital_object)) do |f| %>
  <%= form_context :digital_object, @digital_object do |form| %>
    <div class="mt-3 d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "digital_objects/sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "toolbar" %>
        <div class="record-pane">
          <%= link_to_help :topic => "digital_object" %>
          <h2>
            <% if @digital_object.title.blank? %>
              <%= t("digital_object._singular") %>
            <% else %>
              <%= clean_mixed_content(@digital_object.title) %>
            <% end %>
            <span class="label label-info badge"><%= t("digital_object._singular") %></span>
          </h2>
          <%= render_aspace_partial :partial => "digital_objects/form_container", :locals => {:form => form} %>
           <div class="form-actions pl-0">
              <button type="submit" class="btn btn-primary"><%= t("digital_object._frontend.action.save") %></button>
              <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
           </div>
         </div>
      </div>
    </div>
  <% end %>
<% end %>
