<%= form_for @digital_object, :as => "digital_object", :url => {:action => :update}, :html => {:class => 'form-horizontal aspace-record-form'}.merge(update_monitor_params(@digital_object)) do |f| %>
  <%= form_context :digital_object, @digital_object do |form| %>
    <div class="row">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "digital_objects/sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "toolbar" %>
        <div class="record-pane">
          <%= link_to_help :topic => "digital_object" %>
          <h2>
            <%= @digital_object.title.blank? ? I18n.t("digital_object._singular") : @digital_object.title %>
            <span class="label label-info"><%= I18n.t("digital_object._singular") %></span>
          </h2>
          <%= render_aspace_partial :partial => "digital_objects/form_container", :locals => {:form => form} %>
           <div class="form-actions">
             <button type="submit" class="btn btn-primary"><%= I18n.t("digital_object._frontend.action.save") %></button>
              <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
           </div>
         </div>
      </div>
    </div>
    <% if @refresh_tree_node
         node_data = {
           'id' => @digital_object.id,
           'uri' => @digital_object.uri,
           'title' => @digital_object.title,
           'level' => I18n.t("enumerations.digital_object_level.#{@digital_object.level}", :default => @digital_object.level),
           'jsonmodel_type' => @digital_object.jsonmodel_type,
           'node_type' => @digital_object.jsonmodel_type,
           'file_versions' => @digital_object.file_versions,
           'digital_object_type' => I18n.t("enumerations.digital_object_digital_object_type.#{@digital_object.digital_object_type}", :default => @digital_object.digital_object_type),
           'replace_new_node' => false
         }
    %>
      <script>
        AS.refreshTreeNode(<%= node_data.to_json.html_safe %>);
      </script>
    <% end %>
  <% end %>
<% end %>
