<%= form_for @digital_object, :as => "digital_object", :url => {:action => :update}, :html => {:class => 'form-horizontal'} do |f| %>
  <%= form_context :digital_object, @digital_object.to_hash(true) do |form| %>
    <div class="row-fluid">
      <div class="span3">
        <%= render :partial => "digital_objects/sidebar" %>
      </div>
      <div class="span9 record-pane">
         <%= render :partial => "digital_objects/form_container", :locals => {:form => form} %>
         <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save Digital Object</button>
            <%= link_to "Cancel", :back, :class => "btn btn-cancel" %>
         </div>
      </div>
    </div>
  <% end %>
<% end %>
