

<%= render :partial => "shared/form_messages", :locals => {:form => form} %>

<fieldset>

  <% define_template "digital_object", jsonmodel_definition(:digital_object) do |form| %>
    <section id="basic_information">
      <h3><%= I18n.t("digital_object._html.section.basic_information") %></h3>
      <%= form.label_and_textfield "title" %>
      <%= form.label_and_textfield "digital_object_id" %>
      <%= form.label_and_boolean "publish", {}, form.default_for("publish") %>
      <%= form.label_and_select "level", form.possible_options_for("level") %>
      <%= form.label_and_select "digital_object_type", form.possible_options_for("digital_object_type") %>
      <%= form.label_and_select "language", form.possible_options_for("language", true) %>
      <%= form.label_and_boolean "restrictions", {}, form.default_for("restrictions") %>
    </section>
  <% end %>

  <% form.emit_template("digital_object") %>

  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "file_versions"} %>

  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates"} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents"} %>

  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_agents", :template => "digital_object_linked_agent"} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "subjects", :template => "subrecord_subject"} %>

  <%= render :partial => "notes/form", :locals => {:form => form, :all_note_types => note_types_for(form['jsonmodel_type'])} %>

  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "rights_statements"} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "collection_management", :cardinality => :zero_to_one} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "user_defined", :cardinality => :zero_to_one} %>

</fieldset>
