<%
   if form.obj.has_key?('_resolved')
     selected_json =  form.obj['_resolved'].to_json
   else
     selected_json = "{}"
   end
%>
<div class="form-group required">
  <label class="control-label col-sm-2"><%= I18n.t("digital_object._singular") %></label>
  <div class="controls col-sm-8">
    <div class="input-group linker-wrapper">
      <input type="text" class="linker"
             id="<%= form.id_for("ref") %>"
             data-label="<%= I18n.t("digital_object._singular") %>"
             data-label_plural="<%= I18n.t("digital_object._plural") %>"
             data-path="<%= form.path %>"
             data-name="ref"
             data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
             data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.DIGITAL_OBJECT_FACETS %>"
             data-selected="<%= selected_json %>"
             data-format_property="title"
             data-multiplicity="one"
             data-types='["digital_object"]'
      />
      
      <% if form.obj.has_key?('_resolved') %>
          
            <input type="text" 
              class='prelinker' 
              name="<%= form.path %>[_resolved]"
              value="<%= selected_json %>" />
              
            <input type="text" 
              class='prelinker' 
              name="<%= form.path %>[ref]"
              value="<%= form.obj["ref"] %>" />

      <% end %>
      
      <div class="input-group-btn">
        <a class="btn btn-default dropdown-toggle last" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0);" class="linker-browse-btn"><%= I18n.t("actions.browse") %></a></li>
          <% if user_can?('update_digital_object_record') %>
            <li><a href="javascript:void(0);" data-target="<%= url_for :controller => :digital_objects, :action => :new, :inline => true %>" class="linker-create-btn"><%= I18n.t("actions.create") %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
