<div class="mt-3 d-flex">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "digital_objects/sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <% define_template "digital_object", jsonmodel_definition(:digital_object) do |readonly, digital_object| %>
        <h2><%= clean_mixed_content(digital_object.title) %> <span class="label label-info badge"><%= t("digital_object._singular") %></span></h2>

        <%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => readonly} %>

        <section id="basic_information">
          <h3><%= t("digital_object._frontend.section.basic_information") %></h3>

          <%= render_plugin_partials("top_of_basic_information_digital_object",
                                     :form => readonly,
                                     :record => digital_object) %>

          <%= readonly.label_and_textarea "title" %>
          <%= readonly.label_and_textfield "digital_object_id" %>

          <%= render_aspace_partial :partial => "shared/public_url", :locals => {:form_object => readonly} if AppConfig[:use_human_readable_urls] %>

          <%= readonly.label_and_boolean "publish" %>
          <%= readonly.label_and_select "level", readonly.possible_options_for("level") %>
          <%= readonly.label_and_select "digital_object_type", readonly.possible_options_for("digital_object_type") %>
          <%= readonly.label_and_boolean "restrictions" %>

          <%= render_plugin_partials("basic_information_digital_object",
                                     :form => readonly,
                                     :record => digital_object) %>
          <div class="pb-4">
            <%= display_audit_info(digital_object) %>
          </div>
        </section>

        <% if digital_object.file_versions.length > 0 %>
          <%= render_aspace_partial :partial => "file_versions/show", :locals => { :file_versions => digital_object.file_versions, :section_id => "digital_object_file_versions_", :title => digital_object.title } %>
        <% end %>

        <% if digital_object.lang_materials.length > 0 %>
          <%= render_aspace_partial :partial => "lang_materials/show", :locals => { :lang_materials => digital_object.lang_materials, :section_id => "resource_lang_materials_" } %>
        <% end %>

        <% if digital_object.dates.length > 0 %>
          <%= render_aspace_partial :partial => "dates/show", :locals => { :dates => digital_object.dates, :section_id => "digital_object_dates_" } %>
        <% end %>

        <% if digital_object.extents.length > 0 %>
          <%= render_aspace_partial :partial => "extents/show", :locals => { :extents => digital_object.extents, :section_id => "digital_object_extents_" } %>
        <% end %>

        <% if digital_object.linked_agents.length > 0 %>
          <%= render_aspace_partial :partial => "linked_agents/show", :locals => { :linked_agents => digital_object.linked_agents, :section_id => "digital_object_linked_agents_" } %>
        <% end %>

        <% if digital_object.linked_instances.length > 0 %>
          <section id="digital_object_linked_instances_" class="subrecord-form-dummy">
            <h3><%= t("linked_record._plural") %></h3>
            <div class="subrecord-form-container">
              <div class="subrecord-form-fields">
                <div class="row label-and-value">
                  <div class="col-md-3">
                    <% if digital_object.linked_instances.length > 1 %>
                      <%= t("linked_record.ref_plural") %>
                    <% else %>
                      <%= t("linked_record.ref") %>
                    <% end %>
                  </div>
                  <div class="col-md-9 token-list">
                    <% digital_object.linked_instances.each do | ref | %>
                      <%= render_token :object => ref,
                                       :label => ref["_resolved"]["display_string"] || ref["_resolved"]["title"],
                                       :type => ref["_resolved"]["jsonmodel_type"],
                                       :uri => ref["ref"] %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <% end %>

        <% if not digital_object.subjects.blank? %>
          <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => digital_object.subjects, :section_id => "digital_object_subjects_"} %>
        <% end %>

        <% if digital_object.notes.length > 0 %>
          <%= render_aspace_partial :partial => "notes/show", :locals => { :notes => digital_object.notes, :context => readonly, :section_id => "digital_object_notes_" } %>
        <% end %>

        <% if digital_object.external_documents.length > 0 %>
          <%= render_aspace_partial :partial => "external_documents/show", :locals => { :external_documents => digital_object.external_documents, :section_id => "digital_object_external_documents_"  } %>
        <% end %>

        <% if digital_object.rights_statements.length > 0 %>
          <%= render_aspace_partial :partial => "rights_statements/show", :locals => { :rights_statements => digital_object.rights_statements, :section_id => "digital_object_rights_statements_"  } %>
        <% end %>

        <% if digital_object.metadata_rights_declarations.length > 0 %>
            <%= render_aspace_partial :partial => "metadata_rights_declarations/show", :locals => { :metadata_rights_declarations => digital_object.metadata_rights_declarations, :section_id => "digital_object_metadata_rights_declarations_"  } %>
        <% end %>


        <% if digital_object.collection_management %>
          <%= render_aspace_partial :partial => "collection_management/show", :locals => { :collection_management => digital_object.collection_management, :section_id => "digital_object_collection_management_"  } %>
        <% end %>

        <%= render_aspace_partial :partial => "linked_events/show", :locals => { :linked_events => digital_object.linked_events, :context => readonly, :section_id => "digital_object_linked_events_" } %>

        <% if digital_object.user_defined %>
          <%= render_aspace_partial :partial => "user_defined/show", :locals => { :user_defined => digital_object.user_defined, :section_id => "digital_object_user_defined_"  } %>
        <% end %>

        <% if digital_object.external_ids.length > 0 && show_external_ids? %>
          <%= render_aspace_partial :partial => "external_ids/show", :locals => { :external_ids => digital_object.external_ids, :context => readonly, :section_id => "digital_object_external_ids_" } %>
        <% end %>


        <% if digital_object.classifications && !digital_object.classifications.empty? %>
          <%= render_aspace_partial :partial => "classifications/show", :locals => { :classifications => digital_object.classifications, :context => readonly, :section_id => "digital_object_classifications_" } %>
        <% end %>

        <%= render_aspace_partial :partial => "assessments/embedded", :locals => { :record => digital_object, :filter_term => {"assessment_record_uris" => digital_object.uri}.to_json, :heading_text => t("assessment._frontend.linked_records.linked_via_assessment_records")} %>

        <%= show_plugins_for(@digital_object, readonly) %>
      <% end %>

      <%= readonly_context :digital_object, @digital_object do |readonly| %>
        <% readonly.emit_template("digital_object", @digital_object) %>
      <% end %>
    </div>
  </div>
</div>
