<% if user_can?('update_digital_object_record') %>

  <% unless content_for?(:exports) %>
    <% content_for :exports do %>
      <li><%= link_to t("actions.export_mods"), {:controller => :exports, :action => :download_mods, :id => @digital_object.id}, :class => "dropdown-item" %></li>

      <li class="dropdown-item p-0 dropdown-submenu" id="download-mets-dropdown" data-download-mets-url="<%= url_for(:controller => :exports, :action => :download_mets, :id => @digital_object.id, :dmd_scheme => "${dmd_scheme}")%>">
         <a href="#" data-toggle="dropdown" data-display="static" class="py-1 px-4 d-block text-decoration-none menu-with-options download-mets-action" title="<%= t("actions.export_mets") %>"><%= t("actions.export_mets") %></a>
         <div class="dropdown-menu" id="form_download_mets">
           <fieldset class="d-flex flex-column">
             <input type="hidden" name="id", value="<%= @digital_object.id %>" />

             <label class="checkbox" for="js-dmd_scheme_mods">
               <input type="radio" id="js-dmd_scheme_mods" name="dmd_scheme" checked="checked" />
               <%= t("export_options.use_mods") %>&#160;
             </label>

             <label class="checkbox" for="js-dmd_scheme_dc">
               <input type="radio" id="js-dmd_scheme_dc" name="dmd_scheme" />
               <%= t("export_options.use_dc") %>&#160;
             </label>
           </fieldset>
         </div>
       </li>

      <li><%= link_to t("actions.export_dc"), {:controller => :exports, :action => :download_dc, :id => @digital_object.id}, :class => "dropdown-item" %></li>
    <% end %>
  <% end %>

  <%= render_aspace_partial(:partial => '/shared/resource_toolbar',
             :locals => {
              :record_type => 'digital_object',
              :record => @digital_object,
             })
  %>
<% end %>
