<%= setup_context :title => I18n.t("digital_object._plural") %>

<%
  @show_multiselect_column = user_can?("delete_archival_record")

  add_browse_columns("digital_object")

  if params[:include_components] === "true"
    @display_context = true
  end 

%>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/components_switch" %>
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('update_digital_object_record') %>
      <div class="record-toolbar">
        <div class="btn-group pull-right">
          <% if user_can?('manage_repository') %>
            <div class="btn-group">
              <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                <%= I18n.t("actions.edit_default_values") %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu open-aligned-right">
                <li><%= link_to I18n.t("digital_object._singular"), {:controller => :digital_objects, :action => :defaults} %></li>
                <li> <%= link_to I18n.t("digital_object_component._singular"), {:controller => :digital_object_components, :action => :defaults} %></li>
              </ul>
            </div>
          <% end %>
          <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv}), id: "searchExport",  class:  "btn btn-sm btn-info" %> 
          <%= link_to I18n.t("digital_object._frontend.action.create"), {:controller => :digital_objects, :action => :new}, :class => "btn btn-sm btn-default" %>
          <% if user_can?("delete_archival_record") %>
            <%= button_delete_multiple_action(:archival_records) %>
          <% end %>
        </div>
        <br style="clear:both" /> <!-- So dirty! -->
      </div>
    <% end %>

    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("digital_object._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
