<%= setup_context :title => I18n.t("digital_object._plural") %>

<%
  @show_multiselect_column = user_can?("delete_archival_record")
%>

<div class="row-fluid">
  <div class="span3">
    <%= render :partial => "search/components_switch" %>
    <%= render :partial => "search/filter" %>
  </div>
  <div class="span9">
    <% if user_can?('update_archival_record') %>
      <div class="row-fluid">
        <div class="span12">
          <div class="record-toolbar">
            <div class="pull-right">
              <%= link_to I18n.t("digital_object._frontend.action.create"), {:controller => :digital_objects, :action => :new}, :class => "btn btn-small" %>
              <% if user_can?("delete_archival_record") %>
                <%= button_delete_multiple_action %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="record-pane">
      <h2><%= I18n.t("digital_object._plural") %></h2>

      <%= render :partial => "shared/flash_messages" %>

      <%= render :partial => "search/listing" %>
    </div>
  </div>
</div>
