<%= setup_context :title => I18n.t("digital_object._plural") %>

<%
  @show_multiselect_column = user_can?("delete_archival_record")

  add_browse_columns("digital_object")

%>

<div class="row-fluid">
  <div class="span3">
    <%= render_aspace_partial :partial => "search/components_switch" %>
    <%= render_aspace_partial :partial => "search/filter" %>
  </div>
  <div class="span9">
    <% if user_can?('update_digital_object_record') %>
      <div class="row-fluid">
        <div class="span12">
          <div class="record-toolbar">
            <div class="pull-right">
              <%= link_to I18n.t("digital_object._frontend.action.create"), {:controller => :digital_objects, :action => :new}, :class => "btn btn-small" %>
              <% if user_can?("delete_archival_record") %>
                <%= button_delete_multiple_action(:archival_records) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("digital_object._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
