<!DOCTYPE html>
<html>
<head>
  <title>ArchivesSpace | <%= controller.class.name %> >> <%= controller.action_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "themes/#{session[:theme]}/application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= include_controller_js %>
  <%= csrf_meta_tags %>
</head>
<body>

   <body>
     <header>
        <%= render "shared/header" %>
     </header>
     <div class="container">
       <%= yield %>
     </div>
   </body>

</body>
</html>
