<!DOCTYPE html>
<html>
<head>
  <title>ArchivesSpace | <%= controller.class.name %> >> <%= controller.action_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= include_theme_css %>
  <%= javascript_include_tag "application" %>
  <%= include_controller_js %>
  <%= csrf_meta_tags %>
  <script>
    var APP_PATH = "<%= root_path %>";
  </script>
</head>
<body data-spy="scroll" data-target="#archivesSpaceSidebar" data-offset="20">

   <header>
     <%= render "shared/header" %>
     <%= render "site/branding" %>
   </header>

   <div class="content-pane container">
      <div class="container">
       <%= yield %>
      </div>
   </div>

   <footer>
      <%= render "site/footer" %>
   </footer>

   <%= render "shared/templates" %>
</body>
</html>
