<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t("navbar.brand") %> | <% if @title %><%= @title %><% else %><%= controller.class.name %> >> <%= controller.action_name %><% end %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag %>
  <%= include_theme_css %>
  <%= csrf_meta_tags %>

  <% if ENV["TEST_MODE"] %>
    <script>
      TEST_MODE = true;
      TEST_ERRORS = [];
      window.onerror = function(errorMsg, url, lineNo) {
        TEST_ERRORS.push({
          message: errorMsg,
          url: url,
          line: lineNo
        })
      }
    </script>
  <% end %>

  <script>
    APP_PATH = "<%= j(AppConfig[:frontend_prefix]) %>";
    COOKIE_PREFIX = "<%= j(AppConfig[:cookie_prefix]) %>";
  </script>

  <%= javascript_include_tag "application" %>
  <%= include_controller_js %>

  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5shiv" %>
  <![endif]-->

  <% ASUtils.find_local_directories('frontend/views/layout_head.html.erb').each do |layout| %>
    <% if File.exists?(layout) %>
      <!-- Begin plugin layout -->
      <%= render :file => layout %>
      <!-- End plugin layout -->
    <% end %>
  <% end %>
</head>
<body data-spy="scroll" data-target="#archivesSpaceSidebar" data-offset="20" class="action-<%= controller.action_name %>">

  <div class="container center-block">
    <header>
      <%= render "shared/browser_support" %>
      <%= render "shared/header_global" %>
      <%= render "site/branding" %>
    </header>

   <div class="content-pane container">
     <% if current_repo %>
       <div class="row">
         <%= render "shared/header_repository" %>
       </div>
     <% end %>
     <%= yield %>
   </div>

   <footer>
      <%= render "site/footer" %>
   </footer>

   <%= render "shared/templates" %>

  </div>
</body>
</html>
