<%
   section_id = "collection_management" if section_id.blank?
%>

<section id="<%= section_id %>">
  <h3><%= I18n.t("collection_management._html.singular") %></h3>
  <div class="accordion details" id="<%= section_id %>_accordian">
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="row-fluid accordion-toggle collapsed" data-toggle="collapse" data-parent="#<%= section_id %>_accordion" href="#<%= section_id %>_collection_management">
          <div class="span1">
            <span class="icon-chevron-right"></span>
            <span class="icon-chevron-down"></span>
          </div>
          <div class="span4">
            <%= I18n.t("collection_management.processing_status") %>:
            <strong><%= I18n.t("enumerations.collection_management_processing_status.#{collection_management['processing_status'] || 'none'}", :default => "--") %></strong>
          </div>
          <div class="span4">
            <%= I18n.t("collection_management.processing_priority") %>:
            <strong><%= I18n.t("enumerations.collection_management_processing_priority.#{collection_management['processing_priority'] || 'none'}", :default => "--") %></strong>
          </div>
        </div>
      </div>
      <div id="<%= section_id %>_collection_management" class="accordion-body collapse">
        <%= read_only_view(collection_management) %>
      </div>
    </div>
  </div>
</section>
