<% define_template("collection_management", jsonmodel_definition(:collection_management)) do |form| %>
  <div class="subrecord-form-fields">
      <%= form.label_and_select "processing_priority", form.possible_options_for("processing_priority", true) %>
      <%= form.label_and_boolean "rights_determined", {}, form.default_for("rights_determined") %>
      <%= form.label_and_textarea "processing_plan" %>
      <%= form.label_and_textarea "processors" %>
      <%= form.label_and_textfield "processing_hours_per_foot_estimate" %>
      <%= form.label_and_textfield "processing_total_extent", :required => :conditionally %>
      <%= form.label_and_select "processing_total_extent_type", form.possible_options_for("processing_total_extent_type", true), :required => :conditionally %>
      <%= form.label_and_textfield "processing_hours_total" %>
      <%= form.label_and_textarea "processing_funding_source" %>
      <%= form.label_and_select "processing_status", form.possible_options_for("processing_status", true) %>
      <%= render_aspace_partial :partial => "external_ids/edit", :locals => {:form => form, :section_id => "external_ids"} %>
    </div>
<% end %>
