<%= setup_context(:title => t("collection_management._plural")) %>

<div class="d-flex">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "search/filter" %>
  </div>
  <div class="col-md-9">
    <div class="record-toolbar d-flex justify-content-end">
      <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv,
        :fields => fields}
          ), id: "searchExport",  class:  "btn btn-sm btn-primary" %>
    </div>
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= t("collection_management._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
