<%= setup_context :title => I18n.t("collection_management._html.plural") %>

<div class="row-fluid">
   <div class="span3">
      The facets/search filters will go here.
   </div>
   <div class="span9">
    <div class="record-pane">
      <div class="btn-group pull-right">
      </div>
      <h2><%= I18n.t("collection_management._html.plural") %></h2>

      <%= render :partial => "shared/flash_messages" %>

     <% if @search_data.has_key?('results') && @search_data['results'].length  > 0 %>
         <table class="table table-striped table-bordered table-condensed">
           <thead>
             <tr>
               <th><%= I18n.t("collection_management.processing_priority") %></th>
               <th><%= I18n.t("collection_management.processing_status") %></th>
               <th><%= I18n.t("collection_management.processors") %></th>
               <th><%= I18n.t("collection_management.parent") %></th>
               <th width="70px"><!-- actions --></th>
             </tr>
           </thead>
           <tbody>
              <% @search_data['results'].each do |cmr| %>
              <tr>
               <td><%= I18n.t("enumerations.collection_management_processing_priority.#{cmr.processing_priority || 'none'}", :default => "--") %></td>
               <td><%= I18n.t("enumerations.collection_management_processing_status.#{cmr.processing_status || 'none'}", :default => "--") %></td>
               <td><%= cmr.processors %></td>
               <td><%= "hmm, how to ref the parent? ..." %></td>
               <td>
                  <div class="btn-group" style="float: right">
                           <%= link_to I18n.t("actions.view"), {:controller => :accessions, :action => :show, :id => cmr.id}, :class => "btn btn-mini" %>
                    <% if user_can?('update_archival_record') %>
                      <%= link_to I18n.t("actions.edit"), {:controller => :accessions, :action => :edit, :id => cmr.id}, :class => "btn btn-mini" %>
                    <% end %>
                  </div>
               </td>
             </tr>
             <% end %>
           </tbody>
         </table>
      <% else %>
         <p class="alert alert-info">
            There are currently no collection management records in this, <strong><%= session[:repo] %></strong>, repository.
         </p>
      <% end %>
    </div>
   </div>
</div>
