<%
   pr = JSONModel.parse_reference(@collection_management.linked_records[0]['ref'])
   many_lr = @collection_management.linked_records.length > 1 ? true : false
   rt = t("#{pr[:type]}._frontend.#{many_lr ? 'plural' : 'singular'}")
   title = "#{rt}: #{JSONModel(pr[:type].intern).find(pr[:id]).title}#{many_lr ? ' ...' : ''}"
%>

<%= setup_context(:object => @collection_management, :controller => :collection_management_records, :title => title) %>

<div class="d-flex">
   <div class="col-md-3">
      <%= render_aspace_partial :partial => "sidebar" %>
   </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= readonly_context :collection_management, @collection_management do |readonly| %>
         <h2><%= I18n.t("collection_management_record._frontend.title_prefix") %> <%= title %> <span class="label label-info badge"><%= I18n.t("collection_management_record._singular") %></span></h2>
  
         <%= render_aspace_partial :partial => "shared/flash_messages" %>
  
          <section id="basic_information">
            <h3><%= t("collection_management_record._frontend.section.basic_information") %></h3>
  
            <%= render_plugin_partials("top_of_basic_information_collection_management",
                                       :form => readonly,
                                       :record => @collection_management) %>

            <div class="row label-and-value">
               <div class="col-md-3">Id</div>
               <div class="col-md-9"><%= @collection_management.id %></div>
            </div>
            <div class="row label-and-value">
  
               <div class="col-md-3"><%= t("collection_management.processing_hours_per_foot_estimate") %></div>
               <div class="col-md-9"><%= @collection_management.processing_hours_per_foot_estimate %></div>
            </div>
            <div class="row label-and-value">
  
               <div class="col-md-3"><%= t("collection_management.processing_total_extent") %></div>
               <div class="col-md-9"><%= @collection_management.processing_total_extent %></div>
            </div>
            <div class="row label-and-value">
  
               <div class="col-md-3"><%= t("collection_management.processing_total_extent_type") %></div>
               <div class="col-md-9"><%= t("collection_management.processing_total_extent_type_#{@collection_management.processing_total_extent_type}") %></div>
            </div>
            <div class="row label-and-value">
  
               <div class="col-md-3"><%= t("collection_management.processing_hours_total") %></div>
               <div class="col-md-9"><%= @collection_management.processing_hours_total %></div>
            </div>
            <div class="row label-and-value">
  
               <div class="col-md-3"><%= t("collection_management.processing_plan") %></div>
               <div class="col-md-9"><%= @collection_management.processing_plan %></div>
            </div>
            <div class="row label-and-value">
  
               <div class="col-md-3"><%= t("collection_management.processing_priority") %></div>
               <div class="col-md-9"><%= t("enumerations.collection_management_processing_priority.#{@collection_management.processing_priority}", :default => @collection_management.processing_priority) %></div>
            </div>
            <div class="row label-and-value">
              
              <div class="col-md-3"><%= t("collection_management.processing_status") %></div>
              <div class="col-md-9"><%= t("enumerations.collection_management_processing_status.#{@collection_management.processing_status}", :default => @collection_management.processing_status) %></div>
            </div>
            <div class="row label-and-value">
  
               <div class="col-md-3"><%= t("collection_management.processors") %></div>
               <div class="col-md-9"><%= @collection_management.processors %></div>
            </div>
            <div class="row label-and-value">
  
               <div class="col-md-3"><%= t("collection_management.rights_determined") %></div>
               <div class="col-md-9"><%= @collection_management.rights_determined ? t("collection_management.rights_determined_true") : t("collection_management.rights_determined_false") %></div>
  
            </div>

            <%= render_plugin_partials("basic_information_collection_management",
                                       :form => readonly,
                                       :record => @collection_management) %>

          </section>
  
          <section id="collection_management_linked_records_" class="subrecord-form-dummy">
            <h3><%= t("linked_record._plural") %></h3>
            <div class="subrecord-form-container">
              <div class="subrecord-form-fields">
                <div class="row label-and-value">
                   <div class="col-md-3">
                    <% if @collection_management.linked_records.length > 1 %>
                      <%= t("linked_record.ref_plural") %>
                    <% else %>
                      <%= t("linked_record.ref") %>
                    <% end %>
                   </div>
                   <div class="col-md-9 token-list">
                     <% @collection_management.linked_records.each do | ref | %>
                      <%= render_token :object => ref,
                                        :label => ref["_resolved"]["title"],
                                        :type => ref["_resolved"]["jsonmodel_type"],
                                        :uri => ref["ref"] %>
                     <% end %>
                   </div>
                </div>
              </div>
            </div>
          </section>
       <% end %>
    </div>
  </div>
</div>
