<div id="main-content" class="row">

  <div class="information col-sm-12">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    <%= render partial: 'shared/breadcrumbs' %>
    <div class="clear">
    <% unless @result['json']['used_within_repositories'].blank? %>
      <span class='repository inline-label'><%= t('subject.used_within') %>:</span>
      <ul>
	<%  @result['json']['used_within_repositories'].each do |r| %>
	<li><a href="<%= r %>"><%= get_pretty_facet_value('used_within_repository', r) %></a></li>
	<% end %>
      </ul>
    <% end %>
    <div>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    <% if !@result['json']['extents'].blank? %>
    <%   @result['json']['extents'].each do |ext| %>
    <span class="extent"><%= ext['number'] %> <%= ext['extent_type'] %></span>
    <% end %>
    <br/>
    <% end %>
    <% if !@result['json']['dates'].blank? %>
    <%   @result['json']['dates'].each do |date|  %>
    <span class="dates"><%= (!date['label'].blank? ? "#{date['label'].titlecase}: " : '') %><%= date['expression'] %></span>
    <% end %>
    <br/>
    <% end %>

  <% if !@result['json']['component_id'].blank? %>
    <span class='component'>Component: <%= @result['json']['component_id'] %></span>
    <% end %>
    <% if !@result['json']['ref_id'].blank? %>
    <span class='ref_id'>[Ref. ID: <%= @result['json']['ref_id'] %>]</span>
    <% end %>
    <%= render partial: 'shared/display_notes' %>
  
 <% if !@results.blank? && @results['total_hits'] > 0 %>
     <h3><%= t('found') %> <%= @results['total_hits'] %> <%= (@results['total_hits'] == 1? t('coll_obj._singular') : t('coll_obj._plural')) %>:</h3>
         <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
         <% @results['results'].each do |result| %>
           <%= render partial: 'shared/result', locals: {:result => result, :props => {:full => false}} %>
         <% end %>
         <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>

   <% end %>

  </div>
  <% if !@facets.blank? || !@filters.blank? %>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
  <%= render partial: 'shared/facets' %>
  </div>
  <% end %>
</div>
