<% define_template "agent_occupation", jsonmodel_definition(:agent_occupation) do |form| %>
  <div class="subrecord-form-fields">
    <div class="agent-record-control-container">
      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "subjects", :template_erb => "subjects/template", :template => "subrecord_subject_agent_occupation", :heading_text => t("name._frontend.section.occupation_subject"), :heading_size => "h4"} %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "places", :template_erb => "subjects/template", :template => "subrecord_subject_agent_occupation_place", :heading_text => t("name._frontend.section.place_subject"), :heading_size => "h4"} %>

      <%= render_aspace_partial :partial => "notes/form", :locals => {:form => form, :all_note_types => note_types_for("agent_occupation"), :section_id => "agent_occupation_notes", :nested_note_jsonmodel => "agent_occupation", :header_size => "h4", :show_apply_note_order_action => false} %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates", :template_erb => "dates/template", :template => "structured_date_label_usage", :heading_text => t("name._frontend.section.dates"), :heading_size => "h4"} %>
    </div>
  </div>
<% end %>

<% define_template "agent_occupation_required", jsonmodel_definition(:agent_occupation) do |form| %>
    <%= form.label_and_disabled_checkbox "Occupation" %>
    <%= form.label_and_disabled_checkbox "occupation" %>
    <%= form.label_and_disabled_checkbox "Notes" %>
    <%= form.label_and_disabled_checkbox "Dates" %>
<% end %>

<% define_template "agent_occupation_merge_destination", jsonmodel_definition(:agent_occupation) do |form| %>

  <%= form.record_level_merge_controls(form, "agent_occupation", false) %>

  <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => form.obj['subjects'], :section_id => "merge_destination_occupation_subjects_", :section_title => t("agent_occupation.subjects"), :heading_size => "h4"} %>

  <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:places => form.obj['places'], :section_id => "merge_candidate_occupation_places_", :section_title => t("agent_occupation.places"), :heading_size => "h4"} %>

  <%= form.notes_preview %>

  <%= render_aspace_partial :partial => "structured_dates/show_inline", :locals => { :dates => form.obj["dates"], :section_title => t("agent_occupation.dates"), :section_id => "merge_destination_occupation_dates", :heading_size => "h4"} %>
<% end %>

<% define_template "agent_occupation_merge_candidate", jsonmodel_definition(:agent_occupation) do |form| %>

  <% disable_replace = false %>

  <%= form.record_level_merge_controls(form, "agent_occupation", true, !disable_replace) %>
  <%= form.hidden_input "id", form.obj["id"] %>

  <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => form.obj['subjects'], :section_id => "merge_candidate_occupation_subjects_", :section_title => t("agent_occupation.subjects"), :heading_size => "h4"} %>

  <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => form.obj['places'], :section_id => "merge_candidate_occupation_places_", :section_title => t("agent_occupation.places"), :heading_size => "h4"} %>

  <%= form.notes_preview %>

  <%= render_aspace_partial :partial => "structured_dates/show_inline", :locals => { :dates => form.obj["dates"], :section_title => t("agent_occupation.dates"), :section_id => "merge_candidate_occupation_dates", :heading_size => "h4"} %>

<% end %>
