<% define_template "agent_identifiers", jsonmodel_definition(:agent_identifier) do |form| %>
  <div class="subrecord-form-fields">
    <div class="agent-record-control-container">

      <%= form.label_and_textfield "entity_identifier",  {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_select "identifier_type",
        [""] + form.possible_options_for("identifier_type", false) %>
    </div>
  </div>
<% end %>

<% define_template "agent_identifier_merge_destination", jsonmodel_definition(:agent_identifier) do |form| %>

  <%= form.record_level_merge_controls(form, "agent_identifier", false) %>

  <% field_names = ["entity_identifier", "identifier_type"] %>
  <% field_names.each do |field_name| %>
    <%= form.label_and_readonly field_name %>
  <% end %>
<% end %>

<% define_template "agent_identifier_merge_candidate", jsonmodel_definition(:agent_identifier) do |form| %>

  <% disable_replace = true %>

  <%= form.record_level_merge_controls(form, "agent_identifier", true, !disable_replace) %>

  <%= form.label_and_readonly "entity_identifier" %>
  <%= form.label_and_readonly "identifier_type" %>

<% end %>
