<% username = session[:user] ? CGI::escapeHTML(session[:user]) : "" %>
<%
  if params['global']
    if params['repo']
      title = t('preference.global')
      message = t('preference.global_message')
    else
      title = t('preference.user_global')
      message = t('preference.user_global_message')
    end
    title += " (#{username})"
  else
    if params['repo']
      title = t('navbar.repo_preferences')
      message = t('preference.repo_message')
    else
      title = t('navbar.user_repo_preferences')
      message = t('preference.user_repo_message')
      title += " (#{username})"
    end
    title += " -- #{current_repo['repo_code']}"
  end
%>


<%= setup_context(:title => title) %>

<%= form_for @preference, :as => "preference", :url => {:action => :update, :id => @preference.id}, :html => {:class => 'form-horizontal aspace-record-form'}.merge(update_monitor_params(@preference)) do |f| %>

  <% if params['global'] %>
    <input type="hidden" name="global" value="true">
  <% end %>

  <% if params['repo'] %>
    <input type="hidden" name="repo" value="true">
  <% end %>

  <%= form_context :preference, @preference do |form| %>
    <% @types = SearchAndBrowseColumnConfig.columns.keys.sort_by{|k| t "defaults.#{k}_browse_section"} %>
    <% @types.delete('repositories') if !user_can?('create_repository') %>

    <div class="d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar", :locals => {:form => form, :types => @types} %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "toolbar" %>
        <div class="record-pane">
          <%= link_to_help :topic => "preference" %>
          <h2><%= title %></h2>
          <div class="alert alert-info">
            <%= message.force_encoding("UTF-8") %>
          </div>


          <%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => form} %>

          <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "defaults", :cardinality => :zero_to_one, :template => "defaults", :types => @types, :hidden => true} %>

        </div>
      </div>
    </div>

  <% end %>

<% end %>
