<div id="main-content" class="accessions">

  <div class="d-flex" id="info_row">
    <section class="information flex-grow-1">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    </section>
    <section class="page_actions">
      <%= render partial: 'shared/page_actions', locals: {:record => @result, :title => @result.display_string, :url => request.fullpath } %>
    </section>
  </div>

  <section class="row">
    <div class="information w-100">
      <%= render partial: 'shared/breadcrumbs' %>
    </div>
  </section>

  <div class="col-sm-9">

    <% if @result['json']['representative_file_version'].present? %>
      <%= render partial: 'shared/digital', locals: {record: @result} %>
    <% end %>

  <% if @result.content_description %>
    <h2><%= t('accession._public.section.content_description') %></h2>
    <p><%= @result.content_description %></p>
  <% end %>

  <% if @result.acquisition_type %>
    <h2><%= t('accession._public.section.acquisition_type') %></h2>
    <p><%= @result.acquisition_type %></p>
  <% end %>

  <% if @result.provenance %>
    <h2><%= t('accession._public.section.provenance') %></h2>
    <p><%= @result.provenance %></p>
  <% end %>

  <% if @result.language %>
    <h2><%= t('accession._public.section.language') %></h2>
    <p><%= @result.language %></p>
  <% end %>

  <% if @result.script %>
    <h2><%= t('accession._public.section.script') %></h2>
    <p><%= @result.script %></p>
  <% end %>

  <h2><%= t('accession._public.section.restrictions_apply') %></h2>
  <p><%= I18n.t("boolean.#{@result.restrictions_apply?}") %></p>

  <% if @result.access_restrictions_apply? %>
    <h2><%= t('accession._public.section.access_restrictions') %></h2>
    <% if @result.access_restrictions_note %>
      <p><%= @result.access_restrictions_note %></p>
    <% else %>
      <p><%= t("accession._public.section.access_restrictions_apply") %></p>
    <% end %>
  <% end %>

  <% if @result.use_restrictions_apply? %>
    <h2><%= t('accession._public.section.use_restrictions') %></h2>
    <% if @result.use_restrictions_note %>
      <p><%= @result.use_restrictions_note %></p>
    <% else %>
      <p><%= t("accession._public.section.use_restrictions_apply") %></p>
    <% end %>
  <% end %>

  <%= render partial: 'shared/record_innards' %>

  </div>
</div>

<%= render partial: 'shared/modal_actions' %>
