<% if @search_data %>
<% configure_index_results_view %> 
  <div class="pull-left">
    <%= I18n.t "pagination.summary_prefix" %> <strong><%= search_data["offset_first"] %></strong> <%= I18n.t "pagination.summary_offset_connector" %> <strong><%= search_data["offset_last"] %></strong> <%= I18n.t "pagination.summary_total_connector" %> <strong><%= search_data["total_hits"] %></strong> <%= I18n.t "pagination.summary_suffix" %>
  </div>

  <div class="pull-right" style="position: relative">
    <span class="input-append sort-by-action">
      <label class="pull-left"><%= I18n.t("search_sorting.sort_by") %>&#160;</label>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span class="inset-label"><%= @search_data.sorted_by_label(title_sort_label) %></span>
        <span class="btn btn-mini last"><span class="caret"></span></span>
      </a>
      <ul class="dropdown-menu pull-right">
        <% if @search_data.weightable? %>
          <li><%= link_to I18n.t("search_sorting.relevance"), params_for_search("sort" => "") %></li>
        <% end %>
        <% if show_title_column? %>
          <li class="dropdown-submenu pull-left">
            <%= link_to title_sort_label, params_for_search("sort" => @search_data.sort_filter_for("title_sort")) %>
            <ul class="dropdown-menu">
              <li><%= link_to I18n.t("search_sorting.asc"), params_for_search("sort" => "title_sort asc") %></li>
              <li><%= link_to I18n.t("search_sorting.desc"), params_for_search("sort" => "title_sort desc") %></li>
            </ul>
          </li>
        <% end %>
        <% @search_data.sort_fields.each do |field| %>
          <li class="dropdown-submenu pull-left">
            <%= link_to I18n.t("search_sorting.#{field}"), params_for_search("sort" => @search_data.sort_filter_for(field, "desc")) %>
            <ul class="dropdown-menu">
              <li><%= link_to I18n.t("search_sorting.asc"), params_for_search("sort" => "#{field} asc") %></li>
              <li><%= link_to I18n.t("search_sorting.desc"), params_for_search("sort" => "#{field} desc") %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </span>
 </div>
<% end %>
