<div class="row-fluid">
  <div class="span3">
    Query: <%= params[:q] %><br/>
    Type: <%= params[:type] %>
  </div>
  <div class="span9">
    <div class="record-pane">
      <h2>
        <% if params[:type].blank? %>
          <%= I18n.t("search_results.title") %>
        <% else %>
          <%= Array(params[:type]).map {|type| I18n.t("#{type}._html.plural")}.join(", ") %>
        <% end %>
      </h2>
      <% if @search_data.has_key?('results') && @search_data['results'].length  > 0 %>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
          <tr>
            <th width="160px"><%= I18n.t("search_results.result_type") %></th>
            <th><%= I18n.t("search_results.result_title") %></th>
          </tr>
          </thead>
          <tbody>
          <%= render :partial => "search/pagination_summary" %>
          <% @search_data['results'].each do |result| %>
            <tr>
              <td>
                <%=  I18n.t("#{result["primary_type"]}._html.singular") %>
              </td>
              <td>
                <% if result["suppressed"] %><span class="label label-info"><%= I18n.t("states.suppressed") %></span><% end %>
                <%=  result["title"] || result['display_string'] %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= render :partial => "search/pagination" %>
      <% else %>
        <p class="alert alert-info">
          <%= I18n.t("search_results.no_results_prefix") %> <em><%= params[:q] %></em>.
        </p>
      <% end %>
    </div>
  </div>
</div>
