<div class="row-fluid">
  <div class="span3">
    Query: <%= params[:q] %><br/>
    Type: <%= params[:type] %>
    <% if @repository %>
      <br/>
      Repository: <%= @repository['repo_code'] %><br/>
    <% end %>
  </div>
  <div class="span9">
    <div class="record-pane">
      <% if @search_data.has_key?('results') && @search_data['results'].length  > 0 %>
        <%= render :partial => "search/pagination_summary" %>
        <ul class="results-list">
        <% @search_data['results'].each do |result| %>
          <% 
            id = JSONModel(result["primary_type"]).id_for(result['uri'])
            repo_id = JSONModel(:repository).id_for(JSONModel.repository_for(result['uri']))
          %>
          <li class="result">
            <h3>
              <span class="icon-<%= result["primary_type"] %>"></span>
              <%= link_to result["title"] || result['display_string'], :controller => :site, :action => result["primary_type"], :id => id, :repo_id => repo_id %> 
            </h3>
            <div class="result-summary">
              <div class="label label-info pull-right"><%=  I18n.t("#{result["primary_type"]}._html.singular") %></div>
              <p class="muted">Summary goes here</p>
            </div>
          </li>
        <% end %>
        </ul>
        <%= render :partial => "search/pagination" %>
      <% else %>
        <p class="alert alert-info">
          <%= I18n.t("search_results.no_results_prefix") %> <em><%= params[:q] %></em>.
        </p>
      <% end %>
    </div>
  </div>
</div>
