<%
   if form.obj['ref'].blank?
     selected_json = "{}"
   else
     selected_json =  form.obj['_resolved'].to_json
   end
%>
<div class="control-group">
  <label class="control-label"><%= I18n.t("linked_record.ref") %></label>
  <div class="controls">
    <div class="linker-wrapper">
      <input type="text" class="linker"
             id="<%= form.id_for("ref") %>"
             data-label="<%= I18n.t("linked_record.ref") %>"
             data-label_plural="<%= I18n.t("linked_record.ref_plural") %>"
             data-name="ref"
             data-path="<%= form.path %>"
             data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
             data-selected='<%= selected_json %>'
             data-multiplicity="one"
             data-format_template="title"
             data-types='["accession", "resource", "digital_object"]'
      />
    </div>
  </div>
</div>
