<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @container_profile, :form => form} %>

<% define_template("container_profile", jsonmodel_definition(:container_profile)) do |form| %>
  <section id="basic_information">
    <h3>
      <%= t("container_profile._frontend.section.basic_information") %>
      <%= link_to_help :topic => "container_profile_basic_information" %>
    </h3>
    <fieldset>
      <%= render_plugin_partials("top_of_basic_information_container_profile",
                                 :form => form,
                                 :record => @container_profile) %>

      <%= form.label_and_textfield "name" %>
      <%= form.label_and_textfield "url" %>
      <%= form.label_and_select "dimension_units", form.possible_options_for("dimension_units") %>
      <%= form.label_and_select "extent_dimension", form.possible_options_for("extent_dimension") %>
      <%= form.label_and_textfield "depth" %>
      <%= form.label_and_textfield "height" %>
      <%= form.label_and_textfield "width" %>
      <%= form.label_and_textfield "stacking_limit" %>
      <%= form.label_and_textarea "notes" %>

      <%= render_plugin_partials("basic_information_container_profile",
                                 :form => form,
                                 :record => @container_profile) %>
  </fieldset>
  </section>
<% end %>

<% form.emit_template("container_profile") %>

