<%
  if form.obj['ref'].blank?
    selected_json = "{}"
  else
    selected_json = form.obj['_resolved'].to_json
  end

  exclude_ids = [] if exclude_ids.blank?

  allow_create = true if allow_create.nil?

  required = true if required.nil?

  linkable_types = ["container_profile"]
%>
<div class="form-group <% if required %>required<% end %>">
  <label class="control-label col-sm-2"><%= I18n.t("container_profile._singular") %></label>
  <div class="controls col-sm-8">
    <div class="input-group linker-wrapper">
      <input type="text" class="linker"
             id="<%= form.id_for("ref") %>"
             data-label="<%= I18n.t("container_profile._singular") %>"
             data-label_plural="<%= I18n.t("container_profile._plural") %>"
             data-name="ref"
             data-path="<%= form.path %>"
             data-url="<%= url_for :controller => :container_profiles, :action => :typeahead, :format => :json %>"
             data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => ContainerProfilesController.FACETS, :sort => "title_sort asc" %>"
             data-selected="<%= selected_json %>"
             data-multiplicity="one"
             data-types='<%= linkable_types.to_json %>'
             data-exclude='<%= exclude_ids.to_json %>'
      />
      <div class="input-group-btn">
        <a class="btn btn-default dropdown-toggle last" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0);" class="linker-browse-btn"><%= I18n.t("actions.browse") %></a></li>
          <% if allow_create && user_can?('update_container_profile_record') %>
            <li>
              <a data-target="<%= url_for :controller => :container_profiles, :action => :new, :inline => true %>" class="linker-create-btn"><%= I18n.t("actions.create") %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
