<%= setup_context :object => @container_profile %>

<%= form_for @container_profile, :as => "container_profile", :url => {:action => :create}, :html => {:class => 'form-horizontal aspace-record-form'} do |f| %>
  <%= form_context :container_profile, @container_profile do |form| %>
    <div class="d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%#= render_aspace_partial :partial => "shared/toolbar_new_records" %>
        <%= render_aspace_partial :partial => "toolbar" %>
        <div class="record-pane">
          <%= link_to_help :topic => "container_profile" %>
          <h2><%= t("container_profile.new_title") %> <span class="label label-info badge"><%= t("container_profile._singular") %></span></h2>

          <%= render_aspace_partial :partial => "container_profiles/form", :locals => {:form => form} %>
          <div class="form-actions pl-0">
            <div class="btn-group">
              <button type="submit" class="btn
              btn-primary"><%= t("container_profile._frontend.action.save") %></button>
              <button type="submit" id="createPlusOne" name="plus_one" class="btn btn-primary createPlusOneBtn"><%= t("actions.save_plus_one") %></button>
            </div>
            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
