<div id="main-content" class="containers">
<div class="d-flex">
  <div class="information flex-grow-1">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
  </div>
  <div class="page_actions">
    <%= render partial: 'shared/page_actions', locals: {:record => @result, :title => @result.display_string, :url => request.fullpath } %>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">

    <div class="staff-hidden d-none">
      <% if @result['json']['restricted'] %>
        <p><h4 class='restricted'><%= I18n.t('top_container.restricted') %></h4></p>
      <% end %>
    </div>

    <% unless @results.blank? || @results['total_hits'] == 0 %>
      <h2><%= t('contains', :count => @results['total_hits'], :type => @results['total_hits'] == 1? t('search_results.result') : t('search_results.results')) %>:</h2>
      <% @results.records.each do |result| %>
        <%= render partial: 'shared/result', locals: {:result => result, :props => {:full => false}} %>
      <% end %>
      <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
    <% end %>
  </div>

  <% unless @results.blank? || @results['total_hits'] == 0 || @facets.blank? %>
    <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
      <%= render partial: 'shared/facets' %>
    </div>
  <% end %>
</div>
</div>
