<hr/>
<div class="btn-group pull-right">
  <%= link_to "#{I18n.t("actions.create")} Value", {:controller => :enumerations, :action => :new, :id => @enumeration["name"]}, "data-toggle" => "modal-ajax", :class=> "btn" %>
</div>

<h2><%= I18n.t("enumeration._html.singular") %>: <%= @enumeration["name"] %></h2>

<div class="enumeration-list">
  <table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
      <th width="30%">Value</th>
      <th>Translation</th>
      <th width="70px"><!-- actions --></th>
    </tr>
    </thead>
    <tbody>
      <% @enumeration["values"].each do |enum_value| %>
        <tr>
          <td><%= enum_value %></td>
          <td><%= I18n.t("enumerations.#{@enumeration["name"]}.#{enum_value}", :default => enum_value) %></td>
          <td>
            <div class="btn-group">
              <%= link_to I18n.t("actions.merge"), {:controller => :enumerations, :action => :delete, :id => @enumeration["name"], :merge => true, :value => enum_value}, "data-toggle" => "modal-ajax", :class=> "btn btn-mini btn-warning" %>
              <%= link_to I18n.t("actions.delete"), {:controller => :enumerations, :action => :delete, :id => @enumeration["name"], :value => enum_value}, "data-toggle" => "modal-ajax", :class=> "btn btn-mini btn-danger" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>