<hr/>
<% if @enumeration['editable']%>

  <div class="btn-group pull-right">
    <%= link_to "#{I18n.t("actions.create")} #{I18n.t("enumeration.value")}", {:controller => :enumerations, :action => :new, :id => JSONModel(:enumeration).id_for(@enumeration["uri"])}, "data-toggle" => "modal-ajax", :class=> "btn btn-sm btn-default" %>
  </div>
  <br style="clear:both" /> <!-- So dirty! -->

<% end %>


<h2><%= I18n.t("enumeration._singular") %>: <%= I18n.t("enumeration_names.#{@enumeration['name']}") %> (<%= @enumeration["name"] %>)</h2>

<div class="enumeration-list">
  <table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
      <th width="30%"><%= I18n.t("enumeration.value") %></th>
      <th><%= I18n.t("enumeration.translation") %></th>
      <th>Default</th>
      <th width="70px"><!-- actions --></th>
    </tr>
    </thead>
    <tbody>
      <% @enumeration["values"].each do |enum_value| %>
        <tr>
          <td><%= enum_value %></td>
          <td><%= I18n.t("enumerations.#{@enumeration["name"]}.#{enum_value}", :default => enum_value) %></td>
          <td>
            <% if enum_value == @enumeration['default_value'] %>
              &#x2713;
            <% end%>
          </td>
          <td>
            <div class="btn-group">
              <% if enum_value != @enumeration['default_value'] %>
                <%= link_to I18n.t("actions.set_default"), {:controller => :enumerations, :action => :set_default, :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :value => enum_value}, :method => :post, :class=> "btn btn-xs btn-default" %>
              <% else %>
                <%= link_to I18n.t("actions.unset_default"), {:controller => :enumerations, :action => :set_default, :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :value => nil}, :method => :post, :class=> "btn btn-xs btn-default" %>
              <% end%>
              <% if @enumeration['editable'] && !Array(@enumeration['readonly_values']).include?(enum_value) %>
                <%= link_to I18n.t("actions.merge"), {:controller => :enumerations, :action => :delete, :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :merge => true, :value => enum_value}, "data-toggle" => "modal-ajax", :class=> "btn btn-xs btn-warning" %>
                <%= link_to I18n.t("actions.delete"), {:controller => :enumerations, :action => :delete, :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :value => enum_value}, "data-toggle" => "modal-ajax", :class=> "btn btn-xs btn-danger" %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
