<hr/>
<% if @enumeration['editable']%>

  <div class="d-flex justify-content-end">
    <%= link_to "#{t("enumeration._frontend.action.create_value")}", {:controller => :enumerations, :action => :new, :id => JSONModel(:enumeration).id_for(@enumeration["uri"])}, "data-toggle" => "modal-ajax", :class=> "btn btn-sm btn-default" %>
  </div>

<% end %>

<h3 class="mt-3"><%= t("enumeration._singular") %>: <%= t("enumeration_names.#{@enumeration['name']}") %> (<%= @enumeration["name"] %>)</h3>
<div class="enumeration-list">
  <table class="table table-striped table-bordered table-condensed">
    <thead>
    <tr>
      <th width="30%"><%= t("enumeration.value") %></th>
      <th><%= t("enumeration.translation") %></th>
      <th><%= t("enumeration.position") %></th>
      <th><%= t("enumeration.suppress") %></th>
      <th><%= t("enumeration.default") %></th>
      <th width="70px"><!-- actions --></th>
      <th width="70px"><!-- actions --></th>
    </tr>
    </thead>
    <tbody>
      <% @enumeration["enumeration_values"].each_with_index do |enum_value, i| %>
        <tr>
          <td><%= enum_value["value"] %></td>
          <td><%= I18n.t("enumerations.#{@enumeration["name"]}.#{enum_value["value"]}", :default => enum_value['value']) %></td>
          <td>
            <%= enum_value["position"] %>
            <% unless i == 0 %>
              <%= link_to( { :controller => :enumerations, :action => :update_value,
                :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :enumeration_value_id => enum_value["id"],
                :position => enum_value["position"] - 1} , :method => :post , :class=> "btn btn-sm btn-default position-up") do %>
                  <span class='glyphicon glyphicon-arrow-up' />
              <% end %>
            <% end %>
            <% unless i  == @enumeration["enumeration_values"].length - 1 %>
              <%= link_to({ :controller => :enumerations, :action => :update_value,
                :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :enumeration_value_id => enum_value["id"],
                :position => enum_value["position"] + 1} , :method => :post, :class=> "btn btn-sm btn-default position-down") do %>
                  <span class='glyphicon glyphicon-arrow-down' />
              <% end %>
            <% end %>
          </td>
          <td>
            <% if enum_value["suppressed"] %>
              &#x2713;
            <% end %>
          </td>
          <td>
            <% if enum_value['value'] == @enumeration['default_value'] %>
              &#x2713;
            <% end%>
          </td>
          <td>
            <div class="btn-group" role="group">
              <% if enum_value['suppressed'] %>
                <% disable_set_default = true %>
              <% else %>
                <% disable_set_default = false %>
              <% end %>

              <% if enum_value['value'] != @enumeration['default_value'] %>
                <%= link_to t("actions.set_default"), {:controller => :enumerations, :action => :set_default, :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :value => enum_value["value"]}, :method => :post, :class=> "btn btn-sm btn-default", :disabled => disable_set_default %>
              <% else %>
                <%= link_to t("actions.unset_default"), {:controller => :enumerations, :action => :set_default, :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :value => nil}, :method => :post, :class=> "btn btn-sm btn-default" %>
              <% end%>
              <% if enum_value['suppressed']  %>
                <%= link_to t("actions.unsuppress"), {:controller => :enumerations, :action => :update_value, :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :enumeration_value_id => enum_value["id"], :suppressed => 0 }, :method => :post, :class=> "btn btn-sm btn-warning"%>
              <% elsif @enumeration['relationships'].length == 0 %>
                  <%= link_to t("actions.suppress"), {:controller => :enumerations, :action => :update_value, :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :enumeration_value_id => enum_value["id"], :suppressed => 1 }, :method => :post, :class=> "btn btn-sm btn-warning"%>
              <% else %>
                <%= link_to t("actions.suppress"), {:controller => :enumerations, :action => :update_value, :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :enumeration_value_id => enum_value["id"], :suppressed => 1 }, :method => :post, :class=> "btn btn-sm btn-warning", :disabled => 'disabled'  %>
              <% end%>
              <% if @enumeration['editable'] && !Array(@enumeration['readonly_values']).include?(enum_value['value']) %>
                <% unless enum_value["suppressed"] %>
                  <%= link_to t("actions.merge"), {:controller => :enumerations, :action => :delete, :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :merge => true, :value => enum_value["value"]}, "data-toggle" => "modal-ajax", :class=> "btn btn-sm btn-info" %>
                <% end %>
                <%= link_to t("actions.delete"), {:controller => :enumerations, :action => :delete, :id => JSONModel(:enumeration).id_for(@enumeration["uri"]), :enumeration_value_id => enum_value["id"], :value => enum_value['value']}, "data-toggle" => "modal-ajax", :class=> "btn btn-sm btn-danger" %>
              <% end %>
            </div>
          </td>
          <td>
            <% if @enumeration['relationships'].length > 0 and @enumeration['name'] != 'job_type' %>
              <div class='enum-value-search' data-url="<%= url_for({:controller => :search, :action => :do_search, :aq =>
                enumeration_advanced_query(@enumeration['relationships'], enum_value['value'] ) }) %>"><i class='spinner'></i>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
