<%= setup_context :title => t("enumeration._plural") %>

<div class="d-flex">
  <div class="col-md-12">
    <div class="record-toolbar d-flex justify-content-end">
      <%= link_to t('enumeration._frontend.action.download_csv'), {:controller => 'enumerations', :action => 'csv'}, :class => 'btn btn-sm btn-default' %>
    </div>

    <div class="record-pane">
      <%= link_to_help :topic => "enumeration" %>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <div>
        <fieldset>
          <div class="form-group row required">
            <label class="col-form-label col-md-3 text-right" for="enum_selector"><%= t("enumeration._frontend.messages.name_selector") %></label>
            <div class="controls">
              <%
                enum_options = @enumerations.map {|e|
                  [sprintf("%s (%s)", t("enumeration_names.#{e['name']}"), e['name']),
                   JSONModel(:enumeration).id_for(e["uri"])]
                }.sort {|a, b| a[0] <=> b[0]}
              %>
              <%= select_tag "enum_selector", options_for_select([""].concat(enum_options), params[:id]), :style => "width: auto; max-with: 100%;", :class=>"form-control" %>
            </div>
          </div>
        </fieldset>
      </div>

      <div id="enum_list">

        <% if @enumeration %>
          <%= render_aspace_partial :partial => "list" %>
        <% else %>
          <%= render_aspace_partial :partial => "empty_list" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
