<div class="subform extent-fields">
  <a href="javascript:void(0)" class="btn btn-mini pull-right subform-remove"><span class='icon-remove'></span></a>
  <div class="extent-container">
    <%= f.label_and_field :portion %>
    <%= f.label_and_field :number %>
    <%= f.label_and_field :extent_type %>
    <hr/>
    <%= f.label_and_textarea :container_summary %>
    <%= f.label_and_textarea :physical_details %>
    <%= f.label_and_field :dimensions %>
  </div>
</div>