<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @event, :form => form} %>

<% define_template("event", jsonmodel_definition(:event)) do |form| %>
  <section id="basic_information">
    <div class="d-flex align-items-center border-bottom bg-asFormHeadingBg">
      <h3 class="flex-grow-1 mb-0 border-0">
        <%= t "event._frontend.section.basic_information" %>
      </h3>
      <%= link_to_help :topic => "event_basic_information" %>
    </div>
    <fieldset>
      <%= render_plugin_partials("top_of_basic_information_event",
                                 :form => form,
                                 :record => @event) %>

      <%= form.label_and_select "event_type", form.possible_options_for("event_type") %>
      <%= form.label_and_select "outcome", form.possible_options_for('outcome', true) %>
      <%= form.label_and_textarea "outcome_note" %>

      <%= render_plugin_partials("basic_information_event",
                                 :form => form,
                                 :record => @event) %>
    </fieldset>
  </section>
<% end %>

<% form.emit_template("event") %>

<section id="event_date">
  <div class="d-flex align-items-center border-bottom bg-asFormHeadingBg">
    <h3 class="flex-grow-1 mb-0 border-0">
      <%= t("event._frontend.section.date") %>
    </h3>
    <%= link_to_help :topic => "event_date" %>
  </div>
  <% if form.readonly? %>
    <% if form["timestamp"] %>
      <%= form.label_and_textfield "timestamp" %>
    <% else %>
      <%= form.fields_for(@event.date || {}, "date") do | date | %>
        <% render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates", :template_erb => "dates/template", :template => "event_date"} %>
        <% form.emit_template("event_date") %>
      <% end %>
    <% end %>
  <% else %>
    <%= form.label_and_select "chronotype_label", ['subrecord', 'timestamp'].map{|t| [t("event.chronotype.#{t}"), t]}, 'required' => true %>
    <div id="chronotype_timestamp" class="chronotype_form">
      <%= form.label_and_textfield "timestamp", :required => true %>
    </div>
    <div id="chronotype_subrecord" class="chronotype_form">
      <%= form.fields_for(@event.date || {}, "date") do | date | %>
        <% render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates", :template_erb => "dates/template", :template => "event_date"} %>
        <% form.emit_template("event_date") %>
      <% end %>
    </div>
  <% end %>
</section>

<% if form.readonly? %>
  <section id="event_linked_agents_">
    <h3><%= t("linked_agent._plural") %></h3>

    <div class="form-group row">
      <div class="control-label col-sm-2 text-right"><%= I18n.t("linked_agent._plural") %></div>
      <div class="controls token-list col-sm-4">
        <% form['linked_agents'].each do |linked_agent| %>
          <%= render_token :object => linked_agent['_resolved'],
                           :label => linked_agent['_resolved']['title'],
                           :type => "location",
                           :uri => linked_agent["ref"],
                           :placement => "top" %>
        <% end %>
      </div>
    </div>
  </section>
<% else %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_agents", :template => "event_linked_agent"} %>

<% end %>

<% if form.readonly? %>
  <section id="event_linked_records_">
    <h3><%= t("linked_record._plural") %></h3>

    <div class="form-group row">
      <div class="control-label col-sm-2 text-right"><%= I18n.t("linked_record._plural") %></div>
      <div class="controls token-list col-sm-4">
        <% form['linked_records'].each do |linked_record| %>
          <%= render_token :object => linked_record['_resolved'],
                           :label => (linked_record['_resolved']['display_string'] || linked_record['_resolved']['title']),
                           :type => "location",
                           :uri => linked_record["ref"],
                           :placement => "top" %>
        <% end %>
      </div>
    </div>
  </section>
<% else %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_records"} %>
<% end %>

<% if !form.readonly? || @event.external_documents.length > 0 %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>
<% end %>

<% if !form.readonly? %>
  <%= render_aspace_partial :partial => "external_ids/edit", :locals => {:form => form, :section_id => "external_ids"} %>
<% end %>

<%= form_plugins_for("event", form) %>
