<%= render :partial => "shared/form_messages", :locals => {:object => @event, :form => form} %>

<% define_template("event", jsonmodel_definition(:event)) do |form| %>
  <section id="basic_information">
    <h3><%= I18n.t("event._html.section.basic_information") %></h3>
    <fieldset>
      <%= form.label_and_select "event_type", form.possible_options_for("event_type") %>
      <%= form.label_and_select "outcome", form.possible_options_for('outcome', true) %>
      <%= form.label_and_textarea "outcome_note" %>
    </fieldset>
  </section>
<% end %>

<% form.emit_template("event") %>

<section id="event_date">
  <h3><%= I18n.t("event.date") %></h3>
  <%= form.label_and_select "chronotype_label", ['subrecord', 'timestamp'].map{|t| [I18n.t("event.chronotype.#{t}"), t]}, 'required' => true %>
  <div id="chronotype_timestamp" class="chronotype_form">
    <%= form.label_and_textfield "timestamp" %>
  </div>
  <div id="chronotype_subrecord" class="chronotype_form">
    <%= form.fields_for(@event.date || {}, "date") do | date | %>
      <% render :partial => "dates/template", :locals => {:form => form} %>
      <% form.emit_template("date") %>
    <% end %>
  </div>
</section>


<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_agents", :template => "event_linked_agent"} %>

<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_records"} %>
