<%= render :partial => "shared/form_messages", :locals => {:object => @event, :form => form} %>

<section id="basic_information">
  <h3>Basic Information</h3>
  <fieldset>
    <%= form.label_and_select "event_type", form.jsonmodel_options_for(:event, "event_type") %>
    <%= form.label_and_textfield "outcome" %>
    <%= form.label_and_textarea "outcome_note" %>
  </fieldset>
</section>

<section id="event_date">
  <h3>Event date</h3>
  <% form.push("date", @event.date || {}) do %>
    <% render :partial => "dates/template", :locals => {:form => form} %>
    <% form.emit_template("date") %>
  <% end %>
</section>


<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_agents"} %>

<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_records"} %>
