<%
   if form.obj['ref'].blank?
     selected_json = "{}"
   else
     selected_json =  form.obj['_resolved'].to_json
   end
%>
<div class="form-group required">
  <label class="control-label col-sm-2"><%= I18n.t("linked_record.ref") %></label>
  <div class="controls col-sm-8">
    <div class="input-group linker-wrapper">
      <input type="text" class="linker"
             id="<%= form.id_for("ref") %>"
             data-label="<%= I18n.t("linked_record.ref") %>"
             data-label_plural="<%= I18n.t("linked_record.ref_plural") %>"
             data-name="ref"
             data-path="<%= form.path %>"
             data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
             data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => (SearchResultData.ACCESSION_FACETS+SearchResultData.RESOURCE_FACETS+SearchResultData.DIGITAL_OBJECT_FACETS).uniq %>"
             data-selected="<%= selected_json %>"
             data-multiplicity="one"
             data-format_template="title"
             data-types='["accession", "resource", "digital_object", "archival_object", "digital_object_component"]'
             />
      <div class="btn-group dropdown pull-right">
        <a class="btn dropdown-toggle last" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0);" class="linker-browse-btn"><%= I18n.t("actions.browse") %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
