<%= setup_context :object => @event, :title => t("actions.defaults") %>

<%= form_for @event, :as => "event", :url => {:action => :update_defaults}, :html => {:class => 'form-horizontal aspace-record-form'} do |f| %>
  <%= form_context :event, @event do |form| %>

    <% if !@event.linked_records.first.nil? && @event.linked_records.first.has_key?('ref') %>
      <input type="hidden" name="redirect_record" value="<%= @event.linked_records.first['ref'] %>" />
      <input type="hidden" name="redirect_action" value="<%= @redirect_action %>" />
    <% end %>

    <div class="d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
        <div class="record-pane">
          <%= link_to_help :topic => "event" %>
          <h2><%= I18n.t("default_values.form_title.event") %> <span class="label label-info badge"><%= I18n.t("event._singular") %></span></h2>

          <%= render_aspace_partial :partial => "events/form", :locals => {:form => form} %>
          <div class="form-actions">
            <div class="btn-group">
              <button type="submit" class="btn btn-primary"><%= t("event._frontend.action.save") %></button>
              <button type="submit" id="createPlusOne" name="plus_one" class="btn btn-primary createPlusOneBtn"><%= t("actions.save_plus_one") %></button>
            </div>
            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
