<%= render :partial => "shared/breadcrumb", :locals => {:trail => [link_to("Browse Events", :controller => :events, :action => :index),"New Event"]} %>

<%= form_for @event, :as => "event", :url => {:action => :create}, :html => {:class => 'form-horizontal'} do |f| %>
  <%= form_context :event, @event do |form| %>
    <div class="row-fluid">
      <div class="span3">
        <%# render :partial => "sidebar" %>
      </div>
      <div class="span9 record-pane">
        <h2><%= "New Event" %>  <span class="label label-info">Event</span></h2>
        <br/>
        <%= render :partial => "events/form", :locals => {:form => form} %>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save Event</button>
          <%= link_to "Cancel", :back, :class => "btn btn-cancel" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
