<%
  record_title = "#{t("enumerations.event_event_type.#{@event.event_type}")} (#{@event.id})"
%>

<%= setup_context :object => @event, :title => record_title %>

<div class="d-flex">
   <div class="col-md-3">
     <%= render_aspace_partial :partial => "events/sidebar" %>
   </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar", :locals => { :record_title => record_title } %>
    <div class="record-pane">
      <h2><%= record_title %>  <span class="badge label"><%= I18n.t("event._singular") %></span></h2>

      <%= readonly_context :event, @event do |readonly| %>
        <%= render_aspace_partial :partial => "events/form", :locals => {:form => readonly} %>
      <% end %>

      <% if @event.external_ids.length > 0 && show_external_ids? %>
        <%= render_aspace_partial :partial => "external_ids/show", :locals => { :external_ids => @event.external_ids, :section_id => "event_external_ids_" } %>
      <% end %>
      <%# read_only_view(@event.to_hash) %>
    </div>
  </div>
</div>
