<%
  record_title = "#{I18n.t("enumerations.event_event_type.#{@event.event_type}")} (#{@event.id})"
%>

<%= setup_context :object => @event, :title => record_title %>

<div class="row">
   <div class="col-md-3">
     <%= render_aspace_partial :partial => "events/sidebar" %>
   </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <h2><%= record_title %>  <span class="label label-info"><%= I18n.t("event._singular") %></span></h2>

      <%= readonly_context :event, @event do |readonly| %>
        <%= render_aspace_partial :partial => "events/form", :locals => {:form => readonly} %>
      <% end %>
      <%# read_only_view(@event.to_hash) %>
    </div>
  </div>
</div>
