<%
  indent_level = @result.raw.fetch('ancestors', []).length
%>
<div class="infinite-item infinite-item-indent-<%= indent_level %>">
  <div class="information pt-3" style="overflow: hidden;">
      <%=
        render partial: 'shared/idbadge', locals: {
          :props => { :full => false, :infinite_item => true },
          :result => @result,
        }
      %>
  </div>

  <% scopecontent_note = @result.note('scopecontent') %>
  <% if scopecontent_note && !inherited?(scopecontent_note) %>
    <%= render partial: 'shared/single_note', locals: {:type => 'abstract', :note_struct => scopecontent_note, :notitle => true} %>
  <% end %>

  <dl class="row">

    <% accessrestrict_note = @result.note('accessrestrict') %>
    <% if accessrestrict_note && !accessrestrict_note['note_text'].blank? && !inherited?(accessrestrict_note) %>
      <dt class="col-sm-3"><%= accessrestrict_note['label'] %></dt>
      <dd class="col-sm-9">
        <%= render partial: 'shared/single_note', locals: {:type => 'accessrestrict', :note_struct => accessrestrict_note, :notitle => true} %>
      </dd>
    <% end %>

    <% unless @result.dates.blank? || all_inherited?(@result.dates) %>
        <dt class="col-sm-3"><%= t('resource._public.dates') %></dt>
        <dd class="col-sm-9">
        <% @result.dates.each do |date| %>
          <%= inheritance(date['_inherited']).html_safe %>
          <%= date['final_expression'] %>
          <br>
        <% end %>
        </dd>
    <% end %>

    <% unless @result.extents.blank? || all_inherited?(@result.extents) %>
      <dt class="col-sm-3"><%= t('resource._public.extent') %></dt>
        <% @result.extents.each do |extent| %>
          <dd class="col-sm-9">
            <%= inheritance(extent['_inherited']).html_safe %>
            <%= extent['display']%>
          </dd>    
        <% end %>
    <% end %>

    <% unless @result.agents.blank? || all_inherited?(@result.agents.collect(&:last).flatten) %>
      <dt class="col-sm-3"><%= t('pui_agent.related') %></dt>
      <dd class="col-sm-9">
        <% @result.agents.collect(&:last).flatten.each do |relationship| %>
          
            <%= link_to relationship.fetch('_resolved').fetch('title'), app_prefix(relationship.fetch('ref')) %>
          
          <br>
        <% end %>
        </dd>
    <% end %>

    <% if @result.lang_materials %>
      <% @result.lang_materials.reject { |lm| inherited?(lm) }.each do |lang_material| %>
        <dt class="col-sm-3"><%= t('resource._public.lang')%></dt>
        <dd class="col-sm-9"><%= t('enumerations.language_iso639_2.' + lang_material['language']) %></dd>
        <% unless lang_material['script'].blank? %>
          <dt class="col-sm-3"><%= t('resource._public.script')%></dt>
          <dd class="col-sm-9"><%= t('enumerations.script_iso15924.' + lang_material['script']) %></dd>
        <% end %>
      <% end %>
    <% else %>
      <% langmaterial_note = @result.note('langmaterial') %>
      <% if langmaterial_note && !langmaterial_note['note_text'].blank? && !inherited?(langmaterial_note) %>
        <dt class="col-sm-3"><%= t('resource._public.lang')%></dt>
        <dd class="col-sm-9">
          <%= render partial: 'shared/single_note', locals: {:type => 'langmaterial', :note_struct => langmaterial_note, :notitle => false} %>
        </dd>
      <% end %>
    <% end %>
  </dl>
</div>
