<h4><%= t('resource._public.related_accessions.accessions') %></h4>
<ul>
  <% accessions.each do |accession| %>
    <li>
      <% if accession.acquisition_type %>
        <strong><%= accession.acquisition_type %></strong>:
      <% end %>
      <%= link_to accession.display_string, app_prefix(accession.uri) %>

      <% unless accession.deaccessions.empty? %>
        <div>
          <h5><%= t('resource._public.related_accessions.deaccessions') %></h5>
          <ul>
            <% accession.deaccessions.each do |deaccession| %>
              <li><%= deaccession['description'] %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
