<a name="main" title="<%= t('internal_links.main') %>"></a>

<div id="main-content" class="row">
  <div class="information col-sm-7">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
  </div>
  <div class="page_actions col-sm-5 right">
    <%= render partial: 'shared/page_actions', locals: {:record => @result, :title =>  @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
  </div>
</div>

<div class="row">
  <%= render partial: 'shared/breadcrumbs' %>
</div>

<%= render partial: 'resources/resource_alltabs' %>

<%
  content_waypoint_size = 20
  sidebar_waypoint_size = 200
  num_records = @ordered_records.count
%>
<div class="row" style="overflow: hidden;">
  <div
    class="infinite-records-container col-sm-9"
    data-waypoint-size="<%= content_waypoint_size %>"
    data-total-records="<%= num_records %>">
    <div class="root">
      <% @ordered_records.each_slice(content_waypoint_size).each_with_index do |refs, i| %>
        <div
          class="waypoint"
          data-waypoint-number="<%= i %>"
          data-uris="<%= refs.map {|r| r['ref']}.join(';') %>"
        >&nbsp;</div>
      <% end %>
    </div>
  </div>
  <div id="sidebar" class="sidebar sidebar-container col-sm-3 resizable-sidebar infinite-tree-sidebar">
    <% if AppConfig[:pui_search_collection_from_collection_organization] %>
      <%= render partial: 'shared/search_collection_form', :locals => {:resource_uri => @result['uri'], :action_text => t('actions.search_in', :type => t('resource._singular'))} %>
    <% end %>

    <div
      class="infinite-tree-view largetree-container"
      id="tree-container"
      data-waypoint-size="<%= sidebar_waypoint_size %>"
      data-repo-id="<%= @result['uri'].split('/')[2] %>"
      data-resource-id="<%= @result['uri'].split('/')[4] %>"
    >
    </div>
  </div>
</div>

<dialog data-loading-modal>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</dialog>

<template id="root-row-template">
  <div id="" class="table-row root-row" role="listitem" data-uri="">
    <div class="table-cell title" title="">
      <a class="record-title" href=""></a>
    </div>
  </div>
</template>

<template id="node-row-template">
  <div id="" class="table-row largetree-node" role="listitem" data-uri="">
    <div class="table-cell title" title="">
      <span class="indentor">
        <button class="expandme" aria-expanded="false">
          <i class="expandme-icon glyphicon glyphicon-chevron-right"></i>
          <span class="sr-only"></span>
        </button>
      </span>
      <a class="record-title" href=""></a>
    </div>
  </div>
</template>

<template id="infinite-record-record-template">
  <div
    class="infinite-record-record"
    id
    data-uri
    data-record-number
    data-observe
  ></div>
</template>

<script>
const resourceUri = '<%= @result["uri"] %>';
const treeWaypointSize = '<%= sidebar_waypoint_size %>';
const identifier_separator = '<%= I18n.t("resource.identifier_separator") %>';
const date_type_bulk = '<%= I18n.t("date_type_bulk.bulk") %>';
const appUrlPrefix = '<%= AppConfig[:public_proxy_url] %>';

const infiniteRecords = new InfiniteRecords(resourceUri, appUrlPrefix);
const infiniteTree = new InfiniteTree(
  treeWaypointSize,
  appUrlPrefix,
  resourceUri,
  identifier_separator,
  date_type_bulk
);

infiniteTree.container.addEventListener('click', (e) => {
  treeClickDelegator(e, infiniteTree, infiniteRecords);
});

/**
 * treeClickDelegator
 * @description - Delegate click events on the InfiniteTree container
 * @param {Event} event - Click event
 * @param {InfiniteTree} tree - InfiniteTree instance
 * @param {InfiniteRecords} records - InfiniteRecords instance
 */
function treeClickDelegator(event, tree, records) {
  if (
    !event.target.classList.contains('expandme') &&
    !event.target.classList.contains('expandme-icon') &&
    !event.target.classList.contains('record-title')
  ) return;

  if (event.target.className.includes('expandme')) {
    tree.expandHandler(event);
  } else if (event.target.classList.contains('record-title')) {
    records.treeLinkHandler(event);
  }
}
</script>

<%= render partial: 'shared/modal_actions' %>
