<a name="main" title="<%= t('internal_links.main') %>"></a>
<div id="main-content" class="row">
  <div id="info_row" class="col-12">
    <% unless defined?(@no_statement) || !defined?(@search) %>
      <div class="searchstatement"><%= @search[:search_statement].html_safe %></div>
    <% end %>
    <div class="d-flex flex-column flex-md-row">
      <div class="information flex-grow-1">
        <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
      </div>
      <div class="page_actions">
        <%= render partial: 'shared/page_actions', locals: {:record => @result, :title =>  @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <%= render partial: 'shared/breadcrumbs' %>
</div>

<%= render partial: 'resources/resource_alltabs' %>

<% sidebar_position = AppConfig[:pui_collection_org_sidebar_position] %>

<div class="row mt-5 flex-column flex-lg-row" id="notes_row">
  <div
    id="sidebar"
    class="h-max col-12 col-lg-3 sidebar sidebar-container resizable-sidebar <%= sidebar_position == 'left' ? 'resizable-sidebar-left' : 'order-1' %> infinite-tree-sidebar"
    data-sidebar-position="<%= sidebar_position %>"
    <% unless @has_children %>style="display: none"<% end %>
  >
    <% if defined?(@filters) && defined?(@search) %>
    <%= render partial: 'shared/facets' %>
   <% end %>
   <%= render partial: 'shared/search_collection_form', :locals => {:resource_uri => @result['uri'], :action_text => "#{t('actions.search_in', :type => t('resource._singular'))}"} %>
   <%= render partial: 'shared/children_tree', :locals => {:heading_text => t('cont_arr'), :root_node_uri => @result.uri, :current_node_uri => @result.uri} %>
 </div>
  <div class="col-12 col-lg-9 px-3 resizable-content-pane">
    <%= render partial: 'shared/digital', locals: {
      :dig_objs => @dig,
      record: @result,
      n_digital_objects: @n_digital_objects
    } %>
    <%= render partial: 'shared/record_innards' %>
  </div>
</div>

<script>
  document.querySelectorAll("[data-js='readmore']").forEach((el) => {
    new ReadMoreNotes(el);
  });
</script>

<%= render partial: 'shared/modal_actions' %>
