<a name="main" title="<%= t('internal_links.main') %>"></a>
<div id="main-content" class="row resources">
  <div class="row" id="info_row">
  <% unless defined?(@no_statement) || !defined?(@search) %>
  <div class="searchstatement"><%= @search[:search_statement].html_safe %></div>
  <% end %>
  </div>
  <div class="information col-sm-7">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
  </div>
  <div class="page_actions col-sm-5 right">
    <%= render partial: 'shared/page_actions', locals: {:record => @result, :title =>  @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
  </div>
</div>
<div class="row">
    <%= render partial: 'shared/breadcrumbs' %>
</div>

<%= render partial: 'resources/resource_alltabs' %>

<div class="row" id="notes_row">
  <div class="col-sm-9">
    <%= render partial: 'shared/digital', locals: {:dig_objs => @dig} %>
    <%= render partial: 'shared/record_innards' %>
  </div>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container resizable-sidebar" <% unless @has_children %>style="display: none"<% end %>>
    <% if defined?(@filters) && defined?(@search) %>
    <%= render partial: 'shared/facets' %>
   <% end %>
   <%= render partial: 'shared/search_collection_form', :locals => {:resource_uri => @result['uri'], :action_text => "#{t('actions.search_in', :type => t('resource._singular'))}"} %>
   <%= render partial: 'shared/children_tree', :locals => {:heading_text => t('cont_arr'), :root_node_uri => @result.uri, :current_node_uri => @result.uri} %>
 </div>
</div>

<%= render partial: 'shared/modal_actions' %>
