<%
   section_id = "hello_worlds" if section_id.blank?
%>

<section id="<%= section_id %>">
  <h3><%= I18n.t("plugins.hello_world._plural") %></h3>
  <div class="accordion details" id="hello_worlds_accordion">
    <% hello_worlds.each_with_index do | hello_world, index | %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <div class="row-fluid collapsed accordion-toggle" data-toggle="collapse" data-parent="#hello_worlds_accordion" href="#hello_world_<%= index %>">
            <div class="span1">
              <span class="icon-chevron-right"></span>
              <span class="icon-chevron-down"></span>
            </div>
            <div class="span2">
              <%= I18n.t("plugins.hello_world.who") %>
            </div>
            <div class="span6">
              <%= hello_world['who'] %>
            </div>
          </div>
        </div>
        <div id="hello_world_<%= index %>" class="accordion-body collapse">
          <%= read_only_view(hello_world, :plugin => true) %>
        </div>
      </div>
    <% end %>
  </div>
</section>
