<%
   note_types = {}

   [:note_multipart, :note_singlepart].each do |schema|
     JSONModel(schema).schema['properties']['type']['enum'].each do |type|
       note_types[type] = schema
     end
   end

   note_types["Index"] = :note_index
   note_types["Bibliography"] = :note_bibliography
%>

<section id="notes" class="subrecord-form">
  <h3 class="subrecord-form-heading">Notes</h3>
  <div class="notes-container subrecord-form-container">
    <%= f.with_jsonmodel "notes[]", {}, :note_singlepart, :index => "0" do %>
      <% render :partial=>"notes/singlepart_form.html", :locals => {:f => f} %>
    <% end %>
    <%= f.with_jsonmodel "notes[]", {}, :note_bibliography, :index => "2" do %>
      <% render :partial=>"notes/bibliography_form.html", :locals => {:f => f} %>
    <% end %>
    <%= f.with_jsonmodel "notes[]", {}, :note_index, :index => "3" do %>
      <% render :partial=>"notes/index_form.html", :locals => {:f => f} %>
    <% end %>
    <%= f.with_jsonmodel "notes[]", {}, :note_multipart, :index => "1" do %>
      <% render :partial=>"notes/multipart_form.html", :locals => {:f => f} %>
    <% end %>
  </div>
</section>

<%= render :partial=>"notes/templates", :locals=>{:f => f} %>