
<div class="row">
<div class="col-sm-9">

<h2> 
<%= "#{I18n.t('pagination.summary_prefix')} #{I18n.t('pagination.summary_suffix')}" %> <%= @results['offset_first'] %> 
<%= t('pagination.summary_offset_connector') %> <%= @results['offset_last'] %> <%= t('pagination.summary_total_connector') %> <%= @results['total_hits'] %>
</h2>
<% if @results['results'][0].present? && @results['results'][0]['_resolved_resource']['json'].present? %>
<h4><a href="<%= @results['results'][0]['_resolved_resource']['json']['uri'] %>" 
title="<%= strip_mixed_content(@results['results'][0]['_resolved_resource']['json']['title']) %>"><%= process_mixed_content(@results['results'][0]['_resolved_resource']['json']['title']).html_safe %></a>
</h4>
<% end %>
<%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>

    <% @results['results'].each do |result| %>
    <%= render partial: 'shared/result', locals: {:result => result, :props => {:full => false}} %>

    <% end %>

<%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
</div>
<div class="col-sm-3">
  <%= render partial: 'shared/facets' %>
</div>
</div>
