<div id="main-content" class="row">

  <div class="information col-sm-12">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => {} } %>
    <%= render partial: 'shared/breadcrumbs' %>
  </div>
  <div class="col-sm-9">
    <div class="abstract more"><%= get_note(@result['json'], 'abstract', 'Abstract').html_safe %></div>
    <div class="scope more"><%= get_note(@result['json'], 'scopecontent', 'Scope and Contents').html_safe %></div>
    <div class="bioghist more"><%= get_note(@result['json'], 'bioghist', 'Biography or History').html_safe %></div>

  </div>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
    <h4>Contents &amp; Arrangements</h4>
    <%= render partial: 'shared/children_tree', locals: {:tree => @tree} %>
  </div>
</div>
