<div id="main-content" class="row">

  <div class="information col-sm-12">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => {} } %>
    <%= render partial: 'shared/breadcrumbs' %>
  </div>
  <div class="col-sm-9">
    <%= render partial: 'shared/single_note', locals: {:type => 'abstract', :note_struct =>  get_note(@result['json'], 'abstract')} %>
    <div class="panel-group" id="res_accordion">

    <% %w{scopecontent bioghist physdesc langmaterial accessrestrict prefercite arrangement odd processinfo acqinfo separatedmaterial}.each do |type| 
     note_struct = get_note(@result['json'],type) 
        if !note_struct['note_text'].blank? %>
          <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#res_accordion" href="#<%= type %>">
		  <%= note_struct['label'] %>
		</a>
	      </h4>
	    </div>
	    <div id="<%= type %>" class="panel-collapse collapse in">
	      <div class="panel-body">
		<div class="more"><%= note_struct['note_text'].html_safe %></div>
	      </div>
	    </div>
	  </div>        
        <% end %>
    <% end %>
    </div>
<script type="text/javascript" >$(".collapse").collapse({parent: "#res_accordion"});</script>
  </div>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
    <div class="search">
      <p><%= "#{t('actions.search')} " %> <%= t('resource._singular') %>:
	<%= form_tag("#{@result['uri']}/search", method: 'get') do %>
            <%= text_field_tag(:q) %>
        <%= submit_tag(I18n.t('search-button.label')) %>

	<% end %>
      </p>
    </div>

    <h4>Contents &amp; Arrangements</h4>
    <%= render partial: 'shared/children_tree', locals: {:tree => @tree} %>
  </div>
</div>
