
<div id="main-content" class="row">
  <div class="row" id="info_row">
  <% unless defined?(@no_statement) || !defined?(@search) %>
  <div class="searchstatement"><%= @search[:search_statement].html_safe %></div>
  <% end %>

    <div class="information col-sm-7">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => {} } %>
  </div>
  <div class="page_actions col-sm-5 right">
    <%= render partial: 'shared/page_actions', locals: {:title =>  @result['json']['display_string'], :url => request.fullpath, :cite => @cite } %>
  </div>
</div>
<div class="row">
    <%= render partial: 'shared/breadcrumbs' %>
</div>
<div class="row" id="tabs">
  <div class="col-sm-9 text-center tabbing navbar navbar-default">
    <ul class="tabbing nav nav-pills">
      <li><a class="active" href="#"><%= t('actions.collection_overview') %></a></li><li>
      <a  href="javascript:alert('this does what?');"><%= t('actions.hierarch') %></a></li><li>
<a href="javascript:alert('Is this for the container stuff?');"><%= t('actions.numeric') %></a></li>
    </ul>
  </div>
</div>
<div class="row" id="notes_row">
<!-- <%= @result.pretty_inspect.html_safe %> -->
  <div class="col-sm-9">
    <%= render partial: 'shared/digital', locals: {:dig_objs => @dig} %>
    <%= render partial: 'shared/record_innards' %>
  </div>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
    <% if defined?(@filters) && defined?(@search) %>
    <%= render partial: 'shared/facets' %>
   <% end %>

    <div class="search">
	<%= form_tag("#{@result['uri']}/search", method: 'get', :class=> "form-inline") do %>
	<div class="form-group">
	  <%= label_tag(:filter_q0,  "#{t('actions.search_in', :type=> t('resource._singular'))}", :class => 'sr-only') %>

          <%= text_field_tag('filter_q[]', nil,:id => 'filter_q0', :placeholder =>  "#{t('actions.search_in', :type => t('resource._singular'))}", :class=> "form-control") %>
	</div>
	<div class="form-group">
	  <%= hidden_field_tag('op[]','') %>
	  <%= hidden_field_tag('field[]','') %>
	  <%= hidden_field_tag('limit','') %>
	  <%= hidden_field_tag('q[]','*') %>

	  <span class="inline-label"><%= t('search_results.filter.years') %>:</span>
	   <%= label_tag(:from_year0, "#{t('search_results.filter.from_year')}", :class => 'sr-only') %>
	   <%= text_field_tag('from_year[]', nil, :id=>'from_year0', :size => 4,:maxlength => 4, :placeholder => t('search_results.filter.from'),
            :class=>"form-control") %> <span class="inline-label"><%= t('search_results.filter.to') %></span> <%= label_tag(:to_year0, "#{t('search_results.filter.to_year')}", :class=> 'sr-only') %>
	   <%= text_field_tag('to_year[]', nil, :size => 4, :maxlength => 4, :class=> "form-control", :id => 'to_year0',
           :placeholder => t('search_results.filter.to')) %>
	</div>
        <%= submit_tag(t('search-button.label'), :class=>'btn btn-primary btn-sm') %>
	<% end %>
    </div>

    <h4><%= t('cont_arr') %></h4>
    <% unless !defined?(@tree) %>
    <%= render partial: 'shared/children_tree', locals: {:tree => @tree} %>
    <% end %>
  </div>
</div>

<%= render partial: 'shared/modal_actions' %>
