<div id="main-content" class="row">

  <div class="information col-sm-12">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => {} } %>
    <%= render partial: 'shared/breadcrumbs' %>
  </div>
  <div class="col-sm-9">
    <% %w{abstract scopecontent bioghist physdesc langmaterial accessrestrict prefercite arrangement odd processinfo acqinfo separatedmaterial}.each do |type| 
     note = get_note(@result['json'],type) 
        if !note.blank? %>
         <div class="<%= type %> more" ><%= note.html_safe %></div>
        <% end %>
    <% end %>


  </div>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
    <h4>Contents &amp; Arrangements</h4>
    <%= render partial: 'shared/children_tree', locals: {:tree => @tree} %>
  </div>
</div>
