<div id="main-content" class="row">

  <div class="information col-sm-12">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => {} } %>
    <%= render partial: 'shared/breadcrumbs' %>
  </div>
  <div class="col-sm-9">
    <%= render partial: 'shared/single_note', locals: {:type => 'abstract', :note_struct =>  get_note(@result['json'], 'abstract')} %>
    <div class="panel-group" id="res_accordion">

    <% %w{scopecontent bioghist physdesc langmaterial accessrestrict prefercite arrangement odd processinfo acqinfo separatedmaterial}.each do |type| 
     note_struct = get_note(@result['json'],type) 
        if !note_struct['note_text'].blank? %>
          <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#res_accordion" href="#<%= type %>">
		  <%= note_struct['label'] %>
		</a>
	      </h4>
	    </div>
	    <div id="<%= type %>" class="panel-collapse collapse in">
	      <div class="panel-body">
		<div class="note"><%= note_struct['note_text'].html_safe %></div>
	      </div>
	    </div>
	  </div>        
        <% end %>
    <% end %>
    </div>
<script type="text/javascript" >$(".collapse").collapse({parent: "#res_accordion"}); </script>
  </div>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
    <div class="search">
	<%= form_tag("#{@result['uri']}/search", method: 'get', :class=> "form-inline") do %>
	<div class="form-group">
	  <% label_tag(:q,  "#{t('actions.search')} #{t('resource._singular')}", :class => 'sr-only') %>
          <%= text_field_tag(:q, nil, :placeholder =>  "#{t('actions.search')} #{t('resource._singular')}", :class=> "form-control") %>
	</div>
	<div class="form-group">
	  <span class="inline-label"><%= t('search_results.filter.years') %>:</span>
	   <%= label_tag(:from_year, "#{t('search_results.filter.from_year')}", :class => 'sr-only') %>
    <%= text_field_tag(:from_year, nil, :size => 4,:maxlength => 4, :placeholder => t('search_results.filter.from'),
:class=>"form-control") %> <span class="inline-label"><%= t('to') %></span> <%= label_tag(:to_year, "#{t('search_results.filter.to_year')}", :class=> 'sr-only') %>
     <%= text_field_tag(:to_year, nil, :size => 4, :maxlength => 4, :class=> "form-control",
 :placeholder => t('search_results.filter.to')) %>


	</div>
        <%= submit_tag(t('search-button.label'), :class=>'btn btn-primary btn-sm') %>

	</div>

	<% end %>
    </div>

    <h4>Contents &amp; Arrangements</h4>
    <%= render partial: 'shared/children_tree', locals: {:tree => @tree} %>
  </div>
</div>
