<div id="bulk_action_test_selection"><!--
  <ul>
  {for container in selection}
    <li><strong>${container[1]}</strong>&nbsp;&nbsp;&nbsp;${container[0]}</li>
  {/for}
  </ul>
--></div>

<div id="bulk_action_update_ils_holding"><!--
  <%= form_tag({:controller => :top_containers, :action => :bulk_operation_update}, {:class => "form-horizontal", :id => "bulk_update_form" }) do |f| %>
    <div class="modal-body">
        <div class="alert alert-info" id="alertBucket"><%= t("top_container._frontend.bulk_operations.update_ils_holding_ids_help") %></div>

        <div class="selected-record-list well">
            <ul>
                {for container in selection}
                <li>${container.display_string}</li>
                {/for}
            </ul>
        </div>

        {for container in selection}
          <input type="hidden" name="update_uris[]" value="${container.uri}">
        {/for}
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="ils_holding_id"><%= t("top_container.ils_holding_id") %></label>
                <div class="controls">
                    <%= text_field_tag "ils_holding_id", params["ils_holding_id"], :style => "width: 80%;" %>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><%= t("top_container._frontend.bulk_operations.update_n_records", :n => "${selection.length}") %></button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t("actions.cancel") %></button>
    </div>
  <% end %>
--></div>

<div id="bulk_action_update_container_profile"><!--
  <%= form_tag({:controller => :top_containers, :action => :bulk_operation_update}, {:class => "form-horizontal", :id => "bulk_update_form" }) do |f| %>
    <div class="modal-body">
        <div class="alert alert-info" id="alertBucket"><%= t("top_container._frontend.bulk_operations.update_container_profiles_help") %></div>

        <div class="selected-record-list well">
            <ul>
                {for container in selection}
                <li>${container.display_string}</li>
                {/for}
            </ul>
        </div>

        {for container in selection}
          <input type="hidden" name="update_uris[]" value="${container.uri}">
        {/for}
        <input type="hidden" name="container_profile_uri" value="">
        <div class="span8">
          <div class="control-group">
            <label class="control-label" for="container_profile"><%= t("container_profile._singular") %></label>
            <div class="controls">
              <%= render_aspace_partial :partial => "top_containers/bulk_operations/container_profile_linker", :locals => { :show_create_link => true } %>
            </div>
            <div class='spacer'></div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><%= t("top_container._frontend.bulk_operations.update_n_records", :n => "${selection.length}") %></button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t("actions.cancel") %></button>
    </div>
  <% end %>
--></div>

<div id="bulk_action_update_location"><!--
  <%= form_tag({:controller => :top_containers, :action => :bulk_operation_update}, {:class => "form-horizontal", :id => "bulk_update_form" }) do |f| %>
    <div class="modal-body">
        <div class="alert alert-info" id="alertBucket"><%= t("top_container._frontend.bulk_operations.update_locations_singular_help") %></div>

        <div class="selected-record-list well">
            <ul>
                {for container in selection}
                <li>${container.display_string}</li>
                {/for}
            </ul>
        </div>

        {for container in selection}
          <input type="hidden" name="update_uris[]" value="${container.uri}">
        {/for}
        <input type="hidden" name="location_uri" value="">
        <div class="span8">
          <div class="control-group">
            <label class="control-label" for="location"><%= t("location._singular") %></label>
            <div class="controls">
              <%= render_aspace_partial :partial => "top_containers/bulk_operations/location_linker", :locals => { :show_create_link => true } %>
            </div>
            <div class='spacer'></div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><%= t("top_container._frontend.bulk_operations.update_n_records", :n => "${selection.length}") %></button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t("actions.cancel") %></button>
    </div>
  <% end %>
--></div>

<div id="bulk_action_update_location_multiple"><!--
  <%= form_tag({:controller => :top_containers, :action => :update_locations}, {:class => "form-horizontal", :id => "bulk_update_locations" }) do |f| %>
    <div class="modal-body">
        <div class="alert alert-info" id="alertBucket"><%= t("top_container._frontend.bulk_operations.update_locations_multiple_help") %></div>

        <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
          <tr>
            <th class="col-sm-2"><%= t("top_container._frontend.bulk_operations.collection_singular") %></th>
            <th class="col-sm-2"><%= t("container_profile._singular") %></th>
            <th class="col-sm-1"><%= t("top_container.indicator") %></th>
            <th class="col-sm-1"><%= t("top_container.barcode") %></th>
            <th class="col-sm-2"><%= t("top_container._frontend.bulk_operations.update_locations_current_location") %></th>
            <th class="col-sm-4"><%= t("top_container._frontend.bulk_operations.update_locations_new_location") %></th>
          </tr>
        </thead>
        {for container in selection}
          <tr>
            <td>${container.row.find(".top-container-collection").html()}</td>
            <td>${container.row.find(".top-container-profile").html()}</td>
            <td>${container.row.find(".top-container-indicator").html()}</td>
            <td>${container.row.find(".top-container-barcode").text().trim()}</td>
            <td>${container.row.find(".top-container-current-location").html()}</td>
            <td>
              <%= render_aspace_partial :partial => "top_containers/bulk_operations/location_linker", :locals => { :path => "${container.uri}", :show_create_link => true } %>
              <input type="hidden" name="update_uris[]" value="${container.uri}"/>
            </td>
          </tr>
        {/for}
        </table>
        <div class='spacer'></div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><%= t("top_container._frontend.bulk_operations.update_n_records", :n => "${selection.length}") %></button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t("actions.cancel") %></button>
    </div>
  <% end %>
--></div>

<div id="bulk_action_delete"><!--
  <%= form_tag({:controller => :top_containers, :action => :batch_delete}, {:class => "form-horizontal", :id => "batch_delete_form" }) do |f| %>
    <div class="modal-body">
        <div class="alert alert-info" id="alertBucket"><%= t("top_container._frontend.bulk_operations.batch_delete_help") %></div>

        <div class="selected-record-list well">
            <ul>
                {for container in selection}
                <li>
                  ${container.display_string}
                  <input type="hidden" name="record_uris[]" value="${container.uri}">
                </li>
                {/for}
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger"><%= t("top_container._frontend.bulk_operations.delete_n_records", :n => "${selection.length}") %></button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t("actions.cancel") %></button>
    </div>
  <% end %>

--></div>

<div id="template_bulk_barcode_action_dialog"><!--
  <%= form_tag({:controller => :top_containers, :action => :update_barcodes}, {:class => "form-horizontal", :id => "bulk_update_form" }) do |f| %>
  <div class="modal-body">
    <div class="alert alert-info" id="alertBucket"><%= t("top_container._frontend.bulk_operations.rapid_barcode_entry_help") %></div>
    <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th><%= t("top_container._frontend.bulk_operations.collection_singular") %></th>
        <th><%= t("top_container._frontend.bulk_operations.series") %></th>
        <th><%= t("container_profile._singular") %></th>
        <th><%= t("top_container.indicator") %></th>
        <th><%= t("top_container._frontend.bulk_operations.rapid_barcode_entry_existing_barcode") %></th>
        <th><%= t("top_container._frontend.bulk_operations.rapid_barcode_entry_new_barcode") %></th>
      </tr>
    </thead>
    {for container in selection}
      <tr>
        <td>${container.row.find(".top-container-collection").html()}</td>
        <td>${container.row.find(".top-container-series").html()}</td>
        <td>${container.row.find(".top-container-profile").html()}</td>
        <td>${container.row.find(".top-container-indicator").html()}</td>
        <td>${container.row.find(".top-container-barcode").text().trim()}</td>
        <td><input type="text" name="${container.uri}" value="" /><input type="hidden" name="update_uris[]" value="${container.uri}"/></td>
      </tr>
    {/for}
    </table>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"><%= t("top_container._frontend.bulk_operations.update_n_records", :n => "${selection.length}") %></button>
    <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t("actions.cancel") %></button>
  </div>
  <% end %>
--></div>

<div id="template_bulk_indicator_action_dialog"><!--
  <%= form_tag({:controller => :top_containers, :action => :update_indicators}, {:class => "form-horizontal", :id => "bulk_update_form" }) do |f| %>
  <div class="modal-body">
    <div class="alert alert-info" id="alertBucket"><%= t("top_container._frontend.bulk_operations.rapid_indicator_entry_help") %></div>
    <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th><%= t("top_container._frontend.bulk_operations.collection_singular") %></th>
        <th><%= t("top_container._frontend.bulk_operations.series") %></th>
        <th><%= t("container_profile._singular") %></th>
        <th><%= t("top_container.indicator") %></th>
        <th><%= t("top_container._frontend.bulk_operations.rapid_barcode_entry_existing_barcode") %></th>
        <th><%= t("top_container._frontend.bulk_operations.rapid_indicator_entry_new_indicator") %></th>
      </tr>
    </thead>
    {for container in selection}
      <tr>
        <td>${container.row.find(".top-container-collection").html()}</td>
        <td>${container.row.find(".top-container-series").html()}</td>
        <td>${container.row.find(".top-container-profile").html()}</td>
        <td>${container.row.find(".top-container-indicator").html()}</td>
        <td>${container.row.find(".top-container-barcode").text().trim()}</td>
        <td><input type="text" name="${container.uri}" value="" /><input type="hidden" name="update_uris[]" value="${container.uri}"/></td>
      </tr>
    {/for}
    </table>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"><%= t("top_container._frontend.bulk_operations.update_n_records", :n => "${selection.length}") %></button>
    <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t("actions.cancel") %></button>
  </div>
  <% end %>
--></div>


<div id="bulk_action_merge"><!--
  <%= form_tag({:controller => :top_containers}, {:class => "form-horizontal", :id => "batch_merge_form" }) do |f| %>

    <div class="modal-body">

      <div class="alert alert-info" id="alertBucket"><%= t("top_container._frontend.bulk_operations.batch_merge_instructions") %></div>

      <div class="selected-record-list well" id="mergeList">

        <div role="radiogroup" aria-labelledby="mergeList">
          {for container in selection}
            <% container_uri = "${container.uri}" %>
            <div id="chkPref" role="radio" tabindex="0">
              <%= radio_button_tag "merge_destination[]", "${container.uri}", false, :"data-object" => container_uri, :"aria-label" => "${container.display_string}", :"id" => "${container.uri}",  :"container_profile_uri" => "${container.container_profile_uri}", :onclick => "activateBtn()", :onKeyPress => "activateBtn()" %>
              <span>${container.display_string}</span>
            </div>
          {/for}
        </div>

        {for container in selection}
          <input type="hidden" name="merge_candidates[]" value="${container.uri}">
        {/for}

      </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary merge-button" disabled="disabled" data-js="merge"><%= t("top_container._frontend.bulk_operations.select_merge_destination") %></button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t("actions.cancel") %></button>
    </div>

  <% end %>

--></div>

<div id="bulk_action_merge_confirm"><!--
  <%= form_tag({:controller => :top_containers, :action => :batch_merge}, {:class => "form-horizontal", :id => "batch_merge_form" }) do |f| %>

    <div class="modal-body">

      <p class="alert alert-danger" id="alertBucket" role="alert"><%= t("top_container._frontend.bulk_operations.batch_merge_confirm_question") %></p>

      <h4><%= t("top_container._frontend.bulk_operations.batch_merge_confirm_merge_candidates") %></h4>
      <ul>
        {for merge_candidate in merge_candidatesNoTarget}
          <li>${merge_candidate}</li>
        {/for}
      </ul>
      <p class='alert alert-warning' style='<%= "${mergeWarning.tooManyVisibility}" %>; margin-left:40px' id="alertBucket" role="alert" aria-hidden='<%= "${mergeWarning.tooManyHidden}" %>'>
        <%= t("top_container._frontend.bulk_operations.batch_merge_container_profile_too_many_warning") %>
      </p>
      <p class='alert alert-warning' style='<%= "${mergeWarning.mismatchVisibility}" %>; margin-left:40px' id="alertBucket" role="alert" aria-hidden='<%= "${mergeWarning.mismatchHidden}" %>'>
        <%= t("top_container._frontend.bulk_operations.batch_merge_container_profile_mismatch_warning") %>
      </p>
      <h4><%= t("top_container._frontend.bulk_operations.batch_merge_confirm_merge_destination") %></h4>
      <ul>
        <li>${merge_destination.display_string}</li>
      </ul>

      <div class="selected-record-list" id="mergeList">

        {for merge_candidate in merge_candidates}
          <input type="hidden" name="merge_candidates[]" value="${merge_candidate.uri}">
        {/for}

        <input type="hidden" name="merge_destination[]" value="${merge_destination.uri}">

      </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-danger merge-button" data-js="confirmMerge"><%= t("top_container._frontend.bulk_operations.merge_n_records", :n => "${merge_candidates.length}") %></button>
        <button class="btn btn-cancel" data-dismiss="modal"><%= t("actions.cancel") %></button>
    </div>

  <% end %>

--></div>
