<%
   if params['collection_accession'].blank? && !@top_container_previous_search["accession"]
     selected_json = "{}"
   elsif @top_container_previous_search["accession"]
     selected_json = @top_container_previous_search["accession"].to_json
   else
     selected_json = params['collection_accession']['_resolved']
   end
%>

<div class="input-group linker-wrapper">
  <input type="text" class="linker"
         id="collection_accession"
         data-label_create="<%= t("top_container._frontend.bulk_operations.collection_accession_linker.create") %>"
         data-label_browse="<%= t("top_container._frontend.bulk_operations.collection_accession_linker.browse") %>"
         data-label_link="<%= t("linker.link") %>"
         data-label_create_and_link="<%= t("linker.create_and_link") %>"
         data-name="ref"
         data-path="collection_accession"
         data-url="<%= url_for  :controller => :search, :action => :do_search, :format => :json %>"
         data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => [], :sort => "title_sort asc" %>"
         data-selected="<%= selected_json %>"
         data-multiplicity="one"
         data-types='<%= ['accession'].to_json %>'
  />
  <div class="input-group-append">
    <button
      type="button"
      class="btn btn-default dropdown-toggle"
      data-toggle="dropdown"
      aria-expanded="false"
      aria-label="<%= t("top_container._frontend.bulk_operations.collection_accession_linker.link_title") %>"
      title="<%= t("top_container._frontend.bulk_operations.collection_accession_linker.link_title") %>"
    ></button>
    <ul class="dropdown-menu">
      <li>
        <button
          type="button"
          class="btn btn-sm rounded-0 dropdown-item linker-browse-btn"
        ><%= t("actions.browse") %></button>
      </li>
    </ul>
  </div>
</div>
