<%
   if params['collection_resource'].blank? && !@top_container_previous_search["resource"]
     selected_json = "{}"
   elsif @top_container_previous_search["resource"]
     selected_json = @top_container_previous_search["resource"].to_json
   else
     selected_json = params['collection_resource']['_resolved']
   end
%>

<div class="input-group linker-wrapper">
  <input type="text" class="linker"
         id="collection_resource"
         data-label_create="<%= t("top_container._frontend.bulk_operations.collection_resource_linker.create") %>"
         data-label_browse="<%= t("top_container._frontend.bulk_operations.collection_resource_linker.browse") %>"
         data-label_link="<%= t("linker.link") %>"
         data-label_create_and_link="<%= t("linker.create_and_link") %>"
         data-name="ref"
         data-path="collection_resource"
         data-url="<%= url_for  :controller => :search, :action => :do_search, :format => :json %>"
         data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => [], :sort => "title_sort asc" %>"
         data-selected="<%= selected_json %>"
         data-multiplicity="one"
         data-types="<%= ['resource'].to_json %>"
  />
  <div class="input-group-append">
    <button
      type="button" 
      class="btn btn-default dropdown-toggle"
      data-toggle="dropdown"
      aria-expanded="false"
      title="<%= t("top_container._frontend.bulk_operations.collection_resource_linker.link_title") %>"
      aria-label="<%= t("top_container._frontend.bulk_operations.collection_resource_linker.link_title") %>"
    ></button>
    <ul class="dropdown-menu">
      <li>
        <button
          type="button"
          class="btn btn-sm rounded-0 dropdown-item linker-browse-btn"
        ><%= t("actions.browse") %></button>
      </li>
    </ul>
  </div>
</div>
