<%
  if params['location'].blank? && !@top_container_previous_search["location"]
    selected_json = "{}"
  elsif @top_container_previous_search["location"]
    selected_json = @top_container_previous_search["location"].to_json
  else
    selected_json = params['location']['_resolved']
  end

  linkable_types = ["location"]

  path = "location" if path.blank?
  show_create_link = false if show_create_link.blank?
%>

<div class="input-group linker-wrapper">
  <input type="text" class="linker"
         id="location"
         data-label_create="<%= t("location.linker.create") %>"
         data-label_browse="<%= t("location.linker.browse") %>"
         data-label_link="<%= t("linker.link") %>"
         data-label_create_and_link="<%= t("linker.create_and_link") %>"
         data-name="ref"
         data-path="<%= path %>"
         data-url="<%= url_for  :controller => :search, :action => :do_search, :format => :json %>"
         data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.LOCATION_FACETS %>"
         data-selected="<%= selected_json %>"
         data-multiplicity="one"
         data-types='<%= linkable_types.to_json %>'
  />
  <div class="input-group-append">
    <button
      type="button"
      class="btn btn-default dropdown-toggle"
      data-toggle="dropdown"
      title="<%= I18n.t("location.linker.link_title") %>"
      aria-label="<%= I18n.t("location.linker.link_title") %>"
    ></button>
    <ul class="dropdown-menu">
      <li>
        <button
          type="button"
          class="btn btn-sm rounded-0 dropdown-item linker-browse-btn"
        ><%= I18n.t("actions.browse") %></button>
      </li>
      <% if show_create_link && user_can?('update_location_record') %>
        <li>
          <button
            type="button"
            class="btn btn-sm rounded-0 dropdown-item linker-create-btn"
            data-target="<%= url_for :controller => :locations, :action => :new, :inline => true %>" class="linker-create-btn"
          ><%= I18n.t("actions.create") %></button>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= javascript_include_tag("locations.location_holdings") %>
