<div class="record-toolbar bulk-operation-toolbar d-flex justify-content-end">
  <div class="btn-group">
    <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv, :fields =>
        fields }), class: "searchExport btn btn-sm btn-primary" %>
    <% if user_can?('manage_container_record') %>
      <div class="btn-group dropdown" role="group">
        <button
          type="button"
          class="btn btn-sm btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-expanded="false"
        ><%= t("top_container._frontend.bulk_operations.title") %></button>
        <div class="dropdown-menu dropdown-menu-right">
          <button type="button" class="btn rounded-0 dropdown-item" id="bulkActionUpdateIlsHolding"><%= I18n.t("top_container._frontend.bulk_operations.update_ils_holding_ids")%></button>
          <button type="button" class="btn rounded-0 dropdown-item" id="bulkActionUpdateContainerProfile"><%= I18n.t("top_container._frontend.bulk_operations.update_container_profiles")%></button>
          <button type="button" class="btn rounded-0 dropdown-item" id="bulkActionUpdateLocation"><%= I18n.t("top_container._frontend.bulk_operations.update_locations_singular")%></button>
          <button type="button" class="btn rounded-0 dropdown-item" id="bulkActionUpdateMultipleLocation"><%= I18n.t("top_container._frontend.bulk_operations.update_locations_multiple")%></button>
          <button type="button" class="btn rounded-0 dropdown-item" id="showBulkActionRapidBarcodeEntry"><%= I18n.t("top_container._frontend.bulk_operations.rapid_barcode_entry")%></button>
          <button type="button" class="btn rounded-0 dropdown-item" id="showBulkActionRapidIndicatorEntry"><%= I18n.t("top_container._frontend.bulk_operations.rapid_indicator_entry")%></button>
          <button type="button" class="btn rounded-0 dropdown-item" id="bulkActionMerge"><%= I18n.t("top_container._frontend.bulk_operations.batch_merge")%></button>
          <button type="button" class="btn rounded-0 dropdown-item" id="bulkActionDelete"><span class="text-error"><%= I18n.t("top_container._frontend.bulk_operations.batch_delete")%></button>
        </div>
      </div>
    <% end %>
  </div>
</div>
