<% fa_grip_svg = render_aspace_partial :partial => "shared/fa_grip_svg" %>
<%= setup_context(:title => t('assessment_attribute_definitions._frontend.title')) %>

<%= form_for @assessment_attribute_definitions, :as => "assessment_attribute_definitions", :url => {:action => :update}, :html => {:class => 'form-horizontal aspace-record-form', :id => "assessment_attributes_form"} do |f| %>
  <%= form_context :assessment_attribute_definitions, @assessment_attribute_definitions do |form| %>
    <div class="d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>

      <div class="col-md-9">
        <div class="record-pane">
          <h2><%= t('assessment_attribute_definitions._frontend.title') %></h2>

          <%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @assessment_attribute_definitions, :form => form} %>

          <h3 id="ratings"><%= t('assessment_attribute_definitions._frontend.section.ratings') %></h3>

          <table class="table table-bordered table-striped" id="table_assessment_ratings">
            <thead>
            <tr>
              <th colspan="2"><%= t('assessment_attribute_definitions._frontend.global', :type => t('assessment_attribute_definitions._frontend.section.ratings')) %></th>
            </tr>
            <tr>
              <th class="col-xs-6"><%= t('assessment_attribute_definitions._frontend.database_value')%></th>
              <th class="col-xs-6"><%= t('assessment_attribute_definitions._frontend.translation')%></th>
            </tr>
            </thead>
            <tbody>
            <% @assessment_attribute_definitions.global_ratings.each do |rating| %>
              <tr>
                <td>
                  <a class="btn btn-sm" target="_blank" aria-label="<%= t("assessment_attribute_definitions._frontend.action.find_rating", :rating_type =>rating.fetch('label')) %>" href="<%= url_for :controller => :search, :action => :do_search, :type => 'assessment', :q => "assessment_ratings:\"#{rating.fetch('label')}\"" %>">
                    <span class="glyphicon glyphicon-search"></span>
                  </a>
                  <%= rating.fetch('label') %>
                </td>
                <td><%= t("assessment_attribute.rating.#{rating.fetch('label')}", :default => rating.fetch('label')) %></td>
              </tr>
            <% end %>
            </tbody>
            <thead>
            <tr>
              <th colspan="2"><%= t('assessment_attribute_definitions._frontend.repository', :type => t('assessment_attribute_definitions._frontend.section.ratings')) %></th>
            </tr>
            </thead>
            <tbody class="repository-attributes">
              <% @assessment_attribute_definitions.repo_ratings.each do |rating| %>
                <tr>
                  <td colspan="2">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text form-control repo-attribute-drag-handle">
                          <%= fa_grip_svg %>
                        </span>
                        <span class="input-group-text form-control repo-attribute-search">
                          <a target="_blank" aria-label="<%= t("assessment_attribute_definitions._frontend.action.find_rating", :rating_type =>rating.fetch('label')) %>" href="<%= url_for :controller => :search, :action => :do_search, :type => 'assessment', :q => "assessment_ratings:\"#{rating.fetch('label')}\"" %>">
                            <span class="glyphicon glyphicon-search"></span>
                          </a>
                        </span>
                      </div>
                      <%= text_field_tag 'ratings[][label]', rating.fetch('label'), :class => 'form-control', :"aria-label" =>  t('assessment_attribute_definitions._frontend.section.ratings') %>
                      <span class="input-group-append">
                        <button class="btn btn-danger remove-repo-attribute">
                          <span class="glyphicon glyphicon-remove"></span>
                          <span class="sr-only"><%= t("assessment_attribute_definitions._frontend.action.remove_rating", :rating_type =>rating.fetch('label')) %></span>
                        </button>
                      </span>
                    </div>
                    <%= hidden_field_tag 'ratings[][id]', rating.fetch('id', nil) %>
                    <%= hidden_field_tag 'ratings[][type]', 'rating' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tbody>
              <tr>
                <td colspan="2">
                  <button class="btn btn-sm btn-success add-repo-attribute" data-type="rating">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="sr-only"><%= t("assessment_attribute_definitions._frontend.action.add_type", :type => t('assessment_attribute_definitions._frontend.section.ratings')) %></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <h3 id="formats"><%= t('assessment_attribute_definitions._frontend.section.formats') %></h3>

          <table class="table table-bordered table-striped" id="table_assessment_formats">
            <thead>
              <tr>
                <th colspan="2"><%= t('assessment_attribute_definitions._frontend.global', :type => t('assessment_attribute_definitions._frontend.section.formats')) %></th>
              </tr>
              <tr>
                <th><%= t('assessment_attribute_definitions._frontend.database_value')%></th>
                <th><%= t('assessment_attribute_definitions._frontend.translation')%></th>
              </tr>
            </thead>
            <tbody>
              <% @assessment_attribute_definitions.global_formats.each do |format| %>
                <tr>
                  <td>
                    <a class="btn btn-sm" target="_blank" aria-label="<%= t("assessment_attribute_definitions._frontend.action.find_format", :format_type =>format.fetch('label')) %>" href="<%= url_for :controller => :search, :action => :do_search, :type => 'assessment', :q => "assessment_formats:\"#{format.fetch('label')}\"" %>">
                    <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <%= format.fetch('label') %>
                  </td>
                  <td><%= t("assessment_attribute.format.#{format.fetch('label')}", :default => format.fetch('label')) %></td>
                </tr>
              <% end %>
            </tbody>
            <thead>
              <tr>
                <th colspan="2"><%= t('assessment_attribute_definitions._frontend.repository', :type => t('assessment_attribute_definitions._frontend.section.formats')) %></th>
              </tr>
            </thead>
            <tbody class="repository-attributes">
              <% @assessment_attribute_definitions.repo_formats.each do |format| %>
                <tr>
                  <td colspan="2">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text form-control repo-attribute-drag-handle">
                          <%= fa_grip_svg %>
                        </span>
                        <span class="input-group-text form-control repo-attribute-search">
                          <a target="_blank" aria-label="<%= t("assessment_attribute_definitions._frontend.action.find_format", :format_type =>format.fetch('label')) %>" href="<%= url_for :controller => :search, :action => :do_search, :type => 'assessment', :q => "assessment_formats:\"#{format.fetch('label')}\"" %>">
                            <span class="glyphicon glyphicon-search"></span>
                          </a>
                        </span>
                      </div>
                      <%= text_field_tag 'formats[][label]', format.fetch('label'), :class => 'form-control', :"aria-label" =>  t('assessment_attribute_definitions._frontend.section.formats') %>
                      <span class="input-group-append">
                        <button class="btn btn-danger remove-repo-attribute">
                          <span class="glyphicon glyphicon-remove"></span>
                          <span class="sr-only"><%= t("assessment_attribute_definitions._frontend.action.remove_format", :format_type =>format.fetch('label')) %></span>
                        </button>
                      </span>
                    </div>
                    <%= hidden_field_tag 'formats[][id]', format.fetch('id', nil) %>
                    <%= hidden_field_tag 'formats[][type]', 'format' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tbody>
              <tr>
                <td colspan="2">
                  <button class="btn btn-sm btn-success add-repo-attribute" data-type="format">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="sr-only"><%= t("assessment_attribute_definitions._frontend.action.add_type", :type => t('assessment_attribute_definitions._frontend.section.formats')) %></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <h3 id="conservation_issues"><%= t('assessment_attribute_definitions._frontend.section.conservation_issues') %></h3>

          <table class="table table-bordered table-striped" id="table_assessment_conservation_issues">
            <thead>
              <tr>
                <th colspan="2"><%= t('assessment_attribute_definitions._frontend.global', :type => t('assessment_attribute_definitions._frontend.section.conservation_issues')) %></th>
              </tr>
              <tr>
                <th><%= t('assessment_attribute_definitions._frontend.database_value')%></th>
                <th><%= t('assessment_attribute_definitions._frontend.translation')%></th>
              </tr>
            </thead>
            <tbody>
              <% @assessment_attribute_definitions.global_conservation_issues.each do |conservation_issue| %>
                <tr>
                  <td>
                    <a class="btn btn-sm" target="_blank" aria-label="<%= t("assessment_attribute_definitions._frontend.action.find_issue", :issue_type =>conservation_issue.fetch('label')) %>" href="<%= url_for :controller => :search, :action => :do_search, :type => 'assessment', :q => "assessment_conservation_issues:\"#{conservation_issue.fetch('label')}\"" %>">
                      <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <%= conservation_issue.fetch('label') %>
                  </td>
                  <td><%= t("assessment_attribute.conservation_issue.#{conservation_issue.fetch('label')}", :default => conservation_issue.fetch('label')) %></td>
                </tr>
              <% end %>
            </tbody>
            <thead>
              <tr>
                <th colspan="2"><%= t('assessment_attribute_definitions._frontend.repository', :type => t('assessment_attribute_definitions._frontend.section.conservation_issues')) %></th>
              </tr>
            </thead>
            <tbody class="repository-attributes">
              <% @assessment_attribute_definitions.repo_conservation_issues.each do |conservation_issue| %>
                <tr>
                  <td colspan="2">
                    <div class="input-group">
                      <div class="input-group-prepend repo-attribute-drag-handle">
                        <span class="input-group-text form-control repo-attribute-drag-handle">
                          <%= fa_grip_svg %>
                        </span>
                        <span class="input-group-text form-control repo-attribute-search">
                          <a target="_blank" aria-label="<%= t("assessment_attribute_definitions._frontend.action.find_issue", :issue_type =>conservation_issue.fetch('label')) %>" href="<%= url_for :controller => :search, :action => :do_search, :type => 'assessment', :q => "assessment_conservation_issues:\"#{conservation_issue.fetch('label')}\"" %>">
                            <span class="glyphicon glyphicon-search"></span>
                          </a>
                        </span>
                      </div>
                      <%= text_field_tag 'conservation_issues[][label]', conservation_issue.fetch('label'), :class => 'form-control', :"aria-label" =>  t('assessment_attribute_definitions._frontend.section.conservation_issues') %>
                      <span class="input-group-append">
                        <button class="btn btn-danger remove-repo-attribute">
                          <span class="glyphicon glyphicon-remove"></span>
                          <span class="sr-only"><%= t("assessment_attribute_definitions._frontend.action.remove_issue", :issue_type =>conservation_issue.fetch('label')) %></span>
                        </button>
                      </span>
                    </div>
                    <%= hidden_field_tag 'conservation_issues[][id]', conservation_issue.fetch('id', nil) %>
                    <%= hidden_field_tag 'conservation_issues[][type]', 'conservation_issue' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tbody>
              <tr>
                <td colspan="2">
                  <button class="btn btn-sm btn-success add-repo-attribute" data-type="conservation_issue">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="sr-only"><%= t("assessment_attribute_definitions._frontend.action.add_type", :type => t('assessment_attribute_definitions._frontend.section.conservation_issues')) %></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <hr>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary"><%= t("assessment_attribute_definitions._frontend.action.save") %></button>
            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<script id="template_format" type="text/template">
  <tr>
    <td colspan="2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text form-control repo-attribute-drag-handle">
            <%= fa_grip_svg %>
          </span>
        </div>
        <%= text_field_tag 'formats[][label]', '', :class => 'form-control', :"aria-label" =>  t('assessment_attribute_definitions._frontend.section.formats') %>
        <span class="input-group-append">
          <button class="btn btn-danger remove-repo-attribute">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="sr-only"><%= t("assessment_attribute_definitions._frontend.action.remove_rating", :rating_type =>'') %></span>
          </button>
        </span>
      </div>
    </td>
  </tr>
</script>
<script id="template_rating" type="text/template">
  <tr>
    <td colspan="2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text form-control repo-attribute-drag-handle">
            <%= fa_grip_svg %>
          </span>
        </div>
        <%= text_field_tag 'ratings[][label]', '', :class => 'form-control', :"aria-label" =>  t('assessment_attribute_definitions._frontend.section.ratings') %>
        <span class="input-group-append">
          <button class="btn btn-danger remove-repo-attribute">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="sr-only"><%= t("assessment_attribute_definitions._frontend.action.remove_format", :format_type =>'') %></span>
          </button>
        </span>
      </div>
    </td>
  </tr>
</script>
<script id="template_conservation_issue" type="text/template">
  <tr>
    <td colspan="2">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text form-control repo-attribute-drag-handle">
            <%= fa_grip_svg %>
          </span>
        </div>
        <%= text_field_tag 'conservation_issues[][label]', '', :class => 'form-control', :"aria-label" =>  t('assessment_attribute_definitions._frontend.section.conservation_issues') %>
        <span class="input-group-append">
          <button class="btn btn-danger remove-repo-attribute">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="sr-only"><%= t("assessment_attribute_definitions._frontend.action.remove_issue", :issue_type =>'') %></span>
          </button>
        </span>
      </div>
    </td>
  </tr>
</script>
