<%= setup_context(:title => t("oai_config.title")) %>

<%= form_for @oai_config, :as => "oai_config", :url => {:action => :update}, :html => {:class => 'form-horizontal aspace-record-form'} do |f| %>

  <% form_context :oai_config, @oai_config do |form| %>
    <div class="d-flex">
      <div class="col-md-3">

        <%= render(:layout => '/shared/sidebar',
                  :locals => {
                    :record_type => 'oai_config',
                    :record => @oai_config,
                    :plusone => nil,
                    :save_button_text => t("oai_config._frontend.action.create")
                  }) do |sidebar| %>

            <%= sidebar.render_for_view_and_edit(:subrecord_type => 'oai_config._sidebar.repo_set_section',
                                                 :property => 'none',
                                                 :anchor => "repository_set") %>


           <%= sidebar.render_for_view_and_edit(:subrecord_type => 'oai_config._sidebar.sponsor_set_section',
                                                 :property => 'none',
                                                 :anchor => "sponsor_set") %>

           <%= sidebar.render_for_view_and_edit(:subrecord_type => 'oai_config._sidebar.repo_settings',
                                                 :property => 'none',
                                                 :anchor => "repo_settings") %>


            <% end %>


      </div>
      <div class="col-md-9">
        <div class="record-pane">
          <h2 class="mb-4"><%= I18n.t("oai_config.title") %></h2>

          <%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @oai_config, :form => form} %>

          <fieldset id="oai_config">
              <section id="basic_information" class="mb-4">
                <h3><%= t("oai_config.general_section") %></h3>
                <%= form.label_and_textfield "oai_record_prefix", :required => true %>
                <%= form.label_and_textfield "oai_admin_email", :required => true %>
                <%= form.label_and_textfield "oai_repository_name", :required => true %>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary"><%= t("oai_config._frontend.action.create") %></button>
                </div>
              </section>
              <section id="repository_set" class="mb-4">
                <h3><%= t("oai_config.repo_set_section") %></h3>
                <p><%= t("oai_config.repo_set_desc") %></p>
                <%= form.label_and_textfield "repo_set_name" %>
                <%= form.oai_config_repo_set_codes_field(@oai_config['repo_set_codes'], @repositories) %>
                <%# form.checkboxes_for_oai_sets(@repository['repository']['oai_sets_available'], @enum) %>
                <%= form.label_and_textarea "repo_set_description" %>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary"><%= t("oai_config._frontend.action.create") %></button>
                </div>
              </section>
              <section id="sponsor_set" class="mb-4">
                <h3><%= t("oai_config.sponsor_set_section") %></h3>
                <p><%= t("oai_config.sponsor_set_desc") %></p>
                <%= form.label_and_textfield "sponsor_set_name" %>
                <%= form.oai_config_sponsor_set_names_field @oai_config['sponsor_set_names'] %>
                <%= form.label_and_textarea "sponsor_set_description" %>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary"><%= t("oai_config._frontend.action.create") %></button>
                </div>
              </section>
          </fieldset>

          <hr />

          <section id="repo_settings" class="mt-4">
            <h2><%= I18n.t("oai_config.title_repo_section") %></h2>
            <table class="table table-striped table-bordered table-sm">
              <thead>
                <th>Name</th>
                <th><span class="sr-only"><%= t('search_results.actions') %></span></th>
              </thead>
              <tbody>
                <% @repositories.each do |r| %>
                  <tr>
                    <td><%= r[:name] %>
                    <td class="table-record-actions">
                      <div class="btn-group">
                        <a class="btn btn-sm btn-primary" href="<%= AppConfig[:frontend_proxy_url] + r[:uri] + "/edit#oai_settings" %>" ><%= I18n.t('actions.edit_oai') %></a>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>

  <% end %>
<% end %>
