<% record_types = custom_data.keys %>
<% record_types.delete('global') %>

<h3>Record Type</h3>
<div class="form-group">
	<label class="col-sm-1 control-label">Record Type</label>
	<div class="col-sm-2">
		<%= select_tag "job[job_params][custom_report_data][custom_record_type]", options_for_select(record_types.collect {|record_type| [I18n.t("#{record_type}._plural"), record_type]}), {:id => "custom_record_type", :class => "form-control"} %>
	</div>
</div>

<h3>Basic Information</h3>

<% enums = JSONModel(:enumeration).all %>

<% users = [] %>
<% JSONModel::HTTP::get_json("/users", :all_ids => true).each do |id| %>
	<% user = JSONModel(:user).find(id) %>
	<% users.push([user.name, user.username]) %>
<% end %>

<% record_types.each do |record_type| %>

	<% fields = (custom_data[record_type]['fields'] + custom_data['global']['fields']) %>
	<div class="record_type <%= record_type %>">

		<% fields.each do |field| %>
			<% translation_scope = field['translation_scope'] || record_type %>
			<% field_name = field['name'] %>

			<div class="panel panel-default">

				<div class="panel-heading">
					<%= I18n.t("#{translation_scope}.#{field['alias'] || field_name}", :default => field_name) %>
				</div>

				<div style="padding-bottom: 10px;">
					<div class="form-group">
						<label class="col-sm-1 control-label">Display</label>
			      <div class="col-sm-2 checkbox">
			        <%= check_box_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][include]" %>
			      </div>
			    </div>

			    <% case field['data_type'] %>
					<% when 'Date' %>
						<div class="form-group">
							<label class="col-sm-1 control-label">Narrow By</label>
				      <div class="col-sm-2 checkbox">
				        <%= check_box_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][narrow_by]" %>
				      </div>
				    </div>

				  	<div class="form-group">
							<label class="col-sm-1 control-label">Start Date</label>
							<div class="col-sm-2">
								<%= text_field_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][range_start]", nil,  :class => 'date-field form-control', :'data-format' => 'yyyy-mm-dd', :placeholder => 'yyyy-mm-dd' %>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-1 control-label">End Date</label>
							<div class="col-sm-2">
								<%= text_field_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][range_end]", nil,  :class => 'date-field form-control', :'data-format' => 'yyyy-mm-dd', :placeholder => 'yyyy-mm-dd'  %>
							</div>
						</div>

					<% when 'AgentType' %>
						<div class="form-group">
							<label class="col-sm-1 control-label">Narrow By</label>
				      <div class="col-sm-2 checkbox">
				        <%= check_box_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][narrow_by]" %>
				      </div>
				    </div>

				    <div class="form-group">
							<label class="col-sm-1 control-label">Agent Types</label>
							<% agent_types = ['agent_family', 'agent_person', 'agent_corporate_entity', 'agent_software'] %>
							<div class="col-sm-2">
								<%= select_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][values]", options_for_select(agent_types.collect {|agent_type| [I18n.t("agent.agent_type.#{agent_type}"), agent_type]}), :multiple => true, :style => "width: auto; max-with: 100%;", :class=>"form-control" %>
							</div>
						</div>
					<% when 'Boolean' %>
						<div class="form-group">
							<label class="col-sm-1 control-label">Narrow By</label>
				      <div class="col-sm-2 checkbox">
				        <%= check_box_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][narrow_by]" %>
				      </div>
				    </div>

				    <div class="form-group">
							<label class="col-sm-1 control-label">Value</label>
							<div class="col-sm-2">
								<%= select_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][value]", options_for_select([['Yes', true], ['No', false]]), :style => "width: auto; max-with: 100%;", :class=>"form-control" %>
							</div>
						</div>
					<% when 'Enum' %>
						<% enum_name = field['enum_name'] || "#{record_type}_#{field_name}" %>
						<% enum = enums.find {|obj| obj.name == enum_name} %>
						<% if enum %>
							<% options = enum['enumeration_values'] %>
							<div class="form-group">
								<label class="col-sm-1 control-label">Narrow By</label>
					      <div class="col-sm-2 checkbox">
					        <%= check_box_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][narrow_by]" %>
					      </div>
					    </div>

					    <div class="form-group">
								<label class="col-sm-1 control-label">Values</label>
								<div class="col-sm-2">
									<%= select_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][values]", options_for_select(options.collect {|value| [I18n.t("enumerations.#{enum_name}.#{value['value']}", :default => value['value']), value['id']]}), :multiple => true, :style => "width: auto; max-with: 100%;", :class=>"form-control" %>
								</div>
							</div>
						<% else %>
							<label><%= "No enum found for #{enum_name}" %></label>
						<% end %>
					<% when 'User' %>
						<div class="form-group">
							<label class="col-sm-1 control-label">Narrow By</label>
				      <div class="col-sm-2 checkbox">
				        <%= check_box_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][narrow_by]" %>
				      </div>
				    </div>

				    <div class="form-group">
							<label class="col-sm-1 control-label">Values</label>
							<div class="col-sm-2">
								<%= select_tag "job[job_params][custom_report_data][#{record_type}][fields][#{field_name}][values]", options_for_select(users), :multiple => true, :style => "width: auto; max-with: 100%;", :class=>"form-control" %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>

		<h3>Linked Records</h4>
		<% custom_data[record_type]['subreports'].each do |subreport| %>
			<% field_name = subreport['name'] %>
			<% translation = subreport['translation'] || "#{field_name}._plural" %>
			<div class="form-group">
				<label class="col-sm-1 control-label"><%= I18n.t(translation, :default => field_name) %></label>
				<div class="col-sm-2 checkbox">
					<%= check_box_tag "job[job_params][custom_report_data][#{record_type}][subreports][#{field_name}][include]" %>
				</div>
			</div>
		<% end %>

		<h3>Sort By</h4>
		<div class="form-group">
			<label class="col-sm-1 control-label">Field</label>
			<div class="col-sm-2">
				<select id="sort_by" name="job[job_params][custom_report_data][<%= record_type %>][sort_by]" class="form-control">
					<option value = ''></option>
					<% fields.each do |field| %>
						<% if field['sortable'] %>
							<% translation_scope = field['translation_scope'] || record_type %>
							<option value="<%= field['name'] %>">
								<%= I18n.t("#{translation_scope}.#{field['alias'] ||field['name']}", :default => field['name']) %>
							</option>
						<% end %>
					<% end %>
				</select>
			</div>
		</div>
	</div>
<% end %>