<%
# We get this list from the ApplicationController and it's filtered to the repositories the current user can access.
repository_list = @repositories.map {|repo| [repo.repo_code, repo.uri]}

building_list = JSONModel::HTTP.get_json("/space_calculator/buildings")
%>

<%= form.select :location_report_type, ["repository", "building", "single_location", "location_range"].collect {|type| [t("reports.location_holdings_report.#{type}_report_type"), type]} %>

<div class="form-group required report_type repository">
    <hr/>
    <label class="control-label col-sm-2"><%= t('reports.location_holdings_report.repository_report_type') %></label>
    <div class="controls col-sm-8">
        <%= form.select :repository_uri, options_for_select([""].concat(repository_list)), :class => "form-control" %>
    </div>
</div>


<div class="form-group required report_type  building">
    <hr/>
    <label class="control-label col-sm-2"><%= t('reports.location_holdings_report.building_report_type') %></label>
    <div class="controls col-sm-8">
        <%= form.select :building, options_for_select([""].concat(building_list.keys)), :class => "form-control" %>
    </div>
</div>


<div class="report_type single_location location_range">
    <div id="report_location_start"
         data-range-label="<%= t('reports.location_holdings_report.start_range') %>"
         data-singular-label="<%= t('location._singular') %>">
        <% form.push("location_start") do |form| %>
            <%= render_aspace_partial :partial => "locations/linker", :locals => { :form => form, :hide_create => true } %>
        <% end %>
    </div>

    <div id="report_location_end"
         data-range-label="<%= t('reports.location_holdings_report.end_range') %>"
         style="display: none">
        <% form.push("location_end") do |form| %>
            <%= render_aspace_partial :partial => "locations/linker", :locals => { :form => form, :hide_create => true } %>
        <% end %>
    </div>
</div>

<hr/>