<%
# We get this list from the ApplicationController and it's filtered to the repositories the current user can access.
repository_list = @repositories.map {|repo| [repo.repo_code, repo.uri]}

building_list = JSONModel::HTTP.get_json("/space_calculator/buildings")
%>

<select id="location_report_type" name="job[job_params][location_report_type]" class="form-control">
    <option value="repository"><%= I18n.t('reports.location_holdings_report.repository_report_type') %></option>
    <option value="building"><%= I18n.t('reports.location_holdings_report.building_report_type') %></option>
    <option value="single_location"><%= I18n.t('reports.location_holdings_report.single_location_report_type') %></option>
    <option value="location_range"><%= I18n.t('reports.location_holdings_report.location_range_report_type') %></option>
</select>

<div class="report_type repository">
    <hr>
    <div class="form-group required">
        <label class="control-label col-sm-2"><%= I18n.t('reports.location_holdings_report.repository_report_type') %></label>
        <div class="controls col-sm-8">
            <%= select_tag "job[job_params][repository_uri]", options_for_select([""].concat(repository_list)), :class => "form-control" %>
        </div>
    </div>
</div>


<div class="report_type building">
    <hr>
    <div class="form-group required">
        <label class="control-label col-sm-2"><%= I18n.t('reports.location_holdings_report.building_report_type') %></label>
        <div class="controls col-sm-8">
            <%= select_tag "job[job_params][building]", options_for_select([""].concat(building_list.keys)), :class => "form-control" %>
        </div>
    </div>
</div>


<div class="report_type single_location location_range">
    <div id="report_location_start"
         data-range-label="<%= I18n.t('reports.location_holdings_report.start_range') %>"
         data-singular-label="<%= I18n.t('location._singular') %>">
        <% form.push("location_start") do |form| %>
            <%= render_aspace_partial :partial => "locations/linker", :locals => { :form => form, :hide_create => true } %>
        <% end %>
    </div>

    <div id="report_location_end"
         data-range-label="<%= I18n.t('reports.location_holdings_report.end_range') %>"
         style="display: none">
        <% form.push("location_end") do |form| %>
            <%= render_aspace_partial :partial => "locations/linker", :locals => { :form => form, :hide_create => true } %>
        <% end %>
    </div>
</div>
