<%= stylesheet_link_tag "#{AppConfig[:frontend_prefix]}assets/fattable.css" %>
<%= javascript_include_tag "#{AppConfig[:frontend_prefix]}assets/fattable.js" %>

<div class="record-pane">

  <h1><%= I18n.t("plugins.digitization_work_order.form_title") %></h1>

  <% if @report_errors %>
    <div class="alert alert-danger">
      <%= @report_errors %>
    </div>
  <% end %>

  <p>
    <strong><%= I18n.t("plugins.digitization_work_order.resource") %>:
    </strong> <%= @tree['title'] %> (<%= @tree['identifier'] %>)
  </p>
  <p>
    <strong><%= I18n.t("plugins.digitization_work_order.records_selected") %>:
    </strong> <span id="selectedCount"></span>
  </p>

  <div id='work_order_table'></div>

  <div id='work_order_buttons'>
    <div class="form-group">
      <form class="form-inline">
        <fieldset class="form-group additional-options">
          <legend><%= I18n.t("plugins.digitization_work_order.additional_options") %></legend>
          <label class="checkbox-inline" for="series"><input type="checkbox" id="series" name="series">
            <%= I18n.t("plugins.digitization_work_order.series_title") %>
          </label>
          <label class="checkbox-inline" for="subseries"><input type="checkbox" id="subseries" name="subseries">
            <%= I18n.t("plugins.digitization_work_order.subseries_title") %>
          </label>
          <label class="checkbox-inline" for="barcode"><input type="checkbox" id="barcode" name="barcode">
            <%= I18n.t("plugins.digitization_work_order.barcode") %>
          </label>
          <label class="checkbox-inline" for="dates"><input type="checkbox" id="dates" name="dates">
            <%= I18n.t("plugins.digitization_work_order.dates") %>
          </label>
        </fieldset>
      </form>
    </div>

    <p class="alert alert-info" role="alert">If you would like a report of metadata for these items without generating component unique identifiers (CUIDs) , select <strong>Download Report</strong>. If you would like to create a work order and generate CUIDs for archival objects currently lacking them, select <strong>Download Work Order</strong>.</p>

    <div class="form-group">
      <button id="generateReport" class="btn btn-primary submit-btn" disabled>
        <%= I18n.t("plugins.digitization_work_order.download_report_button") %>
      </button>
      <button id="showWorkOrderModal" class="btn btn-primary submit-btn" disabled>
          <%= I18n.t("plugins.digitization_work_order.show_work_order_modal_button") %>
      </button>
      <%= link_to I18n.t("plugins.digitization_work_order.cancel_button"),:back, :class => "btn btn-default" %>
    </div>
  </div>
</div>

<%= form_tag({:controller => :work_order, :action => :generate_report}, {:method => 'post', :id => "work_order_form"}) do |form| %>
  <%= hidden_field_tag "resource", @uri %>
  <div class="report-fields"></div>

  <div class="modal_overlay"></div>

  <div class="work_order_modal">
    <h3><%= I18n.t("plugins.digitization_work_order.modal.title") %></h3>
    <hr/>
    <p><strong><%= I18n.t("plugins.digitization_work_order.resource") %>:
      </strong> <%= @tree['title'] %> (<%= @tree['identifier'] %>)
    </p>
    <p><strong><%= I18n.t("plugins.digitization_work_order.records_selected") %>:
      </strong> <span id="selectedCountInModal"></span>
    </p>
    <hr/>
    <p><%= I18n.t("plugins.digitization_work_order.modal.message") %></p>
    <p><strong><%= I18n.t("plugins.digitization_work_order.modal.warning") %></strong></p>
    <hr/>
    <button id="downloadWorkOrder" class="btn btn-primary submit-btn">
      <%= I18n.t("plugins.digitization_work_order.modal.download_button") %>
    </button>
    <button id="cancelWorkOrder" class="btn btn-default">
      <%= I18n.t("plugins.digitization_work_order.cancel_button") %>
    </button>
  </div>

<% end %>

<%= javascript_include_tag "#{AppConfig[:frontend_prefix]}assets/work_order_table.js" %>
<script>
 initWorkOrderTable(<%= ASUtils.to_json(@tree).html_safe %>);
</script>
