<%= form_for @repository, :as=>"repository", :url=>{:action=>:create}, :html=>{:class=>'form-horizontal'} do |f| %>
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Create Repository</h3>
   </div>
   <div class="modal-body">     
     <% if @repository._exceptions.has_key?(:errors) %>
        <div class="alert alert-error">
           <% @repository._exceptions[:errors].each do |attr, messages| %>
                <div class="errors-for_attr">
                  <% messages.each do |msg| %>
                    <div class="error"><%= I18n.t(:"#{@repository.class.record_type}.#{attr}") %> - <%= msg %></div>
                  <% end %>
                </div>
           <% end %>
        </div>
     <% end %>
     <% if @repository._exceptions.has_key?(:warnings) %>
        <div class="alert alert-warning">
           <% @repository._exceptions[:warnings].each do |attr, messages| %>
                <div class="errors-for_attr">
                  <% messages.each do |msg| %>
                    <div class="warning"><%= I18n.t(:"#{@repository.class.record_type}.#{attr}") %> - <%= msg %></div>
                  <% end %>
                </div>
           <% end %>
           <% if not @repository._exceptions.has_key?(:errors) %>
              <br/>
              <input type="submit" name="ignorewarnings" class="btn btn-warning" value="Save Anyway" />
           <% end %>
        </div>
     <% end %>
      <fieldset>
        <%= f.label_field_pair :repo_code, f.text_field(:repo_code, :size=>10) %>
        <%= f.label_field_pair :description, f.text_area(:description, :rows=>3) %>
      </fieldset>
   </div>
   <div class="modal-footer">
      <input class="btn btn-primary" type="submit" name="commit" value="Create Repository" />
      <button class="btn" data-dismiss="modal">Cancel</button>
   </div>
<% end %>
<script>
  $('form#new_repository').ajaxForm({
     beforeSubmit: function() {
        $(".btn-primary", 'form#new_repository').attr("disabled","disabled");
     },
     success: function(response, status, xhr) {
        if (response === "Success") {
          document.location.reload(true);
        } else {
          $('form#new_repository').replaceWith(response);
        }        
     }, 
     error: function(obj, errorText, errorDesc) {
        $(".btn-primary", 'form#new_repository').removeAttr("disabled");
     }
  });
</script>
