<div class="subrecord-form-fields">

  <h4 class="subrecord-form-heading">Chronology</h4>

  <%= f.jsonmodel_hidden_field :jsonmodel_type, "note_chronology" %>
  <%= f.jsonmodel_hidden_field :type, "Chronology" %>
  <%= f.label_and_field :title %>

  <section class="subrecord-form">
    <h5 class="subrecord-form-heading">Events</h5>
    <div class="subrecord-form-container">
      <% f.with_jsonmodel "items[]", {}, f.current.class.schema['properties']['items']['items'], :index => "0" do %>
        <div class="subrecord-form-fields">
          <%= f.label_and_field :event_date %>
          <div class="control-group <%= f.error_classes("events") %>">
            <label class="control-label">Event Details</label>
            <div class="controls">
              <% f.with_jsonmodel "events[]", "", f.current_model['properties']['events'], :index => "0" do %>
                <%= f.jsonmodel_text_area "", :value => f.current, :rows => 3 %>
              <% end %>
              <div style="padding-top: 10px;"></div>
              <% f.with_jsonmodel "events[]", "", f.current_model['properties']['events'], :index => "1" do %>
                <%= f.jsonmodel_text_area "", :value => f.current, :rows => 3 %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
