<div class="subrecord-form-fields">

  <h4 class="subrecord-form-heading">Defined List</h4>

  <%= f.jsonmodel_hidden_field :jsonmodel_type, "note_definedlist" %>
  <%= f.jsonmodel_hidden_field :type, "Defined List" %>
  <%= f.label_and_field :title %>

  <section class="subrecord-form">
    <h4 class="subrecord-form-heading">Items</h4>
    <div class="subrecord-form-container">
      <% f.with_jsonmodel "items[]", {}, f.current.class.schema['properties']['items']['items'], :index => "0" do %>
        <div class="subrecord-form-fields">
          <%= f.label_and_field :label %>
          <%= f.label_and_field :value %>
        </div>
      <% end %>
    </div>
  </section>
</div>
