<div class="subrecord-form-fields">

  <div class="control-group ">
    <label class="control-label">Note Type</label>
    <div class="controls label-only">
      <strong>Defined List</strong>
    </div>
  </div>

  <%= f.jsonmodel_hidden_field :jsonmodel_type, "note_definedlist" %>
  <%= f.jsonmodel_hidden_field :type, "Defined List" %>
  <%= f.label_and_field :title %>

  <div class="control-group">
    <label class="control-label">Items</label>
    <div class="controls">
      <div><textarea id="<%= f.current_name "items" %>[0]" name="<%= f.current_name "items" %>[0]" size="30" type="text" rows="3"></textarea></div>
      <div style="padding-top: 10px"><textarea id="<%= f.current_name "items" %>[1]" name="<%= f.current_name "items" %>[1]" size="30" type="text" rows="3"></textarea></div>
    </div>
  </div>

</div>
