<% 
  section_id = "notes" if section_id.blank?
  all_note_types ||= nil 
%>
<%= render_aspace_partial :partial => "notes/template", :locals =>  { :all_note_types => all_note_types, :form_note_type => section_id  }  %>

<section id="<%= section_id %>" class="subrecord-form notes-form  <%= "note-inline" if inline? %>">
  <h3 class="subrecord-form-heading">
    <%= wrap_with_tooltip(I18n.t("note._plural"), "#{form.i18n_for('notes')}_tooltip", "subrecord-form-heading-label") %>
    <%= link_to_help :topic => "#{form['jsonmodel_type']}_notes" %>
    <button class="btn btn-sm btn-default pull-right"><%= I18n.t("note._frontend.action.add") %></button>
  </h3>
  <div class="subrecord-form-container mixed-content-anchor">
    <%= form.list_for(form["notes"], "notes[]") do |note| %>
      <% form.emit_template(note["jsonmodel_type"]) %>
    <% end %>
  </div>

</section>
