<%= render :partial => "notes/template" %>

<section id="notes" class="subrecord-form">
  <h3 class="subrecord-form-heading">
    <%= I18n.t("note._html.plural") %>
    <button class="btn btn-small pull-right"><%= I18n.t("actions.add") %> <%= I18n.t("note._html.singular") %></button>
  </h3>
  <div class="subrecord-form-container">
    <%= form.list_for(form["notes"], "notes[]") do |note| %>
      <% form.emit_template(note["jsonmodel_type"]) %>
    <% end %>
  </div>

</section>
