<%
  # define these when nesting notes within a subrecord
  nested_note_jsonmodel ||= nil
  nested_in_jsonmodel ||=nil
  show_apply_note_order_action = true if show_apply_note_order_action.nil?

  section_id = nested_note_jsonmodel unless nested_note_jsonmodel.nil?
  section_id = "notes" if section_id.blank?
  header_size = "h3" if header_size.blank?
  all_note_types ||= nil

  add_button_text ||= "note._frontend.action.add"

  add_note_class = 'add-note btn btn-sm btn-default'
  help_link = link_to_help :topic => "#{form['jsonmodel_type']}_notes"
  add_note_class += ' mt-3 mr-3 mb-3' if help_link.nil?
%>
<%= render_aspace_partial :partial => "notes/template", :locals =>  { :all_note_types => all_note_types, :form_note_type => section_id, :nested_in_jsonmodel => nested_in_jsonmodel } %>

<section id="<%= section_id %>"
         class="subrecord-form notes-form <%= "note-inline" if inline? %>"
         <%= "data-template=template_#{nested_note_jsonmodel}_note_type_selector_inline" if nested_note_jsonmodel %>>
  <div class="w-100 d-flex align-items-center border-bottom bg-asFormHeadingBg">
    <<%= header_size%> class="subrecord-form-heading flex-grow-1 mb-0 border-0">
      <%= wrap_with_tooltip(t("note._plural"), "#{form.i18n_for('notes')}_tooltip", "subrecord-form-heading-label") %>
    </<%= header_size%>>

    <% if show_apply_note_order_action %>
      <div class="btn-group">
    <% end %>

    <% unless form.readonly? %>
      <button
        class="<%= add_note_class %>"
        type="button"
        data-action="add notes"
      ><%= t(add_button_text) %></button>
    <% end %>

    <% if show_apply_note_order_action %>
        <button
          class="btn btn-sm btn-default apply-note-order"
          disabled="disabled"
          type="button"
          data-action="apply note order"
        ><%= I18n.t("note._frontend.action.apply_note_order") %></button>
      </div>
    <% end %>

    <%= help_link %>
  </div>
  <div class="subrecord-form-container mixed-content-anchor">
    <%= form.list_for(form["notes"], "notes[]") do |note| %>
      <% form.emit_template(note["jsonmodel_type"]) %>
    <% end %>
  </div>

</section>
