<%
  # define these when nesting notes within a subrecord
  nested_note_jsonmodel ||= nil
  nested_in_jsonmodel ||=nil
  show_apply_note_order_action = true if show_apply_note_order_action.nil?

  section_id = nested_note_jsonmodel unless nested_note_jsonmodel.nil?
  section_id = "notes" if section_id.blank?
  header_size = "h3" if header_size.blank?
  all_note_types ||= nil
%>
<%= render_aspace_partial :partial => "notes/template_required", :locals =>  { :all_note_types => all_note_types, :form_note_type => section_id, :nested_in_jsonmodel => nested_in_jsonmodel } %>

<section id="<%= section_id %>"
         class="subrecord-form notes-form  <%= "note-inline" if inline? %>"
         <%= "data-template=template_#{nested_note_jsonmodel}_note_type_selector_inline" if nested_note_jsonmodel %>>
  <<%= header_size%> class="subrecord-form-heading">
    <%= wrap_with_tooltip(t("note._plural"), "#{form.i18n_for('notes')}_tooltip", "subrecord-form-heading-label") %>
    <%= link_to_help :topic => "#{form['jsonmodel_type']}_notes" %>

    <% if show_apply_note_order_action %>
      <button class="btn btn-sm btn-default ml-auto border bg-white mx-1 mt-1 apply-note-order" disabled="disabled"><%= I18n.t("note._frontend.action.apply_note_order") %></button>
    <% end %>
    <button class="btn btn-sm btn-default border bg-white mx-1 mt-1 ml-auto add-note"><%= I18n.t("note._frontend.action.add") %></button>

  </<%= header_size%>>
  <div class="subrecord-form-container mixed-content-anchor">
    <%= form.list_for(form["notes"], "notes[]") do |note| %>
      <% form.emit_template(note["jsonmodel_type"]) %>
    <% end %>
  </div>

</section>
