<div class="subrecord-form-fields">

  <div class="control-group ">
    <label class="control-label">Note Type</label>
    <div class="controls label-only">
      <strong>Index</strong>
    </div>
  </div>

  <%= f.jsonmodel_hidden_field :jsonmodel_type, "note_index" %>
  <%= f.jsonmodel_hidden_field :type, "Index" %>

  <%= f.label_and_field :label %>
  <%= f.label_and_textarea :content %>

  <section class="subrecord-form">
    <h4 class="subrecord-form-heading">Items</h4>
    <div class="subrecord-form-container">
      <% f.with_jsonmodel "items[]", {}, f.current.class.schema['properties']['items']['items'], :index => "0" do %>
        <div class="subrecord-form-fields">
          <%= f.label_and_field :value %>
          <%= f.label_and_field :type %>
          <%= f.label_and_field :reference %>
          <%= f.label_and_field :reference_text %>
        </div>
      <% end %>
    </div>
  </section>
</div>
