<div class="subrecord-form-fields">

  <h4 class="subrecord-form-heading">Multipart Note</h4>

  <%= f.jsonmodel_hidden_field :jsonmodel_type, "note_multipart" %>
  <%= f.label_and_field :type %>
  <%= f.label_and_field :label %>
  <%= f.label_and_textarea :content %>

  <section class="subrecord-form">
    <h4 class="subrecord-form-heading">
      Sub Notes
    </h4>
    <div class="subrecord-form-container">
      <%= f.with_jsonmodel "subnotes[]", {}, :note_bibliography, :index => "0" do %>
        <% render :partial=>"notes/bibliography_form.html", :locals => {:f => f} %>
      <% end %>
      <%= f.with_jsonmodel "subnotes[]", {}, :note_chronology, :index => "1" do %>
        <% render :partial=>"notes/chronology_form.html", :locals => {:f => f} %>
      <% end %>
      <%= f.with_jsonmodel "subnotes[]", {}, :note_orderedlist, :index => "2" do %>
        <% render :partial=>"notes/orderedlist_form.html", :locals => {:f => f} %>
      <% end %>
      <%= f.with_jsonmodel "subnotes[]", {}, :note_definedlist, :index => "3" do %>
        <% render :partial=>"notes/definedlist_form.html", :locals => {:f => f} %>
      <% end %>
      <%= f.with_jsonmodel "subnotes[]", {}, :note_index, :index => "4" do %>
        <% render :partial=>"notes/index_form.html", :locals => {:f => f} %>
      <% end %>
    </div>
  </section>

</div>
