<div class="subrecord-form-fields">

  <h4 class="subrecord-form-heading">Ordered List</h4>

  <%= f.jsonmodel_hidden_field :jsonmodel_type, "note_orderedlist" %>
  <%= f.jsonmodel_hidden_field :type, "Ordered List" %>
  <%= f.label_and_field :title %>
  <%= f.label_and_field :enumeration %>

  <div class="control-group <%= f.error_classes("items") %>">
    <label class="control-label">Items</label>
    <div class="controls">
      <% f.with_jsonmodel "items[]", "", f.current_model['properties']['items'], :index => "0" do %>
        <%= f.jsonmodel_text_area "", :value => f.current, :rows => 3 %>
      <% end %>
      <div style="padding-top: 10px;"></div>
      <% f.with_jsonmodel "items[]", "", f.current_model['properties']['items'], :index => "1" do %>
        <%= f.jsonmodel_text_area "", :value => f.current, :rows => 3 %>
      <% end %>
    </div>
  </div>

</div>
