<%
   all_note_types = {}

   JSONModel.enum_values(JSONModel(:note_singlepart).schema['properties']['type']['dynamic_enum']).each do |type|
     all_note_types[type] = :note_singlepart
   end

   JSONModel.enum_values(JSONModel(:note_multipart).schema['properties']['type']['dynamic_enum']).each do |type|
     all_note_types[type] = :note_multipart
   end

   JSONModel.enum_values(JSONModel(:note_digital_object).schema['properties']['type']['dynamic_enum']).each do |type|
     all_note_types[type] = :note_digital_object
   end

   JSONModel.enum_values(JSONModel(:note_langmaterial).schema['properties']['type']['dynamic_enum']).each do |type|
     all_note_types[type] = :note_langmaterial
   end

   JSONModel.enum_values(JSONModel(:note_rights_statement).schema['properties']['type']['dynamic_enum']).each do |type|
     all_note_types[type] = :note_rights_statement
   end

   JSONModel.enum_values(JSONModel(:note_rights_statement_act).schema['properties']['type']['dynamic_enum']).each do |type|
     all_note_types[type] = :note_rights_statement_act
   end

   all_note_types["Index"] = :note_index
   all_note_types["Bibliography"] = :note_bibliography

   section_id = "notes" if section_id.blank?
   heading_size = "h3" if heading_size.blank?
%>

<%= render_aspace_partial :partial => "notes/template" %>

<section id="<%= section_id %>" class="subrecord-form">
  <<%= heading_size %> class="subrecord-form-heading"><%= t("note._plural") %></<%= heading_size %>>
  <div class="subrecord-form-container">
    <%= context.list_for(context["notes"], "notes[]") do |note| %>
      <% context.emit_template(note["jsonmodel_type"]) %>
    <% end %>
  </div>
</section>
