<%
   singlepart_note_types = note_types_for(:note_singlepart)
   multipart_note_types = note_types_for(:note_multipart)
%>

<% define_template "note_type_selector" do |form, item| %>
  <% if item %>
    <% form.emit_template(item["jsonmodel_type"]) %>
  <% else %>
    <div class="subrecord-form-fields">
      <div class="control-group required">
        <label class="control-label"><%= I18n.t("note.note_type") %></label>
        <div class="controls">
          <select class="top-level-note-type">
            <option></option>
            <% note_types_for(form['jsonmodel_type']).sort_by {|value, hash| hash[:i18n]}.each do |value, hash| %>
              <option value="<%= hash[:target] %>"><%= hash[:i18n] %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="selected-container">
        <% form.emit_template("note_type_nil") %>
      </div>
    </div>
  <% end %>
<% end %>

<% define_template "note_type_nil" do |form | %>
  <div class="inline-subform">
    <div class="control-group">
      <div class="control-label"></div>
      <div class="controls"><%= I18n.t("note._frontend.messages.select_a_note_type") %></div>
    </div>
  </div>
<% end %>

<% define_template "content_item" do |form, item| %>
  <div class="subrecord-form-fields">
  <% if form.readonly? %>
    <div class="tabbable tabs-below">
      <div class="tab-content">
        <div class="tab-pane active" id="<%= form.id_for("item") %>_raw">
          <%= form.textarea(nil, item, :class => "mixed-content") %>
        </div>
        <div class="tab-pane" id="<%= form.id_for("item") %>_parsed">
          <%= clean_note(item).html_safe %>
        </div>
      </div>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#<%= form.id_for("item") %>_raw" data-toggle="tab" title="<%= I18n.t("note._frontend.preview.raw_title") %>"><%= I18n.t("note._frontend.preview.raw") %></a></li>
        <li><a href="#<%= form.id_for("item") %>_parsed" data-toggle="tab" title="<%= I18n.t("note._frontend.preview.parsed_title") %>"><%= I18n.t("note._frontend.preview.parsed") %></a></li>
      </ul>
    </div>
  <% else %>
    <%= form.textarea(nil, item, :class => "mixed-content") %>
  <% end %>
  </div>
<% end %>


<% define_template "content_items" do |form, opts = {}| %>
  <div class="control-group <% if opts[:required] %>required<% end %>">
    <label class="control-label"><%= I18n.t("content_items.content") %></label>
    <div class="controls content-list">
      <%= form.list_for((form["content"] || [""]), "content[]") do |item| %>
        <% form.emit_template("content_item", item) %>
      <% end %>
      <% if not form.readonly? %>
        <button class="btn btn-mini add-content-item-btn"><%= I18n.t("note._frontend.action.add_content_item") %></button>
      <% end %>
    </div>
  </div>
<% end %>


<% define_template "note_singlepart", jsonmodel_definition(:note_singlepart) do |form| %>
  <div class="subrecord-form-fields" data-type="note_singlepart">
    <h4 class="subrecord-form-heading">
      <% if form.readonly? %>
        <%= I18n.t("enumerations.note_singlepart_type.#{form.obj["type"]}", :default => form.obj["type"]) %>
      <% else %>
        <%= I18n.t("note.note_singlepart") %>
      <% end %>
    </h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_singlepart") %>
      <%= form.label_and_textfield("label") %>
      <%= form.label_and_select("type",
          singlepart_note_types.map {|value, hash| [hash[:i18n], value]},
          :field_opts => {:class => "note-type"}) %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <% form.emit_template("content_items", :required => form.required?('content')) %>
    </div>
  </div>
<% end %>

<% define_template "note_orderedlist", jsonmodel_definition(:note_orderedlist) do |form| %>
  <div class="subrecord-form-fields" data-type="note_orderedlist">
    <h4 class="subrecord-form-heading"><%= I18n.t("note.note_orderedlist") %></h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_orderedlist") %>
      <%= form.label_and_textfield("title") %>
      <%= form.label_and_textfield("enumeration") %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <div class="control-group">
        <label class="control-label"><%= I18n.t("note_orderedlist.items") %></label>
        <div class="controls">
          <%= form.list_for(form["items"], "items[]") do |item| %>
            <% form.emit_template("orderedlist_item", item) %>
          <% end %>
          <% if not form.readonly? %>
            <button class="btn btn-mini add-item-btn"><%= I18n.t("note._frontend.action.add_note_orderedlist") %></button>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>

<% define_template "orderedlist_item" do |form, item| %>
  <div class="subrecord-form-inline"><%= form.textfield(nil, item) %></div>
<% end %>


<% define_template "note_multipart_selector" do |form, item| %>
  <% if item %>
    <% form.emit_template(item["jsonmodel_type"]) %>
  <% else %>
    <div class="subrecord-form-fields">
      <div class="control-group required">
        <label class="control-label"><%= I18n.t("note.note_type") %></label>
        <div class="controls">
          <select class="multipart-note-type">
            <option></option>
            <% multipart_subnotes.sort_by {|value, hash| hash[:i18n]}.each do |value, hash| %>
              <option value="<%= hash[:value] %>"><%= hash[:i18n] %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="selected-container">
        <% form.emit_template("note_type_nil") %>
      </div>
    </div>
  <% end %>
<% end %>

<% define_template "note_multipart", jsonmodel_definition(:note_multipart) do |form| %>
  <div class="subrecord-form-fields" data-type="note_multipart">
    <h4 class="subrecord-form-heading">
      <% if form.readonly? %>
        <%= I18n.t("enumerations.note_multipart_type.#{form.obj["type"]}", :default => form.obj["type"]) %>
      <% else %>
        <%= I18n.t("note.note_multipart") %>
      <% end %>
    </h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_multipart") %>
      <%= form.label_and_textfield("label") %>
      <%= form.label_and_select("type",
          multipart_note_types.map {|value, hash| [hash[:i18n], value]},
          :field_opts => {:class => "note-type"}) %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <section class="subrecord-form" id="<%= form.id_for('subnotes')%>">
        <h5 class="subrecord-form-heading">
          <%= I18n.t("note_multipart.sub_notes") %>
          <% if not form.readonly? %>
            <button class="btn btn-small add-sub-note-btn pull-right"><%= I18n.t("note._frontend.action.add_sub_note") %></button>
          <% end %>
        </h5>
        <div class="subrecord-form-container">
          <% form.obj["subnotes"] = [JSONModel(:note_text).new.to_hash(:raw)] if form["subnotes"].blank? %>


          <%= form.list_for(form["subnotes"], "subnotes[]") do |subnote| %>
            <% form.emit_template(subnote["jsonmodel_type"]) %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
<% end %>


<% define_template "note_bioghist_selector" do |form, item| %>
  <% if item %>
    <% form.emit_template(item["jsonmodel_type"]) %>
  <% else %>
    <div class="subrecord-form-fields">
      <div class="control-group required">
        <label class="control-label"><%= I18n.t("note.note_type") %></label>
        <div class="controls">
          <select class="bioghist-note-type">
            <option></option>
            <% bioghist_subnotes.sort_by {|value, hash| hash[:i18n]}.each do |value, hash| %>
              <option value="<%= hash[:value] %>"><%= hash[:i18n] %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="selected-container">
        <% form.emit_template("note_type_nil") %>
      </div>
    </div>
  <% end %>
<% end %>


<% define_template "note_bioghist", jsonmodel_definition(:note_bioghist) do |form| %>
  <div class="subrecord-form-fields" data-type="note_bioghist">
    <h4 class="subrecord-form-heading">
      <%= I18n.t("note.note_bioghist") %>
    </h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_bioghist") %>
      <%= form.label_and_textfield("label") %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <section class="subrecord-form" id="<%= form.id_for('subnotes')%>">
        <h5 class="subrecord-form-heading">
          <%= I18n.t("note_multipart.sub_notes") %>
          <% if not form.readonly? %>
            <div class="btn-group pull-right">
              <button class="btn btn-small add-sub-note-btn"><%= I18n.t("note._frontend.action.add_sub_note") %></button>
            </div>
          <% end %>
        </h5>
        <div class="subrecord-form-container">
          <%= form.list_for(form["subnotes"], "subnotes[]") do |subnote| %>
            <% form.emit_template(subnote["jsonmodel_type"]) %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
<% end %>

<% define_template "note_citation_xlink" do | xlink_form | %>
  <% xlink_form.push "xlink", xlink_form["xlink"] || {} do | xlink_form | %>
    <%= xlink_form.label_and_textfield "actuate" %>
    <%= xlink_form.label_and_textfield "arcrole" %>
    <%= xlink_form.label_and_textfield "href" %>
    <%= xlink_form.label_and_textfield "role" %>
    <%= xlink_form.label_and_textfield "show" %>
    <%= xlink_form.label_and_textfield "title" %>
    <%= xlink_form.label_and_textfield "type" %>
  <% end %>
<% end %>

<% define_template "note_citation", jsonmodel_definition(:note_citation) do |form| %>
  <div class="subrecord-form-fields" data-type="note_citation">
    <h4 class="subrecord-form-heading"><%= I18n.t("note.note_citation") %></h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_citation") %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <% form.emit_template("content_items", :required => form.required?('content')) %>

      <section class="subrecord-form">
        <h5 class="subrecord-form-heading"><%= I18n.t("note_citation.xlink") %></h5>
        <div class="subrecord-form-container">
          <div class="subrecord-form-fields">
            <% form.emit_template "note_citation_xlink" %>
          </div>
        </div>
      </section>

    </div>
  </div>
<% end %>

<% define_template "note_abstract", jsonmodel_definition(:note_abstract) do |form| %>
  <div class="subrecord-form-fields" data-type="note_abstract">
    <h4 class="subrecord-form-heading"><%= I18n.t("note.note_abstract") %></h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_abstract") %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <% form.emit_template("content_items", :required => form.required?('content')) %>
    </div>
  </div>
<% end %>

<% define_template "note_outline_string" do |form, item| %>
  <div class="subrecord-form-inline"><%= form.textfield(nil, item) %></div>
<% end %>

<% define_template "note_outline_level" do |form, level| %>
  <div class="subrecord-form-fields" data-type="note_outline_level">
    <%= form.hidden_input(:jsonmodel_type, "note_outline_level") %>
    <section class="subrecord-form">
      <% if not form.readonly? %>
        <div class="subrecord-form-heading">
          <div class="btn-group note_outline_level_btns">
            <button class="btn btn-mini add-sub-item-btn"><%= I18n.t("note._frontend.action.add_note_outline_level_item") %></button>
            <button class="btn btn-mini add-sub-level-btn"><%= I18n.t("note._frontend.action.add_note_outline_level_level") %></button>
          </div>
        </div>
      <% end %>
      <div class="subrecord-form-container">
        <%= form.list_for(form["items"], "items[]") do |item| %>
          <% if item.kind_of? String %>
            <% form.emit_template("note_outline_string", item) %>
          <% else %>
            <% form.emit_template("note_outline_level", item) %>
          <% end %>
        <% end %>
      </div>
    </section>
  </div>
<% end %>

<% define_template "note_outline", jsonmodel_definition(:note_outline) do |form| %>
  <div class="subrecord-form-fields" data-type="note_outline">
    <h4 class="subrecord-form-heading"><%= I18n.t("note.note_outline") %></h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_outline") %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <div class="control-group">
        <label class="control-label"><%= I18n.t("note_outline.levels") %></label>
        <div class="controls note-outline-levels">
          <%= form.list_for((form["levels"] || []), "levels[]") do |item| %>
            <% form.emit_template("note_outline_level", item) %>
          <% end %>
          <% if not form.readonly? %>
            <button class="btn btn-mini add-level-btn"><%= I18n.t("note._frontend.action.add_note_outline_level_item") %></button>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>

<% define_template "note_definedlist", jsonmodel_definition(:note_definedlist) do |form| %>
  <div class="subrecord-form-fields" data-type="note_definedlist">
    <h4 class="subrecord-form-heading"><%= I18n.t("note.note_definedlist") %></h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_definedlist") %>
      <%= form.label_and_textfield("title") %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <section class="subrecord-form">
        <h5 class="subrecord-form-heading">
          <%= I18n.t("note_definedlist.items") %>
          <% if not form.readonly? %>
            <button class="btn btn-mini pull-right add-item-btn"><%= I18n.t("note._frontend.action.note_definedlist_item") %></button>
          <% end %>
        </h5>
        <div class="subrecord-form-container">
          <%= form.list_for(form["items"], "items[]") do |item| %>
            <% form.emit_template("definedlist_item", item) %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
<% end %>

<% define_template "definedlist_item" do |form, item| %>
  <div class="subrecord-form-fields" data-type="definedlist_item">
    <%= form.label_and_textfield "label" %>
    <%= form.label_and_textfield "value" %>
  </div>
<% end %>

<% define_template "note_index", jsonmodel_definition(:note_index) do |form| %>
  <div class="subrecord-form-fields" data-type="note_index">
    <h4 class="subrecord-form-heading"><%= I18n.t("note.note_index") %></h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_index") %>
      <%= form.label_and_textfield("label") %>
      <% form.emit_template("content_items", :required => form.required?('content')) %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <section class="subrecord-form">
        <h5 class="subrecord-form-heading">
          <%= I18n.t("note_index.items") %>
          <% if not form.readonly? %>
            <button class="btn btn-mini pull-right add-item-btn"><%= I18n.t("note._frontend.action.add_note_index_item") %></button>
          <% end %>
        </h5>
        <div class="subrecord-form-container">
          <%= form.list_for(form["items"], "items[]") do |item| %>
            <% form.emit_template("index_item", item) %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
<% end %>

<% define_template "index_item" do |form, item| %>
  <div class="subrecord-form-fields" data-type="index_item">
    <%= form.label_and_textfield "value" %>
    <%= form.label_and_textfield "type" %>
    <%= form.label_and_textfield "reference" %>
    <%= form.label_and_textfield "reference_text" %>
  </div>
<% end %>

<% define_template "note_chronology", jsonmodel_definition(:note_chronology) do |form| %>
  <div class="subrecord-form-fields" data-type="note_chronology">
    <h4 class="subrecord-form-heading"><%= I18n.t("note.note_chronology") %></h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_chronology") %>
      <%= form.label_and_textfield("title") %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <section class="subrecord-form">
        <h5 class="subrecord-form-heading">
          <%= I18n.t("note_chronology.items") %>
          <% if not form.readonly? %>
            <button class="btn btn-mini pull-right add-item-btn"><%= I18n.t("note._frontend.action.add_note_chronology_item") %></button>
          <% end %>
        </h5>
        <div class="subrecord-form-container">
          <%= form.list_for(form["items"], "items[]") do |item| %>
            <% form.emit_template("chronology_item", item) %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
<% end %>

<% define_template "chronology_item" do |form, item| %>
  <div class="subrecord-form-fields" data-type="chronology_item">
    <%= form.label_and_textfield("event_date") %>
    <div class="control-group">
      <label class="control-label"><%= I18n.t("chronology_item.events") %></label>
      <div class="controls">
        <%= form.list_for(form["events"], "events[]") do |event| %>
          <% form.emit_template("chronology_item_event", event) %>
        <% end %>
        <% if not form.readonly? %>
          <button class="btn btn-mini add-event-btn"><%= I18n.t("note._frontend.action.add_event") %></button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% define_template "chronology_item_event" do |form, event| %>
  <div class="subrecord-form-inline"><%= form.textfield(nil, event) %></div>
<% end %>

<% define_template "bib_item" do |form, item| %>
  <div class="subrecord-form-inline"><%= form.textfield(nil, item) %></div>
<% end %>

<% define_template "note_bibliography", jsonmodel_definition(:note_bibliography) do |form| %>
  <div class="subrecord-form-fields" data-type="note_bibliography">
    <h4 class="subrecord-form-heading"><%= I18n.t("note.note_bibliography") %></h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_bibliography") %>
      <%= form.label_and_textfield("label") %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <% form.emit_template("content_items", :required => form.required?('content')) %>

      <hr/>

      <div class="control-group">
        <label class="control-label"><%= I18n.t("note_bibliography.items") %></label>
        <div class="controls">
          <%= form.list_for(form["items"], "items[]") do |item| %>
            <% form.emit_template("bib_item", item) %>
          <% end %>
          <% if not form.readonly? %>
            <button class="btn btn-mini add-item-btn"><%= I18n.t("note._frontend.action.add_note_bibliography_item") %></button>
          <% end %>
        </div>
      </div>

    </div>
  </div>
<% end %>


<%
   digital_object_note_types = note_types_for(:note_digital_object)
%>

<% define_template "note_digital_object", jsonmodel_definition(:note_digital_object) do |form| %>
  <div class="subrecord-form-fields" data-type="note_digital_object">
    <h4 class="subrecord-form-heading">
      <% if form.readonly? %>
        <%= I18n.t("enumerations.note_digital_object_type.#{form.obj["type"]}", :default => form.obj["type"]) %>
      <% else %>
        <%= I18n.t("note.note_digital_object") %>
      <% end %>
    </h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_digital_object") %>
      <%= form.label_and_textfield("label") %>
      <%= form.label_and_select("type", digital_object_note_types.map {|value, hash| [hash[:i18n], value]}, :field_opts => {:class => "note-type"}) %>
      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>

      <% form.emit_template("content_items", :required => form.required?('content')) %>
    </div>
  </div>
<% end %>


<% define_template "note_text", jsonmodel_definition(:note_text) do |form| %>
  <div class="subrecord-form-fields" data-type="note_text">
    <h4 class="subrecord-form-heading"><%= I18n.t("note.note_text") %></h4>
    <div class="subrecord-form-container">
      <%= form.hidden_input(:jsonmodel_type, "note_text") %>

      <%= form.label_and_textarea('content', :field_opts => {:class => "mixed-content"}) %>

      <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>
    </div>
  </div>
<% end %>
