<%= render :partial => "shared/form_messages", :locals => {:object => @subject, :f => f} %>
<fieldset>
   <%= f.hidden_field :vocabulary, :value => session[:vocabulary]['uri'] %>

   <section id="terms">
     <h3>Terms</h3>
     <div class="row-fluid">
        <div class="span5">Term</div>
        <div class="span5">Type</div>
        <div class="span2"></div>
     </div>
     <div class="terms-container" data-terms="<%= @subject.terms.to_json %>"></div>

     <hr/>

     <div class="well">
        <div class="subject-preview"><em>Subject Preview</em></div>
     </div>
     
   </section>

   <%= render :partial => "shared/subrecord_form", :locals => {:f => f, :object => @subject, :method => :external_documents, :section_id => "subject_external_documents", :nested_template => "subject_external_documents_form_template"} %>

</fieldset>


<%= render :partial => "external_documents/template", :locals => {:f => f} %>

<div id="subjects_term_template"><!--
   <div class="row-fluid inputs-fill-it-up">
      <div class="span5"><input type="text" name="subject[terms][${index}][term]" data-source="<%= session['vocabulary']['terms'].to_json %>" autocomplete="off" /></div>
      <div class="span5">
         <select name="subject[terms][${index}][term_type]">
            <% JSONModel(:term).schema["properties"]["term_type"]["enum"].each do |option| %>
               <option value="<%= option %>"><%= option %></option>
            <% end %>
         </select>
      </div>
      <div class="span2">
         <div class="btn-group">
            <button type="button" class="btn btn-small add-term-btn">Add</button>
            <button type="button" class="btn btn-small remove-term-btn"><span class="icon-remove-sign"></span></button>
         </div>
         <input type="hidden" name="subject[terms][${index}][vocabulary]" value="<%= session[:vocabulary]['uri'] %>"/>
      </div>
   </div>
--></div>

<div id="subjects_preview_template"><!--
  {for t in terms}
   <span class="term">${t.term}</span>
   {if t_index < terms.length-1}<span class="term-separator">--</span>{/if}
  {/for}
--></div>
