<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @subject, :form => form} %>
<%= render_aspace_partial :partial => "terms/template", :locals => {:form => form, :show_preview => true} %>

<fieldset>
  <%= form.hidden_input "vocabulary", current_vocabulary['uri'] %>

  <% define_template "subject", jsonmodel_definition(:subject) do |form| %>
    <section id="basic_information">
    <div class="d-flex align-items-center border-bottom bg-asFormHeadingBg">
      <h3 class="flex-grow-1 mb-0 border-0">
        <%= t("subject._frontend.section.basic_information") %>
      </h3>
      <%= link_to_help :topic => "subject_basic_information" %>
    </div>

      <%= render_plugin_partials("top_of_basic_information_subject",
                                 :form => form,
                                 :record => @subject) %>

      <%= form.label_and_textfield "authority_id" %>
      <%= form.label_and_select "source", form.possible_options_for("source", true) %>
      <%= form.label_and_textarea "scope_note" %>

      <%= render_aspace_partial :partial => "shared/slug", :locals => {:form => form, :record_type => @subject} if AppConfig[:use_human_readable_urls] %>

      <%= render_plugin_partials("basic_information_subject",
                                 :form => form,
                                 :record => @subject) %>
    </section>
  <% end %>

  <% form.emit_template("subject") %>
  
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "terms", :required => true, :heading_text => I18n.t("subject._frontend.section.terms")} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>
  <%= render_aspace_partial :partial => "external_ids/edit", :locals => {:form => form, :section_id => "external_ids"} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "metadata_rights_declarations"} %>

  <%= form_plugins_for("subject", form) %>

</fieldset>
