<%= render :partial => "shared/form_messages", :locals => {:object => @subject, :form => form} %>
<%= render :partial => "terms/template", :locals => {:form => form, :show_preview => true} %>

<script>
  AS.AVAILABLE_TERMS = <%= current_vocabulary['terms'].to_json.html_safe %>;
</script>

<fieldset>
  <%= form.hidden_input "vocabulary", current_vocabulary['uri'] %>

  <% define_template "subject", jsonmodel_definition(:subject) do |form| %>
    <section id="basic_information">
      <h3><%= I18n.t("subject._html.section.basic_information") %></h3>
      <%= form.label_and_textfield "ref_id" %>
      <%= form.label_and_select "source", form.possible_options_for("source", true) %>
      <%= form.label_and_textarea "scope_note" %>
    </section>
  <% end %>

  <% form.emit_template("subject") %>
  <% form.emit_template("terms") %>

  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>

</fieldset>
