<%
   subjects ||= []
   section_id = "subjects" if section_id.blank?
   section_title = t("subject._plural") if section_title.blank?
   heading_size = "h3" if heading_size.blank?
   auth_present = subjects.inject(false) {|memo, s| !s['_resolved']["authority_id"].blank? || memo }
%>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <<%= heading_size %>><%= section_title %></<%= heading_size %>>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields overflow-auto">
        <% if auth_present %>
          <div class="col-md-3"><strong><%= t("subject.authority_id") %></strong></div>
          <div class="col-md-8"><strong><%= t("subject.heading") %></strong></div>
        <% end %>
      <% subjects.each_with_index do | subject, index | %>
          <% if auth_present %>
            <div class="col-md-3 pull1">
              <% if subject['_resolved']["authority_id"] %>
                <%= subject['_resolved']["authority_id"] %>
              <% else %>
                &nbsp;
              <% end %>
            </div>
          <% end %>
          <div class="token-list">
            <% if subject['_resolved'] %>
              <%= render_token :object => subject['_resolved'],
                               :label => subject['_resolved']['title'],
                               :type => "subject",
                               :uri => subject['ref'],
                               :icon_class => get_subject_icon_class(subject) %>

            <% else %>
              <p><%= subject.inspect %></p>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</section>
