<%= setup_context :object => @subject %>

<%= form_for @subject, :as => "subject", :url => {:action => :create}, :html => {:class => 'form-horizontal aspace-record-form'} do |f| %>
  <%= form_context :subject, @subject do |form| %>
    <div class="d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
        <div class="record-pane">
          <%= link_to_help :topic => "subject" %>
          <h2><%= I18n.t("subject.new_title") %>  <span class="label label-info badge"><%= I18n.t("subject._singular") %></span></h2>
          <br/>
          <%= render_aspace_partial :partial => "subjects/form", :locals => {:form => form} %>
          <div class="form-actions pl-0">
            <div class="btn-group">
              <button type="submit" class="btn btn-primary"><%= t("subject._frontend.action.save") %></button>
              <button type="submit" id="createPlusOne" name="plus_one" class="btn btn-primary createPlusOneBtn"><%= t("actions.save_plus_one") %></button>
            </div>
            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
