<%= setup_context :object => @subject, :title => @subject.display_string %>

<div class="row-fluid">
   <div class="span3">
      <%= render :partial => "sidebar" %>
   </div>
   <div class="span9 record-pane">
     <div class="btn-group" style="float: right">
       <% if user_can?('update_repository') %>
         <%= link_to "Edit", {:controller => :subjects, :action => :edit, :id => @subject.id}, :class => "btn btn-small" %>
       <% end %>
     </div>

     <%= readonly_context :subject, @subject.to_hash do |readonly| %>
      <h2><%= @subject.display_string %>  <span class="label label-info">Subject</span></h2>

      <section id="basic_information">
        <h3>Basic Information</h3>

        <%= readonly.label_and_textfield "ref_id" %>
      </section>
    
      <section id="terms" class="subrecord-form-dummy">
        <h3>Terms</h3>
        <div class="subrecord-form-container">
          <div class="subrecord-form-fields">
            <div class="row-fluid">
              <div class="span6"><strong>Term</strong></div>
              <div class="span6"><strong>Type</strong></div>
            </div>
            <% @subject.terms.each do | term | %>
             <div class="row-fluid">
                 <div class="span6"><%= term["term"] %></div>
                 <div class="span6"><%= term["term_type"] %></div>
             </div>
            <% end %>
          </div>
        </div>
      </section>

      <% if @subject.external_documents.length > 0 %>
        <%= render :partial => "external_documents/show", :locals => { :external_documents => @subject.external_documents, :section_id => "subject_external_documents_" } %>
      <% end %>
    <% end %>
   </div>
</div>
