<%= setup_context :object => @subject, :title => @subject.title %>

<div class="d-flex">
   <div class="col-md-3">
      <%= render_aspace_partial :partial => "sidebar" %>
   </div>
   <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
     <%= readonly_context :subject, @subject do |readonly| %>
      <h2><%= @subject.title %>  <span class="badge badge-info label"><%= I18n.t("subject._singular") %></span></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <% define_template "subject", jsonmodel_definition(:subject) do |form, subject| %>
        <section id="basic_information">
          <h3><%= t("subject._frontend.section.basic_information") %></h3>

          <%= render_plugin_partials("top_of_basic_information_subject",
                                     :form => form,
                                     :record => @subject) %>

          <%= render_aspace_partial :partial => "shared/public_url", :locals => {:form_object => readonly} if AppConfig[:use_human_readable_urls] %>

          <%= form.label_and_textfield "authority_id" %>
          <%= form.label_and_select "source", form.possible_options_for("source", true) %>
          <%= form.label_and_textarea "scope_note" %>

          <%= render_plugin_partials("basic_information_subject",
                                     :form => form,
                                     :record => @subject) %>

          <%= display_audit_info(@subject) %>
        </section>
      <% end %>

      <%= readonly.emit_template "subject" %>

      <%= render_aspace_partial :partial => "terms/show", :locals => { :terms => @subject.terms, :heading_text => t("subject._frontend.section.terms")} %>

      <% if @subject.external_documents.length > 0 %>
        <%= render_aspace_partial :partial => "external_documents/show", :locals => { :external_documents => @subject.external_documents, :section_id => "subject_external_documents_" } %>
      <% end %>

      <%= render_aspace_partial :partial => "search/embedded", :locals => {:record => @subject, :section_id => "linked_records", :filter_term => {"subject_uris" => @subject.uri}.to_json, :heading_text => t("subject._frontend.section.search_embedded")} %>

      <% if @subject.external_ids.length > 0 && show_external_ids? %>
        <%= render_aspace_partial :partial => "external_ids/show", :locals => { :external_ids => @subject.external_ids, :section_id => "subject_external_ids_" } %>
      <% end %>

      <% if @subject.metadata_rights_declarations.length > 0 %>
          <%= render_aspace_partial :partial => "metadata_rights_declarations/show", :locals => { :metadata_rights_declarations => @subject.metadata_rights_declarations, :section_id => "subject_metadata_rights_declarations_" } %>
      <% end %>

      <%= show_plugins_for(@subject, readonly) %>
    <% end %>
   </div>
  </div>
</div>
