<%= setup_context :object => @subject, :title => @subject.title %>

<div class="row-fluid">
   <div class="span3">
      <%= render :partial => "sidebar" %>
   </div>
   <div class="span9">
    <%= render :partial => "toolbar" %>
    <div class="record-pane">
     <%= readonly_context :subject, @subject do |readonly| %>
      <h2><%= @subject.title %>  <span class="label label-info"><%= I18n.t("subject._html.singular") %></span></h2>

      <%= render :partial => "shared/flash_messages" %>

      <% define_template "subject", jsonmodel_definition(:subject) do |form, subject| %>
        <section id="basic_information">
          <h3><%= I18n.t("subject._html.section.basic_information") %></h3>

          <%= form.label_and_textfield "ref_id" %>
          <%= form.label_and_select "source", form.possible_options_for("source", true) %>
          <%= form.label_and_textarea "scope_note" %>
        </section>
      <% end %>

      <%= readonly.emit_template "subject" %>

      <section id="terms" class="subrecord-form-dummy">
        <h3><%= I18n.t("subject.terms") %></h3>
        <div class="subrecord-form-container">
          <div class="subrecord-form-fields">
            <div class="row-fluid">
              <div class="span6"><strong><%= I18n.t("term.term") %></strong></div>
              <div class="span6"><strong><%= I18n.t("term.term_type") %></strong></div>
            </div>
            <% @subject.terms.each do | term | %>
             <div class="row-fluid">
                 <div class="span6"><%= term["term"] %></div>
                 <div class="span6"><%= term["term_type"] %></div>
             </div>
            <% end %>
          </div>
        </div>
      </section>

      <% if @subject.external_documents.length > 0 %>
        <%= render :partial => "external_documents/show", :locals => { :external_documents => @subject.external_documents, :section_id => "subject_external_documents_" } %>
      <% end %>
    <% end %>
   </div>
  </div>
</div>
