<% r = @required ? @required.values : [] %>

<%= render_aspace_partial :partial => "telephones/template" %>


<% define_template "agent_contact", jsonmodel_definition(:agent_contact) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "name", :required => @repository ? :conditionally : true %>

    <%= form.label_and_select "salutation", 
         form.possible_options_for('salutation', true),
         :required => is_required_by_admin?(r, "agent_contacts", "salutation") %>

    <%= form.label_and_textfield "address_1",
        :required => is_required_by_admin?(r, "agent_contacts", "address_1") %>

    <%= form.label_and_textfield "address_2",
        :required => is_required_by_admin?(r, "agent_contacts", "address_2") %>

    <%= form.label_and_textfield "address_3",
        :required => is_required_by_admin?(r, "agent_contacts", "address_3") %>

    <%= form.label_and_textfield "city",
        :required => is_required_by_admin?(r, "agent_contacts", "city") %>

    <%= form.label_and_textfield "region",
        :required => is_required_by_admin?(r, "agent_contacts", "region") %>

    <%= form.label_and_textfield "country",
        :required => is_required_by_admin?(r, "agent_contacts", "country") %>

    <%= form.label_and_textfield "post_code",
        :required => is_required_by_admin?(r, "agent_contacts", "post_code") %>

    <%= form.label_and_textfield "email",
        :required => is_required_by_admin?(r, "agent_contacts", "email") %>
    
    <% if @repository %>
      <%= form.label_and_textfield "email_signature" %>
    <% end %>
    
    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => { :form => form,  :name => "telephones", :heading_size => "h4" } %>

    <%= render_aspace_partial :partial => "notes/form", :locals => {:form => form, :all_note_types => note_types_for("agent_contact"), :section_id => "agent_contact_notes", :nested_note_jsonmodel => "agent_contact_notes", :header_size => "h4", :add_button_text => "note._frontend.action.add_for_contact_note", :show_apply_note_order_action => false} %>

  </div>
<% end %>
