<% define_template "agent_contact_details" do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "name" %>
    <%= form.label_and_textfield "salutation" %>
    <%= form.label_and_textfield "address_1" %>
    <%= form.label_and_textfield "address_2" %>
    <%= form.label_and_textfield "address_3" %>
    <%= form.label_and_textfield "city" %>
    <%= form.label_and_textfield "region" %>
    <%= form.label_and_textfield "country" %>
    <%= form.label_and_textfield "post_code" %>
    <%= form.label_and_textfield "telephone" %>
    <%= form.label_and_textfield "telephone_ext" %>
    <%= form.label_and_textfield "fax" %>
    <%= form.label_and_textfield "email" %>
  </div>
<% end %>