<div class="subform agent-contact-fields">
  <h4>
    <span class="subform-title"></span>
    <a href="javascript:void(0)" class="btn btn-mini pull-right subform-remove"><span class='icon-remove'></span></a>
  </h4>
  <div class="subform-container">
    <%= f.jsonmodel_label_and_field :name %>
    <%= f.jsonmodel_label_and_field :salutation %>
    <%= f.jsonmodel_label_and_field :address_1 %>
    <%= f.jsonmodel_label_and_field :address_2 %>
    <%= f.jsonmodel_label_and_field :address_3 %>
    <%= f.jsonmodel_label_and_field :city %>
    <%= f.jsonmodel_label_and_field :region %>
    <%= f.jsonmodel_label_and_field :country %>
    <%= f.jsonmodel_label_and_field :post_code %>
    <%= f.jsonmodel_label_and_field :telephone %>
    <%= f.jsonmodel_label_and_field :telephone_ext %>
    <%= f.jsonmodel_label_and_field :fax %>
    <%= f.jsonmodel_label_and_field :email %>
  </div>
</div>