<%= render_aspace_partial :partial => "telephones/template" %>


<% define_template "agent_contact", jsonmodel_definition(:agent_contact) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "name" %>
    <%= form.label_and_select "salutation", form.possible_options_for('salutation', true) %>
    <%= form.label_and_textfield "address_1" %>
    <%= form.label_and_textfield "address_2" %>
    <%= form.label_and_textfield "address_3" %>
    <%= form.label_and_textfield "city" %>
    <%= form.label_and_textfield "region" %>
    <%= form.label_and_textfield "country" %>
    <%= form.label_and_textfield "post_code" %>
    <%= form.label_and_textfield "email" %>
    <%= form.label_and_textarea "note" %>
    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => { :form => form,  :name => "telephones", :heading_size => "h5" } %>
  </div>
<% end %>
