<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @agent, :form => form} %>
<%= render_aspace_partial :partial => "agents/contact_details", :locals => {:form => form} %>

<% if !full_mode? && has_agent_subrecords?(@agent) %>
  <div class="alert alert-warning">This agent has data that is only editable in Full mode. To enable it, ask your administrator to enable Full Mode on this instance and grant you Full Mode permission.</div>
<% end %>

<fieldset>
  <section id="basic_information" class="subrecord-form-section">
    <h3 class='subrecord-form-heading-label d-flex py-2 align-items-center'>
      <%= wrap_with_tooltip(
        t("agent._frontend.section.basic_information"),
        "section_headings.basic_information_tooltip",
        "subrecord-form-heading-label"
      ) %>
      <%= link_to_help :topic => "#{@agent.agent_type}_basic_information" %>
    </h3>

    <%= render_plugin_partials("top_of_basic_information_#{@agent.agent_type}",
                               :form => form,
                               :record => @agent) %>

    <div class="form-group w-100 row">
      <label class="col-sm-2 control-label text-right"><%= t("agent.type") %></label>
      <div class="col-sm-9 label-only">
        <%= form.hidden_input "agent_type", @agent.agent_type %>
        <strong><%= t("agent.agent_type.#{@agent.agent_type}") %></strong>
      </div>
    </div>

    <%= render_aspace_partial :partial => "shared/slug", :locals => {:form => form, :record_type => @agent} if AppConfig[:use_human_readable_urls] %>

    <% if @agent.has_key?("is_user") %>
      <%= form.label_and_textfield "is_user", { :field_opts => { :readonly => true } } %>
    <% end %>

    <%= form.label_and_boolean "publish", {}, user_prefs["publish"] %>

    <%= render_plugin_partials("basic_information_#{@agent.agent_type}",
                               :form => form,
                               :record => @agent) %>

  </section>


  <% unless @agent.agent_type.to_s == "agent_software" %>
    <section id="record_control_information" class="agents-subsection subrecord-form-section">
      <h3 class='subrecord-form-heading-label d-flex py-2 align-items-center'>
        <%= wrap_with_tooltip(
          t("agent._frontend.section.record_control_information"),
          "section_headings.record_control_information_tooltip",
          "subrecord-form-heading-label"
        ) %>
      </h3>

     <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_record_identifiers", :section_id => "#{@agent.agent_type}_agent_record_identifier", :template => "agent_record_identifiers", help_topic: "agent_record_identifiers", :invisible => false, :lightmode_toggle => false, :section_class => "agent_agent_record_identifiers"} %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_record_controls", :section_id => "#{@agent.agent_type}_agent_record_control", :template => "agent_record_control", help_topic: "agent_record_controls", :cardinality => :zero_to_one, :list_limited_to_one => true, :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_agent_record_control"} %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_other_agency_codes", :section_id => "#{@agent.agent_type}_agent_other_agency_codes", :template => "agent_other_agency_codes", help_topic: "agent_other_agency_codes", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => 'agent_agent_other_agency_codes'} %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_conventions_declarations", :section_id => "#{@agent.agent_type}_agent_conventions_declaration", :template => "agent_conventions_declaration", help_topic: "agent_conventions_declarations", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_agent_conventions_declarations"} %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "metadata_rights_declarations", :section_id => "#{@agent.agent_type}_metadata_rights_declaration", help_topic: "metadata_rights_declaration", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_metadata_rights_declarations"} %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_maintenance_histories", :section_id => "#{@agent.agent_type}_agent_maintenance_history", :template => "agent_maintenance_histories", help_topic: "agent_maintenance_histories", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_agent_maintenance_histories"} %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_sources", :section_id => "#{@agent.agent_type}_agent_sources", :template => "agent_sources", help_topic: "agent_sources", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_agent_sources" } %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_alternate_sets", :section_id => "#{@agent.agent_type}_agent_alternate_set", :template => "agent_alternate_set", help_topic: "agent_alternate_sets", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_agent_alternate_sets"} %>
    </section>
  <% end %>

  <section id="identity_information" class="agents-subsection subrecord-form-section">
    <h3 class='subrecord-form-heading-label d-flex py-2 align-items-center'>
      <%= wrap_with_tooltip(
        t("agent._frontend.section.identity_information"),
        "section_headings.identity_information_tooltip",
        "subrecord-form-heading-label"
      ) %>
    </h3>

    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_identifiers", :section_id => "#{@agent.agent_type}_agent_identifier", :template => "agent_identifiers", help_topic: "agent_identifiers", :invisible => false, :lightmode_toggle => false, :section_class => "agent_agent_identifiers"} %>

    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "names", :section_id => "#{@agent.agent_type}_names", :template_erb => "agents/name_forms/#{@agent.agent_type}", :template => "name_#{@agent.agent_type.to_s.gsub("agent_","")}", :help_topic => "#{@agent.agent_type}_names", :invisible => false, :lightmode_toggle => false, :section_class => "agent_names"} %>
  </section>

  <section id="description_information"  class="agents-subsection subrecord-form-section">
    <h3 class='subrecord-form-heading-label d-flex py-2 align-items-center'>
      <%= wrap_with_tooltip(
        t("agent._frontend.section.description_information"),
        "section_headings.description_information_tooltip",
        "subrecord-form-heading-label"
      ) %>
    </h3>


    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates_of_existence", :section_id => "#{@agent.agent_type}_dates_of_existence", :template_erb => "dates/template", :template => "structured_date_label_existence", :heading_text => t("agent._frontend.section.dates_of_existence"), :template_overrides => {"date_label" => "agents/date_labels"}, :help_topic => "#{@agent.agent_type}_dates_of_existence", :invisible => false, :lightmode_toggle => false, :section_class => "agent_dates_of_existence"} %>


     <% if @agent.agent_type.to_s == "agent_person" %>
         <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_genders", :section_id => "#{@agent.agent_type}_agent_gender", :template => "agent_gender", help_topic: "agent_genders", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_agent_genders"} %>
     <% end %>

     <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_places", :section_id => "#{@agent.agent_type}_agent_place", :template => "agent_place", help_topic: "agent_place", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_agent_places"} %>

     <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_occupations", :section_id => "#{@agent.agent_type}_agent_occupation", :template => "agent_occupation", help_topic: "agent_occupation", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_agent_occupation"} %>

     <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_functions", :section_id => "#{@agent.agent_type}_agent_function", :template => "agent_function", help_topic: "agent_function", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_agent_function"} %>

     <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_topics", :section_id => "#{@agent.agent_type}_agent_topic", :template => "agent_topic", help_topic: "agent_topic", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_agent_topics"} %>

     <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "used_languages", :section_id => "#{@agent.agent_type}_used_language", :template => "used_language", :invisible => !full_mode?, :lightmode_toggle => true, :help_topic => "agent_used_language", :section_class => "agent_agent_used_languages"} %>

  <% if user_can?('view_agent_contact_record') %>
      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_contacts", :section_id => "#{@agent.agent_type}_contact_details", :template_erb => "agents/contact_details", :template => "agent_contact", :help_topic => "#{@agent.agent_type}_contact_details", :invisible => false, :lightmode_toggle => false, :section_class => "agent_agent_contacts"} %>
  <% else %>
    <%= form.hidden_input "restricted_properties[]", 'agent_contacts' %>
  <% end %>

  <%= render_aspace_partial :partial => "notes/form", :locals => {:form => form, :all_note_types => note_types_for(form['jsonmodel_type']), :section_id => "#{@agent.agent_type}_notes", :show_apply_note_order_action => false} %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents", :section_id => "#{@agent.agent_type}_external_documents", :help_topic => "agent_external_documents", :invisible => false, :lightmode_toggle => false, :section_class => "agent_external_documents"} %>
  </section>


  <% unless @agent.agent_type.to_s == "agent_software" %>
    <section id="relation_information" class="agents-subsection subrecord-form-section">
      <h3 class='subrecord-form-heading-label'>
        <% tooltip = t("section_headings.relation_information_tooltip") %>
        <span title="" data-placement='bottom' data-html="true" data-delay="500" data-trigger="manual" data-template="<div class=&quot;tooltip archivesspace-help&quot;><div class=&quot;tooltip-arrow&quot;></div><div class=&quot;tooltip-inner&quot;></div></div>" class="has-tooltip subrecord-form-heading-label" data-original-title='<%= tooltip %>'>
          <%= t("agent._frontend.section.relation_information") %>
        </span>
      </h3>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_resources", :section_id => "#{@agent.agent_type}_agent_resource", :template => "agent_resource", help_topic: "agent_external_resources", :invisible => !full_mode?, :lightmode_toggle => true, :section_class => "agent_agent_resources"} %>

    <%= render_aspace_partial :partial => "related_agents/form", :locals => {:form => form} %>

    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_ids", :hidden => true} %>
    </section>
  <% end %>

  <%= form_plugins_for(@agent.agent_type.to_s, form) %>

</fieldset>
