<%= render :partial => "shared/form_messages", :locals => {:object => @agent, :form => form} %>

<%= render :partial => "agents/name_forms/#{@agent.agent_type}", :locals => {:form => form} %>
<%= render :partial => "agents/contact_details", :locals => {:form => form} %>

<fieldset>
  <section id="agent_details">
    <h3><%= I18n.t("agent._html.section.basic_information") %></h3>
    <div class="control-group">
       <label class="control-label"><%= I18n.t("agent.type") %></label>
       <div class="controls label-only">
          <%= form.hidden_input "agent_type", @agent.agent_type %>
          <strong><%= I18n.t("agent.agent_type.#{@agent.agent_type}") %></strong>
       </div>
    </div>
  </section>

  <section id="names" class="subrecord-form">
    <h3 class="subrecord-form-heading">
      <%= I18n.t("agent_name._html.plural") %>
      <input type="button" class="btn btn-small pull-right" value="<%= I18n.t("actions.add_prefix") %> <%= I18n.t("agent_name._html.singular") %>" />
    </h3>
    <div class="subrecord-form-container">
      <%= form.list_for(form["names"], "names[]") do |name| %>
        <% form.emit_template("#{@agent.agent_type.to_s.sub("agent_", "name_")}") %>
      <% end %>
    </div>
  </section>

  <section id="contacts" class="subrecord-form">
    <h3 class="subrecord-form-heading">
      <%= I18n.t("agent_contact._html.plural") %>
      <input type="button" class="btn btn-small pull-right" value="<%= I18n.t("actions.add_prefix") %> <%= I18n.t("agent_contact._html.singular") %>" />
    </h3>
    <div class="subrecord-form-container">
      <%= form.list_for(form["agent_contacts"], "agent_contacts[]") do |name| %>
        <% form.emit_template("agent_contact") %>
      <% end %>
    </div>
  </section>

  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents", :section_id => "agent_external_documents_"} %>

</fieldset>

<div id="agent_person_sort_name_direct_template"><!--
{if defined('primary_name') && primary_name.length > 0}${primary_name}{/if}
{if defined('rest_of_name') && rest_of_name.length > 0}, ${rest_of_name}{/if}
{if defined('prefix') && prefix.length > 0}, ${prefix}{/if}
{if defined('suffix') && suffix.length > 0}, ${suffix}{/if}
{if defined('title') && title.length > 0}, ${title}{/if}
{if defined('number') && number.length > 0}, ${number}{/if}
{if defined('fuller_form') && fuller_form.length > 0} (${fuller_form}){/if}
{if defined('dates') && dates.length > 0}, ${dates}{/if}
{if defined('qualifier') && qualifier.length > 0}, (${qualifier}){/if}
--></div>

<div id="agent_person_sort_name_inverted_template"><!--
{if defined('rest_of_name') && rest_of_name.length > 0}${rest_of_name}{/if}
{if defined('primary_name') && primary_name.length > 0} ${primary_name}{/if}
{if defined('prefix') && prefix.length > 0}, ${prefix}{/if}
{if defined('suffix') && suffix.length > 0}, ${suffix}{/if}
{if defined('title') && title.length > 0}, ${title}{/if}
{if defined('number') && number.length > 0}, ${number}{/if}
{if defined('fuller_form') && fuller_form.length > 0} (${fuller_form}){/if}
{if defined('dates') && dates.length > 0}, ${dates}{/if}
{if defined('qualifier') && qualifier.length > 0}, (${qualifier}){/if}
--></div>

<div id="agent_family_sort_name_template"><!--
{if defined('family_name') && family_name.length > 0}${family_name}{/if}
{if defined('prefix') && prefix.length > 0}, ${prefix}{/if}
{if defined('dates') && dates.length > 0}, ${dates}{/if}
{if defined('qualifier') && qualifier.length > 0}, (${qualifier}){/if}
--></div>

<div id="agent_corporate_entity_sort_name_template"><!--
{if defined('primary_name') && primary_name.length > 0}${primary_name}. {/if}
{if defined('subordinate_name_1') && subordinate_name_1.length > 0} ${subordinate_name_1}. {/if}
{if defined('subordinate_name_2') && subordinate_name_2.length > 0} ${subordinate_name_2}. {/if}
{if defined('number') && number.length > 0 && defined('dates') && dates.length > 0} (${number} : ${dates})
{elseif defined('number') && number.length > 0} (${number})
{elseif defined('dates') && dates.length > 0} (${dates})
{/if}
{if defined('qualifier') && qualifier.length > 0}, (${qualifier}){/if}
--></div>

<div id="agent_software_sort_name_template"><!--
{if defined('manufacturer') && manufacturer.length > 0}${manufacturer} {/if}
{if defined('software_name') && software_name.length > 0} ${software_name}{/if}
{if defined('version') && version.length > 0} ${version}{/if}
{if defined('qualifier') && qualifier.length > 0}, (${qualifier}){/if}
--></div>
