<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @agent, :form => form} %>

<%= render_aspace_partial :partial => "agents/contact_details", :locals => {:form => form} %>

<fieldset>
  <section id="basic_information">
    <h3>
      <%= I18n.t("agent._frontend.section.basic_information") %>
      <%= link_to_help :topic => "#{@agent.agent_type}_basic_information" %>
    </h3>
    <div class="form-group">
      <label class="col-sm-2 control-label"><%= I18n.t("agent.type") %></label>
      <div class="col-sm-9 label-only">
        <%= form.hidden_input "agent_type", @agent.agent_type %>
        <strong><%= I18n.t("agent.agent_type.#{@agent.agent_type}") %></strong>
      </div>
    </div>
  </section>

   <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_record_identifiers", :section_id => "#{@agent.agent_type}_agent_record_identifier_required", :template => "agent_record_identifier_required", help_topic: "agent_record_identifiers", :action_button_override => "agent_record_identifier_required" } %>

   <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_record_controls", :section_id => "#{@agent.agent_type}_agent_record_control_required", :template => "agent_record_control_required", help_topic: "agent_record_controls", :action_button_override => "agent_record_control_required", :cardinality => :zero_to_one, :list_limited_to_one => true } %>

   <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_other_agency_codes", :section_id => "#{@agent.agent_type}_agent_other_agency_code_required", :template => "agent_other_agency_code_required", help_topic: "agent_other_agency_codes", :action_button_override => "agent_other_agency_code_required" } %>

   <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_conventions_declarations", :section_id => "#{@agent.agent_type}_agent_conventions_declaration_required", :template => "agent_conventions_declaration_required", help_topic: "agent_conventions_declarations", :action_button_override => "agent_conventions_declaration_required" } %>

   <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_maintenance_histories", :section_id => "#{@agent.agent_type}_agent_maintenance_history_required", :template => "agent_maintenance_history_required", help_topic: "agent_maintenance_histories", :action_button_override => "agent_maintenance_history_required" } %>

   <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_sources", :section_id => "#{@agent.agent_type}_agent_source_required", :template => "agent_source_required", help_topic: "agent_sources", :action_button_override => "agent_source_required" } %>

   <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_alternate_sets", :section_id => "#{@agent.agent_type}_agent_alternate_set_required", :template => "agent_alternate_set_required", help_topic: "agent_alternate_sets", :action_button_override => "agent_alternate_set_required" } %>

   <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_identifiers", :section_id => "#{@agent.agent_type}_agent_identifier_required", :template => "agent_identifier_required", help_topic: "agent_identifiers", :action_button_override => "agent_identifier_required" } %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "names", :section_id => "#{@agent.agent_type}_names", :template_erb => "agents/name_forms/#{@agent.agent_type}_required", :template => "name_#{@agent.agent_type.to_s.gsub("agent_","")}", :help_topic => "#{@agent.agent_type}_names"} %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates_of_existence", :section_id => "#{@agent.agent_type}_dates_of_existence", :template_erb => "dates/template_required", :template => "structured_date_label", :heading_text => I18n.t("agent._frontend.section.dates_of_existence"), :help_topic => "#{@agent.agent_type}_dates_of_existence"} %>

  <% if @agent.agent_type == "person" %>
    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_genders", :section_id => "#{@agent.agent_type}_agent_gender_required", :template => "agent_gender_required", help_topic: "agent_genders", :action_button_override => "agent_gender_required" } %>
  <% end %>

   <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_places", :section_id => "#{@agent.agent_type}_agent_place_required", :template => "agent_place_required", help_topic: "agent_places", :action_button_override => "agent_place_required" } %>

   <%# render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_occupations", :section_id => "#{@agent.agent_type}_agent_occupation_required", :template => "agent_occupation_required", help_topic: "agent_occupations", :action_button_override => "agent_occupation_required" } %>

   <%# render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_functions", :section_id => "#{@agent.agent_type}_agent_function_required", :template => "agent_function_required", help_topic: "agent_functions", :action_button_override => "agent_function_required" } %>

   <%# render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_topics", :section_id => "#{@agent.agent_type}_agent_topic_required", :template => "agent_topic_required", help_topic: "agent_topics", :action_button_override => "agent_topic_required" } %>

   <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "used_languages", :section_id => "#{@agent.agent_type}_used_language_required", :template => "used_language_required", help_topic: "used_languages", :action_button_override => "used_language_required" } %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_contacts", :section_id => "#{@agent.agent_type}_contact_details", :template_erb => "agents/contact_details_required", :template => "agent_contact", :help_topic => "#{@agent.agent_type}_contact_details"} %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents", :section_id => "#{@agent.agent_type}_external_documents", :template_erb => "external_documents/template_required", :help_topic => "#{@agent.agent_type}_external_documents"} %>

   <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_resources", :section_id => "#{@agent.agent_type}_agent_resource_required", :template => "agent_resource_required", help_topic: "agent_resources", :action_button_override => "agent_resource_required" } %>


  <%# render_aspace_partial :partial => "related_agents/form_required", :locals => {:form => form} %>


  <%= form_plugins_for("agent", form) %>

</fieldset>
