<%
   multiplicity ||= "many"
   singular = "#{controller}".singularize
   extra_params = {} if extra_params.blank?
%>

  <div id="merge-dropdown" class="btn-group dropdown" data-no-change-tracking="true">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle merge-action" data-toggle="dropdown" title="<%= t("actions.merge") %>">
      <%= t("actions.merge") %> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu merge-form dropdown-menu-right">
      <li>
        <p class="mb-0"><%= t("#{singular}._frontend.messages.merge_description") %> <%= record.title %></p>
        <%= form_context :merge, {} do |form| %>

        <fieldset class="mt-3 mb-4 p-0">
          <div class="alert alert-danger missing-ref-message" style="display: none;"><%= t "#{singular}._frontend.messages.please_select_a_#{singular}_to_merge" %></div>
          <%= render_aspace_partial :partial => "#{controller}/linker",
                                    :locals => {
                                      :form => form,
                                      :exclude_ids => [record.uri],
                                      :allowed_types => [@agent_type],
                                      :hide_create => true,
                                      :multiplicity => multiplicity,
                                      :layout => 'stacked' }%>
        </fieldset>
        <div class="pl-0 form-actions d-flex justify-content-between">
          <%=
             button_get_selector(t("actions.merge"),
                                   url_for(:controller => controller, :action => :merge_selector, :id => record.id),
                                   {
                                     :class => "btn btn-primary merge-button",
                                     :"data-title" => confirmation_title,
                                     :"data-message" => confirmation_msg,
                                     :"data-confirm-btn-label" => "#{t("actions.merge_agent_compare_agent_details")}",
                                     :"data-confirm-btn-class" => "btn btn-primary"
                                   })
          %>
          <a class="btn btn-default btn-cancel" href="#"><%= t("actions.cancel") %></a>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
