<%= setup_context :object => @agent, :controller => :agents,  :agent_type => @agent.agent_type, :title => "#{t("actions.merge")} #{t("agent.agent_type.#{@agent.agent_type}")}" %>

<div class="form-actions d-flex mb-3">
  <div class='col d-flex gap-x-2'>
    <button type="button" class="btn btn-default preview-merge"><%= t("agent._frontend.action.preview") %></button>
    <button type="button" class="btn btn-primary do-merge"><%= t("actions.merge") %></button>
    <%= link_to t("actions.cancel"), {:controller => :agents, :action => :show, :id => @agent.id}, :class => "btn btn-cancel btn-default ml-auto" %>
  </div>
</div>
<div id="merge-selector-root" class="d-flex">
  <div id="merge-merge_destination" class="col-md-6">
    <h2><%= t("agent._frontend.section.merge_destination_record") %></h2>
    <div class="record-pane">
      <%= form_for @agent, :as => "agent", :url => {:action => :merge_detail}, :html => {:class => 'form-horizontal aspace-record-form', :id => "agent_form"} do |f| %>
        <%= form_context :agent, @agent do |form| %>
          <div id="title_left" class="pb-1">
            <h2 class="merge-group"><%= @agent.title %>  <span class="label label-info badge"><%= t("agent._singular") %></span></h2>
          </div>

          <%= render_aspace_partial :partial => "shared/flash_messages" %>

          <h3><%= t("agent._frontend.section.basic_information") %></h3>
          <section id="basic_information_left" class="merge-group">
            <div class="form-group">
              <label class="col-sm-2 control-label"><%= t("agent.type") %></label>
              <div class="col-sm-9 label-only"><%= t("agent.agent_type.#{@agent.agent_type}") %></div>
            </div>
            <%= display_audit_info(@agent) %>
          </section>

          <% if @agent.agent_record_identifiers.length > 0 || @merge_candidate.agent_record_identifiers.length > 0 %>
            <h3><%= t("agent_record_identifiers._plural") %></h3>
            <section id="agent_agent_record_identifier_left" class="merge-group merge-group-left">
                  <% if @agent.agent_record_identifiers.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_record_identifiers", :section_id => "#{@agent.agent_type}_agent_record_identifier", :template => "agent_record_identifier_merge_destination", :heading_text => t("agent_record_identifiers._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_record_identifier"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_record_controls.length > 0 || @merge_candidate.agent_record_controls.length > 0 %>
            <h3><%= t("agent_record_controls._plural") %></h3>
            <section id="agent_agent_record_control_left" class="merge-group merge-group-left">
                  <% if @agent.agent_record_controls.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_record_controls", :section_id => "#{@agent.agent_type}_agent_record_control", :template => "agent_record_control_merge_destination", :heading_text => t("agent_record_controls._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_record_control"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_other_agency_codes.length > 0 || @merge_candidate.agent_other_agency_codes.length > 0 %>
            <h3><%= t("agent_other_agency_codes._plural") %></h3>
            <section id="agent_agent_other_agency_code_left" class="merge-group merge-group-left">
                  <% if @agent.agent_other_agency_codes.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_other_agency_codes", :section_id => "#{@agent.agent_type}_agent_other_agency_code", :template => "agent_other_agency_code_merge_destination", :heading_text => t("agent_other_agency_codes._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_other_agency_code"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_conventions_declarations.length > 0 || @merge_candidate.agent_conventions_declarations.length > 0 %>
            <h3><%= t("agent_conventions_declarations._plural") %></h3>
            <section id="agent_agent_conventions_declaration_left" class="merge-group merge-group-left">
                  <% if @agent.agent_conventions_declarations.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_conventions_declarations", :section_id => "#{@agent.agent_type}_agent_conventions_declaration", :template => "agent_conventions_declaration_merge_destination", :heading_text => t("agent_conventions_declarations._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_conventions_declaration"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_maintenance_histories.length > 0 || @merge_candidate.agent_maintenance_histories.length > 0 %>
            <h3><%= t("agent_maintenance_histories._plural") %></h3>
            <section id="agent_agent_maintenance_history_left" class="merge-group merge-group-left">
                  <% if @agent.agent_maintenance_histories.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_maintenance_histories", :section_id => "#{@agent.agent_type}_agent_maintenance_history", :template => "agent_maintenance_history_merge_destination", :heading_text => t("agent_maintenance_histories._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_maintenance_history"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_sources.length > 0 || @merge_candidate.agent_sources.length > 0 %>
            <h3><%= t("agent_sources._plural") %></h3>
            <section id="agent_agent_source_left" class="merge-group merge-group-left">
                  <% if @agent.agent_sources.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_sources", :section_id => "#{@agent.agent_type}_agent_source", :template => "agent_source_merge_destination", :heading_text => t("agent_sources._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_source"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_alternate_sets.length > 0 || @merge_candidate.agent_alternate_sets.length > 0 %>
            <h3><%= t("agent_alternate_sets._plural") %></h3>
            <section id="agent_agent_alternate_set_left"   class="merge-group merge-group-left">
                  <% if @agent.agent_alternate_sets.length > 0 %>
                  <%= @agent.agent_type.inspect %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_alternate_sets", :section_id => "#{@agent.agent_type}_agent_alternate_set", :template => "agent_alternate_set_merge_destination", :heading_text => t("agent_alternate_sets._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_alternate_set"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_identifiers.length > 0 || @merge_candidate.agent_identifiers.length > 0 %>
            <h3><%= t("agent_identifiers._plural") %></h3>
            <section id="agent_agent_identifier_left" class="merge-group merge-group-left">
                  <% if @agent.agent_identifiers.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_identifiers", :section_id => "#{@agent.agent_type}_agent_identifier", :template => "agent_identifier_merge_destination", :heading_text => t("agent_identifiers._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_identifier"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.names.length > 0 || @merge_candidate.names.length > 0 %>
            <h3><%= t("agent_name._plural") %></h3>
            <section id="agent_names_left" class="merge-group merge-group-left">
                  <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "names", :section_id => "#{@agent.agent_type}_names", :template_erb => "agents/name_forms/#{@agent.agent_type}_merge_destination", :template => "name_#{@agent.agent_type.to_s.gsub("agent_","")}", :help_topic => "#{@agent.agent_type}_names"} %>
            </section>
          <% end %>

          <% if @agent.dates_of_existence.length > 0 || @merge_candidate.dates_of_existence.length > 0 %>
           <h3><%= t("agent._frontend.section.dates_of_existence") %></h3>
            <section id="agent_dates_of_existence_left" class="merge-group merge-group-left">
                  <% if @agent.dates_of_existence.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "dates_of_existence", :section_id => "#{@agent.agent_type}_dates_of_existence", :template_erb => "dates/template_merge_destination", :template => "structured_date_label_existence", :heading_text => t("agent._frontend.section.dates_of_existence"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_dates_of_existence"} %>
                  <% end %>
            </section>
          <% end %>


          <% if @agent.agent_type == "agent_person" && (@agent.agent_genders.length > 0 || @merge_candidate.agent_genders.length > 0) %>
            <h3><%= t("agent_genders._plural") %></h3>
            <section id="agent_agent_gender_left" class="merge-group merge-group-left">
                  <% if @agent.agent_genders.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_genders", :section_id => "#{@agent.agent_type}_agent_gender_merge_destination", :template => "agent_gender_merge_destination", :heading_text => t("agent_genders._plural"), :heading_size => "h5"} %>
                  <% end %>
            </section>
          <% end %>


          <% if @agent.agent_places.length > 0 || @merge_candidate.agent_places.length > 0 %>
            <h3><%= t("agent_places._plural") %></h3>
            <section id="agent_agent_place_left" class="merge-group merge-group-left">
                  <% if @agent.agent_places.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_places", :section_id => "#{@agent.agent_type}_agent_place", :template => "agent_place_merge_destination", :heading_text => t("agent_places._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_place"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_occupations.length > 0 || @merge_candidate.agent_occupations.length > 0 %>
            <h3><%= t("agent_occupations._plural") %></h3>
            <section id="agent_agent_occupation_left" class="merge-group merge-group-left">
                  <% if @agent.agent_occupations.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_occupations", :section_id => "#{@agent.agent_type}_agent_occupation", :template => "agent_occupation_merge_destination", :heading_text => t("agent_occupations._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_occupation"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_functions.length > 0 || @merge_candidate.agent_functions.length > 0 %>
            <h3><%= t("agent_functions._plural") %></h3>
            <section id="agent_agent_function_left" class="merge-group merge-group-left">
                  <% if @agent.agent_functions.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_functions", :section_id => "#{@agent.agent_type}_agent_function", :template => "agent_function_merge_destination", :heading_text => t("agent_functions._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_function"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_topics.length > 0 || @merge_candidate.agent_topics.length > 0 %>
            <h3><%= t("agent_topics._plural") %></h3>
            <section id="agent_agent_topic_left" class="merge-group merge-group-left">
                  <% if @agent.agent_topics.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_topics", :section_id => "#{@agent.agent_type}_agent_topic", :template => "agent_topic_merge_destination", :heading_text => t("agent_topics._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_agent_topic"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.used_languages.length > 0 || @merge_candidate.used_languages.length > 0 %>
            <h3><%= t("used_languages._plural") %></h3>
            <section id="agent_used_language_left" class="merge-group merge-group-left">
                  <% if @agent.used_languages.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "used_languages", :section_id => "#{@agent.agent_type}_used_language", :template => "used_language_merge_destination", :heading_text => t("used_languages._plural"), :heading_size => "h5", :help_topic => "#{@agent.agent_type}_used_language"} %>
                  <% end %>
            </section>
          <% end %>


          <% if @agent.agent_contacts.length > 0 || @merge_candidate.agent_contacts.length > 0 %>
            <h3><%= t("agent_contact._plural") %></h3>
            <section id="agent_contact_details_left" class="merge-group merge-group-left">
                  <% if @agent.agent_contacts.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_contacts", :section_id => "#{@agent.agent_type}_contact_details", :template_erb => "agents/contact_details_merge_destination", :template => "agent_contact", :help_topic => "#{@agent.agent_type}_contact_details"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.notes.length > 0 || @merge_candidate.notes.length > 0 %>
            <h3><%= t("note._plural") %></h3>
            <section id="agent_notes_left" class="merge-group merge-group-left merge-no-color">
                  <% if @agent.notes.length > 0 %>
                    <%= render_aspace_partial :partial => "notes/form_merge_destination", :locals => {:form => form, :all_note_types => note_types_for(form['jsonmodel_type']), :section_id => "#{@agent.agent_type}_notes"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_type != "agent_software" %>
            <% if @agent.related_agents.length > 0 || @merge_candidate.related_agents.length > 0 %>
              <h3><%= t("related_agent._plural") %></h3>
              <section id="agent_related_agents_left" class="merge-group">
                    <% if !@agent['related_agents'].blank? %>
                      <%= render_aspace_partial :partial => "related_agents/show_merge_destination", :locals => { :context => form } %>
                    <% end %>
              </section>
              <% end %>
          <% end %>

          <% if @agent.external_documents.length > 0 || @merge_candidate.external_documents.length > 0 %>
            <h3><%= t("external_document._plural") %></h3>
            <section id="agent_external_documents_left" class="merge-group merge-group-left">
                  <% if @agent.external_documents.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "external_documents", :section_id => "#{@agent.agent_type}_external_documents", :template_erb => "external_documents/template_merge_destination"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_resources.length > 0 || @merge_candidate.agent_resources.length > 0 %>
            <h3><%= t("agent_resource._plural") %></h3>
            <section id="agent_agent_resources_left" class="merge-group merge-group-left">
                  <% if @agent.agent_resources.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_resources", :section_id => "#{@agent.agent_type}_agent_resources", :template_erb => "agent_resources/template", :template => "agent_resource_merge_destination"} %>
                  <% end %>
            </section>
          <% end %>

        <% end %>
      <% end %>
    </div>
  </div>
  <div id="merge-merge_candidate" class="col-md-6">
    <h2>
      <%= t("agent._frontend.section.merge_candidate_record") %>
      <span class='ml-auto'>
        <%= link_to_help :topic => "agent_merge" %>
      </span>
    </h2>
    <div class="record-pane">
      <%= form_for @merge_candidate, :as => "agent", :url => {:action => :merge_detail}, :html => {:class => 'form-horizontal aspace-record-form', :id => "agent_form"} do |f| %>
        <%= form_context :agent, @merge_candidate do |form| %>
          <input type='hidden' name='merge_candidate_uri' value='<%= @merge_candidate.uri %>' />
          <div id='title_right'>
            <h2 class="merge-group"><%= @merge_candidate.title %><span class="label label-info badge"><%= t("agent._singular") %></span></h2>
          </div>

          <%= render_aspace_partial :partial => "shared/flash_messages" %>

          <h3><%= t("agent._frontend.section.basic_information") %></h3>
          <section id="basic_information_right" class="merge-group merge-group-right">
            <div class="form-group">
              <label class="col-sm-2 control-label"><%= t("agent.type") %></label>
              <div class="col-sm-9 label-only"><%= t("agent.agent_type.#{@agent.agent_type}") %></div>
            </div>
            <%= display_audit_info(@merge_candidate) %>
          </section>


          <% if @agent.agent_record_identifiers.length > 0 || @merge_candidate.agent_record_identifiers.length > 0 %>
            <h3><%= t("agent_record_identifiers._plural") %></h3>
            <section id="agent_agent_record_identifier_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_record_identifiers.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_record_identifiers", :section_id => "#{@merge_candidate.agent_type}_agent_record_identifier", :template => "agent_record_identifier_merge_candidate", :heading_text => t("agent_record_identifiers._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_record_identifier", :replace => (@agent.agent_record_identifiers.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_record_controls.length > 0 || @merge_candidate.agent_record_controls.length > 0 %>
            <h3><%= t("agent_record_controls._plural") %></h3>
            <section id="agent_agent_record_control_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_record_controls.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_record_controls", :section_id => "#{@merge_candidate.agent_type}_agent_record_control", :template => "agent_record_control_merge_candidate", :heading_text => t("agent_record_controls._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_record_control", :replace => (@agent.agent_record_controls.length > 0) } %>
                  <% end %>
            </section>
          <% end %>


          <% if @agent.agent_other_agency_codes.length > 0 || @merge_candidate.agent_other_agency_codes.length > 0 %>
            <h3><%= t("agent_other_agency_codes._plural") %></h3>
            <section id="agent_agent_other_agency_code_right" class="merge-group merge-group-right">
              <% if @merge_candidate.agent_other_agency_codes.length > 0 %>
                <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_other_agency_codes", :section_id => "#{@merge_candidate.agent_type}_agent_other_agency_code", :template => "agent_other_agency_code_merge_candidate", :heading_text => t("agent_other_agency_codes._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_other_agency_code", :replace => (@agent.agent_other_agency_codes.length > 0)} %>
              <% end %>
            </section>
          <% end %>

          <% if @agent.agent_conventions_declarations.length > 0 || @merge_candidate.agent_conventions_declarations.length > 0 %>
            <h3><%= t("agent_conventions_declarations._plural") %></h3>
            <section id="agent_agent_conventions_declaration_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_conventions_declarations.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_conventions_declarations", :section_id => "#{@merge_candidate.agent_type}_agent_conventions_declaration", :template => "agent_conventions_declaration_merge_candidate", :heading_text => t("agent_conventions_declarations._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_conventions_declaration", :replace => (@agent.agent_conventions_declarations.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_maintenance_histories.length > 0 || @merge_candidate.agent_maintenance_histories.length > 0 %>
            <h3><%= t("agent_maintenance_histories._plural") %></h3>
            <section id="agent_agent_maintenance_history_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_maintenance_histories.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_maintenance_histories", :section_id => "#{@merge_candidate.agent_type}_agent_maintenance_history", :template => "agent_maintenance_history_merge_candidate", :heading_text => t("agent_maintenance_histories._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_maintenance_history", :replace => (@agent.agent_maintenance_histories.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_sources.length > 0 || @merge_candidate.agent_sources.length > 0 %>
            <h3><%= t("agent_sources._plural") %></h3>
            <section id="agent_agent_source_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_sources.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_sources", :section_id => "#{@merge_candidate.agent_type}_agent_source", :template => "agent_source_merge_candidate", :heading_text => t("agent_sources._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_source", :replace => (@agent.agent_sources.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_alternate_sets.length > 0 || @merge_candidate.agent_sources.length > 0 %>
            <h3><%= t("agent_alternate_sets._plural") %></h3>
            <section id="agent_agent_alternate_set_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_alternate_sets.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_alternate_sets", :section_id => "#{@merge_candidate.agent_type}_agent_alternate_set", :template => "agent_alternate_set_merge_candidate", :heading_text => t("agent_alternate_sets._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_alternate_set", :replace => (@agent.agent_alternate_sets.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_identifiers.length > 0 || @merge_candidate.agent_identifiers.length > 0 %>
            <h3><%= t("agent_identifiers._plural") %></h3>
            <section id="agent_agent_identifier_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_identifiers.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_identifiers", :section_id => "#{@merge_candidate.agent_type}_agent_identifier", :template => "agent_identifier_merge_candidate", :heading_text => t("agent_identifiers._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_identifier"} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.names.length > 0 || @merge_candidate.names.length > 0 %>
            <h3><%= t("agent_name._plural") %></h3>
            <section id="agent_names_right" class="merge-group merge-group-right">
                  <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "names", :section_id => "#{@agent.agent_type}_names", :template_erb => "agents/name_forms/#{@agent.agent_type}_merge", :template => "name_#{@agent.agent_type.to_s.gsub("agent_","")}", :help_topic => "#{@agent.agent_type}_names", :replace => (@agent.names.length > 0)} %>
            </section>
          <% end %>


          <% if @agent.dates_of_existence.length > 0 || @merge_candidate.dates_of_existence.length > 0 %>
            <h3><%= t("agent._frontend.section.dates_of_existence") %></h3>
            <section id="agent_dates_of_existence_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.dates_of_existence.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "dates_of_existence", :section_id => "#{@merge_candidate.agent_type}_dates_of_existence", :template_erb => "dates/template_merge", :template => "structured_date_label_existence", :heading_text => t("agent._frontend.section.dates_of_existence"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_dates_of_existence", :replace => (@agent.dates_of_existence.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_type == "agent_person" && (@agent.agent_genders.length > 0 || @merge_candidate.agent_genders.length > 0) %>
            <h3><%= t("agent_genders._plural") %></h3>
            <section id="agent_agent_gender_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_genders.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_genders", :section_id => "#{@merge_candidate.agent_type}_agent_gender_merge_candidate", :template => "agent_gender_merge_candidate", :heading_text => t("agent_genders._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_gender", :replace => (@agent.agent_genders.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_places.length > 0 || @merge_candidate.agent_places.length > 0 %>
            <h3><%= t("agent_places._plural") %></h3>
            <section id="agent_agent_place_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_places.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_places", :section_id => "#{@merge_candidate.agent_type}_agent_place", :template => "agent_place_merge_candidate", :heading_text => t("agent_places._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_place", :replace => (@agent.agent_places.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_occupations.length > 0 || @merge_candidate.agent_occupations.length > 0 %>
            <h3><%= t("agent_occupations._plural") %></h3>
            <section id="agent_agent_occupation_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_occupations.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_occupations", :section_id => "#{@merge_candidate.agent_type}_agent_occupation", :template => "agent_occupation_merge_candidate", :heading_text => t("agent_occupations._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_occupation", :replace => (@agent.agent_occupations.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_functions.length > 0 || @merge_candidate.agent_functions.length > 0 %>
            <h3><%= t("agent_functions._plural") %></h3>
            <section id="agent_agent_function_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_functions.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_functions", :section_id => "#{@merge_candidate.agent_type}_agent_function", :template => "agent_function_merge_candidate", :heading_text => t("agent_functions._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_function", :replace => (@agent.agent_functions.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_topics.length > 0 || @merge_candidate.agent_topics.length > 0 %>
            <h3><%= t("agent_topics._plural") %></h3>
            <section id="agent_agent_topic_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_topics.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_topics", :section_id => "#{@merge_candidate.agent_type}_agent_topic", :template => "agent_topic_merge_candidate", :heading_text => t("agent_topics._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_agent_topic", :replace => (@agent.agent_topics.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.used_languages.length > 0 || @merge_candidate.used_languages.length > 0 %>
            <h3><%= t("used_languages._plural") %></h3>
            <section id="agent_used_language_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.used_languages.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "used_languages", :section_id => "#{@merge_candidate.agent_type}_used_language", :template => "used_language_merge_candidate", :heading_text => t("used_languages._plural"), :heading_size => "h5", :help_topic => "#{@merge_candidate.agent_type}_used_language", :replace => (@agent.used_languages.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_contacts.length > 0 || @merge_candidate.agent_contacts.length > 0 %>
           <h3><%= t("agent_contact._plural") %></h3>
           <section id="agent_contact_details_right" class="merge-group merge-group-right">
                 <% if @merge_candidate.agent_contacts.length > 0 %>
                   <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_contacts", :section_id => "#{@agent.agent_type}_contact_details", :template_erb => "agents/contact_details_merge", :template => "agent_contact", :help_topic => "#{@agent.agent_type}_contact_details", :replace => (@agent.agent_contacts.length > 0)} %>
                 <% end %>
           </section>
          <% end %>

          <% if @agent.notes.length > 0 || @merge_candidate.notes.length > 0 %>
           <h3><%= t("note._plural") %></h3>
           <section id="agent_notes_right" class="merge-group merge-group-right merge-no-color">
                 <% if @merge_candidate.notes.length > 0 %>
                   <%= render_aspace_partial :partial => "notes/form_merge", :locals => {:form => form, :all_note_types => note_types_for(form['jsonmodel_type']), :section_id => "#{@agent.agent_type}_notes", :replace => false} %>
                 <% end %>
           </section>
          <% end %>

          <% if @agent.agent_type != "agent_software" %>
            <% if @agent.related_agents.length > 0 || @merge_candidate.related_agents.length > 0 %>
              <h3><%= t("related_agent._plural") %></h3>
              <section id="agent_related_agents_right" class="merge-group merge-group-right">
                    <% if !@merge_candidate['related_agents'].blank? %>
                      <%= render_aspace_partial :partial => "related_agents/show_merge", :locals => { :context => form } %>
                    <% end %>
              </section>
            <% end %>
          <% end %>

          <% if @agent.external_documents.length > 0 || @merge_candidate.external_documents.length > 0 %>
            <h3><%= t("external_document._plural") %></h3>
            <section id="agent_external_documents_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.external_documents.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "external_documents", :section_id => "#{@agent.agent_type}_external_documents", :template_erb => "external_documents/template_merge", :replace => (@agent.external_documents.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

          <% if @agent.agent_resources.length > 0 || @merge_candidate.agent_resources.length > 0 %>
            <h3><%= t("agent_resource._plural") %></h3>
            <section id="agent_agent_resources_right" class="merge-group merge-group-right">
                  <% if @merge_candidate.agent_resources.length > 0 %>
                    <%= render_aspace_partial :partial => "shared/subrecord_form_merge", :locals => {:form => form, :name => "agent_resources", :section_id => "#{@agent.agent_type}_agent_resources", :template_erb => "agent_resources/template", :template => "agent_resource_merge_candidate", :replace => (@agent.agent_resources.length > 0)} %>
                  <% end %>
            </section>
          <% end %>

        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="form-actions d-flex gap-x-2 p-3">
  <button type="button" class="btn btn-default preview-merge"><%= t("agent._frontend.action.preview") %></button>
  <button type="button" class="btn btn-primary do-merge"><%= t("actions.merge") %></button>
  <%= link_to t("actions.cancel"), {:controller => :agents, :action => :show, :id => @agent.id}, :class => "btn btn-cancel btn-default ml-auto" %>
</div>
