<div id="archivesSpaceSidebar">
  <ul class="nav nav-list as-nav-list">
    <% if @exceptions %>
      <li class="<% if @exceptions.has_key?(:errors)%>alert-error<% end %>">
        <a href="#form_messages">Errors and Warnings  <span class="icon-chevron-right"></span></a>
      </li>
    <% end %>

    <li><a href="#agent_details"><%= I18n.t("agent._html.section.basic_information") %> <span class="icon-chevron-right"></span></a></li>

    <% if not controller.action_name === "show" or @agent.names.length > 0 %>
      <li><a href="#names"><%= I18n.t("agent_name._html.plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @agent.agent_contacts.length > 0 %>
      <li><a href="#contacts"><%= I18n.t("agent_contact._html.plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @agent.notes.length > 0 %>
      <li><a href="#notes"><%= I18n.t("note._html.plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or !@agent['related_agents'].blank? %>
      <li><a href="#related_agents"><%= I18n.t("related_agent._html.plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @agent.external_documents.length > 0 %>
      <li><a href="#agent_external_documents_"><%= I18n.t "external_document._html.plural" %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" %>
      <li class="form-actions">
        <div class="btn-group <% if ["new", "create"].include?(controller.action_name) %>btn-submit-group<% end %>">
          <button type="submit" class="btn btn-primary"><%= I18n.t "actions.save_prefix" %> <%= I18n.t("agent.agent_type.#{@agent.agent_type}") %></button>
          <% if ["new", "create"].include?(controller.action_name) %>
            <button type="submit" id="createPlusOne" name="plus_one" class="btn btn-primary"><%= I18n.t("actions.save_plus_one") %></button>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
