<% if user_can?('update_agent_record') %>
  <div class="row-fluid">
    <div class="span12">
      <div class="record-toolbar">
        <% if !['edit', 'update'].include?(controller.action_name) %>
          <div class="btn-group pull-left">
            <%= link_to I18n.t("actions.edit"), {:controller => :agents, :action => :edit, :id => @agent.id, :type => @agent.agent_type}, :class => "btn btn-small btn-primary" %>
          </div>
        <% end %>
        <% if ['new', 'create', 'edit', 'update'].include?(controller.action_name) %>
          <div class="pull-left save-changes">
            <button type="submit" class="btn btn-primary btn-small"><%= I18n.t("actions.save_prefix") %></button>
          </div>
        <% end %>
        <% if ['edit', 'update'].include?(controller.action_name) %>
          <div class="pull-left revert-changes">
            &#180;
            <%= link_to I18n.t("actions.revert"), {:controller => :agents, :action => :edit, :id => @agent.id}, :class => "btn btn-small" %>
            <%= I18n.t("actions.toolbar_disabled_message") %>
          </div>
        <% end %>
        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <div class="btn btn-inline-form">
              <%= button_delete_action url_for(:controller => :agents, :action => :delete, :id => @agent.id) %>
            </div>
          </div>

          <div class="btn-group">
            <%= link_to I18n.t("actions.export_eac"), {:controller => :exports, :action => :download_eac, :id => @agent.id, :type => @agent.agent_type}, :class => "btn btn-small" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
