<%= render :partial => "shared/breadcrumb", :locals => {:trail => [link_to("Browse Agents", :controller => :agents, :action => :index), link_to(@agent.names[0]["sort_name"], :controller => :agents, :action => :show, :type => @agent.agent_type), "Edit"]} %>

<%= jsonmodel_form_for @agent, :as => "agent", :url => {:action => :update, :id => @agent.id, :type => @agent.agent_type}, :html => {:class => 'form-horizontal'} do |f| %>
<div class="row-fluid">
  <div class="span3">
    <%= render :partial => "agents/sidebar" %>
  </div>
  <div class="span9 record-pane">
    <h2><%= @agent.names[0]["primary_name"] %>  <span class="label label-info">Agent</span></h2>
    <%= render :partial => "agents/form", :locals => {:f => f} %>
    <div class="form-actions">            
      <button type="submit" class="btn btn-primary">Save <%= I18n.t("agent.agent_type.#{@agent.agent_type}") %></button>   
      <%= link_to "Cancel", :back, :class => "btn btn-cancel" %>
    </div>
  </div>
</div>
<% end %>
