<%= setup_context(:title => I18n.t("agent._html.plural")) %>
<%
   add_column(I18n.t("agent_name.authority_id"), proc {|record| record['authority_id']}, :sortable => true, :sort_by => "authority_id")
   add_column(I18n.t("agent_name.source"), proc {|record| I18n.t("enumerations.name_source.#{record['source']}", :default => record['source']) if record['source']}, :sortable => true, :sort_by => "source")
   add_column(I18n.t("agent_name.rules"), proc {|record| I18n.t("enumerations.name_rule.#{record['rules']}", :default => record['rules']) if record['rules']}, :sortable => true, :sort_by => "rules")
%>
<div class="row-fluid">
  <div class="span3">
    <%= render :partial => "search/filter" %>
  </div>
  <div class="span9">
    <% if user_can?('update_agent_record') %>
      <div class="row-fluid">
        <div class="span12">
          <div class="record-toolbar">
            <div class="btn-group pull-right">
              <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                <%= I18n.t("actions.create") %> <%= I18n.t("agent._html.singular") %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to I18n.t("agent_person._html.singular"), :controller => :agents, :action => :new, :type => :agent_person %></li>
                <li><%= link_to I18n.t("agent_family._html.singular"), :controller => :agents, :action => :new, :type => :agent_family %></li>
                <li><%= link_to I18n.t("agent_corporate_entity._html.singular"), :controller => :agents, :action => :new, :type => :agent_corporate_entity %></li>
                <li><%= link_to I18n.t("agent_software._html.singular"), :controller => :agents, :action => :new, :type => :agent_software %></li>
              </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div class="record-pane">
      <div class="btn-group pull-right">
        <% if user_can?('update_archival_record') %>
          <div class="btn-group pull-right">

          </div>
        <% end %>
      </div>
      <h2><%= I18n.t("agent._html.plural") %></h2>

      <%= render :partial => "shared/flash_messages" %>

      <%= render :partial => "search/listing" %>
    </div>
  </div>
</div>
