<%= setup_context(:title => t("agent._plural")) %>

<div class="d-flex">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('update_agent_record') %>
      <div class="record-toolbar d-flex align-items-center">
        <div class="btn-group ml-auto">
          <% if user_can?('manage_repository') %>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                <%= t("actions.edit_required_fields") %>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to t("agent_person._singular"), {:controller => :agents, :action => :required, :agent_type => :agent_person}, :class => "dropdown-item" %></li>
                <li><%= link_to t("agent_family._singular"), {:controller => :agents, :action => :required, :agent_type => :agent_family}, :class => "dropdown-item" %></li>
                <li><%= link_to t("agent_corporate_entity._singular"), {:controller => :agents, :action => :required, :agent_type => :agent_corporate_entity}, :class => "dropdown-item" %></li>
                <li><%= link_to t("agent_software._singular"), {:controller => :agents, :action => :required, :agent_type => :agent_software}, :class => "dropdown-item" %></li>

              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                <%= t("actions.edit_default_values") %>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to t("agent_person._singular"), {:controller => :agents, :action => :defaults, :agent_type => :agent_person}, :class => "dropdown-item" %></li>
                <li><%= link_to t("agent_family._singular"), {:controller => :agents, :action => :defaults, :agent_type => :agent_family}, :class => "dropdown-item" %></li>
                <li><%= link_to t("agent_corporate_entity._singular"), {:controller => :agents, :action => :defaults, :agent_type => :agent_corporate_entity}, :class => "dropdown-item" %></li>
                <li><%= link_to t("agent_software._singular"), {:controller => :agents, :action => :defaults, :agent_type => :agent_software}, :class => "dropdown-item" %></li>
              </ul>
            </div>
          <% end %>

          <%= link_to t("actions.export_csv"), request.parameters.merge({ :format => :csv, :fields => fields}), id: "searchExport",  class:  "btn btn-sm btn-primary" %>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
              <%= t("agent._frontend.action.create") %>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to t("agent_person._singular"), {:controller => :agents, :action => :new, :agent_type => :agent_person}, :class => "dropdown-item" %></li>
              <li><%= link_to t("agent_family._singular"), {:controller => :agents, :action => :new, :agent_type => :agent_family}, :class => "dropdown-item" %></li>
              <li><%= link_to t("agent_corporate_entity._singular"), {:controller => :agents, :action => :new, :agent_type => :agent_corporate_entity}, :class => "dropdown-item" %></li>
              <li><%= link_to t("agent_software._singular"), {:controller => :agents, :action => :new, :agent_type => :agent_software}, :class => "dropdown-item" %></li>
            </ul>
          </div>

          <% if user_can?('delete_agent_record') %>
            <%= button_delete_multiple_action(:agents) %>
          <% end %>
          <%# if user_can?('merge_agent_record') %>
            <%#=
               button_confirm_action(t("actions.merge"),
                url_for({:controller => :agents, :action => :merge}),
                  {
                    :class => "btn btn-sm btn-default merge-button multiselect-enabled",
                    :"data-multiselect" => "#tabledSearchResults",
                    :"data-title" => "#{t("actions.merge_from_browse_confirm_title")}",
                    :"data-message" => "#{t("actions.merge_agent_from_browse_confirm_message")}",
                    :"data-confirm-btn-label" => "#{t("actions.merge")}",
                    :"data-confirm-btn-class" => "btn btn-default"
                  })
            %>
          <%# end %>
        </div>
      </div>
    <% end %>
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= t("agent._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
