<%= setup_context(:title => I18n.t("agent._plural")) %>
<%
   @show_multiselect_column = user_can?("delete_agent_record")
   title_column_header(I18n.t("agent.name"))
   add_column(I18n.t("agent_name.authority_id"), proc {|record| record['authority_id']}, :sortable => true, :sort_by => "authority_id")
   add_column(I18n.t("agent_name.source"), proc {|record| I18n.t("enumerations.name_source.#{record['source']}", :default => record['source']) if record['source']}, :sortable => true, :sort_by => "source")
   add_column(I18n.t("agent_name.rules"), proc {|record| I18n.t("enumerations.name_rule.#{record['rules']}", :default => record['rules']) if record['rules']}, :sortable => true, :sort_by => "rules")
%>
<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('update_agent_record') %>
      <div class="record-toolbar">
        <div class="btn-group pull-right">
          <% if user_can?('manage_repository') %>
            <div class="btn-group">
              <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                <%= I18n.t("actions.edit_required_fields") %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu open-aligned-right">
                <li><%= link_to I18n.t("agent_person._singular"), {:controller => :agents, :action => :required, :agent_type => :agent_person} %></li>
                <li><%= link_to I18n.t("agent_family._singular"), {:controller => :agents, :action => :required, :agent_type => :agent_family} %></li>
                <li><%= link_to I18n.t("agent_corporate_entity._singular"), {:controller => :agents, :action => :required, :agent_type => :agent_corporate_entity} %></li>
                <li><%= link_to I18n.t("agent_software._singular"), {:controller => :agents, :action => :required, :agent_type => :agent_software} %></li>

              </ul>
            </div>
            <div class="btn-group">
              <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                <%= I18n.t("actions.edit_default_values") %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu open-aligned-right">
                <li><%= link_to I18n.t("agent_person._singular"), {:controller => :agents, :action => :defaults, :agent_type => :agent_person} %></li>
                <li><%= link_to I18n.t("agent_family._singular"), {:controller => :agents, :action => :defaults, :agent_type => :agent_family} %></li>
                <li><%= link_to I18n.t("agent_corporate_entity._singular"), {:controller => :agents, :action => :defaults, :agent_type => :agent_corporate_entity} %></li>
                <li><%= link_to I18n.t("agent_software._singular"), {:controller => :agents, :action => :defaults, :agent_type => :agent_software} %></li>

              </ul>
            </div>
          <% end %>

          <div class="btn-group">
            <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv}), id: "searchExport",  class:  "btn btn-sm btn-info" %> 
            <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="#">
              <%= I18n.t("agent._frontend.action.create") %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to I18n.t("agent_person._singular"), :controller => :agents, :action => :new, :agent_type => :agent_person %></li>
              <li><%= link_to I18n.t("agent_family._singular"), :controller => :agents, :action => :new, :agent_type => :agent_family %></li>
              <li><%= link_to I18n.t("agent_corporate_entity._singular"), :controller => :agents, :action => :new, :agent_type => :agent_corporate_entity %></li>
              <li><%= link_to I18n.t("agent_software._singular"), :controller => :agents, :action => :new, :agent_type => :agent_software %></li>
            </ul>
          </div>

          <% if user_can?('delete_agent_record') %>
            <%= button_delete_multiple_action(:agents) %>
          <% end %>
        </div>
        <br style="clear:both" />
      </div>
    <% end %>
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("agent._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
