<%= setup_context :object => @agent, :controller => :agents, :agent_type => @agent.agent_type, :title => @agent.title %>

<div class="d-flex">
   <div class="col-md-3">
      <%= render_aspace_partial :partial => "agents/sidebar" %>
   </div>
   <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
     <%= readonly_context @agent.agent_type.intern, @agent do |readonly| %>
        <h2><%= @agent.title %>  <span class="label label-info badge"><%= t("agent._singular") %></span></h2>

        <%= render_aspace_partial :partial => "shared/flash_messages" %>


        <section id="basic_information">
          <h3><%= t("agent._frontend.section.basic_information") %></h3>

          <%= render_plugin_partials("top_of_basic_information_#{@agent.agent_type}",
                                     :form => readonly,
                                     :record => @agent) %>

          <div class="form-group w-100 row">
            <label class="col-sm-2 control-label text-sm-right"><%= t("agent.type") %></label>
            <div class="col-sm-9 label-only"><%= t("agent.agent_type.#{@agent.agent_type}") %></div>
          </div>

          <%= render_aspace_partial :partial => "shared/public_url", :locals => {:form_object => readonly} if AppConfig[:use_human_readable_urls] %>
          
          <% if @agent.has_key?("is_user") %>
            <%= readonly.label_and_textfield "is_user", { :field_opts => { :readonly => true } } %>
          <% end %>

          <%= readonly.label_and_boolean "publish" %>

          <%= render_plugin_partials("basic_information_#{@agent.agent_type}",
                                     :form => readonly,
                                     :record => @agent) %>
          <div class="py-4">
            <%= display_audit_info(@agent) %>
          </div>
        </section>

        <% if ![:agent_record_identifiers, :agent_record_controls, :agent_other_agency_codes, :agent_conventions_declarations, :agent_maintenance_histories, :agent_sources, :agent_alternate_sets, :metadata_rights_declarations].map {|k| @agent[k]}.flatten.compact.blank? %>
          <section id="record_control_information" class="agents-subsection">
            <h3>
              <%= t("agent._frontend.section.record_control_information") %>
            </h3>

            <% if @agent.agent_record_identifiers.length > 0 %>
              <%= render_aspace_partial :partial => "agent_record_identifiers/show", :locals => { :agent_record_identifiers => @agent.agent_record_identifiers, :section_id => "#{@agent.agent_type}_agent_record_identifier" } %>
            <% end %>

            <% if @agent.agent_record_controls.length > 0 %>
              <%= render_aspace_partial :partial => "agent_record_controls/show", :locals => { :agent_record_controls => @agent.agent_record_controls, :section_id => "#{@agent.agent_type}_agent_record_control" } %>
            <% end %>

            <% if @agent.agent_other_agency_codes.length > 0 %>
              <%= render_aspace_partial :partial => "agent_other_agency_codes/show", :locals => { :agent_other_agency_codes => @agent.agent_other_agency_codes, :section_id => "#{@agent.agent_type}_agent_other_agency_codes" } %>
            <% end %>

            <% if @agent.agent_conventions_declarations.length > 0 %>
              <%= render_aspace_partial :partial => "agent_conventions_declarations/show", :locals => { :agent_conventions_declarations => @agent.agent_conventions_declarations, :section_id => "#{@agent.agent_type}_agent_conventions_declaration" } %>
            <% end %>

            <% if @agent.metadata_rights_declarations.length > 0 %>
                <%= render_aspace_partial :partial => "metadata_rights_declarations/show", :locals => { :metadata_rights_declarations => @agent.metadata_rights_declarations, :section_id => "#{@agent.agent_type}_metadata_rights_declaration" } %>
            <% end %>

            <% if @agent.agent_maintenance_histories.length > 0 %>
              <%= render_aspace_partial :partial => "agent_maintenance_histories/show", :locals => { :agent_maintenance_histories => @agent.agent_maintenance_histories, :section_id => "#{@agent.agent_type}_agent_maintenance_history" } %>
            <% end %>

            <% if @agent.agent_sources.length > 0 %>
              <%= render_aspace_partial :partial => "agent_sources/show", :locals => { :agent_sources => @agent.agent_sources, :section_id => "#{@agent.agent_type}_agent_sources" } %>
            <% end %>

            <% if @agent.agent_alternate_sets.length > 0 %>
              <%= render_aspace_partial :partial => "agent_alternate_sets/show", :locals => { :agent_alternate_sets => @agent.agent_alternate_sets, :section_id => "#{@agent.agent_type}_agent_alternate_set" } %>
            <% end %>

          </section>
        <% end %>

        <section id="identity_information" class="agents-subsection">
          <h3>
            <%= t("agent._frontend.section.identity_information") %>
          </h3>

          <% if @agent.agent_identifiers.length > 0 %>
            <%= render_aspace_partial :partial => "agent_identifiers/show", :locals => { :agent_identifiers => @agent.agent_identifiers, :section_id => "#{@agent.agent_type}_agent_identifier" } %>
          <% end %>

          <%= render_aspace_partial :partial => "agent_names/show", :locals => { :agent => @agent} %>

        </section>

        <% if ![:dates_of_existence, :agent_genders, :agent_places, :agent_occupations, :agent_functions, :agent_topics, :used_languages, :agent_contacts, :notes, :external_documents].map {|k| @agent[k]}.flatten.compact.blank? %>
          <section id="description_information"  class="agents-subsection">
            <h3>
              <%= t("agent._frontend.section.description_information") %>
            </h3>

            <% if @agent.dates_of_existence.length > 0 %>
              <%= render_aspace_partial :partial => "structured_dates/show", :locals => { :dates => @agent.dates_of_existence, :section_title => t("agent.dates_of_existence"), :section_id => "#{@agent.agent_type}_dates_of_existence"} %>
            <% end %>

            <% if @agent_type == :agent_person && @agent.agent_genders.length > 0 %>
              <%= render_aspace_partial :partial => "agent_genders/show", :locals => { :agent_genders => @agent.agent_genders, :section_id => "#{@agent.agent_type}_agent_gender", :context => readonly } %>
            <% end %>

            <% if @agent.agent_places.length > 0 %>
              <%= render_aspace_partial :partial => "agent_places/show", :locals => { :agent_places => @agent.agent_places, :section_id => "#{@agent.agent_type}_agent_place", :context => readonly } %>
            <% end %>

            <% if @agent.agent_occupations.length > 0 %>
              <%= render_aspace_partial :partial => "agent_occupations/show", :locals => { :agent_occupations => @agent.agent_occupations, :section_id => "#{@agent.agent_type}_agent_occupation", :context => readonly } %>
            <% end %>

            <% if @agent.agent_functions.length > 0 %>
              <%= render_aspace_partial :partial => "agent_functions/show", :locals => { :agent_functions => @agent.agent_functions, :section_id => "#{@agent.agent_type}_agent_function", :context => readonly } %>
            <% end %>

            <% if @agent.agent_topics.length > 0 %>
              <%= render_aspace_partial :partial => "agent_topics/show", :locals => { :agent_topics => @agent.agent_topics, :section_id => "#{@agent.agent_type}_agent_topic", :context => readonly } %>
            <% end %>

            <% if @agent.used_languages.length > 0 %>
              <%= render_aspace_partial :partial => "used_languages/show", :locals => { :used_languages => @agent.used_languages, :section_id => "#{@agent.agent_type}_used_language", :context => readonly } %>
            <% end %>

            <% if @agent.agent_contacts.length > 0 && user_can?('view_agent_contact_record') %>
              <%= render_aspace_partial :partial => "agent_contact_details/show", :locals => { :agent_contacts => @agent.agent_contacts, :section_id => "#{@agent.agent_type}_contact_details", :context => readonly } %>
            <% end %>

            <% if @agent.notes.length > 0 %>
              <%= render_aspace_partial :partial => "notes/show", :locals => { :notes => @agent.notes, :context => readonly, :section_id => "#{@agent.agent_type}_notes" } %>
            <% end %>

            <% if @agent.external_documents.length > 0 %>
              <%= render_aspace_partial :partial => "external_documents/show", :locals => { :external_documents => @agent.external_documents, :section_id => "#{@agent.agent_type}_external_documents" } %>
            <% end %>

          </section>
        <% end %>

        <% if ![:agent_resources, :related_agents].map {|k| @agent[k]}.flatten.compact.blank? %>
          <section id="relation_information" class="agents-subsection">
            <h3>
              <%= t("agent._frontend.section.relation_information") %>
            </h3>

            <% if @agent.agent_resources.length > 0 %>
              <%= render_aspace_partial :partial => "agent_resources/show", :locals => { :agent_resources => @agent.agent_resources, :section_id => "#{@agent.agent_type}_agent_resource", :context => readonly } %>
            <% end %>


            <% if !@agent['related_agents'].blank? %>
              <%= render_aspace_partial :partial => "related_agents/show", :locals => { :related_agents => @agent.related_agents, :context => readonly, :section_id => "related_agents" } %>
            <% end %>

          </section>
        <% end %>

        <%= render_aspace_partial :partial => "search/embedded", :locals => {
          :filter_term => {"agent_uris" => @agent.uri}.to_json,
          :section_id => "linked_agents",
          :heading_text => t("agent._frontend.section.search_embedded")
        } %>

        <%= render_aspace_partial :partial => "search/embedded", :locals => {
          :filter_term => {"rights_statement_agent_uris" => @agent.uri}.to_json,
          :section_id => "linked_via_rights_statements",
          :heading_text => t("agent._frontend.section.linked_via_rights_statement")
        } %>

        <%= render_aspace_partial :partial => "search/embedded", :locals => {
          :record => @agent,
          :filter_term => {"linked_record_uris" => @agent.uri}.to_json,
          :section_id => "events",
          :heading_text => t("event._plural")
        } %>

        <% if @agent.agent_type == 'agent_person' %>
          <%= render_aspace_partial :partial => "assessments/embedded", :locals => { :record => @agent, :filter_term => {"assessment_surveyor_uris" => @agent.uri}.to_json, :heading_text => t("assessment._frontend.linked_records.linked_via_assessment_surveyed_by"), :section_id => 'linked_assessments_surveyed_by'} %>

          <%= render_aspace_partial :partial => "assessments/embedded", :locals => { :record => @agent, :filter_term => {"assessment_reviewer_uris" => @agent.uri}.to_json, :heading_text => t("assessment._frontend.linked_records.linked_via_assessment_reviewer"), :section_id => 'linked_assessments_reviewer'} %>
        <% end %>

        <%= show_plugins_for(@agent, readonly) %>
      <% end %>
    </div>
  </div>
</div>
