<%= setup_context :object => @agent, :controller => :agents, :type => @agent.agent_type, :title => @agent.names[0]["sort_name"] %>

<div class="row-fluid">
   <div class="span3">
      <%= render :partial => "agents/sidebar" %>
   </div>
   <div class="span9">
    <%= render :partial => "toolbar" %>
    <div class="record-pane">
     <%= readonly_context @agent.agent_type.intern, @agent do |readonly| %>
        <h2><%= @agent.names[0]['sort_name'] %>  <span class="label label-info"><%= I18n.t("agent._html.singular") %></span></h2>

        <%= render :partial => "shared/flash_messages" %>

        <div class="row-fluid">
          <section id="agent_details">
            <h3><%= I18n.t("agent._html.section.basic_information") %></h3>

            <div class="control-group">
               <div class="control-label"><%= I18n.t("agent.type") %></div>
               <div class="controls label-only"><%= I18n.t("agent.agent_type.#{@agent.agent_type}") %></div>
            </div>
          </section>
        </div>

        <div class="row-fluid">
          <section id="names">
            <h3><%= I18n.t("agent_name._html.plural") %></h3>
            <div class="accordion details" id="agent_name_accordion">
              <% @agent.names.each_with_index do | name, index | %>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <div class="row-fluid accordion-toggle collapsed" data-toggle="collapse" data-parent="#agent_name_accordion" href="#agent_name_<%= index %>">
                      <div class="span1">
                        <span class="icon-chevron-right"></span>
                        <span class="icon-chevron-down"></span>
                      </div>
                      <div class="span6">
                        <%= name['sort_name'] %>
                      </div>
                      <div class="span4"><%# Primary token can go here %></div>
                    </div>
                  </div>
                  <div id="agent_name_<%= index %>" class="accordion-body collapse">
                    <%= read_only_view(name.to_hash) %>
                  </div>
                </div>
              <% end %>
            </div>
          </section>
        </div>

        <% if @agent.agent_contacts.length > 0 %>
          <%= render :partial => "agents/contact_details" %>

          <div class="row-fluid">
            <section id="contacts">
              <h3><%= I18n.t("agent_contact._html.plural") %></h3>
              <div class="accordion details" id="agent_contact_accordion">
                <% @agent.agent_contacts.each_with_index do | contact, index | %>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <div class="row-fluid accordion-toggle collapsed" data-toggle="collapse" data-parent="#agent_contact_accordion" href="#agent_contact_<%= index %>">
                        <div class="span1">
                          <span class="icon-chevron-right"></span>
                          <span class="icon-chevron-down"></span>
                        </div>
                        <div class="span7">
                          <%= contact['name'] %>
                        </div>
                      </div>
                    </div>
                    <div id="agent_contact_<%= index %>" class="accordion-body collapse">
                      <%= readonly_context :agent_contact, contact do |readonly_contact| %>
                        <%= readonly_contact.emit_template("agent_contact") %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </section>
          </div>
        <% end %>

        <% if @agent.notes.length > 0 %>
          <%= render :partial => "notes/show", :locals => { :notes => @agent.notes, :context => readonly } %>
        <% end %>

        <% if !@agent['related_agents'].blank? %>
          <%= render :partial => "related_agents/show", :locals => { :related_agents => @agent.related_agents, :context => readonly } %>
        <% end %>

        <% if @agent.external_documents.length > 0 %>
          <%= render :partial => "external_documents/show", :locals => { :external_documents => @agent.external_documents, :section_id => "agent_external_documents_" } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
