<%
   section_id = "dates" if section_id.blank?
   section_title = "Dates" if section_title.blank?
   heading_size = "h3" if heading_size.blank?
   dates ||=  []
%>

<section id="<%= section_id %>">
  <<%= heading_size %>><%= section_title %></<%= heading_size %>>
  <div class="details my-3" id="<%= section_id %>_accordion">
    <% dates.each_with_index do | date, index | %>
      <div class="card mb-3">
        <div class="card-header panel-heading">
          <div class="row">
            <div class="col-md-1">
              <span class="glyphicon"></span>
            </div>
            <div class="col-md-6">
              <%# Display date preview string %>
              <% if date['date_type_structured'] == "single" && date["structured_date_single"] %>
                <% if date["structured_date_single"]["date_expression"] %>
                  <%= date["structured_date_single"]["date_expression"] %>
                  <br>
                <% end %>

                <% if date["structured_date_single"]["date_standardized"] %>
                  <%= date["structured_date_single"]["date_standardized"] %>

                  <% if date["structured_date_single"]["date_standardized_type"] %>
                    <%= "(" + date["structured_date_single"]["date_standardized_type"] + ")" %>
                   <br>
                  <% end %>
                <% end %>

              <% elsif date['date_type_structured'] == "range" && date["structured_date_range"] %>
                <% if date["structured_date_range"]["begin_date_expression"] %>
                  <%= date["structured_date_range"]["begin_date_expression"] %>
                <% end %>

                <% if date["structured_date_range"]["end_date_expression"] %>
                  -&nbsp;
                  <%= date["structured_date_range"]["end_date_expression"] %>

                <% end %>

                <% if date["structured_date_range"]["begin_date_expression"] || date["structured_date_range"]["end_date_expression"]%>
                  <br>
                <% end %>
                  

                <% if date["structured_date_range"]["begin_date_standardized"] %>
                  <%= date["structured_date_range"]["begin_date_standardized"] %>

                  <% if date["structured_date_range"]["begin_date_standardized_type"] %>
                    <%= "(" + date["structured_date_range"]["begin_date_standardized_type"] + ")" %>
                  <% end %>
                <% end %>

                <% if date["structured_date_range"]["end_date_standardized"] %>
                  -&nbsp;
                  <%= date["structured_date_range"]["end_date_standardized"] %>

                  <% if date["structured_date_range"]["end_date_standardized_type"] %>
                    <%= "(" + date["structured_date_range"]["end_date_standardized_type"] + ")" %>
                  <% end %>
                <% end %>

                <% if date["structured_date_range"]["begin_date_standardized"] || date["structured_date_range"]["end_date_standardized"]%>
                  <br>
                <% end %>
              <% end %>

            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
        <div id="<%= section_id %>_date_<%= index %>" class="panel-collapse collapse">
          <%# replacing call to read_only_view with custom code since structured dates have subrecords not supported by that method %>

          <div class="form-horizontal">
            <div class='form-group'>
              <div class='control-label col-sm-2'>Date Type</div>
              <div class='label-only col-sm-8'><%= t("enumerations.date_type_structured.#{date['date_type_structured']}", :default => date['date_type_structured']) %></div>
            </div>

            <% if date['date_certainty'] %>
              <div class='form-group'>
                <div class='control-label col-sm-2'>Certainty</div>
                <div class='label-only col-sm-8'><%= t("enumerations.date_certainty.#{date['date_certainty']}", :default => date['date_certainty']) %></div>
              </div>
            <% end %>

            <% if date['date_era'] %>
              <div class='form-group'>
                <div class='control-label col-sm-2'>Era</div>
                <div class='label-only col-sm-8'><%= t("enumerations.date_era.#{date['date_era']}", :default => date['date_era']) %></div>
              </div>
            <% end %>

            <% if date['date_calendar'] %>
              <div class='form-group'>
                <div class='control-label col-sm-2'>Calendar</div>
                <div class='label-only col-sm-8'><%= t("enumerations.date_calendar.#{date['date_calendar']}", :default => date['date_calendar']) %></div>
              </div>
            <% end %>

           <div class="panel panel-default">

            <%# SINGLE SECTION %>
            <% if date['date_type_structured'] == "single" && date["structured_date_single"] %>
              <div class='form-group'>
                <div class='control-label col-sm-2'>Role</div>
                <div class='label-only col-sm-8'><%= t("enumerations.date_role.#{date['structured_date_single']['date_role']}", :default => date['structured_date_single']['date_role']) %></div>
              </div>

              <% if date["structured_date_single"]['date_expression'] %>
                <div class='form-group'>
                  <div class='control-label col-sm-2'>Date Expression</div>
                  <div class='label-only col-sm-8'><%= date['structured_date_single']['date_expression'] %></div>
                </div>
              <% end %>

              <% if date["structured_date_single"]['date_standardized'] %>
                <div class='form-group'>
                  <div class='control-label col-sm-2'>Date Standardized</div>
                  <div class='label-only col-sm-8'><%= date['structured_date_single']['date_standardized'] %></div>
                </div>
              <% end %>

              <% if date["structured_date_single"]['date_standardized_type'] %>
                <div class='form-group'>
                  <div class='control-label col-sm-2'>Date Standardized Type</div>
                  <div class='label-only col-sm-8'><%= t("enumerations.date_standardized_type.#{date['structured_date_single']['date_standardized_type']}", :default => date['structured_date_single']['date_standardized_type']) %></div>
                </div>
              <% end %>

            <%# RANGE SECTION %>
            <% elsif date['date_type_structured'] == "range" && date["structured_date_range"] %>

              <% if date["structured_date_range"]['begin_date_expression'] %>
                <div class='form-group'>
                  <div class='control-label col-sm-2'>Begin Date Expression</div>
                  <div class='label-only col-sm-8'><%= date['structured_date_range']['begin_date_expression'] %></div>
                </div>
              <% end %>

              <% if date["structured_date_range"]['begin_date_standardized'] %>
                <div class='form-group'>
                  <div class='control-label col-sm-2'>Begin Date Standardized</div>
                  <div class='label-only col-sm-8'><%= date['structured_date_range']['begin_date_standardized'] %></div>
                </div>
              <% end %>

              <% if date["structured_date_range"]['begin_date_standardized_type'] %>
                <div class='form-group'>
                  <div class='control-label col-sm-2'>Begin Date Standardized Type</div>
                  <div class='label-only col-sm-8'><%= t("enumerations.begin_date_standardized_type.#{date['structured_date_range']['begin_date_standardized_type']}", :default => date['structured_date_range']['begin_date_standardized_type']) %></div>
                </div>
              <% end %>

              <% if date["structured_date_range"]['end_date_expression'] %>
                <div class='form-group'>
                  <div class='control-label col-sm-2'>End Date Expression</div>
                  <div class='label-only col-sm-8'><%= date['structured_date_range']['end_date_expression'] %></div>
                </div>
              <% end %>

              <% if date["structured_date_range"]['end_date_standardized'] %>
                <div class='form-group'>
                  <div class='control-label col-sm-2'>End Date Standardized</div>
                  <div class='label-only col-sm-8'><%= date['structured_date_range']['end_date_standardized'] %></div>
                </div>
              <% end %>

              <% if date["structured_date_range"]['end_date_standardized_type'] %>
                <div class='form-group'>
                  <div class='control-label col-sm-2'>End Date Standardized Type</div>
                  <div class='label-only col-sm-8'><%= t("enumerations.end_date_standardized_type.#{date['structured_date_range']['end_date_standardized_type']}", :default => date['structured_date_range']['end_date_standardized_type']) %></div>
                </div>
              <% end %>


            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
