<!DOCTYPE html>
<html>
  <head>
 <title><%=  (@page_title.blank? ? '' : "#{@page_title} | ") %><%= t('brand.title') %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid no-pad">
      <section  id="header">
	<div class="row">
          <div class="col-sm-9"><h1><a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_url] %>"> <%= t('brand.title') %></a></h1> </div>
          <div class="col-sm-3"><img class="logo" src="/img/Aspace-logo.png" /></div>
	</div>
      </section>

      <section id="navigation">
	<nav class="navbar navbar-default" aria-label="top-level navigation">
	    <div class="navbar-header top-bar">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu" 
		      aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="collapsemenu">
		<ul class="nav nav navbar-nav">
		  <%# TODO: add class="active" if we're on that page %>
		  <%# TODO: if only one repository, don't show this one %>
		  <li><a href="/repositories"><%= t('repository._plural') %></a></li>
		  <li><a href="/repositories/resources"><%= t('resource._plural') %></a></li>
		  <li><a href="/search?recordtypes[]=digital_object"><%= t('digital_object._plural') %></a></li>
		  <li><a href="/search?recordtypes[]=accession"><%= t('unprocessed') %></a></li>
		  <li><a href="/search?recordtypes[]=subject"><%= t('subject._plural') %></a></li>
		  <li><a href="/search?recordtypes[]=agent_person&recordtypes[]=agent_family&recordtypes[]=agent_corporate_entity"><%= t('all_agents') %></a></li>
		  <li><a href="/search?recordtypes[]=classification"><%= t('record_group._plural') %></a></li>
		</ul>
	      </div>
	    </div>
	</nav>
      </section>
</div>
      <section id="container" class="container">

      <%= yield %>
      </section>
  </body>
</html>
