<%
   section_id = "file_versions" if section_id.blank?
%>

<section id="<%= section_id %>">
  <h3><%= t("file_version._plural") %></h3>
  <div class="accordion details my-3" id="<%= section_id %>_accordion">
    <% file_versions.each_with_index do | file_version, index | %>
      <div class="card border">
        <div class="panel-heading card-header">
          <div class="row accordion-toggle collapsed" data-toggle="collapse" data-parent="#<%= section_id %>_accordion" href="#<%= section_id %>_file_version_<%= index %>">
            <div class="col-md-1">
              <span class="glyphicon"></span>
            </div>
            <div class="col-md-8">
              <%= file_version['file_uri'] %>
            </div>
            <div class="col-md-3">
              <% if file_version['publish'] %><span class="badge badge-success pull-right" style="margin-left: 5px;">Published</span><% end %>
              <% if file_version['is_representative'] %><span class="badge badge-info pull-right" style="margin-left: 5px;">Representative</span><% end %>
              <% if file_version['is_display_thumbnail'] %><span class="badge badge-info pull-right" style="margin-left: 5px;">Display Thumbnail</span><% end %>
            </div>
          </div>
        </div>
        <div id="<%= section_id %>_file_version_<%= index %>" class="accordion-body collapse">
          <%= render_aspace_partial :partial => "shared/content_and_thumbnail", :locals => {:record => file_version, content: capture { %>
            <div class="form-horizontal">
              <%= render_aspace_partial :partial => "file_versions/file_uri", :locals => {:file_uri => uri_or_string( file_version['file_uri'] ) } %>
            </div>
            <%= read_only_view(file_version) %>
          <% }} %>
        </div>
      </div>
    <% end %>
  </div>
</section>
