<% define_template "file_version", jsonmodel_definition(:file_version) do |form| %>
  <div class="subrecord-form-fields">
    <h3 class="subrecord-form-heading">
      <%= form.button_with_tooltip(t("file_version._frontend.action.make_representative_tooltip"), t("file_version.is_representative"), [], ["badge badge-pill badge-primary fs-14px is-representative-label"], false) %>
      <%= form.button_with_tooltip(t("file_version._frontend.action.make_representative_tooltip"), t("file_version._frontend.action.make_representative"), [], ["btn", "btn-sm", "btn-default", "is-representative-toggle"]) %>
    </h3>
    <%= form.label_and_textarea("file_uri") %>
    <%= form.label_and_boolean("publish", {:class => "js-file-version-publish"}, user_prefs["publish"]) %>
    <%= form.label_and_select("use_statement", form.possible_options_for("use_statement", true)) %>
    <%= form.label_and_select("xlink_actuate_attribute", form.possible_options_for("xlink_actuate_attribute", true)) %>
    <%= form.label_and_select("xlink_show_attribute", form.possible_options_for("xlink_show_attribute", true)) %>
    <%= form.label_and_select("file_format_name", form.possible_options_for("file_format_name", true)) %>
    <%= form.label_and_textfield("file_format_version") %>
    <%= form.label_and_textfield("file_size_bytes") %>

    <%= form.label_and_textfield("checksum") %>
    <%= form.label_and_select("checksum_method", form.possible_options_for("checksum_method", true)) %>

      <%= form.label_and_textfield("caption") %>
      <%= form.hidden_input "is_representative", form["is_representative"] ? 1 : 0 %>
  </div>
<% end %>
