<% define_template "file_version", jsonmodel_definition(:file_version) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textarea("file_uri") %>
    <%= form.label_and_boolean("publish", {}, form.default_for("publish")) %>
    <%= form.label_and_select("use_statement", form.possible_options_for("use_statement", true)) %>
    <%= form.label_and_select("xlink_actuate_attribute", form.possible_options_for("xlink_actuate_attribute", true)) %>
    <%= form.label_and_select("xlink_show_attribute", form.possible_options_for("xlink_show_attribute", true)) %>
    <%= form.label_and_select("file_format_name", form.possible_options_for("file_format_name", true)) %>
    <%= form.label_and_textfield("file_format_version") %>
    <%= form.label_and_textfield("file_size_bytes") %>

    <%= form.label_and_textfield("checksum") %>
    <%= form.label_and_select("checksum_method", form.possible_options_for("checksum_method", true)) %>
  </div>
<% end %>
