<%
  section_id = "user_defined" if section_id.blank?

  collapsed_vals = []
  ["integer_1", "integer_2", "real_1", "real_2", "string_1", "string_2", "string_3", "text_1", "text_2", "text_3", "text_4"].each do |k|
    if collapsed_vals.size < 3
      if !user_defined[k].nil?
        collapsed_vals << I18n.t("user_defined.#{k}") + ": #{user_defined[k].size > 17 ? (user_defined[k][0,15]+'&hellip;') : user_defined[k]}"
      end
    end
  end
 
%>

<section id="<%= section_id %>">
  <h3><%= I18n.t("user_defined._singular") %></h3>
  <div class="accordion details" id="<%= section_id %>_accordian">
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="row-fluid accordion-toggle collapsed" data-toggle="collapse" data-parent="#<%= section_id %>_accordion" href="#<%= section_id %>_user_defined">
          <div class="span1">
            <span class="icon-chevron-right"></span>
            <span class="icon-chevron-down"></span>
          </div>
          <% collapsed_vals.each do |cval| %>
            <div class="span3">
              <%= cval.html_safe %>
            </div>
          <% end %>
        </div>
      </div>
      <div id="<%= section_id %>_user_defined" class="accordion-body collapse">
        <%= read_only_view(user_defined) %>
      </div>
    </div>
  </div>
</section>
