<%
   section_id = "languages" if section_id.blank?
%>

<section id="<%= section_id %>">
  <h3><%= I18n.t("language._plural") %></h3>
  <h3><%= "#{languages.inspect}" %></h3>
  <div class="panel-group details" id="<%= section_id %>_accordion">
    <% languages.each_with_index do | language, index | %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row accordion-toggle collapsed" data-toggle="collapse" data-parent="#<%= section_id %>_accordion" href="#<%= section_id %>_language_<%= index %>">
            <div class="col-md-1">
              <span class="glyphicon"></span>
            </div>
            <div class="col-md-4">
              <%= I18n.t('enumerations.language_language.'+language['language'], :default => language['language']) %>
            </div>
            <div class="col-md-7">
              <%= language['script'] %>
            </div>
          </div>
        </div>
        <div id="<%= section_id %>_extent_<%= index %>" class="panel-collapse collapse">
          <%= read_only_view(language) %>
        </div>
      </div>
    <% end %>
  </div>
</section>
