<%= render :partial => "shared/form_messages", :locals => {:object => @accession, :form => form} %>

<% define_template("accession", jsonmodel_definition(:accession)) do |form| %>
  <section id="basic_information">
    <h3><%= I18n.t "accession._html.section.basic_information" %></h3>
    <fieldset>
       <%= form.label_and_textfield "title" %>
       <%= form.label_and_fourpartid %>
       <%= form.label_and_date "accession_date", {:field_opts => {:value => (@accession.accession_date.blank? ? "" : Date.strptime(@accession.accession_date, "%Y-%m-%d"))}} %>
       <%= form.label_and_textarea "content_description" %>
       <%= form.label_and_textarea "condition_description" %>
       <%= render :partial => "resources/linker", :locals => { :form => form }%>
    </fieldset>
  </section>
<% end %>

<% form.emit_template("accession") %>

<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents"} %>
<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates"} %>

<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_agents", :template => "accession_linked_agent"} %>
<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "subjects", :template => "subrecord_subject"} %>

<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>
<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "rights_statements"} %>
<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "deaccessions"} %>

<div class="form-actions">            
  <button type="submit" class="btn btn-primary"><%= I18n.t "actions.save_prefix" %> <%= I18n.t "accession._html.singular" %></button>
  <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel" %>
</div>
