<%= render "shared/form_messages", :object => @accession, :errors => @errors, :warnings => @warnings %>

<fieldset>
   <%= f.label_field_pair :title, f.text_field(:title), {:errors=>@errors, :warnings=>@warnings} %>
   <%= f.label_field_pair :accession_id_0, f.text_field(:accession_id_0, :size=>10)+f.text_field(:accession_id_1, :size=>10)+f.text_field(:accession_id_2, :size=>10)+f.text_field(:accession_id_3, :size=>10), {:control_class=>"identifier-fields", :show_errors_for=>[:accession_id_0, :accession_id_1, :accession_id_2, :accession_id_3], :errors=>@errors, :warnings=>@warnings} %>
   <%# f.label_field_pair :publish, "<label class='checkbox'>#{f.check_box :publish} #{I18n.t(:"accession.publish_help")}</label>" %>
   <%# f.label_field_pair :restrictions, "<label class='checkbox'>#{f.check_box :restrictions}</label>" %>
   <%= f.label_field_pair :accession_date, f.text_field(:accession_date, :placeholder=>"YYYY-MM-DD", :value=>(@accession.accession_date.blank? ? "" : Date.strptime(@accession.accession_date, "%Y-%m-%d"))), {:errors=>@errors, :warnings=>@warnings} %>
   <%= f.label_field_pair :content_description, f.text_area(:content_description, :rows=>3), {:errors=>@errors, :warnings=>@warnings} %>
   <%= f.label_field_pair :condition_description, f.text_area(:condition_description, :rows=>3), {:errors=>@errors, :warnings=>@warnings} %>
   
    <hr />
    
    <div class="control-group">
       <%= f.label :collection_link, "Link to a Collection", :class=>"control-label" %>
      <div class="controls">
      <div class="accordion controls-accordion" id="collection_link">
         <div class="accordion-group">
            <label class="radio" data-toggle="collapse" data-parent="#collection_link" href="#collection_link_defer">
               <%= f.radio_button :collection_link, "defer" %> Defer linking to a Collection
            </label>
           <div id="collection_link_defer" class="accordion-body collapse">
             <div class="accordion-inner">
                <div class="alert alert-info">
                  Create this Accession without a Collecion.  You can create that link later.
                </div>
             </div>
           </div>
         </div>
         <div class="accordion-group">
             <label class="radio" data-toggle="collapse" data-parent="#collection_link" href="#collection_link_existing">
                <%= f.radio_button :collection_link, "existing" %> Existing Collection
             </label>
           <div id="collection_link_existing" class="accordion-body collapse">
             <div class="accordion-inner">
                <div class="alert alert-error">
                  TODO!
                </div>
             </div>
           </div>
         </div>
         <div class="accordion-group">
             <label class="radio" data-toggle="collapse" data-parent="#collection_link" href="#collection_link_create">
                <%= f.radio_button :collection_link, "create" %> Create a new Collection
             </label>
           <div id="collection_link_create" class="accordion-body collapse">
             <div class="accordion-inner">
                <div class="alert alert-info">
                   Create this Accession and Continue to Create a new Collection.
                </div>
             </div>
           </div>
         </div>
       </div>
    </div>
   </div>
</fieldset>
