<%= render :partial => "shared/form_messages", :locals => {:object => @accession, :form => form} %>

<section id="basic_information">
  <h3>Basic Information</h3>
  <fieldset>
     <%= form.label_and_textfield "title" %>
     <%= form.label_and_fourpartid %>
     <%#= form.label_and_field :accession_date, {:field_opts => {:value => (@accession.accession_date.blank? ? "" : Date.strptime(@accession.accession_date, "%Y-%m-%d"))}} %>
     <%= form.label_and_textarea "content_description", :rows => 3 %>
     <%= form.label_and_textarea "condition_description", :rows => 3 %>
     <%#= render :partial => "subjects/linker", :locals => { :object => @accession }%>
  </fieldset>
</section>


<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents"} %>
<%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates"} %>
<%#= render :partial => "shared/subrecord_form", :locals => {:f => f, :object => @accession, :method => :external_documents} %>
<%#= render :partial => "shared/subrecord_form", :locals => {:f => f, :object => @accession, :method => :rights_statements} %>


<div class="form-actions">            
  <button type="submit" class="btn btn-primary">Save Accession</button>
  <%= link_to "Cancel", :back, :class => "btn btn-cancel" %>
</div>
