<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @accession, :form => form} %>

<% define_template("accession", jsonmodel_definition(:accession)) do |form| %>
  <section id="basic_information" class="d-flex flex-column w-100">
    <div class="d-flex align-items-center border-bottom bg-asFormHeadingBg">
      <h3 class="flex-grow-1 mb-0 border-0">
        <%= t "accession._frontend.section.basic_information" %>
      </h3>
      <%= link_to_help :topic => "accession_basic_information" %>
    </div>
    <fieldset>
      <%= render_plugin_partials("top_of_basic_information_accession",
                                 :form => form,
                                 :record => @accession) %>

       <%= form.label_and_textarea "title", :field_opts => {
         :class => "form-control#{AppConfig[:allow_mixed_content_title_fields] ? ' mixed-content' : ''}"
       } %>
       <%= form.label_and_fourpartid %>

       <%= render_aspace_partial :partial => "shared/slug", :locals => {:form => form, :record_type => @accession} if AppConfig[:use_human_readable_urls] %>

       <%= form.label_and_date "accession_date" %>
       <%= form.label_and_boolean "publish", {}, user_prefs["publish"] %>
       <%= form.label_and_textarea "content_description" %>
       <%= form.label_and_textarea "condition_description" %>
       <%= form.label_and_textarea "disposition" %>
       <%= form.label_and_textarea "inventory" %>
       <%= form.label_and_textarea "provenance" %>
       <%= form.label_and_textarea "retention_rule" %>
       <%= form.label_and_textarea "general_note" %>
       <%= form.label_and_select "acquisition_type", form.possible_options_for("acquisition_type", true) %>
       <%= form.label_and_select "resource_type", form.possible_options_for("resource_type", true) %>
       <%= form.label_and_select("language", form.possible_options_for("language", true), {:label_opts => {:classes => 'mb-0'}}) %>
       <%= form.label_and_select("script", form.possible_options_for("script", true), {:label_opts => {:classes => 'mb-0'}}) %>
       <%= form.label_and_boolean "restrictions_apply", {}, form.default_for("restrictions_apply") %>
       <%= form.label_and_boolean "access_restrictions", {}, form.default_for("access_restrictions") %>
       <%= form.label_and_textarea "access_restrictions_note" %>
       <%= form.label_and_boolean "use_restrictions", {}, form.default_for("use_restrictions") %>
       <%= form.label_and_textarea "use_restrictions_note" %>

       <%= render_plugin_partials("basic_information_accession",
                                  :form => form,
                                  :record => @accession) %>
    </fieldset>
  </section>
<% end %>

<% form.emit_template("accession") %>

<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "lang_materials", :custom_action_template => "lang_materials/subrecord_form_action"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates", :template => "archival_record_date"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents"} %>

<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_agents", :template => "accession_linked_agent"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "related_resources", :template => "accession_related_resource"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "component_links", :template => "accession_component_links"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "related_accessions", :template_erb => "interrelated_accessions/template", :template => "interrelated_accessions"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "subjects", :template => "subrecord_subject"} %>

<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "rights_statements"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "metadata_rights_declarations"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "instances", :custom_action_template => "instances/subrecord_form_action"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "deaccessions"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "collection_management", :cardinality => :zero_to_one} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "classifications"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "user_defined", :cardinality => :zero_to_one} %>

<%= render_aspace_partial :partial => "external_ids/edit", :locals => {:form => form, :section_id => "external_ids"} %>

<%= form_plugins_for("accession", form) %>

<div class="form-actions pl-0">
  <button type="submit" class="btn btn-primary"><%= t("accession._frontend.action.save") %></button>
  <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
</div>
