<%
   if form.obj.has_key?('_resolved')
     selected_json =  form.obj['_resolved'].to_json
   else
     selected_json = "{}"
   end

  exclude_ids = [] if exclude_ids.blank?

%>
<div class="form-group required row">
    <% if form.obj.has_key?('_resolved') %>
    
      <input type="text" 
        class='prelinker' 
        name="<%= form.path %>[_resolved]"
        value="<%= selected_json %>" />
        
      <input type="text" 
        class='prelinker' 
        name="<%= form.path %>[ref]"
        value="<%= form.obj["ref"] %>" />

    <% end %>
   <label class="control-label text-right col-sm-2"
          id="<%= form.id_for("ref") %>_label"
          for="<%= form.id_for("ref") %>">
     <%= t "accession._singular" %>
   </label>
   <div class="controls col-sm-9">
       <div class="input-group linker-wrapper"
            role="combobox"
            aria-owns="<%= form.id_for("ref") %>_listbox"
            id="<%= form.id_for("ref") %>_combobox">
          <input type="text" 
            class="linker"
            id="<%= form.id_for("ref") %>"
            aria-autocomplete="both"
            aria-controls="<%= form.id_for("ref") %>_listbox"
            aria-labelledby="<%= form.id_for("ref") %>_label"
            data-label_create="<%= t "accession.linker.create" %>"
            data-label_browse="<%= t "accession.linker.browse" %>"
            data-label_link="<%= t("linker.link") %>"
            data-label_create_and_link="<%= t("linker.create_and_link") %>"
            data-path="<%= form.path %>"
            data-name="ref"
            data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
            data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.ACCESSION_FACETS, :exclude => exclude_ids %>"
            data-selected="<%= selected_json %>"
            data-format_property="display_string"
            data-multiplicity="one"
            data-types='["accession"]'
            data-exclude='<%= exclude_ids.to_json %>'
          />
          
          <div class="input-group-append">
           <button type="button" class="btn btn-default d-flex align-items-center dropdown-toggle" data-toggle="dropdown" title="<%= t('accession.linker.link_title') %>" aria-label="<%= t('accession.linker.link_title') %>"></button>
           <ul class="dropdown-menu">
             <li class='dropdown-toggle no-caret'><a href="javascript:void(0);" class="linker-browse-btn dropdown-item"><%= t("actions.browse") %></a></li>
           </ul>
         </div>
         <% if form.obj.has_key?('_resolved') %>
          <input type="text" 
            class='prelinker' 
            name="<%= form.path %>[_resolved]"
            value="<%= selected_json %>" />
            
          <input type="text" 
            class='prelinker' 
            name="<%= form.path %>[ref]"
            value="<%= form.obj["ref"]  %>" />
          <% end %>
       </div>
   </div>
</div>
