<% if user_can?('update_accession_record') %>
  <div class="row">
    <div class="col-md-12">
      <div class="record-toolbar">
        <% if not @accession.suppressed %>
          <% if !['edit', 'update'].include?(controller.action_name) %>
            <div class="btn-group pull-left">
              <%= link_to I18n.t("actions.edit"), {:controller => :accessions, :action => :edit, :id => @accession.id}, :class => "btn btn-sm btn-primary" %>
            </div>
          <% end %>
        <% end %>
        <% if ['new', 'create', 'edit', 'update'].include?(controller.action_name) %>
          <div class="pull-left save-changes">
            <button type="submit" class="btn btn-primary btn-sm"><%= I18n.t("actions.save_prefix") %></button>
          </div>
        <% end %>
        <% if ['edit', 'update'].include?(controller.action_name) %>
          <div class="pull-left revert-changes">
            <%= link_to I18n.t("actions.revert"), {:controller => :accessions, :action => :edit, :id => @accession.id}, :class => "btn btn-sm btn-default" %>
            <%= I18n.t("actions.toolbar_disabled_message") %>
          </div>
        <% end %>
        <div class="btn-toolbar pull-right">
          <div class="btn-group">

            <%= render_aspace_partial :partial => "shared/view_published_button", :locals => {:record => @accession} %>

            <% if user_can?('update_event_record') && !@accession.suppressed %>
              <%= render_aspace_partial :partial => "shared/event_dropdown", :locals => {:record => @accession } %>
            <% end %>
            <% if not @accession.suppressed %>
              <div class="btn btn-inline-form">
                <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                  <%= I18n.t "actions.spawn" %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu open-aligned-right">
                  <li>
                    <%= link_to "<span class='icomoon icon-accession'></span> #{I18n.t("accession._singular")}".html_safe, :controller => :accessions, :action => :new, :accession_id => @accession.id %>
                  </li>
                  <li>
                    <%= link_to "<span class='icomoon icon-resource'></span> #{I18n.t("resource._singular")}".html_safe, :controller => :resources, :action => :new, :accession_id => @accession.id %>
                  </li>
                </ul>
              </div>
            <% end %>
            <% if user_can?('transfer_archival_record') %>
              <%=
                 render_aspace_partial :partial => "shared/transfer_dropdown",
                        :locals => {:record => @accession,
                                    :controller => controller.controller_name,
                                    :confirmation_title => I18n.t("actions.transfer_confirm_title"),
                                    :confirmation_msg => I18n.t("actions.transfer_confirm_message",
                                                                :target => @accession.title)}
              %>
            <% end %>

            <div class="btn-group dropdown" id="other-dropdown">
              <a class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= I18n.t('actions.more') %>
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">
                <li><%= render_aspace_partial :partial => "extent_calculator/toolbar_button", :locals => {:record => @accession} %></li>
                <% if user_can?('update_assessment_record') %>
                  <li><%= link_to I18n.t('assessment._frontend.action.create_for_record'), {:controller => :assessments, :action => :new, :record_uri => @accession.uri} %></li>
                <% end %>
              </ul>
            </div>

            <% if user_can?('suppress_archival_record') || user_can?('delete_archival_record') %>
              <div class="btn-group"><div class="toolbar-spacer"></div></div>
            <% end %>


            <% if user_can?('suppress_archival_record') || user_can?('delete_archival_record') %>
              <% if user_can?('suppress_archival_record') %>
                <div class="btn btn-inline-form">
                  <% if @accession.suppressed %>

                    <%= button_confirm_action I18n.t("actions.unsuppress"),
                                              url_for(:controller => :accessions, :action => :unsuppress, :id => @accession.id),
                                              {
                                                :class => "btn btn-sm unsuppress-record",
                                                :"data-title" => I18n.t("actions.unsuppress_confirm_title"),
                                                :"data-message" => I18n.t("actions.unsuppress_confirm_message"),
                                                :"data-confirm-btn-label" => "#{I18n.t("actions.unsuppress")}"
                                              }
                    %>
                  <% else %>
                    <%= button_confirm_action I18n.t("actions.suppress"),
                                                url_for(:controller => :accessions, :action => :suppress, :id => @accession.id),
                                                {
                                                  :class => "btn btn-sm btn-warning suppress-record",
                                                  :"data-title" => I18n.t("actions.suppress_confirm_title"),
                                                  :"data-message" => I18n.t("actions.suppress_confirm_message"),
                                                  :"data-confirm-btn-label" => "#{I18n.t("actions.suppress")}",
                                                  :"data-confirm-btn-class" => "btn-warning"
                                                }
                      %>
                  <% end %>
                </div>
              <% end %>
              <% if user_can?('delete_archival_record') %>
                <div class="btn btn-inline-form">
                  <%= button_delete_action url_for(:controller => :accessions, :action => :delete, :id => @accession.id), { :"data-title" => I18n.t("actions.delete_confirm_title", :title => @accession.title) } %>
                </div>
              <% end %>
            <% end %>
          </div><!-- btn-group -->
        </div><!-- btn-toolbar pull-right -->
        <div class="clearfix"></div>
      </div><!-- record-toolbar -->
    </div><!-- col-md-12 -->
  </div><!-- row -->
<% end %>
