<% if user_can?('update_archival_record') %>
  <div class="row-fluid">
    <div class="span12">
      <div class="record-toolbar">
        <div class="pull-right">
          <div class="btn-group">
            <% if not @accession.suppressed %>
              <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                <%= I18n.t("actions.add_event") %>
                <span class="caret"></span>
              </a>
              <% if @accession_event_types %>
                <ul class="dropdown-menu">
                  <% @accession_event_types.each do |type| %>
                    <li>
                      <%= link_to I18n.t("event.types.#{type}"), {:controller => :events, :action => :new, :event_type => type, :accession_uri => @accession.uri} %>
                    </li>
                  <% end %>
                </ul>                
              <% end %>
            <% end %>
          </div>

          <div class="btn-group">
            <% if not @accession.suppressed %>
              <%= link_to I18n.t("actions.edit"), {:controller => :accessions, :action => :edit, :id => @accession.id}, :class => "btn btn-small" %>
              <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                <%= I18n.t "actions.spawn" %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "<span class='icon-resource'></span> #{I18n.t("resource._html.singular")}".html_safe, :controller => :resources, :action => :new, :accession_id => @accession.id %>
                </li>
              </ul>
            <% end %>
          </div>
          <% if user_can?('suppress_archival_record') %>
            <% if @accession.suppressed %>
              <div class="btn-group">
                <div class="btn btn-small btn-inline-form">
                  <%= button_to I18n.t("actions.unsuppress"),
                       {:controller => :accessions, :action => :unsuppress, :id => @accession.id},
                       :method => :post,
                       :class => "btn btn-small btn-primary unsuppress-record",
                       :"data-confirmation" => true,
                       :"data-title" => I18n.t("actions.unsuppress_confirm_title"),
                       :"data-message" => I18n.t("actions.unsuppress_confirm_message"),
                       :"data-confirm-btn-label" => "#{I18n.t("actions.unsuppress")}"
                  %>
                </div>
              </div>
            <% else %>
              <div class="btn-group">
                <div class="btn btn-inline-form">
                  <%= button_to I18n.t("actions.suppress"), {:controller => :accessions, :action => :suppress, :id => @accession.id}, :method => :post, :class => "btn btn-small btn-warning suppress-record", :"data-confirmation" => true, :"data-title" => I18n.t("actions.suppress_confirm_title"), :"data-message" => I18n.t("actions.suppress_confirm_message"), :"data-confirm-btn-label" => "#{I18n.t("actions.suppress")}", :"data-confirm-btn-class" => "btn-warning" %>
                </div>
              </div>
            <% end %>
          <% end %>
          <% if user_can?('delete_archival_record') %>
            <div class="btn-group">
              <div class="btn btn-inline-form">
                <%= button_to I18n.t("actions.delete"), {:controller => :accessions, :action => :delete, :id => @accession.id}, :method => :post, :class => "btn btn-small btn-danger delete-record", :"data-confirmation" => true, :"data-title" => I18n.t("actions.delete_confirm_title"), :"data-message" => I18n.t("actions.delete_confirm_message"), :"data-confirm-btn-label" => "#{I18n.t("actions.delete")}", :"data-confirm-btn-class" => "btn-danger" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
