<%= setup_context(:object => @accession) %>

<div id="object_container">
  <%= form_for @accession, :as => "accession", :url => {:action => :update}, :html => {:class => 'form-horizontal', :id => "accession_form"} do |f| %>
    <%= form_context :accession, @accession do |form| %>
      <div class="row-fluid">
        <div class="span3">
          <%= render :partial => "sidebar" %>
        </div>

        <div class="span9">
          <div class="record-pane">
            <h2><%= @accession.title%> <span class="label label-info"><%= I18n.t("accession._html.singular") %></span></h2>
            <input type="hidden" name="_method" value="put" />
            <%= render :partial => "accessions/form", :locals => {:form => form} %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
