<%= render :partial => "shared/breadcrumb", :locals => {:trail => [link_to("Browse Accessions", :controller => :accessions, :action => :index),"Edit Accession \"#{@accession.title}\""]} %>

<%= form_for @accession, :as => "accession", :url => {:action => :update, :id => @accession.id}, :html => {:class => 'form-horizontal', :id => "accession_form"} do |f| %>
  <div class="row-fluid">
    <div class="span3">
      <%= render :partial => "sidebar" %>
    </div>
    <div class="span9 record-pane">
      <h2>Edit Accession "<%= @accession.title%>"</h2>
      <input type="hidden" name="_method" value="put" />
      <%= render :partial => "accessions/form", :locals => {:f => f} %>
    </div>
  </div>
<% end %>