<%= setup_context(:title => t("accession._plural")) %>

<div class="d-flex">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('update_accession_record') %>
      <div class="record-toolbar d-flex justify-content-end">
        <div class="btn-group">
          <% if user_can?('manage_repository') %>
              <%= link_to t("actions.edit_default_values"), {:controller => :accessions, :action => :defaults}, :class => "btn btn-sm btn-default" %>
          <% end %>
          <%= link_to t("actions.export_csv"), request.parameters.merge({ :format => :csv,
            :fields => fields}
            ), id: "searchExport",  class:  "btn btn-sm btn-primary" %>
          <%= link_to t("accession._frontend.action.create"), {:controller => :accessions, :action => :new}, :class => "btn btn-sm btn-default" %>
          <% if user_can?("delete_archival_record") %>
            <%= button_delete_multiple_action(:archival_records) %>
          <% end %>
        </div>
        <br style="clear:both" />
      </div>
    <% end %>
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= t("accession._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
