<%= setup_context(:object => @accession) %>

<%= form_for @accession, :as => "accession", :url => {:action => :create}, :html => {:class => 'form-horizontal', :id => "accession_form"} do |f| %>
  <%= form_context :accession, @accession.to_hash(true) do |form| %>
    <div class="row-fluid">
      <div class="span3">
        <%= render :partial => "sidebar" %>
      </div>
      <div class="span9 record-pane">
        <h2>New Accession  <span class="label label-info">Accession</span></h2>
        <%= render :partial => "accessions/form", :locals => {:form => form} %>
      </div>
    </div>
  <% end %>
<% end %>
