<%= setup_context(:object => @accession) %>

<div class="row-fluid">
   <div class="span3">
      <%= render :partial => "sidebar" %>
   </div>
   <div class="span9 record-pane">
    <%= readonly_context :accession, @accession.to_hash(true) do |readonly| %>
      <% if user_can?('update_repository') %>
        <div class="btn-group" style="float: right">
          <% if @accession.suppressed %>
            <% if user_can?('manage_repository') %>
              <div class="btn btn-inline-form">
                <%= button_to 'Unsuppress', {:controller => :accessions, :action => :unsuppress, :id => @accession.id}, :method => :post, :class => "btn btn-small btn-primary",  :"data-confirmation" => true, :"data-title" => "Unsuppress this Accession?" %>
              </div>
            <% end %>
          <% else %>
            <%= link_to "Edit", {:controller => :accessions, :action => :edit, :id => @accession.id}, :class => "btn btn-small" %>
            <% if user_can?('manage_repository') %>
              <div class="btn btn-inline-form">
                <%= button_to 'Suppress', {:controller => :accessions, :action => :suppress, :id => @accession.id}, :method => :post, :class => "btn btn-small btn-danger", :"data-confirmation" => true, :"data-title" => "Suppress this Accession?" %>
              </div>
            <% end %>
          <% end %>
          </div>
        <% end %>
        <h2><%= @accession.title %> <span class="label label-info">Accession</span></h2>

       <%= render :partial => "shared/flash_messages" %>

        <section id="basic_information">
          <h3>Basic Information</h3>

          <%= readonly.label_and_fourpartid %>
          <%= readonly.label_and_date "accession_date" %>
          <%= readonly.label_and_textarea "content_description" %>
          <%= readonly.label_and_textarea "condition_description" %>

          <% if not @accession.subjects.blank? %>
            <hr/>
            <%= render :partial => "subjects/show", :locals => {:subjects => @accession["resolved"]["subjects"]} %>
          <% end %>
        </section>

       <% if @accession.linked_agents.length > 0 %>
         <%= render :partial => "linked_agents/show", :locals => { :linked_agents => @accession.linked_agents, :section_id => "accession_linked_agents_" } %>
       <% end %>

       <% if @accession.extents.length > 0 %>
         <%= render :partial => "extents/show", :locals => { :extents => @accession.extents, :section_id => "accession_extents_" } %>
       <% end %>

        <% if @accession.dates.length > 0 %>
          <%= render :partial => "dates/show", :locals => { :dates => @accession.dates, :section_id => "accession_dates_" } %>
        <% end %>

        <% if @accession.external_documents.length > 0 %>
          <%= render :partial => "external_documents/show", :locals => { :external_documents => @accession.external_documents, :section_id => "accession_external_documents_" } %>
        <% end %>

       <% if @accession.rights_statements.length > 0 %>
         <%= render :partial => "rights_statements/show", :locals => { :rights_statements => @accession.rights_statements, :section_id => "accession_rights_statements_" } %>
       <% end %>

       <% if @accession.deaccessions.length > 0 %>
         <%= render :partial => "deaccessions/show", :locals => { :deaccessions => @accession.deaccessions, :context => readonly, :section_id => "accession_deaccessions_" } %>
       <% end %>
     <% end %>
   </div>
</div>
