<%= render :partial => "shared/breadcrumb", :locals => {:trail => [link_to("Browse Accessions", :controller => :accessions, :action => :index), @accession.title]} %>
<div class="row-fluid">
   <div class="span3">
      <%= render :partial => "sidebar" %>
   </div>
   <div class="span9 record-pane">
      <div class="btn-group" style="float: right">
        <%= link_to "Edit", {:controller => :accessions, :action => :edit, :id => @accession.id}, :class => "btn" %>
      </div>
      <h2><%= @accession.title %> <span class="label label-info">Accession</span></h2>

      <section id="basic_information">
        <h3>Basic Information</h3>

        <div class="row-fluid label-and-value">
           <div class="span3">Identifier</div>
           <div class="span9"><%= @accession.id %></div>
        </div>
        <div class="row-fluid label-and-value">
           <div class="span3">Accession Date</div>
           <div class="span9"><%= Date.strptime(@accession.accession_date, "%Y-%m-%d") %></div>
        </div>
        <div class="row-fluid label-and-value">
           <div class="span3">Content Description</div>
           <div class="span9"><%= @accession.content_description %></div>
        </div>
        <div class="row-fluid label-and-value">
           <div class="span3">Condition Description</div>
           <div class="span9"><%= @accession.condition_description %></div>
        </div>
      </section>


      <%= render :partial => "extent/show", :locals => { :extents => @accession.extents } %>
   </div>
</div>
