<%
   section_id = "linked_agent" if section_id.blank?
   relator_enumeration = "linked_agent_archival_record_relators" if relator_enumeration.nil?
%>

<section id="<%= section_id %>" class="subrecord-form-dummy shakeit">
  <h3><%= t("linked_agent._plural") %></h3>
  <div class="subrecord-form-container holyguac">
    <div class="subrecord-form-fields">
      <table class="table table-striped table-bordered table-condensed table-hover token-list">
        <thead>
          <tr>
            <td><%= t("linked_agent.is_primary") %></td>
            <td><%= t("linked_agent.role") %></td>
            <td><%= t("linked_agent.relator") %></td>
            <td><%= t("linked_agent.ref") %></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <% linked_agents.each_with_index do | link, index | %>
            <tr>
              <td>
                <% if link['is_primary'] %>
                  <span class='badge badge-info'>Primary</span>
                <% end %>
              </td>
              <td>
                <% if link["role"] %>
                  <%= t("enumerations.linked_agent_role.#{link["role"]}", :default => link["role"])%>
                <% end %>
              </td>
              <td>
                <% if link["relator"] %>
                  <%= t("enumerations.#{relator_enumeration}.#{link["relator"]}", :default => link["relator"])%>
                <% end %>
              </td>
              <td class="token-list">
                <%= render_token :object => link,
                                 :label => link["_resolved"]["title"],
                                 :type => link["_resolved"]["agent_type"],
                                 :uri => link["_resolved"]["uri"] %>
              </td>
              <td>
                <dl>
                  <% if !ASUtils.wrap(link['terms']).empty? %>
                    <dt><%= t("linked_agent.terms") %></dt>

                    <% ASUtils.wrap(link['terms']).each do |term| %>
                      <dd class="label label-info badge" title="<%= t("enumerations.subject_term_type.#{term["term_type"]}") %>">
                        <%= term['term'] %>
                      </dd>
                    <% end %>
                  <% end %>

                  <% if link['title'] %>
                    <dt><%= t("linked_agent.title") %></dt>
                    <dd><%= link['title'] %></dd>
                  <% end %>
                </dl>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
