<% define_template "accession_linked_agent" do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_select("role", form.options_for("role", JSONModel(:accession).schema["properties"]["linked_agents"]["items"]["properties"]["role"]["enum"])) %>
    <%= render :partial => "agents/linker", :locals => {:form => form} %>
  </div>
<% end %>

<% define_template "event_linked_agent" do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_select("role", form.options_for("role", JSONModel(:event).schema["properties"]["linked_agents"]["items"]["properties"]["role"]["enum"])) %>
    <%= render :partial => "agents/linker", :locals => {:form => form} %>
  </div>
<% end %>

<% define_template "resource_linked_agent" do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_select("role", form.options_for("role", JSONModel(:resource).schema["properties"]["linked_agents"]["items"]["properties"]["role"]["enum"])) %>
    <%= render :partial => "agents/linker", :locals => {:form => form} %>
  </div>
<% end %>

<% define_template "archival_object_linked_agent" do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_select("role", form.options_for("role", JSONModel(:archival_object).schema["properties"]["linked_agents"]["items"]["properties"]["role"]["enum"])) %>
    <%= render :partial => "agents/linker", :locals => {:form => form} %>
  </div>
<% end %>

<% define_template "digital_object_linked_agent" do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_select("role", form.options_for("role", JSONModel(:digital_object).schema["properties"]["linked_agents"]["items"]["properties"]["role"]["enum"])) %>
    <%= render :partial => "agents/linker", :locals => {:form => form} %>
  </div>
<% end %>

<% define_template "digital_object_component_linked_agent" do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_select("role", form.options_for("role", JSONModel(:digital_object_component).schema["properties"]["linked_agents"]["items"]["properties"]["role"]["enum"])) %>
    <%= render :partial => "agents/linker", :locals => {:form => form} %>
  </div>
<% end %>
