<%= render_aspace_partial :partial => "terms/template", :locals => {:form => form, :show_preview => false} %>

<% [{:type => :accession, :relator => true, :role => true},
    {:type => :resource, :relator => true, :role => true},
    {:type => :archival_object, :relator => true, :role => true},
    {:type => :event, :relator => false, :role => true},
    {:type => :digital_object, :relator => true, :role => true},
    {:type => :digital_object_component, :relator => true, :role => true},
    {:type => :rights_statement, :relator => false, :role => false},
   ].each do |defn| %>

  <% define_template "#{defn[:type]}_linked_agent", jsonmodel_definition(defn[:type], "linked_agents") do |form| %>

    <div class="subrecord-form-fields agent_links">
      <h3 class="subrecord-form-heading">
       <%= form.button_with_tooltip(I18n.t("linked_agent._frontend.action.make_primary_tooltip"), I18n.t("linked_agent.is_primary"), [], ["badge badge-pill badge-primary fs-14px is-representative-label"], false) %>
       <%= form.button_with_tooltip(I18n.t("linked_agent._frontend.action.make_primary_tooltip"), I18n.t("linked_agent._frontend.action.make_primary"), [], ["is-representative-toggle"]) %>
      </h3>
      <% if defn[:role] %>
        <%= form.label_and_select("role", form.possible_options_for("role", true), :field_opts => {:class => "linked_agent_role"}) %>
      <% end %>
        
      <div class="agent-creator-title" style="display: none">
        <%= form.label_and_textfield "title" %>
      </div>

      <% if defn[:relator] %>
        <%= form.label_and_select("relator", form.possible_options_for("relator", true)) %>
      <% end %>
      <%= render_aspace_partial :partial => "agents/linker", :locals => {:form => form} %>

      <div class="agent-terms subrecord-form-container" style="display: none">
        <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "terms", :heading_text => t("subject._frontend.section.terms")} %>
      </div>

      <%= form.hidden_input "is_primary", form["is_primary"] ? 1 : 0 %>
    </div>
  <% end %>

<% end %>
