<div class="titlepage">

    <div class="title">Accession Records</div>

    <dl>
        <dt>Number of accessions</dt>
        <dd><%= @report.accession_count %></dd>
    </dl>
</div>

<% @report.each do |accession| %>

    <div class="report-record">
        <div class="identifier">Accession <%= format_4part(accession.fetch('accessionNumber')) %></div>
        <div class="record-title"><%= accession.fetch('title') %></div>

        <dl>
            <dt>Accession</dt>
            <dd><%= format_date(accession.fetch('accessionDate')) %></dd>

            <dt>Extent</dt>
            <dd><%= format_number(accession.fetch('extentNumber')) %> <%= accession.fetch('extentType') %></dd>
        </dl>

        <%= text_section('Container', accession.fetch('containerSummary')) %>

        <%= subreport_section("Deaccessions", "AccessionDeaccessionsSubreport", accession) %>

        <%= subreport_section("Locations", 'AccessionLocationsSubreport', accession) %>

        <%= text_section('General Note', accession.fetch('containerSummary')) %>

        <dl>
            <dt>Begin Date</dt>
            <dd><%= format_date(accession.fetch('dateBegin')) %></dd>
            <dt>End Date</dt>
            <dd><%= format_date(accession.fetch('dateEnd')) %></dd>
            <dt>Bulk Begin Date</dt>
            <dd><%= format_date(accession.fetch('bulkDateBegin')) %></dd>
            <dt>Bulk End Date</dt>
            <dd><%= format_date(accession.fetch('bulkDateEnd')) %></dd>
            <dt>Date Expression</dt>
            <dd><%= accession.fetch('dateExpression') %></dd>
        </dl>

        <%= subreport_section("Names", 'AccessionNamesSubreport', accession) %>

        <%= subreport_section("Subjects", 'AccessionSubjectsSubreport', accession) %>

        <dl>
            <dt>Acquisition</dt>
            <dd><%= accession.fetch('acquisitionType') %></dd>
        </dl>

        <%= text_section('Retention', accession.fetch('retentionRule')) %>

        <%= text_section('Description', accession.fetch('descriptionNote')) %>

        <%= text_section('Condition', accession.fetch('conditionNote')) %>

        <%= text_section('Inventory', accession.fetch('inventory')) %>

        <%= text_section('Disposition', accession.fetch('dispositionNote')) %>

        <%= text_section('Restrictions Apply?', format_boolean(accession.fetch('restrictionsApply'))) %>

        <%= text_section('Retention', accession.fetch('retentionRule')) %>

        <%= text_section('Description', accession.fetch('descriptionNote')) %>

        <%= text_section('Access Restrictions Note', accession.fetch('accessRestrictionsNote')) %>

        <%= text_section('Use Restrictions Note', accession.fetch('useRestrictionsNote')) %>

        <%= text_section('Rights Transferred?', format_boolean(accession.fetch('rightsTransferred'))) %>

        <%= text_section('Rights Transferred Note', format_boolean(accession.fetch('rightsTransferredNote'))) %>
    </div>
<% end %>
