<div class="titlepage">
  <div class="title"><%= @report.title %></div>

  <dl>
    <dt>Number of Records Reviewed</dt>
    <dd><%= @report.total_count %></dd>
    <dt>Cataloged Accessions</dt>
    <dd><%= @report.cataloged_count %></dd>
    <dt>Total Extent of Cataloged Accessions</dt>
    <dd><%= format_number(@report.total_extent) %></dd>
  </dl>

</div>

<% @report.each do |accession| %>
  <% next if accession.fetch('cataloged') == 0 %>

  <div class="report-record">
    <div class="identifier">Accession <%= format_4part(accession.fetch('accessionNumber')) %></div>
    <div class="record-title"><%= h accession.fetch('title') %></div>

    <dl>
      <% if accession.fetch('extentNumber') %>
        <dt>Extent</dt>
        <dd><%= format_number(accession.fetch('extentNumber')) %> <%= accession.fetch('extentType') %></dd>
      <% end %>
      <dt>Date Processed</dt>
      <dd><%= format_date(accession.fetch('accessionProcessedDate')) %></dd>
      <dt>Cataloged</dt>
      <dd>
        <% if accession.fetch('catalogedDate').nil? || accession.fetch('catalogedDate').empty? %>
          [Date not recorded]
        <% else %>
          <%= format_date(accession.fetch('catalogedDate')) %>
        <% end %>
      </dd>
    </dl>

    <%= subreport_section("Linked Resource(s)", AccessionResourcesSubreport, accession) %>
  </div>
<% end %>
