<div class="titlepage">
  <div class="title"><%= h @report.title %></div>

  <dl>
    <dt>Number of Records</dt>
    <dd><%= h @report.total_count %></dd>
  </dl>
</div>

<% @report.each do |accession| %>
  <div class="report-record">
    <div class="identifier">Accession <%= format_4part(accession.fetch('accessionNumber')) %></div>
    <div class="record-title"><%= h accession.fetch('title') %></div>

    <%= subreport_section("Names", 'AccessionNamesSubreport', accession) %>

    <%= subreport_section("Subjects", 'AccessionSubjectsSubreport', accession) %>

    <%= subreport_section("Classifications", 'AccessionClassificationsSubreport', accession) %>
  </div>
<% end %>
