<div class="titlepage">
  <div class="title"><%= @report.title %></div>

  <dl>
    <dt>Number of Records</dt>
    <dd><%= @report.total_count %></dd>
    <dt>Accessions with Rights Transferred</dt>
    <dd><%= @report.total_transferred %></dd>
  </dl>
</div>

<% @report.each do |accession| %>
  <% next if accession.fetch('rightsTransferred') == 0 %>

  <div class="report-record">
    <div class="identifier">Accession <%= format_4part(accession.fetch('accessionNumber')) %></div>
    <div class="record-title"><%= accession.fetch('title') %></div>

    <dl>
      <dt>Accession Date</dt>
      <dd><%= format_date(accession.fetch('accessionDate')) %></dd>
      <dt>Date Processed</dt>
      <dd><%= format_date(accession.fetch('accessionProcessedDate')) %></dd>
      <% if accession.fetch('extentNumber') %>
        <dt>Extent</dt>
        <dd><%= format_number(accession.fetch('extentNumber')) %> <%= accession.fetch('extentType') %></dd>
      <% end %>
      <dt>Cataloged</dt>
      <dd><%= format_boolean(accession.fetch('cataloged') == 1) %></dd>
      <dt>Rights &amp; Restrictions</dt>
      <dd>
        <% if accession.fetch('restrictionsApply') == 1 %>
          <span style="color: red">Restrictions apply.</span>
        <% else %>
          No restrictions.
        <% end %>
      </dd>
      <dt>Rights Transferred</dt>
      <dd>
        <% if accession.fetch('rightsTransferred') == 1 %>
          Rights Transferred
        <% else %>
          Not transferred
        <% end %>
      </dd>
    </dl>

    <%= text_section('Rights Transferred Note', accession.fetch('rightsTransferredNote')) %>

    <%= text_section('Use Restrictions Note', accession.fetch('useRestrictionsNote')) %>

    <%= text_section('Access Restrictions Note', accession.fetch('accessRestrictionsNote')) %>

    <%= subreport_section("Linked Resource(s)", 'AccessionResourcesSubreport', accession) %>
  </div>
<% end %>