<table style="margin-bottom: 30px">
  <tr>
    <td>Number of Records Reviewed:</td>
    <td><%= @report.total_count %></td>
  </tr>
  <tr>
    <td>Accessions with Inventories:</td>
    <td><%= @report.total_with_inventories %></td>
  </tr>
</table>

<div class="page-break"></div>

<% if @report.total_with_inventories > 0 %>
  <table style="width: 100%;">
    <tbody>
    <% @report.each do |record| %>
      <% next unless record['inventory'] %>
      <tr>
        <td colspan="12" style="border-top: 1px dashed black"></td>
      </tr>
      <tr>
        <td colspan="9"><h2><strong><%= transform_text(record['title']) %></strong></h2></td>
        <td colspan="3"><strong><%= format_4part(record['accessionNumber']) %></strong></td>
      </tr>
      <tr>
        <td colspan="12">
          <% if record['extentNumber'] %>
            <strong>Extent:</strong>
            <%= format_number(record['extentNumber']) %> <%= record['extentType'] %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="12">
          <p><strong>Inventory:</strong></p>
          <%= preserve_newlines(record['inventory']) %>
        </td>
      </tr>
      <tr>
        <td colspan="12">
          <%= insert_subreport('AccessionResourcesSubreport', record) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<br/>
<br/>
<br/>