<div class="titlepage">
  <div class="title"><%= @report.title %></div>

  <dl>
    <dt>Number of Records Reviewed</dt>
    <dd><%= @report.total_count %></dd>
    <dt>Accessions with Inventories</dt>
    <dd><%= @report.total_with_inventories %></dd>
  </dl>
</div>

<% @report.each do |accession| %>
  <% next unless accession['inventory'] %>

  <div class="report-record">
    <div class="identifier">Accession <%= format_4part(accession.fetch('accessionNumber')) %></div>
    <div class="record-title"><%= accession.fetch('title') %></div>

    <dl>
      <% if accession.fetch('extentNumber') %>
        <dt>Extent</dt>
        <dd><%= format_number(accession.fetch('extentNumber')) %> <%= accession.fetch('extentType') %></dd>
      <% end %>
    </dl>

    <%= text_section('Inventory', accession.fetch('inventory')) %>

    <%= subreport_section("Linked Resource(s)", 'AccessionResourcesSubreport', accession) %>
  </div>
<% end %>