<div class="titlepage">
  <div class="title"><%= @report.title %></div>

  <dl>
    <dt>Number of Records</dt>
    <dd><%= @report.total_count %></dd>
    <dt>Processed Accessions</dt>
    <dd><%= @report.total_processed %></dd>
    <dt>Accessioned Between</dt>
    <dd><%= format_date(@report.from_date) %> &amp;amp; <%= format_date(@report.to_date) %></dd>
    <dt>Total Extent of Processed Accessions</dt>
    <dd><%= format_number(@report.total_extent_of_processed) %></dd>
  </dl>
</div>

<% @report.each do |accession| %>
  <% next unless accession.fetch('accessionProcessed') == '1' %>

  <div class="report-record">
    <div class="identifier">Accession <%= format_4part(accession.fetch('accessionNumber')) %></div>
    <div class="record-title"><%= accession.fetch('title') %></div>

    <dl>
      <dt>Date Processed</dt>
      <dd><%= format_date(accession.fetch('accessionProcessedDate')) %></dd>
      <% if accession.fetch('extentNumber') %>
        <dt>Extent</dt>
        <dd><%= format_number(accession.fetch('extentNumber')) %> <%= accession.fetch('extentType') %></dd>
      <% end %>
      <dt>Cataloged</dt>
      <dd><%= format_boolean(accession.fetch('cataloged') == 1) %></dd>
    </dl>

    <%= subreport_section("Linked Resource(s)", 'AccessionResourcesSubreport', accession) %>
  </div>
<% end %>