<div class="titlepage">

    <div class="title">Accession Records</div>

    <div class="summary">
        <div class="summary-item">
            <label>Number of accessions</label>
            <div class="summary-value"><%= @report.accession_count %></div>
        </div>
    </div>
</div>

<% @report.each do |accession| %>

    <div class="report-record">
        <div class="section">
            <div class="identifier">Accession <%= format_4part(accession.fetch('accessionNumber')) %></div>
            <div class="record-title"><%= accession.fetch('title') %></div>

            <div class="summary">
                <div class="summary-item">
                    <label>Accession</label>
                    <div class="summary-value"><%= format_date(accession.fetch('accessionDate')) %></div>
                </div>
                <div class="summary-item">
                    <label>Extent</label>
                    <div class="summary-value"><%= format_number(accession.fetch('extentNumber')) %> <%= accession.fetch('extentType') %></div>
                </div>
            </div>

            <div class="section">
                <h3>Container</h3>
                <%= accession.fetch('containerSummary') %>
            </div>

            <div class="section">
                <h3>Deaccessions</h3>

                <%= insert_subreport('AccessionDeaccessionsSubreport', accession) %>
            </div>

            <div class="section">
                <h3>Locations</h3>

                <%= insert_subreport('AccessionLocationsSubreport', accession) %>
            </div>

            <div class="section">
                <h3>General Note</h3>
                <%= accession.fetch('containerSummary') %>
            </div>

            <div class="summary">
                <div class="summary-item">
                    <label>Begin Date</label>
                    <div class="summary-value"><%= format_date(accession.fetch('dateBegin')) %></div>
                </div>
                <div class="summary-item">
                    <label>End Date</label>
                    <div class="summary-value"><%= format_date(accession.fetch('dateEnd')) %></div>
                </div>
                <div class="summary-item">
                    <label>Bulk Begin Date</label>
                    <div class="summary-value"><%= format_date(accession.fetch('bulkDateBegin')) %></div>
                </div>
                <div class="summary-item">
                    <label>Bulk End Date</label>
                    <div class="summary-value"><%= format_date(accession.fetch('bulkDateEnd')) %></div>
                </div>
                <div class="summary-item">
                    <label>Date Expression</label>
                    <div class="summary-value"><%= accession.fetch('dateExpression') %></div>
                </div>
            </div>

            <div class="section">
                <h3>Names</h3>
                <%= insert_subreport('AccessionNamesSubreport', accession) %>
            </div>

            <div class="section">
                <h3>Subjects</h3>
                <%= insert_subreport('AccessionSubjectsSubreport', accession) %>
            </div>

            <div class="summary">
                <div class="summary-item">
                    <label>Acquisition</label>
                    <div class="summary-value"><%= accession.fetch('acquisitionType') %></div>
                </div>
            </div>

            <%= text_section('Retention', accession.fetch('retentionRule')) %>

            <%= text_section('Description', accession.fetch('descriptionNote')) %>

            <%= text_section('Condition', accession.fetch('conditionNote')) %>

            <%= text_section('Inventory', accession.fetch('inventory')) %>

            <%= text_section('Disposition', accession.fetch('dispositionNote')) %>

            <%= text_section('Restrictions Apply?', format_boolean(accession.fetch('restrictionsApply'))) %>

            <div class="section">
                <h3>Retention</h3>
                <%= accession.fetch('retentionRule') %>
            </div>

            <div class="section">
                <h3>Description</h3>
                <%= accession.fetch('descriptionNote') %>
            </div>

            <div class="section">
                <h3>Access Restrictions Note</h3>
                <%= accession.fetch('accessRestrictionsNote') %>
            </div>

            <div class="section">
                <h3>Use Restrictions Note</h3>
                <%= accession.fetch('useRestrictionsNote') %>
            </div>

            <div class="section">
                <h3>Rights Transferred?</h3>
                <%= format_boolean(accession.fetch('rightsTransferred')) %>
            </div>

            <div class="section">
                <h3>Rights Transferred Note</h3>
                <%= format_boolean(accession.fetch('rightsTransferredNote')) %>
            </div>

        </div>

    </div>
<% end %>
