<div class="titlepage">
  <div class="title"><%= h @report.title %></div>

  <dl>
    <dt>Number of Records</dt>
    <dd><%= h @report.total_count %></dd>
  </dl>
</div>

<% @report.each do |name| %>
  <div class="report-record">
    <div class="identifier"><%= h name.fetch('sortName') %></div>

    <dl>
      <dt>Name Type</dt>
      <dd><%= h name.fetch('nameType') %></dd>
      <dt>Source</dt>
      <dd><%= h name.fetch('nameSource') %></dd>
    </dl>

    <%= subreport_section("Non-preferred form(s)", AgentNameNonPreferredSubreport, name) %>
  </div>
<% end %>
