<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <style media="screen,print">
        /* ArchivesSpace reporting Stylesheet */
      <% if report.format.to_sym === :pdf %>
        <% AppConfig[:report_pdf_font_paths].each do |font_path| %>
          @font-face {
            src: url('<%= font_path %>');
            -fs-pdf-font-embed: embed;
            -fs-pdf-font-encoding: Identity-H;
          }
        <% end %>

        body {
          font-family: <%= AppConfig[:report_pdf_font_family] %>;
        }
      <% else %>
        body {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          max-width: 900px;
        }
      <% end %>

      .header .logo {
        display: none;
      }

      .header h1 {
        margin-top: 1em;
        font-size: 1.8em;
      }

      table h2,
      table h3 {
        margin: 10px 0 0;
      }

      .titlepage {
        border: 1px solid black;
        padding: 1em;
        page-break-after: always;
        height: 100%;
      }

      .titlepage .title {
        font-weight: bold;
        font-size: 36pt;
        display: table;
        margin: 0 auto;

      }

      .report-record {
        margin-top: 2em;
        padding-bottom: 2em;
        border-bottom: 2px solid black;
        page-break-inside: <%= report.page_break ? 'auto' : 'avoid' %>;
        page-break-after: <%= report.page_break ? 'always' : 'auto' %>;
      }

      .sub-report-title {
        font-weight: bold;
        border: 2px solid black;
        background-color: gray;
        padding: .5em;
        page-break-inside: avoid;
        page-break-after: avoid;
        width: available;
      }

      .sub-report-item {
        border-left: 2px solid gray;
        border-right: 2px solid gray;
        border-bottom: 2px solid gray;
        background-color: #f1f1f1;
        padding: .5em;
        width: available;
        page-break-inside: avoid;
      }

      ul {
        margin: 0 0 0;
      }

      ul dl {
        margin-top: .5em;
        margin-bottom: 0em;
      }

      .pdf ul {
        list-style-type: none;
      }

      dl {
        margin-top: 1em;
      }

      dt {
        float: left;
        padding: 0;
        font-weight: bold;
        margin-right: 10px;
      }

      dt:after {
        content: ": "
      }

      dd {
        display: block;
        margin: 2px;
        padding: 0;
      }

      .identifier {
        margin-top: 1em;
        margin-bottom: 0.25em;
        font-size: 24pt;
        font-weight: bold;
        page-break-after: avoid;
      }

      .record-title {
        font-style: italic;
        margin-bottom: 1em;
      }

      h3 {
        font-size: 100%;
        font-weight: bold;
      }

      .report-listing {
        border: 1px solid #AAA;
        border-collapse: collapse;
        table-layout: fixed;
        width: 95%;
        clear: both;
      }

      @page {
        size: <%= report.layout %> <%= report.orientation %>;
        -fs-flow-bottom: "footer";
      }

      thead {
        display: table-header-group;
      }

      .page-break {
        page-break-after: always;
      }

      @page {
        @bottom-center {
          content: element(footer);
        }
      }

      .html #footer {
        text-align: center;
        font-size:  0.9em;
        margin-top: 20px;
      }

      .pdf {
        font-size: 11px;
      }

      .pdf #footer .timestamp {
        position: absolute;
        bottom: 10px;
        left: 0;
        font-size: 0.8em;
      }
    </style>
  </head>

  <body class="<%= report.format %>">
    <%= do_render('report_content.erb') %>

    <div id="footer" class="footer" style="position: running(footer);">
      <div class="timestamp">
        <% if report.repo_id %>
          Scoped for Repository: <%= report.repository %><br/>
        <% end %>
        Report Generated at <%= DateTime.now.strftime("%Y-%m-%d %H:%M %Z") %>
      </div>
    </div>

  </body>
</html>
