<div class="titlepage">
  <div class="title"><%= h @report.title %></div>

  <dl>
    <dt>Number of Records</dt>
    <dd><%= h @report.total_count %></dd>
    <dt>Total Extent of Resources</dt>
    <dd><%= format_number(@report.total_extent) %></dd>
    <dt>Total Extent of Deaccessions</dt>
    <dd><%= format_number(@report.total_extent_of_deaccessions) %></dd>
  </dl>
</div>

<% @report.each do |resource| %>
  <div class="report-record">
    <div class="identifier">Resource <%= format_4part(resource.fetch('resourceIdentifier')) %></div>
    <div class="record-title"><%= h resource.fetch('title') %></div>

    <dl>
      <dt>Dates</dt>
      <dd><%= h resource.fetch('dateExpression') %></dd>
      <dt>Level</dt>
      <dd><%= h resource.fetch('level') %></dd>
    </dl>

    <%= subreport_section("Deaccessions", 'ResourceDeaccessionsSubreport', resource) %>
  </div>
<% end %>
