<div class="titlepage">
  <div class="title"><%= h @report.title %></div>

  <dl>
    <dt>Number of Records</dt>
    <dd><%= h @report.total_count %></dd>
    <dt>Number of Restricted Records</dt>
    <dd><%= h @report.restricted_count %></dd>
    <dt>Total Extent of Resources</dt>
    <dd><%= format_number(@report.total_extent) %></dd>
    <dt>Total Extent of Restricted Resources</dt>
    <dd><%= format_number(@report.total_restricted_extent) %></dd>
  </dl>
</div>

<% @report.each do |resource| %>
  <% next if resource.fetch('restrictionsApply') != 1 %>

  <div class="report-record">
    <div class="identifier">Resource <%= format_4part(resource.fetch('resourceIdentifier')) %></div>
    <div class="record-title"><%= h resource.fetch('title') %></div>

    <dl>
      <dt>Dates</dt>
      <dd><%= h resource.fetch('dateExpression') %></dd>
      <dt>Level</dt>
      <dd><%= h resource.fetch('level') %></dd>
      <dt>Access</dt>
      <dd>
        <% if resource.fetch('restrictionsApply') == 1 %>
          Restrictions apply.
        <% else %>
          Open to researchers without restrictions.
        <% end %>
      </dd>
    </dl>

    <%= subreport_section("Names as Creators", ResourceNamesAsCreatorsSubreport, resource) %>
  </div>
<% end %>
