<!DOCTYPE html>
<html>
<head>
	<title><%=  (@page_title.blank? ? '' : "#{@page_title} | ") %><%= t('brand.title') %></title>
	<%= csrf_meta_tags %>
<%# block cross-origin refer per https://go-to-hellman.blogspot.com/2015/06/protect-reader-privacy-with-referrer.html %>
	<% if AppConfig[:pui_block_referrer] %>
		<meta name="referrer" content="origin-when-cross-origin" />
	<% end %>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>

	<% ASUtils.find_local_directories('public/views/layout_head.html.erb').each do |template| %>
		<% if File.exists?(template) %>
			<!-- Begin plugin layout -->
			<%= render :file => template %>
			<!-- End plugin layout -->
		<% end %>
	<% end %>
</head>

<body>
	<div class="container-fluid no-pad">
		<%= render partial: 'shared/header' %>
		<%= render partial: 'shared/navigation' %>
	</div>

	<section id="container-fluid" class="container">
		<%= flash_messages %>
		<%= yield %>
	</section>

	<script  type="text/javascript" >
		$(".single_note").each(function(index, element){$(this).readmore(250)});
	</script>

	<%= render partial: 'shared/footer' %>
</body>
</html>
