<%
  if form.obj.empty?
    selected_json = "{}"
  else
    selected_json = ASUtils.to_json(form.obj['_resolved'])
  end

  field_label ||= t("accession._singular")
  linker_id ||= "ref"
%>
<div class="form-group row required">
  <label class="control-label col-sm-2 text-right"
         id="<%= form.id_for(linker_id) %>_label"
         for="<%= form.id_for(linker_id) %>">
    <%= field_label %>
  </label>
  <div class="controls col-sm-9">
    <div class="input-group linker-wrapper"
         role="combobox"
         aria-expanded="false"
         aria-controls="<%= form.id_for(linker_id) %>_listbox"
         id="<%= form.id_for(linker_id) %>_combobox">
      <input type="text" class="linker"
             id="<%= form.id_for(linker_id) %>"
             aria-autocomplete="both"
             aria-controls="<%= form.id_for(linker_id) %>_listbox"
             aria-labelledby="<%= form.id_for(linker_id) %>_label"
             data-label_link="<%= t("accession_link._frontend.action.add") %>"
             data-label_browse="<%= t("top_container._frontend.bulk_operations.collection_accession_linker.browse") %>"
             data-label_create_and_link="<%= t("linker.create_and_link") %>"
             data-path="<%= form.path %>"
             data-name="ref"
             data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
             data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.BASE_FACETS %>"
             data-selected="<%= selected_json %>"
             data-format_property="display_string"
             data-multiplicity="one"
             data-types='["accession"]'
      />

       <% if form.obj.has_key?('_resolved') %>

        <input type="text"
               class='prelinker'
               name="<%= form.path %>[_resolved]"
               value="<%= selected_json %>" />

        <input type="text"
               class='prelinker'
               name="<%= form.path %>[ref]"
               value="<%= form.obj[linker_id] %>" />

      <% end %>

      <div class="input-group-append">
        <button
          type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-expanded="false"
          aria-label="<%= I18n.t("actions.link_to_record") %>"
        ><span class="sr-only"></button>
        <ul class="dropdown-menu">
          <li>
            <button
              type="button"
              class="btn btn-sm rounded-0 dropdown-item linker-browse-btn"
            ><%= t("actions.browse") %></button>
          </li>
          <% if user_can?('update_accession_record') %>
          <li>
            <button
              type="button"
              data-target="<%= url_for :controller => :accessions, :action => :new, :inline => true %>"
              class="btn btn-sm rounded-0 dropdown-item linker-create-btn"
            ><%= I18n.t("actions.create") %></button>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
