<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @location_profile, :form => form} %>

<% define_template("location_profile", jsonmodel_definition(:location_profile)) do |form| %>
  <% if action_name != "show" ||
    ["depth", "height", "width", "dimension_units"].any? { |attr| form.obj[attr].nil? } %>
    <div class="alert alert-info"><%= t("location_profile._frontend.messages.fields_required_for_calculator") %></div>
  <% end %>
  <section id="basic_information">
    <h3>
      <%= t("location_profile._frontend.section.basic_information") %>
      <%= link_to_help :topic => "location_profile_basic_information" %>
    </h3>
    <fieldset>
      <%= render_plugin_partials("top_of_basic_information_location_profile",
                                 :form => form,
                                 :record => @location_profile) %>

      <%= form.label_and_textfield "name" %>
      <%= form.label_and_select "dimension_units", form.possible_options_for("dimension_units") %>
      <%= form.label_and_textfield "depth" %>
      <%= form.label_and_textfield "height" %>
      <%= form.label_and_textfield "width" %>
  
      <%= render_plugin_partials("basic_information_location_profile",
                                 :form => form,
                                 :record => @location_profile) %>

  </fieldset>
  </section>
<% end %>

<% form.emit_template("location_profile") %>

