<%
  if form.obj['ref'].blank?
    selected_json = "{}"
  else
    selected_json = form.obj['_resolved'].to_json
  end

  exclude_ids = [] if exclude_ids.blank?

  allow_create = true if allow_create.nil?

  required = false if required.nil?

  linkable_types = ["location_profile"]
%>
<div class="d-flex form-group <% if required %>required<% end %>">
  <label class="control-label col-sm-2 text-right"
         id="<%= form.id_for("ref") %>_label"
         for="<%= form.id_for("ref") %>">
    <%= t("location_profile._singular") %>
  </label>
  <div class="controls col-sm-8">
    <div class="input-group linker-wrapper"
         role="combobox"
         aria-owns="<%= form.id_for("ref") %>_listbox"
         id="<%= form.id_for("ref") %>_combobox">
      <input type="text" class="linker"
             id="<%= form.id_for("ref") %>"
             aria-autocomplete="both"
             aria-controls="<%= form.id_for("ref") %>_listbox"
             aria-labelledby="<%= form.id_for("ref") %>_label"
             data-label_create="<%= t("location_profile.linker.create") %>"
             data-label_browse="<%= t("location_profile.linker.browse") %>"
             data-label_link="<%= t("linker.link") %>"
             data-label_create_and_link="<%= t("linker.create_and_link") %>"
             data-name="ref"
             data-path="<%= form.path %>"
             data-url="<%= url_for :controller => :location_profiles, :action => :typeahead, :format => :json %>"
             data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.CONTAINER_PROFILE_FACETS, :sort => "title_sort asc" %>"
             data-selected="<%= selected_json %>"
             data-multiplicity="one"
             data-types='<%= linkable_types.to_json %>'
             data-exclude='<%= exclude_ids.to_json %>'
      />
      <div class="input-group-append">
        <button
          type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-label="<%= t("location_profile.linker.link_title") %>"
          aria-expanded="false"
        ></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <button
              type="button"
              class="btn btn-sm rounded-0 dropdown-item linker-browse-btn"
            ><%= t("actions.browse") %></button>
          </li>
          <% if allow_create && user_can?('update_location_profile_record') %>
            <li>
              <button
                type="button"
                class="btn btn-sm rounded-0 dropdown-item linker-create-btn"
                data-target="<%= url_for :controller => :location_profiles, :action => :new, :inline => true %>"
              ><%= t("actions.create") %></button>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
