<%= setup_context(:title => t("location_profile._plural")) %>

<div class="d-flex">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <div class="record-toolbar d-flex justify-content-end">
      <div class="btn-group">
        <%= link_to t("actions.export_csv"), request.parameters.merge({ :format => :csv, :fields => fields}), id: "searchExport",  class:  "btn btn-sm btn-primary" %>
        <%= link_to t("location_profile._frontend.action.create"), {:controller => :location_profiles, :action => :new}, :class => "btn btn-sm btn-default" %>
      </div>
    </div>
    <div class="record-pane">

      <h2><%= t("location_profile._plural") %></h2>

      <%= render_aspace_partial :partial => "search/listing" %>

    </div>
  </div>
</div>
