<div class="titlepage">
  <div class="title"><%= h @report.title %></div>

  <dl>
    <dt><%= t('number_of_records') %></dt>
    <dd><%= h @report.total_count %></dd>
    <dt><%= t('accessioned_between') %></dt>
    <dd><%= format_date(@report.from_date) %> &amp; <%= format_date(@report.to_date) %></dd>
    <dt><%= t('total_extent') %></dt>
    <dd><%= format_number(@report.total_extent) %></dd>
    <dt><%= t('total_deaccessions_extent') %></dt>
    <dd><%= format_number(@report.total_extent_of_deaccessions) %></dd>
  </dl>
</div>

<% @report.each do |accession| %>
  <div class="report-record">
    <div class="identifier"><%= t('identifier_prefix') %> <%= format_4part(accession.fetch('accessionNumber')) %></div>
    <div class="record-title"><%= h accession.fetch('title') %></div>
  
    <dl>
      <dt><%= t('accession_date') %></dt>
      <dd><%= format_date(accession.fetch('accessionDate')) %></dd>
      <% if accession.fetch('extentNumber') %>
        <dt><%= t('extent') %></dt>
        <dd><%= format_number(accession.fetch('extentNumber')) %> <%= accession.fetch('extentType') %></dd>
      <% end %>
    </dl>
  
    <%= subreport_section(t('deaccessions'), AccessionDeaccessionsSubreport, accession) %>
  </div>
<% end %>
