<% if @transfer_errors %>
    <%# Pull in the relevant javascript for the 'show' view to make sure trees are loaded %>
    <%= javascript_include_tag "#{controller.controller_name}.show" if File.exist?("#{Rails.root}/app/assets/javascripts/#{controller_name}.show.js") ||  File.exist?("#{Rails.root}/app/assets/javascripts/#{controller_name}.show.js.erb") %>
    <% errors_by_message = transfer_errors_by_message(@transfer_errors) %>
    <div class="alert alert-danger">
        <h3><%= t('actions.transfer_failed') %></h3>
        <% errors_by_message.each do |message, errors| %>
            <% inspect_error = false %>
            <p>
                <%= message %>:
                <ul>
                    <% errors.keys.each do |uri| %>
                        <li><%= link_to uri, {:controller => :resolver, :action => :resolve_readonly, :uri => uri} %></li>
                    <% end %>
                </ul>
            </p>
        <% end %>
        <% if errors_by_message.empty? %>
            <%# Shouldn't happen, but give something to report... %>
            <%= @transfer_errors.inspect %>
        <% end %>
    </div>
<% end %>
