<%= render :partial => "dates/template" %>

<% if results['min_begin'].blank? %>
  <div class="alert alert-warning">
    <% if results['label'].blank? %>
      <%= t('date_calculator.no_dates') %>
    <% else %>
      <%= t('date_calculator.no_dates_for_label', :label => t("enumerations.date_label.#{results['label']}", :default => results['label'])) %>
    <% end %>
  </div>
<% else %>

  <h3>
    <%= results.fetch('object').fetch('title') %>
    <span class="label label-info badge">
      <%= t("#{results.fetch('object').fetch('jsonmodel_type')}._singular") %>
    </span>
  </h3>

  <h3><%= t('date_calculator.results_title') %></h3>

  <div id="createError" class="alert alert-danger" aria-hidden="true" style="display: none;">
    <%= t('date_calculator.generic_create_error') %>
  </div>

  <div id="createSuccess" class="alert alert-success" aria-hidden="true" style="display: none;">
    <%= t('date_calculator.create_success') %>
  </div>

  <%= form_tag url_for(:controller => :date_calculator, :action => :create_date), :id => 'date_calculator_create_date_form', :class => 'form-horizontal' do %>
    <%= hidden_field_tag 'record_uri', results.fetch('object').fetch('uri') %>
    <%= hidden_field_tag 'record_type', results.fetch('object').fetch('jsonmodel_type') %>
    <%= hidden_field_tag 'record_id', results.fetch('object').fetch('id') %>
    <%= form_context :date, date do |form| %>
      <div data-name-path="date" data-id-path="date">
        <% form.emit_template 'date' %>
      </div>
    <% end %>
  <% end %>

<% end %>
