<%
  label_options = [[t('date_calculator.all_labels'), '']]
      .concat(JSONModel.enum_values('date_label').map{|label|
        [t("enumerations.date_label.#{label}", :default => label), label]
      })
%>

<div id="template_date_calculator_form_<%= record.jsonmodel_type %>_<%= record.id %>"><!--
  <div class="modal-body">
    <%= form_tag url_for(:controller => :date_calculator, :action => :calculate), :id => 'date_calculator_form' do %>
      <%= hidden_field_tag 'inline', 'true' %>
      <%= hidden_field_tag 'record_uri', record.uri %>
      <div class="d-flex gap-x-3">
        <%= label_tag 'label', t('date.label'), :class => 'col-sm-2 control-label sr-only' %>
        <%= select_tag 'label', options_for_select(label_options, 'creation'), :class => 'w-50 form-control' %>
        <button class='btn btn-primary'><%= t('date_calculator.calculate_button') %>
      </div>
    <% end %>
    <div id="date-calculator-result" class="mt-3"></div>
  </div>
  <div class="modal-footer">
    <button id='createDateButton' class="btn btn-primary" aria-hidden='true' style='display: none;'><%= t "date_calculator.create_date_button" %></button>
    <button class="ml-auto btn btn-cancel btn-default" data-dismiss="modal"><%= t "actions.cancel" %></button>
  </div>
--></div>
<div id="template_dates_calculator_error_message"><!--
  <div id="alertBucket" class="alert alert-danger">
    ${message}
  </div>
--></div>
