<div class='py-3 d-flex bg-white record-pane mr-0'>
  <div class='col-md-3'>
    <div id='archivesSpaceSidebar' class="sidebar d-flex position-sticky top-1rem">
      <ul class='nav as-nav-list d-flex flex-column'>
        <% @info.keys.each do |key|  %>
          <li><a class="nav-link" href="#<%= key %>"><%= key.upcase %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class='col-md-9'>
    <h3 class="subrecord-form-heading">
      <%= t("system_info.#{@app_context}") %>
    </h3>
    <% @info.keys.each do |key| %>
      <section id="<%= key %>" class="subrecord-form-dummy" >
        <h3><%= key.upcase %></h3>
        <div class='subrecord-form-container form-horizontal'>
          <% if %w{ environment globals jvm_properties appconfig memory db_info solr_info  }.include?(key.to_s) %>
            <% @info[key].each_pair do |k, v| %>
              <div class='form-group'>
              <label class='control-label'><%= k %></label>
              <% if v.is_a?(Proc) %>
                hi
                <div class='controls label-only'>Dynamically defined at <%= v.source_location %></div>
              <% else %>
                <div class='controls label-only'><%= v.to_s %></div>
              <% end %>
              </div>
            <% end %>
          <% else %>
              <div class='controls label-only'><%= @info[key].to_s %></div>
          <% end %>
        </div>
      </section>
    <% end %>
  </div>
</div>
