<%= javascript_include_tag "jobs.show" %>
<section id="job_status" data-current-status='running'></section>
<div>
  <section id="logs" class="subrecord-form-dummy" data-status-poll-interval="4000" data-poll-url="<%= url_for(:controller => :system_info, :action => :stream_log, :app_context => @app_context) %>">
    <div class="w-100 d-flex align-items-center border-bottom bg-asFormHeadingBg">
      <h3 class="subrecord-form-heading">
        <%= t("system_info.#{@app_context}") %>
      </h3>
      <button class="mr-auto btn btn-default btn-sm btn-follow-log active"
              data-text-active="<%= t("job._frontend.actions.following_log") %>"
              data-text-inactive="<%= t("job._frontend.actions.follow_log") %>"><%= t("job._frontend.actions.following_log") %></button>
    </div>
    <div class="subrecord-form-container">
      <div class="alert alert-info"><%= t("actions.loading") %></div>
      <pre id="logSpool" style="display: none"></pre>
    </div>
  </section>
</div>
