<div class='row record-pane'>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav pull-left">
      <li class='dropdown'>
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
        <%= I18n.t("system_info.frontend") %>
        <b class='caret'></b>
      </a>
        <ul class='dropdown-menu'>
          <li><%= link_to I18n.t("system_info.frontend_info"), {:controller => :system_info, :action => :show, :app_context => "frontend_info" } %></li>
          <li><%= link_to I18n.t("system_info.frontend_log"), {:controller => :system_info, :action => :show, :app_context => "frontend_log" } %></li>
        </ul>
      </li>
      
      <li class='dropdown'>
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
        <%= I18n.t("system_info.backend") %>
        <b class='caret'></b>
      </a>
        <ul class='dropdown-menu'>
          <li><%= link_to I18n.t("system_info.backend_info"), {:controller => :system_info, :action => :show, :app_context => "backend_info" } %></li>
          <li><%= link_to I18n.t("system_info.backend_log"), {:controller => :system_info, :action => :show, :app_context => "backend_log" } %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</div>
