<%= link_to_help :topic => "classification" %>

<h2>
   <%= @form_title ? @form_title : @classification.title.blank? ? "#{I18n.t("classification.new_title")}" : @classification.title %>  <span class="label label-info badge"><%= I18n.t("classification._singular") %></span>
</h2>

<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => form} %>

<%= hidden_field_tag "id", @classification.id %>
<%= hidden_field_tag "uri", @classification.uri %>

<fieldset>
  <% define_template("classification", jsonmodel_definition(:classification)) do |form| %>
    <section id="basic_information">
      <h3><%= t("classification._frontend.section.basic_information") %></h3>

      <%= render_plugin_partials("top_of_basic_information_classification",
                                 :form => form,
                                 :record => @classification) %>

      <%= form.label_and_textfield "identifier" %>
      <%= form.label_and_textfield "title" %>

      <%= render_aspace_partial :partial => "shared/slug", :locals => {:form => form, :record_type => @classification} if AppConfig[:use_human_readable_urls] %>

      <%= form.label_and_textarea "description" %>

      <%= render_plugin_partials("basic_information_classification",
                                 :form => form,
                                 :record => @classification) %>

      <% form.push("creator", form["creator"] || {}) do %>
        <%= render_aspace_partial :partial => "agents/linker", :locals => {:form => form, :linker_label => t("classification.creator"), :optional => true, :multiplicity => "one"} %>
      <% end %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_records"} %>

    </section>
  <% end %>

  <% form.emit_template("classification") %>

</fieldset>
