<div class="mt-3 d-flex">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "classifications/sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= readonly_context :classification, @classification do |readonly| %>
        <h2><%= @classification.title %> <span class="label label-info badge"><%= t("classification._singular") %></span></h2>

        <% define_template "classification", jsonmodel_definition(:classification) do |form, classification| %>
          <section id="basic_information">
            <h3><%= t("classification._frontend.section.basic_information") %></h3>

            <%= render_plugin_partials("top_of_basic_information_classification",
                                       :form => form,
                                       :record => @classification) %>

            <%= form.label_and_textarea "identifier" %>
            <%= form.label_and_textarea "title" %>

            <%= render_aspace_partial :partial => "shared/slug", :locals => {:form => form, :record_type => @classification} if AppConfig[:use_human_readable_urls] %>

            <%= form.label_and_textarea "description" %>

            <%= render_plugin_partials("basic_information_classification",
                                       :form => form,
                                       :record => @classification) %>

            <% if !readonly["creator"].blank? %>
              <div class="token-list">
                <%= readonly.label_with_field(:creator, render_token(:object => readonly,
                                                                     :label => readonly["creator"]["_resolved"]["title"],
                                                                     :type => readonly["creator"]["_resolved"]["agent_type"],
                                                                     :uri => readonly["creator"]["_resolved"]["uri"])) %>
              </div>
            <% end %>
            <%= display_audit_info(@classification) %>
          </section>
        <% end %>

        <% readonly.emit_template("classification", @classification) %>

        <%= render_aspace_partial :partial => "search/embedded", :locals => {:section_id => "classifications", :filter_term => {"classification_uris" => @classification.uri}.to_json, :heading_text => t("classification._frontend.section.search_embedded")} %>

      <% end %>
    </div>
  </div>
</div>
