<% if user_can?('update_classification_record') %>
  <div class="row-fluid">
    <div class="span12">
      <div class="record-toolbar">
        <% if !['edit', 'update', 'create'].include?(controller.action_name) %>
          <div class="btn-group pull-left">
            <%= link_to I18n.t("actions.edit"), {:controller => :classifications, :action => :edit, :id => @classification.id, :anchor => "classification_#{@classification.id}"}, :class => "btn btn-small btn-primary" %>
          </div>
        <% end %>
        <% if ['new', 'create', 'edit', 'update'].include?(controller.action_name) %>
          <div class="pull-left save-changes">
            <button type="submit" class="btn btn-primary btn-small"><%= I18n.t("actions.save_prefix") %></button>
          </div>
        <% end %>
        <% if ['edit', 'update'].include?(controller.action_name) %>
          <div class="pull-left revert-changes">
            &#180;
            <%= link_to I18n.t("actions.revert"), {:controller => :classifications, :action => :edit, :id => @classification.id}, :class => "btn btn-small" %>
            <%= I18n.t("actions.toolbar_disabled_message") %>
          </div>
        <% end %>
        <div class="btn-toolbar pull-right">
          <% if user_can?('delete_classification_record') %>
            <div class="btn-group">
              <div class="btn btn-inline-form">
                <%= button_to I18n.t("actions.delete"),
                            {:controller => :classifications, :action => :delete, :id => @classification.id},
                            :method => :post,
                            :class => "btn btn-small btn-danger delete-record",
                            :"data-confirmation" => true,
                            :"data-title" => I18n.t("actions.delete_confirm_title"),
                            :"data-message" => I18n.t("actions.delete_confirm_message"),
                            :"data-confirm-btn-label" => "#{I18n.t("actions.delete")}",
                            :"data-confirm-btn-class" => "btn-danger",
                            :"data-authenticity_token" => form_authenticity_token %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
