<%= setup_context :title => I18n.t("classification._plural") %>

<%
   @show_multiselect_column = user_can?("delete_classification_record")
%>

<div class="row">
   <div class="col-md-3">
     <div class="sidebar">
       <%= render_aspace_partial :partial => "search/filter" %>
     </div>
   </div>
   <div class="col-md-9">
     <% if user_can?('update_classification_record') %>
       <div class="record-toolbar">
         <div class="pull-right">
           <div class="btn-group">
             <% if user_can?('manage_repository') %>
               <div class="btn-group">
                 <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                   <%= I18n.t("actions.edit_default_values") %>
                   <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu open-aligned-right">
                   <li><%= link_to I18n.t("classification._singular"), {:controller => :classifications, :action => :defaults} %></li>
                   <li> <%= link_to I18n.t("classification_term._singular"), {:controller => :classification_terms, :action => :defaults} %></li>
                 </ul>
               </div>
             <% end %>
             <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv}), id: "searchExport",  class:  "btn btn-sm btn-info" %> 
             <%= link_to I18n.t("classification._frontend.action.create"), {:controller => :classifications, :action => :new}, :class => "btn btn-sm btn-default" %>
             <% if user_can?("delete_classification_record") %>
               <%= button_delete_multiple_action(:classifications) %>
             <% end %>
           </div>
         </div>
         <br style="clear:both" /> <!-- So dirty! -->
       </div>
     <% end %>

     <div class="record-pane">
       <%= link_to_help :topic => "search" %>

       <h2><%= I18n.t("classification._plural") %></h2>

       <%= render_aspace_partial :partial => "shared/flash_messages" %>

       <%= render_aspace_partial :partial => "search/listing" %>
     </div>
   </div>
</div>
