<%= setup_context :object => @classification %>

<%= form_for @classification, :as => "classification", :url => {:action => :create}, :html => {:class => 'form-horizontal aspace-record-form', :id => "classification_form"} do |f| %>
  <%= form_context :classification, @classification do |form| %>
    <div class="d-flex">
       <div class="col-md-3">
          <%= render_aspace_partial :partial => "classifications/sidebar" %>
       </div> <!-- col-md-3 -->
       <div class="col-md-9">
         <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
         <div class="record-pane">

           <%= render_aspace_partial :partial => "classifications/form_container", :locals => {:form => form} %>

           <div class="form-actions pl-0">
              <button type="submit" class="btn btn-primary"><%= t("classification._frontend.action.save") %></button>
              <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
           </div>
         </div>
       </div>
    </div>
  <% end %>
<% end %>
