<div class="titlepage">
  <div class="title"><%= h @report.title %></div>

  <dl>
    <dt><%= t('number_of_records') %></dt>
    <dd><%= h @report.total_count %></dd>
  </dl>
</div>

<% @report.each do |accession| %>
  <div class="report-record">
    <div class="identifier"><%= t('identifier_prefix') %> <%= format_4part(accession.fetch('accessionNumber')) %></div>
    <div class="record-title"><%= h accession.fetch('title') %></div>

    <%= subreport_section(t('names'), AccessionNamesSubreport, accession) %>

    <%= subreport_section(t('subjects'), AccessionSubjectsSubreport, accession) %>

    <%= subreport_section(t('classifications'), AccessionClassificationsSubreport, accession) %>
  </div>
<% end %>
