<div class="titlepage">
  <div class="title"><%= h @report.title %></div>

  <dl>
    <dt><%= t('total_count') %></dt>
    <dd><%= h @report.total_count %></dd>
    <dt><%= t('total_extent') %></dt>
    <dd><%= format_number(@report.total_extent) %></dd>
    <dt><%= t('total_extent_of_deaccessions') %></dt>
    <dd><%= format_number(@report.total_extent_of_deaccessions) %></dd>
  </dl>
</div>

<% @report.each do |resource| %>
  <div class="report-record">
    <div class="identifier"><%= t("identifier_prefix") %> <%= format_4part(resource.fetch('resourceIdentifier')) %></div>
    <div class="record-title"><%= h resource.fetch('title') %></div>

    <dl>
      <dt><%= t('date') %></dt>
      <dd><%= h resource.fetch('dateExpression') %></dd>
      <dt><%= t('level') %></dt>
      <dd><%= h resource.fetch('level') %></dd>
    </dl>

    <%= subreport_section(t('deaccessions'), ResourceDeaccessionsSubreport, resource) %>
  </div>
<% end %>
