<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @repository, :form => form} %>

<fieldset>
  <% define_template("repository", jsonmodel_definition(:repository)) do |form| %>
    <section id="all_fields">
      <h3><%= t("repository._frontend.section.all_fields") %></h3>
      <%= form.label_and_textfield "repo_code", :field_opts => {:size => 10} %>
      <%= form.label_and_textarea "name" %>

      <% if AppConfig[:arks_enabled] && AppConfig[:ark_enable_repository_shoulder] %>
        <%= form.label_and_textfield "ark_shoulder", :field_opts => {:size => 10} %>
      <% else %>
        <%= form.hidden_input "ark_shoulder" %>
      <% end %>

      <%= render_aspace_partial :partial => "shared/slug", :locals => {:form => form, :record_type => @repository} if AppConfig[:use_human_readable_urls] %>

      <%= form.label_and_boolean "publish", {}, user_prefs["publish"] %>
      <hr/>
      <%= form.label_and_textfield "org_code", :field_opts => {:size => 10} %>
      <%= form.label_and_textfield "parent_institution_name" %>
      <%= form.label_and_select "country",  form.possible_options_for("country", true) %>
      <hr/>
      <%= form.label_and_textarea "description" %>
      <%= form.label_and_textfield "url" %>
      <%= form.label_and_textfield "image_url" %>
    </section>
  <% end %>

  <% define_template("repository_oai", jsonmodel_definition(:repository)) do |form| %>
    <section id="oai_fields" class="subrecord-form">
      <h3><%= t("repository._frontend.section.oai_fields") %></h3>
      <% if params[:action] == "edit" %>
        <a name="oai_settings"></a>
        <div class='form-actions'>
          <br />
          <p><%= t("oai_config.oai_leave_repo_form") %></p>
          <a class="btn btn-warning" href="<%= url_for(:controller => :oai_config, :action => :edit) %>"><%= t("actions.edit_global_oai") %></a>
        </div>
        <hr />
      <% end %>
      <%= form.label_and_boolean "oai_is_disabled", {} %>
      <% if @repository && @repository['repository'] %>
        <%= form.checkboxes_for_oai_sets(@repository['repository']['oai_sets_available'], @enum) %>
      <% end %>
    </section>
  <% end %>

  <% form.push("repository", form['repository']) do |form| %>
    <% form.emit_template("repository") %>
  <% end %>

  <% form.push("repository_oai", form['repository']) do |form| %>
    <% form.emit_template("repository_oai") %>
  <% end %>

  <% form.push("agent_representation", form['agent_representation'] || {}) do |form| %>
    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "agent_contacts", :section_id => "agent_contact", :template_erb => "agents/contact_details", :template => "agent_contact", :cardinality => :zero_to_one, :list_limited_to_one => true, :remove_disabled => true} %>
  <% end %>

  <% if form.readonly? %>
    <%= show_plugins_for("repository", form) %>
  <% else %>
    <%= form_plugins_for("repository", form) %>
  <% end %>
</fieldset>
