<%= setup_context(:title => t("repository._plural")) %>

<div class="d-flex">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('create_repository') %>
      <div class="record-toolbar d-flex justify-content-end">
        <div class="btn-group" role="group">
          <% if user_can?('administer_system') && AppConfig[:pui_repositories_sort] == :position %>
            <%= link_to t("repository._frontend.action.order_for_pui"), {:controller => :repositories, :action => :reorder}, :class => "btn btn-sm btn-default" %>
          <% end %>
          <%= link_to t("repository._frontend.action.create"), {:controller => :repositories, :action => :new}, :class => "btn btn-sm btn-default" %>
        </div>
      </div>
    <% end %>

    <div class="record-pane">
      <%= link_to_help :topic => "repository" %>

      <h2><%= t("repository._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
