<%= setup_context(:title => I18n.t("repository._plural")) %>

<div class="row-fluid">
  <div class="span3">
    <%= render_aspace_partial :partial => "search/filter" %>
  </div>
  <div class="span9">
    <% if user_can?('manage_repository') %>
      <div class="row-fluid">
        <div class="span12">
          <div class="record-toolbar">
            <div class="btn-group pull-right">
              <%= link_to I18n.t("repository._frontend.action.create"), {:controller => :repositories, :action => :new}, :class => "btn btn-small" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="record-pane">
      <%= link_to_help :topic => "repository" %>

      <h2><%= I18n.t("repository._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
