<%= setup_context :object => @repository, :title => @repository.id %>

<div class="row-fluid">
  <div class="span3">
    <%= render :partial => "repositories/sidebar" %>
  </div>
  <div class="span9">
    <%= render :partial => "repositories/toolbar" %>
    <div class="record-pane">
      <h2><%= @repository.id %>  <span class="label label-info"><%= I18n.t("repository._html.singular") %></span></h2>

      <%= readonly_context :repository, @repository do |readonly| %>
        <%= render :partial => "repositories/form_container", :locals => {:form => readonly} %>
      <% end %>
      <%# read_only_view(@repository.to_hash) %>
    </div>
  </div>
</div>
