<%= setup_context :object => JSONModel(:repository).from_hash(@repository['repository']), :title => @repository.repository['name'] %>

<%
   other_repositories = @repositories.reject {|r| r['uri'] == session[:repo]}.map {|r| [r['repo_code'], r['uri']]}
%>

<div class="d-flex">
  <div class="col-md-3"> </div>
  <div class="col-md-9">
    <div class="record-pane">
      <h2><%= @repository.repository['name'] %>  <span class="label label-info badge"><%= t("repository._singular") %></span></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <% if !@transfer_errors.blank? %>
        <div class="alert alert-danger">
          <h3><%= t('repository._frontend.messages.transfer_failed') %></h3>
          <ul>
            <% @transfer_errors.each do |uri, errors| %>
              <li>
                <strong><%= link_to uri, {:controller => :resolver, :action => :resolve_readonly, :uri => uri} %></strong>
                <ul>
                  <% errors.each do |error| %>
                    <li><%= error['json_property'] %> - <%= error['message'] %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h3><%= t('repository._frontend.messages.transfer_target') %></h3>

      <section class="transfer-form">
        <%= form_tag(url_for({:action => :transfer, :id => @repository.id})) do |f| %>
          <%= form_context :transfer, {} do |form| %>
            <%= form.label_and_select "ref", other_repositories %>
          <% end %>

          <div class="clearfix"></div>
          <%= t('repository._frontend.messages.transfer_warning') %>
          <br/>
          <br/>

          <div class="form-actions d-flex">
            <div class="btn-group">
            <%= button_confirm_action(t("actions.transfer"),
                                     url_for({:action => :transfer, :id => @repository.id}),
                                     {
                                       :class => "btn btn-danger pull-left transfer-button",
                                       :"data-title" => t('repository._frontend.messages.continue_with_transfer'),
                                       :"data-message" => t('repository._frontend.messages.transfer_warning'),
                                       :"data-confirm-btn-label" => "#{t("actions.transfer")}",
                                       :"data-confirm-btn-class" => "btn btn-danger"
                                     })
            %>
            </div>

            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default ml-auto" %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
