<div id="main-content" class="row">

  <div class="information col-sm-12">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    <%= render partial: 'shared/breadcrumbs' %>
    <div class="identifier"><span class="id-label"><%= t('search_sorting.identifier') %>:</span>&#160; <%= @result['json']['identifier'] %></div>
    <br/>
    <div class="description"><%= @result.dig('json', 'description') || '' %></div>
  </div>
  <div class="col-sm-9">
<!-- <%= @result.pretty_inspect.html_safe %> -->

<br/>
    <% @result.linked_records.each do |rec| %>
       <h4>Linked record: <%= rec.display_string %></h4>
	 <%= render partial: 'shared/record', locals: {:rec => rec} %>
    <% end %>
  </div>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
   <% unless !defined?(@tree) || @tree.blank? %> 
    <h4><%= t('cont_arr') %></h4>
    <%= render partial: 'shared/children_tree', locals: {:tree => @tree} %>
   <% end %>
  </div>
</div>
