<% json = @result.json %>

<div id="main-content" class="agents">

  <div class="row" id="info_row">
    <div class="information col-sm-7">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    </div>
    <div class="page_actions col-sm-5 right">
      <%= render partial: 'shared/page_actions', locals: {:record => @result, :title => @result.display_string, :url => request.fullpath } %>
    </div>
  </div>


<div class="row">
  <div class="col-sm-9">

    <%# IDENTIFIERS %>
    <%# Only display if identifier is a URL  %>
    <%# URL Regex from: https://stackoverflow.com/questions/3809401/what-is-a-good-regular-expression-to-match-a-url %>

    <% if json['agent_record_identifiers'] %>
      <% url_ids = json['agent_record_identifiers'].select do |ari| %>
        <% ari['record_identifier'] =~ /(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})/ && ari['source_enum'] == "snac" %>
      <% end %>
      <% if url_ids.length > 0 %>
        <h3>Identifiers</h3>
        <ul>
          <% url_ids.each do |id| %>
            <li>
              <a href="<%= id['record_identifier'] %>"><%= id['record_identifier'] %></a>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <%# DATES %>
    <% if json['dates_of_existence'] %>
      <h3>Dates</h3>
      <ul>
        <% json['dates_of_existence'].each do |d| %>
          <li>
            <b>Existence:</b>
            <%= render partial: 'structured_date', locals: {:date => d} %>
          </li>

        <% end %>
      </ul>
    <% end %>

    <%# BIOGRAPHY %>
    <% bio_notes = json['notes'].select{ |n| n['jsonmodel_type'] == "note_bioghist" && n['publish'] == true} %>

    <% if bio_notes.any? %>
      <h3>Biography</h3>
      <% bio_notes.each do |n| %>
        <% sn = n['subnotes'] %>

        <% if sn.first['publish'] == true %>
          <p><%= sn.first['content'] %></p>
        <% end %>
      <% end %>
    <% end %>

    <%# GENERAL CONTEXT %>
    <% gn_notes = json['notes'].select{ |n| n['jsonmodel_type'] == "note_general_context" && n['publish'] == true} %>

    <% if gn_notes.any? %>
      <h3>General Context</h3>
      <% gn_notes.each do |n| %>
        <% sn = n['subnotes'] %>

        <% if sn.first['publish'] == true %>
          <p><%= sn.first['content'] %></p>
        <% end %>
      <% end %>
    <% end %>

    <br />
    <br />

    <% if !@results.blank? && @results['total_hits'] > 0 %>
     <h2><%= t('found', {:count => @results['total_hits'], :type => @results['total_hits'] == 1? t('coll_obj._singular') : t('coll_obj._plural')}) %>:</h2>
         <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
         <% @results.records.each do |result| %>
           <%= render partial: 'shared/result', locals: {:result => result, :props => {:full => false}} %>
         <% end %>
         <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
    <% end %>
  </div>

  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
    <% if @result.json['names'].length > 1 ||
          (@result.respond_to?(:related_agents) && !ASUtils.wrap(@result.related_agents).empty?) ||
          ASUtils.wrap(@result.external_documents).length > 0 %>

    <h3><%= t('more_about') %> '<%= @result.display_string %>'</h3>
    <div class="acc_holder clear" >
      <div class="panel-group" id="agent_accordion">

        <% n = render partial: 'name', locals: {:result => @result} %>
        <%= render partial: 'shared/accordion_panel', locals: 
          {:p_title =>  I18n.t('name_person._plural'),
            :p_id => "names_panel",
            :p_body => n } %>

        <% pn = render partial: 'parallel_names', locals: {:result => @result} %>
        <%= render partial: 'shared/accordion_panel', locals: 
          {:p_title =>  I18n.t('parallel_name_person._plural'),
            :p_id => "parallel_names_panel",
            :p_body => pn } %>

        <% pl = render partial: 'places', locals: {:result => @result} %>
        <%= render partial: 'shared/accordion_panel', locals: 
          {:p_title =>  I18n.t('agent_place._plural'),
            :p_id => "agent_places_panel",
            :p_body => pl } %>

        <% o = render partial: 'occupations', locals: {:result => @result} %>
        <%= render partial: 'shared/accordion_panel', locals: 
          {:p_title =>  I18n.t('agent_occupation._plural'),
            :p_id => "agent_occupations_panel",
            :p_body => o } %>
 
        <% if @result.respond_to?(:related_agents) && !ASUtils.wrap(@result.related_agents).empty? %>
          <% x = render partial: 'agents/related_agents', locals: {:related_agents => @result.json['related_agents'], :list_clss => 'related_agents'} %>
          <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('agent._public.section.related_agents'), :p_id => 'related_agents_list', :p_body => x} %>
        <% end %>

        <% unless json['agent_resources'].blank? %>
          <% x = render partial: 'shared/present_list_agent_resources', locals: {:list =>  json['agent_resources'], :list_clss => 'external_docs'} %>
          <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('agent_resources'), :p_id => 'agent_resource_list', :p_body => x} %>
        <% end %>
 

        <% unless @result.external_documents.blank? %>
          <% x = render partial: 'shared/present_list_external_docs', locals: {:list =>  @result.external_documents, :list_clss => 'external_docs'} %>
          <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('external_docs'), :p_id => 'ext_doc_list', :p_body => x} %>
        <% end %>
        
      </div>
    </div>
    <script type="text/javascript" >
        initialize_accordion("#agent_accordion .note_panel", "<%= t('accordion.expand') %>" , "<%= t('accordion.collapse') %>");
    </script>

  <% end %>

  <% if !@facets.blank? || !@filters.blank? %>
    <%= render partial: 'shared/facets' %>
  <% end %>
  </div>
</div>
