<% def_msg = I18n.t("defaults.accept_default_message") %>
<% define_template("defaults", jsonmodel_definition(:defaults)) do |form| %>
  <div class="subrecord-form-fields">
      <h3><%= I18n.t "defaults.general_section" %></h3>
      <%= form.label_and_boolean "show_suppressed", {}, form.default_for("show_suppressed") %>
      <%= form.label_and_boolean "publish", {}, form.default_for("publish") %>
      <%= form.label_and_boolean "default_values", {}, form.default_for("default_values") %>
      <%= form.label_and_select "locale", supported_locales_options, supported_locales_default %>

      <% ['accession', 'resource', 'digital_object', 'multi'].each do |type| %>
        <h3><%= I18n.t "defaults.#{type}_browse_section" %></h3>
        <% (1..AppConfig[:max_search_columns]).to_a.each do |n| %>
          <div class="form-group">
            <label for="<%= form.id_for("#{type}_browse_column_#{n}") %>" class="col-sm-2 control-label has-tooltip" data-placement="bottom" title="<%= I18n.t("defaults.browse_column_tooltip", :num => n) %>">
              <%= I18n.t("defaults.browse_column", :num => n) %>
            </label>
            <div class="col-sm-9">
              <% default = @inherited_defaults["#{type}_browse_column_#{n}"] %>
              <%= form.select("#{type}_browse_column_#{n}", form.possible_options_for("#{type}_browse_column_#{n}", true, {:i18n_prefix => "search.#{type}", :empty_label => "#{def_msg} " + (default ? I18n.t("search.#{type}.#{default}") : I18n.t("defaults.no_value")), :i18n_path_for => {'no_value' => 'defaults.no_value'}})) %>
            </div>
          </div>
        <% end %>
        <div class="form-group">
          <label for="<%= form.id_for("#{type}_sort_column") %>" class="col-sm-2 control-label has-tooltip" data-placement="bottom" title="<%= I18n.t("defaults.sort_column_tooltip") %>">
            <%= I18n.t("defaults.sort_column") %>
          </label>
          <div class="col-sm-9">
            <% default = @inherited_defaults["#{type}_sort_column"] %>
            <%= form.select("#{type}_sort_column", form.possible_options_for("#{type}_sort_column", true, {:i18n_prefix => "search.#{type}", :empty_label => "#{def_msg} " + (default ? I18n.t("search.#{type}.#{default}") : I18n.t("defaults.no_value")), :i18n_path_for => {'no_value' => 'defaults.no_value'}})) %>
          </div>
        </div>
        <div class="form-group">
          <label for="<%= form.id_for("#{type}_sort_direction") %>" class="col-sm-2 control-label has-tooltip" data-placement="bottom" title="<%= I18n.t("defaults.sort_direction_tooltip") %>">
            <%= I18n.t("defaults.sort_direction") %>
          </label>
          <div class="col-sm-9">
            <% default = @inherited_defaults["#{type}_sort_direction"] %>
            <%= form.select("#{type}_sort_direction", form.possible_options_for("#{type}_sort_direction", true, {:i18n_prefix => "search_sorting", :empty_label => "#{def_msg} " + (default ? I18n.t("search.#{type}.#{default}") : I18n.t("defaults.no_value")), :i18n_path_for => {'no_value' => 'defaults.no_value'}})) %>
          </div>
        </div>
      <% end %>

      <h3><%= I18n.t "defaults.note_order_section" %></h3>

      <%=
        out = "<ul id='note-order-preference-list' class='list-group'>"
        order = @current_prefs['defaults']['note_order'] ||  []

        order = order.empty? ? note_types_for(:resource).keys : order

        order.each do |type|
          out  += "<li data-id='#{type}' class='list-group-item'><span class='glyphicon glyphicon-menu-hamburger'></span> #{I18n.t('enumerations._note_types.'+type)}</li>"
        end
        out += "</ul>"
        out.html_safe
      %>


      <%= form.hidden_input "junk", "bin me please" %>
   </div>
<% end %>
