<% define_template("defaults", jsonmodel_definition(:defaults)) do |form| %>
  <div class="subrecord-form-fields">
      <%= form.label_and_boolean "show_suppressed", {}, form.default_for("show_suppressed") %>
      <%= form.label_and_boolean "publish", {}, form.default_for("publish") %>

      <h3><%= I18n.t "defaults.accession_browse_section" %></h3>
      <%= form.label_and_select "accession_browse_column_1", form.possible_options_for("accession_browse_column_1", true) %>
      <%= form.label_and_select "accession_browse_column_2", form.possible_options_for("accession_browse_column_2", true) %>
      <%= form.label_and_select "accession_browse_column_3", form.possible_options_for("accession_browse_column_3", true) %>
      <%= form.label_and_select "accession_browse_column_4", form.possible_options_for("accession_browse_column_4", true) %>
      <%= form.label_and_select "accession_browse_column_5", form.possible_options_for("accession_browse_column_5", true) %>

      <%= form.hidden_input "junk", "bin me please" %>
   </div>
<% end %>
