<!DOCTYPE html>
<html>
<head>
  <title><%= I18n.t("brand.title") %> | <% if @repository %><%= @repository.repo_code %> | <% end %><% if @title %><%= @title %><% else %><%= controller.class.name %> >> <%= controller.action_name %><% end %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= favicon_link_tag %>

  <% if ENV["TEST_MODE"] %>
    <script>
      TEST_ERRORS = [];
      window.onerror = function(errorMsg, url, lineNo) {
        TEST_ERRORS.push({
          message: errorMsg,
          url: url,
          line: lineNo
        })
      }
    </script>
  <% end %>

  <%= include_theme_css %>

  <%= csrf_meta_tags %>

  <% ASUtils.find_local_directories('public/views/layout_head.html.erb').each do |layout| %>
    <% if File.exist?(layout) %>
      <!-- Begin plugin layout -->
      <%= render :file => layout %>
      <!-- End plugin layout -->
    <% end %>
  <% end %>

  <script>
    FRONTEND_URL = "<%= j(AppConfig[:frontend_proxy_url]) %>";
    PUBLIC_URL = "<%= j(AppConfig[:public_proxy_url]) %>";
    APP_PATH = "<%= j(AppConfig[:public_proxy_prefix]) %>";
    FACET_SHOW_FEWER = "<%= I18n.t("search_results.filter.show_fewer") %>";
    FACET_SHOW_MORE = "<%= I18n.t("search_results.filter.show_more") %>";
  </script>

</head>

<body data-spy="scroll" data-target="#archivesSpaceSidebar" data-offset="20">

  <header>
    <div class="branding-container container">
      <div class="row-fluid">
        <%= render "site/branding" %>
      </div>
    </div>
    <div class="container">
      <%= render "site/header" %>
    </div>
  </header>

  <div class="container">
    <% if !current_page?(root_url) %>
      <div class="advanced-search-container <% if params["advanced"].blank? or params["advanced"]  === 'false' %>hide<% end %>">
        <%= render_aspace_partial :partial => "site/advanced_search" %>
      </div>
    <% end %>
    <%= render_aspace_partial :partial => "site/breadcrumb" %>
    <%= yield %>
  </div>

  <footer>
    <%= render "site/footer" %>
  </footer>

  <%= javascript_include_tag "application" %>

</body>
</html>
