<div class="titlepage">
  <div class="title"><%= h @report.title %></div>

  <dl>
    <dt><%= t('total_count') %></dt>
    <dd><%= h @report.total_count %></dd>
    <dt><%= t('restricted_count') %></dt>
    <dd><%= h @report.restricted_count %></dd>
    <dt><%= t('total_extent') %></dt>
    <dd><%= format_number(@report.total_extent) %></dd>
    <dt><%= t('total_restricted_extent') %></dt>
    <dd><%= format_number(@report.total_restricted_extent) %></dd>
  </dl>
</div>

<% @report.each do |resource| %>
  <% next if resource.fetch('restrictionsApply') != 1 %>

  <div class="report-record"<%= t('identifier_prefix') %> <%= format_4part(resource.fetch('resourceIdentifier')) %></div>
    <div class="record-title"><%= h resource.fetch('title') %></div>

    <dl>
      <dt><%= t('dates') %></dt>
      <dd><%= h resource.fetch('dateExpression') %></dd>
      <dt><%= t('level') %></dt>
      <dd><%= h resource.fetch('level') %></dd>
      <dt><%= t('access') %></dt>
      <dd>
        <% if resource.fetch('restrictionsApply') == 1 %>
          <%= t('restrictions_apply_true') %>
        <% else %>
          <%= t('restrictions_apply_false') %>
        <% end %>
      </dd>
    </dl>

    <%= subreport_section(t('names_as_creators'), ResourceNamesAsCreatorsSubreport, resource) %>
  </div>
<% end %>
