<div class="subrecord-form-fields" data-allow-removal="true">
  <%= f.label_and_field :portion %>
  <%= f.label_and_field :number %>
  <%= f.label_and_field :extent_type %>
  <hr/>
  <%= f.label_and_textarea :container_summary %>
  <%= f.label_and_textarea :physical_details %>
  <%= f.label_and_field :dimensions %>
</div>