<table>
    <tr>
        <th><%= i18n('term') %></th>
        <th><%= i18n('type') %></th>
        <th><%= i18n('source') %></th>
        <% @report.each do |subject| %>
            <tr>
                <td><%= h subject.fetch('subjectTerm') %></td>
                <td><%= h subject.fetch('subjectTermType') %></td>
                <td><%= h subject.fetch('subjectSource') %></td>
            </tr>
        <% end %>
</table>
