<%= render_aspace_partial :partial => "shared/flash_messages" %>

<% if @template_files.length %>
    <table class="table table-striped table-bordered table-align-middle">
        <thead>
            <tr>
                <th><%= t("bulk_import_template._singular") %></th>
                <th></th>
                <th width="70px"><span class="sr-only"><%= t('actions.download') %></span></th>
            </tr>
        </thead>
        <tbody>
            <% @template_files.each do |template| %>
                <tr>
                    <td><%= template[:name] %></td>
                    <td><%= t("bulk_import_templates.#{template[:filename].sub('.', '_')}") %></td>
                    <td>
                        <div class="btn-group" style="float: right">
                            <%= link_to t("actions.download"), {:controller => :bulk_import_templates, :action => :download, :filename => template[:filename]}, :class => "btn btn-primary btn-sm" %>
                        </div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p class="alert alert-info">
        No Bulk Import Templates.
    </p>
<% end %>
