<%= setup_context :title => I18n.t("import.ead_title") %>

<%= form_tag '/import/upload', :multipart => true, :class => 'form-horizontal', :id => "import" do %>
  <div class="row-fluid">
    <div class="span12 record-pane">
      <h2><%= @title %></h2>

      <% if flash[:success] %>
        <div class="alert alert-success">
          <pre><%= flash[:success] %></pre>
        </div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-error">
          <%= flash[:error] %>
        </div>
      <% end %>

      <% if @import_results %>
        <h3><%= I18n.t("import.import_report") %></h3>
        <pre><%= @import_results %></pre>
        <h3><%= I18n.t("import.ead_import_another") %></h3>
      <% end %>

      <fieldset>
        <div class="control-group ">
          <%= label_tag :upload, 'Select an EAD to upload:', :class=>"control-label" %>
          <div class="controls">
            <%= file_field :upload, :import_file %>
          </div>
        </div>
        <br/>
        <p class="well"><%= @importer_list %></p>
      </fieldset>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
          <%= image_tag "archivesspace/btn-busy.gif", :class=>"btn-busy-icon" %> 
          <span class="btn-label"><%= I18n.t("import.submit") %></span>
          <span class="btn-busy-label"><%= I18n.t("import.submit_busy_message") %></span>
        </button>
        <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel" %>
      </div>
    </div>
  </div>
<% end %>
