<h1>Import a File</h1>
<%= form_tag '/import/upload', :multipart => true do %>
	<p>
		<%= label_tag :upload, 'File' %>
		<%= file_field :upload, :import_file %>
	</p>
	<p>
		<%= submit_tag('Upload') %>
	</p>
<% end %>
<p>
	<%= @importer_list %>

