<% (level - 1).times do |previous_level| %>
    <div class="print-record-border level-<%= previous_level + 1 %>">
<% end %>

<%
format_container = lambda do |type, indicator|
    if type
        type = type.capitalize
    end

    [type, indicator].compact.join(' ')
end
%>

<div class="avoid-break">
    <div class="print-record-border print-record level-<%= level %>">
        <h3><a class="record-title" id="<%= record.uri %>"><%= record.display_string %></a></h3>

        <% Array(record.instances).each do |instance| %>
            <% if instance['sub_container'] %>
                <div class="container-information">
                    <%
                    container_string = [
                        format_container.call(instance['sub_container']['top_container']['_resolved']['type'],
                                              instance['sub_container']['top_container']['_resolved']['indicator']),
                        format_container.call(instance['sub_container']['type_2'],
                                              instance['sub_container']['indicator_2']),
                        format_container.call(instance['sub_container']['type_3'],
                                              instance['sub_container']['indicator_3'])
                    ].reject(&:empty?).join('; ')
                    %>

                    <% unless container_string.empty? %>
                        <%= container_string %>
                        <% if instance['instance_type'] %>
                            (<%= I18n.t("enumerations.instance_instance_type.#{instance['instance_type']}",
                                        :default => instance['instance_type']) %>)
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        <% end %>

        <div class="indented">
            <% record.notes.each do |note_type, note| %>
                <% if note_type != 'physdesc' && !note['is_inherited'] %>
                    <h4>
                        <% if note['label'] %>
                            <%= note['label'] %>
                        <% else %>
                            <%= I18n.t("enumerations._note_types.#{note_type}") %>
                        <% end %>
                    </h4>
                    <p><%== note['note_text'] %></p>
                <% end %>
            <% end %>

            <dl>
                <% unless record.direct_component_id.empty? %>
                    <dt><%= I18n.t('resource._public.finding_aid.identifier') %></dt><dd><%= record.direct_component_id %></dd>
                <% end %>

                <% record.dates.each do |date| %>
                    <% next if date['_inherited'] %>
                    <dt><%= I18n.t('resource._public.finding_aid.date') %></dt><dd><%= date['final_expression'] %></dd>
                <% end %>

                <% record.extents.each do |extent| %>
                    <% next if extent['_inherited'] %>
                    <dt><%= I18n.t('resource._public.physdesc') %></dt><dd><%= extent['display'] %></dd>
                <% end %>

                <% record.notes.each do |note_type, note| %>
                    <% if note_type == 'physdesc' && !note['is_inherited'] %>
                        <dt><%= I18n.t('resource._public.physdesc') %></dt><dd><%== note['note_text'] %></dd>
                    <% end %>
                <% end %>

                <%= render(:partial => 'digital_object_links', :locals => {
                    :instances => record.instances
                }) %>

                <% subjects = Array(record.subjects).reject {|s| s['is_inherited']} %>
                <% if !subjects.empty? %>
                    <dt><%= I18n.t('pdf_reports.controlled_access_headings') %></dt>
                    <dd>
                        <ul>
                            <% subjects.each do |subject| %>
                                <li><%= subject['title'] %></li>
                            <% end %>
                        </ul>
                    </dd>
                <% end %>
            </dl>

        </div>
    </div>
</div>
<% (level - 1).times do |previous_level| %>
    </div>
<% end %>
