<div class="repository-information">
    <% if repository_name['name'] %>
      <div class="repository-name"><%= repository_name['name'] %></div>
        <div class="repository-address">
      </div>
    <% end %>
    <% if repository_information['email'] %>
        <div class="repository-email"><a href="mailto:<%= repository_information['email'] %>"><%= repository_information['email'] %></a></div>
    <% end %>
    <% if repository_information['top']['url'] %>
        <div class="repository-url">
            URL: <a href="<%= repository_information['top']['url'] %>"><%= repository_information['top']['url'] %></a>
        </div>
    <% end %>
</div>
