<a id="summary-information"></a>
<h3><%= I18n.t('pdf_reports.summary_information') %></h3>

<dl>
    <dt><%= I18n.t('repository._singular') %>:</dt>
    <dd><%= record.resolved_repository['name'] %></dd>

    <% if record.agents %>
        <% record.agents.each do |role, relationships| %>
            <% relationships.each do |relationship| %>
                <% if role != "subject" %>
                  <dt><%= I18n.t('enumerations.linked_agent_role.' + role.to_s) %></dt>
                  <dd><%= relationship['_resolved']['title'] %></dd>
                <% end %>
            <% end %>
        <% end %>
    <% end %>

    <dt><%= I18n.t('resource._public.finding_aid.title') %>:</dt><dd><%== process_mixed_content(record.display_string) %></dd>

    <dt><%= I18n.t('resource._public.identifier_pdf') %>:</dt><dd><%= record.identifier %></dd>

    <% if record['ark_name'] %> 
      <dt><%= I18n.t('resource._public.identifier_ark') %>:</dt><dd><a href='<%= record['ark_name'].first %>'>Archival Resource Key</a></dd>

    <% end %> 

    <dt><%= I18n.t('resource._public.uri') %>:</dt>
    <dd><%= record['uri'] %></dd>

    <% record.dates.each do |date| %>
        <dt><%= I18n.t('resource._public.finding_aid.date') + " [#{date['date_type']}]" %>:</dt><dd><%= date['final_expression'].split(':')[1].chomp %></dd>
    <% end %>


    <% record.extents.each do |extent| %>
        <dt><%= I18n.t('resource._public.physdesc') %>:</dt><dd><%= extent['display'] %></dd>
    <% end %>

    <% unless record.notes.include?('langmaterial') || record.lang_materials.blank? %>
        <dt><%= t('resource._public.lang_pdf') %>:</dt>
        <% record.lang_materials.each do |lang_material| %>
            <dd><%= t('enumerations.language_iso639_2.' + lang_material['language'])%></dd>
        <% end %>
    <% end %>

    <% record.notes.each do |note_type, note| %>
        <% if note_type == 'physdesc' %>
            <a id="note-<%= note_type %>"></a>
            <% note.each do |n| %>
              <dt><%= n['label'] ? n['label'] : I18n.t("enumerations._note_types.#{note_type}") %>:</dt><dd><%== process_mixed_content(n['note_text']) %></dd>
            <% end %>
        <% end %>
    <% end %>

    <% record.notes.each do |note_type, note| %>
        <% if note_type == 'langmaterial' %>
            <a id="note-<%= note_type %>"></a>
            <% note.each do |n| %>
              <dt><%= n['label'] ? n['label'] : I18n.t("enumerations._note_types.#{note_type}") %>:</dt><dd><%== process_mixed_content(n['note_text']) %></dd>
            <% end %>
        <% end %>
    <% end %>

    <% record.notes.each do |note_type, note| %>
        <% if note_type == 'physloc' %>
            <a id="note-<%= note_type %>"></a>
            <% note.each do |n| %>
              <dt><%= n['label'] ? n['label'] : I18n.t("enumerations._note_types.#{note_type}") %>:</dt><dd><%== process_mixed_content(n['note_text']) %></dd>
            <% end %>
        <% end %>
    <% end %>

    <% record.notes.each do |note_type, note| %>
        <% if note_type == 'abstract' %>
            <a id="note-<%= note_type %>"></a>
            <% note.each do |n| %>
              <dt><%= n['label'] ? n['label'] : I18n.t("enumerations._note_types.#{note_type}") %>:</dt><dd><%== process_mixed_content(n['note_text']) %></dd>
            <% end %>
        <% end %>
    <% end %>

    <% if record.container_display && !record.container_display.empty? %>
        <dt><%= I18n.t('resource._public.storage') %>:</dt><dd><%= record.container_display.join(', ') %></dd>
    <% end %>

    <%= render(:partial => 'digital_object_links', :locals => {
        :instances => record.instances
    }) %>

</dl>

    <a href="#toc">Return to Table of Contents</a>

    <% record.notes.each do |note_type, note| %>
        <% if note_type == 'prefercite' %>
            <a id="note-<%= note_type %>"></a>
            <% note.each do |n| %>
              <div id="note-prefercite">
                <dl><dt><%= n['label'] ? n['label'] : I18n.t("enumerations._note_types.#{note_type}") %>:</dt><dd><%== process_mixed_content(n['note_text']) %></dd></dl>
              </div>
            <% end %>
        <% end %>
    <% end %>

<div class='bioghist'>
  <a id="note-bioghist"></a>
  <% unless record.notes['bioghist'].nil? %>
    <% record.notes['bioghist'].each do |n| %>
        <h3>
          <% if n['label'] %>
              <%== process_mixed_content(n['label']) %>
          <% else %>
              <%= I18n.t("enumerations._note_types.bioghist") %>
          <% end %>
        </h3>
      <p><%= n['note_text'].html_safe %></p>
    <% end %>
  <% end %>

  <a href="#toc">Return to Table of Contents</a>
</div>


<a id="note-scopecontent"></a>

<% unless record.notes['scopecontent'].nil? %>
  <% record.notes['scopecontent'].each do |n| %>
    <h3>
      <% if n['label'] %>
          <%== process_mixed_content(n['label']) %>
      <% else %>
          <%= I18n.t("enumerations._note_types.scopecontent") %>
      <% end %>
    </h3>
    <p><%== process_mixed_content(n['note_text']) %></p>
  <% end %>

  <a href="#toc">Return to Table of Contents</a>
<% end %>

<a id="note-arrangement"></a>

<% unless record.notes['arrangement'].nil? %>
  <% record.notes['arrangement'].each do |n| %>
    <h3>
      <% if n['label'] %>
          <%== process_mixed_content(n['label']) %>
      <% else %>
          <%= I18n.t("enumerations._note_types.arrangement") %>
      <% end %>
    </h3>
    <p><%== process_mixed_content(n['note_text']) %></p>
  <% end %>

  <a href="#toc">Return to Table of Contents</a>
<% end %>


<a id="administrative-information"></a>
<h3><%= I18n.t('pdf_reports.administrative_information') %></h3>

<h4><%= I18n.t('pdf_reports.publication_statement') %></h4>
<%= render(:partial => 'publication_statement', :locals => {
    :repository_name => record.resolved_repository['name'],
    :repository_information => record.repository_information
}) %>

<%# FIXME: duplicated from title page because this code doesn't work in a partial for some reason %>
<% if record.resolved_repository && 
      record.resolved_repository['agent_representation'].any? &&
      record.resolved_repository['agent_representation']['_resolved'].any? &&
      record.resolved_repository['agent_representation']['_resolved']['agent_contacts'].any? %>
    <% contacts = record.resolved_repository['agent_representation']['_resolved']['agent_contacts'].first %>
<% else %>
    <% contacts = nil %>
<% end %>


<div class="repository-information">
  <div class="repository-address"><%= record.resolved_repository['name'] %></div>
  
  <% if contacts %>
    <div class="repository-address">
      <% if contacts['address_1'] %> 
        <p><%= contacts['address_1'] %></p>
      <% end %>

      <% if contacts['address_2'] %> 
        <p><%= contacts['address_2'] %></p>
      <% end %>

      <% if contacts['address_3'] %> 
        <p><%= contacts['address_3'] %></p>
      <% end %>

      <% address_string = "" %>
      <% address_string += contacts['city'] if contacts['city'] %>
      <% address_string += ", #{contacts['region']}" if contacts['region'] %>
      <% address_string += " #{contacts['post_code']}" if contacts['post_code'] %>

      <% unless address_string.empty? %> 
        <p><%= address_string %></p>
      <% end %>
    </div>
  <% end %>
</div>
<br />

<% if record.finding_aid['revision'].length > 0 %>
  <h4><%= I18n.t('revision_statement.description') %></h4>
  <% record.finding_aid['revision'].each do |rev| %>
    <p><%= rev['desc'] %></p>
  <% end %>
<% end %>

<%# display all notes %>
<% record.notes.each do |note_type, note| %>
  <% next if note_type == "bioghist" %> 
  <% next if note_type == "scopecontent" %> 
  <% next if note_type == "relatedmaterial" %> 
  <% next if note_type == "odd" %> 
  <% next if note_type == "arrangement" %> 
  <% next if note_type == "prefercite" %> 

  <% record.notes[note_type].each do |n| %>
    <% next unless n['subnotes'] %>
    <% n['subnotes'].each do |sn| %>
      <% next unless sn['content'] %>
      <h4><%= I18n.t("enumerations._note_types.#{note_type}") %></h4>
      <p><%= simple_format(sn['content']) %></p>
    <% end %>
  <% end %>
<% end %>

<a href="#toc">Return to Table of Contents</a>

<a id="note-relatedmaterial"></a>

<% unless record.notes['relatedmaterial'].nil? %>
  <% record.notes['relatedmaterial'].each do |n| %>
    <h3>
      <% if n['label'] %>
          <%== process_mixed_content(n['label']) %>
      <% else %>
          <%= I18n.t("enumerations._note_types.relatedmaterial") %>
      <% end %>
    </h3>
    <p><%== process_mixed_content(n['note_text']) %></p>
  <% end %>
<% end %>


<% unless record.subjects.empty? %>
  <a id="controlled-access-headings"></a>
  <h3><%= I18n.t('pdf_reports.controlled_access_headings') %></h3>

  <ul>
    <% Array(record.subjects).each do |subject| %>
        <li><%= subject['title'] %></li>
    <% end %>

    <% if record.agents %>
        <% record.agents.each do |role, relationships| %>
            <% relationships.each do |relationship| %>
                <% if role == "subject" %>
                  <li><%= relationship['_resolved']['title'] %></li>
                <% end %>
            <% end %>
        <% end %>
    <% end %>


  </ul>

  <a href="#toc">Return to Table of Contents</a>
<% end %>


<% unless record.notes['odd'].nil? %>
  <% record.notes['odd'].each do |n| %>
    <h3>
      <% if n['label'] %>
          <%== process_mixed_content(n['label']) %>
      <% else %>
          <%= I18n.t("enumerations._note_types.odd") %>
      <% end %>
    </h3>
    <p><%== process_mixed_content(n['note_text']) %></p>
  <% end %>

  <a href="#toc">Return to Table of Contents</a>
<% end %>


<% ASUtils.find_local_directories('public/views/_pdf_resource.html.erb').each do |template| %>
    <%= render(:inline => File.read(template), :locals => {:record => record}) if File.exists?(template) %>
<% end %>

<div class="collection-inventory">
<% if has_children %>
    <a id="collection-inventory"></a>
    <h3><%= I18n.t('pdf_reports.collection_inventory') %></h3>
    <table class="collection-inventory-header">
      <td class="title">Title/Description</td>
      <td class="instance">Instances</td>
    </table> 

<% end %>
