<div class="title-page">
    <div class="logo"><%= image_tag( record.resolved_repository['image_url'] || asset_path("archivesspace.small.png") ) %></div>
    <div class="title-block">
        <h1 class="title"><%= record.finding_aid['title'] %></h1>
        <h2 class="subtitle"><%= record.finding_aid['subtitle'] %></h2>
    </div>

    <p><%= I18n.t('pdf_reports.finding_aid_date_prefix') %> <%= Date.today %></p>
    <% if record.finding_aid['language'] %>
        <p><%= I18n.t('pdf_reports.finding_aid_written_in') %> <%= record.finding_aid['language'] %></p>
    <% end %>

    <% if record.finding_aid['description_rules'] %>
        <p><%= I18n.t('enumerations.resource_finding_aid_description_rules.' + record.finding_aid['description_rules'], :default => record.finding_aid['description_rules']) %></p>
    <% end %>

    <p><%= record.finding_aid['edition_statement'] %></p>

    <%= render(:partial => 'publication_statement', :locals => {
        :repository_name => record.resolved_repository['name'],
        :repository_information => record.repository_information
    })
    %>
</div>
