<%= render_aspace_partial :partial => "related_agents/template" %>

<%# render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "related_agents", :section_id => "#{@agent.agent_type}_related_agents"} %>

<% @agent_type = form['agent_type'] %>
<% define_template "related_agents_#{@agent_type}", jsonmodel_definition(@agent_type.intern) do |form|  %>

<section id="related_agents" class="subrecord-form related-agents-form">
  <header class="d-flex py-2 px-3 align-items-center border-bottom bg-asFormHeadingBg">
    <h3 class="subrecord-form-heading px-0 border-bottom-0">
      <%= wrap_with_tooltip(t("related_agent._plural"), "agent.related_agent_tooltip", "subrecord-form-heading-label") %>
    </h3>
    <button
      data-action="add-related-agent-for-type"
      class="btn btn-sm btn-default add-related-agent-for-type-btn ml-auto"
    ><%= I18n.t("actions.add") %> <%= I18n.t("related_agent._singular") %></button>
    <%= link_to_help :topic => "agent_related_agents" %>
  </header>

  <div id="related-agents-container" class="subrecord-form-container">
    <%= form.list_for(form["related_agents"], "related_agents[]") do |related_agent| %>
      <% form.emit_template(related_agent["jsonmodel_type"]) %>
    <% end %>
  </div>

</section>
<% end %>

<% form.emit_template("related_agents_#{@agent_type}") %>
