<%= render_aspace_partial :partial => "related_agents/template_required" %>

<% @agent_type = form['agent_type'] %>
<% define_template "related_agents_#{@agent_type}", jsonmodel_definition(@agent_type.intern) do |form|  %>

<section id="<%= @agent_type %>_related_agents" class="subrecord-form related-agents-form">
  <h3 class="subrecord-form-heading">
    <%= t("related_agent._plural") %>
    <%= link_to_help :topic => "#{@agent_type}_related_agents" %>
    <button class="btn btn-sm btn-default float-right add-related-agent-for-type-btn ml-auto border bg-white mx-1 mt-1"><%= I18n.t("actions.add") %> <%= I18n.t("related_agent._singular") %></button>
  </h3>

  <div id="related-agents-container" class="subrecord-form-container">
    <%= form.list_for(form["related_agents"], "related_agents[]") do |related_agent| %>
      <% form.emit_template(related_agent["jsonmodel_type"]) %>
    <% end %>
  </div>

</section>
<% end %>

<% form.emit_template("related_agents_#{@agent_type}") %>
