<% render_aspace_partial :partial => "dates/template" %>

<% define_template "related_agents_selector" do |form| %>
  <div class="subrecord-form-fields">
    <div class="form-group row">
      <label class="control-label col-sm-5 text-right">
        <% label_value = t("related_agent.relationship_type") %>
        <%= wrap_with_tooltip(label_value, "related_agent.relationship_type_tooltip", "control-label initialised") %>
      </label>

      <div class="col-sm-4">
        <select class="related-agent-type form-control">
          <option value="related_agents_type_nil"></option>
          <% jsonmodel_definition(@agent.agent_type).allowable_types_for("related_agents").sort_by {|type| t("#{type}._singular")}.each do |type| %>
            <option value="<%= type %>"><%= t("#{type}._singular") %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="selected-container">
      <% form.emit_template("related_agents_type_nil") %>
    </div>
  </div>
<% end %>

<% define_template "related_agents_type_nil" do |form| %>
  <div class="inline-subform">
    <div class="form-group">
      <div class="control-label"></div>
      <div class="controls pl-3"><%= t("related_agent._frontend.messages.select_a_type") %></div>
    </div>
  </div>
<% end %>

<% jsonmodel_definition(@agent.agent_type).allowable_types_for("related_agents").each do |relationship_type| %>
  <% define_template "#{relationship_type}", jsonmodel_definition(relationship_type.intern) do |form, opts = {}| %>
    <div class="subrecord-form-fields">
      <h3 class="subrecord-form-heading d-flex"><%= t("#{relationship_type}._singular") %></h3>
      <div class="subrecord-form-container">
        <%= form.hidden_input(:jsonmodel_type, "#{relationship_type}") %>

        <%# ANW-429: Only show a select box here if there is more than one option. Otherwise, use a hidden form field to simplify the UI. %>
        <%# Entries in possible_options_for look like this: %>
        <%# ["Family Related with Related", "is_related_with"] %>

        <% if form.possible_options_for("relator").length == 1 %>
          <% sole_option = form.possible_options_for("relator").first %>
          <%= form.hidden_input("relator", sole_option[1]) %>
        <% else %>
          <%= form.label_and_select("relator", form.possible_options_for("relator")) %>
        <% end %>
        
        <%= form.label_and_select("specific_relator", form.possible_options_for("specific_relator", true)) %>

        <%= form.label_and_textfield("relationship_uri") %>

        <% if opts[:readonly] %>
          <div class="token-list <%= form['_resolved']['agent_type'] %>">
            <%= form.label_with_field(:ref, render_token(:object => form,
                                                         :label => form["_resolved"]["title"],
                                                         :type => form["_resolved"]["agent_type"],
                                                         :uri => form["_resolved"]["uri"])) %>
          </div>
        <% else %>
          <%= render_aspace_partial :partial => "agents/linker",
                     :locals => {
                         :form => form,
                         :linker_label => t("#{relationship_type}.ref"),
                         :allowed_types => form.allowable_types_for("ref"),
                         :exclude_ids => @agent.uri ? [@agent.uri] : [],
                         :multiplicity => :one
                     }
           %>
        <% end %>

        <%= form.label_and_textarea("description") %>

        <% if !form.readonly? %>
          <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates", :template_erb => "dates/template", :template => "structured_date_label_usage", :cardinality => :zero_to_one, :heading_size => "h4"} %>

        <% elsif form.readonly? && !form['date'].blank? %>
          <%= render_aspace_partial :partial => "structured_dates/show", :locals => { :dates => [form['date']], :section_id => "rel_dates", :section_title => t("related_agent.dates") } %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
