<div class="record-toolbar d-flex align-items-center flex-wrap">
  <div class="save-changes d-flex align-items-center order-0">
    <button type="submit" class="btn btn-primary btn-sm">
      <% if @user.id %>
        <%= t("user._frontend.action.update_account") %>
      <% else %>
        <%= t("user._frontend.action.create_account") %>
      <% end %>
    </button>
  </div>
  <div class="btn-toolbar ml-auto order-1 order-sm-2">
    <% if @user.id && !@user.is_system_user && @user.username.downcase != current_user.downcase %>
      <div class="btn-group">
        <div class="btn btn-inline-form">
          <%= button_delete_action url_for(:controller => :users, :action => :delete, :id => @user.id), { :"data-title" => t("actions.delete_confirm_title", :title => @user.username) } %>
        </div>
      </div>
    <% end %>
  </div>
  <% if ['edit', 'update'].include?(controller.action_name) %>
    <div class="revert-changes order-2 order-sm-1 mx-sm-2 mb-1">
      <%= link_to t("actions.revert"), {:controller => :users, :action => :edit, :id => @user.id}, :class => "btn btn-sm border bg-white rounded mr-2" %>
      <%= t("actions.toolbar_disabled_message") %>
    </div>
  <% end %>
</div>

