<%= setup_context :object => @user %>

<%= form_for @user, :as => "createuser", :url => {:action => :update}, :html => {:class => 'form-horizontal aspace-record-form'}.merge(update_monitor_params(@user)) do |f| %>
  <div class="d-flex">
    <div class="col-md-1"></div>
     <div class="col-md-11">
       <%= render_aspace_partial :partial => "toolbar" %>
       <div class="record-pane">
         <%= link_to_help :topic => "user" %>
         <h2><%= t("user._frontend.section.edit_account") %></h2>
         <%= form_context :user, @user do |form| %>
           <%= render_aspace_partial :partial => "users/form", :locals => {:form => form} %>

           <div class="form-actions">
             <button id="create_account" type="submit" class="btn btn-primary"><%= t("user._frontend.section.edit_account_submit") %></button>
             <%= link_to t("actions.cancel"), {:controller => :welcome}, :class => "btn btn-cancel btn-default" %>
           </div>
         <% end %>
       </div>
     </div>
  </div>
<% end %>
