<%= setup_context :trail => [[t("user._frontend.section.manage_access"), {:controller => :users, :action => :manage_access}]], :title => @user.username %>

<div class="d-flex">
  <div class="col-md-12">
    <div class="record-pane">
      <%= link_to_help :topic => "repository_users" %>
      <h2><%= t("user._frontend.section.manage_access") %></h2>
      <%= form_for @user, :as => "update_groups", :url => {:action => :update_groups}, :html => {:class => 'form-horizontal aspace-record-form'} do |f| %>

        <%= readonly_context :user, @user do |readonly| %>
          <%= readonly.label_and_textfield "username" %>
          <%= readonly.label_and_textfield "name" %>
        <% end %>

        <%= form_context :user, @user do |form| %>
          <% if user_can?('manage_repository') %>
            <section id="groups" class="subrecord-form-dummy">
              <h3><%= t("group._plural") %></h3>
              <div class="subrecord-form-container">
                <div class="subrecord-form-fields">
                  <table class="table table-striped table-bordered table-condensed">
                    <% @groups.each do |group| %>
                      <tr>
                        <td><%= check_box_tag("groups[]", group.uri, params.has_key?("groups") ? params["groups"].include?(group.uri) : @user.groups.include?(group.uri), :id => group.group_code) %></td>
                        <td><%= label_tag group.group_code, group.group_code %></td>
                        <td><%= label_tag group.group_code, group.description %></td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>
            </section>
          <% end %>

          <div class="form-actions">
            <button id="create_account" type="submit" class="btn btn-primary"><%= t("user._frontend.section.edit_account_submit") %></button>
            <%= link_to t("actions.cancel"), {:controller => :welcome}, :class => "btn btn-cancel btn-default" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
