<%= setup_context :type => :user, :title => "New Account" %>

<%= form_for @user, :as => "createuser", :url => {:action => :create}, :html => {:class => 'form-horizontal aspace-record-form public-form'} do |f| %>

<div class="row">
   <div class="col-md-12">
     <%= render_aspace_partial :partial => "toolbar" %>
     <div class="record-pane">
       <% if session['user'] %><%= link_to_help :topic => "user" %><% end %>
       <h2><%= I18n.t("actions.new_prefix") %> <%= I18n.t("user._frontend.section.account") %></h2>
       <%= form_context :user, @user do |form| %>
         <%= render_aspace_partial :partial => "users/form", :locals => {:form => form} %>

         <div class="form-actions">
           <button id="create_account" type="submit" class="btn btn-primary"><%= I18n.t("user._frontend.action.create_account") %></button>
           <%= link_to I18n.t("actions.cancel"), {:controller => :welcome}, :class => "btn btn-cancel btn-default" %>
         </div>
       <% end %>
     </div>
   </div>
</div>
<% end %>
