<div class="row-fluid">
   <div class="span12">
      <h2>New Account</h2>
     <%= form_for @user, :as => "createuser", :url => {:action => :create}, :html => {:class => 'form-horizontal'} do |f| %>
       <%= form_context :user, @user.to_hash(true) do |form| %>
         <%= render :partial => "shared/form_messages", :locals => {:form => form} %>
         <fieldset>
           <%= form.label_and_textfield "username" %>
           <%= form.label_and_textfield "name", {:field_opts => {:size => 30, :class => "input-xxlarge"}} %>

           <%= form.label_and_password "password", {:field_opts => {:size => 30, :class => "input-large"}} %>
           <%= form.label_and_password "confirm_password", {:field_opts => {:size => 30, :class => "input-large"}} %>
         </fieldset>
         <div class="form-actions">
           <button id="create_account" type="submit" class="btn btn-primary">Create account</button>
           <%= link_to "Cancel", {:controller => :welcome}, :class => "btn btn-cancel" %>
         </div>
       <% end %>
     <% end %>
   </div>
</div>
