<%= setup_context :title => "Home", :suppress_breadcrumb => true %>

<div class="row">
  <% if !session[:user] %>
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-4 lg-min-w-450px p30px">
    <h2><%= I18n.t "login.reset_password" %></h2>
    <%= I18n.t "login.reset_form_instructions" %>
  </div>
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-4 md-mt20px p30px">
    <%= render_aspace_partial :partial => "shared/flash_messages" %>
    <main class="well" id="login-form-wrapper">
      <h3 class="mt0"><%= I18n.t "login.reset_password" %></h3>

      <%= form_tag({controller: "users", action: "recover_password"}, method: "post") do %>
      <div class="form-group">
        <input id="user_email" type="text" name="email" size="30" placeholder="<%= I18n.t "login.email_placeholder" %>" class="form-control" aria-label="<%= I18n.t "login.email_placeholder" %>"/>
      </div>
      <input class="btn btn-primary navbar-btn btn-default" type="submit" name="commit" value="<%= I18n.t("login.reset_password") %>" id="submit" />
      <% end %>

    </main>
  </div>
  <% else %>
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-4 lg-min-w-450px p30px">
    <h2><%= I18n.t "login.new_password" %></h2>
    <%= I18n.t "login.new_password_instructions", user: session[:user] %>
  </div>
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-4 md-mt20px p30px">
    <%= render_aspace_partial :partial => "shared/flash_messages" %>
    <main class="well" id="login-form-wrapper">
      <h3 class="mt0"><%= I18n.t "login.new_password" %></h3>
      <%= form_tag({controller: "users", action: "update_password"}, method: "post") do %>
      <div class="form-group">
        <input id="user_password" type="password" minlength="8" name="password" size="30" placeholder="<%= I18n.t "login.password_placeholder" %>" class="form-control" aria-label="<%= I18n.t "login.password_placeholder" %>"/>
      </div>
      <div class="form-group">
        <input id="user_confirm_password" type="password" minlength="8" name="confirm_password" size="30" placeholder="<%= I18n.t "login.confirm_password" %>" class="form-control" aria-label="<%= I18n.t "login.confirm_password" %>"/>
      </div>
      <input class="btn btn-primary navbar-btn btn-default" type="submit" name="commit" value="<%= I18n.t("login.reset_password") %>" id="submit" />
      <% end %>

    </main>
  </div>
  <% end %>
</div>
