<%= form_for @classification_term, :as => "classification_term", :url => {:action => :update, :id => @classification_term.id}, :html => {:class => 'form-horizontal aspace-record-form', :id => 'classification_term_form'}.merge(update_monitor_params(@classification_term)) do |f| %>
  <%= form_context :classification_term, @classification_term do |form| %>
    <div class="mt-3 d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "toolbar" %>
        <div class="record-pane">
          <%= render_aspace_partial :partial => "classification_terms/form_container", :locals => {:form => form} %>
          <div class="form-actions pl-0">
            <button type="submit" class="btn btn-primary"><%= t("classification_term._frontend.action.save") %></button>
            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
