<%= link_to_help :topic => "classification_term" %>

<h2>
  <%= @form_title ? @form_title : @classification_term.title.blank? ? I18n.t("classification_term._singular") : @classification_term.title %>
  <span class="label label-info"><%= I18n.t("classification_term._singular") %></span>
</h2>

<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => form} %>

<fieldset>

  <%= form.hidden_input "parent", nil, {"data-base-name" => "classification_term[parent]", "class" => "hidden-parent-uri"} %>
  <%= form.hidden_input "classification" %>

  <%= hidden_field_tag "id", @classification_term.id %>
  <%= hidden_field_tag "uri", @classification_term.uri %>

  <% define_template("classification_term", jsonmodel_definition(:classification_term)) do |form| %>
    <section id="basic_information">
      <h3><%= I18n.t("classification_term._frontend.section.basic_information") %></h3>

      <%= form.label_and_textfield "identifier" %>
      <%= form.label_and_textfield "title" %>

      <%= render_aspace_partial :partial => "shared/slug", :locals => {:form => form, :record_type => @classification_term} if AppConfig[:use_human_readable_URLs] %>

      <%= form.label_and_textarea "description" %>

      <% form.push("creator", form["creator"] || {}) do %>
        <%= render_aspace_partial :partial => "agents/linker", :locals => {:form => form, :linker_label => I18n.t("classification_term.creator"), :optional => true, :multiplicity => "one"} %>
      <% end %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_records"} %>

    </section>
  <% end %>

  <% form.emit_template("classification_term") %>

</fieldset>
