<%= form_for @classification_term, :as => "classification_term", :url => {:action => :create}, :html => {:class => 'form-horizontal aspace-record-form', :id => 'classification_term_form'} do |f| %>
  <%= form_context :classification_term, @classification_term do |form| %>
    <div class="mt-3 d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
        <div class="record-pane">
          <%= render_aspace_partial :partial => "classification_terms/form_container", :locals => {:form => form} %>
          <div class="form-actions">
            <div class="btn-group btn-submit-group">
              <button type="submit" class="btn btn-primary"><%= t("classification_term._frontend.action.save") %></button>
              <button type="button" id="createPlusOne" class="btn btn-primary btn-plus-one createPlusOneBtn"><%= t("actions.save_plus_one") %></button>
            </div>
            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
