<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= readonly_context :classification_term, @classification_term do |readonly| %>
        <h2><%= @classification_term.title %> <span class="label label-info"><%= I18n.t("classification_term._singular") %></span></h2>
        <%= render_aspace_partial :partial => "shared/flash_messages" %>
        <% define_template "classification_term", jsonmodel_definition(:classification_term) do |form, classification_term| %>
        <section id="basic_information">
          <h3><%= I18n.t("classification_term._frontend.section.basic_information") %></h3>
            <%= form.label_and_textarea "identifier" %>

            <%= render_aspace_partial :partial => "shared/slug", :locals => {:form => form, :record_type => @classification_term} if AppConfig[:use_human_readable_URLs] %>

            <%= form.label_and_textarea "title" %>
            <%= form.label_and_textarea "description" %>

          <% if !readonly["creator"].blank? %>
            <div class="token-list">
                <%= readonly.label_with_field(:creator, render_token(:object => readonly,
                                                             :label => readonly["creator"]["_resolved"]["title"],
                                                             :type => readonly["creator"]["_resolved"]["agent_type"],
                                                             :uri => readonly["creator"]["_resolved"]["uri"])) %>
            </div>
          <% end %>
        </section>
      <% end %>

      <% readonly.emit_template("classification_term", @classification_term) %>
      <%= render_aspace_partial :partial => "search/embedded", :locals => {:filter_term => {"classification_uris" => @classification_term.uri}.to_json, :heading_text => I18n.t("classification_term._frontend.section.search_embedded")} %>

      <% end %>
    </div>
  </div>
</div>
