<% show_search = defined?(:show_search) ? show_search : false %>

<section id="components" data-show-search="<%= show_search %>">
  <h3>
    <%= I18n.t("#{record_type}._public.section.components") %>
  </h3>

  <ul class="nav nav-tabs hide" id="componentsTab">
    <li class="active"><a href="#components_record_tree"><%= I18n.t("record_tree.record_tree_tab") %></a></li>
    <li class="components-search"><a href="#components_search"><span class="icon icon-search"></span> <%= I18n.t("record_tree.search_tab") %></a></li>
  </ul>
  <div class="tab-content">
    <div id="components_record_tree" class="tab-pane active">
      <ul class="record-tree" data-root-uri="<%= root_uri %>"></ul>
    </div>
    <div id="components_search" class="tab-pane">
      <%= form_tag url_for(:controller => :search, :action => :search, :format => :js) do %>
        <%= hidden_field_tag "root_record", root_uri %>

        <div class="input-append">
          <input type="text" name="q"/>
          <button class="btn"><span class="icon icon-search"></span></button>
        </div>
      <% end %>
      <div id="components_search_results"></div>
    </div>
  </div>
</section>

<div id="template_record_tree_node"><!--
  <li class="record-tree-node {if has_children} has-children{else} no-children{/if}" data-uri="${record_uri}">
    {if has_children}<a href="#" class="record-tree-node-toggle"><span class="record-tree-node-toggle-icon"></span></a>{/if}
    <span class="icon icon-${node_type}"></span>
    <a href="${record_uri}" class="record-tree-node-title">${title}</a>
    {if has_children}<ul class="record-sub-tree"></ul>{/if}
  </li>
--></div>

<div id="template_record_tree_empty"><!--
  <%= I18n.t("#{record_type}._public.messages.no_components") %>
--></div>

<div id="template_record_tree_loading"><!--
  <li><%= image_tag "archivesspace/record_tree_loading.gif" %></li>
--></div>
