<%= javascript_include_tag 'largetree' %>
<%= stylesheet_link_tag "archivesspace/largetree" %>

<% show_search = defined?(:show_search) ? show_search : false %>

<section id="components" data-show-search="<%= show_search %>">
  <h3>
    <%= I18n.t("#{record_type}._public.section.components") %>
  </h3>

  <ul class="nav nav-tabs hide" id="componentsTab">
    <li class="active"><a href="#components_record_tree"><%= I18n.t("record_tree.record_tree_tab") %></a></li>
    <li class="components-search"><a href="#components_search"><span class="icon icon-search"></span> <%= I18n.t("record_tree.search_tab") %></a></li>
  </ul>
  <div class="tab-content">
    <div id="components_record_tree" class="largetree-container tab-pane active"></div>
    <div id="components_search" class="tab-pane">
      <%= form_tag url_for(:controller => :search, :action => :search, :format => :js) do %>
        <%= hidden_field_tag "root_record", root_uri %>

        <div class="input-append">
          <input type="text" name="q"/>
          <button class="btn"><span class="icon icon-search"></span></button>
        </div>
      <% end %>
      <div id="components_search_results"></div>
    </div>
  </div>
</section>

<div id="template_record_tree_node"><!--
  <li class="record-tree-node {if has_children} has-children{else} no-children{/if}" data-uri="${record_uri}">
    {if has_children}<a href="#" class="record-tree-node-toggle"><span class="record-tree-node-toggle-icon"></span></a>{/if}
    <span class="icon icon-${node_type}"></span>
    <a href="${record_uri}" class="record-tree-node-title">${title}</a>
    {if has_children}<ul class="record-sub-tree"></ul>{/if}
  </li>
--></div>

<div id="template_record_tree_empty"><!--
  <%= I18n.t("#{record_type}._public.messages.no_components") %>
--></div>

<div id="template_record_tree_loading"><!--
  <li><%= image_tag "archivesspace/record_tree_loading.gif" %></li>
--></div>

<script>

    function SimpleRenderer() {
        this.endpointMarkerTemplate = $('<tr class="end-marker" />');

        this.rootTemplate = $('<tr> ' +
            '  <td class="no-drag-handle"></td>' +
            '  <td class="title"></td>' +
            '</tr>');

        this.nodeTemplate = $('<tr> ' +
            '  <td class="drag-handle"></td>' +
            '  <td class="title"><span class="indentor"><button class="expandme"><i class="expandme-icon icon-chevron-right" /></button></span> </td>' +
            '</tr>');
    }

    SimpleRenderer.prototype.endpoint_marker = function () {
        return this.endpointMarkerTemplate.clone(true);
    }

    SimpleRenderer.prototype.get_root_template = function () {
        return this.rootTemplate.clone(false);
    }

    SimpleRenderer.prototype.get_node_template = function () {
        return this.nodeTemplate.clone(false);
    };

    SimpleRenderer.prototype.add_root_columns = function (row, rootNode) {
        if (rootNode.jsonmodel_type == 'classification') {
            row.find('a.record-title').attr('href', rootNode.uri + '/search');
        } else {
            if ("<%= @resource_title %>".length > 0) {
                row.find("a.record-title").html("<%= @resource_title %>");
            }
            row.find('a.record-title').attr('href', rootNode.uri);
        }
    }

    SimpleRenderer.prototype.add_node_columns = function (row, node) {
        if (node.jsonmodel_type == 'classification_term') {
            row.find('a.record-title').attr('href', node.uri + '/search');
        } else {
            row.find('a.record-title').attr('href', node.uri);
        }
    };

    var root_uri = '<%= root_uri %>';
    var tree = new LargeTree(new TreeDataSource(root_uri + '/tree'),
        $('#components_record_tree'),
        root_uri,
        true,
        new SimpleRenderer(),
        function() {
            var tree_id = TreeIds.uri_to_tree_id('<%= current_node_uri %>');
            tree.setCurrentNode(tree_id);
        },
        $.noop);
</script>