<%
   components = whole_tree? ? whole_tree['children'] : children
   show_full_component = defined?(show_full_component) ? show_full_component : false
%>


<% node_id = 0; %>
<% show_node = lambda do |child, stripe| %>
<% node_id += 1 %>
<li class="accordion result <% if stripe %>striped<% else %>unstriped<% end %>">
  <div class="accordion-heading">
    <h4>
      <div class="accordion-toggle">
        <a data-toggle="collapse" href="#<%= "node#{node_id}" %>">
          <i class="icon-chevron-right"></i>
          <i class="icon-chevron-down"></i>
        </a>
      </div>
      <%= icon_for child["node_type"] %>
      <%= link_to child["title"], :controller => :records, :action => child["node_type"] || child["jsonmodel_type"], :id => child['id'] || JSONModel(child["jsonmodel_type"].intern).id_for(child['uri']), :repo_id => @repository.id %>
    </h4>
  </div>
  <div id="<%= "node#{node_id}" %>" class="accordion-body collapse in">
    <div class="accordion-inner">
      <% if record_type == 'resource' %>
        <div class="component-view">
          <% if child['fullrecord'] %>
            <%= render :partial => "archival_object",
                       :locals => {
                         :archival_object => ArchivalObjectView.new(child['fullrecord']),
                         :show_components => false
                       } %>
          <% end %>
        </div>
      <% end %>

      <% if !child['children'].blank? %>
      <ul class="results-list">
        <%
           child['children'].each_with_index do |subchild, i|
             show_node.call(subchild, ((i % 2) == 0) != stripe)
           end
        %>
      </ul>
      <% end %>
    </div>
  </div>
</li>
<% end %>

<% unless components.blank? %>
  <section id="components">
    <h3>
      <%= I18n.t("#{record_type}._public.section.components") %>

      <div class="btn-group pull-right">
        <button id="collapse-all-btn" class="btn btn-mini expand-collapse-btn"><%= I18n.t('components.collapse') %></button>
        <button id="expand-all-btn" class="btn btn-mini expand-collapse-btn"><%= I18n.t('components.expand') %></button>
      </div>
    </h3>

    <ul class="results-list">
      <% components.each_with_index do |child, i| %>
        <% show_node.call(child, (i % 2) == 0) %>
      <% end %>
    </ul>
  </section>
<% end %>



<script type="text/javascript">
  document.ready = function (e) {
    $('#expand-all-btn').on('click', function () {
      $('.collapse').not('.in').collapse('show');
      $('.collapsed').removeClass('collapsed')
    });

    $('#collapse-all-btn').on('click', function () {
      var parent_panels = $('#components > .results-list > .accordion > .accordion-body.collapse');
      parent_panels.collapse('hide');
      setTimeout(function() {
        $(".collapse", parent_panels).collapse('hide');
      }, 400);


      $('.accordion-toggle a').addClass('collapsed');
    });
  };
</script>

