<% if not instances.empty? %>
  <section id="instances">
    <h3><%= I18n.t("instance._plural") %></h3>
    <ul class="results-list">
      <% instances.each do |instance| %>
        <li class="result row-fluid">
          <dl class="dl-horizontal">
            <%= label_and_value I18n.t("instance.instance_type"), i18n_enum(:instance, 'instance_type', instance['instance_type']) %>
            <% if instance['instance_type'] === 'digital_object' %>
              <dt><%= I18n.t("instance._public.link_to_digital_object") %></dt>
              <dd>
                <%= icon_for "digital_object" %>
                <%= link_to instance['digital_object']['_resolved']['title'], {:controller => :records, :action => :digital_object, :id => JSONModel(:digital_object).id_for(instance['digital_object']['ref'])} %>
              </dd>
            <% else %>
              <% top_container = JSONModel::HTTP::get_json(instance['sub_container']['top_container']['ref']) %>
              <%= label_and_value "top_container_type", i18n_enum(:container, 'type_1', top_container['type']) %>
              <%= label_and_value "top_container_indicator", top_container['indicator'] %>
              <%= label_and_value "top_container_barcode", top_container['barcode'] %>
              <%= label_and_value "container2_type", i18n_enum(:container, 'type_2', instance['sub_container']['type_2']) %>
              <%= label_and_value "container2_indicator", instance['sub_container']['indicator_2'] %>
              <%= label_and_value "container3_type", i18n_enum(:container, 'type_3', instance['sub_container']['type_3']) %>
              <%= label_and_value "container3_indicator", instance['sub_container']['indicator_3'] %>
            <% end %>
          </dl>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>