<% if names.length > 0 %>
  <section id="names">
    <h3><%= I18n.t("name._plural") %></h3>
    <ul class="results-list">
      <% names.each do |name| %>
        <li class="result">
          <div class="row-fluid">
            <div class="span6"><%= name['sort_name'] %></div>
            <div class="span6">
              <% name['use_dates'].each do |date| %>
	              <% if date['expression'] %>
  		            <%= date['expression'] %>
              	<% elsif date['date_type'] === "single" %>
              		<%= date['begin'] %>
              	<% elsif date['date_type'] %>
              		<%= date['begin'] %> &ndash; <%= date['end'] %>
              	<% end %>
          			(<%= I18n.t("enumerations.date_label.#{date['label']}", :default => 'label') %>)
                <br />
             <% end %>
            </div>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
