<div id="">
  <ul class="nav nav-list as-nav-list" data-spy="affix">
    <li><a href="#summary"><%= I18n.t("#{record_type}._public.section.summary") %> <span class="icon-chevron-right"></span></a></li>

    <% entries.each do |entry| %>
      <% if entry[:property] %>
        <% unless record[entry[:property]].blank? %>
          <li>
            <a href="#<%= entry[:anchor] %>">
              <%= I18n.t("#{entry[:subrecord_type]}._plural") %>
              <span class="badge badge-info">
                <%= record[entry[:property]].length
                %></span><span class="icon-chevron-right"></span>
            </a>
          </li>
        <% end %>
      <% else %>
        <li>
          <a href="#<%= entry[:anchor] %>">
            <%= entry[:label] %>
            <span class="icon-chevron-right"></span>
          </a>
        </li>
      <% end %>
    <% end %>

    <% if AppConfig[:enable_public_metadata_format_links] %>
      <% if record_type == "resource" %>
        <li><%= link_to I18n.t("metadata_formats.ead"), "#{request.original_url}/ead" %></li>
        <li><%= link_to I18n.t("metadata_formats.marc21"), "#{request.original_url}/marc21" %></li>
      <% elsif record_type == "digital_object" %>
        <li><%= link_to I18n.t("metadata_formats.dc"), "#{request.original_url}/dc" %></li>
        <li><%= link_to I18n.t("metadata_formats.mets"), "#{request.original_url}/mets" %></li>
        <li><%= link_to I18n.t("metadata_formats.mods"), "#{request.original_url}/mods" %></li>
      <% end  %>
    <% end %>
  </ul>
</div>

<script>
  var RECORD_URI = "<%= record.uri %>";
</script>
