<% render_content = lambda do | note | %>
  <% Array(note['content']).each do |note_content| %>
    <div class="note-content">
      <%= clean_note(note_content.strip).html_safe %>
    </div>
  <% end %>
<% end %>

<%
  note_renderers = {}
%>

<% render_note = lambda do | note | %>
  <% if note['persistent_id'] %><%= content_tag :a, nil, :name => note['persistent_id'] %><% end %>
  <% render_content.call(note) %>
  <% if note_renderers.has_key?(note['jsonmodel_type']) %>
    <% note_renderers[note['jsonmodel_type']].call(note) %>
  <% end %>
<% end %>

<% note_renderers['note_orderedlist'] = lambda do | note | %>
  <div class="enumeration-<%= note['enumeration'] %>">
    <ol>
      <% Array(note['items']).each do |item| %>
        <li><%= clean_note(item).html_safe %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<% note_renderers['note_outline_level'] = lambda do | note | %>
  <ul class="note_outline_level">
  <% Array(note['items']).each do |item| %>
    <% if item.kind_of? String %>
      <li><%= clean_note(item).html_safe %></li>
    <% else %>
      <% note_renderers['note_outline_level'].call(item) %>
    <% end %>
  <% end %>
  </ul>
<% end %>

<% note_renderers['note_outline'] = lambda do | note | %>
  <% Array(note['levels']).each do |outline_level| %>
    <% note_renderers['note_outline_level'].call(outline_level) %>
  <% end %>
<% end %>

<% note_renderers['note_singlepart'] = lambda do | note | %>
<% end %>

<% note_renderers['note_multipart'] = lambda do | note | %>
  <% Array(note['subnotes']).each do |subnote| %>
    <div class="<%= subnote['jsonmodel_type'] %>">
      <% render_note.call(subnote) %>
    </div>
  <% end %>
<% end %>

<% note_renderers['note_bioghist'] = lambda do | note | %>
  <% Array(note['subnotes']).each do |subnote| %>
    <div class="<%= subnote['jsonmodel_type'] %>">
      <% render_note.call(subnote) %>
    </div>
  <% end %>
<% end %>

<% note_renderers['note_bibliography'] = lambda do | note | %>
  <ul>
    <% Array(note['items']).each do |item| %>
      <li><%= clean_note( item ).html_safe %></li>
    <% end %>
  </ul>
<% end %>

<% note_renderers['note_index'] = lambda do | note | %>
  <dl>
    <% Array(note['items']).each do |index_item| %>
      <% if index_item['reference_ref'] %>
        <%
          parsed_ref = JSONModel.parse_reference(index_item['reference_ref']['ref'])
        %>
        <% if index_item['reference_text'] %>
          <dt><%= clean_note( index_item['value']).html_safe %></dt>
          <dd>
            <%= link_to index_item['reference_text'], :controller => :records, :action => parsed_ref[:type], :id => parsed_ref[:id], :anchor => index_item['reference'] %>
          </dd>
        <% else %>
          <dt>
            <%= link_to index_item['value'], :controller => :records, :action => parsed_ref[:type], :id => parsed_ref[:id], :anchor => index_item['reference'] %>
          </dt>
        <% end %>
      <% else %>
        <dt><%= clean_note( index_item['value'] ).html_safe %></dt>
          <dd><%= index_item['reference'] %></dd>
          <dd><%= index_item['reference_text'] %></dd>
      <% end %>
    <% end %>
  </dl>
<% end %>

<% note_renderers['note_chronology'] = lambda do | note | %>
  <dl>
    <% Array(note['items']).each do |item| %>
      <dt><%= item['event_date'] %></dt>
      <% item['events'].each do | event | %>
        <dd><%=  clean_note(event).html_safe %></dd>
      <% end %>
    <% end %>
  </dl>
<% end %>

<% note_renderers['note_definedlist'] = lambda do | note | %>
  <dl>
    <% Array(note['items']).each do |item| %>
      <dt><%= item['label'] %></dt>
      <dd><%= clean_note(item['value']).html_safe %></dd>
    <% end %>
  </dl>
<% end %>

<% note_renderers['note_citation'] = lambda do | note | %>
<% end %>

<% note_renderers['note_text'] = lambda do | note | %>
<% end %>

<% if notes.length > 0 %>
  <section id="notes">
    <h3><%= I18n.t("note._plural") %></h3>
    <ul class="results-list">
      <% notes.each do |note| %>
        <li class="note <%= note['jsonmodel_type'] %>">
          <%
            if note['label']
              label_for_note = note['label']
            elsif note['type']
              label_for_note = I18n.t("enumerations.#{note['jsonmodel_type']}_type.#{note['type']}", :default => note['type'])
            else
              label_for_note = I18n.t("note.#{note['jsonmodel_type']}", :default => note['jsonmodel_type'])
            end
          %>
          <h4 class="note-label"><%= label_for_note %></h4>
          <div class="note-contents">
            <% render_note.call(note) %>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
