<%
  set_title(@agent.title)
%>
<%= render_aspace_partial(:partial => 'title_pane',
           :locals => {:record_title => @agent.title}) 
%>
<div class="content-pane">
  <div class="row-fluid">
    <div class="span3">
      <%= render_aspace_partial(:partial => 'navlist',
                 :locals => {
                   :record_type => 'agent',
                   :record => @agent,
                   :entries => [
                     {:property => 'dates_of_existence', :subrecord_type => 'date', :anchor => 'dates'},
                     {:property => 'names', :subrecord_type => 'name', :anchor => 'names'},
                     {:property => 'contacts', :subrecord_type => 'note', :anchor => 'notes'},
                     {:property => 'published_external_documents', :subrecord_type => 'external_document', :anchor => 'external_documents'},

                     {:property => 'published_agents', :subrecord_type => 'related_agent', :anchor => 'linked_agents'},

                     {:property => 'published_notes', :subrecord_type => 'note', :anchor => 'notes'},
                     {:property => 'related_resources', :subrecord_type => 'related_resource', :anchor => 'related_resources'},


                   ]
                 })
       %>
    </div>

    <div class="span9">
      <fieldset class="form-horizontal">
        <section id="summary">
          <h3><%= I18n.t("agent._public.section.summary") %></h3>
          <dl class="dl-horizontal">
            <div class="clearfix"></div>
            <%= label_and_value I18n.t("agent.type"), I18n.t("agent.agent_type.#{@agent['jsonmodel_type']}")  %>
          </dl>
        </section>

        <%= render_aspace_partial :partial => "dates", :locals => {:dates => @agent['dates_of_existence']} %>

        <%= render_aspace_partial :partial => "names", :locals => {:names => @agent.names} %>

        <%= render_aspace_partial :partial => "external_documents", :locals => {:external_documents => @agent.published_external_documents} %>


        <%= render_aspace_partial :partial => "agents", :locals => {:linked_agents => @agent.published_agents, :relating_property => "related_agent"} %>

        <%= render_aspace_partial :partial => "search_data_as_subrecord", :locals => {:search_url => url_for(:controller => :search, :action => :search, :format => :js, :filter_term => [{"agent_uris" => @agent['uri']}.to_json], "type[]" => "resource"), :section_id => 'related_resources', :section_header => 'related_resource'} %>

        <%= render_aspace_partial :partial => "notes", :locals => {:notes => @agent.published_notes} %>
      </fieldset>


      <br/>
      <br/>

    </div>
  </div>
</div>


