<%
   record_title = @digital_object.title
   set_title(record_title)
%>

<div class="title-pane">
  <div class="row-fluid">
    <div class="span3">

    </div>
    <div class="span9">
      <h2><%= record_title %></h2>
    </div>
  </div>
</div>
<div class="content-pane">
  <div class="row-fluid">
    <div class="span3">
      <%= render(:partial => 'navlist',
                 :locals => {
                   :record_type => 'digital_object',
                   :record => @digital_object,
                   :entries => [
                     {:property => 'published_file_versions', :subrecord_type => 'file_version', :anchor => 'file_versions'},
                     {:property => 'dates', :subrecord_type => 'date', :anchor => 'dates'},
                     {:property => 'extents', :subrecord_type => 'extent', :anchor => 'extents'},
                     {:property => 'published_agents', :subrecord_type => 'agent', :anchor => 'linked_agents'},
                     {:property => 'subjects', :subrecord_type => 'subject', :anchor => 'subjects'},
                     {:property => 'notes', :subrecord_type => 'note', :anchor => 'notes'},
                     {:property => 'published_external_documents', :subrecord_type => 'external_document', :anchor => 'external_documents'},
                   ]
                 })
       %>
    </div>
    <div class="span9">
      <fieldset class="form-horizontal">
        <section id="summary">
          <h3><%= I18n.t("digital_object._public.section.summary") %></h3>
          <dl class="dl-horizontal">
            <dt><%= I18n.t("digital_object.digital_object_id") %></dt>
            <dd class="identifier-display">
              <span class="identifier-display-part"><%= @digital_object['digital_object_id'] %></span>
            </dd>
          </dl>
        </section>

        <%= render :partial => "file_versions", :locals => {:file_versions => @digital_object.published_file_versions} %>
        <%= render :partial => "dates", :locals => {:dates => @digital_object['dates']} %>
        <%= render :partial => "extents", :locals => {:extents => @digital_object['extents']} %>
        <%= render :partial => "agents", :locals => {:linked_agents => @digital_object.published_agents} %>
        <%= render :partial => "subjects", :locals => {:subjects => @digital_object['subjects']} %>
        <%= render :partial => "notes", :locals => {:notes => @digital_object['notes']} %>
        <%= render :partial => "external_documents", :locals => {:external_documents => @digital_object.published_external_documents} %>
        <%= render :partial => "components", :locals => {:record_type => "digital_object"} %>
      </fieldset>

      <br/>
      <br/>

    </div>
  </div>
</div>
