<%
   record_title = @digital_object.title
   set_title(record_title)
%>
<%= render_aspace_partial(:partial => 'title_pane',
           :locals => {:record_title => record_title}) 
%>
<div class="content-pane">
  <div class="row-fluid">
    <div class="span3">
      <%= render_aspace_partial(:partial => 'navlist',
                 :locals => {
                   :record_type => 'digital_object',
                   :record => @digital_object,
                   :entries => [
                     {:property => 'published_file_versions', :subrecord_type => 'file_version', :anchor => 'file_versions'},
                     {:property => 'dates', :subrecord_type => 'date', :anchor => 'dates'},
                     {:property => 'extents', :subrecord_type => 'extent', :anchor => 'extents'},
                     {:property => 'published_agents', :subrecord_type => 'agent', :anchor => 'linked_agents'},
                     {:property => 'subjects', :subrecord_type => 'subject', :anchor => 'subjects'},
                     {:property => 'published_notes', :subrecord_type => 'note', :anchor => 'notes'},
                     {:property => 'published_linked_instances', :subrecord_type => 'instance', :anchor => 'linked_instances'},
                     {:property => 'published_external_documents', :subrecord_type => 'external_document', :anchor => 'external_documents'},
                     {:anchor => 'components', :label => I18n.t("digital_object._public.section.components")}
                   ]
                 })
       %>
    </div>
    <div class="span9">
      <fieldset class="form-horizontal">
        <section id="summary">
          <h3><%= I18n.t("digital_object._public.section.summary") %></h3>
          <dl class="dl-horizontal">
            <dt><%= I18n.t("digital_object.digital_object_id") %></dt>
            <dd class="identifier-display">
              <span class="identifier-display-part"><%= @digital_object['digital_object_id'] %></span>
            </dd>
          </dl>
        </section>

        <%= render_aspace_partial :partial => "file_versions", :locals => {:file_versions => @digital_object.published_file_versions} %>
        <%= render_aspace_partial :partial => "dates", :locals => {:dates => @digital_object['dates']} %>
        <%= render_aspace_partial :partial => "extents", :locals => {:extents => @digital_object['extents']} %>
        <%= render_aspace_partial :partial => "agents", :locals => {:linked_agents => @digital_object.published_agents} %>
        <%= render_aspace_partial :partial => "subjects", :locals => {:subjects => @digital_object['subjects']} %>
        <%= render_aspace_partial :partial => "notes", :locals => {:notes => @digital_object.published_notes} %>
        <%= render_aspace_partial :partial => "external_documents", :locals => {:external_documents => @digital_object.published_external_documents} %>
        <%= render_aspace_partial :partial => "linked_instances", :locals => {:records => @digital_object.published_linked_instances} %>
        <%= render_aspace_partial :partial => "components", :locals => {
              :record_type => "digital_object",
              :root_uri => @digital_object.uri,
              :show_search => true,
              :current_node_uri => @digital_object.uri,
            } %>

      </fieldset>

      <br/>
      <br/>

    </div>
  </div>
</div>
