<%
   record_title = @digital_object_component.display_string
   set_title(record_title)
%>
<%= render_aspace_partial(:partial => 'title_pane',
           :locals => {:record_title => record_title}) 
%>
<div class="content-pane">
  <div class="row-fluid">
    <div class="span3">
      <%= render_aspace_partial(:partial => 'navlist',
                 :locals => {
                   :record_type => 'digital_object_component',
                   :record => @digital_object_component,
                   :entries => [
                     {:property => 'published_file_versions', :subrecord_type => 'file_version', :anchor => 'file_versions'},
                     {:property => 'dates', :subrecord_type => 'date', :anchor => 'dates'},
                     {:property => 'extents', :subrecord_type => 'extent', :anchor => 'extents'},
                     {:property => 'published_agents', :subrecord_type => 'agent', :anchor => 'linked_agents'},
                     {:property => 'subjects', :subrecord_type => 'subject', :anchor => 'subjects'},
                     {:property => 'published_notes', :subrecord_type => 'note', :anchor => 'notes'},
                     {:property => 'published_external_documents', :subrecord_type => 'external_document', :anchor => 'external_documents'},
                     {:anchor => 'components', :label => I18n.t("digital_object_component._public.section.components")}
                  ]
                 })
       %>
    </div>
    <div class="span9">
      <fieldset class="form-horizontal">
        <section id="summary">
          <h3><%= I18n.t("digital_object_component._public.section.summary") %></h3>

          <dl class="dl-horizontal">
            <%= label_and_value I18n.t("digital_object_component.component_id"), @digital_object_component['component_id'] %>
            <%= label_and_value I18n.t("digital_object_component.level"), i18n_enum(:digital_object_component, 'level', @digital_object_component['level']) %>
            <%= label_and_value I18n.t("digital_object_component.language"), i18n_enum(:digital_object_component, 'language', @digital_object_component['language']) %>
          </dl>
        </section>

        <%= render_aspace_partial :partial => "file_versions", :locals => {:file_versions => @digital_object_component.published_file_versions} %>
        <%= render_aspace_partial :partial => "dates", :locals => {:dates => @digital_object_component['dates']} %>
        <%= render_aspace_partial :partial => "extents", :locals => {:extents => @digital_object_component['extents']} %>
        <%= render_aspace_partial :partial => "agents", :locals => {:linked_agents => @digital_object_component.published_agents} %>
        <%= render_aspace_partial :partial => "subjects", :locals => {:subjects => @digital_object_component['subjects']} %>
        <%= render_aspace_partial :partial => "notes", :locals => {:notes => @digital_object_component.published_notes} %>
        <%= render_aspace_partial :partial => "external_documents", :locals => {:external_documents => @digital_object_component.published_external_documents} %>

        <%= render_aspace_partial :partial => "components", :locals => {
              :record_type => "digital_object_component",
              :root_uri => @digital_object_component.digital_object['ref'],
              :current_node_uri => @digital_object_component.uri,
            } %>

      </fieldset>

      <br/>
      <br/>

    </div>
  </div>
</div>
