<%
   digital_objects = {}

   if not @resource['instances'].blank?
     @resource['instances'].each do |instance|
       if instance['instance_type'] === "digital_object"
         digital_objects[instance['digital_object']['ref']] = instance['digital_object']['_resolved']
       end
     end
   end

  published_external_documents = []
  if @resource['external_documents'].length > 0
    @resource['external_documents'].each do |exdoc|
      published_external_documents.push(exdoc) if exdoc['publish'] === true
    end
  end
%>
<div class="title-pane">
  <div class="row-fluid">
    <div class="span3">

    </div>
    <div class="span9">
      <h2>
      <%= @resource['finding_aid_status'] === "completed" ? @resource['finding_aid_title'] : @resource.title %></h2>
    </div>
  </div>
</div>
<div class="content-pane">
  <div class="row-fluid">
    <div class="span3">
      <div id="">
        <ul class="nav nav-list as-nav-list" data-spy="affix">
          <li><a href="#summary"><%= I18n.t("archival_object._public.section.summary") %> <span class="icon-chevron-right"></span></a></li>
          <% if @resource['dates'].length > 0 %>
            <li><a href="#dates"><%= I18n.t("date._plural") %> <span class="badge badge-info"><%= @resource['dates'].length %></span><span class="icon-chevron-right"></span></a></li>
          <% end %>
          <% if @resource['extents'].length > 0 %>
            <li><a href="#extents"><%= I18n.t("extent._plural") %> <span class="badge badge-info"><%= @resource['extents'].length %></span><span class="icon-chevron-right"></span></a></li>
          <% end %>
          <% if @resource['linked_agents'].length > 0 %>
            <li><a href="#linked_agents"><%= I18n.t("agent._plural") %> <span class="badge badge-info"><%= @resource['linked_agents'].length %></span><span class="icon-chevron-right"></span></a></li>
          <% end %>
          <% if @resource['subjects'].length > 0 %>
            <li><a href="#subjects"><%= I18n.t("subject._plural") %> <span class="badge badge-info"><%= @resource['subjects'].length %></span><span class="icon-chevron-right"></span></a></li>
          <% end %>
          <% if @resource['notes'].length > 0 %>
            <li><a href="#notes"><%= I18n.t("note._plural") %> <span class="badge badge-info"><%= @resource['notes'].length %></span><span class="icon-chevron-right"></span></a></li>
          <% end %>
          <% if published_external_documents.length > 0 %>
            <li><a href="#external_documents"><%= I18n.t("external_document._plural") %> <span class="badge badge-info"><%= published_external_documents.length %></span><span class="icon-chevron-right"></span></a></li>
          <% end %>
          <% if digital_objects.length > 0 %>
            <li><a href="#digital_objects"><%= I18n.t("digital_object._plural") %> <span class="badge badge-info"><%= digital_objects.length %></span><span class="icon-chevron-right"></span></a></li>
          <% end %>
          <% if not @children.empty? %>
            <li><a href="#components"><%= I18n.t("resource._public.section.components") %> <span class="badge badge-info"><%= @children.length %></span><span class="icon-chevron-right"></span></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span9">
      <fieldset class="form-horizontal">
        <section id="summary">
          <h3><%= I18n.t("resource._public.section.summary") %></h3>
          <dl class="dl-horizontal">
            <dt><%= I18n.t("resource.id_0") %></dt>
            <dd class="identifier-display">
              <% ['id_0','id_1','id_2','id_3'].collect{|prop| @resource[prop]}.each do |id| %>
                <span class="identifier-display-part"><%= id %></span>
              <% end %>
            </dd>
            <% if @resource['finding_aid_status'] === "completed" %>
              <div class="clearfix"></div>
              <%= label_and_value I18n.t("resource.finding_aid_author"), @resource['finding_aid_author'] %>
              <%= label_and_value I18n.t("resource.finding_aid_date"), @resource['finding_aid_date'] %>
              <%= label_and_value I18n.t("resource.finding_aid_description_rules"), i18n_enum(:resource, 'finding_aid_description_rules', @resource['finding_aid_description_rules']) %>
              <%= label_and_value I18n.t("resource.finding_aid_language"), @resource['finding_aid_language'] %>
              <%= label_and_value I18n.t("resource.finding_aid_sponsor"), @resource['finding_aid_sponsor'] %>
              <%= label_and_value I18n.t("resource.finding_aid_edition_statement"), @resource['finding_aid_edition_statement'] %>
              <%= label_and_value I18n.t("resource.finding_aid_series_statement"), @resource['finding_aid_series_statement'] %>
              <%= label_and_value I18n.t("resource.finding_aid_note"), @resource['finding_aid_note'] %>
            <% end %>
          </dl>
        </section>

        <%= render :partial => "dates", :locals => {:dates => @resource['dates']} %>
        <%= render :partial => "extents", :locals => {:extents => @resource['extents']} %>
        <%= render :partial => "agents", :locals => {:linked_agents => @resource['linked_agents']} %>
        <%= render :partial => "subjects", :locals => {:subjects => @resource['subjects']} %>
        <%= render :partial => "notes", :locals => {:notes => @resource['notes']} %>
        <%= render :partial => "external_documents", :locals => {:external_documents => published_external_documents} %>
        <%= render :partial => "instances", :locals => {:digital_objects => digital_objects} %>
        <%= render :partial => "components", :locals => {:record_type => "resource"} %>
      </fieldset>


      <br/>
      <br/>

    </div>
  </div>
</div>