<div class="subrecord-form-fields" data-allow-removal="true">
  <div class="date-container">
    <%= f.label_and_field :label %>
    <div class="control-group <%= f.error_classes(:date_type) %>">
      <label class="control-label"><%= I18n.t(f.current_i18n("date_type"))%></label>
      <div class="controls">
        <div class="accordion controls-accordion date-type-accordion" id="date_type_<%= index %>">
          <div class="accordion-group">
            <label class="radio in" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_expression_<%= index %>">
              <%= f.jsonmodel_radio :date_type, "expression" %> Expression
            </label>
            <div id="date_type_expression_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_and_field :expression, {:field_opts => {:placeholder => "Describe the date or date range"}} %>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <label class="radio" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_single_<%= index %>">
             <%= f.jsonmodel_radio :date_type, "single" %> Single Date
            </label>
            <div id="date_type_single_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_and_field :begin, {
                  :label_opts => {
                    :force_id => "#{f.current_name(:begin)}_single"
                  },
                  :field_opts => {
                    :force_id => "#{f.current_name(:begin)}_single",
                    :placeholder => "YYYY-MM-DD"                    
                  }
                } %>
                <%= f.label_and_field :begin_time, {
                  :label_opts => {
                    :force_id => "#{f.current_name(:begin_time)}_single"
                  },
                  :field_opts => {
                    :force_id => "#{f.current_name(:begin_time)}_single",
                    :placeholder => "HH:MM:SS"
                  }
                } %>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <label class="radio" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_inclusive_<%= index %>">
              <%= f.jsonmodel_radio :date_type, "inclusive" %> Inclusive Dates
            </label>
            <div id="date_type_inclusive_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_and_field :begin, {
                  :label_opts => {
                    :force_id => "#{f.current_name(:begin)}_inclusive"
                  },
                  :field_opts => {
                    :force_id => "#{f.current_name(:begin)}_inclusive",
                    :placeholder => "YYYY-MM-DD"                    
                  }
                } %>
                <%= f.label_and_field :begin_time, {
                  :label_opts => {
                    :force_id => "#{f.current_name(:begin_time)}_inclusive"
                  },
                  :field_opts => {
                    :force_id => "#{f.current_name(:begin_time)}_inclusive",
                    :placeholder => "HH:MM:SS"
                  }
                } %>
                <%= f.label_and_field :end, {
                  :label_opts => {
                    :force_id => "#{f.current_name(:end)}_inclusive"
                  },
                  :field_opts => {
                    :force_id => "#{f.current_name(:end)}_inclusive",
                    :placeholder => "YYYY-MM-DD"                    
                  }
                } %>
                <%= f.label_and_field :end_time, {
                  :label_opts => {
                    :force_id => "#{f.current_name(:end_time)}_inclusive"
                  },
                  :field_opts => {
                    :force_id => "#{f.current_name(:end_time)}_inclusive",
                    :placeholder => "HH:MM:SS"
                  }
                } %>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <label class="radio" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_bulk_<%= index %>">
              <%= f.jsonmodel_radio :date_type, "bulk" %> Bulk Dates
            </label>
            <div id="date_type_bulk_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_and_field :begin, {
                  :label_opts => {
                    :force_id => "#{f.current_name(:begin)}_bulk"
                  },
                  :field_opts => {
                    :force_id => "#{f.current_name(:begin)}_bulk",
                    :placeholder => "YYYY-MM-DD"                    
                  }
                } %>
                <%= f.label_and_field :begin_time, {
                  :label_opts => {
                    :force_id => "#{f.current_name(:begin_time)}_bulk"
                  },
                  :field_opts => {
                    :force_id => "#{f.current_name(:begin_time)}_bulk",
                    :placeholder => "HH:MM:SS"
                  }
                } %>
                <%= f.label_and_field :end, {
                  :label_opts => {
                    :force_id => "#{f.current_name(:end)}_bulk"
                  },
                  :field_opts => {
                    :force_id => "#{f.current_name(:end)}_bulk",
                    :placeholder => "YYYY-MM-DD"                    
                  }
                } %>
                <%= f.label_and_field :end_time, {
                  :label_opts => {
                    :force_id => "#{f.current_name(:end_time)}_bulk"
                  },
                  :field_opts => {
                    :force_id => "#{f.current_name(:end_time)}_bulk",
                    :placeholder => "HH:MM:SS"
                  }
                } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= f.label_and_field :uncertain %>
    <%= f.label_and_field :era %>
    <%= f.label_and_field :calendar %>
  </div>
</div>