<div class="subform date-fields">
  <a href="javascript:void(0)" class="btn btn-mini pull-right subform-remove"><span class='icon-remove'></span></a>
  <div class="date-container">
    <%= f.label_field_pair :label %>
    <div class="control-group">
      <label class="control-label"><%= I18n.t("accession.dates.date_type")%></label>
      <div class="controls">
        <div class="accordion controls-accordion date-type-accordion" id="date_type_<%= index %>">
          <div class="accordion-group">
            <label class="radio in" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_expression_<%= index %>">
              <%= f.jsonmodel_radio :date_type, "expression" %> Expression
            </label>
            <div id="date_type_expression_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_field_pair :expression, f.jsonmodel_text_field(:expression, :placeholder => "Describe the date or date range") %>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <label class="radio" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_single_<%= index %>">
             <%= f.jsonmodel_radio :date_type, "single" %> Single Date
            </label>
            <div id="date_type_single_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_field_pair :begin, f.jsonmodel_text_field(:begin, :placeholder => "YYYY-MM-DD") %>
                <%= f.label_field_pair :begin_time, f.jsonmodel_text_field(:begin_time, :placeholder => "HH:MM:SS") %>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <label class="radio" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_inclusive_<%= index %>">
              <%= f.jsonmodel_radio :date_type, "inclusive" %> Inclusive Dates
            </label>
            <div id="date_type_inclusive_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_field_pair :begin, f.jsonmodel_text_field(:begin, :placeholder => "YYYY-MM-DD") %>
                <%= f.label_field_pair :begin_time, f.jsonmodel_text_field(:begin_time, :placeholder => "HH:MM:SS") %>
                <%= f.label_field_pair :end, f.jsonmodel_text_field(:end, :placeholder => "YYYY-MM-DD") %>
                <%= f.label_field_pair :end_time, f.jsonmodel_text_field(:end_time, :placeholder => "HH:MM:SS") %>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <label class="radio" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_bulk_<%= index %>">
              <%= f.jsonmodel_radio :date_type, "bulk" %> Bulk Dates
            </label>
            <div id="date_type_bulk_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_field_pair :begin, f.jsonmodel_text_field(:begin, :placeholder => "YYYY-MM-DD") %>
                <%= f.label_field_pair :begin_time, f.jsonmodel_text_field(:begin_time, :placeholder => "HH:MM:SS") %>
                <%= f.label_field_pair :end, f.jsonmodel_text_field(:end, :placeholder => "YYYY-MM-DD") %>
                <%= f.label_field_pair :end_time, f.jsonmodel_text_field(:end_time, :placeholder => "HH:MM:SS") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= f.label_field_pair :uncertain %>
    <%= f.label_field_pair :era %>
    <%= f.label_field_pair :calendar %>
  </div>
</div>