<div class="subform date-fields">
  <a href="javascript:void(0)" class="btn btn-mini pull-right subform-remove"><span class='icon-remove'></span></a>
  <div class="date-container">
    <%= f.label_and_field :label %>
    <div class="control-group <%= f.error_classes(:date_type) %>">
      <label class="control-label"><%= I18n.t("accession.dates.date_type")%></label>
      <div class="controls">
        <div class="accordion controls-accordion date-type-accordion" id="date_type_<%= index %>">
          <div class="accordion-group">
            <label class="radio in" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_expression_<%= index %>">
              <%= f.jsonmodel_radio :date_type, "expression" %> Expression
            </label>
            <div id="date_type_expression_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_and_field :expression, {:field_opts => {:placeholder => "Describe the date or date range"}} %>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <label class="radio" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_single_<%= index %>">
             <%= f.jsonmodel_radio :date_type, "single" %> Single Date
            </label>
            <div id="date_type_single_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_and_field :begin, {:field_opts => {:placeholder => "YYYY-MM-DD"}} %>
                <%= f.label_and_field :begin_time, {:field_opts => {:placeholder => "HH:MM:SS"}} %>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <label class="radio" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_inclusive_<%= index %>">
              <%= f.jsonmodel_radio :date_type, "inclusive" %> Inclusive Dates
            </label>
            <div id="date_type_inclusive_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_and_field :begin, {:field_opts => {:placeholder => "YYYY-MM-DD"}} %>
                <%= f.label_and_field :begin_time, {:field_opts => {:placeholder => "HH:MM:SS"}} %>
                <%= f.label_and_field :end, {:field_opts => {:placeholder => "YYYY-MM-DD"}} %>
                <%= f.label_and_field :end_time, {:field_opts => {:placeholder => "HH:MM:SS"}} %>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <label class="radio" data-toggle="collapse" data-parent="#date_type_<%= index %>" href="#date_type_bulk_<%= index %>">
              <%= f.jsonmodel_radio :date_type, "bulk" %> Bulk Dates
            </label>
            <div id="date_type_bulk_<%= index %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= f.label_and_field :begin, {:field_opts => {:placeholder => "YYYY-MM-DD"}} %>
                <%= f.label_and_field :begin_time, {:field_opts => {:placeholder => "HH:MM:SS"}} %>
                <%= f.label_and_field :end, {:field_opts => {:placeholder => "YYYY-MM-DD"}} %>
                <%= f.label_and_field :end_time, {:field_opts => {:placeholder => "HH:MM:SS"}} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= f.label_and_field :uncertain %>
    <%= f.label_and_field :era %>
    <%= f.label_and_field :calendar %>
  </div>
</div>