<% define_template "date_type_single", jsonmodel_definition(:date) do |form| %>
  <div class="inline-subform date-type-subform" data-date-type="single">
    <%= form.label_and_merge_select "begin" %>
  </div>
<% end %>

<% define_template "date_type_inclusive", jsonmodel_definition(:date) do |form| %>
  <div class="inline-subform date-type-subform" data-date-type="inclusive">
    <%= form.label_and_merge_select "begin" %>
    <%= form.label_and_merge_select "end" %>
  </div>
<% end %>

<% define_template "date_type_range", jsonmodel_definition(:date) do |form| %>
  <div class="inline-subform date-type-subform" data-date-type="range">
    <%= form.label_and_merge_select "begin" %>
    <%= form.label_and_merge_select "end" %>
  </div>
<% end %>

<% define_template "date_type_bulk", jsonmodel_definition(:date) do |form| %>
  <div class="inline-subform date-type-subform" data-date-type="bulk">
    <%= form.label_and_merge_select "begin" %>
    <%= form.label_and_merge_select "end" %>
  </div>
<% end %>

<% define_template "date_type_nil", jsonmodel_definition(:date) do %>
  <div class="inline-subform date-type-subform">
    <div class="form-group">
      <div class="control-label col-sm-2"></div>
      <div class="controls col-sm-6"><em><%= t("date.date_type_message") %></em></div>
    </div>
  </div>
<% end %>


<% define_template "existence_date", jsonmodel_definition(:date) do |form| %>
  <div class="subrecord-form-fields">
    <div class="date-container">
      <%= form.label_and_merge_select "label" %>
      <%= form.label_and_merge_select "expression" %>
			<%= form.label_and_merge_select "date_type" %>
      <%form.emit_template("date_fields") %>
    </div>
  </div>
<% end %>

<% define_template "structured_date_label_existence", jsonmodel_definition(:structured_date_label) do |form| %>
  <div class="subrecord-form-fields">
    <% disable_replace = false %>

    <%= form.record_level_merge_controls(form, "dates_of_existence", true, !disable_replace) %>
    <% form.emit_template("structured_date_label_common_fields") %>
    </div>
  </div>
<% end %>

<% define_template "structured_date_label_usage", jsonmodel_definition(:structured_date_label) do |form| %>
  <div class="subrecord-form-fields">
    <% disable_replace = false %>

    <%= form.record_level_merge_controls(form, "usage", true, !disable_replace) %>
    <% form.emit_template("structured_date_label_common_fields") %>
    </div>
  </div>
<% end %>

<% define_template "structured_date_label_common_fields", jsonmodel_definition(:structured_date_label) do |form| %>
  <div class="date-container">
    <%= form.label_and_readonly "date_label" %>
    <%= form.label_and_readonly "date_type_structured" %>
    <%= form.label_and_readonly "date_certainty" %>
    <%= form.label_and_readonly "date_era" %>
    <%= form.label_and_readonly "date_calendar" %>
    <%= form.hidden_input "id", form.obj["id"] %>

    <% ranged_dates = [form["structured_date_range"]].compact %>
    <% single_dates = [form["structured_date_single"]].compact %>

    <% if single_dates.length > 0 %>
      <%= form.fields_for(single_dates.first, "structured_date_single") do |item| %>
        <% form.emit_template("structured_date_single_fields", item) %>
      <% end %>
    <% elsif ranged_dates.length > 0 %>
      <%= form.fields_for(ranged_dates.first, "structured_date_range") do |item| %>
        <% form.emit_template("structured_date_range_fields", item) %>
      <% end %>
    <% end %>
<% end %>

<% define_template "structured_date_single_fields", jsonmodel_definition(:structured_date_single) do |form| %>
    <section class="subrecord-form">
      <h4 class="subrecord-form-heading">
        <%= t("agent._frontend.section.structured_date_single_fields") %>
      </h4>
      <div class="subrecord-form-fields subrecord-form-container">
        <div class="structured-date-container">
          <%= form.label_and_readonly "date_role" %>
          <%= form.label_and_readonly "date_expression" %>
          <%= form.label_and_readonly "date_standardized" %>
          <%= form.label_and_readonly "date_standardized_type" %>
        </div>
      </div>
    </section>
<% end %>

<% define_template "structured_date_range_fields", jsonmodel_definition(:structured_date_range) do |form| %>

  <section class="subrecord-form">
    <h4 class="subrecord-form-heading">
      <%= t("agent._frontend.section.structured_date_range_fields") %>
    </h4>
    <div class="subrecord-form-fields subrecord-form-container">
      <div class="structured-date-container">
        <%= form.label_and_readonly "begin_date_expression" %>
        <%= form.label_and_readonly "begin_date_standardized" %>
        <%= form.label_and_readonly "begin_date_standardized_type" %>

        <%= form.label_and_readonly "end_date_expression" %>
        <%= form.label_and_readonly "end_date_standardized" %>
        <%= form.label_and_readonly "end_date_standardized_type" %>
      </div>
    </div>
  </section>
<% end %>

<% define_template "usage_date", jsonmodel_definition(:date) do |form| %>
  <div class="subrecord-form-fields">
    <div class="date-container">
      <%= form.label_and_merge_select "label" %>
      <%= form.label_and_merge_select "expression" %>
			<%= form.label_and_merge_select "date_type" %>
      <%form.emit_template("date_fields") %>
    </div>
  </div>
<% end %>


<% define_template "archival_record_date", jsonmodel_definition(:date) do |form| %>
  <div class="subrecord-form-fields">
    <div class="date-container">
      <%= form.label_and_merge_select "label" %>
			<%= form.label_and_merge_select "expression" %>
			<%= form.label_and_merge_select "date_type" %>
      <%form.emit_template("date_fields") %>
    </div>
  </div>
<% end %>


<% define_template "date", jsonmodel_definition(:date) do |form| %>
  <div class="subrecord-form-fields">
    <div class="date-container">
      <%= form.label_and_merge_select "label" %>
      <%= form.label_and_merge_select "expression" %>
			<%= form.label_and_merge_select "date_type" %>
      <%form.emit_template("date_fields") %>
    </div>
  </div>
<% end %>


<% define_template "date_fields", jsonmodel_definition(:date) do |form| %>

  <% if !form.obj["date_type"].blank? %>
    <% form.emit_template("date_type_#{form.obj["date_type"]}", form.obj) %>
  <% elsif form.default_for("date_type") %>
    <% form.emit_template("date_type_#{form.default_for("date_type")}") %>
  <% else %>
    <% form.emit_template("date_type_nil") %>
  <% end %>

  <%= form.label_and_merge_select "certainty" %>
  <%= form.label_and_merge_select "era" %>
  <%= form.label_and_merge_select "calendar" %>
<% end %>
