<% define_template "date_type_single" do |form| %>
  <div class="inline-subform date-type-subform" data-date-type="single">
    <%= form.label_and_date "begin", {
      :field_opts => {
        :placeholder => "YYYY-MM-DD"
      }
    } %>
    <%= form.label_and_textfield "begin_time", {
      :field_opts => {
        :placeholder => "HH:MM:SS"
      }
    } %>
  </div>
<% end %>

<% define_template "date_type_inclusive" do |form| %>
  <div class="inline-subform date-type-subform" data-date-type="inclusive">
    <%= form.label_and_date "begin", {
      :field_opts => {
        :placeholder => "YYYY-MM-DD"
      }
    } %>
    <%= form.label_and_textfield "begin_time", {
      :field_opts => {
        :placeholder => "HH:MM:SS"
      }
    } %>
    <%= form.label_and_date "end", {
      :field_opts => {
        :placeholder => "HH:MM:SS"
      }
    } %>
    <%= form.label_and_textfield "end_time", {
      :field_opts => {
        :placeholder => "HH:MM:SS"
      }
    } %>
  </div>
<% end %>

<% define_template "date_type_bulk" do |form| %>
  <div class="inline-subform date-type-subform" data-date-type="bulk">
    <%= form.label_and_date "begin", {
      :field_opts => {
        :placeholder => "YYYY-MM-DD"
      }
    } %>
    <%= form.label_and_textfield "begin_time", {
      :field_opts => {
        :placeholder => "HH:MM:SS"
      }
    } %>
    <%= form.label_and_date "end", {
      :field_opts => {
        :placeholder => "HH:MM:SS"
      }
    } %>
    <%= form.label_and_textfield "end_time", {
      :field_opts => {
        :placeholder => "HH:MM:SS"
      }
    } %>
  </div>
<% end %>

<% define_template "date_type_nil" do %>
  <div class="date-type-subform">
    <div class="control-group">
      <div class="control-label"></div>
      <div class="controls"><em>Select a Type to enter normalized date or date range</em></div>
    </div>
  </div>
<% end %>

<% define_template "date" do |form| %>
  <div class="subrecord-form-fields">
    <div class="date-container">
      <%= form.label_and_select "label", form.options_for("label", JSONModel(:date).schema['properties']['label']['enum']) %>
      <%= form.label_and_textfield "expression", {:field_opts => {:placeholder => "Describe the date or date range"}} %>

      <%= form.label_and_select "date_type", form.jsonmodel_options_for(:date, "date_type", true) %>

      <% if form.obj["date_type"].blank? %>
        <% form.emit_template("date_type_nil") %>
      <% else %>
        <% form.emit_template("date_type_#{form.obj["date_type"]}", form.obj) %>
      <% end %>

      <%= form.label_and_select("uncertain", form.jsonmodel_options_for(:date, "uncertain", true)) %>
      <%= form.label_and_select("era", form.jsonmodel_options_for(:date, "era", true)) %>
      <%= form.label_and_select("calendar", form.jsonmodel_options_for(:date, "calendar", true)) %>

    </div>
  </div>
<% end %>
