<% define_template "date_type_single", jsonmodel_definition(:date) do |form| %>
  <div class="inline-subform date-type-subform" data-date-type="single">
    <%= form.label_and_date "begin" %>
  </div>
<% end %>

<% define_template "date_type_inclusive", jsonmodel_definition(:date) do |form| %>
  <div class="inline-subform date-type-subform" data-date-type="inclusive">
    <%= form.label_and_date "begin" %>
    <%= form.label_and_date "end" %>
  </div>
<% end %>

<% define_template "date_type_range", jsonmodel_definition(:date) do |form| %>
  <div class="inline-subform date-type-subform" data-date-type="range">
    <%= form.label_and_date "begin" %>
    <%= form.label_and_date "end" %>
  </div>
<% end %>

<% define_template "date_type_bulk", jsonmodel_definition(:date) do |form| %>
  <div class="inline-subform date-type-subform" data-date-type="bulk">
    <%= form.label_and_date "begin" %>
    <%= form.label_and_date "end" %>
  </div>
<% end %>

<% define_template "date_type_nil", jsonmodel_definition(:date) do %>
  <div class="inline-subform date-type-subform">
    <div class="form-group">
      <div class="control-label col-sm-2"></div>
      <div class="controls col-sm-6"><em><%= t("date.date_type_message") %></em></div>
    </div>
  </div>
<% end %>

<%# ANW-429: structured_date_label template for existence_date, has date_label defined as a hidden tag field with value hardcoded as 'existence' %>
<% define_template "structured_date_label_existence", jsonmodel_definition(:structured_date_label) do |form| %>
  <div class="subrecord-form-fields">
    <div class="structured-date-label-container">
      <%= form.hidden_input "date_label", 'existence' %>
      <% form.emit_template("structured_date_label_common_fields") %>
    </div>
  </div>
<% end %>

<%# ANW-429: structured_date_label template for name use date, has date_label defined as a hidden tag field with value hardcoded as 'usage' %>
<% define_template "structured_date_label_usage", jsonmodel_definition(:structured_date_label) do |form| %>
  <div class="subrecord-form-fields">
    <div class="structured-date-label-container">
      <%= form.hidden_input "date_label", 'usage' %>
      <% form.emit_template("structured_date_label_common_fields") %>
    </div>
  </div>
<% end %>

<% define_template "structured_date_label_common_fields", jsonmodel_definition(:structured_date_label) do |form| %>
  <%= form.label_and_select("date_type_structured", form.possible_options_for("date_type_structured", true, i18n_prefix: "date_type_structured")) %>
  <%= form.label_and_select("date_certainty", form.possible_options_for("date_certainty", true)) %>
  <%= form.label_and_select("date_era", form.possible_options_for("date_era", true)) %>
  <%= form.label_and_select("date_calendar", form.possible_options_for("date_calendar", true)) %>

  <% ranged_dates = [form["structured_date_range"]].compact %>
  <% single_dates = [form["structured_date_single"]].compact %>

  <% if single_dates.length > 0 %>
    <%= form.fields_for(single_dates.first, "structured_date_single") do |item| %>
      <% form.emit_template("structured_date_single_fields", item) %>
    <% end %>
  <% elsif ranged_dates.length > 0 %>
    <%= form.fields_for(ranged_dates.first, "structured_date_range") do |item| %>
      <% form.emit_template("structured_date_range_fields", item) %>
    <% end %>
  <% else %>
    <div class="sdl-subrecord-form"></div>
  <% end %>
<% end %>

<% define_template "structured_date_single_fields", jsonmodel_definition(:structured_date_single) do |form| %>
    <section class="subrecord-form sdl-subrecord-form">
      <h4 class="subrecord-form-heading">
        <%= t("agent._frontend.section.structured_date_single_fields") %>
      </h4>
      <div class="subrecord-form-fields subrecord-form-container">
        <div class="structured-date-container">
          <%= form.label_and_select "date_role", form.possible_options_for("date_role", false, required: true) %>
          <%= form.label_and_textfield "date_expression",  {:field_opts => {:size => 30, :class => "form-control"} }%>
          <%= form.label_and_date "date_standardized", {:field_opts => {} } %>
          <%= form.label_and_select "date_standardized_type", form.possible_options_for("date_standardized_type", false) %>

        </div>
      </div>
    </section>
<% end %>

<% define_template "structured_date_range_fields", jsonmodel_definition(:structured_date_range) do |form| %>

  <section class="subrecord-form sdl-subrecord-form">
    <h4 class="subrecord-form-heading">
      <%= t("agent._frontend.section.structured_date_range_fields") %>
    </h4>
    <div class="subrecord-form-fields subrecord-form-container">
      <div class="structured-date-container">
        <%= form.label_and_textfield "begin_date_expression",  {:field_opts => {:size => 30, :class => "form-control"} }%>
        <%= form.label_and_date "begin_date_standardized" %>
        <%= form.label_and_select "begin_date_standardized_type", form.possible_options_for("begin_date_standardized_type", false) %>

        <%= form.label_and_textfield "end_date_expression",  {:field_opts => {:size => 30, :class => "form-control"} }%>
        <%= form.label_and_date "end_date_standardized" %>
        <%= form.label_and_select "end_date_standardized_type", form.possible_options_for("end_date_standardized_type", false) %>

      </div>
    </div>
  </section>
<% end %>

<%# ANW-429: used in agents form before we switched to structured dates. remove after confirming this template isn't being used anywhere else. %>
<% define_template "usage_date", jsonmodel_definition(:date) do |form| %>
  <div class="subrecord-form-fields">
    <div class="date-container">
      <%= form.label_and_select "label", form.possible_options_for("label", false, :include => ["usage"]) %>
      <%= form.label_and_textarea "expression", {:field_opts => {:placeholder => t('date._frontend.expression_placeholder')}, :required => :conditionally} %>
                        <%= form.label_and_select "date_type", form.possible_options_for("date_type", true, :exclude => ["bulk", "inclusive"]), :required => true %>
      <%form.emit_template("date_fields") %>
    </div>
  </div>
<% end %>


<% define_template "event_date", jsonmodel_definition(:date) do |form| %>
  <div class="subrecord-form-fields">
    <div class="date-container">
      <%= form.label_and_select "label", form.possible_options_for("label") %>
      <%= form.label_and_textarea "expression", {:field_opts => {:placeholder => t('date._frontend.expression_placeholder')}, :required => :conditionally} %>
        <%= form.label_and_select "date_type", form.possible_options_for("date_type", true, :exclude => ["bulk", "inclusive"]), :required => true %>
      <%form.emit_template("date_fields") %>
    </div>
  </div>
<% end %>


<% define_template "archival_record_date", jsonmodel_definition(:date) do |form| %>
  <div class="subrecord-form-fields">
    <div class="date-container">
      <%= form.label_and_select "label", form.possible_options_for("label"), :field_opts => {:default => "creation"} %>
        <%= form.label_and_textarea "expression", {:field_opts => {:placeholder => t('date._frontend.expression_placeholder')}, :required => :conditionally} %>
        <%= form.label_and_select "date_type", form.possible_options_for("date_type", true, :exclude => ["range"] ), :required => true %>
      <%form.emit_template("date_fields") %>
    </div>
  </div>
<% end %>


<% define_template "date", jsonmodel_definition(:date) do |form| %>
  <div class="subrecord-form-fields">
    <div class="date-container">
      <%= form.label_and_select "label", form.possible_options_for("label") %>
      <%= form.label_and_textarea "expression", {:field_opts => {:placeholder => t('date._frontend.expression_placeholder')}, :required => :conditionally} %>
        <%= form.label_and_select "date_type", form.possible_options_for("date_type", true, :exclude => (exclude ||= [])), :required => true %>
      <%form.emit_template("date_fields") %>
    </div>
  </div>
<% end %>


<% define_template "date_fields", jsonmodel_definition(:date) do |form| %>

  <% if !form.obj["date_type"].blank? %>
    <% form.emit_template("date_type_#{form.obj["date_type"]}", form.obj) %>
  <% elsif form.default_for("date_type") %>
    <% form.emit_template("date_type_#{form.default_for("date_type")}") %>
  <% else %>
    <% form.emit_template("date_type_nil") %>
  <% end %>

  <%= form.label_and_select("certainty", form.possible_options_for("certainty", true)) %>
  <%= form.label_and_select("era", form.possible_options_for("era", true)) %>
  <%= form.label_and_select("calendar", form.possible_options_for("calendar", true)) %>

  <%= render_plugin_partials("date_fields_ext", :form => form)
  %>
<% end %>
