<%= setup_context :title => "LCNAF Search" %>

<div class="row-fluid">
  <div class="span12">
    <div class="record-pane">
      <div class="row-fluid">
        <div class="span8">
          <h2>LCNAF Search and Import</h2>

          <%= render :partial => "shared/flash_messages" %>

          <%= form_tag({:controller => :lcnaf, :action => :search}, {:id => "lcnaf_search", :class => "form-search"}) do |form| %>
            <input type="text" name="query" class="input-large">
            <button type="submit" class="btn btn-primary">Search</button>
            <%= hidden_field_tag "page", @page %>
            <%= hidden_field_tag "records_per_page", @records_per_page %>
          <% end %>

          <div id="results"></div>
        </div>
        <div class="span4">
          <%= form_tag({:controller => :lcnaf, :action => :import}, {:id => "lcnaf_import"}) do |form| %>
          <div class="selected-container" data-spy="affix">
            <div class="alert alert-info">No Results Selected</div>
            <div id="selected"></div>
            <button id="import-selected" class="btn btn-primary" disabled="disabled">Import Selected</button>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/lcnaf.js" %>"></script>
<script src="<%= "#{AppConfig[:frontend_prefix]}assets/highlight.js/highlight.pack.js" %>"></script>

<link href="<%= "#{AppConfig[:frontend_prefix]}assets/styles/lcnaf.css" %>" media="all" rel="stylesheet" type="text/css">
<link href="<%= "#{AppConfig[:frontend_prefix]}assets/highlight.js/styles/tomorrow.css" %>" media="all" rel="stylesheet" type="text/css">


<div id="template_lcnaf_result"><!--
  <div class="lcnaf-result">
    <div class="row-fluid">
      <div class="span2">
          <span class="pull-left alert alert-success hide">Selected</span>
          <button class="btn hide" data-lccn="${record.lccn}">Select</button>
      </div>
      <div class="span10 lcnaf-marc">
        <pre><code>${record.xml|h}</code></pre>
      </div>
    </div>
  </div>
--></div>

<div id="template_lcnaf_result_summary"><!--
  <div class="row-fluid">
    <div class="pull-right text-info">
      Page ${page} - Showing results ${first_record_index} to ${last_record_index} of ${hit_count} matches
    </div>
    <hr/>
  </div>
--></div>

<div id="template_lcnaf_pagination"><!--
  <div class="row-fluid">
    <hr/>
    <div class="lcnaf-pagination text-center">
      {if !at_start}<a href='<%= url_for :controller => :lcnaf, :action => :search %>?query=${query}&page=${page - 1}&records_per_page=${records_per_page}' class="btn btn-small">Prev</a>{/if}
      {if !at_end}<a href='<%= url_for :controller => :lcnaf, :action => :search %>?query=${query}&page=${page + 1}&records_per_page=${records_per_page}' class="btn btn-small">Next</a>{/if}
    </div>
  </div>
--></div>

<div id="template_lcnaf_selected"><!--
  <div data-lccn="${lccn}" class="lcnaf-selected">
    ${lccn}
    <input type="hidden" name="lccn[]" value="${lccn}"/>
    <button class="btn btn-mini remove-selected pull-right"><span class="icon icon-trash"></span></button>
  </div>
--></div>
