<%= setup_context :title => "LCNAF Search" %>

<div class="row">
  <div class="col-md-8">
    <h2><%= I18n.t("plugins.lcnaf.label") %></h2>

    <%= render_aspace_partial :partial => "shared/flash_messages" %>

    <%= form_tag({:controller => :lcnaf, :action => :search}, {:id => "lcnaf_search", :class => "form-search", :method => "GET"}) do |form| %>

    <div class='control-group form-group required'>
      <div class="radio">
        <label for="lcnaf_service_loc">
          <input type="radio" name="lcnaf_service" value="lcnaf" id="lcnaf_service_loc" checked="true">
          LCNAF - http://id.loc.gov/authorities/names
        </label>
      </div>
      <div class="radio">
          <label for="lcsh_service_loc">
              <input type="radio" name="lcnaf_service" value="lcsh" id="lcsh_service_loc">
           LCSH - http://id.loc.gov/authorities/subjects
          </label>
      </div>
    </div>

    <div class='control-group form-group required'> 
      <label class='control-label' for="family-name-search-query"><%= I18n.t("plugins.lcnaf.search.family_name") %></label>
      <div class='controls'> 
        <input type="text" name="family_name" class="family-name-search-query lcnaf-name-input input-large" id="family-name-search-query"></input>
      </div>
    </div>
    <div class='control-group form-group'>
      <label for="given-name-search-query"><%= I18n.t("plugins.lcnaf.search.given_name") %></label>
      <div class='controls'> 
        <input type="text" name="given_name" id="given-name-search-query" class="lcnaf-name-input input-large" disabled="disabled"></input>
      </div>
    </div>
    
    <div class='control-group form-group'> 
      <button type="submit" class="btn btn-primary btn-default">
        <%= image_tag "archivesspace/btn-busy.gif", :class=>"btn-busy-icon" %>
        <%= I18n.t("plugins.lcnaf.actions.search") %>
      </button>
    </div>
    <%= hidden_field_tag "page", @page %>
    <%= hidden_field_tag "records_per_page", @records_per_page %>
    <% end %>

    <div id="results"></div>
  </div>
  <div class="col-md-4">
    <%= form_tag({:controller => :lcnaf, :action => :import}, {:id => "lcnaf_import"}) do |form| %>
    <div class="selected-container" data-spy="affix">
      <div class="alert alert-info"><%= I18n.t("plugins.lcnaf.messages.none_selected") %></div>
      <div id="selected"></div>
      <button id="import-selected" class="btn btn-primary btn-default" disabled="disabled">
        <%= image_tag "archivesspace/btn-busy.gif", :class=>"btn-busy-icon" %>
        <%= I18n.t("plugins.lcnaf.actions.import") %>
      </button>
    </div>
    <% end %>
  </div>

</div>

<script src="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/lcnaf.js" %>"></script>
<script src="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/highlight.js/highlight.pack.js" %>"></script>

<link href="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/styles/lcnaf.css" %>" media="all" rel="stylesheet" type="text/css">
<link href="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/highlight.js/styles/tomorrow.css" %>" media="all" rel="stylesheet" type="text/css">


<div id="template_lcnaf_result"><!--
  <div class="lcnaf-result">
    <div class="row">
      <div class="col-md-12">
        <div class='alert alert-info'>${record.title}
          <span class="pull-right alert alert-success hide"><%= I18n.t("plugins.lcnaf.messages.selected") %></span>
          <button class="pull-right btn btn-default hide select-record" data-lccn="${record.lccn}"><%= I18n.t("plugins.lcnaf.actions.select") %></button>
          <button class="pull-right btn btn-default hide show-record" ><%= I18n.t("plugins.lcnaf.actions.show_record") %></button>
          <div class="col-md-12 lcnaf-marc hide"><pre><code>${record.xml|h}</code></pre></div> 
        </div> 
      </div>   
    </div>
  </div>
--></div>

<div id="template_lcnaf_result_summary"><!--
  <div class="row-fluid">
    <div class="pull-right text-info">
      <%= I18n.t("plugins.lcnaf.result_summary", :page => "${page}", :first_record_index => "${first_record_index}", :last_record_index => "${last_record_index}", :hit_count => "${hit_count}") %>
    </div>
    <hr/>
  </div>
--></div>

<div id="template_lcnaf_pagination"><!--
  <div class="row-fluid">
    <hr/>
    <div class="lcnaf-pagination text-center">
      {if !at_start}<a href='<%= url_for :controller => :lcnaf, :action => :search %>${queryString}&page=${page - 1}&records_per_page=${records_per_page}' class="btn btn-small btn-default"><%= I18n.t("pagination.previous") %> <%= I18n.t("pagination.previous_label") %></a>{/if}
      {if !at_end}<a href='<%= url_for :controller => :lcnaf, :action => :search %>${queryString}&page=${page + 1}&records_per_page=${records_per_page}' class="btn btn-small btn-default"><%= I18n.t("pagination.next_label") %> <%= I18n.t("pagination.next") %></a>{/if}
    </div>
  </div>
--></div>

<div id="template_lcnaf_selected"><!--
  <div data-lccn="${lccn}" class="lcnaf-selected">
    ${lccn}
    <input type="hidden" name="lccn[]" value="${lccn}"/>
    <button class="btn btn-mini btn-default btn-xs remove-selected pull-right"><span class="icon icon-trash glyphicon glyphicon-trash"></span></button>
  </div>
--></div>

<div id="template_lcnaf_import_error_title"><!--
  <%= I18n.t("plugins.lcnaf.messages.import_error") %>
--></div>

<div id="template_lcnaf_import_success_title"><!--
  <%= I18n.t("plugins.lcnaf.messages.import_success") %>
--></div>

<div id="template_lcnaf_import_success_message"><!--
  <div class="alert alert-success"><%= I18n.t("plugins.lcnaf.messages.import_success_message") %></div>
--></div>

<div id="template_lcnaf_service_locked_title"><!--<%= I18n.t("plugins.lcnaf.messages.service_locked") %>--></div>

<div id="template_lcnaf_service_locked_message"><!--<%= I18n.t("plugins.lcnaf.messages.service_locked_message") %>--></div>

<div id="template_lcnaf_search_error_title"><!--
  <%= I18n.t("plugins.lcnaf.messages.search_error") %>
--></div>
