<% if @collection_tree %>
   <%= hidden_field_tag "parent_id", @parent_id %>
   <%= hidden_field_tag "collection_id", @collection_tree['collection_id'] %>
<% end %>
<h2><%= @archival_object.title %></h2>
<br/>
<%= render "shared/form_messages", :object => @archival_object, :errors => @errors, :warnings => @warnings %>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#basic-information" data-toggle="tab">Basic Information</a></li>
    <!-- <li><a href="#finding-aid" data-toggle="tab">Finding Aid</a></li>
    <li><a href="#dates" data-toggle="tab">Dates</a></li>
    <li><a href="#names" data-toggle="tab">Names</a></li>
    <li><a href="#subjects" data-toggle="tab">Subjects</a></li> -->
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="basic-information">
      <%= render :partial=>"collections/forms/basic_information", :locals=>{:f => f} %>
    </div>
    <!-- <div class="tab-pane" id="finding-aid">
      <div class="well">Finding Aid form here...</div>
    </div>
    <div class="tab-pane" id="dates">
      <div class="well">Dates form/list here...</div>
    </div>
    <div class="tab-pane" id="names">
      <div class="well">Names selector/list here...</div>
    </div>
    <div class="tab-pane" id="subjects">
      <div class="well">Subjects selector/list here...</div>
    </div> -->
  </div>
</div>
<div class="form-actions">            
   <button type="submit" class="btn btn-primary">Save Archival Object</button>
   <%= link_to "Cancel", :back, :class=>"btn btn-cancel" %>
</div>