<h2><%= @archival_object.title %>  <span class="label label-info">Archival Object</span></h2>
<br/>
<%= render :partial => "shared/form_messages", :locals => {:object => @archival_object, :f => f} %>

<fieldset>

  <section id="basic_information">
    <h3>Basic Information</h3>
    <%= render :partial => "archival_objects/forms/basic_information", :locals => {:f => f} %>
  </section>


  <%= render :partial => "shared/subrecord_form", :locals => {:f => f, :method => :extents} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:f => f, :method => :dates} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:f => f, :method => :external_documents} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:f => f, :method => :rights_statements} %>


</fieldset>

<%= f.hidden_field :parent %>
<%= f.hidden_field :resource %>
<%= hidden_field_tag "ao_id", @archival_object.id %>
