<%= form_for @archival_object, :as => "archival_object", :url => {:action => :create}, :html => {:class => 'form-horizontal aspace-record-form', :id => 'archival_object_form'}.merge(error_params(@exceptions)) do |f| %>
  <%= form_context :archival_object, @archival_object do |form| %>
    <div class="mt-3 d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
        <div class="record-pane">
          <%= render_aspace_partial :partial => "archival_objects/form_container", :locals => {:form => form} %>
          <div class="form-actions pl-0">
            <div class="btn-group btn-submit-group">
              <button type="submit" class="btn btn-primary"><%= t("archival_object._frontend.action.save") %></button>
              <button type="button" id="createPlusOne" class="btn btn-primary btn-plus-one createPlusOneBtn"><%= t("actions.save_plus_one") %></button>
            </div>
            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
