<% define_template "rde_archival_object_sections" do |form| %>
  <th data-id="basic" class="section-basic" colspan="5"><%= t("rde.sections.basic_information") %></th>
  <th data-id="language" class="section-language" colspan="2"><%= t("rde.sections.language") %></th>
  <th data-id="date" class="section-date" colspan="5" class="conditionally-required"><%= t("rde.sections.date") %></th>
  <th data-id="extent" class="section-extent" colspan="6" class="conditionally-required"><%= t("rde.sections.extent") %></th>
  <th data-id="instance" class="section-instance" colspan="6"><%= t("rde.sections.instance") %></th>
  <th data-id="note" class="section-note" colspan="21"><%= t("rde.sections.notes") %></th>
<% end %>

<% define_template "rde_archival_object_headers" do |form| %>
  <th id="colLevel" class="fieldset-label required sticky" data-section="basic"><%= t("archival_object.level") %></th>
  <th id="colOtherLevel" class="fieldset-label sticky" data-section="basic"><%= t("archival_object.other_level") %></th>
  <th id="colPublish" class="fieldset-label sticky" data-section="basic"><%= t("archival_object.publish") %></th>
  <th id="colTitle" class="fieldset-label conditionally-required" data-section="basic"><%= t("archival_object.title") %></th>
  <th id="colCompId" class="fieldset-label" data-section="basic"><%= t("archival_object.component_id") %></th>

  <th id="colLanguage" class="fieldset-label sticky" data-section="language"><%= t("language_and_script.language") %></th>
  <th id="colScript" class="fieldset-label sticky" data-section="language"><%= t("language_and_script.script") %></th>

  <th id="colExpr" class="fieldset-label sticky" data-section="date"><%= t("date.expression") %></th>
  <th id="colDType" class="fieldset-label sticky" data-section="date"><%= t("rde.date_type") %></th>
  <th id="colDLabel" class="fieldset-label sticky" data-section="date"><%= t("date.label") %></th>
  <th id="colDBegin" class="fieldset-label sticky" data-section="date"><%= t("date.begin") %></th>
  <th id="colDEnd" class="fieldset-label sticky" data-section="date"><%= t("date.end") %></th>

  <th id="colEPortion" class="fieldset-label sticky" data-section="extent"><%= t("extent.portion") %></th>
  <th id="colENumber" class="fieldset-label sticky" data-section="extent"><%= t("extent.number") %></th>
  <th id="colEType" class="fieldset-label sticky" data-section="extent"><%= t("extent.extent_type") %></th>
  <th id="colEContainer" class="fieldset-label sticky" data-section="extent"><%= t("extent.container_summary") %></th>
  <th id="colEPhysical" class="fieldset-label sticky" data-section="extent"><%= t("extent.physical_details") %></th>
  <th id="colEDimensions" class="fieldset-label sticky" data-section="extent"><%= t("extent.dimensions") %></th>

  <th id="colIType" class="fieldset-label sticky" data-section="instance"><%= t("rde.instance_type") %></th>
  <th id="colCTop" class="fieldset-label sticky" data-section="instance"><%= t("top_container._singular") %></th>
  <th id="colCType2" class="fieldset-label" data-section="instance"><%= t("sub_container.type_2") %></th>
  <th id="colCInd2" class="fieldset-label" data-section="instance"><%= t("sub_container.indicator_2") %></th>
  <th id="colCType3" class="fieldset-label" data-section="instance"><%= t("sub_container.type_3") %></th>
  <th id="colCInd3" class="fieldset-label" data-section="instance"><%= t("sub_container.indicator_3") %></th>

  <th id="colNType1" class="fieldset-label" data-section="note"><%= t("note._singular") %> 1</th>
  <th id="colNLabel1" class="fieldset-label" data-section="note"><%= t("note_attributes.label") %> 1</th>
  <th id="colNBeginRestriction1" class="fieldset-label" data-section="note"><%= t("rights_restriction.begin") %> 1</th>
  <th id="colNEndRestriction1" class="fieldset-label" data-section="note"><%= t("rights_restriction.end") %> 1</th>
  <th id="colNRestrictionType1" class="fieldset-label" data-section="note"><%= t("rights_restriction.local_access_restriction_type") %> 1</th>
  <th id="colNCont1" class="fieldset-label" data-section="note"><%= t("note_attributes.content") %> 1</th>
  <th id="colNPub1" class="fieldset-label" data-section="note"><%= t("note_attributes.publish") %> 1</th>
  <th id="colNType2" class="fieldset-label" data-section="note"><%= t("note._singular") %> 2</th>
  <th id="colNLabel2" class="fieldset-label" data-section="note"><%= t("note_attributes.label") %> 2</th>
  <th id="colNBeginRestriction2" class="fieldset-label" data-section="note"><%= t("rights_restriction.begin") %> 2</th>
  <th id="colNEndRestriction2" class="fieldset-label" data-section="note"><%= t("rights_restriction.end") %> 2</th>
  <th id="colNRestrictionType2" class="fieldset-label" data-section="note"><%= t("rights_restriction.local_access_restriction_type") %> 2</th>
  <th id="colNCont2" class="fieldset-label" data-section="note"><%= t("note_attributes.content") %> 2</th>
  <th id="colNPub2" class="fieldset-label" data-section="note"><%= t("note_attributes.publish") %> 2</th>
  <th id="colNType3" class="fieldset-label" data-section="note"><%= t("note._singular") %> 3</th>
  <th id="colNLabel3" class="fieldset-label" data-section="note"><%= t("note_attributes.label") %> 3</th>
  <th id="colNBeginRestriction3" class="fieldset-label" data-section="note"><%= t("rights_restriction.begin") %> 3</th>
  <th id="colNEndRestriction3" class="fieldset-label" data-section="note"><%= t("rights_restriction.end") %> 3</th>
  <th id="colNRestrictionType3" class="fieldset-label" data-section="note"><%= t("rights_restriction.local_access_restriction_type") %> 3</th>
  <th id="colNCont3" class="fieldset-label" data-section="note"><%= t("note_attributes.content") %> 3</th>
  <th id="colNPub3" class="fieldset-label" data-section="note"><%= t("note_attributes.publish") %> 3</th>
<% end %>

<% define_template "rde_archival_object_cols" do |form| %>
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='70' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='90' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='90' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='90' />
<% end %>

<% define_template "rde_archival_object_row", jsonmodel_definition(:archival_object) do |form, archival_object| %>
  <% first_row = form.current_context.first == "children[0]" %>
  <tr>
    <td data-col="status" class="status p-1">
      <span class="glyphicon glyphicon-exclamation-sign invalid"></span>
      <span class="glyphicon glyphicon-ok valid"></span>
      <div class="error-summary">
        <div class="error-summary-header">
          <span class="error-summary-header-text"><%= t("rde.messages.error_summary_header") %></span>
          <a href="javascript:void(0);" class="hide-error-summary"><span class='glyphicon glyphicon-chevron-up'></span></a>
          <a href="javascript:void(0);" class="show-error-summary"><span class='glyphicon glyphicon-chevron-down'></span></a>
        </div>
        <div class="error-summary-list"></div>
      </div>

      <%= form.hidden_input "resource[ref]", @resource_uri %>
    </td>
    <td data-col="colLevel" class="form-group"><%= form.select "level", form.possible_options_for("level", true) %></td>
    <td data-col="colOtherLevel" class="form-group"><%= form.textfield "other_level" %></td>
    <td data-col="colPublish" class="form-group"><%= form.checkbox "publish", {}, user_prefs["publish"] %></td>
    <td data-col="colTitle" class="form-group"><%= form.textfield "title" %></td>
    <td data-col="colCompId" class="form-group"><%= form.textfield "component_id" %></td>
    <td data-col="colLanguage" class="form-group">
      <% form.push(form.set_index("lang_materials[]", 0), begin archival_object["lang_materials"][0] || {} rescue {} end) do %>
        <% form.push(form.set_index("language_and_script", 0), form["language_and_script"] || {}) do %>
          <%= form.select "language",
          jsonmodel_definition(:language_and_script).options_for(form, "language", true) %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colScript" class="form-group">
      <% form.push(form.set_index("lang_materials[]", 0), begin archival_object["lang_materials"][0] || {} rescue {} end) do %>
        <% form.push(form.set_index("language_and_script", 0), form["language_and_script"] || {}) do %>
          <%= form.select "script",
          jsonmodel_definition(:language_and_script).options_for(form, "script", true) %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colExpr" class="form-group">
      <% form.push(form.set_index("dates[]", 0), begin archival_object["dates"][0] || {} rescue {} end) do %>
        <%= form.textfield "expression" %>
      <% end %>
    </td>
    <td data-col="colDType" class="form-group">
      <% form.push(form.set_index("dates[]", 0), begin archival_object["dates"][0] || {} rescue {} end) do %>
        <%= form.select "date_type", jsonmodel_definition(:date).options_for(form, "date_type", true, {:exclude => ['range']}) %>
      <% end %>
      <% form.push("dates", begin archival_object["dates"] || [] rescue [] end) do %>
        <span id="<%= form.id_for(nil) %>"></span>
      <% end %>
    </td>
    <td data-col="colDLabel" class="form-group">
      <% form.push(form.set_index("dates[]", 0), begin archival_object["dates"][0] || {} rescue {} end) do %>
        <%= form.select "label", jsonmodel_definition(:date).options_for(form, "label", true) %>
      <% end %>
    </td>
    <td data-col="colDBegin" class="form-group">
      <% form.push(form.set_index("dates[]", 0), begin archival_object["dates"][0] || {} rescue {} end) do %>
        <%= form.textfield "begin" %>
      <% end %>
    </td>
    <td data-col="colDEnd" class="form-group">
      <% form.push(form.set_index("dates[]", 0), begin archival_object["dates"][0] || {} rescue {} end) do %>
        <%= form.textfield "end" %>
      <% end %>
    </td>
    <td data-col="colEPortion" class="form-group">
      <% form.push(form.set_index("extents[]", 0), begin archival_object["extents"][0] || {} rescue {} end) do %>
        <%= form.select "portion", jsonmodel_definition(:extent).options_for(form, "portion", true) %>
      <% end %>
      <% form.push("extents", begin archival_object["extents"] || [] rescue [] end) do %>
        <span id="<%= form.id_for(nil) %>"></span>
      <% end %>
    </td>
    <td data-col="colENumber" class="form-group">
      <% form.push(form.set_index("extents[]", 0), begin archival_object["extents"][0] || {} rescue {} end) do %>
        <%= form.textfield "number" %>
      <% end %>
    </td>
    <td data-col="colEType" class="form-group">
      <% form.push(form.set_index("extents[]", 0), begin archival_object["extents"][0] || {} rescue {} end) do %>
        <%= form.select "extent_type", jsonmodel_definition(:extent).options_for(form, "extent_type", true) %>
      <% end %>
    </td>
    <td data-col="colEContainer" class="form-group">
      <% form.push(form.set_index("extents[]", 0), begin archival_object["extents"][0] || {} rescue {} end) do %>
        <%= form.textfield "container_summary" %>
      <% end %>
    </td>
    <td data-col="colEPhysical" class="form-group">
      <% form.push(form.set_index("extents[]", 0), begin archival_object["extents"][0] || {} rescue {} end) do %>
        <%= form.textfield "physical_details" %>
      <% end %>
    </td>
    <td data-col="colEDimensions" class="form-group">
      <% form.push(form.set_index("extents[]", 0), begin archival_object["extents"][0] || {} rescue {} end) do %>
        <%= form.textfield "dimensions" %>
      <% end %>
    </td>
    <td data-col="colIType" class="form-group">
      <% form.push(form.set_index("instances[]", 0), begin archival_object["instances"][0] || {} rescue {} end) do %>
        <%= form.select "instance_type", jsonmodel_definition(:instance).options_for(form, 'instance_type', true).reject{|option_arr| option_arr[1] === 'digital_object'} %>
      <% end %>
    </td>
    <td data-col="colCTop" class="form-group overflow-visible">
      <% form.push(form.set_index("instances[]", 0), begin archival_object["instances"][0] || {} rescue {} end) do %>
        <% form.push(form.set_index("sub_container", 0), form["sub_container"] || {}) do %>
          <% form.push("top_container", form.obj["top_container"] || {}) do %>
            <%= render_aspace_partial :partial => "top_containers/rde_linker", :locals => {:form => form} %>
          <% end %>
        <% end %>
        <% form.push(form.set_index("sub_container", 0), []) do %>
          <span id="<%= form.id_for(nil) %>"></span>
        <% end %>
      <% end %>
    </td>
    <td data-col="colCType2" class="form-group">
      <% form.push(form.set_index("instances[]", 0), begin archival_object["instances"][0] || {} rescue {} end) do %>
        <% form.push(form.set_index("sub_container", 0), form["sub_container"] || {}) do %>
          <%= form.select "type_2", jsonmodel_definition(:sub_container).options_for(form, 'type_2', true) %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colCInd2" class="form-group">
      <% form.push(form.set_index("instances[]", 0), begin archival_object["instances"][0] || {} rescue {} end) do %>
        <% form.push(form.set_index("sub_container", 0), form["sub_container"] || {}) do %>
          <%= form.textfield "indicator_2" %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colCType3" class="form-group">
      <% form.push(form.set_index("instances[]", 0), begin archival_object["instances"][0] || {} rescue {} end) do %>
        <% form.push(form.set_index("sub_container", 0), form["sub_container"] || {}) do %>
          <%= form.select "type_3", jsonmodel_definition(:sub_container).options_for(form, 'type_3', true) %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colCInd3" class="form-group">
      <% form.push(form.set_index("instances[]", 0), begin archival_object["instances"][0] || {} rescue {} end) do %>
        <% form.push(form.set_index("sub_container", 0), form["sub_container"] || {}) do %>
          <%= form.textfield "indicator_3" %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNType1" class="form-group">
      <% form.push(form.set_index("notes[]", 0), begin archival_object["notes"][0] || {} rescue {} end) do %>
        <%= form.select("type", [""].concat(note_types_for(:archival_object).map {|value, hash| [hash[:i18n], value]}.sort{|a, b| a[0] <=> b[0]})) %>
        <%= form.hidden_input "jsonmodel_type", "note_singlepart" %>
      <% end %>
    </td>
    <td data-col="colNLabel1" class="form-group">
      <% form.push(form.set_index("notes[]", 0), begin archival_object["notes"][0] || {} rescue {} end) do %>
          <%= form.textfield "label" %>
      <% end %>
    </td>
    <td data-col="colNBeginRestriction1" class="form-group">
      <% form.push(form.set_index("notes[]", 0), begin archival_object["notes"][0] || {} rescue {} end) do %>
        <% form.push("rights_restriction", form["rights_restriction"] || {}) do %>
          <%= form.textfield "begin" %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNEndRestriction1" class="form-group">
      <% form.push(form.set_index("notes[]", 0), begin archival_object["notes"][0] || {} rescue {} end) do %>
        <% form.push("rights_restriction", form["rights_restriction"] || {}) do %>
          <%= form.textfield "end" %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNRestrictionType1" class="form-group">
      <% form.push(form.set_index("notes[]", 0), begin archival_object["notes"][0] || {} rescue {} end) do %>
        <% form.push("rights_restriction", form["rights_restriction"] || {}) do %>
          <%=
          form.select("local_access_restriction_type[]",
                      [["", ""]] + JSONModel.enum_values('restriction_type').map {|value| [t("enumerations.restriction_type.#{value}"), value] },
                      :default => form['local_access_restriction_type'])
          %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNCont1" class="form-group">
      <% content = begin archival_object["notes"][0]["jsonmodel_type"] == "note_multipart" ? archival_object["notes"][0]["subnotes"][0]['content'] : archival_object["notes"][0]["content"][0] rescue "" end %>

      <% form.push(form.set_index("notes[]", 0), begin archival_object["notes"][0] || {} rescue {} end) do %>
        <% form.push(form.set_index("content[]", 0), content) do %>
          <%= form.textfield nil, form.obj %>
        <% end %>
        <% form.push("content", begin archival_object["content"] || [] rescue [] end) do %>
          <span id="<%= form.id_for(nil) %>"></span>
        <% end %>
        <% form.push(form.set_index("subnotes[]", 0), []) do %>
          <span id="<%= form.id_for("content") %>"></span>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNPub1" class="form-group">
      <% form.push(form.set_index("notes[]", 0), begin archival_object["notes"][0] || {} rescue {} end) do %>
        <%= form.checkbox "publish", {}, false %>
      <% end %>
    </td>
    <td data-col="colNType2" class="form-group">
      <% form.push(form.set_index("notes[]", 1), begin archival_object["notes"][1] || {} rescue {} end) do %>
        <%= form.select("type", [""].concat(note_types_for(:archival_object).map {|value, hash| [hash[:i18n], value]}.sort{|a, b| a[0] <=> b[0]})) %>
        <%= form.hidden_input "jsonmodel_type", "note_singlepart" %>
      <% end %>
    </td>
    <td data-col="colNLabel2" class="form-group">
      <% form.push(form.set_index("notes[]", 1), begin archival_object["notes"][1] || {} rescue {} end) do %>
          <%= form.textfield "label" %>
      <% end %>
    </td>
    <td data-col="colNBeginRestriction2" class="form-group">
      <% form.push(form.set_index("notes[]", 1), begin archival_object["notes"][1] || {} rescue {} end) do %>
        <% form.push("rights_restriction", form["rights_restriction"] || {}) do %>
          <%= form.textfield "begin" %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNEndRestriction2" class="form-group">
      <% form.push(form.set_index("notes[]", 1), begin archival_object["notes"][1] || {} rescue {} end) do %>
        <% form.push("rights_restriction", form["rights_restriction"] || {}) do %>
          <%= form.textfield "end" %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNRestrictionType2" class="form-group">
      <% form.push(form.set_index("notes[]", 1), begin archival_object["notes"][1] || {} rescue {} end) do %>
        <% form.push("rights_restriction", form["rights_restriction"] || {}) do %>
          <%=
          form.select("local_access_restriction_type[]",
                      [["", ""]] + JSONModel.enum_values('restriction_type').map {|value| [t("enumerations.restriction_type.#{value}"), value] },
                      :default => form['local_access_restriction_type'])
          %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNCont2" class="form-group">
      <% content = begin archival_object["notes"][1]["jsonmodel_type"] == "note_multipart" ? archival_object["notes"][1]["subnotes"][0]['content'] : archival_object["notes"][1]["content"][0] rescue "" end %>

      <% form.push(form.set_index("notes[]", 1), begin archival_object["notes"][1] || {} rescue {} end) do %>
        <% form.push(form.set_index("content[]", 0), begin content || "" rescue "" end) do %>
          <%= form.textfield nil, form.obj %>
        <% end %>
        <% form.push("content", begin archival_object["content"] || [] rescue [] end) do %>
          <span id="<%= form.id_for(nil) %>"></span>
        <% end %>
        <% form.push(form.set_index("subnotes[]", 0), []) do %>
          <span id="<%= form.id_for("content") %>"></span>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNPub2" class="form-group">
      <% form.push(form.set_index("notes[]", 1), begin archival_object["notes"][1] || {} rescue {} end) do %>
        <%= form.checkbox "publish", {}, false %>
      <% end %>
    </td>
    <td data-col="colNType3" class="form-group">
      <% form.push(form.set_index("notes[]", 2), begin archival_object["notes"][2] || {} rescue {} end) do %>
        <%= form.select("type", [""].concat(note_types_for(:archival_object).map {|value, hash| [hash[:i18n], value]}.sort{|a, b| a[0] <=> b[0]})) %>
        <%= form.hidden_input "jsonmodel_type", "note_singlepart" %>
      <% end %>
    </td>
    <td data-col="colNLabel3" class="form-group">
      <% form.push(form.set_index("notes[]", 2), begin archival_object["notes"][2] || {} rescue {} end) do %>
          <%= form.textfield "label" %>
      <% end %>
    </td>
    <td data-col="colNBeginRestriction3" class="form-group">
      <% form.push(form.set_index("notes[]", 2), begin archival_object["notes"][2] || {} rescue {} end) do %>
        <% form.push("rights_restriction", form["rights_restriction"] || {}) do %>
          <%= form.textfield "begin" %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNEndRestriction3" class="form-group">
      <% form.push(form.set_index("notes[]", 2), begin archival_object["notes"][2] || {} rescue {} end) do %>
        <% form.push("rights_restriction", form["rights_restriction"] || {}) do %>
          <%= form.textfield "end" %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNRestrictionType3" class="form-group">
      <% form.push(form.set_index("notes[]", 2), begin archival_object["notes"][2] || {} rescue {} end) do %>
        <% form.push("rights_restriction", form["rights_restriction"] || {}) do %>
          <%=
          form.select("local_access_restriction_type[]",
                      [["", ""]] + JSONModel.enum_values('restriction_type').map {|value| [t("enumerations.restriction_type.#{value}"), value] },
                      :default => form['local_access_restriction_type'])
          %>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNCont3" class="form-group">
      <% content = begin archival_object["notes"][2]["jsonmodel_type"] == "note_multipart" ? archival_object["notes"][2]["subnotes"][0]['content'] : archival_object["notes"][2]["content"][0] rescue "" end %>

      <% form.push(form.set_index("notes[]", 2), begin archival_object["notes"][2] || {} rescue {} end) do %>
        <% form.push(form.set_index("content[]", 0), begin content || "" rescue "" end) do %>
          <%= form.textfield nil, form.obj %>
        <% end %>
        <% form.push("content", begin archival_object["content"] || [] rescue [] end) do %>
          <span id="<%= form.id_for(nil) %>"></span>
        <% end %>
        <% form.push(form.set_index("subnotes[]", 0), []) do %>
          <span id="<%= form.id_for("content") %>"></span>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNPub3" class="form-group">
      <% form.push(form.set_index("notes[]", 2), begin archival_object["notes"][2] || {} rescue {} end) do %>
        <%= form.checkbox "publish", {}, false %>
      <% end %>
    </td>
    <td data-col="actions" class="form-group px-1">
      <% if !first_row %><div class="btn-group"><% end %>
      <button class="btn btn-success add-row"><span class="glyphicon glyphicon-plus icon-white"></span></button>
      <% if !first_row %><button class="btn remove-row btn-default"><span class="glyphicon glyphicon-remove"></span></button></div><% end %>
    </td>
  </tr>
<% end %>
