<% define_template "rde_row", jsonmodel_definition(:archival_object) do |form| %>
  <tr>
    <td><%= form.select "level", form.possible_options_for("level", true) %></td>
    <td><%= form.checkbox "publish", {}, form.default_for("publish") %></td>
    <td><%= form.textfield "title" %></td>
    <td>
      <%= form.fields_for({}, "dates[0]") do |date| %>
        <%= form.select "date_type", jsonmodel_definition(:date).options_for(form, "date_type", true) %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "dates[0]") do |date| %>
        <%= form.textfield "expression" %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "dates[0]") do |date| %>
        <%= form.textfield "begin" %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "dates[0]") do |date| %>
        <%= form.textfield "end" %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "instances[0]") do |instance| %>
        <%= form.select "instance_type", jsonmodel_definition(:instance).options_for(form, 'instance_type', true).reject{|option_arr| option_arr[1] === 'digital_object'} %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "instances[0][container]") do |container| %>
        <%= form.select "type_1", jsonmodel_definition(:container).options_for(form, 'type_1', true) %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "instances[0][container]") do |container| %>
        <%= form.textfield "indicator_1" %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "instances[0][container]") do |container| %>
        <%= form.select "type_2", jsonmodel_definition(:container).options_for(form, 'type_2', true) %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "instances[0][container]") do |container| %>
        <%= form.textfield "indicator_2" %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "instances[0][container]") do |container| %>
        <%= form.select "type_3", jsonmodel_definition(:container).options_for(form, 'type_3', true) %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "instances[0][container]") do |container| %>
        <%= form.textfield "indicator_3" %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "instances[0][container]") do |container| %>
        <%= form.textfield "barcode_1" %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "notes[0]") do |note| %>
        <%= form.select("type", ["",""].concat(note_types_for(:note_singlepart).map {|value, hash| [hash[:i18n], value]})) %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "notes[0]") do |note| %>
        <%= form.textfield "content[0]" %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "notes[1]") do |note| %>
        <%= form.select("type", ["",""].concat(note_types_for(:note_singlepart).map {|value, hash| [hash[:i18n], value]})) %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "notes[1]") do |note| %>
        <%= form.textfield "content[0]" %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "notes[2]") do |note| %>
        <%= form.select("type", ["",""].concat(note_types_for(:note_singlepart).map {|value, hash| [hash[:i18n], value]})) %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "notes[2]") do |note| %>
        <%= form.textfield "content[0]" %>
      <% end %>
    </td>
    <td>
      <%= form.fields_for({}, "notes[0]") do |note| %>
        <%= form.hidden_input "jsonmodel_type", "note_singlepart" %>
      <% end %>
      <%= form.fields_for({}, "notes[1]") do |note| %>
        <%= form.hidden_input "jsonmodel_type", "note_singlepart" %>
      <% end %>
      <%= form.fields_for({}, "notes[2]") do |note| %>
        <%= form.hidden_input "jsonmodel_type", "note_singlepart" %>
      <% end %>
      <div class="btn-group">
        <button class="btn btn-success add-row"><span class="icon-plus icon-white"></span></button>
        <button class="btn btn-danger remove-row"><span class="icon-remove icon-white"></span></button>
      </div>
    </td>
  </tr>
<% end %>

<div class="rde-wrapper">
  <div class="modal-body">
    <%= form_for @archival_object_children, :as => :archival_object_children, :url => {:controller => @parent.jsonmodel_type.pluralize, :action => :add_children, :id => @parent.id}, :html => {:class => 'form-horizontal', :id => 'rde_form'} do |f| %>
      <%= form_context :archival_object_children, @archival_object_children do |form| %>

        <%= render :partial => "shared/form_messages", :locals => {:form => form} %>

        <table class="table table-striped table-bordered table-condensed">
          <thead>
          <tr>
            <th><%= I18n.t("archival_object.level") %></th>
            <th><%= I18n.t("archival_object.publish") %></th>
            <th><%= I18n.t("archival_object.title") %></th>
            <th><%= I18n.t("rde.date_type") %></th>
            <th><%= I18n.t("date.expression") %></th>
            <th><%= I18n.t("date.begin") %></th>
            <th><%= I18n.t("date.end") %></th>
            <th><%= I18n.t("rde.instance_type") %></th>
            <th><%= I18n.t("container.type_1") %></th>
            <th><%= I18n.t("container.indicator_1") %></th>
            <th><%= I18n.t("container.type_2") %></th>
            <th><%= I18n.t("container.indicator_2") %></th>
            <th><%= I18n.t("container.type_3") %></th>
            <th><%= I18n.t("container.indicator_3") %></th>
            <th><%= I18n.t("container.barcode_1") %></th>
            <th><%= I18n.t("note._singular") %></th>
            <th><%= I18n.t("note_attributes.content") %></th>
            <th><%= I18n.t("note._singular") %></th>
            <th><%= I18n.t("note_attributes.content") %></th>
            <th><%= I18n.t("note._singular") %></th>
            <th><%= I18n.t("note_attributes.content") %></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <% if @archival_object_children.children.length > 0 %>
            <% @archival_object_children.children.each_with_index do |child, idx|
                form.push(form.set_index("children[]", idx), child) do %>
                  <%= form.emit_template("rde_row", child) %>
              <% end
            end %>
            <% end %>
          </tbody>
        </table>
        <button class="btn btn-small btn-success add-row">Add Row</button>
      <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button id="saveChangesButton" class="btn btn-primary">Add Children</button>
    <button class="btn btn-cancel" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
  </div>
</div>