<div class="row-fluid">
  <div class="span3">
    <%= render :partial => "sidebar" %>
  </div>
  <div class="span9 record-pane">
    <div class="btn-group" style="float: right">
       <% if @resource_id %>
          <% if user_can?('update_repository') %>
            <%= link_to "Edit", {:controller => :resources, :action => :edit, :id => @resource_id, :anchor => "archival_object_#{@archival_object.id}"}, :class => "btn btn-small" %>
          <% end %>
       <% end %>
    </div>

    <h2><%= @archival_object.title %> <span class="label label-info">Archival Object</span></h2>
    <section id="basic_information">
      <h3>Basic Information</h3>
      <%= render :partial => "archival_objects/display/basic_information" %>
    </section>

    <% if @archival_object.extents.length > 0 %>
      <%= render :partial => "extent/show", :locals => { :extents => @archival_object.extents } %>
    <% end %>

    <% if @archival_object.dates.length > 0 %>
      <%= render :partial => "dates/show", :locals => { :dates => @archival_object.dates } %>
    <% end %>

    <% if @archival_object.external_documents.length > 0 %>
      <%= render :partial => "external_documents/show", :locals => { :external_documents => @archival_object.external_documents } %>
    <% end %>

  </div>
</div>
