<div class="d-flex">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <% define_template "archival_object", jsonmodel_definition(:archival_object) do |readonly, archival_object| %>
        <h2><%= clean_mixed_content(archival_object.display_string) %> <span class="label label-info badge"><%= t("archival_object._singular") %></span></h2>
        <%= render_aspace_partial :partial => "shared/flash_messages" %>
        <section id="basic_information">
          <h3><%= t("archival_object._frontend.section.basic_information") %></h3>

          <%= render_plugin_partials("top_of_basic_information_archival_object",
                                     :form => readonly,
                                     :record => @archival_object) %>

          <%= readonly.label_and_textarea "title" , :field_opts => { :clean => true, :escape => false } %>
          <%= readonly.label_with_field "ref_id", "<div class='identifier-display'><div class='identifier-display-part'>#{readonly["ref_id"]}</div></div>" %>
          <%= readonly.label_and_textfield "component_id" %>

          <%= render_aspace_partial :partial => "shared/public_url", :locals => {:form_object => readonly} if AppConfig[:use_human_readable_urls] %>
          <%= readonly.label_and_select "level", readonly.possible_options_for("level", true) %>
          <%= readonly.label_and_textfield "other_level" %>
          <%= readonly.label_and_boolean "publish" %>
          <%= readonly.label_and_boolean "has_unpublished_ancestor" %>
          <%= readonly.label_and_boolean "restrictions_apply" %>
          <%= readonly.label_and_textarea "repository_processing_note" %>

          <%= render_plugin_partials("basic_information_archival_object",
                                     :form => readonly,
                                     :record => @archival_object) %>

          <%= display_audit_info(@archival_object) %>
        </section>

        <% if archival_object.lang_materials.length > 0 %>
          <%= render_aspace_partial :partial => "lang_materials/show", :locals => { :lang_materials => archival_object.lang_materials, :section_id => "archival_object_lang_materials_" } %>
        <% end %>

        <% if archival_object.dates.length > 0 %>
          <%= render_aspace_partial :partial => "dates/show", :locals => { :dates => archival_object.dates, :section_id => "archival_object_dates_" } %>
        <% end %>

        <% if archival_object.extents.length > 0 %>
          <%= render_aspace_partial :partial => "extents/show", :locals => { :extents => archival_object.extents, :section_id => "archival_object_extents_" } %>
        <% end %>

        <% if archival_object.linked_agents.length > 0 %>
          <%= render_aspace_partial :partial => "linked_agents/show", :locals => { :linked_agents => archival_object.linked_agents, :section_id => "archival_object_linked_agents_" } %>
        <% end %>

        <% if archival_object.accession_links.length > 0 %>
            <%= render_aspace_partial :partial => "accession_links/show", :locals => { :accession_links => archival_object.accession_links, :section_id => "archival_object_accession_links_" } %>
        <% end %>

        <% if not archival_object.subjects.blank? %>
          <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => archival_object.subjects, :section_id => "archival_object_subjects_"} %>
        <% end %>

        <% if archival_object.notes.length > 0 %>
          <%= render_aspace_partial :partial => "notes/show", :locals => { :notes => archival_object.notes, :context => readonly } %>
        <% end %>

        <% if archival_object.external_documents.length > 0 %>
          <%= render_aspace_partial :partial => "external_documents/show", :locals => { :external_documents => archival_object.external_documents, :section_id => "archival_object_external_documents_" } %>
        <% end %>

        <% if archival_object.rights_statements.length > 0 %>
          <%= render_aspace_partial :partial => "rights_statements/show", :locals => { :rights_statements => archival_object.rights_statements, :section_id => "archival_object_rights_statements_" } %>
        <% end %>

        <% if archival_object.instances.length > 0 %>
          <%= render_aspace_partial :partial => "instances/show", :locals => { :instances => archival_object.instances, :section_id => "archival_object_instances_"  } %>
        <% end %>

        <%= render_aspace_partial :partial => "linked_events/show", :locals => { :linked_events => archival_object.linked_events, :context => readonly, :section_id => "archival_object_linked_events_" } %>

        <% if archival_object.external_ids.length > 0 && show_external_ids? %>
          <%= render_aspace_partial :partial => "external_ids/show", :locals => { :external_ids => archival_object.external_ids, :context => readonly, :section_id => "archival_object_external_ids_" } %>
        <% end %>

        <%= render_aspace_partial :partial => "assessments/embedded", :locals => { :record => archival_object, :filter_term => {"assessment_record_uris" => archival_object.uri}.to_json, :heading_text => t("assessment._frontend.linked_records.linked_via_assessment_records")} %>

        <%= show_plugins_for(@archival_object, readonly) %>
      <% end %>

      <%= readonly_context :archival_object, @archival_object do |readonly| %>
        <% readonly.emit_template("archival_object", @archival_object) %>
      <% end %>
    </div>
  </div>
</div>
