<h2><%= @archival_object.title %> <span class="label label-info">Archival Object</span></h2>

<div class="row-fluid label-and-value">
   <div class="span3">Identifier</div>
   <div class="span9"><%= @archival_object.id_0 %> <%= @archival_object.id_1 %> <%= @archival_object.id_2 %> <%= @archival_object.id_3 %></div>
</div>
