<%= render :partial=>"shared/breadcrumb", :locals=>{:trail=>[link_to("Browse Archival Objects", :controller=>:archival_objects, :action=>:index), "New Archival Object"]} %>
<div class="row-fluid">
   <div class="span3">
      <div class="well archives-tree-container">
      <% if @collection_tree %>
         <%= render :partial=>"collections/hierarchy", :locals=>{:selected=>@archival_object.id} %>
      <% else %>
         <p>Collection for Archival Object not specified.</p>
      <% end %>
      </div>
   </div>
   <div class="span9">
      <div class="btn-group" style="float: right">
        <% if @collection_tree %>
           <%= link_to "Edit", {:controller=>:archival_objects, :action=>:edit, :id=>@archival_object.id, :collection_id=>@collection_tree["collection_id"]}, :class=>"btn btn-small" %>
        <% end %>
        <a href="#" class="btn btn-small">Delete</a>
      </div>
      <h2><%= @archival_object.title %> <span class="label label-info">Archival Object</span></h2>
      
      <div class="row-fluid label-and-value">
         <div class="span3">Identifier</div>
         <div class="span9"><%= @archival_object.id_0 %> <%= @archival_object.id_1 %> <%= @archival_object.id_2 %> <%= @archival_object.id_3 %></div>
      </div>
   </div>
</div>