<div id="">
  <ul class="nav nav-list as-nav-list" data-spy="affix">
    <li><a href="#summary"><%= I18n.t("#{record_type}._public.section.summary") %> <span class="icon-chevron-right"></span></a></li>

    <% entries.each do |entry| %>
      <% if entry[:property] %>
        <% unless record[entry[:property]].blank? %>
          <li>
            <a href="#<%= entry[:anchor] %>">
              <%= I18n.t("#{entry[:subrecord_type]}._plural") %>
              <span class="badge badge-info">
                <%= record[entry[:property]].length
                %></span><span class="icon-chevron-right"></span>
            </a>
          </li>
        <% end %>
      <% else %>
        <li>
          <a href="#<%= entry[:anchor] %>">
            <%= entry[:label] %>
            <span class="icon-chevron-right"></span>
          </a>
        </li>
      <% end %>
    <% end %>

    <% if record_type == "resource" %>
      <% AppConfig[:public_formats_resource_links].each do |type| %>
        <li><%= link_to I18n.t("plugins.public_formats.#{type}"), "#{request.path}/format/#{type}" %></li>  
      <% end  %>
    <% elsif record_type == "digital_object" %>
      <% AppConfig[:public_formats_digital_object_links].each do |type| %>
        <li><%= link_to I18n.t("plugins.public_formats.#{type}"), "#{request.path}/format/#{type}" %></li>  
      <% end  %>
    <% end  %>
  </ul>
</div>

<script>
  var RECORD_URI = "<%= record.uri %>";
</script>

