<%
   section_id = "agent_record_identifiers" if section_id.blank?
   section_title = "Record IDs" if section_title.blank?
%>

<section id="<%= section_id %>">
  <h3><%= section_title %></h3>
  <div class="details my-3" id="<%= section_id %>_accordion">
    <% agent_record_identifiers.each_with_index do | agent_record_identifier, index | %>
      <div class="card mb-3">
        <div class="card-header panel-heading">
          <div class="row accordion-toggle collapsed" data-toggle="collapse" data-parent="#<%= section_id %>_accordion" href="#<%= section_id %>_agent_record_identifier_<%= index %>">
            <div class="col-md-1">
              <span class="glyphicon"></span>
            </div>
            <div class="col-md-6">
              <%= agent_record_identifier["record_identifier"] %>

              <% if agent_record_identifier['primary_identifier'] %><span class="badge"><%= t("agent_record_identifier.primary") %></span><% end %>
            </div>
          </div>
        </div>
        <div id="<%= section_id %>_agent_record_identifier_<%= index %>" class="panel-collapse collapse">
          <%= read_only_view(agent_record_identifier) %>
        </div>
      </div>
    <% end %>
  </div>
</section>
