<% define_template "agent_record_identifiers", jsonmodel_definition(:agent_record_identifier) do |form| %>
  <div class="subrecord-form-fields agent_record_identifier_form">
    <h3 class="subrecord-form-heading">
      <span class="badge badge-pill badge-primary fs-14px is-primary-label"><%= t("agent_record_identifiers.is_primary") %></span>
      <%= form.button_with_tooltip(t("name._frontend.action.make_primary_tooltip"), t("name._frontend.action.make_primary"), [], ["btn","btn-sm", "btn-default", "btn-primary-id-toggle", "m-2"]) %>
      <%= form.hidden_input "primary_identifier", form["primary_identifier"] ? 1 : 0 %>
    </h3>

    <div class="agent-record-control-container">
      <%= form.label_and_textfield "record_identifier",  {:field_opts => {:size => 30, :class => "form-control"} }%>
      <%= form.label_and_select "source", [""] + form.possible_options_for("source", false) %>
      <%= form.label_and_select "identifier_type",
          [""] + form.possible_options_for("identifier_type", false) %>
    </div>
  </div>
<% end %>

<% define_template "agent_record_identifier_merge_destination", jsonmodel_definition(:agent_record_identifier) do |form| %>

  <%= form.record_level_merge_controls(form, "agent_record_identifier", false) %>

  <% if form.obj['primary_identifier'] %><span class="badge"><%= t("agent_record_identifier.primary") %></span><% end %>

  <% field_names = ["record_identifier", "source", "identifier_type"] %>
  <% field_names.each do |field_name| %>
    <%= form.label_and_readonly field_name %>
  <% end %>
<% end %>

<% define_template "agent_record_identifier_merge_candidate", jsonmodel_definition(:agent_record_identifier) do |form| %>

  <% disable_replace = false %>

  <%= form.record_level_merge_controls(form, "agent_record_identifier", true, !disable_replace) %>

  <% if form.obj['primary_identifier'] %><span class="badge"><%= t("agent_record_identifier.primary") %></span><% end %>

  <%= form.label_and_readonly "record_identifier" %>
  <%= form.label_and_readonly "source" %>
  <%= form.label_and_readonly "identifier_type" %>

  <%= form.hidden_input "id", form.obj["id"] %>

<% end %>
