<div id="main-content" class="row">
  <div class="row" id="info_row">
    <div class="information col-sm-7">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    </div>
      <div class="page_actions col-sm-5 right">
    <%= render partial: 'shared/page_actions', locals: {:title =>  strip_mixed_content(@result['json']['display_string'] || @result['title']), :url => request.fullpath, :cite => @cite } %>
  </div>
</div>
<div class="row">
     <%= render partial: 'shared/breadcrumbs' %>
</div>

<div class="row" id="notes_row">
  <div class="col-sm-9">
    <% comp_id = @result['json']['_composite_identifier'] || @result['json']['component_id'] %>
       
    <% unless comp_id.blank? %>
      <span class='component'><%=  t('archival_object._public.header.component') %>: <%= comp_id %></span>
    <% end %>
    <% if  comp_id.blank? && !@result['json']['ref_id'].blank? %>
      <span class='ref_id'>[<%=  t('archival_object._public.header.ref_id') %>: <%= @result['json']['ref_id'] %>]</span>
    <% end %>
    <%= render partial: 'shared/digital', locals: {:dig => @dig} %>

    <%= render partial: 'shared/record_innards' %>

  </div>
    <% if !@tree['direct_children'].blank? %>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">

    <h4><%= t('cont_arr') %></h4>
    <%= render partial: 'shared/children_tree', locals: {:tree => @tree} %>

  </div>
  <% else %>
  <div class="col-sm-3">&nbsp;</div>
    <% end %>
</div>
<%= render partial: 'shared/modal_actions' %>
