<div id="main-content" class="row">
  <div class="row" id="info_row">
    <div class="information col-sm-7">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    </div>
      <div class="page_actions col-sm-5 right">
    <%= render partial: 'shared/page_actions', locals: {:title =>  strip_mixed_content(@result['json']['display_string'] || @result['title']), :url => request.fullpath } %>
  </div>
</div>
<div class="row">
     <%= render partial: 'shared/breadcrumbs' %>
</div>

<div class="row" id="tabs">
  <div class="col-sm-9 text-center tabbing navbar navbar-default">
    <ul class="tabbing nav nav-pills">
      <li><a class="active" href="#"><%= t('actions.record_details') %></a></li><li>
      <a  href="javascript:alert('this does what?');"><%= t('actions.hierarch') %></a></li><li>
<a href="javascript:alert('Is this for the container stuff?');"><%= t('actions.numeric') %></a></li>
    </ul>
  </div>
</div>

<div class="row" id="notes_row">
  <div class="col-sm-9">


  <% if !@result['json']['component_id'].blank? %>
    <span class='component'><%=  t('archival_object._public.header.component') %>: <%= @result['json']['component_id'] %></span>
    <% end %>
    <% if !@result['json']['ref_id'].blank? %>
    <span class='ref_id'>[Ref. ID: <%= @result['json']['ref_id'] %>]</span>
    <% end %>
<br/>
    <% if !@result['json']['extents'].blank? %>
    <h4><%= t('enumerations._note_types.extent') %></h4>
    <%   @result['json']['extents'].each do |ext| %>
    <p class="extent"><%= ext['number'] %> <%= ext['extent_type'] %></p>
    <% end %>
    <% end %>

    <% if !@result['json']['dates'].blank? %>
    <h4><%= t('archival_object._public.header.dates') %></h4>
    <%   @result['json']['dates'].each do |date|  %>
    <p class="dates"><%= (!date['label'].blank? ? "#{date['label'].titlecase}: " : '') %><%= date['expression'] %></span>
    <% end %>
    <br/>
    <% end %>


    <%= render partial: 'shared/display_notes' %>

    <% if !@result['json']['digital_object_id'].blank? %>
    <p> Assume link-out if there's a digital object id?</p>
    <a href="<%= @result['json']['digital_object_id'] %>" target="out" title="see this"><%= process_mixed_content( @result['json']['title']).html_safe %></a>
    <% end %>
    <% if !@result['json']['file_versions'].blank? && @result['json']['file_versions'].kind_of?(Array) %>
    <h4>Just a place holder for now for file versions!</h4>
    <ul>
    <% @result['json']['file_versions'].each do |version| %>
     <li>
       <% if version['xlink_show_attribute'] == "embed" %>
          <img src="<%= version['file_uri'] %>" title="you should see something here!" />
       <% else %>
          <a href="<%= version['file_uri'] %>" target="elsewhere" title="this should be a link">Link out</a>
       <% end %>
     </li>
     <% end %>
     </ul>
   <% end %>
  </div>
    <% if !@tree['direct_children'].blank? %>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">

    <h4><%= t('cont_arr') %></h4>
    <%= render partial: 'shared/children_tree', locals: {:tree => @tree} %>

  </div>
  <% else %>
  <div class="col-sm-3"></div>
    <% end %>
</div>
