<div id="main-content" class="row">

  <div class="information col-sm-12">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    <%= render partial: 'shared/breadcrumbs' %>
  </div>
  <div class="col-sm-9">

<br/>
    <% if !@result['json']['extents'].blank? %>
    <%   @result['json']['extents'].each do |ext| %>
    <span class="extent"><%= ext['number'] %> <%= ext['extent_type'] %></span>
    <% end %>
    <br/>
    <% end %>
    <% if !@result['json']['component_id'].blank? %>
    <span class='component'>Component: <%= @result['json']['component_id'] %></span>
    <% end %>
    <% if !@result['json']['ref_id'].blank? %>
    <span class='ref_id'>[Ref. ID: <%= @result['json']['ref_id'] %>]</span>
    <% end %>


  </div>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
    <h3>Contents &amp; Arrangements</h3>
    <%= render partial: 'shared/children_tree', locals: {:tree => @tree} %>
  </div>
</div>
