<div class="btn-group pull-right custom-action">
  <button class="btn btn-small  dropdown-toggle" data-toggle="dropdown"><%= I18n.t("actions.add") %> <%= I18n.t("instance._html.singular") %> <span class="caret"></span></button>
  <ul class="dropdown-menu subrecord-selector">
    <li>
      <select>
        <% JSONModel.enum_values(JSONModel(:instance).schema["properties"]["instance_type"]["dynamic_enum"]).each do | value | %>
          <option value="<%= value %>"><%= I18n.t("enumerations.instance_instance_type.#{value}", :default => value) %></option>
        <% end %>
      </select>
    </li>
    <li class="form-actions">
      <button class="btn btn-small"><%= I18n.t("actions.add") %> <%= I18n.t("instance._html.singular") %></button>
    </li>
  </ul>
</div>
