<%= render :partial => "container/template" %>

<% define_template "instance_container", jsonmodel_definition(:instance) do |form| %>
  <div class="subrecord-form-fields">
    <div class="subrecord-form-container">
      <%= form.label_and_select "instance_type", form.possible_options_for('instance_type', true).reject{|option_arr| option_arr[1] === 'digital_object'} %>
      <%= form.fields_for(form["container"] || {}, "container") do |item| %>
        <% form.emit_template("container", item) %>
      <% end %>
    </div>
  </div>
<% end %>

<% define_template "instance_digital_object", jsonmodel_definition(:instance) do |form| %>
  <div class="subrecord-form-fields">
    <div class="subrecord-form-container">
      <%= form.hidden_input "instance_type", "digital_object" %>
      <%= form.fields_for(form["digital_object"] || {}, "digital_object") do |item| %>
        <%= render :partial => "digital_objects/linker", :locals => {:form => form} %>
      <% end %>
    </div>
  </div>
<% end %>


<% define_template "instance_empty" do |form| %>
  <div class="alert alert-warning"><%= I18n.t("instance._frontend.messages.select_a_type")%></div>
<% end %>


<% define_template "instance", jsonmodel_definition(:instance) do |form| %>
  <% if form["container"] %>
    <% form.emit_template("instance_container") %>
  <% elsif form["instance_type"] === "digital_object" %>
    <% form.emit_template("instance_digital_object") %>
  <% else %>
    <% form.emit_template("instance_empty") %>
  <% end %>
<% end %>
