<%= render_aspace_partial :partial => "sub_containers/template" %>

<div id="template_instance_summary"><!--
  <div class="subrecord-summary-title">
    {if instance_type != ""}${instance_type}{else}____{/if}
  </div>
--></div>

<% define_template "instance_container", jsonmodel_definition(:instance) do |form| %>
  <div class="subrecord-form-fields">
    <div class="subrecord-form-container">
      <input type="hidden" id="__dummy___instance_type____" value="digital_object"/>
      <%= form.label_and_select "instance_type", form.possible_options_for('instance_type', true).reject{|option_arr| option_arr[1] === 'digital_object'} %>
      <section id="<%= form.id_for("container") %>">
        <%= form.fields_for(form["sub_container"] || {}, "sub_container") do |item| %>
          <% form.emit_template("sub_container", item) %>
        <% end %>
      </section>
    </div>
  </div>
<% end %>

<% define_template "instance_digital_object", jsonmodel_definition(:instance) do |form| %>
  <div class="subrecord-form-fields">
    <h3 class="subrecord-form-heading">
      <button type="button" class="badge badge-pill badge-primary fs-14px is-representative-label"><%= t("file_version.is_representative") %></button>
      <button type="button" class="btn btn-sm btn-default is-representative-toggle"><%= t("file_version._frontend.action.make_representative") %></button>
    </h3>
    <div class="subrecord-form-container">
      <%= form.hidden_input "instance_type", "digital_object" %>
      <%= form.hidden_input "is_representative", form["is_representative"] ? 1 : 0 %>
      <%= form.fields_for(form["digital_object"] || {}, "digital_object") do |item| %>
        <%= render_aspace_partial :partial => "digital_objects/linker", :locals => {:form => form} %>
      <% end %>
    </div>
  </div>
<% end %>


<% define_template "instance_empty" do |form| %>
  <div class="alert alert-warning"><%= t("instance._frontend.messages.select_a_type")%></div>
<% end %>


<% define_template "instance", jsonmodel_definition(:instance) do |form| %>
  <% if form["sub_container"] %>
    <% form.emit_template("instance_container") %>
  <% elsif form["instance_type"] === "digital_object" %>
    <% form.emit_template("instance_digital_object") %>
  <% else %>
    <% form.emit_template("instance_empty") %>
  <% end %>
<% end %>
