<% if @search_data['results'].length > 0 %>
  <div class="subrecord-form-fields">
    <% @search_data['results'].each do |result| %>
      <%
         record_title = result["record"]["_resolved"]["title"]
         if "event" == result["record"]["_resolved"]["jsonmodel_type"]
           record_title = "#{t("event._singular")}: #{t("enumerations.event_event_type.#{result["record"]["_resolved"]["event_type"]}")}"
         elsif "collection_management" == result["record"]["_resolved"]["jsonmodel_type"]
           record_title = "#{t("collection_management._singular")}"
         end
      %>
      <div>
        <span class="asicon icon-<%= result["record"]["_resolved"]["jsonmodel_type"] %>"
              title="<%= t("#{result["record"]["_resolved"]["jsonmodel_type"]}._singular") %>">
        </span>
        <%# ANW-1519, ANW-2206: Skip checking owner repo for global records (agents, subjects, locations) %>
        <% if is_global_record?(result["record"]["_resolved"]["jsonmodel_type"]) %>
          <%= resolve_readonly_link_to record_title, result["record"]["ref"] %>
        <% else %>
          <% if result["record"]["ref"].include?(current_repo.uri) %>
            <%= resolve_readonly_link_to record_title, result["record"]["ref"] %>
          <% else %>
            <%= resolve_readonly_link_to "#{record_title} (#{result["record"]["ref"]})", result["record"]["ref"], false %>
            <span class="badge badge-warning">
             <%= t("job._frontend.external_repo") %>
            </span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render_aspace_partial :partial => "shared/pagination" %>
<% end %>
