<ul style="padding-left: 20px;">
	<% (record['job_data'] || []).each_with_index do |data, i| %>
		<li>
			<% if (record['files'] || [])[i] %>
				<%
					type, filename = data.split(' --- ', 2)
					url   = AppConfig[:frontend_proxy_url]
					path  = record['files'][i]
					ext   = File.extname(filename)
					param = ext.blank? ? nil : "?ext=#{ext}"
					link  = param ? URI.join(url, path, param) : URI.join(url, path)
				%>
				<%= t("job.#{type}") %>: <a href="<%= link.to_s %>"><%= filename %></a>
			<% else %>
				<% param, value = data.split(' --- ', 2) %>
				<%= t("#{record['job_type']}.#{param}") %>:
				<%= value =~ /repositories\/\d+\/resources\/\d+/ ? link_to(
					value, link_for_resource(value)
				) : value %>
			<% end %>
		</li>
	<% end %>
</ul>
