<ul style="padding-left: 20px;">
	<% (record['job_data'] || []).each_with_index do |data, i| %>
		<li>
			<% if (record['files'] || [])[i] %>
				<% type, filename = data.split(' --- ', 2) %>
				<%= I18n.t("job.#{type}") %>: <a href="<%= AppConfig[:frontend_proxy_url] + record['files'][i] %>"><%= filename %></a>
			<% else %>
				<% param, value = data.split(' --- ', 2) %>
				<%= I18n.t("#{record['job_type']}.#{param}") %>: <%= value %>
			<% end %>
		</li>
	<% end %>
</ul>
