<% define_template "job_status", jsonmodel_definition(:job) do |form, job| %>
  <section id="job_status" data-poll-url="<%= url_for(:controller => :jobs, :action => :status, :id => job.id) %>" data-current-status="<%= @job.status %>">
    <h3><%= I18n.t("job._frontend.section.status") %></h3>

    <div class="job-status control-group">
      <label class="control-label"><%= I18n.t("job.status") %></label>
      <div class="controls label-only">
        <%= I18n.t("job.status_#{job.status}", :default => job.status) %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label"><%= I18n.t("job.time_submitted") %></label>
      <div class="controls label-only"><%= Time.parse(job.time_submitted).getlocal %></div>
    </div>
    <% if job.time_started %>
      <div class="control-group">
        <label class="control-label"><%= I18n.t("job.time_started") %></label>
        <div class="controls label-only"><%= Time.parse(job.time_started).getlocal %></div>
      </div>
    <% end %>
    <% if job.time_finished %>
      <div class="control-group">
        <label class="control-label"><%= I18n.t("job.time_finished") %></label>
        <div class="controls label-only"><%= Time.parse(job.time_finished).getlocal %></div>
      </div>
    <% end %>
  </section>
<% end %>


<% define_template "job", jsonmodel_definition(:job) do |form, job| %>
  <section id="basic_information">
    <h3><%= I18n.t("job._frontend.section.basic_information") %></h3>

    <%= form.label_and_select "import_type", form.possible_options_for("import_type", true) %>

    <div class="control-group">
      <label class="control-label"><%= I18n.t("job.filenames") %></label>
      <div class="controls label-only"><%= job.filenames.join("<br/>").html_safe %></div>
    </div>

    <div class="control-group">
      <label class="control-label"><%= I18n.t("repository._singular") %></label>
      <div class="controls label-only"><%= resolve_readonly_link_to job.repository['_resolved']['repo_code'], job.repository['ref'] %></div>
    </div>

    <div class="control-group">
      <label class="control-label"><%= I18n.t("job.owner") %></label>
      <div class="controls label-only"><%= job.owner %></div>
    </div>

    <%= display_audit_info(@job) %>
  </section>
<% end %>

<div id="template_job_running_notice"><!--
  <div class="alert alert-info">
    <p>The import job has started running.</p>
    <button class="btn btn-primary btn-refresh">Refresh Page</button>
  </div>
--></div>

<div id="template_job_completed_notice"><!--
  <div class="alert alert-success">
    <p>The import job has completed.</p>
    <button class="btn btn-success btn-refresh">Refresh Page</button>
  </div>
--></div>

<div id="template_job_failed_notice"><!--
  <div class="alert alert-error">
    <p>The import job has failed.</p>
    <button class="btn btn-danger btn-refresh">Refresh Page</button>
  </div>
--></div>

<div id="template_job_completed_notice"><!--
  <div class="alert alert-error">
    <p>The import job has been canceled.</p>
    <button class="btn btn-danger btn-refresh">Refresh Page</button>
  </div>
--></div>