<%= setup_context(:title => I18n.t("job._plural")) %>

<div class="row-fluid">
  <div class="span3">
    Filter?
  </div>
  <div class="span9">
    <div class="row-fluid">
      <div class="span12">
        <div class="record-toolbar">
          <div class="pull-right">
            <%= link_to I18n.t("job._frontend.actions.create"), {:controller => :jobs, :action => :new}, :class => "btn btn-small" %>
          </div>
        </div>
      </div>
    </div>

    <div class="record-pane">
      <h2><%= I18n.t("job._plural") %></h2>

      <%= render :partial => "shared/flash_messages" %>

      <% if @search_data['results'].length %>
        <table id="tabledSearchResults" class="table table-bordered table-condensed table-search-results">
          <thead>
            <tr>
              <!-- <th>Repo</th> -->
              <th>Import Type</th>
              <th>Filename(s)</th>
              <th>Status</th>
              <th>Audit Data</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @search_data['results'].each do |job| %>
            <tr class="<%= job.status %>">
              <!-- <td><%= job.repository["_resolved"]["repo_code"] %></td> -->
              <td><%= job.import_type %></td>
              <td><%= job.filenames.join("<br/>").html_safe %></td>
              <td><%= job.status %></td>
              <td>
                <small>
                  <dl>
                    <dt>Submitted By</dt><dd><%= job.owner %></dd>
                    <dt>Time Submitted</dt><dd><%= Time.parse(job.time_submitted).getlocal %></dd>
                    <% if job.time_started %><dt>Time Started</dt><dd><%= Time.parse(job.time_started).getlocal %></dd><% end %>
                    <% if job.time_finished %><dt>Time Finished</dt><dd><%= Time.parse(job.time_finished).getlocal %></dd><% end %>
                  </dl>
                </small>
              </td>
              <td>
                Actions Go Here
                <div class="btn-group" style="float: right">

                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= render :partial => "shared/pagination" %>
      <% else %>
        <p class="alert alert-info">
          No Import Jobs.
        </p>
      <% end %>
    </div>
  </div>
</div>
