<%= setup_context(:title => I18n.t("job._plural")) %>

<div class="row">
  <div class="col-md-12">
    <div class="record-toolbar">
      <div class="pull-right">
        <div class="btn-group">
          <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
            <%= I18n.t("job._frontend.actions.create") %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu open-aligned-right">
            <% job_types.each do |type| %>
              <li>
                <%= link_to I18n.t("job.types.#{type}"), :controller => :jobs, :action => :new, :job_type => type %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="record-pane">
      <h2><%= I18n.t("job._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <h3><%= I18n.t("job._frontend.section.active_jobs") %></h3>
      <% if @active_jobs.length > 0 %>
        <%= render_aspace_partial :partial => "jobs/listing", :locals => {:jobs => @active_jobs} %>
      <% else %>
        <p class="alert alert-info"><%= I18n.t("job._frontend.messages.no_active_jobs") %></p>
      <% end %>

      <h3><%= I18n.t("job._frontend.section.archived_jobs") %></h3>
      <% if @search_data['results'].length > 0 %>
        <%= render_aspace_partial :partial => "jobs/listing", :locals => {:jobs => @search_data['results']} %>
        <%= render_aspace_partial :partial => "shared/pagination" %>
      <% else %>
        <p class="alert alert-info">
          <%= I18n.t("job._frontend.messages.no_archived_jobs") %>
        </p>
      <% end %>
    </div>
  </div>
</div>
