<%= setup_context(:title => I18n.t("job._plural")) %>

<div class="row-fluid">
  <div class="span12">
    <div class="record-toolbar">
      <div class="pull-right">
        <%= link_to I18n.t("job._frontend.actions.create"), {:controller => :jobs, :action => :new}, :class => "btn btn-small" %>
      </div>
    </div>

    <div class="record-pane">
      <h2><%= I18n.t("job._plural") %></h2>

      <%= render :partial => "shared/flash_messages" %>

      <% if @search_data['results'].length %>
        <table id="tabledSearchResults" class="table table-bordered table-striped table-condensed table-search-results table-import-jobs">
          <thead>
            <tr>
              <th>Status</th>
              <!-- <th>Repo</th> -->
              <th>Import Type</th>
              <th class="filenames">Filename(s)</th>
              <th class="audit-info">Audit Data</th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
          <% @search_data['results'].each do |job| %>
            <tr class="<%= job.status %>">
              <td class="job-status">
                <span class="<%= badge_class_for_status(job.status) %>">
                  <%= I18n.t("job.status_#{job.status}", :default => job.status) %>
                </span>
              </td>
              <!-- <td><%= job.repository["_resolved"]["repo_code"] %></td> -->
              <td><%= I18n.t("job.import_type_#{job.import_type}", :default => job.import_type) %></td>
              <td><%= job.filenames.join("<br/>").html_safe %></td>
              <td>
                <small>
                  <dl>
                    <dt>Submitted By</dt><dd><%= job.owner %></dd>
                    <dt>Time Submitted</dt><dd><%= Time.parse(job.time_submitted).getlocal %></dd>
                    <% if job.time_started %><dt>Time Started</dt><dd><%= Time.parse(job.time_started).getlocal %></dd><% end %>
                    <% if job.time_finished %><dt>Time Finished</dt><dd><%= Time.parse(job.time_finished).getlocal %></dd><% end %>
                  </dl>
                </small>
              </td>
              <td>
                <div class="btn-group" style="float: right">
                  <%= link_to I18n.t("actions.view"), {:controller => :jobs, :action => :show, :id => job.id}, :class => "btn btn-mini" %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= render :partial => "shared/pagination" %>
      <% else %>
        <p class="alert alert-info">
          No Import Jobs.
        </p>
      <% end %>
    </div>
  </div>
</div>
