<%= setup_context(:title => I18n.t("job._plural")) %>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('create_job') %>
      <div class="record-toolbar">
 
        <div class="pull-right">
          <div class="btn-group">
            <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
              <%= I18n.t("job._frontend.actions.create") %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu open-aligned-right">
              <% job_types.each do |type, perms| %>
                <% next if type == 'generate_slugs_job' && !AppConfig[:use_human_readable_urls] %>
                <% next if type == 'generate_arks_job' && !AppConfig[:arks_enabled] %>
                <% if perms['create_permissions'].reject{|perm| user_can?(perm)}.empty? %>
                  <li>
                    <%= link_to I18n.t("job.types.#{type}", :default => type), :controller => :jobs, :action => :new, :job_type => type %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>

      </div>
    <% end %>
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("job._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
