<div class="subform rights-statement-fields">
  <a href="javascript:void(0)" class="btn btn-mini pull-right subform-remove"><span class='icon-remove'></span></a>
  <div class="rights-statement-container">
    <%= f.label_and_field :identifier %>
    <%= f.label_and_field :rights_type %>
    <%= f.label_and_field :materials %>
    <%= f.label_and_field :ip_status %>
    <%= f.label_and_field :ip_expiration_date %>
    <%= f.label_and_field :license_identifier_terms %>
    <%= f.label_and_field :statute_citation %>
    <%= f.label_and_field :jurisdiction %>
    <%= f.label_and_field :type_note %>
    <%= f.label_and_field :permissions %>
    <%= f.label_and_field :restrictions %>
    <%= f.label_and_field :restriction_start_date %>
    <%= f.label_and_field :restriction_end_date %>
    <%= f.label_and_field :granted_note %>
  </div>
</div>