<div class="subrecord-form-fields" data-allow-removal="true">
  <%= f.label_and_field :identifier %>
  <%= f.label_and_field :rights_type %>
  <%= f.label_and_field :materials %>
  <%= f.label_and_field :ip_status %>
  <%= f.label_and_field :ip_expiration_date %>
  <%= f.label_and_field :license_identifier_terms %>
  <%= f.label_and_field :statute_citation %>
  <%= f.label_and_field :jurisdiction %>
  <%= f.label_and_field :type_note %>
  <%= f.label_and_field :permissions %>
  <%= f.label_and_field :restrictions %>
  <%= f.label_and_field :restriction_start_date %>
  <%= f.label_and_field :restriction_end_date %>
  <%= f.label_and_field :granted_note %>

  <%= render :partial => "shared/subrecord_form", :locals => {:f => f, :object => f.current, :method => :external_documents, :section_id => "rights_statement_external_documents", :nested_template => "rights_statement_external_documents_form_template", :nested_multiple => true} %>
</div>