<%
   section_id = "rights_statements" if section_id.blank?
%>

<section id="<%= section_id %>">
  <h3><%= t("rights_statement._plural") %></h3>
  <div class="accordion details my-3" id="rights_statements_accordion">
    <% rights_statements.each_with_index do | rights_statement, index | %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row collapsed accordion-toggle" data-toggle="collapse" data-parent="#rights_statements_accordion" href="#rights_statement_<%= index %>">
            <div class="col-md-1">
              <span class="glyphicon"></span>
            </div>
            <div class="col-md-2">
              <%= t("enumerations.rights_statement_rights_type.#{rights_statement['rights_type']}", :default => rights_statement['rights_type']) %>
            </div>
            <div class="col-md-4">
              <% if rights_statement['status'] %>
                <%= t("enumerations.rights_statement_ip_status.#{rights_statement['status']}", :default => rights_statement['ip_status']) %>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= rights_statement['start_date'] %>
              <% if rights_statement['end_date'] %>
                - <%= rights_statement['end_date'] %>
              <% end %>
            </div>
          </div>
        </div>
        <div id="rights_statement_<%= index %>" class="accordion-body collapse">
          <%= read_only_view(rights_statement) %>
          <% if rights_statement['notes'].length > 0 %>
            <%= readonly_context :rights_statement, rights_statement do |readonly| %>
              <%= render_aspace_partial :partial => "notes/show", :locals => { :notes => rights_statement['notes'], :context => readonly, :section_id => "rights_statement_#{index}_notes" } %>
            <% end %>
          <% end %>
          <% if rights_statement['acts'].length > 0 %>
            <%= render_aspace_partial :partial => "rights_statement_acts/show", :locals => { :acts => rights_statement['acts'], :section_id => "rights_statement_#{index}_acts" } %>
          <% end %>
          <% if rights_statement["external_documents"].length > 0 %>
            <%= render_aspace_partial :partial => "external_documents/show", :locals => { :external_documents => rights_statement["external_documents"], :section_id => "rights_statement_#{index}_external_documents", :jsonmodel => :rights_statement_external_document } %>
          <% end %>
          <% if rights_statement['linked_agents'].length > 0 %>
            <%= render_aspace_partial :partial => "linked_agents/show", :locals => { :linked_agents => rights_statement['linked_agents'], :section_id => "rights_statement_#{index}_linked_agents" } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
