<% define_template "rights_type_intellectual_property", jsonmodel_definition(:rights_statement) do |form| %>
  <div class="inline-subform rights-type-subform" data-rights-type="intellectual_property">
    <%= form.label_and_textarea "materials" %>
    <%= form.label_and_select "ip_status", form.possible_options_for("ip_status") %>
    <%= form.label_and_date "ip_expiration_date" %>
    <%= form.label_and_select "jurisdiction",  form.possible_options_for("jurisdiction", true, :i18n_prefix => "enumerations.country_iso_3166."), {"required" => true} %>
    <%= form.label_and_textarea "type_note" %>
    <%= form.label_and_textarea "permissions" %>
    <%= form.label_and_textarea "restrictions" %>
    <%= form.label_and_date "restriction_start_date" %>
    <%= form.label_and_date "restriction_end_date" %>
    <%= form.label_and_textarea "granted_note" %>
  </div>
<% end %>

<% define_template "rights_type_license", jsonmodel_definition(:rights_statement) do |form| %>
  <div class="inline-subform rights-type-subform" data-rights-type="license">
    <%= form.label_and_textarea "materials" %>
    <%= form.label_and_textarea "license_identifier_terms", {"required" => true} %>
    <%= form.label_and_textarea "type_note" %>
    <%= form.label_and_textarea "permissions" %>
    <%= form.label_and_textarea "restrictions" %>
    <%= form.label_and_date "restriction_start_date" %>
    <%= form.label_and_date "restriction_end_date" %>
    <%= form.label_and_textarea "granted_note" %>
  </div>
<% end %>

<% define_template "rights_type_statute", jsonmodel_definition(:rights_statement) do |form| %>
  <div class="inline-subform rights-type-subform" data-rights-type="statute">
    <%= form.label_and_textarea "materials" %>
    <%= form.label_and_textarea "statute_citation", {"required" => true} %>
    <%= form.label_and_select "jurisdiction",  form.possible_options_for("jurisdiction", true, :i18n_prefix => "enumerations.country_iso_3166."), {"required" => true} %>
    <%= form.label_and_textarea "type_note" %>
    <%= form.label_and_textarea "permissions" %>
    <%= form.label_and_textarea "restrictions" %>
    <%= form.label_and_date "restriction_start_date" %>
    <%= form.label_and_date "restriction_end_date" %>
    <%= form.label_and_textarea "granted_note" %>
  </div>
<% end %>

<% define_template "rights_type_institutional_policy", jsonmodel_definition(:rights_statement) do |form| %>
  <div class="inline-subform rights-type-subform" data-rights-type="institutional_policy">
    <%= form.label_and_textarea "materials" %>
    <%= form.label_and_textarea "type_note" %>
    <%= form.label_and_textarea "permissions" %>
    <%= form.label_and_textarea "restrictions" %>
    <%= form.label_and_date "restriction_start_date" %>
    <%= form.label_and_date "restriction_end_date" %>
    <%= form.label_and_textarea "granted_note" %>
  </div>
<% end %>

<% define_template "rights_type_nil", jsonmodel_definition(:rights_statement) do %>
  <div class="inline-subform rights-type-subform">
    <div class="form-group">
      <div class="control-label col-sm-2"></div>
      <div class="controls col-sm-9"><em><%= I18n.t("rights_statement.rights_type_message") %></em></div>
    </div>
  </div>
<% end %>

<% define_template "rights_statement", jsonmodel_definition(:rights_statement) do |form| %>
  <div class="subrecord-form-fields">
    <% if form.obj["identifier"].blank? %>
      <%= form.label_and_readonly "identifier", "<em>#{I18n.t("rights_statement.identifier_auto_generate_message")}</em>" %>
    <% else %>
      <%= form.label_with_field "identifier", form.hidden_input("identifier") + "<span class='identifier-display'><span class='identifier-display-part'>#{form.obj["identifier"]}</span></span>".html_safe %>
    <% end %>

    <%= form.label_and_boolean "active", {}, form.default_for("active") %>

    <%= form.label_and_select "rights_type", form.possible_options_for("rights_type", true) %>

    <% if !form.obj["rights_type"].blank? %>
      <% form.emit_template("rights_type_#{form.obj["rights_type"]}", form.obj) %>
    <% elsif form.default_for("rights_type") %>
      <% form.emit_template("rights_type_#{form.default_for("rights_type")}") %>
    <% else %>
      <% form.emit_template("rights_type_nil") %>
    <% end %>


    <div class="subrecord-form-container">
      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents", :heading_size => "h4", :help_topic => "rights_statement_external_documents"} %>
    </div>
  </div>

<% end %>
