<% define_template "rights_type_copyright", jsonmodel_definition(:rights_statement) do |form| %>
  <div class="inline-subform rights-type-subform" data-rights-type="copyright">
    <%= form.label_and_select "status", form.possible_options_for("status"), {"required" => true} %>
    <%= form.label_and_select "jurisdiction",  form.possible_options_for("jurisdiction", true, :i18n_prefix => "enumerations.country_iso_3166."), {"required" => true} %>
    <%= form.label_and_date "determination_date" %>
    <%= form.label_and_date "start_date", {"required" => true} %>
    <%= form.label_and_date "end_date" %>
  </div>
<% end %>

<% define_template "rights_type_license", jsonmodel_definition(:rights_statement) do |form| %>
  <div class="inline-subform rights-type-subform" data-rights-type="license">
    <%= form.label_and_textarea "license_terms", {"required" => true} %>
    <%= form.label_and_date "start_date", {"required" => true} %>
    <%= form.label_and_date "end_date" %>
  </div>
<% end %>

<% define_template "rights_type_statute", jsonmodel_definition(:rights_statement) do |form| %>
  <div class="inline-subform rights-type-subform" data-rights-type="statute">
    <%= form.label_and_textarea "statute_citation", {"required" => true} %>
    <%= form.label_and_select "jurisdiction",  form.possible_options_for("jurisdiction", true, :i18n_prefix => "enumerations.country_iso_3166."), {"required" => true} %>
    <%= form.label_and_date "determination_date" %>
    <%= form.label_and_date "start_date", {"required" => true} %>
    <%= form.label_and_date "end_date" %>
  </div>
<% end %>

<% define_template "rights_type_other", jsonmodel_definition(:rights_statement) do |form| %>
  <div class="inline-subform rights-type-subform" data-rights-type="other">
    <%= form.label_and_select "other_rights_basis", form.possible_options_for("other_rights_basis"), {"required" => true} %>
    <%= form.label_and_date "start_date", {"required" => true} %>
    <%= form.label_and_date "end_date" %>
  </div>
<% end %>

<% define_template "rights_type_nil", jsonmodel_definition(:rights_statement) do %>
  <div class="inline-subform rights-type-subform">
    <div class="form-group">
      <div class="control-label col-sm-4"></div>
      <div class="controls col-sm-6"><em><%= t("rights_statement.rights_type_message") %></em></div>
    </div>
  </div>
<% end %>

<% define_template "rights_statement", jsonmodel_definition(:rights_statement) do |form| %>
  <div class="subrecord-form-fields pt-5">
    <% if form.obj["identifier"].blank? %>
      <%= form.label_and_readonly "identifier", "<em>#{t("rights_statement.identifier_auto_generate_message")}</em>" %>
    <% else %>
      <%= form.label_with_field "identifier", form.hidden_input("identifier") + "<span class='identifier-display'><span class='identifier-display-part'>#{form.obj["identifier"]}</span></span>".html_safe %>
    <% end %>

    <%= form.label_and_select "rights_type", form.possible_options_for("rights_type", true) %>

    <% if !form.obj["rights_type"].blank? %>
      <% form.emit_template("rights_type_#{form.obj["rights_type"]}", form.obj) %>
    <% elsif form.default_for("rights_type") %>
      <% form.emit_template("rights_type_#{form.default_for("rights_type")}") %>
    <% else %>
      <% form.emit_template("rights_type_nil") %>
    <% end %>


    <div class="subrecord-form-container">
      <%= render_aspace_partial :partial => "notes/form", :locals => {:header_size => "h4", :form => form, :nested_in_jsonmodel => 'rights_statement', :nested_note_jsonmodel => 'rights_statement_notes', :show_apply_note_order_action => false} %>
      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "acts", :template => "rights_statement_act", :template_erb => "rights_statement_acts/template", :heading_size => "h4", :help_topic => "rights_statement_acts"} %>
      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents", :template => "rights_statement_external_document", :heading_size => "h4", :help_topic => "rights_statement_external_documents"} %>
      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_agents", :heading_size => "h4", :template => 'rights_statement_linked_agent', :help_topic => "rights_statement_linked_agents"} %>
    </div>
  </div>

<% end %>
