<div class="titlepage">
  <div class="title"><%= h @report.title %></div>

  <dl>
    <dt><%= t('total_count')%></dt>
    <dd><%= h @report.total_count %></dd>
    <dt><%= t('total_unprocessed')%></dt>
    <dd><%= h @report.total_unprocessed %></dd>
    <dt><%= t('between')%></dt>
    <dd><%= format_date(@report.from_date) %> &amp;amp; <%= format_date(@report.to_date) %></dd>
    <dt><%= t('total_extent_of_unprocessed')%></dt>
    <dd><%= format_number(@report.total_extent_of_unprocessed) %></dd>
  </dl>
</div>

<% @report.each do |accession| %>
  <% next unless accession.fetch('accessionProcessed') != '1' %>

  <div class="report-record">
    <div class="identifier"><%= t('identifier_prefix')%> <%= format_4part(accession.fetch('accessionNumber')) %></div>
    <div class="record-title"><%= h accession.fetch('title') %></div>

    <dl>
      <% if accession.fetch('extentNumber') %>
        <dt><%= t('extent')%></dt>
        <dd><%= format_number(accession.fetch('extentNumber')) %> <%= accession.fetch('extentType') %></dd>
      <% end %>
      <dt><%= t('cataloged')%></dt>
      <dd><%= format_boolean(accession.fetch('cataloged') == 1) %></dd>
    </dl>

    <%= subreport_section(t('linked_resource'), AccessionResourcesSubreport, accession) %>
  </div>
<% end %>
