<% define_template "metadata_rights_declaration", jsonmodel_definition(:metadata_rights_declaration) do |form| %>
  <div class="subrecord-form-fields">
    <div class="agent-record-control-container">

      <%= form.label_and_select "license", [""] + form.possible_options_for("license", false) %>

      <%= form.label_and_textarea "descriptive_note",
        {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_textfield "file_uri",
        {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_select "file_version_xlink_actuate_attribute",
        [""] + form.possible_options_for("file_version_xlink_actuate_attribute", false) %>

      <%= form.label_and_select "file_version_xlink_show_attribute",
        [""] + form.possible_options_for("file_version_xlink_show_attribute", false) %>

      <%= form.label_and_textfield "xlink_title_attribute",
        {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_textfield "xlink_role_attribute",
        {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_textfield "xlink_arcrole_attribute",
        {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_date "last_verified_date" %>
    </div>
  </div>
<% end %>

<% define_template "metadata_rights_declaration_merge_destination", jsonmodel_definition(:metadata_rights_declaration) do |form| %>

  <%= form.record_level_merge_controls(form, "metadata_rights_declaration", false) %>

  <% field_names = ["license", "citation", "descriptive_note", "file_uri", "file_version_xlink_actuate_attribute", "file_version_xlink_show_attribute", "xlink_title_attribute", "xlink_role_attribute", "xlink_arcrole_attribute", "last_verified_date"] %>
  <% field_names.each do |field_name| %>
    <%= form.label_and_readonly field_name %>
  <% end %>
<% end %>

<% define_template "metadata_rights_declaration_merge_candidate", jsonmodel_definition(:metadata_rights_declaration) do |form| %>

  <% disable_replace = false %>

  <%= form.record_level_merge_controls(form, "metadata_rights_declaration", true, !disable_replace) %>

  <%= form.label_and_merge_select("license", "", {:disable_replace => disable_replace})%>
  <%= form.label_and_merge_select("descriptive_note", "", {:disable_replace => disable_replace}) %>
  <%= form.label_and_merge_select("file_uri", "", {:disable_replace => disable_replace}) %>
  <%= form.label_and_merge_select("file_version_xlink_actuate_attribute", "", {:disable_replace => disable_replace}) %>
  <%= form.label_and_merge_select("file_version_xlink_show_attribute", "", {:disable_replace => disable_replace}) %>
  <%= form.label_and_merge_select("xlink_title_attribute", "", {:disable_replace => disable_replace}) %>
  <%= form.label_and_merge_select("xlink_role_attribute", "", {:disable_replace => disable_replace}) %>
  <%= form.label_and_merge_select("xlink_arcrole_attribute", "", {:disable_replace => disable_replace}) %>
  <%= form.label_and_merge_select("last_verified_date", "", {:disable_replace => disable_replace}) %>

  <%= form.hidden_input "id", form.obj["id"] %>
<% end %>
