<%
   section_id = "external_documents" if section_id.blank?
   jsonmodel = :external_document if jsonmodel.blank?
%>
<section id="<%= section_id %>" class="subrecord-form-dummy">

  <h3><%= t("external_document._plural") %></h3>

  <div class="subrecord-form-container">
    <% external_documents.each_with_index do | document, index | %>
      <%= readonly_context jsonmodel, document do |readonly| %>
      <div class="subrecord-form-fields external-document">
        <%= readonly.label_and_textfield "title" %>
        <%= readonly.label_and_select "identifier_type", readonly.possible_options_for('identifier_type', true) %>

        <% loc_uri = (document["location"] || "").slice(URI.regexp) %>
        <% if loc_uri.nil? %>
          <%= readonly.label_and_textfield "location" %>
        <% else %>
          <%= readonly.label_with_field("location", link_to(document["location"], loc_uri)) %>
        <% end %>
        <%= readonly.label_and_boolean "publish" %>
      </div>
      <% end %>
    <% end %>
  </div>

</section>
