<% define_template "external_document", jsonmodel_definition(:external_document) do |form| %>
  <h4 class="subrecord-form-heading"><%= I18n.t("external_document._singular") %>
    <label class="append"><%= form.merge_checkbox('append') %><small><%= I18n.t("actions.merge_add") %></small></label>
  </h4>
  <div class="subrecord-form-fields">
    <%= form.label_and_readonly "title" %>
    <%= form.label_and_readonly "location" %>
    <%= form.label_and_readonly "publish" %>
  </div>
<% end %>

<% define_template "rights_statement_external_document", jsonmodel_definition(:rights_statement_external_document) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_readonly "title" %>
    <%= form.label_and_readonly "identifier_type" %>
    <%= form.label_and_readonly "location" %>
    <%= form.label_and_readonly "publish" %>
  </div>
<% end %>
