<% define_template "external_document", jsonmodel_definition(:external_document) do |form| %>

  <%= form.record_level_merge_controls(form, "external_document", false) %>
  <div class="subrecord-form-fields">
    <%= form.label_and_readonly "title" %>
    <%= form.label_and_readonly "location" %>
    <%= form.label_and_readonly "publish" %>
  </div>
<% end %>

<% define_template "rights_statement_external_document", jsonmodel_definition(:rights_statement_external_document) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_readonly "title" %>
    <%= form.label_and_readonly "identifier_type" %>
    <%= form.label_and_readonly "location" %>
    <%= form.label_and_readonly "publish" %>
  </div>
<% end %>
