<%
   section_id = "agent_place" if section_id.blank?
   section_title = "Places" if section_title.blank?
   heading_size = "h3" if heading_size.blank?
%>

<section id="<%= section_id %>">
  <h3><%= section_title %></h3>
  <div class="details my-3" id="<%= section_id %>_accordion">
    <%= context.list_for(context["agent_places"], "agent_places[]") do |agent_place, index| %>
      <div class="card mb-3">
        <div class="card-header panel-heading">
          <div class="row accordion-toggle collapsed" data-toggle="collapse" data-parent="#<%= section_id %>_accordion" href="#<%= section_id %>_agent_place_<%= index %>">
            <div class="col-md-1">
              <span class="glyphicon"></span>
            </div>
            <div class="col-md-6">
              <%= render_aspace_partial :partial => "subjects/show_inline_abbr", :locals => {:subjects => agent_place['subjects']} %>
            </div>
          </div>
        </div>
        <div id="<%= section_id %>_agent_place_<%= index %>" class="panel-collapse collapse">
          <%= read_only_view(agent_place, :exclude => ["publish"]) %>

          <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => agent_place['subjects'], :role => agent_place['place_role_enum'], :section_id => "agent_place_subjects_", :section_title => t("agent_place.subjects"), :heading_size => "h4"} %>

          <% if agent_place["dates"].length > 0 %>
            <%= render_aspace_partial :partial => "structured_dates/show", :locals => { :dates => agent_place['dates'], :section_id => "agent_place_dates", :section_title => t("agent_place.dates"), :heading_size => "h4"} %>
          <% end %>

          <% if agent_place["notes"].length > 0 %>
            <%= render_aspace_partial :partial => "notes/show", :locals => { :notes => agent_place["notes"], :section_id => "#{@agent.agent_type}_agent_place__#{index}__notes_", :context => context, :heading_size => "h4" } %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
