<% badge_label = t("#{result.primary_type}._singular") %>
<%= (props.fetch(:full,false)? '<h1>' : '<h3>').html_safe %>
  <% if !props.fetch(:full,false) %>
    <a class="record-title" href="<%= result.uri %>">  <%= result.display_string %></a>
  <% else %>
    <%= result.display_string %>
  <% end %>
  <%  unless result.container_display.blank?
        if  result.container_display.size == 1 
          badge_label =  result.container_display[0]
        else
          badge_label = t('multiple_containers')
        end
      end %>
<%= (props.fetch(:full,false)? '</h1>' : '</h3>').html_safe %>


<div class="badge-and-identifier">
  <div class="record-type-badge <%= (result.primary_type.start_with?('agent') ? 'agent' : result.primary_type) %>">
    <i class="fa <%= case  result.primary_type
	      when 'repository'
	      'fa-home'
	      when  'resource'
	      'fa-archive'
	      when 'archival_object' 
	      'fa-file-o'
	      when 'digital_object'
              'fa-file-image-o'
	      when 'subject'
	      'fa-tag'
	      when  'agent_person'
	      'fa-user'
	      when 'agent_corporate_entity'
	      'fa-university'
	      when 'agent_family'
	      'fa-users'
	      when 'classification'
	      'fa-share-alt'
	      when 'top_container'
	      'fa-archive'
	      else
	      'fa-cog'
	      end %>"></i>&#160;<%= badge_label %>
  </div>
    <% comp_id = result.identifier
       if comp_id %>
    <div class="identifier">
      <span class="id-label"><%= t('search_sorting.identifier') %>:</span>&#160;<span class="component"><%= comp_id %></span>
    </div>
    <% end %>
</div>
