<%# expects 'dig' as a hash %>
<% unless dig.blank? %>
 <% if !dig['out'].blank? %>
    <% if dig['thumb'].blank? %>
 <div class="objectimage">
      <form id="larger" action="<%= dig['out'] %>" method="post" target="new">
       <button type="submit"  class="btn btn-default record-type-badge digital_object" title="<%= t('digital_object._public.link') %>" >
          <i class="fa fa-file-image-o fa-4x"></i><br/>
            <%= dig['caption'].blank? ? "#{t('enumerations.instance_instance_type.digital_object')} #{dig['material']}" : dig['caption'].html_safe %>
        </button>
      </form>
</div>

    <% else %>
 <div class="objectimage">
   <div class="panel panel-default">
        <a class="thumbnail" href="<%= dig['out'] %>" target="new" 
	   title="<%= t('digital_object._public.link')%>">
          <img src="<%= dig['thumb'][0] %>" alt="<%= strip_mixed_content(dig['caption'] || t('enumerations.instance_instance_type.digital_object')) %>" />
        </a>
	<div class="panel-heading">
	    <%= (dig['caption'] || t('enumerations.instance_instance_type.digital_object')).html_safe %>
	</div>
   </div>
</div>
    <% end %>
 <% elsif !dig['thumb'].blank? %>
 <div class="objectimage">
    <% dig['thumb'].each do |thumb| %>
         <img src="<%= thumb %>" alt="<%=  strip_mixed_content(dig['caption'] || t('digital_object._public.thumbnail')) %>" />
 </div>
    <% end %>
 <% end %>
<% end %>

