<%# displaying chosen facet(s) (if any) and facets %>

<% dates = false %>
<div class="filters">
 <% if !@filters.blank? || !request.query_parameters()['from_year'].blank? ||  !request.query_parameters()['to_year'].blank? %>
    <h3><%= t('search_results.filtered_by')%> </h3> 
    <ul class="list-group">
      <% if !request.query_parameters()['from_year'].blank? || 
	 !request.query_parameters()['to_year'].blank? %>
      <% dates = true 
	 from_year = (request.query_parameters()['from_year'].blank? ? '' : request.query_parameters()['from_year']) 
	 to_year = (request.query_parameters()['to_year'].blank? ? t('search_results.filter.year_now') : request.query_parameters()['to_year'])
      %>
      <li class="list-group-item"><span class="filter"><%= t('search_results.filter.years')%>: <%= from_year %>  <%= t('search_results.filter.to').downcase %>
	  <%= to_year  %>
	  <a href="<%= @page_search.sub("&from_year=#{(from_year==''?'*' :from_year)}&to_year=#{(to_year==t('search_results.filter.year_now') ? '*' : to_year)}","")%>" 
	     title="<%= t('search_results.remove_filter') %> " class="delete_filter">X</a>
      </span></li>
  <% end  %> 
   <% @filters.each do |k,h|  %>
    <li class="list-group-item"><span class="filter"><%= h['pt'] %>: <%= h['pv'] %>
<a href="<%= @page_search.sub("&filter_fields[]=#{k}&filter_values[]=#{CGI.escape(h['v'])}", "")%>" 
title="<%= t('search_results.remove_filter') %> " class="delete_filter">X</a></li>
   <% end %>
 </ul>
 <% end %>
</div>
<h3><%= t('search_results.filter.head') %></h3>
<% if !dates %>
<div class="filter_dates">
  <span class="inline-label"><%= t('search_results.filter.years_include') %></span>
  <%= form_tag("#{@base_search}", method: 'get', :class=> "form-inline") do %>
  <% request.query_parameters.each do |p, v| %>
  <%  if !%w{commit utf8 from_year to_year}.include?(p) %>
  <%    if v.is_a? Array  %>
  <%      v.each do |val| %>
  <%= hidden_field_tag("#{p}[]".to_sym, val) %>
  <%      end %>
  <% else %>
  <%= hidden_field_tag(p.to_sym, v) %>
  <% end %>
  <% end %>
  <% end %>
  <div class="form-group">
    <%= label_tag(:from_year, "#{t('search_results.filter.from_year')}", :class => 'sr-only') %>
    <%= text_field_tag(:from_year, nil, :size => 4,:maxlength => 4, :placeholder => t('search_results.filter.from'),
    :class=>"form-control") %> 
    <span class="inline-label">--</span> 
    <%= label_tag(:to_year, "#{t('search_results.filter.to_year')}", :class=> 'sr-only') %>
    <%= text_field_tag(:to_year, nil, :size => 4, :maxlength => 4, :class=> "form-control",
    :placeholder => t('search_results.filter.to')) %>

  </div>
  <%= submit_tag(t('search-button.label'), :class=>'btn btn-primary') %>
  <% end %>
</div> 
<% end %>

<%= render partial: 'shared/only_facets' %>
