<% badge_label = t("#{result['primary_type']}._singular") %>
<h3>
  <% if !props.fetch(:full,false) %>
    <a class="record-title" href="<%= result['uri'] %>">  <%= strip_mixed_content(result['json']['display_string'] || result['title']) %></a>
  <% else %>
    <%= strip_mixed_content(result['json']['display_string'] || result['title']) %>
  <% end %>
  <%  unless result['json']['container_disp'].blank?
        badge_label =  result['json']['container_disp'].gsub("Unspecified",'')
      end
      %>


</h3>

<div class="badge-and-identifier">
  <div class="record-type-badge <%= (result['primary_type'].start_with?('agent') ? 'agent' : result['primary_type']) %>">
    <i class="fa <%= case  result['primary_type']
	      when 'repository'
	      'fa-home'
	      when  'resource'
	      'fa-archive'
	      when 'archival_object' 
	      'fa-file-o'
	      when 'digital_object'
              'fa-file-image-o'
	      when 'subject'
	      'fa-tag'
	      when  'agent_person'
	      'fa-user'
	      when 'agent_corporate_entity'
	      'fa-university'
	      when 'agent_family'
	      'fa-users'
	      when 'classification'
	      'fa-share-alt'
	      else
	      'fa-cog'
	      end %>"></i>&#160;<%= badge_label %>
  </div>
    <% comp_id = result['json'].dig('_composite_identifier') || result['json'].dig('component_id') ||  result['json'].dig('id_0')
       if comp_id %>
    <div class="identifier">
      <span class="id-label"><%= t('search_sorting.identifier') %>:</span>&#160;<span class="component"><%= comp_id %></span>
    </div>
    <% end %>
</div>
