<div title="<%= t('page_actions')%>">
 <ul class="list-inline">        
   <li class="large-badge  align-center">
     <form id="cite_sub" action="/cite" method="post">
       <input type="hidden" name="cite" value="<%=cite %>" />
       <input type="hidden" name="url" value="<%= url %>" />
       <button type="submit" class="btn page_action cite btn-default" title="<%= t('actions.cite') %>"> 
       <i class="fa fa-book fa-3x"></i><br/><%= t('actions.cite') %></button>
     </form>
   </li>

   <li class="large-badge  align-center"><a class="btn page_action" href="javascript:alert('this will handle the bookmark for <%= title %>');" title="<%= t('actions.bookmark') %>"><i class="fa fa-bookmark fa-3x"></i><br/><%= t('actions.bookmark') %></a></li>
   <li class="large-badge align-center">
     <form id="request_sub" action="<%= @request[:request_uri]%>/request" method="post">
        <%= render partial: 'shared/request_hiddens' %>
	<button type="submit" class="btn page_action request  btn-default" title="<%= t('actions.request') %>">
	  <i class="fa fa-bullhorn fa-3x"></i><br/><%= t('actions.request') %></button>
    </form>
   </li>
   <li class="large-badge align-center"><a class="btn page_action" href="javascript:alert('this will print? <%= title %>');" title="<%= t('actions.print') %>"><i class="fa fa-file-pdf-o fa-3x"></i><br/><%= t('actions.print') %></a></li>
 </ul>
</div>
