
<div title="<%= t('page_actions')%>">
 <ul class="list-inline">        
   <li class="large-badge  align-center"><a class="btn page_action" href="javascript:alert('this will provide the citation for <%= title %>');" title="<%= t('actions.cite') %>"><i class="fa fa-book fa-3x"></i><br/><%= t('actions.cite') %></a></li>
   <li class="large-badge  align-center"><a class="btn page_action" href="javascript:alert('this will handle the bookmark for <%= title %>');" title="<%= t('actions.bookmark') %>"><i class="fa fa-bookmark fa-3x"></i><br/><%= t('actions.bookmark') %></a></li>
   <li class="large-badge align-center"><a class="btn page_action" href="javascript:alert('this will request <%= title %>');" title="<%= t('actions.request') %>"><i class="fa fa-phone fa-3x"></i><br/><%= t('actions.request') %></a></li>
   <li class="large-badge align-center"><a class="btn page_action" href="javascript:alert('this will print? <%= title %>');" title="<%= t('actions.print') %>"><i class="fa fa-print fa-3x"></i><br/><%= t('actions.print') %></a></li>
 </ul>
</div>
