
  <% if !rec['extents'].blank? %>
<!--  NUMBER OF EXTENTS: <%= rec['extents'].length %> -->
    <%   rec['extents'].each do |ext| %>
    <span class="extent"><%= ext['container_summary'].present? ? "#{ext['container_summary']}: " : ''%><%= inheritance(ext['_inherited']).html_safe %>  <%= ext['physical_details'] || '' %> <%= ext['number'] %> <%= ext['extent_type'] %></span> <br />
    <% end %>
  <% end %>
   <%= render partial: 'shared/dates', locals: {:dates => rec['dates']} if !rec['dates'].blank? %>


<% %w{ inventory disposition content_description provenance access_date access_restrictions_note use_restrictions_note}.each do  |k| %>

  <% if !rec[k].blank? %>
   <span class="inline-label"><%= t("enumeration_names.#{k}") %></span>
     <p class="<%= k %>"><%= process_mixed_content(rec[k]) %></p>
   <% end %>
<% end %>
