

   <%= render partial: 'shared/dates', locals: {:dates => rec['html']['dates']} if !rec['html']['dates'].blank? %>
    <% unless @result['json']['extents'].blank? %>
      <h4><%= t('resource._public.extent') %></h4>
       <% @result['json']['extents'].each do |ext| %> 
        <p class="extent"><%= inheritance(ext['_inherited']).html_safe %> 
	  <%= ext['display']%>
	</p>
      <% end %>
    <% end %>

<% %w{ inventory disposition content_description provenance access_date access_restrictions_note use_restrictions_note}.each do  |k| %>

  <% if !rec[k].blank? %>
   <span class="inline-label"><%= t("enumeration_names.#{k}") %></span>
     <p class="<%= k %>"><%= process_mixed_content(rec[k]) %></p>
   <% end %>
<% end %>
