 <%# any result that is going to be presented in a list %>
 <%# Pry::ColorPrinter.pp(result['json'])%>
 <% if !props.fetch(:full,false) %>
   <div class="recordrow" style="clear:both">
     <% end %>
     <%= render partial: 'shared/idbadge', locals: {:result => result, :props => props } %>
     <div class="recordsummary" style="clear:both">
       <% if !result['parent_institution_name'].blank? %>
       <div><strong><%= t('parent_inst') %>:</strong>
         <%= result['parent_institution_name'] %>
       </div>
       <% end %>

       <% note_struct = get_note(result['json'], 'abstract') 
	  if note_struct.blank? 
	    note_struct = get_note(result['json'], 'scopecontent')
          end
	  if !note_struct['note_text'].blank? %>
          <div class="abstract single_note"><span class='inline-label'><%= note_struct['label'] %></span>
	   <%= note_struct['note_text'].html_safe %></div>
         <% end %>
       <% unless props.fetch(:no_repo, false) %>
       <% r_uri = nil
	  r_name = nil
	  if result['json']['repository'] && result['json']['repository']['_resolved'] && (!result['json']['repository']['ref'].blank? || !result['json']['repository']['_resolved']['name'].blank?)
	    r_uri = result['json']['repository']['ref'] || ''
	    r_name = result['json']['repository']['_resolved']['name'] || ''
	  elsif result['_resolved_repository'] && result['_resolved_repository']['json']
	   r_uri =  result['_resolved_repository']['json']['uri'] || ''
            r_name = result['_resolved_repository']['json']['name'] || ''
	  end
       %>
       <% unless !r_uri && !r_name %>
       <div> <strong><%= t('context') %>: </strong>
	 <span  class="repo_name">
	 <a href="<%= r_uri%>"><%= r_name%></a></span>
	 <% unless props.fetch(:no_res, false) || result['_resolved_resource'].blank? || result['_resolved_resource']['json'].blank? || !result['_resolved_resource']['json']['publish'] %>
       / <span class="resource_name">
	 <a href="<%= result['_resolved_resource']['json']['uri']%>"><%= process_mixed_content(result['_resolved_resource']['json']['title']).html_safe %></a> 
	 </span>
	 <% end %>
       </div>
       <% end %>
      <% end %>


       <% if !props.fetch(:full,false)  && result['primary_type'] == 'repository' %>
       <div><strong>t('number_of', { :type => t('resource._plural') })</strong> <%= result['count'] %></div>
       <% end %>
     </div>					  

   <% if !props.fetch(:full,false) %>
   </div>
   <% end %>
