 <%# any result that is going to be presented in a list %>
 <%# Pry::ColorPrinter.pp(result['json'])%>
 <% if !props.fetch(:full,false) %>
   <div class="recordrow" style="clear:both">
     <% end %>
     <%= render partial: 'shared/idbadge', locals: {:result => result, :props => props } %>
     <div class="recordsummary" style="clear:both">
       <% if !result['parent_institution_name'].blank? %>
       <div><strong><%= t('parent_inst') %>:</strong>
         <%= result['parent_institution_name'] %>
       </div>
       <% end %>
       <% if !props.fetch(:no_repo, false) && !result['_resolved_repository'].blank? && !result['_resolved_repository']['json'].blank? %>
       <div class="repo_name"><strong><%= t('repository._singular') %>: </strong>
	 <a href="<%= result['_resolved_repository']['json']['uri']%>"><%= result['_resolved_repository']['json']['name']%></a>
       </div>
       <% end %>
       <% note_struct = get_note(result['json'], 'abstract')
	  if !note_struct['note_text'].blank? %>
          <div class="abstract more"><span class='inline-label'><%= note_struct['label'] %></span>
	   <%= note_struct['note_text'].html_safe %></div>
         <% end %>
       <% if !props.fetch(:no_res, false) && !result['_resolved_resource'].blank? && !result['_resolved_resource']['json'].blank? && result['_resolved_resource']['json']['publish'] %>
       <div class="resource_name"><strong><%= t('resource._singular') %>: </strong>
	 <a href="<%= result['_resolved_resource']['json']['uri']%>"><%= result['_resolved_resource']['json']['title'] %></a>
       </div>
       <% end %>

       <% if !props.fetch(:full,false)  && result['primary_type'] == 'repository' %>
       <div><strong>Number of <%= t('resource._plural') %>:</strong> <%= result['count'] %></div>
       <% end %>
     </div>					  

   <% if !props.fetch(:full,false) %>
   </div>
   <% end %>
