<div id="main-content" class="row">

  
 <div class="warning col-sm-12">
   <h4><%= t('errors.error_404_message') %></h4>
   <p><b><%= @uri %></b></p>
   <% if @back_url.present? %>
   <a href="<%= @back_url %>" title="<%= t('actions.backup_abbr')%>"><%= t('actions.backup') %></a>
   <% end %>
 </div>
</div>
