<%
   section_id = "visible_external_ids" if section_id.blank?
%>
<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= t("external_id._plural")%></h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
          <td><%= t("external_id.source") %></td>
          <td><%= t("external_id.external_id") %></td>
        </tr>
        </thead>
        <tbody>
        <% ASUtils.wrap(external_ids).each do |external_id| %>
          <tr>
            <td><%= external_id['source'] %></td>
            <% if external_id['external_id'].start_with?("http:")  or external_id['external_id'].start_with?("https:")  %>
              <td><%= link_to external_id['external_id'], external_id['external_id'], :target => "_blank" %></td>
            <% else %>
              <td><%= external_id['external_id'] %></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>