<table class="table table-striped table-bordered table-condensed table-spreadsheet">
  <thead>
  <tr>
    <th><span class="sr-only"><%= t("search_results.selected") %></span></th>
    <th class="required"><%= t("location_batch.label") %></th>
    <th><%= t("location_batch.prefix") %></th>
    <th class="highlighted required"><%= t("location_batch.start") %></th>
    <th class="highlighted required"><%= t("location_batch.end") %></th>
    <th><%= t("location_batch.suffix") %></th>
  </tr>
  </thead>
  <tbody>
  <% form.push("coordinate_1_range", @location_batch["coordinate_1_range"] || {}) do %>
    <tr>
      <td><span id="location_batch_coordinate_1_range_"><%= t("location_batch.coordinate_1_range") %></span></td>
      <td><%= form.textfield "label", nil, :'aria-label' => "Label" %></td>
      <td><%= form.textfield "prefix", nil, :'aria-label' => "Prefix"  %></td>
      <td><%= form.textfield "start", nil, :'aria-label' => "Start"  %></td>
      <td><%= form.textfield "end", nil, :'aria-label' => "End"  %></td>
      <td><%= form.textfield "suffix", nil, :'aria-label' => "Suffix"  %></td>
    </tr>
  <% end %>
  <% form.push("coordinate_2_range", @location_batch["coordinate_2_range"] || {}) do %>
    <tr>
      <td><span id="location_batch_coordinate_2_range_"><%= t("location_batch.coordinate_2_range") %></span></td>
      <td><%= form.textfield "label", nil, :'aria-label' => "Label" %></td>
      <td><%= form.textfield "prefix", nil, :'aria-label' => "Prefix"  %></td>
      <td><%= form.textfield "start", nil, :'aria-label' => "Start"  %></td>
      <td><%= form.textfield "end", nil, :'aria-label' => "End"  %></td>
      <td><%= form.textfield "suffix", nil, :'aria-label' => "Suffix"  %></td>
    </tr>
  <% end %>
  <% form.push("coordinate_3_range", @location_batch["coordinate_3_range"] || {}) do %>
    <tr>
      <td><span id="location_batch_coordinate_3_range_"><%= t("location_batch.coordinate_3_range") %></span></td>
      <td><%= form.textfield "label", nil, :'aria-label' => "Label" %></td>
      <td><%= form.textfield "prefix", nil, :'aria-label' => "Prefix"  %></td>
      <td><%= form.textfield "start", nil, :'aria-label' => "Start"  %></td>
      <td><%= form.textfield "end", nil, :'aria-label' => "End"  %></td>
      <td><%= form.textfield "suffix", nil, :'aria-label' => "Suffix"  %></td>
    </tr>
  <% end %>
  </tbody>
</table>
