<table class="table table-striped table-bordered table-condensed table-spreadsheet">
  <thead>
  <tr>
    <th></th>
    <th class="required"><%= I18n.t("location_batch.label") %></th>
    <th><%= I18n.t("location_batch.prefix") %></th>
    <th class="highlighted required"><%= I18n.t("location_batch.start") %></th>
    <th class="highlighted required"><%= I18n.t("location_batch.end") %></th>
    <th><%= I18n.t("location_batch.suffix") %></th>
  </tr>
  </thead>
  <tbody>
  <% form.push("coordinate_1_range", @location_batch["coordinate_1_range"] || {}) do %>
    <tr>
      <td><span id="location_batch_coordinate_1_range_"><%= I18n.t("location_batch.coordinate_1_range") %></span></td>
      <td><%= form.textfield "label" %></td>
      <td><%= form.textfield "prefix" %></td>
      <td><%= form.textfield "start" %></td>
      <td><%= form.textfield "end" %></td>
      <td><%= form.textfield "suffix" %></td>
    </tr>
  <% end %>
  <% form.push("coordinate_2_range", @location_batch["coordinate_2_range"] || {}) do %>
    <tr>
      <td><span id="location_batch_coordinate_2_range_"><%= I18n.t("location_batch.coordinate_2_range") %></span></td>
      <td><%= form.textfield "label" %></td>
      <td><%= form.textfield "prefix" %></td>
      <td><%= form.textfield "start" %></td>
      <td><%= form.textfield "end" %></td>
      <td><%= form.textfield "suffix" %></td>
    </tr>
  <% end %>
  <% form.push("coordinate_3_range", @location_batch["coordinate_3_range"] || {}) do %>
    <tr>
      <td><span id="location_batch_coordinate_3_range_"><%= I18n.t("location_batch.coordinate_3_range") %></span></td>
      <td ><%= form.textfield "label" %></td>
      <td><%= form.textfield "prefix" %></td>
      <td><%= form.textfield "start" %></td>
      <td><%= form.textfield "end" %></td>
      <td><%= form.textfield "suffix" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
