<% define_template("location", jsonmodel_definition(:location)) do |form| %>
  <fieldset>
    <section id="basic_information">
      <%= form.label_and_select "temporary", form.possible_options_for("temporary", true) %>
      <hr/>
      <%= form.label_and_textfield "building" %>
      <%= form.label_and_textfield "floor" %>
      <%= form.label_and_textfield "room" %>
      <%= form.label_and_textfield "area" %>
      <hr/>
      <%= form.label_and_textfield "barcode", :required => :conditionally %>
      <%= form.label_and_textfield "classification", :required => :conditionally %>
      <hr/>
      <%= form.label_and_textfield "coordinate_1_label", :required => :conditionally %>
      <%= form.label_and_textfield "coordinate_1_indicator", :required => :conditionally %>
      <%= form.label_and_textfield "coordinate_2_label" %>
      <%= form.label_and_textfield "coordinate_2_indicator" %>
      <%= form.label_and_textfield "coordinate_3_label" %>
      <%= form.label_and_textfield "coordinate_3_indicator" %>
    </section>
  </fieldset>
<% end %>

<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @location, :form => form} %>
<% form.emit_template("location") %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_ids", :hidden => true} %>
