<%
  if form.obj.has_key?('_resolved')
    selected_json =  form.obj['_resolved'].to_json
  else
    selected_json = "{}"
  end

  enable_space_calculator = false if enable_space_calculator.nil?
  hide_create = false if hide_create.nil?
%>
<hr/>
<div class="form-group row required">
   <label class="control-label text-right col-sm-2"
          id="<%= form.id_for("ref") %>_label"
          for="<%= form.id_for("ref") %>">
     <%= t("location._singular") %>
   </label>
   <div class="controls col-sm-9">
       <div class="input-group linker-wrapper"
            role="combobox"
            aria-owns="<%= form.id_for("ref") %>_listbox"
            id="<%= form.id_for("ref") %>_combobox">
          <input type="text"
            class="linker"
            id="<%= form.id_for("ref") %>"
            aria-autocomplete="both"
            aria-controls="<%= form.id_for("ref") %>_listbox"
            aria-labelledby="<%= form.id_for("ref") %>_label"
            data-label_create="<%= t("location.linker.create") %>"
            data-label_browse="<%= t("location.linker.browse") %>"
            data-label_link="<%= t("linker.link") %>"
            data-label_create_and_link="<%= t("linker.create_and_link") %>"
            data-name="ref"
            data-path="<%= form.path %>"
            data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
            data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.LOCATION_FACETS %>"
            data-selected="<%= selected_json %>"
            data-multiplicity="one"
            data-format_template="title"
            data-types='["location"]'
          />
          <% if form.obj.has_key?('_resolved') %>
          
            <input type="text" 
              class='prelinker' 
              name="<%= form.path %>[_resolved]"
              value="<%= selected_json %>" />
              
            <input type="text" 
              class='prelinker' 
              name="<%= form.path %>[ref]"
              value="<%= form.obj["ref"] %>" />

          <% end %>
          
          <div class="input-group-append">
            <button
              type="button"
              class="btn btn-default dropdown-toggle locations"
              data-toggle="dropdown"
              aria-expanded="false"
              aria-label="<%= t("location.linker.link_title") %>"
            ></button>
            <ul class="dropdown-menu">
              <% if enable_space_calculator %>
                <li>
                  <button
                    type="button"
                    class="btn btn-sm rounded-0 dropdown-item show-space-calculator-btn"
                    data-calculator-url="<%= url_for :controller => :space_calculator, :action => :show, :inline => true %>"
                    data-modal-title="<%= t("space_calculator.modal_title") %>"
                    data-modal-content="<%= t("space_calculator.modal_loading") %>"
                  ><%= t("location._frontend.action.show_space_calculator") %></button>
                </li>
              <% end %>
              <li>
                <button
                  type="button"
                  class="btn btn-sm rounded-0 dropdown-item linker-browse-btn"
                ><%= t("actions.browse") %></button>
              </li>
              <% if user_can?('update_location_record') && !hide_create %>
                <li>
                  <button
                    type="button"
                    class="btn btn-sm rounded-0 dropdown-item linker-create-btn"
                    data-target="<%= url_for :controller => :locations, :action => :new, :inline => true %>"
                  ><%= I18n.t("actions.create") %></button>
                </li>
              <% end %>
            </ul>
          </div>
       </div>
   </div>
</div>

<%= javascript_include_tag("locations.location_holdings") %>
