<%= render(:layout => '/shared/sidebar',
           :locals => {
             :record_type => 'location_batch',
             :record => {},
             :suppress_basic_information => true,
             :suppress_submit_buttons => true,
           }) do |sidebar| %>


    <%= sidebar.render_for_view_and_edit(:subrecord_type => 'location', :property => :none, :anchor => 'location') %>
    <% if @is_batch_update %>
      <li class="sidebar-entry-location"><a href='#'>Locations to Update:</a>
        <ul>
          <% @location_batch.record_uris.each do |uri| %>
            <% url = "#{AppConfig[:frontend_proxy_url]}#{uri}" %>
            <li><%= link_to uri, url %></li>
          <% end %>
        </ul>
      </li>
    <% else %>
      <%= sidebar.render_for_view_and_edit(:subrecord_type => 'ranges', :property => :none, :anchor => 'ranges') %>
    <% end %>

    <li class="form-actions">
      <div class="btn-group <% if ["new", "create", "batch", "batch_create"].include?(controller.action_name) %>btn-submit-group<% end %>">
        <button type="submit" class="btn btn-primary btn-sm" style="width: 70%;"><%= t("location_batch._frontend.action.#{@action}") %></button>
        <% unless @is_batch_update %>
          <button type="submit" id="createPlusOne" name="plus_one" class="btn btn-primary btn-sm createPlusOneBtn"><%= t("actions.save_plus_one") %></button>
        <% end %>
      </div>

      <div class="mt-2 btn-group <% if ["new", "create", "batch_create"].include?(controller.action_name) %>btn-submit-group<% end %>">
        <% unless @is_batch_update %>
          <button type="button" class="btn btn-default btn-sm preview-locations"><%= I18n.t("location_batch._frontend.action.preview_short") %></button>
        <% end %>
      </div>
    </li>




<% end %>
