<%= setup_context :title => "Batch Locations", :trail => [[I18n.t("location._plural"), {:controller => :locations, :action => :index}]] %>

<%= form_for @location_batch, :as => "location_batch", :url => {:action => :batch_create}, :html => {:class => 'form-horizontal'} do |f| %>
  <%= form_context :location_batch, @location_batch do |form| %>
    <div class="row-fluid">
      <div class="span12">
        <div class="record-pane">
          <h2>Batch Locations</h2>
          <br/>

          <table class="table table-striped table-bordered table-condensed table-spreadsheet">
            <thead>
              <tr>
                <th></th>
                <th>Label</th>
                <th>Prefix</th>
                <th>Start</th>
                <th>End</th>
                <th>Suffix</th>
              </tr>
            </thead>
            <tbody>
              <% form.push("coordinate_1", @location_batch["coordinate_1"] || {}) do %>
                <tr>
                  <td>Coordinate 1</td>
                  <td><%= form.textfield "label" %></td>
                  <td><%= form.textfield "prefix" %></td>
                  <td><%= form.textfield "start" %></td>
                  <td><%= form.textfield "end" %></td>
                  <td><%= form.textfield "suffix" %></td>
                </tr>
              <% end %>
              <% form.push("coordinate_2", @location_batch["coordinate_2"] || {}) do %>
                <tr>
                  <td>Coordinate 2</td>
                  <td><%= form.textfield "label" %></td>
                  <td><%= form.textfield "prefix" %></td>
                  <td><%= form.textfield "start" %></td>
                  <td><%= form.textfield "end" %></td>
                  <td><%= form.textfield "suffix" %></td>
                </tr>
              <% end %>
              <% form.push("coordinate_3", @location_batch["coordinate_3"] || {}) do %>
                <tr>
                  <td>Coordinate 3</td>
                  <td><%= form.textfield "label" %></td>
                  <td><%= form.textfield "prefix" %></td>
                  <td><%= form.textfield "start" %></td>
                  <td><%= form.textfield "end" %></td>
                  <td><%= form.textfield "suffix" %></td>
                </tr>
            <% end %>
            </tbody>
          </table>

          <div class="form-actions">
            <div class="btn-group">
              <button type="submit" class="btn btn-primary"><%= I18n.t("actions.save_prefix") %> <%= I18n.t("location._plural") %></button>
            </div>
            <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel" %>
          </div>
        </div>
      </div>
    </div>
 <% end %>
<% end %>
