<%= setup_context :object => @location, :title => @location.id %>

<%= form_for @location, :as => "location", :url => {:action => :update}, :html => {:class => 'form-horizontal'} do |f| %>
  <%= form_context :location, @location do |form| %>
    <div class="row-fluid">
      <div class="span3">
        <%= render :partial => "locations/sidebar" %>
      </div>
      <div class="span9">
        <div class="record-pane">
          <h2><%= @location.id %>  <span class="label label-info"><%= I18n.t("location._singular") %></span></h2>
          <br/>
          <%= render :partial => "locations/form", :locals => {:form => form} %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary"><%= I18n.t("actions.save_prefix") %> <%= I18n.t("location._singular") %></button>
            <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
