<%= setup_context :object => @location, :title => @location.title %>

<%= form_for @location, :as => "location", :url => {:action => :update}, :html => {:class => 'form-horizontal aspace-record-form'}.merge(update_monitor_params(@location)) do |f| %>
  <%= form_context :location, @location do |form| %>
    <div class="d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "locations/sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "toolbar" %>
        <div class="record-pane">
          <%= link_to_help :topic => "location" %>
          <h2><%= @location.title %>  <span class="label label-info badge"><%= I18n.t("location._singular") %></span></h2>
          <br/>
          <%= render_aspace_partial :partial => "locations/form", :locals => {:form => form} %>
          <div class="form-actions pl-0">
            <button type="submit" class="btn btn-primary"><%= t("location._frontend.action.save") %></button>
            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
