<%= setup_context(:title => I18n.t("location._plural")) %>

<% 
   no_title!

   %w(building floor room area).each do |place|
     add_column(I18n.t("location.#{place}"), proc {|record| record[place]}, :sortable => true, :sort_by => place)
   end

   add_column(I18n.t("location._singular"), proc {|record| record['title']}, :sortable => true, :sort_by => 'title_sort')
%>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('update_location_record') %>
      <div class="record-toolbar">
        <div class="btn-group pull-right">
          <%= link_to I18n.t("location._frontend.action.create"), {:controller => :locations, :action => :new}, :class => "btn btn-sm btn-default" %>
          <%= link_to I18n.t("location._frontend.action.batch"), {:controller => :locations, :action => :batch}, :class => "btn btn-sm btn-default" %>
        </div>
        <br style="clear:both" /> <!-- So dirty! -->
      </div>
    <% end %>

    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("location._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
