<%= setup_context(:title => t("location._plural")) %>

<div class="d-flex">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('update_location_record') %>
      <div class="record-toolbar d-flex justify-content-end">
        <div class="btn-group">
          <% if user_can?('manage_repository') %>
              <%= link_to I18n.t("actions.edit_default_values"), {:controller => :locations, :action => :defaults}, :class => "btn btn-sm btn-default" %>
          <% end %>
          <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv, :fields => fields}), id: "searchExport",  class:  "btn btn-sm btn-primary" %>
          <%= link_to I18n.t("location._frontend.action.create"), {:controller => :locations, :action => :new}, :class => "btn btn-sm btn-default" %>
          <%= link_to I18n.t("location._frontend.action.batch"), {:controller => :locations, :action => :batch}, :class => "btn btn-sm btn-default" %>
          <%= button_edit_multiple_action(:locations) %>
          <% if user_can?("administer_system") %>
             <%= button_delete_multiple_action(:locations) %>
           <% end %>
        </div>
      </div>
    <% end %>

    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= t("location._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>

      <%= javascript_include_tag("locations.location_holdings") %>
    </div>
  </div>
</div>
