<%= setup_context :object => @location %>

<%= form_for @location, :as => "location", :url => {:action => :create}, :html => {:class => 'form-horizontal'} do |f| %>
  <%= form_context :location, @location do |form| %>
    <div class="row-fluid">
      <div class="span3">
        <%= render :partial => "locations/sidebar" %>
      </div>
      <div class="span9 record-pane">
        <h2><%= "New Location" %>  <span class="label label-info">Location</span></h2>
        <br/>
        <%= render :partial => "locations/form", :locals => {:form => form} %>
        <div class="form-actions">
          <div class="btn-group">
            <button type="submit" class="btn btn-primary">Save Location</button>
            <button type="submit" id="createPlusOne" name="plus_one" class="btn btn-primary">+1</button>
          </div>
          <%= link_to "Cancel", :back, :class => "btn btn-cancel" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
