<%= setup_context :object => @location, :title => @location.id %>

<div class="row-fluid">
   <div class="span3">
     <%= render :partial => "locations/sidebar" %>
   </div>
   <div class="span9 record-pane">
     <div class="btn-group" style="float: right">
       <% if user_can?('update_repository') %>
         <%= link_to "Edit", {:controller => :locations, :action => :edit, :id => @location.id}, :class => "btn btn-small" %>
       <% end %>
     </div>

      <h2><%= @location.id %>  <span class="label label-info">Location</span></h2>

     <%= read_only_view(@location.to_hash) %>

   </div>
</div>
