<%= setup_context :object => @location, :title => @location.title %>

<div class="row">
   <div class="col-md-3">
     <%= render_aspace_partial :partial => "locations/sidebar" %>
   </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <h2><%= @location.title %>  <span class="label label-info"><%= I18n.t("location._singular") %></span></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= read_only_view(@location.to_hash) %>

      <%= render_aspace_partial :partial => "search/embedded", :locals => {:record => @location, :filter_term => {"location_uris" => @location.uri}.to_json, :heading_text => I18n.t("location._frontend.section.search_embedded")} %>
    </div>
  </div>
</div>
