<%= setup_context :object => @location, :title => @location.title %>

<div class="d-flex">
   <div class="col-md-3">
     <%= render_aspace_partial :partial => "locations/sidebar" %>
   </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <h2><%= @location.title %>  <span class="label label-info badge"><%= I18n.t("location._singular") %></span></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= read_only_view(@location.to_hash) %>

      <% if @location['location_profile'] %>
        <div class="form-horizontal">
          <div class="form-group token-list">
            <div class="control-label col-sm-2"><%= t("location_profile._singular") %></div>
            <div class="label-only col-sm-8">
              <%= render_token :object => @location["location_profile"]["_resolved"],
                               :label => @location["location_profile"]["_resolved"]["display_string"],
                               :type => "location_profile",
                               :uri => @location["location_profile"]["ref"] %>
            </div>
          </div>
        </div>
      <% end %>

      <% if @location['owner_repo'] %>
        <div class="form-horizontal">
          <div class="form-group token-list">
            <div class="control-label col-sm-2"><%= t("repository._singular") %></div>
            <div class="label-only col-sm-8">
              <%= render_token :object => @location["owner_repo"]["_resolved"],
                               :label => @location["owner_repo"]["_resolved"]["display_string"],
                               :type => "repository",
                               :uri => @location["owner_repo"]["ref"] %>
            </div>
          </div>
        </div>
      <% end %>


      <%= display_audit_info(@location) %>

      <% if @location.external_ids.length > 0 && show_external_ids? %>
        <%= render_aspace_partial :partial => "external_ids/show", :locals => { :external_ids => @location.external_ids, :section_id => "location_external_ids_" } %>
      <% end %>

      <% if @location.functions.length > 0 %>
        <%= render_aspace_partial :partial => "location_functions/show", :locals => { :functions => @location.functions, :section_id => "location_functions_" } %>
      <% end %>

      <%= render_aspace_partial :partial => "search/embedded", :locals => {
        :record => @location,
        :filter_term => {"location_uris" => @location.uri, 'primary_type' => 'top_container'}.to_json,
        :heading_text => t("location._frontend.section.search_embedded"),
        :section_id => 'location_containers'} %>

      <%= readonly_context :location, @location do |readonly| %>
        <%= show_plugins_for(@location, readonly) %>
      <% end %>
    </div>
  </div>
</div>
