<%= setup_context :object => @location, :title => @location.id %>

<div class="row-fluid">
   <div class="span3">
     <%= render :partial => "locations/sidebar" %>
   </div>
  <div class="span9">
    <%= render :partial => "toolbar" %>
    <div class="record-pane">
      <h2><%= @location.id %>  <span class="label label-info"><%= I18n.t("location._singular") %></span></h2>

      <%= render :partial => "shared/flash_messages" %>

      <%= read_only_view(@location.to_hash) %>
    </div>
  </div>
</div>
