<%= render :partial => "shared/breadcrumb", :locals => {:trail => [link_to("Browse Locations", :controller => :locations, :action => :index), @location.id]} %>
<div class="row-fluid">
   <div class="span3">
     <%= render :partial => "locations/sidebar" %>
   </div>
   <div class="span9 record-pane">
     <div class="btn-group" style="float: right">
       <% if user_can?('update_repository') %>
         <%= link_to "Edit", {:controller => :locations, :action => :edit, :id => @location.id}, :class => "btn btn-small" %>
       <% end %>
     </div>

      <h2><%= @location.id %>  <span class="label label-info">Location</span></h2>

      <% @location.to_hash.reject{|k,v| ["lock_version", "jsonmodel_type", "uri", "display_string"].include?(k)}.each do |k, v| %>
       <div class="row-fluid label-and-value">
         <div class="span3 offset1" ><%= I18n.t("location.#{k}") %></div>
         <% if JSONModel(:location).schema["properties"][k]["enum"] %>
           <div class="span8"><%= I18n.t("location.#{k}_#{v}") %></div>
         <% else  %>
           <div class="span8"><%= v %></div>
         <% end %>
       </div>
     <% end %>

   </div>
</div>
