<link href="<%= "#{AppConfig[:frontend_prefix]}assets/aspace_feedback.css" %>" media="all" rel="stylesheet" type="text/css">

<div class="container footer">
   <div class="row-fluid">
      <div class="col-md-12">
         <p><% if AppConfig[:enable_public] and not proxy_localhost? %>View <a href="<%= AppConfig[:public_proxy_url] %>">Public Interface</a> | <% end %>Visit <a href="http://archivesspace.org">ArchivesSpace.org</a> | Version <%= ASConstants.VERSION %> | <a id="aspaceFeedbackLink" href="javascript:void(0);">Send Feedback</a></p>
      </div>
   </div>
</div>

<div id="template_feedback_form"><!--
  <%= render_aspace_partial :partial => "site/feedback_form" %>
--></div>

<script src="<%= "#{AppConfig[:frontend_prefix]}assets/aspace_feedback.js" %>"></script>
