<div class="title-pane">
  <div class="row-fluid">
    <div class="span3">

    </div>
    <div class="span9">
      <h2><%= @archival_object.title %></h2>
    </div>
  </div>
</div>
<div class="content-pane">
  <div class="row-fluid">
    <div class="span3">
      <div id="">
        <ul class="nav nav-list as-nav-list">
          <li><a href="#summary"><%= I18n.t("archival_object._html.section.summary") %> <span class="icon-chevron-right"></span></a></li>
          <% if @archival_object['extents'].length > 0 %>
            <li><a href="#extents"><%= I18n.t("extent._html.plural") %> <span class="icon-chevron-right"></span></a></li>
          <% end %>
          <% if @archival_object['subjects'].length > 0 %>
            <li><a href="#subjects"><%= I18n.t("subject._html.plural") %> <span class="icon-chevron-right"></span></a></li>
          <% end %>
          <% if @children.length > 0 %>
            <li><a href="#components"><%= I18n.t("archival_object._html.section.components") %> <span class="icon-chevron-right"></span></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span9">
      <fieldset class="form-horizontal">
        <section id="summary">
          <h3><%= I18n.t("archival_object._html.section.summary") %></h3>

          <dl class="dl-horizontal">
            <%= label_and_value I18n.t("archival_object.ref_id"), @archival_object['ref_id'] %>
            <%= label_and_value I18n.t("archival_object.component_id"), @archival_object['component_id'] %>
            <%= label_and_value I18n.t("archival_object.level"), i18n_enum(:archival_object, 'level', @archival_object['level']) %>
            <%= label_and_value I18n.t("archival_object.language"), i18n_enum(:archival_object, 'language', @archival_object['language']) %>
          </dl>
        </section>

        <% if @archival_object['extents'].length > 0 %>
          <section id="extents">
            <h3><%= I18n.t("extent._html.plural") %></h3>
            <ul class="results-list">
              <% @archival_object['extents'].each do |extent| %>
                <li class="result">
                  <%= extent['number'] %> <%= i18n_enum(:extent, 'extent_type', extent['extent_type']) %> (<%= i18n_enum(:extent, 'portion', extent['portion']) %>)
                </li>
              <% end %>
            </ul>
          </section>
        <% end %>

        <% if @archival_object['subjects'].length > 0 %>
          <section id="subjects">
            <h3><%= I18n.t("subject._html.plural") %></h3>
            <ul class="results-list">
              <% @archival_object['subjects'].each do |subject| %>
                <li class="result">
                  <h4>
                    <%= icon_for "subject" %>
                    <%= link_to(subject['_resolved']['title'], {:controller => :site, :action => :search}.merge(params_for_search({"add_filter" => "{!term f=subjects}#{subject['_resolved']['title']}"}))) %>
                  </h4>
                </li>
              <% end %>
            </ul>
          </section>
        <% end %>

        <% if @children.length > 0 %>
          <section id="components">
            <h3><%= I18n.t("archival_object._html.section.components") %></h3>

            <ul class="results-list">
              <% @children.each do |child| %>
                <li class="result">
                  <h4>
                    <%= icon_for "archival_object" %>
                    <%= link_to child["title"], :controller => :site, :action => "archival_object", :id => JSONModel(:archival_object).id_for(child['uri']), :repo_id => @repository.id %>
                  </h4>
                </li>
              <% end %>
            </ul>
          </section>
        <% end %>

      </fieldset>

      <br/>
      <br/>

      <div class="accordion" id="source">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#source" href="#collapseOne">
              Debugging
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= @archival_object.inspect %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
