<% set_title I18n.t("brand.home") %>

<br/>

<div class="well">
  <div class="row-fluid">
    
    <div class="span8">
      
      <h3><%= I18n.t("brand.welcome_message") %></h3>
      <p><%= I18n.t("brand.welcome_search_label") %></p>

      <div class="tab-content">
        <div id="simpleSearch" class="tab-pane active">
          <%= render :partial => "simple_search" %>
        </div>
        <div id="advancedSearch" class="tab-pane">
          <%= render :partial => "advanced_search" %>
        </div>
      </div>

      <ul class="search-switcher">
        <li class="active">
          <a href="#simpleSearch" data-toggle="tab"><%= I18n.t("actions.hide_advanced_search") %></a>
        </li>
        <li>
          <a href="#advancedSearch" data-toggle="tab"><%= I18n.t("actions.show_advanced_search") %></a>
        </li>
      </ul>

    </div>
    <div class="span4">

    </div>
  </div>
</div>
