<%= form_for @resource, :as => "resource", :url => {:action => :update, :id => @resource.id}, :html => {:class => 'form-horizontal aspace-record-form', :id => "resource_form"}.merge(update_monitor_params(@resource)) do |f| %>
  <%= form_context :resource, @resource do |form| %>
    <div class="d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "resources/sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "toolbar" %>
        <div class="record-pane">
           <%= render_aspace_partial :partial => "resources/form_container", :locals => {:form => form} %>
           <div class="form-actions pl-0">
             <button type="submit" class="btn btn-primary"><%= t("resource._frontend.action.save") %></button>
              <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
           </div>
         </div>
      </div>
    </div>
  <% end %>
<% end %>
