<%= form_for @resource, :as => "resource", :url => {:action => :update, :id => @resource.id}, :html => {:class => 'form-horizontal aspace-record-form', :id => "resource_form"}.merge(update_monitor_params(@resource)) do |f| %>
  <%= form_context :resource, @resource do |form| %>
    <div class="row">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "resources/sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "toolbar" %>
        <div class="record-pane">
           <%= render_aspace_partial :partial => "resources/form_container", :locals => {:form => form} %>
           <div class="form-actions">
             <button type="submit" class="btn btn-primary"><%= I18n.t("resource._frontend.action.save") %></button>
              <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
           </div>
         </div>
      </div>
    </div>

    <% if @refresh_tree_node
         node_data = {
           'id' => @resource.id,
           'uri' => @resource.uri,
           'title' => @resource.title,
           'level' => @resource.level==='otherlevel' ? @resource.other_level : I18n.t("enumerations.archival_record_level.#{@resource.level}", :default => @resource.level),
           'jsonmodel_type' => @resource.jsonmodel_type,
           'node_type' => @resource.jsonmodel_type,
           'instance_types' => @resource.instances.map{|instance| I18n.t("enumerations.instance_instance_type.#{instance['instance_type']}", :default => instance['instance_type'])},
           'containers' => @resource.to_hash["instances"].map{|instance| instance["sub_container"]}.compact.map {|sub_container|
             properties = {}
             if sub_container["top_container"]
               top_container = sub_container["top_container"]["_resolved"]
               # if _resolved comes from search result, then need to parse JSON
               if top_container["json"]
                 top_container = ASUtils.json_parse(top_container["json"])
               end
               properties["type_1"] = "Container"
               properties["indicator_1"] = top_container["indicator"]
               if top_container["barcode"]
                 properties["indicator_1"] += " [#{top_container["barcode"]}]"
               end
             end
             properties["type_2"] = I18n.t("enumerations.container_type.#{sub_container["type_2"]}", :default => sub_container["type_2"])
             properties["indicator_2"] =sub_container["indicator_2"]
             properties["type_3"] = I18n.t("enumerations.container_type.#{sub_container["type_3"]}", :default => sub_container["type_3"])
             properties["indicator_3"] =sub_container["indicator_3"]
             properties
           },
           'replace_new_node' => false
         }
    %>
      <script>
        AS.refreshTreeNode(<%= node_data.to_json.html_safe %>);
      </script>
    <% end %>
  <% end %>
<% end %>
