<%= link_to_help :topic => "resource" %>

<h2>
   <%= @form_title ? @form_title : @resource.title.blank? ? "#{t("resource.new_title")}" : clean_mixed_content( @resource.title)  %>  <span class="label label-info badge"><%= t("resource._singular") %></span>
</h2>

<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => form} %>

<%= form.hidden_input "related_accession" %>
<%= hidden_field_tag "id", @resource.id %>
<%= hidden_field_tag "uri", @resource.uri %>

  <% define_template("resource", jsonmodel_definition(:resource)) do |form| %>

  <section id="basic_information">
    <div class="w-100 d-flex align-items-center border-bottom bg-asFormHeadingBg">
      <h3 class="flex-grow-1 mb-0 border-0">
        <%= t("resource._frontend.section.basic_information") %>
      </h3>
      <%= link_to_help :topic => "resource_basic_information" %>
    </div>

    <fieldset>
      <%= render_plugin_partials("top_of_basic_information_resource",
                                 :form => form,
                                 :record => @resource) %>

      <%= form.label_and_textarea "title", :field_opts => {
        :class => "form-control#{AppConfig[:allow_mixed_content_title_fields] ? ' mixed-content' : ''}"
      } %>
      <%= form.label_and_fourpartid %>

      <%= render_aspace_partial :partial => "shared/slug", :locals => {:form => form, :record_type => @resource} if AppConfig[:use_human_readable_urls] %>

      <%= form.label_and_textfield "external_ark_url" if AppConfig[:arks_enabled] && AppConfig[:arks_allow_external_arks] %>
      <%= form.label_and_select "level", form.possible_options_for("level", true) %>
      <%= form.label_and_textfield "other_level", :required => true %>
      <%= form.label_and_select "resource_type", form.possible_options_for("resource_type", true) %>
      <%= form.label_and_boolean "publish", {}, user_prefs["publish"] %>
      <%= form.label_and_boolean "restrictions", {}, form.default_for("restrictions") %>
      <%= form.label_and_textarea "repository_processing_note" %>

      <%= render_plugin_partials("basic_information_resource",
                                 :form => form,
                                 :record => @resource) %>
    </fieldset>
  </section>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "lang_materials", :custom_action_template => "lang_materials/subrecord_form_action"} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates", :template => "archival_record_date"} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents"} %>

  <section id="finding_aid" class="subrecord-form-dummy">
    <div class="d-flex align-items-center border-bottom bg-asFormHeadingBg">
      <h3 class="flex-grow-1 mb-0 border-0">
        <%= t("resource._frontend.section.finding_aid") %>
      </h3>
      <%= link_to_help :topic => "resource_finding_aid" %>
    </div>
    <div class="subrecord-form-container">
      <div class="subrecord-form-fields">
        <fieldset>
          <%= form.label_and_textfield "ead_id" %>
          <%= form.label_and_textfield "ead_location" %>
          <hr/>

          <%= form.label_and_textarea "finding_aid_title", :field_opts => {:class => "mixed-content"} %>
          <%= form.label_and_textarea "finding_aid_subtitle", :field_opts => {:class => "mixed-content"} %>

          <%= form.label_and_textarea "finding_aid_filing_title" %>
          <%= form.label_and_textfield "finding_aid_date" %>
          <%= form.label_and_textarea "finding_aid_author" %>
          <%= form.label_and_select "finding_aid_description_rules", form.possible_options_for("finding_aid_description_rules", true) %>
          <%= form.label_and_select("finding_aid_language", form.possible_options_for("finding_aid_language", true)) %>
          <%= form.label_and_select("finding_aid_script", form.possible_options_for("finding_aid_script", true)) %>
          <%= form.label_and_textarea "finding_aid_language_note" %>
          <%= form.label_and_textarea "finding_aid_sponsor" %>
          <%= form.label_and_textarea "finding_aid_edition_statement" %>
          <%= form.label_and_textarea "finding_aid_series_statement" %>
          <%= form.label_and_select "finding_aid_status", form.possible_options_for("finding_aid_status", true) %>
          <%= form.label_and_boolean "is_finding_aid_status_published", {}, user_prefs['publish'] %>

          <%= form.label_and_textarea "finding_aid_note" %>
        </fieldset>
      </div>
    </div>
  </section>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "revision_statements"} %>

<% end %>

<% form.emit_template("resource") %>

<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "related_accessions", :template => "resource_related_accessions"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_agents", :template => "resource_linked_agent"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "subjects", :template => "subrecord_subject"} %>
<%= render_aspace_partial :partial => "notes/form", :locals => {:form => form, :section_id => 'resource_notes_'} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "rights_statements"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "metadata_rights_declarations"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "instances", :custom_action_template => "instances/subrecord_form_action"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "deaccessions"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "collection_management", :cardinality => :zero_to_one} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "classifications"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "user_defined", :cardinality => :zero_to_one} %>
<%= render_aspace_partial :partial => "external_ids/edit", :locals => {:form => form, :section_id => "external_ids"} %>

  <%= form_plugins_for("resource", form) %>
