<h2>
   <%= @resource.title.blank? ? "New Resource" : @resource.title %>  <span class="label label-info">Resource</span>
</h2>

<%= render :partial => "shared/form_messages", :locals => {:object => @resource, :f => f} %>

<fieldset>
  <section id="basic_information">
    <h3>Basic Information</h3>
    <%= render :partial => "resources/forms/basic_information", :locals => {:f => f} %>
  </section>


  <%= render :partial => "shared/subrecord_form", :locals => {:f => f, :object => @resource, :method => :extents} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:f => f, :object => @resource, :method => :dates} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:f => f, :object => @resource, :method => :external_documents} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:f => f, :object => @resource, :method => :rights_statements} %>


</fieldset>
