<h2>
   <%= @resource.title.blank? ? "New Resource" : @resource.title %>  <span class="label label-info">Resource</span>
</h2>

<%= render :partial => "shared/form_messages", :locals => {:form => form} %>

<fieldset>
  <section id="basic_information">
    <h3>Basic Information</h3>

    <%= form.label_and_textfield "title" %>
    <%= form.label_and_fourpartid %>
    <%= form.label_and_select "language", form.jsonmodel_options_for(:resource, "language", true) %>
    <%= render :partial => "subjects/linker", :locals => { :form => form }%>

  </section>


  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_agents", :template => "resource_linked_agent"} %>
  <%= render :partial => "notes/form", :locals => {:form => form} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents"} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates"} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "rights_statements"} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "instances"} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "deaccessions"} %>

</fieldset>
