<%= link_to_help :topic => "resource" %>

<h2>
   <%= @form_title ? @form_title : @resource.title.blank? ? "#{t("resource.new_title")}" : clean_mixed_content( @resource.title)  %>  <span class="label label-info badge"><%= t("resource._singular") %></span>
</h2>

<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => form} %>

<%= form.hidden_input "related_accession" %>
<%= hidden_field_tag "id", @resource.id %>
<%= hidden_field_tag "uri", @resource.uri %>

  <% define_template("resource", jsonmodel_definition(:resource)) do |form| %>

  <section id="basic_information">
    <div class="w-100 d-flex align-items-center border-bottom bg-asFormHeadingBg">
      <h3 class="flex-grow-1 d-flex align-items-center mb-0 border-0">
        <%= t("resource._frontend.section.basic_information") %>
        <% if ['edit', 'update'].include?(controller.action_name) %>
          <span class="ml-2 fs-12px label label-info badge">ENG</span>
        <% end %>
      </h3>
      <%= link_to_help :topic => "resource_basic_information" %>
    </div>

    <fieldset>
      <%= render_plugin_partials("top_of_basic_information_resource",
                                 :form => form,
                                 :record => @resource) %>
      <% edit_mode = ['edit', 'update'].include?(controller.action_name) %>
      <% dependent_icon = '<span class="lang-marker has-tooltip" title="The value of this field can change based on the current language of description" aria-hidden="true"><svg style="margin-bottom: .2rem;" xmlns="http://www.w3.org/2000/svg" width="28" height="28" version="1.1" viewBox="0 14 100 72"><path d="m32.23 40.262-2.9141-7.0156-2.9141 7.0156zm36.156 11.852h-6.793c-1.2656 0-2.2969 1.0273-2.2969 2.2969 0 1.2656 1.0273 2.2969 2.2969 2.2969h1.5195c0.67969 1.8438 2.0547 4.9414 4.5742 8.2891-1.8711 1.9375-4.2344 3.8633-7.2109 5.5234-1.1055 0.61328-1.5039 2.0078-0.88672 3.1094 0.61328 1.1055 2.0078 1.5 3.1094 0.88672 3.2422-1.8125 5.8633-3.9141 7.9727-6.0586 2.1094 2.1406 4.7305 4.2461 7.9727 6.0586 1.1055 0.61328 2.5 0.21484 3.1094-0.88672 0.61328-1.1055 0.21484-2.5-0.88672-3.1094-2.9727-1.6602-5.3359-3.5859-7.2109-5.5273 2.5156-3.3438 3.8984-6.4453 4.5703-8.2891h1.5234c1.2656 0 2.2969-1.0273 2.2969-2.2969s-1.0273-2.2969-2.2969-2.2969h-6.793v-1.2656c0-1.2695-1.0273-2.2969-2.2969-2.2969-1.2695 0-2.2969 1.0273-2.2969 2.2969v1.2656zm2.2969 9.25c-1.2188-1.75-2.0664-3.3711-2.6367-4.6562h5.2734c-0.57031 1.2852-1.4141 2.9062-2.6367 4.6562zm-49.777-19.816 6.293-15.152c0.22656-0.53906 0.65234-0.99609 1.2383-1.2383 1.1719-0.48438 2.5117 0.070312 2.9922 1.2383l6.293 15.152c0.046875 0.085937 0.082032 0.17578 0.11328 0.26953l2.7695 6.668c0.48438 1.1719-0.070313 2.5117-1.2383 2.9922-1.168 0.48438-2.5117-0.070312-2.9922-1.2383l-2.2383-5.3867h-9.6406l-2.2383 5.3867c-0.48437 1.1719-1.8281 1.7227-2.9922 1.2383-1.1719-0.48437-1.7227-1.8281-1.2383-2.9922l2.7695-6.668c0.03125-0.09375 0.070313-0.18359 0.11328-0.26953zm36.707-1.8633v-12.926c0-2.8711-1.1719-5.4844-3.0664-7.375-1.8906-1.8906-4.5-3.0664-7.375-3.0664h-35.719c-2.8711 0-5.4844 1.1719-7.375 3.0664-1.8906 1.8906-3.0664 4.5-3.0664 7.375v23.125c0 2.875 1.1719 5.4844 3.0664 7.375 1.8906 1.8906 4.5 3.0664 7.375 3.0664h30.926v12.926c0 2.8711 1.1719 5.4844 3.0664 7.375 1.8906 1.8906 4.5 3.0664 7.375 3.0664h35.719c2.8711 0 5.4844-1.1719 7.375-3.0664 1.8906-1.8906 3.0664-4.5 3.0664-7.375v-23.125c0-2.8711-1.1719-5.4844-3.0664-7.375-1.8906-1.8906-4.5-3.0664-7.375-3.0664zm-10.637 33.562v-12.926h0.19922c2.8711 0 5.4844-1.1719 7.375-3.0664 1.8906-1.8906 3.0664-4.5 3.0664-7.375v-5.6055h30.926c1.6055 0 3.0664 0.65625 4.1289 1.7188s1.7188 2.5234 1.7188 4.1289v23.125c0 1.6055-0.66016 3.0664-1.7188 4.1289-1.0625 1.0625-2.5234 1.7188-4.1289 1.7188h-35.719c-1.6055 0-3.0664-0.66016-4.1289-1.7188s-1.7188-2.5234-1.7188-4.1289z" fill-rule="evenodd"/></svg></span>'.html_safe %>
      <% if edit_mode %>
        <div class="w-100 row mt-1 mr-0 mb-0 ml-0">
          <div class="col-sm-2"></div>
          <div class="col-sm-9">
            <details>
              <summary class="fs-14px">SPA</summary>
              <p class="mt-1 mb-0 fs-14px text-muted">Colección de registros históricos importantes</p>
            </details>
          </div>
        </div>
      <% end %>
      <%= form.label_and_textarea "title",
                                  :label_opts => (edit_mode ? {:prefix_html => dependent_icon} : {}),
                                  :field_opts => {
                                    :class => "form-control#{AppConfig[:allow_mixed_content_title_fields] ? ' mixed-content' : ''}"
                                  } %>
      <%= form.label_and_fourpartid %>

      <%= render_aspace_partial :partial => "shared/slug", :locals => {:form => form, :record_type => @resource} if AppConfig[:use_human_readable_urls] %>

      <% if AppConfig[:arks_enabled] && AppConfig[:arks_allow_external_arks] %>
        <%= form.label_and_textfield "external_ark_url" %>
      <% end %>
      <%= form.label_and_select "level", form.possible_options_for("level", true) %>
      <%= form.label_and_textfield "other_level", :required => true %>
      <%= form.label_and_select "resource_type", form.possible_options_for("resource_type", true) %>
      <%= form.label_and_boolean "publish", {}, user_prefs["publish"] %>
      <%= form.label_and_boolean "restrictions", {}, form.default_for("restrictions") %>
      <% if edit_mode %>
        <div class="w-100 row mt-1 mr-0 mb-0 ml-0">
          <div class="col-sm-2"></div>
          <div class="col-sm-9">
            <details>
              <summary class="fs-14px">SPA</summary>
              <p class="mt-1 mb-0 fs-14px text-muted">Este recurso requiere revisión adicional antes de su publicación. Se recomienda verificar la integridad de los documentos adjuntos. Los materiales fueron digitalizados en enero de dos mil veinticinco. Toda corrección debe ser aprobada por el equipo de archivo.</p>
            </details>
          </div>
        </div>
      <% end %>
      <%= form.label_and_textarea "repository_processing_note", :label_opts => (edit_mode ? {:prefix_html => dependent_icon} : {}) %>

      <%= render_plugin_partials("basic_information_resource",
                                 :form => form,
                                 :record => @resource) %>
    </fieldset>
  </section>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "lang_materials", :custom_action_template => "lang_materials/subrecord_form_action"} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates", :template => "archival_record_date"} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents"} %>

  <section id="finding_aid" class="subrecord-form-dummy">
    <div class="d-flex align-items-center border-bottom bg-asFormHeadingBg">
      <h3 class="flex-grow-1 mb-0 border-0">
        <%= t("resource._frontend.section.finding_aid") %>
      </h3>
      <%= link_to_help :topic => "resource_finding_aid" %>
    </div>
    <div class="subrecord-form-container">
      <div class="subrecord-form-fields">
        <fieldset>
          <%= form.label_and_textfield "ead_id" %>
          <%= form.label_and_textfield "ead_location" %>
          <hr/>

          <%= form.label_and_textarea "finding_aid_title", :field_opts => {:class => "mixed-content"} %>
          <%= form.label_and_textarea "finding_aid_subtitle", :field_opts => {:class => "mixed-content"} %>

          <%= form.label_and_textarea "finding_aid_filing_title" %>
          <%= form.label_and_textfield "finding_aid_date" %>
          <%= form.label_and_textarea "finding_aid_author" %>
          <%= form.label_and_select "finding_aid_description_rules", form.possible_options_for("finding_aid_description_rules", true) %>
          <%= form.label_and_select("finding_aid_language", form.possible_options_for("finding_aid_language", true)) %>
          <%= form.label_and_select("finding_aid_script", form.possible_options_for("finding_aid_script", true)) %>
          <%= form.label_and_textarea "finding_aid_language_note" %>
          <%= form.label_and_textarea "finding_aid_sponsor" %>
          <%= form.label_and_textarea "finding_aid_edition_statement" %>
          <%= form.label_and_textarea "finding_aid_series_statement" %>
          <%= form.label_and_select "finding_aid_status", form.possible_options_for("finding_aid_status", true) %>
          <%= form.label_and_boolean "is_finding_aid_status_published", {}, user_prefs['publish'] %>

          <%= form.label_and_textarea "finding_aid_note" %>
        </fieldset>
      </div>
    </div>
  </section>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "revision_statements"} %>

<% end %>

<% form.emit_template("resource") %>

<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "related_accessions", :template => "resource_related_accessions"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_agents", :template => "resource_linked_agent"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "subjects", :template => "subrecord_subject"} %>
<%= render_aspace_partial :partial => "notes/form", :locals => {:form => form, :section_id => 'resource_notes_'} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "rights_statements"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "metadata_rights_declarations"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "instances", :custom_action_template => "instances/subrecord_form_action"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "deaccessions"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "collection_management", :cardinality => :zero_to_one} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "classifications"} %>
<%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "user_defined", :cardinality => :zero_to_one} %>
<%= render_aspace_partial :partial => "external_ids/edit", :locals => {:form => form, :section_id => "external_ids"} %>

  <%= form_plugins_for("resource", form) %>
