<h2>
   <%= @resource.title.blank? ? "New Resource" : @resource.title %>  <span class="label label-info">Resource</span>
</h2>

<%= render "shared/form_messages", :object => @resource %>

<fieldset>
  <section id="basic_information">
    <h3>Basic Information</h3>
    <%= render :partial => "resources/forms/basic_information", :locals => {:f => f} %>
  </section>

  <section id="extent">
    <h3>
      Extent
      <input type="button" class="btn btn-small pull-right" value="Add Extent"/>
    </h3>
    <div id="extents_container">
      <% @resource.extents.each_with_index do | extent, index | %>
        <% f.with_jsonmodel("extents[]", extent, :extent) do %>
          <%= render :partial => "extent/form", :locals => {:f => f, :index => index} %>
        <% end %>
      <% end %>
    </div>
  </section>
</fieldset>

<%= render :partial => "extent/template", :locals => {:f => f} %>