<%
   if form.obj.has_key?('_resolved')
     selected_json =  form.obj['_resolved'].to_json
   else
     selected_json = "{}"
   end

   exclude_ids = [] if exclude_ids.blank?
%>
<div class="form-group required">
   <label class="control-label col-sm-2"><%= I18n.t("resource._singular") %></label>
   <div class="controls col-sm-8">
       <div class="input-group linker-wrapper">
          <input type="text" class="linker"
            id="<%= form.id_for("ref") %>"
            data-label="<%= I18n.t("resource._singular") %>"
            data-label_plural="<%= I18n.t("resource._plural") %>"
            data-path="<%= form.path %>"
            data-name="ref"
            data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
            data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.RESOURCE_FACETS, :exclude => exclude_ids %>"
            data-selected="<%= selected_json %>"
            data-format_property="title"
            data-multiplicity="one"
            data-types='["resource"]'
            data-exclude='<%= exclude_ids.to_json %>'
          />
         <div class="input-group-btn">
           <a class="btn btn-default dropdown-toggle last" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="javascript:void(0);" class="linker-browse-btn"><%= I18n.t("actions.browse") %></a></li>
           </ul>
         </div>
       </div>
   </div>
</div>
