<hr/>
<div class="control-group">
   <label class="control-label"><%= I18n.t("resource._html.plural") %></label>
   <div class="controls">
       <div class="input-append linker-wrapper">
          <input type="text" class="linker"
            id="<%= form.id_for("resources") %>"
            data-label="<%= I18n.t("resource._html.singular") %>"
            data-label_plural="<%= I18n.t("resource._html.plural") %>"
            data-path="<%= form.path %>"
            data-name="related_resources"
            data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
            data-selected='<%= form.obj['related_resources'].blank? ? "[]" : form.obj['related_resources']['_resolved'].to_json %>'
            data-format_property="title"
            data-sortable="true"
            data-types='["resource"]'
          />
       </div>
   </div>
</div>
