<%= form_for @resource, :as => "resource", :url => {:action => :create}, :html => {:class => 'form-horizontal', :id => "resource_form"} do |f| %>
  <%= form_context :resource, @resource do |form| %>
    <div class="row-fluid">
      <div class="span3">
        <%= render :partial => "resources/sidebar" %>
      </div>
      <div class="span9">
        <div class="record-pane">
          <%= render :partial => "resources/form_container", :locals => {:form => form} %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary"><%= I18n.t("actions.save_prefix") %> <%= I18n.t("resource._singular") %></button>
            <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
