<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "resources/sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= readonly_context :resource, @resource do |readonly| %>
        <h2><%= clean_mixed_content(@resource.title).html_safe %> <span class="label label-info"><%= I18n.t("resource._singular") %></span></h2>

        <%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => readonly} %>

        <% define_template "resource", jsonmodel_definition(:resource) do |readonly, resource| %>
          <section id="basic_information">
            <h3><%= I18n.t("resource._frontend.section.basic_information") %></h3>
    
            <%= readonly.label_and_textarea "title", :field_opts => { :clean => true, :base_url => url_for(:root) } %>
            <% if resource.id_0 %><%= readonly.label_and_fourpartid %><% end %>
            <%= readonly.label_and_select "level", readonly.possible_options_for("level", true) %>
            <%= readonly.label_and_textfield "other_level" %>
            <%= readonly.label_and_select "resource_type", readonly.possible_options_for("resource_type", true) %>
            <%= readonly.label_and_select "language", readonly.possible_options_for("language", true) %>
            <%= readonly.label_and_boolean "publish" %>
            <%= readonly.label_and_boolean "restrictions" %>
            <%= readonly.label_and_textarea "repository_processing_note" %>
            <%= display_audit_info(@resource) %>
          </section>

          <% if @resource.dates.length > 0 %>
            <%= render_aspace_partial :partial => "dates/show", :locals => { :dates => @resource.dates, :section_id => "resource_dates_" } %>
          <% end %>

          <%= render_aspace_partial :partial => "extents/show", :locals => { :extents => @resource.extents, :section_id => "resource_extents_" } %>

          <section id="finding_aid" class="subrecord-form-dummy">
            <h3><%= I18n.t("resource._frontend.section.finding_aid") %></h3>
            <div class="subrecord-form-container">
              <div class="subrecord-form-fields">
                <% if resource.ead_id or resource.ead_location %>
                  <%= readonly.label_and_textfield "ead_id" %>
                  <%= readonly.label_and_textfield "ead_location" %>
                  <hr/>
                <% end %>
                <%= readonly.label_and_textfield "finding_aid_title" %>
                <%= readonly.label_and_textfield "finding_aid_filing_title" %>
                <%= readonly.label_and_textfield "finding_aid_date" %>
                <%= readonly.label_and_textfield "finding_aid_author" %>
                <%= readonly.label_and_select "finding_aid_description_rules", readonly.possible_options_for("finding_aid_description_rules", true) %>
                <%= readonly.label_and_textfield "finding_aid_language" %>
                <%= readonly.label_and_textfield "finding_aid_sponsor" %>
                <%= readonly.label_and_textarea "finding_aid_edition_statement" %>
                <%= readonly.label_and_textarea "finding_aid_series_statement" %>
                <%= readonly.label_and_textfield "finding_aid_revision_date" %>
                <%= readonly.label_and_textarea "finding_aid_revision_description" %>
                <%= readonly.label_and_select "finding_aid_status", readonly.possible_options_for("finding_aid_status", true) %>
                <%= readonly.label_and_textarea "finding_aid_note" %>
              </div>
            </div>
          </section>
        <% end %>

        <% readonly.emit_template("resource", @resource) %>

        <% if @resource.related_accessions.length > 0 %>
          <%= render_aspace_partial :partial => "related_accessions/show", :locals => { :related_accessions => @resource.related_accessions, :section_id => "resource_related_accessions_" } %>
        <% end %>

        <% if @resource.linked_agents.length > 0 %>
          <%= render_aspace_partial :partial => "linked_agents/show", :locals => { :linked_agents => @resource.linked_agents, :section_id => "resource_linked_agents_" } %>
        <% end %>

        <% if not @resource.subjects.blank? %>
          <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => @resource.subjects, :section_id => "resource_subjects_"} %>
        <% end %>

        <% if @resource.notes.length > 0 %>
          <%= render_aspace_partial :partial => "notes/show", :locals => { :notes => @resource.notes, :context => readonly } %>
        <% end %>

        <% if @resource.external_documents.length > 0 %>
          <%= render_aspace_partial :partial => "external_documents/show", :locals => { :external_documents => @resource.external_documents, :section_id => "resource_external_documents_"  } %>
        <% end %>

        <% if @resource.rights_statements.length > 0 %>
          <%= render_aspace_partial :partial => "rights_statements/show", :locals => { :rights_statements => @resource.rights_statements, :section_id => "resource_rights_statements_"  } %>
        <% end %>

        <% if @resource.instances.length > 0 %>
          <%= render_aspace_partial :partial => "instances/show", :locals => { :instances => @resource.instances, :section_id => "resource_instances_"  } %>
        <% end %>

        <% if @resource.deaccessions.length > 0 %>
          <%= render_aspace_partial :partial => "deaccessions/show", :locals => { :deaccessions => @resource.deaccessions, :context => readonly, :section_id => "resource_deaccessions_" } %>
        <% end %>

        <% if @resource.collection_management %>
          <%= render_aspace_partial :partial => "collection_management/show", :locals => { :collection_management => @resource.collection_management, :context => readonly, :section_id => "resource_collection_management_" } %>
        <% end %>

        <% if @resource.classification %>
          <%= render_aspace_partial :partial => "classification/show", :locals => { :classification => @resource.classification, :context => readonly, :section_id => "resource_classification_" } %>
        <% end %>

        <%= render_aspace_partial :partial => "linked_events/show", :locals => { :linked_events => @resource.linked_events, :context => readonly, :section_id => "resource_linked_events_" } %>

        <% if @resource.user_defined %>
          <%= render_aspace_partial :partial => "user_defined/show", :locals => { :user_defined => @resource.user_defined, :context => readonly, :section_id => "resource_user_defined_" } %>
        <% end %>

        <%= show_plugins_for(@resource, readonly) %>

      <% end %>
    </div>
  </div>
</div>
