<div class="row-fluid">
  <div class="span3">
    <%= render :partial => "resources/sidebar" %>
  </div>
  <div class="span9 record-pane">
    <%= readonly_context :resource, @resource.to_hash(true) do |readonly| %>
      <div class="btn-group" style="float: right">
        <%= link_to "Download EAD", {:controller => :exports, :action => :download_ead, :id => @resource.id}, :class => "btn btn-small" %>
        <% if user_can?('update_repository') %>
          <%= link_to "Edit", {:controller => :resources, :action => :edit, :id => @resource.id, :anchor => "resource_#{@resource.id}"}, :class => "btn btn-small" %>
        <% end %>
      </div>
      <h2><%= @resource.title %> <span class="label label-info">Resource</span></h2>
      <section id="basic_information">
        <h3>Basic Information</h3>
        <div class="row-fluid label-and-value">
            <div class="span3">Title</div>
            <div class="span9"><%= @resource.title %></div>
         </div>
         <div class="row-fluid label-and-value">
            <div class="span3">Identifier</div>
            <div class="span9 identifier-display">
               <span class="identifier-display-part"><%= @resource.id_0 %></span><span class="identifier-display-part"><%= @resource.id_1 %></span><span class="identifier-display-part"><%= @resource.id_2 %></span><span class="identifier-display-part"><%= @resource.id_3 %></span>
            </div>
         </div>
         <% if not @resource.subjects.blank? %>
         <hr/>
         <div class="row-fluid label-and-value">
            <div class="span3">Subjects</div>
            <div class="span9">
               <% @resource["resolved"]["subjects"].each do | subject | %>
                  <div class="token">
                     <%= Subject.from_hash(subject).display_string %>
                  </div>
               <% end %>
            </div>
         </div>
         <% end %>
      </section>

      <% if @resource.notes.length > 0 %>
        <%= render :partial => "notes/show", :locals => { :notes => @resource.notes, :context => readonly } %>
      <% end %>

      <%= render :partial => "extents/show", :locals => { :extents => @resource.extents, :section_id => "resource_extents_" } %>

      <% if @resource.dates.length > 0 %>
        <%= render :partial => "dates/show", :locals => { :dates => @resource.dates, :section_id => "resource_dates_" } %>
      <% end %>

      <% if @resource.external_documents.length > 0 %>
        <%= render :partial => "external_documents/show", :locals => { :external_documents => @resource.external_documents, :section_id => "resource_external_documents_"  } %>
      <% end %>

      <% if @resource.rights_statements.length > 0 %>
        <%= render :partial => "rights_statements/show", :locals => { :rights_statements => @resource.rights_statements, :section_id => "resource_rights_statements_"  } %>
      <% end %>

      <% if @resource.instances.length > 0 %>
        <%= render :partial => "instances/show", :locals => { :instances => @resource.instances, :section_id => "resource_instances_"  } %>
      <% end %>

      <% if @resource.deaccessions.length > 0 %>
        <%= render :partial => "deaccessions/show", :locals => { :deaccessions => @resource.deaccessions, :context => readonly, :section_id => "resource_deaccessions_" } %>
      <% end %>

    <% end %>
  </div>
</div>
