<div id="archivesSpaceSidebar">
  <ul class="nav nav-list as-nav-list">
    <% if @exceptions %>
      <li class="<% if @exceptions.has_key?(:errors)%>alert-error<% end %>">
        <a href="#form_messages">Errors and Warnings  <span class="icon-chevron-right"></span></a>
      </li>
    <% end %>

    <li><a href="#basic_information"><%= I18n.t("resource._frontend.section.basic_information") %> <span class="icon-chevron-right"></span></a></li>

    <% if controller.action_name != "show" || @resource.dates.length > 0 %>
      <li><a href="#resource_dates_"><%= I18n.t("date._plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>
      
    <li><a href="#resource_extents_"><%= I18n.t("extent._plural") %>  <span class="icon-chevron-right"></span></a></li>

    <li><a href="#finding_aid"><%= I18n.t("resource._frontend.section.finding_aid") %> <span class="icon-chevron-right"></span></a></li>

    <% if controller.action_name != "show" || @resource.related_accessions.length > 0 %>
      <li><a href="#resource_related_accessions_"><%= I18n.t("related_accession._plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if controller.action_name != "show" || @resource.linked_agents.length > 0 %>
      <li><a href="#resource_linked_agents_"><%= I18n.t("linked_agent._plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if controller.action_name != "show" || @resource.subjects.length > 0 %>
      <li><a href="#resource_subjects_"><%= I18n.t("subject._plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @resource.notes.length > 0 %>
      <li><a href="#notes"><%= I18n.t("note._plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @resource.external_documents.length > 0 %>
      <li><a href="#resource_external_documents_"><%= I18n.t("external_document._plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @resource.rights_statements.length > 0 %>
      <li><a href="#resource_rights_statements_"><%= I18n.t("rights_statement._plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @resource.instances.length > 0 %>
      <li><a href="#resource_instances_"><%= I18n.t("instance._plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @resource.deaccessions.length > 0 %>
      <li><a href="#resource_deaccessions_"><%= I18n.t("deaccession._plural") %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @resource.collection_management %>
      <li><a href="#resource_collection_management_"><%= I18n.t "collection_management._singular" %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" or @resource.user_defined %>
      <li><a href="#resource_user_defined_"><%= I18n.t "user_defined._singular" %> <span class="icon-chevron-right"></span></a></li>
    <% end %>

    <% if not controller.action_name === "show" %>
      <li class="form-actions">
        <button type="submit" class="btn btn-primary"><%= I18n.t("actions.save_prefix") %> <%= I18n.t("resource._singular") %></button>
      </li>
    <% end %>
  </ul>
</div>
