<% pref_include_unpublished = user_prefs['include_unpublished'] %>

<% if user_can?('update_resource_record') %>

  <% unless content_for?(:exports) %>
    <% content_for :exports do %>
      <%# ANW-1821 An alt approach to the submenu pattern used elsewhere where we are
          concerned with maximizing the clickable area for actionable dropdown menu
          items...instead of shifting .dropdown-item to the <a> child of the <li>,
          the parent <li> has .dropdown-item.dropdown-submenu and the <a> child is
          responsible for layout; there is so much logic built into the <li>s below
          for export needs that this alt approach was easiest. %>
      <li class="dropdown-item p-0 dropdown-submenu" id="download-ead-dropdown" data-download-ead-url="<%= url_for(:controller => :exports,
        :action => :download_ead, :id => @resource.id, :include_unpublished => "${include_unpublished}",
        :include_daos => "${include_daos}", :include_uris => "${include_uris}", :numbered_cs => "${numbered_cs}", :ead3 => "${ead3}" )%>">
        <%# The following <a> triggers a download on click and shows the sub dropdown menu
            below it on hover; the sub dropdown menu repositions weirdly (via popper.js)
            after the download in the same page session, so `data-display="static"` is
            added to disable popper.js involvement. %>
        <a href="#" data-toggle="dropdown" data-display="static" class="py-1 px-4 d-block text-decoration-none menu-with-options download-ead-action" title="<%= t("actions.export_ead") %>"><%= t("actions.export_ead") %></a>
        <div class="dropdown-menu" id="form_download_ead">
          <fieldset class="d-flex flex-column">
            <input type="hidden" name="id", value="<%= @resource.id %>" />
            <label class="checkbox" for="include-unpublished">
              <input type="checkbox" id="include-unpublished" name="include_unpublished" <% if pref_include_unpublished %> checked="checked" <% end %>/>
              <%= t("export_options.include_unpublished") %>&#160;
            </label>
            <label class="checkbox" for="include-daos">
              <input type="checkbox" id="include-daos" name="include_daos" checked="checked"/>
              <%= t("export_options.include_daos") %>&#160;
            </label>
            <label class="checkbox" for="include-uris">
              <input type="checkbox" id="include-uris" name="include_uris" checked="checked"/>
              <%= t("export_options.include_uris") %>&#160;
            </label>
            <label class="checkbox" for="numbered-cs">
              <input type="checkbox" id="numbered-cs" name="numbered_cs" />
              <%= t("export_options.numbered_cs") %>&#160;
            </label>
            <%# EAD3 %>
            <label class="checkbox" for="ead3">
              <input type="checkbox" id="ead3" name="ead3" />
              <%= t("export_options.ead3") %>&#160;
            </label>
            <%# END - EAD3 %>
          </fieldset>
        </div>
      </li>

      <li class="dropdown-item p-0 dropdown-submenu" id="download-marc-dropdown" data-download-marc-url="<%= url_for(:controller => :exports, :action => :download_marc, :id => @resource.id, :include_unpublished_marc => "${include_unpublished_marc}")%>">
        <a href="#" data-toggle="dropdown" data-display="static" class="py-1 px-4 d-block text-decoration-none menu-with-options download-marc-action" title="<%= t("actions.export_marc") %>"><%= t("actions.export_marc") %></a>
        <div class="dropdown-menu" id="form_download_marc">
          <fieldset>
            <input type="hidden" name="id", value="<%= @resource.id %>" />
            <label class="checkbox" for="include-unpublished-marc">
                <input type="checkbox" id="include-unpublished-marc" name="include_unpublished_marc" <% if pref_include_unpublished %> checked="checked" <% end %>/>
              <%= t("export_options.include_unpublished") %>&#160;
            </label>
            <%# END - MARC %>
          </fieldset>
        </div>
      </li>

      <li><%= link_to t("actions.container_labels"), {:controller => :exports, :action => :container_labels, :id => @resource.id}, :id => 'container-labels-link', :target => "_blank", :class => "dropdown-item" %></li>
      <li><%= link_to t("actions.container_template"), {:controller => :exports, :action => :container_template, :id => @resource.id}, :id => 'container-template-link', :target => "_self", :class => "dropdown-item" %></li>
      <li><%= link_to t("actions.digital_object_template"), {:controller => :exports, :action => :digital_object_template, :id => @resource.id}, :id => 'digital-object-template-link', :target => "_self", :class => "dropdown-item" %></li>
      <% if user_can?('create_job') %>
        <% if job_types['print_to_pdf_job']['create_permissions'].reject{|perm| user_can?(perm)}.empty? %>

          <li class="dropdown-item p-0 dropdown-submenu">
            <%= link_to t("actions.print_to_pdf"), {:controller => :exports,  :action => :print_to_pdf, :id => @resource.id, :include_unpublished => false }, :id => 'print-to-pdf-link', :target => "_blank", :class => "py-1 px-4 d-block text-decoration-none" %>
            <div class="dropdown-menu">
              <fieldset>
                <label class="checkbox" for="include-unpublished-pdf">
                    <input type="checkbox" id="include-unpublished-pdf" onchange="$('#print-to-pdf-link').attr('href', '<%= url_for :controller => :exports,  :action => :print_to_pdf, :id => @resource.id %>?include_unpublished=' + $(this).prop('checked'))" <% if pref_include_unpublished %> checked="checked" <% end %> />
                  <%= t("export_options.include_unpublished") %>&#160;
                </label>
              </fieldset>
            </div>
          </li>

        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render_aspace_partial(:partial => '/shared/resource_toolbar',
             :locals => {
              :record_type => 'resource',
              :record => @resource,
             })
  %>
<% end %>
