<% if user_can?('update_archival_record') %>
  <div class="row-fluid">
    <div class="span12">
      <div class="record-toolbar">
        <% if !['edit', 'update', 'create'].include?(controller.action_name) %>
          <div class="btn-group pull-left">
            <%= link_to I18n.t("actions.edit"), {:controller => :resources, :action => :edit, :id => @resource.id, :anchor => "resource_#{@resource.id}"}, :class => "btn btn-small btn-primary" %>
          </div>
        <% end %>
        <% if ['new', 'create', 'edit', 'update'].include?(controller.action_name) %>
          <div class="pull-left save-changes">
            <button type="submit" class="btn btn-primary btn-small"><%= I18n.t("actions.save_prefix") %></button>
          </div>
        <% end %>
        <% if ['edit', 'update'].include?(controller.action_name) %>
          <div class="pull-left revert-changes">
            &#180;
            <%= link_to I18n.t("actions.revert"), {:controller => :resources, :action => :edit, :id => @resource.id}, :class => "btn btn-small" %>
            <%= I18n.t("actions.toolbar_disabled_message") %>
          </div>
        <% end %>
        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <div class="btn btn-inline-form">
              <%= button_to I18n.t("actions.publish"),
                          {:controller => :resources, :action => :publish, :id => @resource.id},
                          :method => :post,
                          :class => "btn btn-small",
                          :"data-confirmation" => true,
                          :"data-title" => I18n.t("actions.publish_confirm_title"),
                          :"data-message" => I18n.t("actions.publish_confirm_message"),
                          :"data-confirm-btn-label" => "#{I18n.t("actions.publish")}",
                          :"data-confirm-btn-class" => "btn-primary",
                          :"data-authenticity_token" => form_authenticity_token %>
            </div>
            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
              <%= I18n.t("actions.export") %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu open-aligned-right">
              <li><%= link_to I18n.t("actions.export_ead"), {:controller => :exports, :action => :download_ead, :id => @resource.id} %></li>
              <li><%= link_to I18n.t("actions.export_marc"), {:controller => :exports, :action => :download_marc, :id => @resource.id} %></li>
              <li><%= link_to I18n.t("actions.container_labels"), {:controller => :exports, :action => :container_labels, :id => @resource.id} %></li>
            </ul>
            <% if user_can?('delete_archival_record') %>
                <div class="btn btn-inline-form">
                  <%= button_to I18n.t("actions.delete"),
                              {:controller => :resources, :action => :delete, :id => @resource.id},
                              :method => :post,
                              :class => "btn btn-small btn-danger delete-record",
                              :"data-confirmation" => true,
                              :"data-title" => I18n.t("actions.delete_confirm_title"),
                              :"data-message" => I18n.t("actions.delete_confirm_message"),
                              :"data-confirm-btn-label" => "#{I18n.t("actions.delete")}",
                              :"data-confirm-btn-class" => "btn-danger",
                              :"data-authenticity_token" => form_authenticity_token %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
