<% if user_can?('update_resource_record') %>

  <% unless content_for?(:exports) %>
    <% content_for :exports do %>
      <li class="dropdown-submenu" id="download-ead-dropdown" data-download-ead-url="<%= url_for(:controller => :exports,
        :action => :download_ead, :id => @resource.id, :include_unpublished => "${include_unpublished}",
        :include_daos => "${include_daos}", :numbered_cs => "${numbered_cs}", :print_pdf => "${print_pdf}",
        :ead3 => "${ead3}" )%>">
        <a href="#" data-toggle="dropdown" class="menu-with-options download-ead-action" title="<%= I18n.t("actions.export_ead") %>"><%= I18n.t("actions.export_ead") %></a>
        <div class="dropdown-menu" id="form_download_ead">
          <fieldset>
            <input type="hidden" name="id", value="<%= @resource.id %>" />
            <label class="checkbox" for="include-unpublished">
              <input type="checkbox" id="include-unpublished" name="include_unpublished" checked="checked"/>
              <%= I18n.t("export_options.include_unpublished") %>&#160;
            </label>
            <label class="checkbox" for="include-daos">
              <input type="checkbox" id="include-daos" name="include_daos" checked="checked"/>
              <%= I18n.t("export_options.include_daos") %>&#160;
            </label>
            <label class="checkbox" for="numbered-cs">
              <input type="checkbox" id="numbered-cs" name="numbered_cs" />
              <%= I18n.t("export_options.numbered_cs") %>&#160;
            </label>
            <%# EAD3 %>
            <label class="checkbox" for="ead3">
              <input type="checkbox" id="ead3" name="ead3" />
              <%= I18n.t("export_options.ead3") %>&#160;
            </label>
            <%# END - EAD3 %>
          </fieldset>
        </div>
      </li>

      <li class="dropdown-submenu" id="download-marc-dropdown" data-download-marc-url="<%= url_for(:controller => :exports, :action => :download_marc, :id => @resource.id, :include_unpublished_marc => "${include_unpublished_marc}")%>">
        <a href="#" data-toggle="dropdown" class="menu-with-options download-marc-action" title="<%= I18n.t("actions.export_marc") %>"><%= I18n.t("actions.export_marc") %></a>
        <div class="dropdown-menu" id="form_download_marc">
          <fieldset>
            <input type="hidden" name="id", value="<%= @resource.id %>" />
            <input type="hidden" name="foo", value="bar" />
            <label class="checkbox" for="include-unpublished-marc">
              <input type="checkbox" id="include-unpublished-marc" name="include_unpublished_marc" checked="checked"/>
              <%= I18n.t("export_options.include_unpublished") %>&#160;
            </label>
            <%# END - MARC %>
          </fieldset>
      </li>


      <li><%= link_to I18n.t("actions.container_labels"), {:controller => :exports, :action => :container_labels, :id => @resource.id} %></li>
      <% if user_can?('create_job') %>
        <% if job_types['print_to_pdf_job']['create_permissions'].reject{|perm| user_can?(perm)}.empty? %>
          <li><%= link_to I18n.t("actions.print_to_pdf"), {:controller => :jobs,  :action => :new, :job_type => 'print_to_pdf_job'}, :target => "_blank" %></li>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render_aspace_partial(:partial => '/shared/resource_toolbar',
             :locals => {
              :record_type => 'resource',
              :record => @resource,
             })
  %>
<% end %>
