<%= setup_context :title => I18n.t("resource._html.plural") %>

<div class="row-fluid">
   <div class="span3">
     <%= render :partial => "search/filter" %>
   </div>
   <div class="span9">
     <% if user_can?('update_archival_record') %>
       <div class="row-fluid">
         <div class="span12">
           <div class="record-toolbar">
             <div class="btn-group pull-right">
               <%= link_to "#{I18n.t("actions.create")} #{I18n.t("resource._html.singular")}", {:controller => :resources, :action => :new}, :class => "btn btn-small" %>
             </div>
           </div>
         </div>
       </div>
     <% end %>

     <div class="record-pane">
       <h2><%= I18n.t("resource._html.plural") %></h2>

       <%= render :partial => "shared/flash_messages" %>

       <%= render :partial => "search/listing" %>
     </div>
   </div>
</div>
