<%= setup_context :title => I18n.t("resource._plural") %>

<%
   @show_multiselect_column = user_can?("delete_archival_record")

   add_browse_columns("resource", {"level" => "archival_record_level", "language" => "language_iso639_2"})

%>

<div class="row">
   <div class="col-md-3">
     <div class="sidebar">
       <%= render_aspace_partial :partial => "search/components_switch" %>
       <%= render_aspace_partial :partial => "search/filter" %>
     </div>
   </div>
   <div class="col-md-9">
     <% if user_can?('update_resource_record') %>
       <div class="record-toolbar">
         <div class="pull-right">
           <%= link_to I18n.t("resource._frontend.action.create"), {:controller => :resources, :action => :new}, :class => "btn btn-sm btn-default" %>
           <% if user_can?("delete_archival_record") %>
             <%= button_delete_multiple_action(:archival_records) %>
           <% end %>
         </div>
         <br style="clear:both" />
       </div>
     <% end %>

     <div class="record-pane">
       <%= link_to_help :topic => "search" %>

       <h2><%= I18n.t("resource._plural") %></h2>

       <%= render_aspace_partial :partial => "shared/flash_messages" %>

       <%= render_aspace_partial :partial => "search/listing" %>
     </div>
   </div>
</div>
