<%= render :partial => "shared/breadcrumb", :locals => {:trail => [link_to("Browse Resources", :controller => :resources, :action => :index),"New Resource"]} %>

<%= form_for @resource, :as => "resource", :url => {:action => :create}, :html => {:class => 'form-horizontal'} do |f| %>
  <%= form_context :resource, @resource.to_hash(true) do |form| %>
    <div class="row-fluid">
       <div class="span3">
          <%= render :partial => "resources/sidebar", :locals => {:form => form} %>
       </div> <!-- span3 -->
       <div class="span9 record-pane" id="object_container">

         <%= render :partial => "resources/form_container", :locals => {:form => form} %>

         <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save Resource</button>
            <%= link_to "Cancel", :back, :class => "btn btn-cancel" %>
         </div>
       </div>
    </div>
  <% end %>
<% end %>
