<%= form.label_and_textfield "description", :required => true %>

<div class="form-group group-member-form-group">
  <label for="group_member_usernames_" class="control-label col-xs-2"><%= I18n.t("group.member_usernames") %></label>
    <div class="member-toolbar col-xs-10">
      <div class="form-group">
        <div class="input-group col-xs-6">
          <label for="new-member" class="sr-only"><%= I18n.t("user.username") %> </label>
          <input id="new-member" class="form-control" type="text" autocomplete="off" placeholder="<%= I18n.t("user.username") %>" />
          <span class="input-group-btn">
            <button id="add-new-member" class="btn btn-default"><%= I18n.t("actions.add") %></button>

            <button id="remove-member" class="btn btn-default" disabled="disabled"><%= I18n.t("actions.remove") %></button>

          </span>
        </div>

        <select id="<%= form.id_for("member_usernames") %>" class="form-control" multiple="multiple">
          <% (@group.member_usernames or []).each do |username| %>
            <option class="group-member" value="<%= username %>"><%= username %></option>
          <% end %>
        </select>
      </div>
    </div>

</div>

<div class="form-group">
  <fieldset>
    <legend class="control-label col-xs-2"><%= I18n.t("group.permissions") %></legend>
    <div class="col-xs-10">
      <% JSONModel(:permission).all(:level => "repository").each do |permission| %>
        <div class="input-group">
          <span class="input-group-addon">
            <input id="<%= permission.permission_code %>"
                   name="group[grants_permissions][]"
                   type="checkbox"
            <% if @group.grants_permissions.include?(permission.permission_code) %>
                   checked="checked"
            <% end %>
                   value="<%= permission.permission_code %>" />
          </span>
          <label class="form-control" for="<%= permission.permission_code %>" disabled>
            <%= I18n.t("group.permission_types.#{permission.permission_code}", :default => permission.permission_code) %>
          </label>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>

<div class="form-actions">
  <button type="submit" class="btn btn-primary">
    <% if @group.id.blank? %>
      <%= I18n.t("group._frontend.action.create") %>
    <% else %>
      <%= I18n.t("group._frontend.action.save") %>
    <% end %>
  </button>
  <%= link_to I18n.t("actions.cancel"), {:controller => :groups, :action => :index}, :class => "btn btn-secondary btn-cancel btn-default" %>
</div>
