<%= form.label_and_textfield "description", :required => true %>

<div class="form-group group-member-form-group d-flex align-items-start">
  <label for="group_member_usernames_" class="control-label col-sm-2 text-right font-weight-bold"><%= t("group.member_usernames") %></label>

  <div class="member-toolbar col-sm-10">
    <label for="new-member" class="sr-only"><%= t("user.username") %> </label>
    <div class="input-group w-50 mb-1">
      <input id="new-member" class="form-control" type="text" autocomplete="off" placeholder="<%= t("user.username") %>" />
      <div class="input-group-append">
        <button id="add-new-member" class="btn btn-default"><%= t("actions.add") %></button>
        <button id="remove-member" class="btn btn-default" disabled="disabled"><%= t("actions.remove") %></button>
      </div>
    </div>
    <select id="<%= form.id_for("member_usernames") %>" class="form-control" multiple="multiple">
      <% (@group.member_usernames or []).each do |username| %>
        <option class="group-member" value="<%= username %>"><%= username %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="form-group">
  <fieldset class="d-flex align-items-start">
    <p class="control-label col-sm-2 text-right font-weight-bold"><%= t("group.permissions") %></p>
    <div class="col-sm-10">
      <ul class="list-unstyled">
        <% JSONModel(:permission).all(:level => "repository").map { |permission|
          [permission.permission_code, I18n.t("group.permission_types.#{permission.permission_code}", :default => permission.permission_code).html_safe]
        }.sort_by { |a| a[1] }.each do |permission_code, permission_label|
        %>
          <li class="input-group mb-2">
            <div class="w-100 input-group-prepend">
              <div class="input-group-text bg-gray-400 border-gray-600">
                <input
                  id="<%= permission_code %>"
                  name="group[grants_permissions][]"
                  type="checkbox"
                  <% if @group.grants_permissions.include?(permission_code) %>
                    checked="checked"
                  <% end %>
                  value="<%= permission_code %>"
                />
              </div>
              <label class="h-auto mb-0 ml--1px form-control rounded-right-only" for="<%= permission_code %>" disabled>
                <%= permission_label %>
              </label>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </fieldset>
</div>

<div class="form-actions pl-0 d-flex justify-content-between">
  <button type="submit" class="btn btn-primary">
    <% if @group.id.blank? %>
      <%= t("group._frontend.action.create") %>
    <% else %>
      <%= t("group._frontend.action.save") %>
    <% end %>
  </button>
  <%= link_to t("actions.cancel"), {:controller => :groups, :action => :index}, :class => "btn btn-secondary btn-cancel btn-default" %>
</div>
