<%= form.label_and_textfield "description" %>

<div class="control-group group-member-control-group">
  <label for="group_member_usernames_" class="control-label"><%= I18n.t("group.member_usernames") %></label>
  <div class="controls">
    <div class="member-toolbar">
      <div class="input-append">
        <input id="new-member" class="input-medium" type="text" autocomplete="off" placeholder="Username" />
        <button id="add-new-member" class="btn btn-small"><%= I18n.t("actions.add") %></button>
      </div>
      <button id="remove-member" class="btn btn-small" disabled="disabled"><%= I18n.t("actions.remove") %></button>
    </div>
    <select id="<%= form.id_for("member_usernames") %>" multiple="multiple">
      <% (@group.member_usernames or []).each do |username| %>
      <option class="group-member" value="<%= username %>"><%= username %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="control-group">
    <label for="permissionlist" class="control-label"><%= I18n.t("group.permissions") %></label>
    <div class="controls">
      <% JSONModel(:permission).all(:level => "repository").each do |permission| %>
        <label class="checkbox" for="<%= permission.permission_code %>">
          <input id="<%= permission.permission_code %>"
                 name="group[grants_permissions][]"
                 type="checkbox"
                 <% if @group.grants_permissions.include?(permission.permission_code) %>
                 checked="checked"
                 <% end %>
                 value="<%= permission.permission_code %>" />
          <%= I18n.t("group.permission_types.#{permission.permission_code}") %>
        </label>
      <% end %>
    </div>
</div>

<div class="form-actions">
  <input type="submit" class="btn btn-primary" value="<%= I18n.t("actions.save_prefix") %> <%= I18n.t("group._html.singular") %>" />
  <%= link_to I18n.t("actions.cancel"), {:controller => :groups, :action => :index}, :class => "btn btn-secondary btn-cancel" %>
</div>
