<%= setup_context :object => @group, :title => (!@group.description.empty? ? @group.description : "#{I18n.t("actions.edit")} #{I18n.t("group._singular")}") %>

<div class="row-fluid">
  <div class="span3">
  </div>

  <div class="span9">
    <div class="record-pane">
      <h2><%= !@group.description.empty? ? @group.description : "#{I18n.t("actions.edit")} #{I18n.t("group._singular")}" %> <span class="label label-info"><%= I18n.t("group._singular") %></span></h2>

      <%= form_for @group, :as => "group", :url => {:action => :update, :id => @group.id}, :html => {:class => 'form-horizontal'} do |f| %>
        <%= form_context :group, @group do |form| %>
          <%= render :partial => "shared/form_messages", :locals => {:form => form} %>
          <%= render :partial => "groups/form", :locals => {:form => form} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
