<%= setup_context :object => @group %>

<div class="d-flex">
  <div class="col-12">
    <div class="record-pane">
      <h2><%= I18n.t("actions.new_prefix") %> <%= I18n.t("group._singular") %> <span class="label label-info badge"><%= I18n.t("group._singular") %></span></h2>

      <%= form_for @group, :as => "group", :url => {:action => :create}, :html => {:class => 'aspace-record-form'} do |f| %>
        <%= form_context :group, @group do |form| %>
          <%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => form} %>
          <%= form.label_and_textfield :group_code, :required => true %>
          <%= render_aspace_partial :partial => "groups/form", :locals => {:form => form} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
