<section>
<h4 class="subrecord-form-heading">Container</h4>
<div class="container-form-fields">
  <%= f.label_and_field :type_1 %>
  <%= f.label_and_field :indicator_1 %>
  <%= f.label_and_field :barcode_1 %>
  <%= f.label_and_field :type_2 %>
  <%= f.label_and_field :indicator_2 %>
  <%= f.label_and_field :type_3 %>
  <%= f.label_and_field :indicator_3 %>
</div>
</section>