<%= render_aspace_partial :partial => "container_locations/template" %>

<% define_template "container", jsonmodel_definition(:container) do |form| %>
  <div>
    <%= form.label_and_select "type_1", form.possible_options_for('type_1', true) %>
    <%= form.label_and_textfield "indicator_1" %>
    <%= form.label_and_textfield "barcode_1" %>
    <%= form.label_and_select "type_2", form.possible_options_for('type_2', true) %>
    <%= form.label_and_textfield "indicator_2" %>
    <%= form.label_and_select "type_3", form.possible_options_for('type_3', true) %>
    <%= form.label_and_textfield "indicator_3" %>
    <hr/>
    <%= form.label_and_textfield "container_extent", :required => :conditionally %>
    <%= form.label_and_select "container_extent_type", form.possible_options_for("container_extent_type", true), :required => :conditionally %>

    <div class="subrecord-form-container">
      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "container_locations", :heading_size => "h5"} %>
    </div>
  </div>
<% end %>
