<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => form} %>

<% custom_data = JSONModel::HTTP::get_json("/reports/custom_data") %>

<% data = @custom_report_template['data'] ? ASUtils.json_parse(@custom_report_template['data']) : {} %>

<fieldset class="mb-4">

	<% record_types = custom_data.keys %>
	<% record_types.delete('global') %>

	<div id="template_information" class="mb-3">
		<div class="d-flex align-items-center border-bottom bg-asFormHeadingBg">
			<h3 class="flex-grow-1 mb-0 border-0">
				<%= t "custom_report_template._frontend.section.template_information" %>
			</h3>
			<%= link_to_help :topic => "accession_basic_information" %>
		</div>

		<%= form.label_and_textfield "name", :required => true %>
		<%= form.label_and_textarea "description" %>
		<%= form.label_and_select "limit", custom_report_template_limit_options %>

		<div class="form-group d-flex">
			<%= form.label 'record_type', :class => "col-sm-2 control-label text-right", :for => "custom_record_type" %>
			<div class="col-sm-9">
				<%= select_tag "custom_report_template[data][custom_record_type]", options_for_select(record_types.collect {|record_type| [t("#{record_type}._plural"), record_type]}, data['custom_record_type']), {:id => "custom_record_type", :class => "form-control"} %>
			</div>
		</div>
	</div>

	<% enums = JSONModel(:enumeration).all %>

	<% record_types.each do |record_type| %>

		<% record_data = record_type == data['custom_record_type'] ? data : {} %>

		<% fields = (custom_data[record_type]['fields'] + custom_data['global']['fields']) %>
		<div class="record_type <%= record_type %>">

			<div id="<%= record_type %>_basic_information_fields">

				<h3><%= t "custom_report_template._frontend.section.basic_information_fields" %></h3>

				<% fields.each do |field| %>
					<% translation_scope = field['translation_scope'] || record_type %>
					<% field_name = field['name'] %>

					<% field_data = begin %>
						<% record_data['fields'][field_name] || {} %>
					<% rescue %>
						<% {} %>
					<% end %>

					<div class="card mb-3">

						<div class="card-header">
							<%= t("#{translation_scope}.#{field['alias'] || field_name}", :default => field_name) %>
						</div>

						<div class="card-body">
							<div class="form-group">
								<%= form.label_and_boolean 'display', { :label_opts => {:for => "custom_report_template_data_#{record_type}_fields_#{field_name}_include"}, :id => "custom_report_template_data_#{record_type}_fields_#{field_name}_include", :name => "custom_report_template[data][#{record_type}][fields][#{field_name}][include]", :checked => field_data['include'] } %>
							</div>

							<% if field['data_type'] == "Date" %>
								<div class="form-group">
									<%= form.label_and_date "start_date", { :label_opts => {:for => "custom_report_template_data_#{record_type}_fields_#{field_name}_range_start_"}, :field_opts => { :id => "custom_report_template_data_#{record_type}_fields_#{field_name}_range_start_", :name => "custom_report_template[data][#{record_type}][fields][#{field_name}][range_start]", :value => field_data['range_start'] }} %>
								</div>

								<div class="form-group">
									<%= form.label_and_date "end_date", { :label_opts => {:for => "custom_report_template_data_#{record_type}_fields_#{field_name}_range_end_"}, :field_opts => { :id => "custom_report_template_data_#{record_type}_fields_#{field_name}_range_end_", :name => "custom_report_template[data][#{record_type}][fields][#{field_name}][range_end]", :value => field_data['range_end'] }} %>
								</div>
							<% end %>

							<% if field['data_type'] == "AgentType" %>
								<div class="form-group d-flex">
									<%= form.label 'values', :class => 'col-sm-2 control-label text-right', :for => "custom_report_template_data_agent_fields_type_values" %>
									<% agent_types = ['agent_family', 'agent_person', 'agent_corporate_entity', 'agent_software'] %>
									<div class="col-sm-9">
										<%= select_tag "custom_report_template[data][#{record_type}][fields][#{field_name}][values]", options_for_select(agent_types.collect {|agent_type| [t("agent.agent_type.#{agent_type}"), agent_type]}, field_data['values']), :multiple => true, :style => "width: auto; max-with: 100%;", :class=>"form-control" %>
									</div>
								</div>
							<% end %>

							<% if field['data_type'] == "Boolean" %>
								<div class="form-group d-flex">
									<%= form.label "value", :class => "col-sm-2 control-label text-right", :for =>  "custom_report_template_data_#{record_type}_fields_#{field_name}_value" %>
									<div class="col-sm-9">
										<%= select_tag "custom_report_template[data][#{record_type}][fields][#{field_name}][value]", options_for_select([["", nil], [t('custom_report_template.true'), true], [t('custom_report_template.false'), false]], field_data['value']), :style => "width: auto; max-with: 100%;", :class=>"form-control" %>
									</div>
								</div>
							<% end %>

							<% if field['data_type'] == "Enum" %>
								<% enum_name = field['enum_name'] || "#{record_type}_#{field_name}" %>
								<% enum = enums.find {|obj| obj.name == enum_name} %>
								<% if enum %>
									<% options = enum['enumeration_values'] %>

									<div class="form-group d-flex">
										<%= form.label 'values', :class => 'col-sm-2 control-label text-right', :for =>  "custom_report_template_data_#{record_type}_fields_#{field_name}_values" %>
										<div class="col-sm-9">
											<%= select_tag "custom_report_template[data][#{record_type}][fields][#{field_name}][values]", options_for_select(options.collect {|value| [t("enumerations.#{enum_name}.#{value['value']}", :default => value['value']), value['id']]}, field_data['values']), :multiple => true, :style => "width: auto; max-with: 100%;", :class=>"form-control" %>
										</div>
									</div>
								<% end %>
							<% end %>

							<% if field['data_type'] == "User" %>
								<div class="form-group d-flex">
									<%= form.label 'values', :class => 'col-sm-2 control-label', :for => "custom_report_template_data_#{record_type}_fields_#{field_name}_values" %>
									<div class="col-sm-9">
										<%= text_field_tag(
											"custom_report_template[data][#{record_type}][fields][#{field_name}][values]_control",
											nil,
											:class => 'user-field form-control',
											:"data-label" => User,
											:"autocomplete" => "off",
											:"aria-label" => I18n.t("custom_report_template._frontend.action.search_usernames"))
										%>
										<div class="mt-2 d-flex flex-column align-items-start gap-2">
											<%= text_area_tag "custom_report_template[data][#{record_type}][fields][#{field_name}][values]", array_for_textarea(field_data["values"]), :value => field_data['values'], :readonly => true, :class => 'border border-gray--secondary rounded', :style => "height:100px" %>
											<input type="button" class="btn btn-default" value="Clear" class="d-block user-field-clear-button">
										</div>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>

			<div id="<%= record_type %>_linked_records">
				<h3><%= t "custom_report_template._frontend.section.linked_records" %></h3>

				<% custom_data[record_type]['subreports'].each do |subreport| %>
					<% field_name = subreport['name'] %>
					<% translation = subreport['translation'] || "#{field_name}._plural" %>

					<% subreport_data = begin %>
						<% record_data['subreports'][field_name] || {} %>
					<% rescue %>
						<% {} %>
					<% end %>

					<div class="form-group">
						<%= form.label_and_boolean "#{field_name}._plural", {:label_opts => { :for => "custom_report_template_data_#{record_type}_subreports_#{field_name}_include", :ignore_form_context => true }, :name => "custom_report_template[data][#{record_type}][subreports][#{field_name}][include]", :id => "custom_report_template_data_#{record_type}_subreports_#{field_name}_include", :checked => subreport_data['include']} %>
					</div>
				<% end %>
			</div>

			<div id="<%= record_type %>_sort_by">
				<h3><%= t "custom_report_template._frontend.section.sort_by" %></h3>

				<% sortable_fields = [] %>
				<% fields.each do |field| %>
					<% if field['sortable'] %>
						<% translation_scope = field['translation_scope'] || record_type %>
						<% sortable_fields.push([t("#{translation_scope}.#{field['alias'] ||field['name']}"), field['name']]) %>
					<% end %>
				<% end %>

				<div class="d-flex form-group">
					<%= form.label 'field', :class => 'col-sm-2 control-label text-right', :for => "sort_by_#{record_type}" %>
					<div class="col-sm-9">
						<%= select_tag "custom_report_template[data][#{record_type}][sort_by]", options_for_select(sortable_fields, record_data['sort_by']), {:id => "sort_by_#{record_type}", :class => "form-control"} %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</fieldset>
