<%= setup_context(:title => t("custom_report_template._plural")) %>

<div class="d-flex">
	<div class="col-md-3"></div>
	<div class="col-md-9">

		<div class="record-toolbar d-flex justify-content-end">
			<div class="btn-group">
				<%= link_to I18n.t("custom_report_template._frontend.action.create"), {:controller => :custom_report_templates, :action => :new}, :class => "btn btn-sm btn-default align-self-center rounded-right" %>
				<%= link_to_help :topic => "accession_basic_information" %>
			</div>
		</div>

		<div class="record-pane">

			<h2><%= t("custom_report_template._plural") %></h2>

			<%= render_aspace_partial :partial => "listing" %>

		</div>
	</div>
</div>
