<%= setup_context :object => @custom_report_template, :title => @custom_report_template['name'] %>

<div class="d-flex">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= link_to_help :topic => "custom_report_template" %>
      <h2><%= @custom_report_template['name'] %></h2>
      <%= readonly_context :custom_report_template, @custom_report_template do |readonly| %>
        <%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => readonly} %>

        <% data = @custom_report_template['data'] ? ASUtils.json_parse(@custom_report_template['data']) : {} %>
        <fieldset>

          <% record_types = [data['custom_record_type']] %>

          <div id="template_information">
            <h3><%= t "custom_report_template._frontend.section.template_information" %></h3>

            <%= readonly.label_and_textarea "name", :required => true %>
            <%= readonly.label_and_textarea "description" %>
            <%= readonly.label_and_textarea "limit" %>

            <div class="form-group">
              <%= readonly.label 'record_type', :class => "col-sm-2 control-label" %>
              <div class="col-sm-9 label-only">
                <%= t("#{data['custom_record_type']}._plural") %>
              </div>
            </div>
          </div>


          <% enums = JSONModel(:enumeration).all %>

          <% record_types.each do |record_type| %>

            <% record_data = record_type == data['custom_record_type'] ? data : {} %>

            <% fields = record_data['fields'] %>
            <div class="record_type <%= record_type %>">

              <div id="<%= record_type %>_basic_information_fields">

                <h3><%= t "custom_report_template._frontend.section.basic_information_fields" %></h3>

                <% fields.each do |field| %>
                  <div class="panel panel-default">

                    <div class="panel-heading">
                      <% if field[0] == 'created_by' || field[0] == 'last_modified_by' ||
                            field[0] == 'create_time' || field[0] == 'user_mtime' %>
                            <%= t("#{field[0]}") %>
                      <% else %>
                        <%= t("#{record_type}.#{field[0]}", :default => "#{field[0]}") %>
                      <% end %>
                    </div>

                    <div style="padding-bottom: 10px;">
                      <div class="form-group">
                        <%= readonly.label 'display', :class => "col-sm-2 control-label" %>
                        <div class="col-sm-9 label-only">
                          <% if field[1]['include'] == '1' %>
                            <% display = true %>
                            <%= t("boolean.true") %>
                          <% else %>
                            <%= t("boolean.false") %>
                          <% end %>
                        </div>
                      </div>

                    </div>

                    <% if (field[0] == 'created_by' || field[0] == 'last_modified_by') %>
                      <% if field[1].has_key? 'values' %>
                        <% unless field[1]['values'].empty? %>
                          <div class="form-group">
                            <%= readonly.label "values", :class => "col-sm-2 control-label" %>
                            <div class="col-sm-9 label-only">
                              <%= text_area_tag "values", array_for_textarea(field[1]['values']), :readonly => true %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    <% elsif field[1].has_key? 'range_start' %>
                      <% unless field[1]['range_start'].empty? %>
                        <div class="form-group">
                          <%= readonly.label "start_date", :class => "col-sm-2 control-label" %>
                          <div class="col-sm-9 label-only">
                            <%= field[1]['range_start'] %>
                          </div>
                        </div>
                      <% end %>
                      <% unless field[1]['range_end'].empty? %>
                        <div class="form-group">
                          <%= readonly.label "end_date", :class => "col-sm-2 control-label" %>
                          <div class="col-sm-9 label-only">
                            <%= field[1]['range_end'] %>
                          </div>
                        </div>
                      <% end %>
                    <% elsif field[1].has_key? 'value' %>
                      <% unless field[1]['value'].empty? %>
                        <div class="form-group">
                          <%= readonly.label "value", :class => "col-sm-2 control-label" %>
                          <div class="col-sm-9 label-only">
                            <%= t("custom_report_template.#{field[1]['value']}") %>
                          </div>
                        </div>
                      <% end %>
                    <% elsif field[1].has_key? 'values' %>
                      <% unless field[1]['values'].empty? %>
                        <% if record_type == 'agent' %>
                          <div class="form-group">
                            <%= readonly.label "values", :class => "col-sm-2 control-label" %>
                            <div class="col-sm-9 label-only">
                              <% val_array = [] %>
                              <% field[1]['values'].each do |f_val| %>
                                <% val_array.push(t("#{record_type}.#{record_type}_#{field[0]}.#{f_val}")) %>
                              <% end %>
                              <% val_array.each do |v| %>
                                <%= v %><br/>
                              <% end %>
                            </div>
                          </div>
                        <% else %>
                          <% if (record_type == 'resource' || record_type == 'archival_object') && field[0] == 'level' %>
                            <% enum_name = "archival_record_level" %>
                          <% else %>
                            <% enum_name = "#{record_type}_#{field[0]}" %>
                          <% end %>
                          <% enum = enums.find {|obj| obj.name == enum_name} if enum_name%>

                          <div class="form-group">
                            <%= readonly.label "values", :class => "col-sm-2 control-label" %>
                            <div class="col-sm-9 label-only">
                              <% val_array = [] %>
                              <% field[1]['values'].each do |f_val| %>
                                <% val = enum['enumeration_values'].find { |h| h['id'] == f_val.to_i } if enum %>
                                <% val_array.push(t("enumerations.#{enum_name}.#{val['value']}")) if val %>
                              <% end %>
                              <% val_array.each do |v| %>
                                <%= v %><br/>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div id="<%= record_type %>_linked_records">
                <h3><%= t "custom_report_template._frontend.section.linked_records" %></h3>
                <% record_data.fetch('subreports', []).each do |subreport| %>
                  <% translation = "#{subreport[0]}._plural" %>
                  <div class="panel panel-default">

                    <div class="panel-heading">
                      <%= t(translation) %>
                    </div>

                    <div style="padding-bottom: 10px;">
                      <div class="form-group">
                        <%= readonly.label 'include', :class => "col-sm-2 control-label" %>
                        <div class="col-sm-9 label-only">
                          <%= t("boolean.true") %>
                        </div>
                      </div>

                    </div>
                  </div>
                <% end %>
              </div>

              <div id="<%= record_type %>_sort_by">
                <h3><%= t "custom_report_template._frontend.section.sort_by" %></h3>
                <div style="padding-bottom: 10px;" class="col-sm-2 control-label">
                  <% if data['sort_by'] == 'created_by' || data['sort_by'] == 'last_modified_by' ||
                        data['sort_by'] == 'create_time' || data['sort_by'] == 'user_mtime' %>
                    <%= t("#{data['sort_by']}") %>
                  <% else %>
                    <%= t("#{record_type}.#{data['sort_by']}", :default => "#{data['sort_by']}") %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
