(function(exports) {

    function SimpleRenderer(should_link_to_record) {
        this.endpointMarkerTemplate = $('<div class="table-row end-marker" />');

        this.should_link_to_record = should_link_to_record || false;

        this.rootTemplate = $('<div class="table-row"> ' +
                              '  <div class="table-cell no-drag-handle"></div>' +
                              '  <div class="table-cell title"></div>' +
                              '</div>');


        this.nodeTemplate = $('<div class="table-row"> ' +
                              '  <div class="table-cell drag-handle"></div>' +
                              '  <div class="table-cell title"><span class="indentor"><button class="expandme" aria-expanded="false"><i class="expandme-icon fa fa-chevron-right"></i></button></span> </div>' +
                              '</div>');

    }


    SimpleRenderer.prototype.endpoint_marker = function () {
        return this.endpointMarkerTemplate.clone(true);
    }


    SimpleRenderer.prototype.get_root_template = function () {
        return this.rootTemplate.clone(false);
    }


    SimpleRenderer.prototype.get_node_template = function () {
        return this.nodeTemplate.clone(false);
    };


    SimpleRenderer.prototype.add_root_columns = function (row, rootNode) {
        var $link = row.find('a.record-title');

        if (this.should_link_to_record) {
            if(rootNode.slugged_url && rootNode.slugged_url.length > 0) {
                $link.attr('href', rootNode.slugged_url);
            }
            else {
                $link.attr('href', AS.app_prefix(rootNode.uri));
            }
        }

        $link.html(rootNode.parsed_title);

        if (rootNode.jsonmodel_type == 'classification') {
            $link.prepend(rootNode.identifier + '<%= I18n.t('classification.identifier_separator') %> ');
        } else if (rootNode.jsonmodel_type == 'resource' && SHOW_IDENTIFIERS_IN_TREE && rootNode.identifier) {
            $link.prepend(rootNode.identifier + '<%= I18n.t('resource.identifier_separator') %> ');
        }
    }


    SimpleRenderer.prototype.add_node_columns = function (row, node) {
        var $link = row.find('a.record-title');

        if (node.jsonmodel_type == 'classification_term') {
            $link.html(node.parsed_title);
            $link.prepend(node.identifier + '<%= I18n.t('classification.identifier_separator') %> ');
        } else {
            var title = this.build_node_title(node);
            $link.html(title);
        }

        if (this.should_link_to_record) {
            if(node.slugged_url && node.slugged_url.length > 0) {
                $link.attr('href', node.slugged_url);
            }
            else {
                $link.attr('href', AS.app_prefix(node.uri));
            }
        }
    };


    SimpleRenderer.prototype.build_node_title = function (node) {
        var title_bits = [];
        if (SHOW_IDENTIFIERS_IN_TREE && node.identifier && node.parsed_title) {
            title_bits.push(node.identifier + '<%= I18n.t('resource.identifier_separator') %> ' + node.parsed_title)
        } else if (node.parsed_title) {
            title_bits.push(node.parsed_title);
        }

        if (node.label) {
            title_bits.push(node.label);
        }

        if (node.dates && node.dates.length > 0) {
          node.dates.forEach(function(date) {
            if (date.expression) {
              if (date.type === 'bulk') {
                title_bits.push('<%= I18n.t("date_type_bulk.bulk") %>: ' + date.expression);
              } else {
                title_bits.push(date.expression);
              }
            } else if (date.begin && date.end) {
              if (date.type === 'bulk') {
                title_bits.push('<%= I18n.t("date_type_bulk.bulk") %>: ' + date.begin + '-' + date.end);
              } else {
                title_bits.push(date.begin + '-' + date.end);
              };
            } else if (date.begin) {
              if (date.type === 'bulk') {
                title_bits.push('<%= I18n.t("date_type_bulk.bulk") %>: ' + date.begin);
              } else {
                title_bits.push(date.begin);
              };
            }
          })
        }

        return title_bits.join(', ');
    }

    exports.SimpleRenderer = SimpleRenderer;
})(window);
