<table>
    <tr>
        <th><%= t('description') %></th>
        <th><%= t('extent') %></th>
        <th><%= t('date') %></th>
        <th><%= t('notification_sent') %></th>
        <% @report.each do |deaccession| %>
            <tr>
                <td><%= h deaccession.fetch('description') %></td>
                <td><%= format_number(deaccession.fetch('extentNumber')) %> <%= deaccession.fetch('extentType') %></td>
                <td><%= format_date(deaccession.fetch('deaccessionDate')) %></td>
                <td><%= format_boolean(deaccession.fetch('notification')) %></td>
            </tr>
        <% end %>
</table>
