<%
  if form.obj.empty?
    selected_json = "{}"
  else
    selected_json = ASUtils.to_json(form.obj['_resolved'])
  end

  field_label ||= t("archival_object._singular")
  linker_id ||= "component_links_"
%>
<div class="form-group row required">
  <label class="control-label col-sm-2 text-right"><%= field_label %></label>
  <div class="controls col-sm-9">
    <div class="input-group linker-wrapper">
      <input type="text" class="linker"
             id="<%= linker_id %>"
             data-label_link="<%= t("linker.link") %>"
             data-label_browse="<%= t("linker.components.browse") %>"
             data-path="<%= form.path %>"
             data-name="ref"
             data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
             data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.BASE_FACETS %>"
             data-selected="<%= selected_json %>"
             data-format_property="display_string"
             data-multiplicity="one"
             data-sortable="true"
             data-types='["archival_object"]'
             aria-label="Link to component"
      />

      <div class="input-group-append">
        <button
          type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-expanded="false"
          aria-label="<%= I18n.t("actions.link_to_record") %>"
        ></button>
        <ul class="dropdown-menu">
          <li>
            <button
              type="button"
              class="btn btn-sm rounded-0 dropdown-item linker-browse-btn"
            ><%= t("actions.browse") %></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
