<%
   section_id = "accession_component_links" if section_id.blank?
%>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= t("component_link._plural") %></h3>


  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <table class="table table-striped table-bordered table-condensed table-hover token-list">
        <thead>
          <tr>
            <td><%= t("archival_object.ref_id") %></td>
            <td><%= t("archival_object.title") %></td>
          </tr>
        </thead>
        <tbody>
          <% component_links.each_with_index do | ao, index | %>
            <tr>
              <td><%= ao["_resolved"]['ref_id'] %></td>
              <td>
                <%= render_token :object => ao["_resolved"],
                                 :label => ao["_resolved"]["display_string"],
                                 :type => "archival_object",
                                 :uri => ao["ref"] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</section>
