<% if AppConfig[:allow_pui_language_selection] %>
  <div class="row">
    <div class="col-sm-12">
      <div id="language_select">
        <% current_locale = session[:locale] ? session[:locale] : AppConfig[:locale].to_s %>
        <% language_options = {"en" => I18n.t("languages.en"), 
                               "es" => I18n.t("languages.es"), 
                               "fr" => I18n.t("languages.fr"), 
                               "de" => I18n.t("languages.de"), 
                               "ja" => I18n.t("languages.ja")} %>

        <form action="/locale" method="post" id="language_select_form">
          <label><%= I18n.t('languages.select') %>:</label> 
          <select name="locale" id="language_select_dropdown">
            <% language_options.each do |code, name| %>
              <% is_selected = (code == current_locale ? "selected" : "") %>
              <option value='<%= code %>' <%= is_selected %>><%= name %></option>
            <% end %>
          </select>
        </form>   
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <h2><%= t('brand.welcome_head') %></h2>
      <div> <%= t('brand.welcome_message').html_safe %> </div>
  </div>
</div>


    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'identifier']
           ]
    } %>

