<%= render partial: 'shared/language_select' %>

<div class="row">
  <div class="col-sm-12">
    <h2><%= t('brand.welcome_head') %></h2>
      <div> <%= t('brand.welcome_message').html_safe %> </div>
  </div>
</div>

    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'identifier']
           ]
    } %>

    <% ASUtils.find_local_directories('public/views/_welcome_addition.html.erb').each do |template| %>
        <%= render(:inline => File.read(template)) if File.exists?(template) %>
    <% end %>
