<%
dates = ASUtils.json_parse(record['json'])['dates'] || []
display_dates = dates.select {|date| date['date_type'] == 'inclusive'}
display_dates = dates if display_dates.empty?
%>

<% if display_dates.length == 1 %>
  <% date = display_dates[0] %>
  <% if date['expression'] %>
    <%= date['expression']%>
  <% elsif date['date_type'] === "single" %>
    <%= date['begin'] %>
  <% elsif date['date_type'] %>
    <%= date['begin'] %> &ndash; <%= date['end'] %>
  <% end %>
<% else %>
  <ul style="padding-left: 20px;">
    <% display_dates.each do |date| %>
      <li>
        <% if date['expression'] %>
          <%= date['expression']%>
        <% elsif date['date_type'] === "single" %>
          <%= date['begin'] %>
        <% elsif date['date_type'] %>
          <%= date['begin'] %> &ndash; <%= date['end'] %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
