<% if @search_data.filtered? %>
  <div class="well">
    <h5><%= I18n.t "search_results.filtered_by" %></h5>
    <ul>
    <% @search_data[:criteria]["filter[]"].each do | filter | %>
      <li>
        <%= link_to @search_data.facet_label_for_filter(filter), params_for_search({"remove_filter" => filter}) %>
        <%= link_to '<span class="icon icon-remove"></span>'.html_safe, params_for_search({"remove_filter" => filter  }) %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>

<% @search_data.facets_for_filter.each do |facet_group, facets| %>
  <h5><%= I18n.t("search_results.filter.#{facet_group}", :default => facet_group) %></h5>
  <ul>
  <% facets.each do |facet, facet_map| %>
    <li>
      <%= link_to facet_map[:label], params_for_search({"add_filter" => facet_map[:query_string]}) %> <span class="badge badge-info"><%= facet_map[:count] %></span>
    </li>
  <% end %>
  </ul>
<% end %>