<% if @search_data.filtered? or @search_data.query? %>
  <div class="well">
    <h5>
      <%= I18n.t "search_results.filtered_by" %>
      <%= link_to I18n.t("search_results.clear_all"), {:controller => controller.controller_name, :action => controller.action_name}, :class => "btn btn-mini pull-right" %>
    </h5>
    <ul>
    <% if @search_data.query? %>
      <li>
        <%= link_to @search_data.facet_label_for_query, params_for_search({"q" => ""}) %>
        <%= link_to '<span class="icon icon-remove"></span>'.html_safe, params_for_search({"q" => ""}) %>
      </li>
    <% end %>
    <% if @search_data.filtered? %>
      <% @search_data[:criteria]["filter[]"].each do | filter | %>
        <li>
          <%= link_to "#{@search_data.facet_label_for_filter(filter)} <span class='icon icon-remove'></span>".html_safe, params_for_search({"remove_filter" => filter}) %>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag(params_for_search, :method => :get) do %>
  <div class="input-append" style="width:100%">
    <% params_for_search.reject{|k, v| k === "q"}.each do |k, v| %>
      <%= hidden_field_tag k, v %>
    <% end %>
    <input type="text" placeholder="<%= I18n.t("search_results.text_placeholder") %>" name="q" value="<%= params[:q] %>"/>
    <div class="btn-group">
      <button class="btn"><span class=" icon-search"></span></button>
    </div>
  </div>
<% end %>

<% @search_data.facets_for_filter.each do |facet_group, facets| %>
  <h5><%= I18n.t("search_results.filter.#{facet_group}", :default => facet_group) %></h5>
  <ul>
  <% facets.each do |facet, facet_map| %>
    <li>
      <%= link_to facet_map[:label], params_for_search({"add_filter" => facet_map[:query_string]}) %> <span class="badge badge-info"><%= facet_map[:count] %></span>
    </li>
  <% end %>
  </ul>
<% end %>