<% if @search_data.results? %>

  <% add_columns %>

  <%= render_aspace_partial :partial => "shared/pagination_summary" %>

  <% has_thumbnails_enabled = false %>

  <table id="tabledSearchResults" class="table table-striped table-bordered table-condensed table-hover table-sortable table-search-results table-responsive d-block d-md-table" <%= 'data-multiselect="true"' if allow_multiselect? %>>
    <thead>
      <tr>
        <% @columns.each do |col| %>
          <% has_thumbnails_enabled = true if col.field == 'representative_file_version' %>
          <th class="<%= col.class %>">
            <% if col.sortable? %>
              <%= link_to col.label, build_search_params("sort" => @search_data.sort_filter_for(col.sort_by)) %>
            <% else %>
              <%= col.label %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @search_data['results'].each do |result| %>
        <tr>
          <% @columns.each do |col| %>
            <td class="<%= col.class %>">
              <%= col.value_for(result) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if has_thumbnails_enabled %>
    <script>
      const thumbnails = document.querySelectorAll(
        "#tabledSearchResults td.representative_file_version > img"
      );
      thumbnails.forEach((img) => {
        img.addEventListener("error", () => (img.style.display = "none"));
      });
    </script>
  <% end %>

  <%= render_aspace_partial :partial => "shared/pagination" %>
<% else %>
  <p class="alert alert-info">
    <%= t("search_results.no_results") %>
  </p>
<% end %>
