<% if @search_data.results? %>

  <% add_columns %>

  <%= render_aspace_partial :partial => "shared/pagination_summary" %>

  <table id="tabledSearchResults" class="table table-striped table-bordered table-condensed table-hover table-sortable table-search-results" <%= 'data-multiselect="true"' if allow_multiselect? %>>
    <thead>
      <tr>
        <% @columns.each do |col| %>
          <th class="<%= col.class %>">
            <% if col.sortable? %>
              <%= link_to col.label, build_search_params("sort" => @search_data.sort_filter_for(col.sort_by)) %>
            <% else %>
              <%= col.label %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @search_data['results'].each do |result| %>
        <tr>
          <% @columns.each do |col| %>
            <td class="<%= col.class %>">
              <%= col.value_for(result) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render_aspace_partial :partial => "shared/pagination" %>
<% else %>
  <p class="alert alert-info">
    <%= I18n.t("search_results.no_results") %>
  </p>
<% end %>
