<% if @search_data.results? %>
  <table class="table table-striped table-bordered table-condensed table-hover table-sortable">
    <thead>
    <tr>
      <% if @search_data.single_type? %>
        <th width="160px" class="sortable <% if @search_data.sorted_by === "primary_type"%>sort-<%= @search_data.current_sort_direction %><% end %>">
          <%= link_to I18n.t("search_results.result_type"), params_for_search("sort" => @search_data.sort_filter_for("primary_type")) %>
        </th>
      <% end %>
      <th class="sortable <% if @search_data.sorted_by === "title_sort"%>sort-<%= @search_data.current_sort_direction %><% end %>">
        <%= link_to I18n.t("search_results.result_title"), params_for_search("sort" => @search_data.sort_filter_for("title_sort")) %>
      </th>
      <!-- <th class="table-audit-cell sortable"><%= I18n.t("search_results.modified") %></th>
      <th class="table-audit-cell sortable"><%= I18n.t("search_results.created") %></th>-->
      <th width="70px"><!-- actions --></th>
    </tr>
    </thead>
    <tbody>
    <%= render :partial => "shared/pagination_summary" %>
    <% @search_data['results'].each do |result| %>
      <tr>
        <% if @search_data.single_type? %>
          <td>
            <%=  I18n.t("#{result["primary_type"]}._html.singular") %>
          </td>
        <% end %>
        <td>
          <% if result["suppressed"] %><span class="label label-info"><%= I18n.t("states.suppressed") %></span><% end %>
          <%=  result["title"] || result['display_string'] %>
        </td>
        <!-- <td></td>
        <td></td> -->
        <td>
          <div class="btn-group" style="float: right">
            <%= link_to I18n.t("actions.view"), {:controller => :resolver, :action => :resolve_readonly, :uri => result["id"]}, :class => "btn btn-mini" %>
            <% if user_can?('update_archival_record') %>
              <%= link_to I18n.t("actions.edit"), {:controller => :resolver, :action => :resolve_edit, :uri => result["id"]}, :class => "btn btn-mini" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= render :partial => "shared/pagination" %>
<% else %>
  <p class="alert alert-info">
    <%= I18n.t("search_results.no_results") %>
  </p>
<% end %>