<%#
Partial for rendering tables of search results direct to the browser (for ajax-loaded tables,
see app/views/search/_embedded.html.erb).

Expects to be rendered from a controller that sets an instance variable @search_data, and aspects
of the display are controlled by other instance variables, most of which are accessed through helper
methods in the SearchHelper class.

%>
<%
  title = I18n.t("search_results.title") if title.nil?
  @display_context = true
%>

<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "search/filter" %>
  </div>
  <div class="col-md-9">
    <div class="record-toolbar">
      <div class="btn-group pull-right">
        <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv, :fields => ['primary_type', 'title', 'identifier']}), id: "searchExport",  class:  "btn btn-sm btn-info" %>
      </div>
      <br style="clear:both" />
    </div>
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>
      <% if !params[:linker] %>
        <h3><%= title %></h3>
      <% end %>

      <%= render_aspace_partial :partial => "search/listing" %>

    </div>
  </div>
</div>
