<%
  title = t("search_results.title") if title.nil?
%>

<div class="d-flex">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "search/filter" %>
  </div>
  <div class="col-md-9">
    <div class="record-toolbar  d-flex align-items-center">
      <% unless @hide_csv_download %>
        <div class="btn-group ml-auto">
          <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv, :fields => fields}), id: "searchExport",  class:  "btn btn-sm btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="record-pane">
      <%= link_to_help :topic => "search" %>
      <% if !params[:linker] %>
        <h3><%= title %></h3>
      <% end %>
      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
