<div class="titlepage">

    <div class="title"><%= @report.title %></div>

    <dl>
        <dt><%= t('number_of_accessions') %></dt>
        <dd><%= h @report.accession_count %></dd>
    </dl>
</div>

<% @report.each do |accession| %>

    <div class="report-record">
        <div class="identifier"><%= t('identifier_prefix') %> <%= format_4part(accession.fetch('accessionNumber')) %></div>
        <div class="record-title"><%= h accession.fetch('title') %></div>

        <dl>
            <dt><%= t('accession_date') %></dt>
            <dd><%= format_date(accession.fetch('accessionDate')) %></dd>

            <dt><%= t('extent') %></dt>
            <dd><%= format_number(accession.fetch('extentNumber')) %> <%= accession.fetch('extentType') %></dd>
        </dl>

        <%= text_section(t('container'), accession.fetch('containerSummary')) %>

        <%= subreport_section(t('deaccessions'), AccessionDeaccessionsSubreport, accession) %>

        <%= subreport_section(t('locations'), AccessionLocationsSubreport, accession) %>

        <%= text_section(t('general_note'), accession.fetch('containerSummary')) %>

        <dl>
            <dt><%= t('begin_date') %></dt>
            <dd><%= format_date(accession.fetch('dateBegin')) %></dd>
            <dt><%= t('end_date') %></dt>
            <dd><%= format_date(accession.fetch('dateEnd')) %></dd>
            <dt><%= t('bulk_begin_date') %></dt>
            <dd><%= format_date(accession.fetch('bulkDateBegin')) %></dd>
            <dt><%= t('bulk_end_date') %></dt>
            <dd><%= format_date(accession.fetch('bulkDateEnd')) %></dd>
            <dt><%= t('date_expression') %></dt>
            <dd><%= h accession.fetch('dateExpression') %></dd>
        </dl>

        <%= subreport_section(t('names'), AccessionNamesSubreport, accession) %>

        <%= subreport_section(t('subjects'), AccessionSubjectsSubreport, accession) %>

        <dl>
            <dt><%= t('acquisitions') %></dt>
            <dd><%= h accession.fetch('acquisitionType') %></dd>
        </dl>

        <%= text_section(t('retention'), accession.fetch('retentionRule')) %>

        <%= text_section(t('description_section'), accession.fetch('descriptionNote')) %>

        <%= text_section(t('condition'), accession.fetch('conditionNote')) %>

        <%= text_section(t('inventory'), accession.fetch('inventory')) %>

        <%= text_section(t('disposition'), accession.fetch('dispositionNote')) %>

        <%= text_section(t('restrictions_apply'), format_boolean(accession.fetch('restrictionsApply'))) %>

        <%= text_section(t('access_restrictions_note'), accession.fetch('accessRestrictionsNote')) %>

        <%= text_section(t('user_restrictions_note'), accession.fetch('useRestrictionsNote')) %>

        <%= text_section(t('rights_transferred'), format_boolean(accession.fetch('rightsTransferred'))) %>

        <%= text_section(t('rights_transferred_note'), format_boolean(accession.fetch('rightsTransferredNote'))) %>
    </div>
<% end %>
