<div class="titlepage">

    <div class="title"><%= @report.title %></div>

    <dl>
        <dt><%= i18n('number_of_accessions') %></dt>
        <dd><%= h @report.accession_count %></dd>
    </dl>
</div>

<% @report.each do |accession| %>

    <div class="report-record">
        <div class="identifier"><%= i18n('identifier_prefix') %> <%= format_4part(accession.fetch('accessionNumber')) %></div>
        <div class="record-title"><%= h accession.fetch('title') %></div>

        <dl>
            <dt><%= i18n('accession_date') %></dt>
            <dd><%= format_date(accession.fetch('accessionDate')) %></dd>

            <dt><%= i18n('extent') %></dt>
            <dd><%= format_number(accession.fetch('extentNumber')) %> <%= accession.fetch('extentType') %></dd>
        </dl>

        <%= text_section(i18n('container'), accession.fetch('containerSummary')) %>

        <%= subreport_section(i18n('deaccessions'), AccessionDeaccessionsSubreport, accession) %>

        <%= subreport_section(i18n('locations'), AccessionLocationsSubreport, accession) %>

        <%= text_section(i18n('general_note'), accession.fetch('containerSummary')) %>

        <dl>
            <dt><%= i18n('begin_date') %></dt>
            <dd><%= format_date(accession.fetch('dateBegin')) %></dd>
            <dt><%= i18n('end_date') %></dt>
            <dd><%= format_date(accession.fetch('dateEnd')) %></dd>
            <dt><%= i18n('bulk_begin_date') %></dt>
            <dd><%= format_date(accession.fetch('bulkDateBegin')) %></dd>
            <dt><%= i18n('bulk_end_date') %></dt>
            <dd><%= format_date(accession.fetch('bulkDateEnd')) %></dd>
            <dt><%= i18n('date_expression') %></dt>
            <dd><%= h accession.fetch('dateExpression') %></dd>
        </dl>

        <%= subreport_section(i18n('names'), AccessionNamesSubreport, accession) %>

        <%= subreport_section(i18n('subjects'), AccessionSubjectsSubreport, accession) %>

        <dl>
            <dt><%= i18n('acquisitions') %></dt>
            <dd><%= h accession.fetch('acquisitionType') %></dd>
        </dl>

        <%= text_section(i18n('retention'), accession.fetch('retentionRule')) %>

        <%= text_section(i18n('description'), accession.fetch('descriptionNote')) %>

        <%= text_section(i18n('condition'), accession.fetch('conditionNote')) %>

        <%= text_section(i18n('inventory'), accession.fetch('inventory')) %>

        <%= text_section(i18n('disposition'), accession.fetch('dispositionNote')) %>

        <%= text_section(i18n('restrictions_apply'), format_boolean(accession.fetch('restrictionsApply'))) %>

        <%= text_section(i18n('access_restrictions_note'), accession.fetch('accessRestrictionsNote')) %>

        <%= text_section(i18n('user_restrictions_note'), accession.fetch('useRestrictionsNote')) %>

        <%= text_section(i18n('rights_transferred'), format_boolean(accession.fetch('rightsTransferred'))) %>

        <%= text_section(i18n('rights_transferred_note'), format_boolean(accession.fetch('rightsTransferredNote'))) %>
    </div>
<% end %>
