<div class="row">
<div class="col-sm-9">
<p>Showing results <%= @results['offset_first'] %> to <%= @results['offset_last'] %> of <%= @results['total_hits'] %></p>

<ul>
    <% @results['results'].each do |result| %>
        <li><%= result['primary_type'] %> - <%= result['title'] %></li>
    <% end %>
</ul>

<%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>
</div>
</div>
