<% if !full %>
   <div class="recordrow">
<% end %>
<!-- <%= result.pretty_inspect.html_safe %> -->
      <h3><a class="record-title" href="<%= result['uri'] %>">  <%= result['name']%></a>
	<% if result.has_key?('image_url') %>
	<img src="<%=result['image_url'] %>" alt='' />
	<% end %>

      </h3>
      <div class="badge-and-identifier">
        <div class="record-type-badge repository">
          <i class="fa fa-home"></i>&#160;<%= t('repository._singular') %>
        </div>

	<div class="<%= (full ? 'clear' : 'recordsummary') %>">
	  <% if result['parent_institution_name'].present? %>
	  <div><strong><%= t('parent_inst') %>:</strong> 
	    <%= result['parent_institution_name'] %>
	  </div>
	  <% end %>
	  <% if full %> 
	  <%= render partial: 'repositories/full_repo', locals: {:info => result['repo_info'], :url => result['url']} %>
	 <% else %>
	 <div><strong>Number of <%= t('resource._plural') %>:</strong> <%= result['count'] %></div>
	 <% end %>
	</div>					  
      </div>
<% if !full %>
   </div>
<% end %>
