<div id="main-content">
  <div class="abstract row">
    <%= render partial: 'repositories/repository', locals: {:result => @result,  :full => true} %>
  </div>

  <div id="whats-in-container row">
    <h3><%= t('repository.what') %> </h3>
    <div>
      <ul class="list-inline">
	<% @badges.each do |type| %>
	<li class="large-badge align-center <%= type %>">
	  <form id="coll_sub" action="<%= @sublist_action %><%= type %>s" method="post">
	    <input type="hidden" name="repo" id="repo_res" value="<%= @result['name'] %>" />
	    <button type="submit" class="btn btn-default <%= type %>">
	      <%= render partial:"shared/badge_#{type}" %>
	      <br/>
	      <% if AppConfig[:repos].dig(@result['repo_code'].downcase, :hide, :counts).nil? ?  AppConfig[:hide][:counts] :  AppConfig[:repos][@result['repo_code'].downcase][:hide][:counts] %>
	         <%= t("#{type}._plural") %>
	      <% else %>
	       <%= @counts[type] %> <%= (@counts['type'] != 1 ? t("#{type}._plural") : t("#{type}._singular")) %>
              <% end %>

	    </button>
	  </form>
	</li>
	<% end %>
      </ul>
    </div>
    
  </div>
  <%= render partial: 'shared/search', locals: {:search_url => "#{@result['uri']}/search",
   :title => t('repository._singular'),
   :limit_options =>  [["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']],

   :field_options => [["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
           ["#{t('search_results.filter.notes')}", 'notes'] ] } %>
</div>
