<a name="main" title="<%= t('internal_links.main') %>"></a>
<div id="main-content" class="row objects">
  <div class="row" id="info_row">
    <div class="information col-sm-7">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    </div>
    <div class="page_actions col-sm-5 right">
    <%= render partial: 'shared/page_actions', locals: {:record => @result, :title => @result.display_string, :url => request.fullpath, :cite => @result.cite } %>
    </div>
  </div>

   <%= render partial: 'shared/breadcrumbs' %>

  <div class="row" id="notes_row">
   <div class="col-sm-9">
    <% if  defined?(comp_id) && !comp_id && !@result['json']['ref_id'].blank? %>
      <span class='ref_id'>[<%=  t('archival_object._public.header.ref_id') %>: <%= @result['json']['ref_id'] %>]</span>
    <% end %>
    <%= render partial: 'shared/digital', locals: {:dig_objs => @dig} %>

    <%= render partial: 'shared/record_innards' %>
   </div>

   <% if !@result.instance_of?(DigitalObject) || @has_children %>
    <div id="sidebar" class="sidebar sidebar-container col-sm-3 resizable-sidebar">
      <%
        if @result.kind_of?(DigitalObject)
          heading_text = t('dig_cont_arr')
        else
          heading_text = t('cont_arr')
        end
      %>
      <% if AppConfig[:pui_search_collection_from_archival_objects] %>
        <%= render partial: 'shared/search_collection_form', :locals => {:resource_uri => @result.resource_uri, :action_text => "#{t('actions.search_in', :type => t('resource._singular'))}"} %>
      <% end %>
      <%= render partial: 'shared/children_tree', :locals => {:heading_text => heading_text, :root_node_uri => @result.root_node_uri, :current_node_uri => @result.uri} %>
    </div>
   <% end %>
  </div>
 <%= render partial: 'shared/modal_actions' %>
</div>

