<%= link_to_help :topic => "digital_object_component" %>

<h2>
  <% if @digital_object_component.display_string.blank? %>
    <%= t("digital_object_component._singular") %>
  <% else %>
    <%= clean_mixed_content(@digital_object_component.display_string) %>
  <% end %>
  <span class="label label-info badge"><%= t("digital_object_component._singular") %></span>
</h2>

<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => form} %>

<fieldset>

  <%= form.hidden_input "parent", nil, {"data-base-name" => "digital_object_component[parent]", "class" => "hidden-parent-uri"} %>
  <%= form.hidden_input "digital_object" %>
  <%= form.hidden_input "position" %>

  <%= hidden_field_tag "id", @digital_object_component.id %>
  <%= hidden_field_tag "uri", @digital_object_component.uri %>

  <% define_template("digital_object_component", jsonmodel_definition(:digital_object_component)) do |form| %>
    <section id="basic_information">
      <header class="d-flex align-items-center border-bottom bg-asFormHeadingBg">
        <h3 class="flex-grow-1 mb-0 border-0">
          <%= t("digital_object_component._frontend.section.basic_information") %>
        </h3>
        <%= link_to_help :topic => "digital_object_component_basic_information" %>
      </header>

      <%= render_plugin_partials("top_of_basic_information_digital_object_component",
                                 :form => form,
                                 :record => @digital_object_component) %>

      <%= form.label_and_textfield "label", :required => :conditionally %>
      <%= form.label_and_textarea "title", :required => :conditionally, :field_opts => {
        :class => "form-control#{AppConfig[:allow_mixed_content_title_fields] ? ' mixed-content' : ''}"
      } %>
      <%= form.label_and_textfield "component_id" %>

      <%= render_aspace_partial :partial => "shared/slug", :locals => {:form => form, :record_type => @digital_object_component} if AppConfig[:use_human_readable_urls] %>

      <div class="form-group w-100 row">
        <%= form.label "publish", :class => 'control-label col-sm-2' %>
        <div class="col-sm-1 checkbox">
          <%= form.checkbox "publish", {}, user_prefs["publish"] %>
          <% if form.obj["has_unpublished_ancestor"] %>
            <span class="help-inline"><span class="text-info"><%= t("digital_object_component._frontend.messages.has_unpublished_ancestor") %></span></span>
          <% end %>
        </div>
      </div>

      <%= render_plugin_partials("basic_information_digital_object_component",
                                 :form => form,
                                 :record => @digital_object_component) %>

    </section>
  <% end %>

  <% form.emit_template("digital_object_component") %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "file_versions"} %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "lang_materials", :custom_action_template => "lang_materials/subrecord_form_action"} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates", :template => "archival_record_date", :required => :conditionally} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents"} %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "linked_agents", :template => "digital_object_component_linked_agent"} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "subjects", :template => "subrecord_subject"} %>

  <%= render_aspace_partial :partial => "notes/form", :locals => {:section_id => "digital_object_component_notes",:form => form, :all_note_types => note_types_for(form['jsonmodel_type'])} %>

  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>
  <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "rights_statements"} %>

  <%= render_aspace_partial :partial => "external_ids/edit", :locals => {:form => form, :section_id => "external_ids"} %>

  <%= form_plugins_for("digital_object_component", form) %>

</fieldset>
