<h2>
  <%= @digital_object_component.title %> <span class="label label-info">Digital Object Component</span>
</h2>

<%= render :partial => "shared/form_messages", :locals => {:form => form} %>

<fieldset>

  <%= form.hidden_input "parent" %>
  <%= form.hidden_input "resource" %>
  <%= hidden_field_tag "ao_id", @digital_object_component.id %>

  <section id="basic_information">
    <h3>Basic Information</h3>
    <%= form.label_and_textfield "title" %>
  </section>

  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents"} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates"} %>
  <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "external_documents"} %>

</fieldset>
