<%= form_for @digital_object_component, :as => "digital_object_component", :url => {:action => :create}, :html => {:class => 'form-horizontal aspace-record-form'} do |f| %>
  <%= form_context :digital_object_component, @digital_object_component do |form| %>
    <div class="row">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
        <div class="record-pane">
          <%= render_aspace_partial :partial => "digital_object_components/form_container", :locals => {:form => form} %>
          <div class="form-actions pl-0">
            <div class="btn-group btn-submit-group">
              <button type="submit" class="btn btn-primary"><%= t("digital_object_component._frontend.action.save") %></button>
              <button type="button" id="createPlusOne" class="btn btn-primary btn-plus-one createPlusOneBtn"><%= t("actions.save_plus_one") %></button>
            </div>
            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
