<% define_template "rde_digital_object_component_sections" do |form| %>
  <th data-id="basic" class="section-basic" colspan="5"><%= I18n.t("rde.sections.basic_information") %></th>
  <th data-id="date" class="section-date" colspan="5" class="conditionally-required"><%= I18n.t("rde.sections.date") %></th>
  <th data-id="file" class="section-file" colspan="10"><%= I18n.t("rde.sections.file_version") %></th>
  <th data-id="note" class="section-note" colspan="6"><%= I18n.t("rde.sections.notes") %></th>
<% end %>

<% define_template "rde_digital_object_component_headers" do |form| %>
  <th id="colLabel" class="fieldset-label conditionally-required sticky" data-section="basic"><%= I18n.t("digital_object_component.label") %></th>
  <th id="colTitle" class="fieldset-label conditionally-required sticky" data-section="basic"><%= I18n.t("digital_object_component.title") %></th>
  <th id="colCompId" class="fieldset-label sticky" data-section="basic"><%= I18n.t("digital_object_component.component_id") %></th>
  <th id="colPublish" class="fieldset-label sticky" data-section="basic"><%= I18n.t("digital_object_component.publish") %></th>
  <th id="colLang" class="fieldset-label sticky" data-section="basic"><%= I18n.t("digital_object_component.language") %></th>

  <th id="colDLabel" class="fieldset-label sticky" data-section="date"><%= I18n.t("date.label") %></th>
  <th id="colExpr" class="fieldset-label sticky" data-section="date"><%= I18n.t("date.expression") %></th>
  <th id="colDType" class="fieldset-label sticky" data-section="date"><%= I18n.t("rde.date_type") %></th>
  <th id="colDBegin" class="fieldset-label sticky" data-section="date"><%= I18n.t("date.begin") %></th>
  <th id="colDEnd" class="fieldset-label sticky" data-section="date"><%= I18n.t("date.end") %></th>

  <th id="colFUri" class="fieldset-label" data-section="file"><%= I18n.t("file_version.file_uri") %></th>
  <th id="colFPublish" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.publish") %></th>
  <th id="colFUse" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.use_statement") %></th>
  <th id="colFActuate" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.xlink_actuate_attribute") %></th>
  <th id="colFShow" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.xlink_show_attribute") %></th>
  <th id="colFFormat" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.file_format_name") %></th>
  <th id="colFVersion" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.file_format_version") %></th>
  <th id="colFSize" class="fieldset-label" data-section="file"><%= I18n.t("file_version.file_size_bytes") %></th>
  <th id="colFCSum" class="fieldset-label" data-section="file"><%= I18n.t("file_version.checksum") %></th>
  <th id="colFCSumM" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.checksum_method") %></th>

  <th id="colNType1" class="fieldset-label" data-section="note"><%= I18n.t("note._singular") %> 1</th>
  <th id="colNCont1" class="fieldset-label" data-section="note"><%= I18n.t("note_attributes.content") %> 1</th>
  <th id="colNType2" class="fieldset-label" data-section="note"><%= I18n.t("note._singular") %> 2</th>
  <th id="colNCont2" class="fieldset-label" data-section="note"><%= I18n.t("note_attributes.content") %> 2</th>
  <th id="colNType3" class="fieldset-label" data-section="note"><%= I18n.t("note._singular") %> 3</th>
  <th id="colNCont3" class="fieldset-label" data-section="note"><%= I18n.t("note_attributes.content") %> 3</th>
<% end %>

<% define_template "rde_digital_object_component_cols" do |form| %>
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='70' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='70' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
  <col class="fieldset-col" data-default-width='150' />
<% end %>

<% define_template "rde_digital_object_component_row", jsonmodel_definition(:digital_object_component) do |form, digital_object_component| %>
  <% first_row = form.current_context.first == "children[0]" %>
  <tr data-index="">
    <td data-col="status" class="status">
      <span class="glyphicon glyphicon-exclamation-sign invalid"></span>
      <span class="glyphicon glyphicon-ok valid"></span>
      <div class="error-summary">
        <div class="error-summary-header">
          <span class="error-summary-header-text"><%= I18n.t("rde.messages.error_summary_header") %></span>
          <a href="javascript:void(0);" class="hide-error-summary"><span class='glyphicon glyphicon-chevron-up'></span></a>
          <a href="javascript:void(0);" class="show-error-summary"><span class='glyphicon glyphicon-chevron-down'></span></a>
        </div>
        <div class="error-summary-list"></div>
      </div>
    </td>

    <td data-col="colLabel" class="form-group"><%= form.textfield "label" %></td>
    <td data-col="colTitle" class="form-group"><%= form.textfield "title" %></td>
    <td data-col="colCompId" class="form-group"><%= form.textfield "component_id" %></td>
    <td data-col="colPublish" class="form-group"><%= form.checkbox "publish", {}, user_prefs["publish"] %></td>
    <td data-col="colLang" class="form-group">
      <%= form.select "language", jsonmodel_definition(:digital_object_component).options_for(form, "language", true) %>
    </td>

    <td data-col="colDLabel" class="form-group">
      <% form.push(form.set_index("dates[]", 0), begin digital_object_component["dates"][0] || {} rescue {} end) do %>
        <%= form.select "label", jsonmodel_definition(:date).options_for(form, "label", true) %>
      <% end %>
    </td>
    <td data-col="colExpr" class="form-group">
      <% form.push(form.set_index("dates[]", 0), begin digital_object_component["dates"][0] || {} rescue {} end) do %>
        <%= form.textfield "expression" %>
      <% end %>
    </td>
    <td data-col="colDType" class="form-group">
      <% form.push(form.set_index("dates[]", 0), begin digital_object_component["dates"][0] || {} rescue {} end) do %>
        <%= form.select "date_type", jsonmodel_definition(:date).options_for(form, "date_type", true) %>
      <% end %>
      <% form.push("dates", begin digital_object_component["dates"] || [] rescue [] end) do %>
        <span class="defer-to-section" id="<%= form.id_for(nil) %>"></span>
      <% end %>
    </td>
    <td data-col="colDBegin" class="form-group">
      <% form.push(form.set_index("dates[]", 0), begin digital_object_component["dates"][0] || {} rescue {} end) do %>
        <%= form.textfield "begin" %>
      <% end %>
    </td>
    <td data-col="colDEnd" class="form-group">
      <% form.push(form.set_index("dates[]", 0), begin digital_object_component["dates"][0] || {} rescue {} end) do %>
        <%= form.textfield "end" %>
      <% end %>
    </td>
    <td data-col="colFUri" class="form-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.textfield("file_uri") %>
      <% end %>
    </td>
    <td data-col="colFPublish" class="form-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.checkbox "publish", {}, user_prefs["publish"] %>
      <% end %>
    </td>
    <td data-col="colFUse" class="form-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.select("use_statement", jsonmodel_definition(:file_version).options_for(form, "use_statement", true)) %>
      <% end %>
    </td>
    <td data-col="colFActuate" class="form-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.select("xlink_actuate_attribute", jsonmodel_definition(:file_version).options_for(form, "xlink_actuate_attribute", true)) %>
      <% end %>
    </td>
    <td data-col="colFShow" class="form-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.select("xlink_show_attribute", jsonmodel_definition(:file_version).options_for(form, "xlink_show_attribute", true)) %>
      <% end %>
    </td>
    <td data-col="colFFormat" class="form-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.select("file_format_name", jsonmodel_definition(:file_version).options_for(form, "file_format_name", true)) %>
      <% end %>
    </td>
    <td data-col="colFVersion" class="form-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.textfield("file_format_version") %>
      <% end %>
    </td>
    <td data-col="colFSize" class="form-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.textfield("file_size_bytes") %>
      <% end %>
    </td>
    <td data-col="colFCSum" class="form-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.textfield("checksum") %>
      <% end %>
    </td>
    <td data-col="colFCSumM" class="form-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.select("checksum_method", jsonmodel_definition(:file_version).options_for(form, "checksum_method", true)) %>
      <% end %>
    </td>

    <td data-col="colNType1" class="form-group">
      <% form.push(form.set_index("notes[]", 0), begin digital_object_component["notes"][0] || {} rescue {} end) do %>
        <%= form.select("type", [""].concat(note_types_for("digital_object_component").map {|value, hash| [hash[:i18n], value]}.sort{|a, b| a[0] <=> b[0]})) %>
        <%= form.hidden_input "jsonmodel_type", "note_digital_object" %>
      <% end %>
    </td>
    <td data-col="colNCont1" class="form-group">
      <% form.push(form.set_index("notes[]", 0), begin digital_object_component["notes"][0] || {} rescue {} end) do %>
        <% form.push(form.set_index("content[]", 0), begin form["content"][0] || "" rescue "" end) do %>
          <%= form.textfield nil, form.obj %>
        <% end %>
        <% form.push("content", begin digital_object_component["content"] || [] rescue [] end) do %>
          <span id="<%= form.id_for(nil) %>"></span>
        <% end %>
        <% form.push(form.set_index("subnotes[]", 0), []) do %>
          <span id="<%= form.id_for("content") %>"></span>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNType2" class="form-group">
      <% form.push(form.set_index("notes[]", 1), begin digital_object_component["notes"][1] || {} rescue {} end) do %>
        <%= form.select("type", [""].concat(note_types_for("digital_object_component").map {|value, hash| [hash[:i18n], value]}.sort{|a, b| a[0] <=> b[0]})) %>
        <%= form.hidden_input "jsonmodel_type", "note_digital_object" %>
      <% end %>
    </td>
    <td data-col="colNCont2" class="form-group">
      <% form.push(form.set_index("notes[]", 1), begin digital_object_component["notes"][1] || {} rescue {} end) do %>
        <% form.push(form.set_index("content[]", 0), begin form["content"][0] || "" rescue "" end) do %>
          <%= form.textfield nil, form.obj %>
        <% end %>
        <% form.push("content", begin digital_object_component["content"] || [] rescue [] end) do %>
          <span id="<%= form.id_for(nil) %>"></span>
        <% end %>
        <% form.push(form.set_index("subnotes[]", 0), []) do %>
          <span id="<%= form.id_for("content") %>"></span>
        <% end %>
      <% end %>
    </td>
    <td data-col="colNType3" class="form-group">
      <% form.push(form.set_index("notes[]", 2), begin digital_object_component["notes"][2] || {} rescue {} end) do %>
        <%= form.select("type", [""].concat(note_types_for("digital_object_component").map {|value, hash| [hash[:i18n], value]}.sort{|a, b| a[0] <=> b[0]})) %>
        <%= form.hidden_input "jsonmodel_type", "note_digital_object" %>
      <% end %>
    </td>
    <td data-col="colNCont3" class="form-group">
      <% form.push(form.set_index("notes[]", 2), begin digital_object_component["notes"][2] || {} rescue {} end) do %>
        <% form.push(form.set_index("content[]", 0), begin form["content"][0] || "" rescue "" end) do %>
          <%= form.textfield nil, form.obj %>
        <% end %>
        <% form.push("content", begin digital_object_component["content"] || [] rescue [] end) do %>
          <span id="<%= form.id_for(nil) %>"></span>
        <% end %>
        <% form.push(form.set_index("subnotes[]", 0), []) do %>
          <span id="<%= form.id_for("content") %>"></span>
        <% end %>
      <% end %>
    </td>


    <td data-col="" class="form-group">
      <div class="btn-group">
        <button class="btn btn-success add-row"><span class="glyphicon glyphicon-plus icon-white"></span></button>
        <% if !first_row %><button class="btn remove-row"><span class="glyphicon glyphicon-remove"></span></button><% end %>
      </div>
    </td>
  </tr>
<% end %>
