<% define_template "rde_row", jsonmodel_definition(:digital_object_component) do |form, digital_object_component| %>
  <% first_row = form.current_context.first == "children[0]" %>
  <tr>
    <td class="status">
      <span class="icon-exclamation-sign invalid"></span>
      <span class="icon-ok valid"></span>
      <div class="error-summary hide">
        <div class="error-summary-header">
          <span class="error-summary-header-text"><%= I18n.t("rde.messages.error_summary_header") %></span>
          <a href="javascript:void(0);" class="hide-error-summary"><span class='icon icon-chevron-up'></span></a>
          <a href="javascript:void(0);" class="show-error-summary"><span class='icon icon-chevron-down'></span></a>
        </div>
        <div class="error-summary-list"></div>
      </div>
    </td>

    <!-- BASIC INFORMATION -->
    <td class="control-group"><%= form.textfield "label" %></td>
    <td class="control-group"><%= form.textfield "title" %></td>
    <td class="control-group"><%= form.textfield "component_id" %></td>
    <td class="control-group"><%= form.checkbox "publish", {}, form.default_for("publish") %></td>
    <td class="control-group">
      <%= form.select "language", jsonmodel_definition(:digital_object_component).options_for(form, "language", true) %>
    </td>

    <!-- DATE -->
    <td class="control-group">
      <% form.push(form.set_index("dates[]", 0), begin digital_object_component["dates"][0] || {} rescue {} end) do %>
        <%= form.select "label", jsonmodel_definition(:date).options_for(form, "label", true) %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("dates[]", 0), begin digital_object_component["dates"][0] || {} rescue {} end) do %>
        <%= form.textfield "expression" %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("dates[]", 0), begin digital_object_component["dates"][0] || {} rescue {} end) do %>
        <%= form.select "date_type", jsonmodel_definition(:date).options_for(form, "date_type", true) %>
      <% end %>
      <% form.push("dates", begin digital_object_component["dates"] || [] rescue [] end) do %>
        <span id="<%= form.id_for(nil) %>"></span>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("dates[]", 0), begin digital_object_component["dates"][0] || {} rescue {} end) do %>
        <%= form.textfield "begin" %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("dates[]", 0), begin digital_object_component["dates"][0] || {} rescue {} end) do %>
        <%= form.textfield "end" %>
      <% end %>
    </td>

    <!-- FILE VERSION
    <%# form.label_and_textarea("file_uri") %>
    <%# form.label_and_boolean("publish", {}, form.default_for("publish")) %>
    <%# form.label_and_select("use_statement", form.possible_options_for("use_statement", true)) %>
    <%# form.label_and_select("xlink_actuate_attribute", form.possible_options_for("xlink_actuate_attribute", true)) %>
    <%# form.label_and_select("xlink_show_attribute", form.possible_options_for("xlink_show_attribute", true)) %>
    <%# form.label_and_select("file_format_name", form.possible_options_for("file_format_name", true)) %>
    <%# form.label_and_textfield("file_format_version") %>
    <%# form.label_and_textfield("file_size_bytes") %>
    <%# form.label_and_textfield("checksum") %>
    <%# form.label_and_select("checksum_method", form.possible_options_for("checksum_method", true)) %>
    -->
    <td class="control-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.textfield("file_uri") %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.checkbox "publish", {}, form.default_for("publish") %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.select("use_statement", jsonmodel_definition(:file_version).options_for(form, "use_statement", true)) %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.select("xlink_actuate_attribute", jsonmodel_definition(:file_version).options_for(form, "xlink_actuate_attribute", true)) %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.select("xlink_show_attribute", jsonmodel_definition(:file_version).options_for(form, "xlink_show_attribute", true)) %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.select("file_format_name", jsonmodel_definition(:file_version).options_for(form, "file_format_name", true)) %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.textfield("file_format_version") %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.textfield("file_size_bytes") %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.textfield("checksum") %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("file_versions[]", 0), begin digital_object_component["file_versions"][0] || {} rescue {} end) do %>
        <%= form.select("checksum_method", jsonmodel_definition(:file_version).options_for(form, "checksum_method", true)) %>
      <% end %>
    </td>

    <!-- NOTES -->
    <td class="control-group">
      <% form.push(form.set_index("notes[]", 0), begin digital_object_component["notes"][0] || {} rescue {} end) do %>
        <%= form.select("type", [""].concat(note_types_for("digital_object_component").map {|value, hash| [hash[:i18n], value]}.sort{|a, b| a[0] <=> b[0]})) %>
        <%= form.hidden_input "jsonmodel_type", "note_digital_object" %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("notes[]", 0), begin digital_object_component["notes"][0] || {} rescue {} end) do %>
        <% form.push(form.set_index("content[]", 0), begin form["content"][0] || "" rescue "" end) do %>
          <%= form.textfield nil, form.obj %>
        <% end %>
        <% form.push("content", begin digital_object_component["content"] || [] rescue [] end) do %>
          <span id="<%= form.id_for(nil) %>"></span>
        <% end %>
        <% form.push(form.set_index("subnotes[]", 0), []) do %>
          <span id="<%= form.id_for("content") %>"></span>
        <% end %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("notes[]", 1), begin digital_object_component["notes"][1] || {} rescue {} end) do %>
        <%= form.select("type", [""].concat(note_types_for("digital_object_component").map {|value, hash| [hash[:i18n], value]}.sort{|a, b| a[0] <=> b[0]})) %>
        <%= form.hidden_input "jsonmodel_type", "note_digital_object" %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("notes[]", 1), begin digital_object_component["notes"][1] || {} rescue {} end) do %>
        <% form.push(form.set_index("content[]", 0), begin form["content"][0] || "" rescue "" end) do %>
          <%= form.textfield nil, form.obj %>
        <% end %>
        <% form.push("content", begin digital_object_component["content"] || [] rescue [] end) do %>
          <span id="<%= form.id_for(nil) %>"></span>
        <% end %>
        <% form.push(form.set_index("subnotes[]", 0), []) do %>
          <span id="<%= form.id_for("content") %>"></span>
        <% end %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("notes[]", 2), begin digital_object_component["notes"][2] || {} rescue {} end) do %>
        <%= form.select("type", [""].concat(note_types_for("digital_object_component").map {|value, hash| [hash[:i18n], value]}.sort{|a, b| a[0] <=> b[0]})) %>
        <%= form.hidden_input "jsonmodel_type", "note_digital_object" %>
      <% end %>
    </td>
    <td class="control-group">
      <% form.push(form.set_index("notes[]", 2), begin digital_object_component["notes"][2] || {} rescue {} end) do %>
        <% form.push(form.set_index("content[]", 0), begin form["content"][0] || "" rescue "" end) do %>
          <%= form.textfield nil, form.obj %>
        <% end %>
        <% form.push("content", begin digital_object_component["content"] || [] rescue [] end) do %>
          <span id="<%= form.id_for(nil) %>"></span>
        <% end %>
        <% form.push(form.set_index("subnotes[]", 0), []) do %>
          <span id="<%= form.id_for("content") %>"></span>
        <% end %>
      <% end %>
    </td>


    <td class="control-group">
      <div class="btn-group">
        <button class="btn btn-success add-row"><span class="icon-plus icon-white"></span></button>
        <% if !first_row %><button class="btn remove-row"><span class="icon-remove"></span></button><% end %>
      </div>
    </td>
  </tr>
<% end %>

<%= stylesheet_link_tag "jquery.kiketable.colsizable.css" %>
<%= stylesheet_link_tag "archivesspace/rde" %>
<div class="rde-wrapper">
  <div class="modal-body">
    <%= form_for @children, :as => @children.class.record_type, :url => {:controller => @parent.jsonmodel_type.pluralize, :action => :add_children, :id => @parent.id}, :html => {:class => 'form-horizontal aspace-record-form', :id => 'rde_form', "data-error-prefix" => I18n.t("rde.messages.error_prefix"), "data-validate-row-uri" => url_for(:controller => :digital_object_components, :action => :validate_rows), "data-exceptions" => @exceptions.to_json, "data-cookie-prefix" => "digi"} do |f| %>
      <%= form_context @children.class.record_type, @children do |form| %>

        <%= render :partial => "shared/flash_messages", :locals => {:form => form} %>

        <p>
          <div class="btn-group">
            <button class="btn btn-small btn-success add-row"><%= I18n.t("rde.actions.add_row") %></button>
            <button class="btn btn-small btn-success dropdown-toggle add-rows-dropdown" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu add-rows-form">
              <div><input type="number" class="input-medium" value="1" /></div>
              <button class="btn btn-small input-medium btn-primary" type="button"><%= I18n.t("rde.actions.add_rows") %></button>
            </div>
          </div>
          <select id="rde_hidden_columns" multiple="multiple" data-i18n-prefix="<%= I18n.t("rde.actions.showhide_prefix") %>" data-i18n-suffix="<%= I18n.t("rde.actions.showhide_suffix") %>" data-i18n-none="<%= I18n.t("rde.actions.showhide_none") %>"></select>
          <div class="btn-group">
            <button class="btn btn-small fill-column"><%= I18n.t("rde.actions.fill_toggle") %></button>
            <button class="btn btn-small reorder-columns"><%= I18n.t("rde.actions.reorder_toggle") %></button>
          </div>

          <button class="btn btn-small toggle-inline-errors active"><%= I18n.t("rde.actions.inline_errors_toggle") %></button>

          <a href="#" id="rde_reset" class="btn btn-small"><%= I18n.t("rde.actions.reset") %></a>
        </p>

        <div class="fill-column-form rde-inline-form" style="display: none;">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#fill_basic" data-toggle="tab"><%= I18n.t("rde.fill_column.basic") %></a></li>
            <li><a href="#fill_sequence" data-toggle="tab"><%= I18n.t("rde.fill_column.sequence") %></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="fill_basic">
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="basicFillTargetColumn"><%= I18n.t("rde.column_label") %></label>
                  <div class="controls">
                    <select id="basicFillTargetColumn"><option selected="selected" class="empty"></option></select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="basicFillTargetColumn"><%= I18n.t("rde.fill_column.fill_value") %></label>
                  <div class="controls fill-value-container">
                    <div class="alert alert-info"><%= I18n.t("rde.fill_column.select_a_column") %></div>
                  </div>
                </div>
                <div class="form-actions">
                  <button class="btn btn-primary btn-small disabled" disabled="disabled"><%= I18n.t("rde.fill_column.apply_basic_fill") %></button>
                  <button class="btn btn-small btn-cancel"><%= I18n.t("actions.cancel") %></button>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="fill_sequence" data-sequence-generator-url="<%= url_for :controller => :resolver, :action => :generate_sequence %>">
              <div class="alert alert-warning" id="sequenceTooSmallMsg" style="display: none;">
                <p><%= I18n.t("rde.fill_column.sequence_count_warning") %></p>
                <button class="btn btn-warning btn-small btn-continue-sequence-fill"><%= I18n.t("actions.continue") %></button>
              </div>
              <fieldset>
                <div class="control-group">
                  <label class="control-label" for="sequenceFillTargetColumn"><%= I18n.t("rde.column_label") %></label>
                  <div class="controls">
                    <select id="sequenceFillTargetColumn"><option selected="selected" class="empty"></option></select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label"><%= I18n.t("rde.fill_column.fill_value") %></label>
                  <div class="controls fill-value-container">
                    <input id="sequenceFillPrefix" class="input-mini" type="text" placeholder="Prefix"/>
                    <input id="sequenceFillFrom" class="input-mini" type="text" placeholder="From"/> -
                    <input id="sequenceFillTo" class="input-mini" type="text" placeholder="To"/>
                    <input id="sequenceFillSuffix" class="input-mini" type="text" placeholder="Suffix"/>
                    <button class="btn btn-small preview-sequence"><%= I18n.t("rde.fill_column.preview_sequence") %></button>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls sequence-preview"></div>
                </div>
                <div class="form-actions">
                  <button class="btn btn-primary btn-small disabled" disabled="disabled"><%= I18n.t("rde.fill_column.apply_sequence_fill") %></button>
                  <button class="btn btn-small btn-cancel"><%= I18n.t("actions.cancel") %></button>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

        <div id="columnReorderForm" class="rde-inline-form" style="display: none;">
          <select id="columnOrder" multiple="multiple"></select>
          <a href="JavaScript:void(0);" id="columnOrderUp" class="btn btn-mini"><span class="icon icon-arrow-up"></span></a>
          <a href="JavaScript:void(0);" id="columnOrderDown" class="btn btn-mini"><span class="icon icon-arrow-down"></span></a>
          <div class="form-actions">
            <button class="btn btn-primary btn-small disabled" disabled="disabled"><%= I18n.t("rde.reorder_columns.apply_order") %></button>
            <button class="btn btn-small btn-cancel"><%= I18n.t("actions.cancel") %></button>
          </div>
        </div>

        <table id="rdeTable" class="table table-striped table-bordered table-condensed" style="width: auto; margin-right: 20px;">
          <colgroup>
            <col class="status" data-default-width='24' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='70' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='70' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="fieldset-col" data-default-width='150' />
            <col class="actions" data-default-width='90' />
          </colgroup>
          <thead>
          <tr class="sections">
            <th data-id="empty" colspan="1"></th>
            <th data-id="basic" class="section-basic" colspan="5"><%= I18n.t("rde.sections.basic_information") %></th>
            <th data-id="date" class="section-date" colspan="5" class="conditionally-required"><%= I18n.t("rde.sections.date") %></th>
            <th data-id="file" class="section-file" colspan="10"><%= I18n.t("rde.sections.file_version") %></th>
            <th data-id="note" class="section-note" colspan="6"><%= I18n.t("rde.sections.notes") %></th>
            <th data-id="empty" colspan="1"></th>
          </tr>
          <tr class="fieldset-labels">
            <th id="colStatus" data-section="empty" />

            <th id="colLabel" class="fieldset-label conditionally-required sticky" data-section="basic"><%= I18n.t("digital_object_component.label") %></th>
            <th id="colTitle" class="fieldset-label conditionally-required sticky" data-section="basic"><%= I18n.t("digital_object_component.title") %></th>
            <th id="colCompId" class="fieldset-label sticky" data-section="basic"><%= I18n.t("digital_object_component.component_id") %></th>
            <th id="colPublish" class="fieldset-label sticky" data-section="basic"><%= I18n.t("digital_object_component.publish") %></th>
            <th id="colLang" class="fieldset-label sticky" data-section="basic"><%= I18n.t("digital_object_component.language") %></th>

            <th id="colDLabel" class="fieldset-label sticky" data-section="date"><%= I18n.t("date.label") %></th>
            <th id="colExpr" class="fieldset-label sticky" data-section="date"><%= I18n.t("date.expression") %></th>
            <th id="colDType" class="fieldset-label sticky" data-section="date"><%= I18n.t("rde.date_type") %></th>
            <th id="colDBegin" class="fieldset-label sticky" data-section="date"><%= I18n.t("date.begin") %></th>
            <th id="colDEnd" class="fieldset-label sticky" data-section="date"><%= I18n.t("date.end") %></th>

            <th id="colFUri" class="fieldset-label" data-section="file"><%= I18n.t("file_version.file_uri") %></th>
            <th id="colFPublish" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.publish") %></th>
            <th id="colFUse" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.use_statement") %></th>
            <th id="colFActuate" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.xlink_actuate_attribute") %></th>
            <th id="colFShow" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.xlink_show_attribute") %></th>
            <th id="colFFormat" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.file_format_name") %></th>
            <th id="colFVersion" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.file_format_version") %></th>
            <th id="colFSize" class="fieldset-label sticky" data-section="file"><%= I18n.t("file_version.file_size_bytes") %></th>
            <th id="colFCSum" class="fieldset-label" data-section="file"><%= I18n.t("file_version.checksum") %></th>
            <th id="colFCSumM" class="fieldset-label" data-section="file"><%= I18n.t("file_version.checksum_method") %></th>

            <th id="colNType1" class="fieldset-label" data-section="note"><%= I18n.t("note._singular") %> 1</th>
            <th id="colNCont1" class="fieldset-label" data-section="note"><%= I18n.t("note_attributes.content") %> 1</th>
            <th id="colNType2" class="fieldset-label" data-section="note"><%= I18n.t("note._singular") %> 2</th>
            <th id="colNCont2" class="fieldset-label" data-section="note"><%= I18n.t("note_attributes.content") %> 2</th>
            <th id="colNType3" class="fieldset-label" data-section="note"><%= I18n.t("note._singular") %> 3</th>
            <th id="colNCont3" class="fieldset-label" data-section="note"><%= I18n.t("note_attributes.content") %> 3</th>

            <th id="colActions" data-section="empty"></th>
          </tr>
          </thead>
          <tbody>
            <% if @children.children.length > 0 %>
              <% @children.children.each_with_index do |child, idx|
                  form.push(form.set_index("children[]", idx), child) do %>
                    <%= form.emit_template("rde_row", child) %>
                <% end
              end %>
            <% else %>
              <% form.push(form.set_index("children[]", 0), {}) do %>
                <%= form.emit_template("rde_row") %>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <br/>
        <div>
          <div class="btn-group">
            <button class="btn btn-small btn-success add-row"><%= I18n.t("rde.actions.add_row") %></button>
            <button class="btn btn-small btn-success dropdown-toggle add-rows-dropdown" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu add-rows-form">
              <div><input type="number" class="input-medium" value="1" /></div>
              <button class="btn btn-small input-medium btn-primary" type="button"><%= I18n.t("rde.actions.add_rows") %></button>
            </div>
          </div>
        </div>
        <br/>
        <div class="well">
          <div class="row">
            <div class="span6">
              <%= I18n.t("rde.help.keyboard_shortcuts") %>
              <br/>
              <%= I18n.t("rde.help.fill_column") %>
            </div>
            <div class="span6">
              <%= I18n.t("rde.help.sticky_columns") %>
              <br/>
              <%= I18n.t("rde.help.resize_and_reorder_columns") %>
              <br/>
              <%= I18n.t("rde.help.reset") %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button id="saveChangesButton" class="btn btn-primary"><%= I18n.t("rde.actions.submit") %></button>
    <button id="validateButton" class="btn"><%= I18n.t("rde.actions.validate_rows") %></button>
    <button class="btn btn-cancel" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
  </div>
</div>
