<div class="d-flex">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <% define_template "digital_object_component", jsonmodel_definition(:digital_object_component) do |readonly, digital_object_component| %>
        <h2><%= clean_mixed_content(digital_object_component.display_string) %> <span class="label label-info badge"><%= t("digital_object_component._singular") %></span></h2>

        <%= render_aspace_partial :partial => "shared/form_messages", :locals => {:form => readonly} %>

        <section id="basic_information">
          <h3><%= t("digital_object_component._frontend.section.basic_information") %></h3>

          <%= render_plugin_partials("top_of_basic_information_digital_object_component",
                                     :form => readonly,
                                     :record => @digital_object_component) %>

          <%= readonly.label_and_textfield "label" %>
          <%= readonly.label_and_textarea "title" %>
          <%= readonly.label_and_textfield "component_id" %>

          <%= readonly.label_with_field "public_url", readonly.slug_url_field("slug", session[:repo_slug], AppConfig[:repo_name_in_slugs]) if AppConfig[:use_human_readable_urls] %>

          <%= readonly.label_and_boolean "publish" %>
          <%= readonly.label_and_boolean "has_unpublished_ancestor" %>

          <%= render_plugin_partials("basic_information_digital_object_component",
                                     :form => readonly,
                                     :record => @digital_object_component) %>

        </section>

        <% if digital_object_component.file_versions.length > 0 %>
          <%= render_aspace_partial :partial => "file_versions/show", :locals => { :file_versions => digital_object_component.file_versions, :section_id => "digital_object_component_file_versions_", :title => digital_object_component.display_string } %>
        <% end %>

        <% if digital_object_component.lang_materials.length > 0 %>
          <%= render_aspace_partial :partial => "lang_materials/show", :locals => { :lang_materials => digital_object_component.lang_materials, :section_id => "digital_object_component_lang_materials_" } %>
        <% end %>

        <% if digital_object_component.dates.length > 0 %>
          <%= render_aspace_partial :partial => "dates/show", :locals => { :dates => digital_object_component.dates, :section_id => "digital_object_component_dates_" } %>
        <% end %>

        <% if digital_object_component.extents.length > 0 %>
          <%= render_aspace_partial :partial => "extents/show", :locals => { :extents => digital_object_component.extents, :section_id => "digital_object_component_extents_" } %>
        <% end %>

        <% if digital_object_component.linked_agents.length > 0 %>
          <%= render_aspace_partial :partial => "linked_agents/show", :locals => { :linked_agents => digital_object_component.linked_agents, :section_id => "digital_object_component_linked_agents_" } %>
        <% end %>

        <% if not digital_object_component.subjects.blank? %>
          <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => digital_object_component.subjects, :section_id => "digital_object_component_subjects_"} %>
        <% end %>

        <% if digital_object_component.notes.length > 0 %>
          <%= render_aspace_partial :partial => "notes/show", :locals => { :notes => digital_object_component.notes, :context => readonly } %>
        <% end %>

        <% if digital_object_component.external_documents.length > 0 %>
          <%= render_aspace_partial :partial => "external_documents/show", :locals => { :external_documents => digital_object_component.external_documents, :section_id => "digital_object_component_external_documents_" } %>
        <% end %>

        <% if digital_object_component.rights_statements.length > 0 %>
          <%= render_aspace_partial :partial => "rights_statements/show", :locals => { :rights_statements => digital_object_component.rights_statements, :section_id => "digital_object_component_rights_statements_"  } %>
        <% end %>

        <%= render_aspace_partial :partial => "linked_events/show", :locals => { :linked_events => digital_object_component.linked_events, :context => readonly, :section_id => "digital_object_component_linked_events_" } %>

        <% if digital_object_component.external_ids.length > 0 && show_external_ids? %>
          <%= render_aspace_partial :partial => "external_ids/show", :locals => { :external_ids => digital_object_component.external_ids, :context => readonly, :section_id => "digital_object_component_external_ids_" } %>
        <% end %>


        <%= show_plugins_for(@digital_object_component, readonly) %>

      <% end %>


      <%= readonly_context :digital_object_component, @digital_object_component do |readonly| %>
        <% readonly.emit_template("digital_object_component", @digital_object_component) %>
      <% end %>
    </div>
  </div>
</div>
