<%= setup_context :object => @digital_object_component, :type => :digital_object_component, :title => t("actions.defaults") %>

<div id="object_container">
  <%= form_for @digital_object_component, :as => "digital_object_component", :url => {:action => :update_defaults}, :html => {:class => 'form-horizontal aspace-record-form'} do |f| %>
    <%= form_context :digital_object_component, @digital_object_component do |form| %>
      <div class="row">
         <div class="col-md-3">
            <%= render_aspace_partial :partial => "digital_object_components/sidebar" %>
         </div> <!-- col-md-3 -->
        <div class="col-md-9">
          <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
          <div class="record-pane" id="object_container">
             <%= render_aspace_partial :partial => "digital_object_components/form_container", :locals => {:form => form} %>

             <div class="form-actions">
               <button type="submit" class="btn btn-primary"><%= t("digital_object_component._frontend.action.save") %></button>
                <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
             </div>
           </div>
         </div>
      </div>
    <% end %>
  <% end %>
</div>
