<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <section id="header"></section>
  <section id="navigation"></section>
  <section id="welcome"></section>
  <section id="search-box"></section>
  <section id="container"></section>


  <div class="reveal" id="wait-modal" data-reveal data-options="animation_speed: 0; close_on_background_click: false; close_on_esc: false;" style="background-color: transparent; border: 0px; box-shadow: 0 0 0 0;">
    <center>
      <div class="la-line-spin-clockwise-fade la-3x">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </center>
  </div>

  <%= javascript_include_tag "application" %>

  <!-- templates -->

  <!-- header -->
  <script type="text/template" id="header-tmpl">
    <div class="row collapse expanded fullwidth valign-middle">
      <div class="small-8 columns"><h1 title="Title can be customized by the institution."><a href="/">ArchivesSpace Instance Title</a></h1></div>

      <div class="small-4 columns logo">
        <img src="/img/Aspace-logo.png" />
      </div>
    </div>
  </script>

  <!-- navbar -->
  <script type="text/template" id="navbar-tmpl">
    <div class="top-bar" role="navigation">
      <div class="top-bar-left">
          <!-- Left Nav Section -->
          <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="${ encodeURI( '/search?recordtype=repository' ) }">Repositories</a></li>
            <li><a href="${ encodeURI( '/search?recordtype=collection' ) }">Collections</a></li>
            <li><a href="${ encodeURI( '/search?recordtype=digital_object' ) }">Digital items</a></li>
            <li><a href="${ encodeURI( '/search?recordtype=accession' ) }">Unprocessed Material</a></li>
            <li><a href="${ encodeURI( '/search?recordtype=subject' ) }">Subjects</a></li>
            <li><a href="${ encodeURI( '/search?recordtype=agent_person&type=agent_family&type=agent_corporate_entity' ) }">People & Organizations</a></li>
            <li><a href="${ encodeURI( '/search?recordtype=classification' ) }">Record Groups</a></li>
          </ul>
        </div>
      </div>
  </script>

  <!-- content and sidebar -->
  <script type="text/template" id="container-tmpl">
    { var mainWidth = _.isUndefined(mainWidth) ?  8 : mainWidth; }
    { var sidebarWidth = _.isUndefined(sidebarWidth) ? 4 : sidebarWidth; }
    <div class="row collapse">
      { if(typeof(headerText) != 'undefined') {}
      <h2>${headerText}</h2>
      {} }

      <!-- main content -->
      <div id="main-content" class="medium-${mainWidth } columns"></div>
      <!-- sidebar -->
      <div id="sidebar" class="medium-${sidebarWidth } columns"></div>
    </div>
  </script>


  <!-- welcome -->
  <script type="text/template" id="welcome-tmpl">
    <div class="row">
      <div class="columns small-12">
        <h2>Welcome to Name Here Archives</h2>
        <p>Customizable intro area. The institution should be able to put formatting in here, as well, including images, a header, links, etc. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor.</p>
      </div>
    </div>
  </script>


  <!-- search box (welcome page)-->
  <script type="text/template" id="search-box-tmpl">
    <h2>Search the archives</h2>
    <div class="panel search-panel-blue">
      <div class="search-row-container"></div>
      <div class="text-left"><p><a href="#" data-tooltip aria-haspopup="true" class="has-tip" title="Clicking this will take the user to a seprate page with helpful information on how to search.">Search help</a></p></div>
    </div>
  </script>

  <!-- search box query row -->
  <script type="text/template" id="search-query-row-tmpl">
      { var recordType = recordType || 'any' }
      { var field = field || 'keyword' }
      { var op = op || 'AND' }

      <div class="small-1 columns">
        { if(index > 0) { }
        <button href="#" data-toggle="op${rowId}" aria-controls="op${rowId}" aria-expanded="false" class="button dropdown tiny secondary"></button><br>
        <ul data-name="op" id="op${rowId}" data-dropdown class="dropdown-pane" aria-hidden="true">
          <li data-value="AND" class="${ op === 'AND' ? 'selected' : ''}"><a href="#">And</a></li>
          <li data-value="OR" class="${ op === 'OR' ? 'selected' : ''}"><a href="#">Or</a></li>
          <li data-value="NOT"><a href="#">Not</a></li>
        </ul>
        {} else { }
        &#160;
        {} }
      </div>
      <div class="small-3 columns">
        { if(typeof(value) != 'undefined') {}
        <h5><strong> &#160; ${value}</strong></h5>
        <input name="q${rowId}" type="hidden" value="${value}"/>
        {} else { }
        <input name="q${rowId}" type="text" placeholder="Enter your search terms" />
        {} }
      </div>
      <div class="small-3 columns search-query-recordtype-col">
        { if(index === 0) { }
        <button type="button" data-toggle="recordtype" aria-controls="recordtype" aria-expanded="false" class="button dropdown tiny secondary"></button><br>
        <ul data-name="recordtype" id="recordtype" data-dropdown class="dropdown-pane" aria-hidden="true">
          <li data-value="any" class="${recordType === 'any' ? 'selected' : ''}"><a href="#">Search all record types</a></li>
          <li data-value="collection" class="${recordType === 'collection' ? 'selected' : ''}"><a href="#">Search collections</a></li>
          <li data-value="digital_object" class="${recordType === 'digital_object' ? 'selected' : ''}"><a href="#">Search digital materials</a></li>
        </ul>
        {} else { }
        &#160;
        {} }
      </div>
      <div class="small-2 columns">
        <button href="#" data-toggle="f${rowId}" aria-controls="fieldsearched" aria-expanded="false" class="button dropdown tiny secondary"></button><br>
        <ul data-name="f" id="f${rowId}" data-dropdown class="dropdown-pane" aria-hidden="true">
          <li data-value="keyword" { if(!field || field === 'keyword'){ } class="selected" {} }><a href="#">Keyword</a></li>
          <li data-value="creator" { if(field === 'creator'){ } class="selected" {} }><a href="#">Creator</a></li>
          <li data-value="notes" { if(field === 'notes'){ } class="selected" {} }><a href="#">Notes</a></li>
          <li data-value="subject" { if(field === 'subject'){ } class="selected" {} }><a href="#">Subject</a></li>
          <li data-value="title" { if(field === 'title'){ } class="selected" {} }><a href="#">Title</a></li>
        </ul>
      </div>
      <div class="small-1 columns add-query-row">
        <a href="#" class="button tiny secondary">+</a>
      </div>
      <div class="small-2 columns text-right">
        <button id="search-button" class="button tiny">Search</button>
      </div>
    <!-- </div> -->


  </script>

  <script type="text/template" id="search-toolbar-results-tmpl">
    Your search for ${searchTermsString('searchterm')} yielded ${totalRecords} results.
  </script>

  <!-- search toolbar -->
  <script type="text/template" id="search-toolbar-tmpl">
    <div class="panel search-panel">
    <div class="row first-row valign-middle">
      <div class="small-5 columns">
        <p class="search-toolbar-results">Executing query</p>
      </div>
      <div class="small-4 columns valign-middle">
        <p class="search-toolbar-display-ctrl">Number of results displayed:
          <button type="button" data-toggle="numberresults" aria-controls="numberresults" aria-expanded="false" class="button dropdown tiny">${pageSize}</button><br />
          <ul id="numberresults" data-dropdown class="dropdown-pane" aria-hidden="true">
          { _.forEach([20, 40, 60, 100], function(sizeOption) { }
          <li { if(sizeOption === pageSize) {} class="selected" {} }>
            <a href="#">${sizeOption}</a>
          </li>
          {}); }
          </ul>
        </p>
      </div>
      <div class="small-3 columns valign-middle">
        <p class="search-toolbar-display-ctrl">Sort by:
          <button href="#" data-toggle="sortorder" aria-controls="sortorder" aria-expanded="false" class="button dropdown tiny">Relevance</button><br>
          <ul id="sortorder" data-dropdown class="dropdown-pane" aria-hidden="true">
            <li data-value="relevance"><a href="#" class="selected">Relevance</a></li>
            <li data-value="title"><a href="#">Title</a></li>
            <li data-value="date_added"><a href="#">Date added</a></li>
            <li data-value="material_date"><a href="#">Date of material</a></li>
          </ul>
        </p>
      </div>
    </div>
    <div class="row second-row">
      <div class="small-6 columns">
        Search controls:
        <div class="button-group round small">
          <a href="/" class="button">New Search</a>
          <a id="revise-search-button" href="#" class="button">Revise Current Search</a>
        </div>
      </div>
      <div class="small-6 columns">
        <div style="float:left"></div>
        <div class="align-left" style="float:right">
        Display search results as:
        <div class="button-group round small">
          <a href="02searchresults.html" class="button fi-list-thumbnails disabled"> All items</a>
          <a href="02searchresultstree.html" class="button fi-page-multiple"> Collections</a>
          <a href="02searchresultsgrid.html" class="button fi-thumbnails"> Digital items</a>
        </div>
        </div>
      </div>
    </div>
    </div>
  </script>


  <!-- server error -->
  <script type="text/template" id="server-error-tmpl">
    <h2>Server Error: ${ status }</h2>
    <pre>${ responseText }</pre>
  </script>

  <!-- record -->
  <script type="text/template" id="record-tmpl">
    <div class="record-container ${hasOuterBorder ? 'with-border' : ''}">
      <div class="row collapse">
        <div class="columns small-${hasToolbar ? 8 : 12} record-header">
          <h2>${title}</h2>
          <div class="type-label ${recordType}">
            <i class="${recordTypeIconClass}"></i>&#160;${recordTypeLabel}
          </div>
          <div class="identifier">
            <span class="id-label">Identifier:</span>&#160;${identifier}
          </div>
        </div>
        { if(hasToolbar) {}
        <div class="columns small-4 text-right record-toolbar">
          <ul class="menu icon-top">
            <li class=""><a href="#" class="item"><i class="fi-bookmark"></i>Citation</a></li>
            <li class=""><a href="#" class="item"><i class="fi-bookmark"></i>Bookmark</a></li>
            <li class=""><a href="#" class="item"><i class="fi-bookmark"></i>Request</a></li>
            <li class=""><a href="#" class="item"><i class="fi-bookmark"></i>Print</a></li>
          </ul>
        </div>
        {}}
      </div>
      { if(hasFullWidthContext) {}
      <div class="row collapse context-row">
        <div class="columns small-12">
          CONTEXT: | <a href="#">Repository Name</a> | ${title}
        </div>
      </div>
      {}}
      <!-- TODO Row with button group here for Collections -->

      <div class="row collapse">
        <div class="columns small-${hasContentSidebar ? 8 : 12}">

          { if(!hasFullWidthContext) {}
          <div class="row collapse context-row">
              CONTEXT: | ${repositoryName}
          </div>
          {}}

          <!-- optional image with caption -->
          { if(has('representativeImage')) {}
          <div class="record-image">
            <div class="image-container">
              <img src="${representativeImage}" />
            </div>
            <p>${representativeImageCaption}</p>
          </div>
          {}}

          <p>${abstract}</p>

          { if(present('dates')) {}
          <h3>Dates</h3>
          <ul>
            {_.forEach(dates, function(dateString) { }
            <li>${dateString}</li>
            {}); }
          </ul>
          {}}
          { if(has('language')) {}
          <h3>Language</h3>
          <ul>
            <li>${language}</li>
          </ul>
          {}}

          { if(hasAccordion) {}
          <div class="accordion-table" data-accordion-table>

            <div class="navigation-row" data-header-for="additional-description">
              <div><div class="arrow-right"></div></div>
              <div>Additional Description</div>
            </div>
            <div id="additional-description" class="content-row">
              <div></div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>

            {if(has('related_agents')) {}
            <div class="navigation-row" data-header-for="related-agents">
              <div><div class="arrow-right"></div></div>
              <div>Related People and Organizations</div>
            </div>
            <div id="related-agents" class="content-row">
              <div></div>
              <div>
                <ul>
                  {_.forEach(related_agents, function(agents, role) {}
                  <li>${role}
                    <ul>
                      {_.forEach(agents, function(agent) {}
                      <li>${agent}</li>
                      {});}
                    </ul>
                  </li>
                  {});}
              </div>
            </div>
            {}}

            {if(has('subjects')) {}
            <div class="navigation-row" data-header-for="subjects">
              <div><div class="arrow-right"></div></div>
              <div>Subjects</div>
            </div>
            <div id="subjects" class="content-row">
              <div></div>
              <div>
                <ul>
                {_.forEach(subjects, function(subj) {}
                <li>${subj}</li>
                {});}
                </ul>
              </div>
            </div>
            {}}

            {if(has('classifications')) {}
            <div class="navigation-row" data-header-for="classifications">
              <div><div class="arrow-right"></div></div>
              <div>Classifications</div>
            </div>
            <div id="classifications" class="content-row">
              <div></div>
              <div>
                <ul>
                {_.forEach(classifications, function(classif) {}
                <li>${classif}</li>
                {});}
                </ul>
              </div>
            </div>
            {}}

            <div class="navigation-row" data-header-for="repo-details">
              <div><div class="arrow-right"></div></div>
              <div>Repository Details</div>
            </div>
            <div id="repo-details" class="content-row">
              <div></div>
              <div>
                <ul>
                  <li>Name
                    <ul>
                      <li>${repository.name}</li>
                    </ul>
                  </li>
                  {if(repository.address){}
                  <li>Address
                    <ul>
                      <li>${repository.address}</li>
                    </ul>
                  </li>
                  {}}
                  {if(repository.phone){}
                  <li>Phone
                    <ul>
                      <li>${repository.phone}</li>
                    </ul>
                  </li>
                  {}}
                  {if(repository.email){}
                  <li>Email
                    <ul>
                      <li>${repository.email}</li>
                    </ul>
                  </li>
                  {}}
                </ul>
              </div>
            </div>


            <div class="navigation-row" data-header-for="admin-info">
              <div><div class="arrow-right"></div></div>
              <div>Administrative Information</div>
            </div>
            <div id="admin-info" class="content-row">
              <div></div>
              <div>
                <ul>
                  <% %w(finding_aid_author
                     finding_aid_title
                     finding_aid_subtitle
                     finding_aid_filing_title
                     finding_aid_date
                     finding_aid_author
                     finding_aid_description_rules
                     finding_aid_language
                     finding_aid_sponsor
                     finding_aid_edition_statement
                     finding_aid_series_statement
                     finding_aid_status
                     finding_aid_note).each do |field| %>

                  {if(<%= field %>) {}
                  <li><%= I18n.t("resource.#{field}") %>
                    <ul>
                      <li>${<%= field %>}</li>
                    </ul>
                  </li>
                  {}}
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          {}}
        </div>


        { if(hasContentSidebar) {}
        <div class="columns small-4">
          <!-- Sidebar -->
        </div>
        {}}
      </div>

    </div>

  </script>


  <!-- facets sidebar -->
  <script type="text/template" id="facets-tmpl">
    <h3>Filter results</h3>
    <div>
      <ul class="applied-filters side-nav">
        {forEachAppliedFilterWithLabel(function(filter, label) { }
        <li class="remove" data-value='${JSON.stringify(filter)}'><a href="${getRemoveFilterURL(filter) }">${label }</a></li>
        {}); }
      </ul>
    </div>
    <h3 data-tooltip aria-haspopup="true" class="has-tip" title="This filter narrow the results down based on the date the original object was created, authored, or otherwise came into existence. They do not correlate to when the record itself was created. Date searches may not be all inclusive because some dates are too vague to be machine readable. Those records cannot be caught by this filter.">Dates to include <i class="fi-info"></i></h3>
    <div>
      <form>
        <input type="text" placeholder="Start year"> to
        <input type="text" placeholder="End year">
        <a href="#" class="button postfix">Filter</a>
        </form>
      </div>
    <h3 data-tooltip aria-haspopup="true" class="has-tip" title="Following are additional filters available based on your current search parameters. These options will narrow your results down to each specific category.">Additional filters <i class="fi-info"></i></h3>
    <div>
      {eachUsableFacetGroup(function(facets, facetGroup) { }
      <!-- <span class="definition"># of records</span> -->
      <h5>${facetGroup }</h5>
      <ul class="facet-group side-nav">
        {_.forOwn(facets, function(facetMap, facet) { }
        <li data-value='${facetMap.filter_term}'><a href="${getAddFilterURL(facetMap.filter_term) }">${facetMap.label }</a><span class="recordnumber">${facetMap.count }</span></li>
        {}); }
      </ul>
      {}); }
    </div>
  </script>


  <!-- Search result row -->
  <script type="text/template" id="search-result-row-tmpl">
    <div class="recordrow">
      <h3><a class="record-title" href="${ url }">${ title }</a></h3>
      <div class="recordtype"><span class="${ recordTypeClass }"><i class="fi-clipboard small"> </i> ${ recordTypeLabel }</span> &nbsp; | &nbsp; <strong>Identifier:</strong> ${ identifier }</div>
      <div class="recordsummary">${ summary }</div>
      {if(dates.length) { }
      <div class="recorddate"><strong>Date(s):</strong> ${ dates.join("; ") }</div>
      {} }

      {if(context) {}
      <div class="recordcontext"><strong>Context:</strong> <a href="#">Repository name</a></div>
      {}}
      {if(has('highlights')){}
      <div class="keywordscontext">
        <button class="button radius"><span>+</span>&#160;Search Terms in Context</button>
        <div class="content">
        <ul class="recordchildren">
          {_.forEach(_.slice(highlights, 0, 2), function(snip) {}
          <li>...${ snip }...</li>
          {}); }
          { if (highlights.length > 3 ) {}
          <li class="smallnote">${highlights.length - 3} more references to search keywords</li>
          {}}
        </ul>
        </div>

        <!-- <dl class="accordion" data-accordion> -->
        <!--   <dd class="accordion-navigation"> -->
        <!--     <a href="#panelcontents_${ index }"><i class="fi-plus"> </i>Keywords in context</a> -->
        <!--     <div id="panelcontents_${ index }" class="content"> -->
        <!--       <ul class="recordchildren"> -->
        <!--         {_.forEach(highlights, function(snip) {} -->
        <!--         <li>...${ snip }...</li> -->
        <!--         {}); } -->
        <!--         <li class="smallnote">29 more references to search keywords</li> -->
        <!--       </ul> -->
        <!--       <a href="03record-collection.html" class="button">View collection</a> -->
        <!--     </div> -->
        <!--   </dd> -->
        <!-- </dl> -->
      </div>
      {}}
    </div>
  </script>


  <!-- Search Pager -->
  <script type="text/template" id="search-pager-tmpl">
    <ul class="pagination" role="menubar" aria-label="Pagination">
      <li class='arrow${hasPreviousPage ? "'>": " unavailable' aria-disabled='true'>"}<a href="${hasPreviousPage ? getPreviousPageURL() : ''}">&#171; Previous</a></li>
          {_.times((getPagerEnd() - getPagerStart() + 1), function(n) {}
<li>
  {if(n + getPagerStart() === currentPage) { }
  <li>${n+getPagerStart() }</li>
  {} else { }
  <a href="${getPageURL((n + getPagerStart())) }">${n+getPagerStart() }</a></li>
{} }
  {}); }
      <li class='arrow${hasNextPage ? "'>": " unavailable' aria-disabled='true'>"}<a href="${hasNextPage ? getNextPageURL() : ''}">Next &#187;</a></li>
    </ul>
  </script>


</body>
</html>
