<%
   section_id = "interrelated_accessions" if section_id.blank?
%>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= t("related_accession._plural") %></h3>


  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <table class="table table-striped table-bordered table-condensed table-hover token-list">
        <thead>
          <tr>
            <td><%= t("accession.relator") %></td>
            <td><%= t("accession.relator_type") %></td>
            <td><%= t("accession._singular") %></td>
          </tr>
        </thead>
        <tbody>
          <% related_accessions.each_with_index do | accession, index | %>
            <tr>
              <td><%= t("#{accession['jsonmodel_type']}.#{accession['relator']}") %></td>
              <td><%= t("#{accession['jsonmodel_type']}.#{accession['relator_type']}") %></td>
              <td>
                <%= render_token :object => accession["_resolved"],
                                 :label => accession["_resolved"]["display_string"],
                                 :type => "accession",
                                 :uri => accession["ref"] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</section>
