<% define_template "interrelated_accessions" do |form| %>
  <% if form.obj['jsonmodel_type'] == 'accession' %>
    <div class="interrelated-accessions-form subrecord-form-fields">
      <div class="control-group">
        <label class="control-label"><%= I18n.t("interrelated_accession.relationship_type") %></label>
        <div class="controls">
          <select class="related-accession-type">
            <option value="related_accessions_type_nil"></option>
            <% jsonmodel_definition(:accession).allowable_types_for("related_accessions").sort_by {|type| I18n.t("#{type}._singular")}.each do |type| %>
              <option value="<%= type %>"><%= I18n.t("#{type}._singular") %></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="subsubform"></div>
    </div>
  <% else %>
    <% form.emit_template(form.obj['jsonmodel_type']) %>
  <% end %>
<% end %>


<% jsonmodel_definition(:accession).allowable_types_for("related_accessions").each do |relationship_type| %>
  <% define_template "#{relationship_type}", jsonmodel_definition(relationship_type.intern) do |form, opts = {}| %>
    <div class="subrecord-form-fields">
      <h4 class="subrecord-form-heading"><%= I18n.t("#{relationship_type}._singular") %></h4>
      <div class="subrecord-form-container">
        <%= form.hidden_input(:jsonmodel_type, "#{relationship_type}") %>
        <%= form.label_and_select("relator", form.possible_options_for("relator")) %>
        <%= render_aspace_partial :partial => "accessions/linker",
                   :locals => {
                       :form => form,
                       :linker_label => I18n.t("#{relationship_type}.ref"),
                       :allowed_types => form.allowable_types_for("ref"),
                       :exclude_ids => @accession.uri ? [@accession.uri] : [],
                       :multiplicity => :one
                   }
         %>
        <%= form.label_and_select("relator_type", form.possible_options_for("relator_type")) %>
      </div>
    </div>
  <% end %>
<% end %>
