<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @top_container, :form => form} %>

<% define_template("top_container", jsonmodel_definition(:top_container)) do |form| %>
  <%= render_plugin_partials("top_of_basic_information_top_container",
                             :form => form,
                             :record => @top_container) %>
  <% form.push("container_profile", form.obj["container_profile"] || {}) do %>
      <%= render_aspace_partial :partial => "container_profiles/linker", :locals => {:form => form, :label => t("container_profile._singular"), :required => false} %>
  <% end %>
  
  <%= form.label_and_select "type", form.possible_options_for('type', true) %>
  <%= form.label_and_textfield("indicator") %>

  <%= form.label_and_textfield("barcode") %>
  <div class="controls label-only">
      <span class='help-inline'>
          <%= t("top_container.barcode_length_for_this_repository") %> <%= barcode_length_range %> <%= t("top_container.characters") %>
      </span>
  </div>

  <%= form.label_and_textfield("ils_holding_id") %>
  <%= form.label_and_readonly("ils_item_id") %>
  <%= form.hidden_input("ils_item_id") %>
  <%= form.label_and_readonly("exported_to_ils", t("top_container.not_exported")) %>
  <%= form.hidden_input("exported_to_ils") %>
  <%= form.label_and_textarea("internal_note") %>

  <% if defined?(created_for_collection) %>
    <%= form.hidden_input("created_for_collection", created_for_collection) %>
  <% else %>
    <%= form.hidden_input("created_for_collection") %>
  <% end %>

  <%= render_plugin_partials("basic_information_top_container",
                             :form => form,
                             :record => @top_container) %>

  <div class="subrecord-form-container">
    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "container_locations", :section_id => "container_locations"} %>
  </div>

  <%= form_plugins_for("top_container", form) %>
<% end %>


<% form.emit_template("top_container") %>
