<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @top_container, :form => form} %>

<% define_template("top_container", jsonmodel_definition(:top_container)) do |form| %>
  <% form.push("container_profile", form.obj["container_profile"] || {}) do %>
      <%= render_aspace_partial :partial => "container_profiles/linker", :locals => {:form => form, :label => I18n.t("container_profile._singular"), :required => false} %>
  <% end %>

  <%= form.label_and_textfield("indicator") %>

  <%= form.label_and_textfield("barcode") %>
  <div class="controls label-only">
      <span class='help-inline'>
          <%= I18n.t("top_container.barcode_length_for_this_repository") %> <%= barcode_length_range %> <%= I18n.t("top_container.characters") %>
      </span>
  </div>

  <%= form.label_and_textfield("ils_holding_id") %>
  <%= form.label_and_readonly("ils_item_id") %>
  <%= form.hidden_input("ils_item_id") %>
  <%= form.label_and_readonly("exported_to_ils", I18n.t("top_container.not_exported")) %>
  <%= form.hidden_input("exported_to_ils") %>

  <%= form.label_with_field "legacy_restricted", I18n.t("boolean.#{form.obj["legacy_restricted"].to_s}"), :controls_class => "label-only" %>
  <%= form.hidden_input "legacy_restricted", form.obj["legacy_restricted"] ? 1 : 0 %>

  <div class="subrecord-form-container">
    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "container_locations"} %>
  </div>
<% end %>


<% form.emit_template("top_container") %>
