<%
  if form.obj['ref'].blank?
    selected_json = "{}"
  else
    selected_json = form.obj['_resolved'].to_json
  end

  exclude_ids = [] if exclude_ids.blank?

  allow_create = true if allow_create.nil?

  required = true if required.nil?

  linkable_types = ["top_container"]

  build_typeahead_url = proc {
    uri = self.instance_variable_get(:"@resource_uri")

    url_for :controller => :top_containers, :action => :typeahead, :format => :json, :uri => uri
  }

%>
<div class="form-group <% if required %>required<% end %>">
  <div class="controls">
    <div class="input-group linker-wrapper rde-top-containers-linker-grid">
      <input type="text" class="form-control linker"
             id="<%= form.id_for("ref") %>"
             data-label_create="<%= t("top_container.linker.create") %>"
             data-label_browse="<%= t("top_container.linker.browse") %>"
             data-label_link="<%= t("linker.link") %>"
             data-label_create_and_link="<%= t("linker.create_and_link") %>"
             data-name="ref"
             data-path="<%= form.path %>"
             data-url="<%= build_typeahead_url.call %>"
             data-browse-url="<%= url_for :controller => :top_containers, :action => :bulk_operations_browse %>"
             data-selected="<%= selected_json %>"
             data-multiplicity="one"
             data-types='<%= linkable_types.to_json %>'
             data-exclude='<%= exclude_ids.to_json %>'
      />

      <% if form.obj.has_key?('_resolved') %>

        <input type="text"
               class='prelinker'
               name="<%= form.path %>[_resolved]"
               value="<%= selected_json %>" />

        <input type="text"
               class='prelinker'
               name="<%= form.path %>[ref]"
               value="<%= form.obj["ref"] %>" />

      <% end %>

      <% if allow_create && user_can?('update_container_record') %>

        <div class="input-group-append flex-shrink-0">
          <button
            type="button"
            class="btn btn-default linker-create-btn rde-top-containers-linker"
            data-target="<%= url_for :controller => :top_containers, :action => :new, :small => true, :inline => true, :created_for_collection => self.instance_variable_get(:"@resource_uri") %>"
          ><%= t("actions.create") %></button>
        </div>

      <% end %>
    </div>
  </div>
</div>
