<%= setup_context(:object => @top_container, :title => @top_container.display_string) %>

<%= form_for @top_container, :as => "top_container", :url => {:controller => :top_containers, :action => :update}, :html => {:class => 'form-horizontal aspace-record-form', :id => "new_top_container_form"} do |f| %>
  <%= form_context :top_container, @top_container do |form| %>
    <div class="d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "toolbar" %>
        <div class="record-pane">
          <%= link_to_help :topic => "top_container" %>
          <h2><%= @top_container.display_string %> <span class="label label-info badge"><%= t("top_container._singular") %></span></h2>

          <%= render_aspace_partial :partial => "form", :locals => {:form => form} %>

          <div class="form-actions pl-0">
            <button type="submit" class="btn btn-primary"><%= t("top_container._frontend.action.save") %></button>
            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= javascript_include_tag("subrecord.crud") %>
<%= javascript_include_tag("form") %>
<script>
  $(function() {
        $(".linker:not(.initialised)", $("#form_top_container")).linker();

  });
</script>
