<%= setup_context(:title => t("top_container._plural")) %>

<%= render_aspace_partial :partial => "top_containers/bulk_operations/search_criteria" %>
<br/>
<div class="d-none" data-results-wrapper>
  <div class="col-md-12">
    <%= render_aspace_partial :partial => "top_containers/bulk_operations/toolbar" %>
    <div id="bulk_operation_results" class="record-pane"></div>
    <%= render_aspace_partial :partial => "top_containers/bulk_operations/toolbar" %>
  </div>
</div>

<div id="template_bulk_operation_loading"><!--
  <center>
    <%= image_tag asset_path('archivesspace/managed_container_loading.gif') %>
  </center>
--></div>
<div id="template_bulk_operation_error_message"><!--
  <div id="alertBucket" class="alert alert-danger">
    ${message}
  </div>
--></div>

<%= javascript_include_tag("top_containers.bulk") %>

<%= render_aspace_partial :partial => "top_containers/bulk_operations/bulk_action_templates" %>
