<h1>New Request</h1>
<p>Request received: <%= Time.now %></p>

<div class="user">
  <h2>Requester</h2>
  <strong>Name: </strong> <%= @request.user_name %><br>
  <strong>Email: </strong> <a href="mailto:<%= @request.user_email %>"><%= @request.user_email %></a><br/>
  <strong>Date: </strong> <%= @request.date %><br>
  <strong>Notes for Staff: </strong>
  <div>
    <%= (@request.note || "").gsub(/[\n\r]/,"<br>\n") %>
  </div>
  
</div>

<div class="request">
  <h2>Record Requested</h2>
  <%= @request.to_text_array(false).each do |info| %>
    <%= info%><br>
  <% end %>
</div>