<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_maintenance_history.maintenance_event_type") %>
  </div>
  <div class='label-only col-sm-8'>
    <%= t("enumerations.maintenance_event_type.#{agent_maintenance_history['maintenance_event_type']}", :default => agent_maintenance_history['maintenance_event_type']) %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_maintenance_history.event_date") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_maintenance_history['event_date'] %>
      <%= agent_maintenance_history['event_date'] %>
      <% end %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_maintenance_history.agent") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_maintenance_history['agent'] %>
      <%= agent_maintenance_history['agent'] %>
      <% end %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_maintenance_history.maintenance_agent_type") %>
  </div>
  <div class='label-only col-sm-8'>
    <%= t("enumerations.maintenance_agent_type.#{agent_maintenance_history['maintenance_agent_type']}", :default => agent_maintenance_history['maintenance_agent_type']) %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_maintenance_history.descriptive_note") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_maintenance_history['descriptive_note'] %>
      <%= agent_maintenance_history['descriptive_note'] %>
      <% end %>
  </div>
</div>
