<% r = @required.values %>

<% define_template "agent_maintenance_histories", jsonmodel_definition(:agent_maintenance_history) do |form| %>
  <div class="subrecord-form-fields">
    <div class="agent-record-control-container">
      <%= form.label_and_select "maintenance_event_type_enum", [""] + form.possible_options_for("maintenance_event_type_enum", false) %>
      <%= form.label_and_date "event_date" %>
      <%= form.label_and_textfield "agent",  
        {:field_opts => {:size => 30, :class => "form-control"} }%>
      <%= form.label_and_select "maintenance_agent_type_enum", form.possible_options_for("maintenance_agent_type_enum", false) %>
      <%= form.label_and_textfield "descriptive_note",  
        {:field_opts => {:size => 30, :class => "form-control"},
        :required => is_required_by_admin?(r, "agent_maintenance_histories", "descriptive_note") }%>
    </div>
  </div>
<% end %>

<% define_template "agent_maintenance_history_required", jsonmodel_definition(:agent_maintenance_history) do |form| %>
  <% field_names = ["maintenance_event_type_enum", "event_date", "agent", "maintenance_agent_type_enum", "descriptive_note"] %>
  <% field_names.each do |field_name| %>
    <% if form.required?(field_name) %>
      <%= form.label_and_readonly field_name %>
    <% else %>
      <%= form.label_and_req_boolean field_name %>
    <% end %>
  <% end %>
<% end %>

