<div class='form-group'>
  <div class='control-label col-sm-2'>
  	<%= t("agent_resources.linked_agent_role") %>
  </div>
  <div class='label-only col-sm-8'>
    <%= t("enumerations.linked_agent_role.#{agent_resource['linked_agent_role']}", :default => agent_resource['linked_agent_role']) %>
 	</div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_resources.linked_resource") %>
  </div>
  <div class='label-only col-sm-8'>
    <%= agent_resource['linked_resource'] %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_resources.linked_resource_description") %>
  </div>
  <div class='label-only col-sm-8'>
    <%= agent_resource['linked_resource_description'] %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_resources.file_uri") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_resource['file_uri'] %>
      <%= agent_resource['file_uri'] %>
      <% end %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_resources.file_version_xlink_actuate_attribute") %>
  </div>
  <div class='label-only col-sm-8'>
    <%= agent_resource['file_version_xlink_actuate_attribute'] %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_resources.file_version_xlink_show_attribute") %>
  </div>
  <div class='label-only col-sm-8'>
    <%= agent_resource['file_version_xlink_show_attribute'] %>
  </div>
</div>


<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_resources.xlink_title_attribute") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_resource['xlink_title_attribute'] %>
      <%= agent_resource['xlink_title_attribute'] %>
      <% end %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_resources.xlink_role_attribute") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_resource['xlink_role_attribute'] %>
      <%= agent_resource['xlink_role_attribute'] %>
      <% end %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_resources.xlink_arcrole_attribute") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_resource['xlink_arcrole_attribute'] %>
      <%= agent_resource['xlink_arcrole_attribute'] %>
      <% end %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_resources.last_verified_date") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_resource['last_verified_date'] %>
      <%= agent_resource['last_verified_date'] %>
      <% end %>
  </div>
</div>



