<% define_template "agent_resource", jsonmodel_definition(:agent_resource) do |form| %>
  <div class="subrecord-form-fields">
    <div class="agent-record-control-container">
      <%= form.label_and_select "linked_agent_role", form.possible_options_for("linked_agent_role", false) %>

      <%= form.label_and_textfield "linked_resource",  {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_textarea "linked_resource_description",
        {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_textfield "file_uri",
        {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_select "file_version_xlink_actuate_attribute",
        [""] + form.possible_options_for("file_version_xlink_actuate_attribute", false) %>

      <%= form.label_and_select "file_version_xlink_show_attribute",
        [""] + form.possible_options_for("file_version_xlink_show_attribute", false) %>

      <%= form.label_and_textfield "xlink_title_attribute",
        {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_textfield "xlink_role_attribute",
        {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_textfield "xlink_arcrole_attribute",
        {:field_opts => {:size => 30, :class => "form-control"} }%>

      <%= form.label_and_date "last_verified_date" %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "places", :template_erb => "subjects/template", :template => "subrecord_subject_agent_resource_place", :heading_text => t("name._frontend.section.place_subject"), :heading_size => "h4"} %>

      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates", :template_erb => "dates/template", :template => "structured_date_label_usage", :heading_text => t("name._frontend.section.dates"), :heading_size => "h4"} %>
    </div>
  </div>
<% end %>

<% define_template "agent_resource_merge_destination", jsonmodel_definition(:agent_resource) do |form| %>

  <%= form.record_level_merge_controls(form, "agent_resource", false) %>

  <% field_names = ["linked_agent_role", "linked_resource", "linked_resource_description","file_uri", "file_version_xlink_actuate_attribute", "file_version_xlink_show_attribute", "xlink_title_attribute", "xlink_role_attribute", "xlink_arcrole_attribute",  "last_verified_date"] %>
  <% field_names.each do |field_name| %>
    <%= form.label_and_readonly field_name %>
  <% end %>

  <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => form.obj['places'], :section_id => "merge_candidate_occupation_places_", :section_title => t("agent_occupation.places"), :heading_size => "h4"} %>

  <%= render_aspace_partial :partial => "structured_dates/show_inline", :locals => { :dates => form.obj["dates"], :section_title => t("agent_occupation.dates"), :section_id => "merge_candidate_occupation_dates", :heading_size => "h4"} %>
<% end %>

<% define_template "agent_resource_merge_candidate", jsonmodel_definition(:agent_resource) do |form| %>

  <% disable_replace = false %>

  <%= form.record_level_merge_controls(form, "agent_resource", true, !disable_replace) %>

  <%= form.hidden_input "id", form.obj["id"] %>

  <% field_names = ["linked_agent_role", "linked_resource", "linked_resource_description","file_uri", "file_version_xlink_actuate_attribute", "file_version_xlink_show_attribute", "xlink_title_attribute", "xlink_role_attribute", "xlink_arcrole_attribute",  "last_verified_date"] %>
  <% field_names.each do |field_name| %>
    <%= form.label_and_readonly field_name %>
  <% end %>

  <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => form.obj['places'], :section_id => "merge_candidate_occupation_places_", :section_title => t("agent_occupation.places"), :heading_size => "h4"} %>

  <%= render_aspace_partial :partial => "structured_dates/show_inline", :locals => { :dates => form.obj["dates"], :section_title => t("agent_occupation.dates"), :section_id => "merge_candidate_occupation_dates", :heading_size => "h4"} %>
<% end %>
