<!-- FIXME: i18n -->

<div class="title-page">
    <div class="title-block">
        <h1 class="title"><%= record.finding_aid['title'] %></h1>
        <h2 class="subtitle"><%= record.finding_aid['subtitle'] %></h2>
    </div>

    <p>This finding aid was produced using ArchivesSpace on <%= Date.today %></p>
    <p><%= record.finding_aid['language'] %></p>

    <!-- FIXME: map -->
    <p><%= record.finding_aid['description_rules'] %></p>

    <p><%= record.finding_aid['edition_statement'] %></p>

    <p><%= record.resolved_repository['name'] %></p>
</div>
