<%
  values_for_operator = jsonmodel_definition(:boolean_query).options_for(:unused, "op", false, :i18n_prefix => "advanced_search.operator")
  values_for_date_comparators = jsonmodel_definition(:date_field_query).options_for(:unused, "comparator", false, :i18n_prefix => "advanced_search.date_operator")

  values_for = {}

  [:text, :boolean, :date, :enum].each do |type|
    values_for[type] = AdvancedSearch.fields_matching(:type => type, :visibility => :staff).map {|field|
      OpenStruct.new(:label => t("advanced_search.#{type}.#{field.name}"),
                     :field => field.name,
                     :is_default => field.is_default)
    }.sort_by(&:label)
  end

  options_for_enums = Hash[values_for[:enum].map {|op|
    options = JSONModel.enum_values(op.field).map {|value| [t("enumerations.#{op.field}.#{value}"), value]}
    options << [t("advanced_search.enum_field.empty"), '']
    [op.field, options]
  }]

  def emit_option(op)
    if op.is_default
      "<option value=\"#{op.field}\" {if query.field == null || query.field == \"#{op.field}\"}selected{/if}>#{op.label}</option>".html_safe
    else
      "<option value=\"#{op.field}\" {if query.field == \"#{op.field}\"}selected{/if}>#{op.label}</option>".html_safe
    end
  end
%>


<script>
  var advanced_search_enum_values = <%= options_for_enums.to_json.html_safe %>;

  var create_select = function(selected_enum, index, existing_selection) {
      var container = $(".enum-select-container" + index);
      container.empty();

      var value_select = $('<select name="v' + index + '" id="v' + index + '" class="form-control" />');

      $(advanced_search_enum_values[selected_enum]).each(function (idx, op) {
          var label = op[0];
          var value = op[1]
          var option = $('<option />');
          option.attr('value', value);
          option.text(label);

          if (value === existing_selection) {
              option.attr('selected', 'selected');
          } else if(value == '' && existing_selection == null) {
              option.attr('selected', 'selected');
          }

          // enter a separator before the empty "unassigned" option
          if (value == '') {
            var separator = $('<option>');
            separator.prop('disabled', true);
            separator.text("\u2500\u2500\u2500\u2500\u2500");
            value_select.append(separator);
          }

          value_select.append(option);
      });

      container.append(value_select);

      if (advanced_search_enum_values[selected_enum].length > <%= AspaceFormHelper::COMBOBOX_MIN_LIMIT %>) {
          value_select.combobox();
      }
  }

  $(document).bind("initadvancedsearchrow.aspace", function (event, field_data, row) {
      function handleEmptyValueOption(value) {
        var input = row.find('#v' + field_data.index);
        if (value == 'empty') {
          input.val('').prop("disabled", true);
        } else {
          input.prop("disabled", false);
        }
        input.trigger('change');
      };

      function handleTextFieldChange($field, $operator) {
        if ($field.val() == "keyword") {
          $operator.find("option:selected").prop("selected", false);
          $operator.find("option[value='contains']").prop("selected", true);
          $operator.find("option[value='empty']").prop("disabled", true);
          $operator.find("option[value='empty']").hide();
        } else {
          $operator.find("option[value='empty']").prop("disabled", false);
          $operator.find("option[value='empty']").show();
        }

        $operator.trigger("change");
      };

      if (field_data.type == 'enum') {
          var field_select = row.find('#f' + field_data.index);
          var selected_enum = field_select.val();
          var value_select = row.find('#v' + field_data.index);

          field_select.on('change', function () {
            create_select($(this).val(), field_data.index);
          });

          create_select(selected_enum, field_data.index, field_data.query.value);
      } else if (field_data.type == 'text') {
        var operator = row.find('#top' + field_data.index);
        handleEmptyValueOption($(":selected", operator).val());
        operator.on("change", function() {
          handleEmptyValueOption($(":selected", operator).val());
        });

        var field_select = row.find('#f' + field_data.index);
        field_select.on("change", function(event) {
          handleTextFieldChange(field_select, operator);
        });
        handleTextFieldChange(field_select, operator);

      } else if (field_data.type == 'date') {
        var operator = row.find('#dop' + field_data.index);
        handleEmptyValueOption($(":selected", operator).val());
        operator.on("change", function() {
          handleEmptyValueOption($(":selected", operator).val());
        });
      }

  });
</script>

<div id="template_advanced_search_row"><!--
  <fieldset class="d-flex align-items-center p-3">
    <div class="col-md-1">
      <legend class="mb-0 h6 font-weight-normal"><%= t "advanced_search.search_terms", :number => "${field_data.index + 1}"%></legend>
    </div>
    <div class="col-md-2">
      <%= hidden_field_tag "t${field_data.index}", "${field_data.type}" %>
      ${AS.renderTemplate("template_advanced_search_op_select", field_data)}
    </div>
    ${AS.renderTemplate("template_advanced_search_"+field_data.type+"_fields", field_data)}
    <div class="col-md-1 d-flex justify-content-center">
      <button class="btn btn-danger advanced-search-remove-row" title="<%= t "advanced_search.remove_row", :number => "${field_data.index + 1}"%>" aria-label="<%= t "advanced_search.remove_row", :number => "${field_data.index + 1}"%>"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
  </fieldset>
--></div>

<div id="template_advanced_search_op_select"><!--
  {if label}
  <label for="op${index}"><%= t "advanced_search.operator.operator" %></label>
  {/if}
  {if first}
  <select name="op${index}" id="op${index}" class="advanced-search-row-op-input form-control"%>">
    <option></option>
    <% values_for_operator.select{|op| op[1] == "NOT"}.each do |op| %><option value="<%= op[1] %>" {if query.op == "<%= op[1] %>" || (query.negated && "NOT" == "<%= op[1] %>")}selected{/if}><%= op[0] %></option><% end %>
  </select>
  {else}
  <select name="op${index}" id="op${index}" class="advanced-search-row-op-input form-control">
    <% values_for_operator.each do |op| %><option value="<%= op[1] %>" {if query.op == "<%= op[1] %>" || (query.negated && "NOT" == "<%= op[1] %>")}selected{/if}><%= op[0] %></option><% end %>
  </select>
  {/if}
--></div>


<div id="template_advanced_search_text_fields"><!--
  <div class="col-md-3">
    <label for="f${index}"><%= t "advanced_search.search_field" %></label>
    <select name="f${index}" id="f${index}" class="form-control" <% if values_for[:text].length > AspaceFormHelper::COMBOBOX_MIN_LIMIT %> data-combobox="true"<% end %>>
      <% values_for[:text].each do |op| %>
        <%= emit_option(op) %>
      <% end %>
    </select>
  </div>
  <div class="col-md-5">
    <div class="input-group search-group gap-x-2 border border-dark rounded p-2">
      <div class="form-group search-comparator flex-shrink-0">
        <label for="top${index}"><%= t "advanced_search.text_operator.comparator" %></label>
        <select name="top${index}" id="top${index}" class="form-control">
          <option value="contains" {if query.comparator == "contains" || query.comparator == null}selected{/if}><%= t("advanced_search.text_operator.contains") %></option>
          <option value="empty" {if query.empty}selected{/if}><%= t("advanced_search.text_operator.empty") %></option>
        </select>
      </div>
      <div class="form-group search-value flex-grow-1">
        <label for="v${index}"><%= I18n.t "advanced_search.search_text" %></label>
        <%= text_field_tag "v${index}", "${query.value}", :id => "v${index}", :class => 'form-control', :onkeydown => "return processKey(event)" %>
      </div>
    </div>
  </div>
--></div>

<div id="template_advanced_search_date_fields"><!--
  <div class="col-md-3">
    <label for="f${index}"><%= t "advanced_search.search_field" %></label>
    <select name="f${index}" id="f${index}" class="form-control" <% if values_for[:date].length > AspaceFormHelper::COMBOBOX_MIN_LIMIT %> data-combobox="true"<% end %>>
      <% values_for[:date].each do |op| %>
        <%= emit_option(op) %>
      <% end %>
    </select>
  </div>
  <div class="col-md-5 advanced-search-date-fields">
    <div class="input-group search-group gap-x-2 border border-dark rounded p-2">
      <div class="form-group search-comparator flex-shrink-0">
        <label for="dop${index}"><%= t "advanced_search.date_operator.comparator" %></label>
        <select name="dop${index}" id="dop${index}" class="form-control">
          <% values_for_date_comparators.each do |op| %>
            <option value="<%= op[1] %>" {if query.comparator == "<%= op[1] %>"}selected{/if}><%= op[0] %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group search-value">
        <label for="v${index}"><%= I18n.t "advanced_search.search_date" %></label>
                                                    <%= text_field_tag "v${index}", "${query.value}", :id => "v${index}", :class => "date-field form-control", :"data-format" => "yyyy-mm-dd", :"data-date" => Date.today.strftime('%Y-%m-%d'), :"data-label" => t("actions.date_picker_toggle"), :"data-force-parse" => false %>
      </div>
    </div>
  </div>
--></div>

<div id="template_advanced_search_boolean_fields"><!--
  <div class="col-md-3">
    <label for="f${index}"><%= t "advanced_search.search_field" %></label>
    <select name="f${index}" id="f${index}" class="form-control"<% if values_for[:boolean].length > AspaceFormHelper::COMBOBOX_MIN_LIMIT %>  data-combobox="true"<% end %>>
      <% values_for[:boolean].each do |op| %>
        <%= emit_option(op) %>
      <% end %>
    </select>
  </div>
  <% bool_default = JSONModel(:boolean_field_query).schema['properties']['value']['default'] %>
  <div class="col-md-5 advanced-search-boolean-field">
    <label for="v${index}"><%= t "advanced_search.boolean_field.boolean" %></label>
    <select name="v${index}" id="v${index}" class="form-control">
      <option value="true" {if query.value <% if bool_default %>|| query.value == null<% end %>}selected{/if}><%= t("advanced_search.boolean_field.true_value") %></option>
      <option value="false" {if query.value == false <% if !bool_default %>|| query.value == null<% end %>}selected{/if}><%= t("advanced_search.boolean_field.false_value") %></option>
    </select>
  </div>
--></div>

<div id="template_advanced_search_enum_fields"><!--
  <div class="col-md-3">
    <label for="f${index}"><%= t("advanced_search.enum_field.label") %></label>
    <select name="f${index}" id="f${index}" class="form-control" <% if values_for[:enum].length > AspaceFormHelper::COMBOBOX_MIN_LIMIT %> data-combobox="true"<% end %>>
      <% values_for[:enum].each do |op| %>
        <%= emit_option(op) %>
      <% end %>
    </select>
  </div>
  <div class="col-md-5 advanced-search-enum-field">
    <div class="enum-select-container${index}">
    </div>
  </div>
--></div>

<%= form_tag(url_for(:controller => :search, :action => :advanced_search), :method => :get, :class => "advanced-search") do %>
  <%= hidden_field_tag "advanced", true %>

  <div class="advanced-search-row-container" data-queries='<%= advanced_search_queries.to_json %>'></div>

  <div class="d-flex align-items-center p-3">
    <div class="flex-grow-1">
      <hr />
    </div>
    <div class="col-md-1">
      <div class="d-flex justify-content-center dropdown">
        <button class="btn btn-success dropdown-toggle text-white advanced-search-add-row-dropdown" data-toggle="dropdown" title="<%= t("advanced_search.add_row") %>" aria-label="<%= t("advanced_search.add_row") %>">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <div class="dropdown-menu x-auto">
          <button class="advanced-search-add-row advanced-search-add-text-row dropdown-item" type="button" data-type="text"><%= t("advanced_search.type.text") %></button>
          <button class="advanced-search-add-row advanced-search-add-date-row dropdown-item" type="button" data-type="date"><%= t("advanced_search.type.date") %></button>
          <button class="advanced-search-add-row advanced-search-add-bool-row dropdown-item" type="button" data-type="boolean"><%= t("advanced_search.type.boolean") %></button>
          <% if !values_for[:enum].empty? %>
            <button class="advanced-search-add-row advanced-search-add-enum-row dropdown-item" type="button" data-type="enum"><%= t("advanced_search.type.controlled_value") %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3 d-flex align-items-center justify-content-end gap-x-2">
    <button class="btn btn-link search-switcher-hide" type="button"><%= t("advanced_search.index_switcher.hide") %></button>
    <% unless current_page?(root_url) %>
      <%= link_to t("advanced_search.reset"), {:controller => :search, :action => :do_search, :advanced => true}, :class => "btn btn-link reset-advanced-search" %>
    <% end %>
    <div class="col-md-1 d-flex justify-content-center">
      <!-- .col-md-1 wrapper to align button with +/- buttons above -->
      <button class="btn btn-primary" id="advanced-search-btn"><%= t("advanced_search.button_text") %></button>
    </div>
  </div>
<% end %>
