<%
  event_types = JSONModel.enum_values("event_event_type") if event_types.blank?
%>

  <div id="add-event-dropdown" class="btn-group dropdown" data-no-change-tracking="true" data-add-event-url="<%= add_new_event_url(record)  %>">
    <button class="btn btn-sm btn-default dropdown-toggle add-event-action" data-toggle="dropdown" role="button" aria-expanded="false" title="<%= t("actions.add_event") %>">
      <%= t("actions.add_event") %>
    </button>
    <ul class="dropdown-menu add-event-form dropdown-menu-right">
      <li>
        <%= form_context :add_event, {} do |form| %>
          <fieldset class="mt-3 mb-4 p-0 d-flex gap-x-2">
            <legend class="sr-only">Add event:</legend>
            <label class="mb-0 font-weight-bold" for="add_event_event_type"><%=  t("actions.add_event_event_type") %></label>
            <%= select_tag "add_event_event_type", options_for_select(event_types.map{|event_type| [t("enumerations.event_event_type.#{event_type}", :default => event_type), event_type]}), :'aria-labelledby' => "form_add_event", :class => "form-control" %>
          </fieldset>
          <section class="pl-0 d-flex justify-content-between form-actions">
            <button type="button" class="btn btn-primary add-event-button"><%= t("actions.add_event") %></button>
            <button type="button" class="btn btn-default btn-close"><%= t("actions.cancel") %></button>
          </section>
        <% end %>
      </li>
    </ul>
  </div>
