<%
  event_types = JSONModel.enum_values("event_event_type") if event_types.blank?
%>

  <div id="add-event-dropdown" class="btn-group dropdown" data-no-change-tracking="true" data-add-event-url="<%= url_for(:controller => :events, :action => :new, :record_uri => record.uri, :record_type => record.jsonmodel_type, :event_type => "${event_type}") %>">
    <a class="btn btn-sm btn-default dropdown-toggle add-event-action" data-toggle="dropdown" href="#" title="<%= I18n.t("actions.add_event") %>">
      <%= I18n.t("actions.add_event") %> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu add-event-form open-aligned-right">
      <li>
        <%= form_context :add_event, {} do |form| %>
          <fieldset>
            <%= select_tag "add_event_event_type", options_for_select(event_types.map{|event_type| [I18n.t("enumerations.event_event_type.#{event_type}", event_type), event_type]}) %>
          </fieldset>
          <div class="form-actions">
            <button class="btn add-event-button"><%= I18n.t("actions.add_event") %></button>
            <a class="btn btn-close pull-right" href="#"><%= I18n.t("actions.cancel") %></a>
          </div>
        <% end %>
      </li>
    </ul>
  </div>

