<% if errors %>
   <div class="alert alert-error">
      <% errors.each do |attr, messages| %>
           <div class="errors-for_attr">
             <% messages.each do |msg| %>
               <div class="error"><%= I18n.t(:"#{object.class.record_type}.#{attr}") %> - <%= msg %></div>
             <% end %>
           </div>
      <% end %>
   </div>
<% end %>
<% if warnings %>
   <div class="alert alert-warning">
      <% warnings.each do |attr, messages| %>
           <div class="errors-for_attr">
             <% messages.each do |msg| %>
               <div class="warning"><%= I18n.t(:"#{object.class.record_type}.#{attr}") %> - <%= msg %></div>
             <% end %>
           </div>
      <% end %>
   </div>
<% end %>
<% if flash[:success] %>
   <div class="alert alert-success">
      <%= flash[:success] %>
   </div>
<% end %>