<div class="form-messages">
<% if @exceptions %>
   <script>
     $(function () {
       var _errors = <%= form.exceptions_for_js(@exceptions) %>;

       var callback = function () {
         if (_errors.errors) {
           $(_errors.errors).each(function (idx, elt) {
             $("#" + elt).parents(".control-group").addClass("error");
           });
         }

         if (_errors.warnings) {
           $(_errors.warnings).each(function (idx, elt) {
             $("#" + elt).parents(".control-group").addClass("warning");
           });
         }
       };

       $(callback);
       $(document).ajaxComplete(callback);
     });
   </script>

   <% if @exceptions.has_key?(:errors) %>
      <div class="alert alert-error">
         <% @exceptions[:errors].each do |attr, messages| %>
            <div class="errors-for-attribute">
              <% messages.each do |msg| %>
                <div class="error"><%= I18n.t(form.path_to_i18n_key(attr)) %> - <%= msg %></div>
              <% end %>
            </div>
         <% end %>
      </div>
   <% end %>
   <% if @exceptions.has_key?(:warnings) %>
      <div class="alert alert-warning">
         <% @exceptions[:warnings].each do |attr, messages| %>
            <div class="warnings-for-attribute">
              <% messages.each do |msg| %>
                <div class="warning"><%= I18n.t(form.path_to_i18n_key(attr)) %> - <%= msg %></div>
              <% end %>
            </div>
         <% end %>
         <% if not @exceptions.has_key?(:errors) %>
            <br/>
            <input type="submit" name="ignorewarnings" class="btn btn-warning" value="Save Anyway" />
         <% end %>
      </div>
   <% end %>
<% end %>

<% if flash[:success] %>
   <div class="alert alert-success">
      <%= flash[:success] %>
   </div>
<% end %>
</div>