<div class="form-messages">
<% if @exceptions %>
   <script>
     $(function () {

       var setupErrorMessage = function(idx, elt, type) {
         if ($("#" + elt).length) {
           $("#" + elt).parents(".control-group:first").addClass(type);
         } else if ($("[data-real-id=" + elt + "]").length) {
           $("[data-real-id=" + elt + "]").each(function() {
             $(this).parents(".control-group:first").addClass(type);
           });
         }
         if ($("#" + elt).length && !$("." + type + "[data-target=" + elt + "]").hasClass("linked-to-field")) {
           $("." + type + "[data-target=" + elt + "]").addClass("linked-to-field").append("<span class='icon-chevron-down'></span>").click(function() {
             $("#" + elt).ScrollTo({
              callback: function() {
                $("#" + elt).focus();
              }
             });
           });
         }
       };

       var _errors = <%= form.exceptions_for_js(@exceptions) %>;

       var callback = function () {
         if (_errors.errors) {
           $(_errors.errors).each(function (idx, elt) {
             setupErrorMessage(idx, elt, "error");
           });
         }

         if (_errors.warnings) {
           $(_errors.warnings).each(function (idx, elt) {
             setupErrorMessage(idx, elt, "warning");
           });
         }
       };

       $(callback);
       $(document).ajaxComplete(callback);
     });
   </script>

   <% if @exceptions.has_key?(:errors) %>
      <div class="alert alert-error">
         <% @exceptions[:errors].each do |attr, messages| %>
            <div class="errors-for-attribute">
              <% messages.each do |msg| %>
                <div class="error" data-target="<%= form.id_for_javascript(attr) %>"><%= I18n.t(form.path_to_i18n_key(attr)) %> - <%= msg %></div>
              <% end %>
            </div>
         <% end %>
      </div>
   <% end %>
   <% if @exceptions.has_key?(:warnings) %>
      <div class="alert alert-warning">
         <% @exceptions[:warnings].each do |attr, messages| %>
            <div class="warnings-for-attribute">
              <% messages.each do |msg| %>
                <div class="warning" data-target="<%= form.id_for_javascript(attr) %>"><%= I18n.t(form.path_to_i18n_key(attr)) %> - <%= msg %></div>
              <% end %>
            </div>
         <% end %>
         <% if not @exceptions.has_key?(:errors) %>
            <br/>
            <input type="submit" name="ignorewarnings" class="btn btn-warning" value="Save Anyway" />
         <% end %>
      </div>
   <% end %>
<% end %>

<%= render :partial => "shared/flash_messages" %>

</div>
