<% if not object._exceptions.empty? %>
   <% if object._exceptions.has_key?(:errors) %>
      <div class="alert alert-error">
         <% object._exceptions[:errors].each do |attr, messages| %>
            <div class="errors-for-attribute errors-<%= attr.gsub('/', "_") %>" data-for="<%= f.current_name(attr).gsub("/", "][") %>">
              <% messages.each do |msg| %>
                <div class="error"><%= I18n.t(f.current_i18n(attr)) %> - <%= msg %></div>
              <% end %>
            </div>
         <% end %>
      </div>
   <% end %>
   <% if object._exceptions.has_key?(:warnings) %>
      <div class="alert alert-warning">
         <% object._exceptions[:warnings].each do |attr, messages| %>
            <div class="warnings-for-attribute errors-<%= attr.gsub('/', "_") %>" data-for="<%= f.current_name(attr).gsub("/", "][") %>">
              <% messages.each do |msg| %>
                <div class="warning"><%= I18n.t(f.current_i18n(attr)) %> - <%= msg %></div>
              <% end %>
            </div>
         <% end %>
         <% if not object._exceptions.has_key?(:errors) %>
            <br/>
            <input type="submit" name="ignorewarnings" class="btn btn-warning" value="Save Anyway" />
         <% end %>
      </div>
   <% end %>
<% end %>

<% if flash[:success] %>
   <div class="alert alert-success">
      <%= flash[:success] %>
   </div>
<% end %>
