<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "ArchivesSpace", {:controller => :welcome, :action => :index}, :class => "brand" %>
        <div class="nav-collapse">
          <% if session[:user] and session[:repo_id] %>
          <ul class="nav">
            <li <% if controller_name === "welcome" %>class="active"<% end %>>
               <%= link_to raw('<span class="icon-home"></span>'), :controller => :welcome, :action => :index %>
            </li>
            <li class="dropdown browse-container">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Accessions", :controller => :accessions, :action => :index %></li>
                <li><%= link_to "Resources", :controller => :resources, :action => :index %></li>
                <li><%= link_to "Digital Objects", :controller => :digital_objects, :action => :index %></li>
                <li class="divider"></li>
                <li><%= link_to "Subjects", :controller => :subjects, :action => :index %></li>
                <li><%= link_to "Agents", :controller => :agents, :action => :index %></li>
                <li><%= link_to "Locations", :controller => :locations, :action => :index %></li>
                <li><%= link_to "Collection Management Records", :controller => :collection_management_records, :action => :index %></li>
              </ul>
            </li>
            <% if user_can?('update_repository') %>
              <li class="dropdown create-container">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Accession", :controller => :accessions, :action => :new %></li>
                  <li><%= link_to "Resource", :controller => :resources, :action => :new %></li>
                  <li><%= link_to "Digital Object", :controller => :digital_objects, :action => :new %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Subject", :controller => :subjects, :action => :new %></li>
                  <li class="dropdown-submenu">
                    <a href="javascript:void(0);">Agent</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Person", :controller => :agents, :action => :new, :type => :agent_person %></li>
                      <li><%= link_to "Family", :controller => :agents, :action => :new, :type => :agent_family %></li>
                      <li><%= link_to "Corporate Entity", :controller => :agents, :action => :new, :type => :agent_corporate_entity %></li>
                      <li><%= link_to "Software", :controller => :agents, :action => :new, :type => :agent_software %></li>
                    </ul>
                  </li>
                  <li><%= link_to "Location", :controller => :locations, :action => :new %></li>
                  <li><%= link_to "Event", :controller => :events, :action => :new %></li>
                  <li><%= link_to "Collection Management Record", :controller => :collection_management_records, :action => :new %></li>
                </ul>
              </li>
              <li class="dropdown import-container">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Import <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "EAD File", :controller => :import, :action => :index %></li>
                </ul>
              </li>
            <% end %>
            <%= form_tag(url_for(:controller => :search, :action => :do_search), :method => :get, :class => "navbar-form pull-left") do %>
              <div class="input-append">
                <input type="text" class="span2" placeholder="Search" name="q" value="<%= params[:q] %>"/>
                <div class="btn-group">
                  <%= hidden_field_tag "type", "" %>
                  <button class="btn"><span class=" icon-search"></span></button>
                  <a class="btn dropdown-toggle last" data-toggle="dropdown" href="#"><b class="caret"></b></a>
                  <ul class="dropdown-menu scoped-search-options">
                    <li><a href="#" data-type="">All Records</a></li>
                    <li class="divider"></li>
                    <li><a href="#" data-type="accession">Accessions</a></li>
                    <li><a href="#" data-type="resource">Resources</a></li>
                    <li><a href="#" data-type="archival_object">Archival Objects</a></li>
                    <li><a href="#" data-type="digital_object">Digital Objects</a></li>
                  </ul>
                </div>
              </div>
            <% end %>
          </ul>         
          <% end %>
          <ul class="nav pull-right">
           <%= render "shared/header_repository", :repositories => @repositories %>
           <%= render "shared/header_user" %>
         </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>
