<div class="container repository-header">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-repository-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse nav-repository-collapse collapse">
        <% if session[:user] and session[:repo_id] %>
          <ul class="nav">
            <li <% if controller_name === "welcome" %>class="active"<% end %>>
              <%= link_to raw('<span class="icon-home"></span>'), :controller => :welcome, :action => :index %>
            </li>
            <li class="dropdown browse-container">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t("actions.browse") %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to I18n.t("accession._plural"), :controller => :accessions, :action => :index %></li>
                <li><%= link_to I18n.t("resource._plural"), :controller => :resources, :action => :index %></li>
                <li><%= link_to I18n.t("digital_object._plural"), :controller => :digital_objects, :action => :index %></li>
                <li class="divider"></li>
                <li><%= link_to I18n.t("subject._plural"), :controller => :subjects, :action => :index %></li>
                <li><%= link_to I18n.t("agent._plural"), :controller => :agents, :action => :index %></li>
                <li><%= link_to I18n.t("location._plural"), :controller => :locations, :action => :index %></li>
                <li><%= link_to I18n.t("event._plural"), :controller => :events, :action => :index %></li>
                <li><%= link_to I18n.t("collection_management._plural"), :controller => :collection_management, :action => :index %></li>
              </ul>
            </li>
            <% if ['update_archival_record', 'update_subject_record', 'update_event_record',
                   'update_agent_record', 'update_location_record'].find {|p| user_can?(p)} %>
              <li class="dropdown create-container">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t("navbar.create") %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% if user_can?('update_archival_record') %>
                    <li><%= link_to I18n.t("accession._singular"), :controller => :accessions, :action => :new %></li>
                    <li><%= link_to I18n.t("resource._singular"), :controller => :resources, :action => :new %></li>
                    <li><%= link_to I18n.t("digital_object._singular"), :controller => :digital_objects, :action => :new %></li>
                    <li class="divider"></li>
                  <% end %>
                  <% if user_can?('update_subject_record') %>
                    <li><%= link_to I18n.t("subject._singular"), :controller => :subjects, :action => :new %></li>
                  <% end %>
                  <% if user_can?('update_agent_record') %>
                    <li class="dropdown-submenu">
                      <a href="javascript:void(0);"><%= I18n.t("agent._singular") %></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to I18n.t("agent_person._singular"), :controller => :agents, :action => :new, :type => :agent_person %></li>
                        <li><%= link_to I18n.t("agent_family._singular"), :controller => :agents, :action => :new, :type => :agent_family %></li>
                        <li><%= link_to I18n.t("agent_corporate_entity._singular"), :controller => :agents, :action => :new, :type => :agent_corporate_entity %></li>
                        <li><%= link_to I18n.t("agent_software._singular"), :controller => :agents, :action => :new, :type => :agent_software %></li>
                      </ul>
                    </li>
                  <% end %>
                  <% if user_can?('update_location_record') %>
                    <li><%= link_to I18n.t("location._singular"), :controller => :locations, :action => :new %></li>
                  <% end %>
                  <% if user_can?('update_event_record') %>
                    <li><%= link_to I18n.t("event._singular"), :controller => :events, :action => :new %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <% if user_can?('update_archival_record') %>
              <li class="dropdown import-container">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t("navbar.import") %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to I18n.t("navbar.import_eac"), :controller => :import, :action => :index, :importer => :eac %></li>
                  <li><%= link_to I18n.t("navbar.import_ead"), :controller => :import, :action => :index, :importer => :ead %></li>
                  <li><%= link_to I18n.t("navbar.import_marcxml"), :controller => :import, :action => :index, :importer => :marcxml %></li>
                  <li><%= link_to I18n.t("navbar.import_marcxml_subjects_and_agents"), :controller => :import, :action => :index, :importer => :marcxml_subjects_and_agents %></li>
                  <li><%= link_to I18n.t("navbar.import_accession_csv"), :controller => :import, :action => :index, :importer => :accession_csv %></li>
                  <li><%= link_to I18n.t("navbar.import_digital_object_csv"), :controller => :import, :action => :index, :importer => :digital_object_csv %></li>
                </ul>
              </li>
            <% end %>
            <li>
              <%= form_tag(url_for(:controller => :search, :action => :do_search), :method => :get, :class => "navbar-form pull-left") do %>
                <div class="input-append">
                  <input id="global-search-box" type="text" class="span2" placeholder="<%= I18n.t("navbar.search_placeholder") %>" name="q" value="<%= params[:q] %>"/>
                  <div class="btn-group">
                    <%= hidden_field_tag "type", "" %>
                    <button id="global-search-button" class="btn"><span class=" icon-search"></span></button>
                    <a class="btn dropdown-toggle last" data-toggle="dropdown" href="#"><b class="caret"></b></a>
                    <ul class="dropdown-menu scoped-search-options">
                      <li><a href="#" data-type=""><%= I18n.t("navbar.search_all") %></a></li>
                      <li class="divider"></li>
                      <li><a href="#" data-type="accession"><%= I18n.t("accession._plural") %></a></li>
                      <li><a href="#" data-type="resource"><%= I18n.t("resource._plural") %></a></li>
                      <li><a href="#" data-type="archival_object"><%= I18n.t("archival_object._plural") %></a></li>
                      <li><a href="#" data-type="digital_object"><%= I18n.t("digital_object._plural") %></a></li>
                    </ul>
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li><%= link_to I18n.t("navbar.list_reports"), :controller => :reports, :action => :index %></li>
            <li class=" dropdown repo-container">
              <div <% if user_can?('manage_repository') %>class="input-append"<% end %>>
                <span class="inset-label">
                    <span class="repository-label has-popover" data-trigger="hover" data-placement="bottom" data-html='true' data-title="<span class='icon-hdd'></span> <%= CGI::escapeHTML(current_repo['repo_code']) %>" data-content="<%= CGI::escapeHTML(current_repo['name']) %>">
                      <span class="icon-hdd"></span><span class="current-repository-id"><% if current_repo %><%= current_repo['repo_code'] %><% end %></span>
                    </span>
                </span>
                <% if user_can?('manage_repository') %>
                  <a class="btn dropdown-toggle last" data-toggle="dropdown" href="#"><span class="icon-cog"></span> <span class="caret"></span></a>
                  <ul class="dropdown-menu pull-right">
                    <li><%= link_to I18n.t("navbar.manage_groups"), :controller => :groups, :action => :index %></li>
                    <li><%= link_to I18n.t("user._frontend.section.manage_access"), :controller => :users, :action => :manage_access %></li>
                  </ul>
                <% end %>
              </div>
            </li>
            <% if ArchivesSpaceHelp.enabled? %>
              <li><%= link_to_help :link_opts => {"data-placement" => (session[:user] ? "left" : "bottom")} %></li>
            <% end %>
          </ul>
        <% end %>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>
</div>