<% if session[:user] %>
  <% if @repositories.length > 0 %>
    <li class="dropdown select-a-repository">
      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t("repository._frontend.action.select") %> <b class="caret"></b></a>
      <ul class="dropdown-menu" style="padding: 15px;">
        <li>
          <%= form_tag({:controller => :repositories, :action => :select}) do |f| %>
            <fieldset>
              <label for="id" class="sr-only">Select Repository</label>
              <%= select_tag "id", options_for_select(@repositories.map {|repo| [repo.repo_code, repo.id]}, session[:repo_id]), :class=>"form-control" %>
            </fieldset>
            <br />
            <button class="btn btn-primary pull-left"><%= I18n.t("repository._frontend.action.select") %></button>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
  <li class="dropdown system-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t("navbar.global_admin") %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% if user_can?('update_enumeration_record') %>
        <li><%= link_to I18n.t("navbar.manage_enumerations"), :controller => :enumerations, :action => :index %></li>
      <% end %>
      <% if user_can?('update_container_profile_record') %>
        <li><%= link_to I18n.t("navbar.manage_container_profiles"), :controller => :container_profiles, :action => :index %></li>
      <% end %>
      <% if user_can?('manage_location_profile_record')%>
        <li><%= link_to I18n.t("navbar.manage_location_profiles"), :controller => :location_profiles, :action => :index %></li>
      <% end %>

      <% if user_can?('update_enumeration_record') || user_can?('update_container_profile_record') || user_can?('manage_location_profile_record') %>
        <li class="divider"></li>
      <% end %>

      <% if user_can?('create_repository') %>
        <li><%= link_to I18n.t("navbar.repositories_manage"), {:controller => :repositories, :action => :index} %></li>
      <% end %>
      <% if user_can?('create_repository') %>
        <li><%= link_to I18n.t("navbar.oai_config"), {:controller => :oai_config, :action => :edit} %></li>
      <% end %>
      <% if user_can?('manage_users') %>
        <li><%= link_to I18n.t("navbar.manage_users"), :controller => :users, :action => :create %></li>
      <% end %>
      <% if user_can?('create_repository') || user_can?('manage_users') %>
        <li><%= link_to I18n.t("navbar.system_info"), :controller => :system_info, :action => :show %></li>
        <li class="divider"></li>
      <% end %>

      <% if ArchivesSpaceHelp.enabled? %>
        <li><%= link_to_help :label => I18n.t("help.help_center") %></li>
      <% end %>
    </ul>
  </li>

  <% if Plugins.system_menu_items.any? {|plugin| has_permission_for_controller?(session, plugin)} %>
    <li class="dropdown plugin-container">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t("navbar.plugins") %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% Plugins.system_menu_items.each do |plugin| %>
          <% if has_permission_for_controller?(session, plugin) %>
            <li><%= link_to I18n.t("plugins.#{plugin}.label"), :controller => plugin.intern, :action => :index %></li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>

  <li class="user-container">
    <div class="btn-group">
      <button class="btn btn-default navbar-btn">
        <span class="user-label has-popover" data-trigger="hover" data-placement="bottom" data-html='true' data-title='<span class="glyphicon glyphicon-user"></span> <%= CGI::escapeHTML(session[:user]) %>'>
        <span class="glyphicon glyphicon-user"></span><%= session[:user] %>
        </span>
      </button>

      <div class="btn-group">
        <a class="btn btn-default navbar-btn dropdown-toggle last" data-toggle="dropdown" href="#" title="Global settings" aria-label="Global settings"><span class="caret"></span></a>
        <ul class="dropdown-menu pull-right">

          <% if user_can?('administer_system') %>
            <li><%= link_to I18n.t("navbar.global_preferences"), :controller => :preferences, :action => :edit, :id => 0, :global => true %></li>
          <% end %>
          <% if user_can?('administer_system') || user_can?('manage_repository') %>
            <li><%= link_to I18n.t("navbar.repo_preferences"), :controller => :preferences, :action => :edit, :id => 0, :repo => true %></li>
          <% end %>
          <li><%= link_to I18n.t("navbar.user_repo_preferences"), :controller => :preferences, :action => :edit, :id => 0 %></li>
          <li class="divider"></li>

          <% if user_can?('become_user') %>
            <li><%= link_to I18n.t("navbar.become-user"), :controller => "session", :action => "select_user" %></li>
          <% end %>
          <li><%= link_to I18n.t("navbar.logout"), :controller => "session",:action => "logout"%></li>
        </ul>
      </div>
    </div>
  </li>
<% end %>
