<div class="repository-header">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse flex-column" id="navbarContent">
      <% if session[:user] and session[:repo_id] %>
        <ul class="nav navbar-nav w-100 px-3 border-bottom">
          <li class="d-flex<%= (controller_name === "welcome" ? ' bg-bsCoolGray' : '') %>">
            <%= link_to raw('<span class="glyphicon glyphicon-home"></span><span class="sr-only">' + t("breadcrumb.home") + '</span>'), { :controller => :welcome, :action => :index }, class: 'p-3' %>
          </li>
          <li class="d-flex align-self-stretch align-items-center dropdown browse-container">
            <button class="btn h-100 d-flex align-items-center gap-x-1 rounded-0 hover-bsCoolGray dropdown-toggle" data-toggle="dropdown"><%= t("actions.browse") %> <b class="caret"></b></button>
            <ul class="dropdown-menu">
              <li><%= link_to t("accession._plural"), {:controller => :accessions, :action => :index}, :class => "dropdown-item" %></li>
              <li><%= link_to t("resource._plural"), {:controller => :resources, :action => :index}, :class => "dropdown-item" %></li>
              <li><%= link_to t("digital_object._plural"), {:controller => :digital_objects, :action => :index}, :class => "dropdown-item" %></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to t("subject._plural"), {:controller => :subjects, :action => :index}, :class => "dropdown-item" %></li>
              <li><%= link_to t("agent._plural"), {:controller => :agents, :action => :index}, :class => "dropdown-item" %></li>
              <li><%= link_to t("container_profile._plural"), {:controller => :container_profiles, :action => :index}, :class => "dropdown-item" %></li>
              <li><%= link_to t("location._plural"), {:controller => :locations, :action => :index}, :class => "dropdown-item" %></li>
              <li><%= link_to t("event._plural"), {:controller => :events, :action => :index}, :class => "dropdown-item" %></li>
              <li><%= link_to t("collection_management._plural"), {:controller => :collection_management, :action => :index}, :class => "dropdown-item" %></li>
              <li><%= link_to t("classification._plural"), {:controller => :classifications, :action => :index}, :class => "dropdown-item" %></li>
              <li><%= link_to t("assessment._plural"), {:controller => :assessments, :action => :index}, :class => "dropdown-item" %></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to t("job._plural"), {:controller => :jobs, :action => :index}, :class => "dropdown-item" %></li>
            </ul>
          </li>
          <% if ['update_accession_record', 'update_resource_record', 'update_digital_object_record',
                  'update_subject_record', 'update_event_record',
                  'update_agent_record', 'update_location_record', 'update_container_profile'].find {|p| user_can?(p)} %>
            <li class="d-flex align-self-stretch align-items-center dropdown create-container">
              <button class="btn h-100 d-flex align-items-center gap-x-1 rounded-0 hover-bsCoolGray dropdown-toggle" data-toggle="dropdown"><%= t("navbar.create") %></button>
              <ul class="dropdown-menu">
                <% if ['update_accession_record', 'update_resource_record', 'update_digital_object_record'].find {|p| user_can?(p)} %>
                  <% if user_can?('update_accession_record') %>
                    <li><%= link_to t("accession._singular"), {:controller => :accessions, :action => :new}, :class => "dropdown-item" %></li>
                  <% end %>
                  <% if user_can?('update_resource_record') %>
                    <li><%= link_to t("resource._singular"), {:controller => :resources, :action => :new}, :class => "dropdown-item" %></li>
                  <% end %>
                  <% if user_can?('update_digital_object_record') %>
                    <li><%= link_to t("digital_object._singular"), {:controller => :digital_objects, :action => :new}, :class => "dropdown-item" %></li>
                  <% end %>

                  <% if ['update_subject_record', 'update_event_record',
                          'update_agent_record', 'update_location_record', 'update_container_profile'].find {|p| user_can?(p)} %>
                    <li class="dropdown-divider"></li>
                  <% end %>
                <% end %>
                <% if user_can?('update_subject_record') %>
                  <li><%= link_to t("subject._singular"), {:controller => :subjects, :action => :new}, :class => "dropdown-item" %></li>
                <% end %>
                <% if user_can?('update_agent_record') %>
                  <li class="dropdown-submenu">
                    <a class="dropdown-item" href="javascript:void(0);"><%= t("agent._singular") %></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to t("agent_person._singular"), {:controller => :agents, :action => :new, :agent_type => :agent_person}, :class => "dropdown-item" %></li>
                      <li><%= link_to t("agent_family._singular"), {:controller => :agents, :action => :new, :agent_type => :agent_family}, :class => "dropdown-item" %></li>
                      <li><%= link_to t("agent_corporate_entity._singular"), {:controller => :agents, :action => :new, :agent_type => :agent_corporate_entity}, :class => "dropdown-item" %></li>
                      <li><%= link_to t("agent_software._singular"), {:controller => :agents, :action => :new, :agent_type => :agent_software}, :class => "dropdown-item" %></li>
                    </ul>
                  </li>
                <% end %>
                <% if user_can?('update_container_profile_record') %>
                  <li><%= link_to t("container_profile._singular"), {:controller => :container_profiles, :action => :new}, :class => "dropdown-item" %></li>
                <% end %>
                <% if user_can?('update_location_record') %>
                  <li class="dropdown-submenu">
                    <a class="dropdown-item" href="javascript:void(0);"><%= t("location._singular") %></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to t("location._frontend.action.single"), {:controller => :locations, :action => :new}, :class => "dropdown-item" %></li>
                      <li><%= link_to t("location._frontend.action.batch"), {:controller => :locations, :action => :batch}, :class => "dropdown-item" %></li>
                    </ul>
                  </li>
                <% end %>
                <% if user_can?('update_event_record') %>
                  <li><%= link_to t("event._singular"), {:controller => :events, :action => :new}, :class => "dropdown-item" %></li>
                <% end %>
                <% if user_can?('update_classification_record') %>
                  <li><%= link_to t("classification._singular"), {:controller => :classifications, :action => :new}, :class => "dropdown-item" %></li>
                <% end %>
                <% if user_can?('update_assessment_record') %>
                  <li><%= link_to t("assessment._singular"), {:controller => :assessments, :action => :new}, :class => "dropdown-item" %></li>
                <% end %>

                <% if user_can?('create_job') %>
                  <li class="dropdown-divider"></li>

                  <li class="dropdown-submenu">
                    <a class="dropdown-item" href="javascript:void(0);"><%= t("job._singular") %></a>
                    <ul class="dropdown-menu">
                      <% job_types.each do |type, perms| %>
                        <% next if type == 'generate_slugs_job' && !AppConfig[:use_human_readable_urls] %>
                        <% next if type == 'generate_arks_job' && !AppConfig[:arks_enabled] %>
                        <%# We only want to trigger bulk imports from within a resource record %>
                        <% next if type == 'bulk_import_job' %>
                        <% if perms['create_permissions'].reject{|perm| user_can?(perm)}.empty? %>
                          <li><%= link_to t("job.types.#{type}", :default => type), {:controller => :jobs, :action => :new, :job_type => type}, :class => "dropdown-item" %></li>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>

                <% end %>
              </ul>
            </li>
          <% end %>
          <li class="px-4">
            <%= form_tag(url_for(:controller => :search, :action => :do_search), :method => :get, :class => "navbar-form pull-left") do %>
              <div class="input-group bg-white">
                <label for="global-search-box" class="sr-only sr-only-focusable"><%= t("navbar.search_placeholder") %></label>
                <input id="global-search-box" type="text" class="form-control rounded-left" placeholder="<%= t("navbar.search_placeholder") %>" name="q" value="<%= params[:q] %>"/>
                <div class="input-group-append">
                  <button id="global-search-button" class="btn btn-default" title="<%= t("navbar.search_button_title") %>" aria-label="<%= t("navbar.search_button_title") %>"><span class="glyphicon glyphicon-search"></span></button>
                  <button class="btn btn-default search-switcher last" title="<%= t("navbar.show_advanced_search_button_title") %>" aria-label="<%= t("navbar.show_advanced_search_button_title") %>" aria-expanded="false" <% if params["advanced"] %>style="display:none"<% end %>><span class='glyphicon glyphicon-chevron-down'></span></button>
                </div>
              </div>
            <% end %>
          </li>
          <li class="ml-auto">
            <ul class="nav navbar-nav gap-x-2">
              <li class="repo-container">
              <div class="btn-group" role="group">
                <a href="<%= url_for :controller => :repositories, :action => :show, :id => session[:repo_id] %>" class="btn btn-default navbar-btn">
                  <span class="repository-label has-popover" tabindex="0" data-trigger="focus hover" data-placement="bottom" data-html='true' data-toggle='popover' data-title="<span class='icomoon icon-repository'>&#160;</span><%= CGI::escapeHTML(current_repo['repo_code']) %>" data-content="<%= CGI::escapeHTML(current_repo['name']) %>">
                    <span class="icomoon icon-repository"></span><span class="current-repository-id"><% if current_repo %><%= current_repo['repo_code'] %><% end %></span>
                    <% unless current_repo.publish %>
                      <span class="badge badge-warning"><%= t("navbar.unpublished") %></span>
                    <% end %>
                  </span>
                </a>
                <div class="btn-group">
                  <button class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" title="<%= t("navbar.repository_settings") %>" aria-label="<%= t("navbar.repository_settings") %>"><span class="glyphicon glyphicon-cog mr-1"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <% found_an_item = false %>
                    <% if user_can?('manage_repository') %>
                      <% found_an_item = true %>
                      <li><%= link_to t("navbar.manage_groups"), {:controller => :groups, :action => :index}, :class => "dropdown-item" %></li>
                      <li><%= link_to t("user._frontend.section.manage_access"), {:controller => :users, :action => :manage_access}, :class => "dropdown-item" %></li>
                    <% end %>
                    <% if user_can?('manage_assessment_attributes') %>
                      <li><%= link_to t("navbar.manage_assessment_attributes"), {:controller => :assessment_attributes, :action => :edit}, :class => "dropdown-item" %></li>
                    <% end %>
                    <% if user_can?('view_repository') %>
                      <% found_an_item = true %>
                      <li><%= link_to t("navbar.manage_top_containers"), {:controller => :top_containers, :action => :index}, :class => "dropdown-item" %></li>
                    <% end %>
                    <% if found_an_item %>
                      <li class="dropdown-divider"></li>
                    <% end %>
                    <% if user_can?('transfer_repository') && @repositories.length > 1 %>
                      <li><%= link_to t("repository._frontend.section.transfer"), {:controller => :repositories, :action => :transfer, :id => session[:repo_id]}, :class => "dropdown-item" %></li>
                      <li class="dropdown-divider"></li>
                    <% end %>
                    <% if user_can?('create_job') %>
                        <li><%= link_to t("job._plural"), {:controller => :jobs, :action => :index}, :class => "dropdown-item" %></li>
                        <li><%= link_to t("bulk_import.templates"), {:controller => :bulk_import_templates, :action => :index}, :class => "dropdown-item" %></li>
                      <li class="dropdown-divider"></li>
                    <% end %>

                    <li><%= link_to t("navbar.list_reports"), {:controller => :jobs, :action => :new, :job_type => 'report_job'}, :class => "dropdown-item" %></li>
                    <% if user_can?('manage_custom_report_templates') && AppConfig[:enable_custom_reports] %>
                      <li><%= link_to t("custom_report_template._plural"), {:controller => :custom_report_templates, :action => :index}, :class => "dropdown-item" %></li>
                    <% end %>

                    <% if Plugins.repository_menu_items.any? {|plugin| has_permission_for_controller?(session, plugin)} %>
                      <li>
                        <div class="btn-group dropdown-item dropdown-submenu dropleft px-0">
                          <button type="button" class="btn dropdown-toggle py-0 border-0 rounded-0 text-left" data-toggle="dropdown"><%= t("navbar.plugins") %></button>
                          <ul class="dropdown-menu">
                            <% Plugins.repository_menu_items.each do |plugin| %>
                              <% if has_permission_for_controller?(session, plugin) %>
                                <li><%= link_to t("plugins.#{plugin}.label"), {:controller => plugin.intern, :action => :index}, :class => "dropdown-item px-4 py-1" %></li>
                              <% end %>
                            <% end %>
                          </ul>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              </li>
              <% if ArchivesSpaceHelp.enabled? %>
                <li><%= link_to_help %></li>
              <% end %>
            </ul>
          </li>
        </ul>
        <section class="w-100 bg-grayLighter">
          <div class="advanced-search-container" <% if params["advanced"].blank? or params["advanced"]  === 'false' %>style="display: none"<% end %>>
            <%= render_aspace_partial :partial => "shared/advanced_search" %>
          </div>
        </section>
      <% end %>
    </div>
  </nav>
</div>
