<% if session[:user] %>
   <li class="dropdown repository-container"
     <% if user_can?('create_repository') && repositories.length == 0 %>
       rel="popover"
       data-placement="bottom"
       data-trigger="manual"
       data-title="false"
       data-html="true"
       data-content="To create your first Repository, click the <span class='btn btn-mini dropdown-toggle'><span class='caret'></span></span> above and then the <strong>Create a Repository</strong> link."
     <% end %>
   >
     <div class="input-append">
        <span class="repository-label <% if not session[:repo] %>empty<% end %>"><span class=" icon-hdd"></span> <span class="current-repository-id"><% if session[:repo] %><%= session[:repo] %><% end %></span></span>
        <a class="btn dropdown-toggle last" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if session[:repo] %>
               <%#><li><a href="#">Edit</a></li>
               <li class="divider"></li>%>
            <% end %>
            <% if repositories.length > 0 %>
               <% for repo in repositories %>
                  <% if session[:repo_id] === repo.id %>
                     <li><span class="icon-ok-circle"></span> <%= repo.repo_code %></li>
                  <% else %>
                     <li><%= link_to repo.repo_code, {:controller => :repository, :action => :select, :id => repo.id}, :class => "select-repo" %></li>
                  <% end %>
               <% end %>
            <% else %>
              <li><span class="icon-info-sign"></span> No repositories yet</li>
            <% end %>
            <% if session[:repo] and user_can?('manage_repository') %>
              <li class="divider"></li>
              <li><%= link_to "Manage Groups", :controller => :groups, :action => :index %></li>
            <% end %>
            <% if user_can?('create_repository') %>
              <li class="divider"></li>
              <li><%= link_to "Create a Repository", {:controller => :repository, :action => :new}, "data-toggle" => "modal-ajax" %></li>
            <% end %>
            <% if user_can?('create_user') %>
              <li class="divider"></li>
              <li><%= link_to "Manage Users", :controller => :users, :action => :create %></li>
            <% end %>
          </ul>                 
     </div>
   </li>
<% end %>
