<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "ArchivesSpace", {:controller=>:welcome, :action=>:index}, :class=>"brand" %>
        <div class="nav-collapse">
          <ul class="nav">
            <li <% if controller_name === "welcome" %>class="active"<% end %>>
               <%= link_to raw('<span class="icon-home icon-white"></span>'), :controller=>:welcome, :action=>:index %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Accessions", :controller=>:accessions, :action=>:index %></li>
                <li><%= link_to "Resources", :controller=>:resources, :action=>:index %></li>
                <li><a href="#">Digital Objects</a></li>
                <li><a href="#">Names</a></li>
                <li><a href="#">Subjects</a></li>                
              </ul>
            </li>
            <% if session[:user] %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Accession", :controller=>:accessions, :action=>:new %></li>
                <li class="divider"></li>
                <li><%= link_to "Resource", :controller=>:resources, :action=>:new %></li>
                <li><a href="#">Digital Object</a></li>
                <li><a href="#">Name</a></li>
                <li><a href="#">Subject</a></li>
              </ul>
            </li>
          <% end %>
          </ul>
          <form class="navbar-search pull-left" action="">
             <div class="input-append">
               <input type="text" class="search-query span2" placeholder="Search">
               <div class="btn-group">
                <a class="btn btn-inverse" href="#"><span class=" icon-search icon-white"></span></a>
                <a class="btn btn-inverse dropdown-toggle last" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                   <li><a href="#">All Records</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Resources</a></li>
                   <li><a href="#">Digital Objects</a></li>
                   <li><a href="#">Names</a></li>
                   <li><a href="#">Subjects</a></li>
                   <li><a href="#">Accessions</a></li>
                </ul>
              </div>
            </div>
          </form>         
          <ul class="nav pull-right">
           <%= render "shared/header_repository" %>
           <%= render "shared/header_user" %>
         </ul>
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>