<% if session[:user] %>
  <% if @repositories.length > 0 %>
    <li class="dropdown select-a-repository">
      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t("repository._frontend.action.select") %> <b class="caret"></b></a>
      <ul class="dropdown-menu" style="padding: 15px;">
        <li>
          <%= form_tag({:controller => :repositories, :action => :select}) do |f| %>
            <fieldset>
              <%= select_tag "id", options_for_select(@repositories.map {|repo| [repo.repo_code, repo.id]}, session[:repo_id]) %>
            </fieldset>
            <button class="btn btn-primary pull-left"><%= I18n.t("repository._frontend.action.select") %></button>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= I18n.t("navbar.global_admin") %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% if user_can?('create_repository') || user_can?('manage_users') %>
        <% if user_can?('create_repository') %>
          <li><%= link_to I18n.t("navbar.repositories_manage"), {:controller => :repositories, :action => :index} %></li>
        <% end %>
        <% if user_can?('manage_users') %>
          <li><%= link_to I18n.t("navbar.manage_users"), :controller => :users, :action => :create %></li>
          <li><%= link_to I18n.t("navbar.manage_enumerations"), :controller => :enumerations, :action => :index %></li>
        <% end %>
        <% if ArchivesSpaceHelp.enabled? %>
          <li class="divider"></li>
        <% end %>
      <% end %>
      <% if ArchivesSpaceHelp.enabled? %>
        <li><%= link_to_help :label => I18n.t("help.help_center") %></li>
      <% end %>
    </ul>
  </li>
  <li class="dropdown user-container">
    <div class="input-append">
      <span class="inset-label">
        <span class="user-label has-popover" data-trigger="hover" data-placement="bottom" data-html='true' data-title='<span class="icon-user"></span> <%= CGI::escapeHTML(session[:user]) %>'>
          <span class="icon-user"></span><%= session[:user] %>
        </span>
      </span>
      <a class="btn dropdown-toggle last" data-toggle="dropdown" href="#"><span class="caret"></span></a>
      <ul class="dropdown-menu pull-right">
        <li><%= link_to I18n.t("navbar.logout"), :controller => "session",:action => "logout"%></li>
      </ul>
    </div>
  </li>
<% else %>
  <li class="dropdown login-dropdown <% if params[:login] %>open<% end %>">
    <a class="session-actions dropdown-toggle" href="#" data-toggle="dropdown"><%= I18n.t("navbar.login") %></a>
    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
       <%= render :partial => "shared/login" %>
       <p><%= I18n.t "navbar.register_prefix" %> <%= link_to I18n.t("navbar.register"), {:controller => "users", :action => "new"}, :class => "boring-link" %></p>
    </div>
  </li>
<% end %>
