<div class="global-header">
  <span class="sr-only">
    <h1>
      <%= t("header.staff_interface") %>
    </h1>
  </span>
  <nav class="global-header-nav">
    <%= render "site/branding" %>
    <ul class="list-unstyled ml-auto d-flex gap-x-2 bg-light rounded-bottom shadow-sm">
      <%= render "shared/header_user" %>
      <% if ArchivesSpaceHelp.enabled? %>
        <li class="d-flex align-items-center<%= (session[:user] ? ' mr-3' : '') %>"><%= link_to_help %></li>
        <%# .mr-3 used above to align link_to_help with the other below it %>
      <% end %>
    </ul>
  </nav>
</div>
