<% show_identifiers = AppConfig[:display_identifiers_in_largetree_container] %>

<%= javascript_include_tag "InfiniteTree.js" %>

<div
  id="infinite-tree-container"
  data-resource-uri="<%= @resource.uri %>"
  class="mb-2"
>
</div>
<%= render_aspace_partial :partial => "shared/infinite_tree_resizer" %>

<template id="infinite-tree-root-template">
  <ol class="infinite-tree<%= ' has-identifier-column' if show_identifiers %>" role="tree">
    <li class="root node" role="treeitem" id data-uri aria-expanded>
      <div class="node-row">
        <div class="node-body" title>
          <div class="node-column" data-column="title">
            <a class="node-title" href></a>
          </div>
          <div class="node-column" data-column="level"></div>
          <div class="node-column" data-column="type"></div>
          <div class="node-column" data-column="container"></div>
          <% if show_identifiers %>
            <div class="node-column" data-column="identifier"></div>
          <% end %>
        </div>
      </div>
    </li>
  </ol>
</template>

<template id="infinite-tree-node-template">
  <li class="node" role="treeitem" id data-uri>
    <div class="node-row">
      <div class="node-body" title>
        <div class="node-indentation"></div>
        <div class="node-column" data-column="title">
          <a class="node-title" href></a>
        </div>
        <div class="node-column" data-column="level"></div>
        <div class="node-column" data-column="type"></div>
        <div class="node-column" data-column="container"></div>
        <% if show_identifiers %>
          <div class="node-column" data-column="identifier"></div>
        <% end %>
      </div>
    </div>
  </li>
</template>

<template id="infinite-tree-expand-button-template">
  <button class="node-expand" type="button">
    <i class="node-expand-icon glyphicon glyphicon-chevron-right"></i>
    <span class="sr-only"></span>
  </button>
</template>

<template id="infinite-tree-children-list-template">
  <ol
    class="node-children"
    role="group"
    data-parent-id
    data-tree-level
    data-total-child-batches
  ></ol>
</template>

<template id="infinite-tree-batch-placeholder-template">
  <li data-batch-placeholder style="display:none"></li>
</template>

<template id="infinite-tree-suppressed-template">
  <span class="badge badge-warning"><%= I18n.t("states.suppressed") %></span>
</template>

<script>
const resourceUri = "<%= @resource.uri %>"
const resourceUriParts = resourceUri.split('/')
const resourceId = resourceUriParts[resourceUriParts.length - 1]

// ANW-2322 Temporarily copy and adapt ENUMERATION_TRANSLATIONS from largetree.js
// for use in a .js file (not .js.erb)
<%
  translations = {}

  ['instance_instance_type', 'container_type', 'resource_resource_type',
    'archival_record_level', 'digital_object_digital_object_type'
  ].each do |enumeration_name|
    translations[enumeration_name] ||= {}

    JSONModel.enum_values(enumeration_name).each do |enumeration_value|
      translations[enumeration_name][enumeration_value] = t("enumerations.#{enumeration_name}.#{enumeration_value}", :default => enumeration_value)
    end
  end
%>

const ENUMERATION_TRANSLATIONS_2 = <%== translations.to_json %>;

const EnumerationTranslations2 = {
  t : function(enumeration, enumeration_value) {
    if (ENUMERATION_TRANSLATIONS_2.hasOwnProperty(enumeration)) {
        if (ENUMERATION_TRANSLATIONS_2[enumeration].hasOwnProperty(enumeration_value)) {
            return ENUMERATION_TRANSLATIONS_2[enumeration][enumeration_value];
        } else if (enumeration == 'archival_record_level'){
            return enumeration_value;
        }
    }
    return null;
  },
  ENUMERATION_TRANSLATIONS: ENUMERATION_TRANSLATIONS_2
};

const infiniteTree = new InfiniteTree(
  "<%= Rails.configuration.infinite_tree_batch_size %>",
  "<%= AppConfig[:frontend_proxy_url] %>",
  resourceUri,
  {
    sep: "<%= I18n.t("resource.identifier_separator") %>",
    bulk: "<%= I18n.t("date_type_bulk.bulk") %>",
    enumerations: EnumerationTranslations2
  }
);
</script>
