<%
   read_only = false if read_only.blank?
%>

<div class="row">
  <div class="col-md-12">
    <div id="tree-container"></div>
  </div>
</div>

<div id="object_container"></div>

<%= stylesheet_link_tag "archivesspace/largetree" %>
<%= javascript_include_tag "largetree" %>
<%= javascript_include_tag "record_with_tree" %>

<script>
    var tree = new Tree('<%= url_for(:action => :show) %>/tree',
                        $('#tree-container'),
                        $('#object_container'),
                        '<%= root_record.uri %>',
                        <%= read_only %>);
</script>
