<!-- Shared Linker Partial -->

<%
  # Allow multiple subjects to be linked if it's an empty linker
  multiplicity = "many" if multiplicity.blank?

  if form.obj['ref'].blank?
    selected_json = (multiplicity === "many") ? "[]" : "{}"
  else
    multiplicity = "one"
    selected_json = form.obj['_resolved'].to_json
  end

  exclude_ids = [] if exclude_ids.blank?

  required = (defined? optional) ? !optional : true

  linkable_types = defined?(allowed_types) ? allowed_types : ["agent"]
  creatable_types = defined?(allowed_types) ? allowed_types : ["agent_person", "agent_family", "agent_corporate_entity", "agent_software"]
  hide_create = false if hide_create.blank?

  if !defined?(linker_label)
    linker_label = (multiplicity === "many") ? t("agent._plural") : t("agent._singular")
  end
  input_atts = {}

  input_atts['id'] = form.id_for("ref")
  input_atts['data-label_create'] = t("agent.linker.create")
  input_atts['data-label_browse'] = t("agent.linker.browse")
  input_atts['data-label_link'] = "link"
  input_atts['data-label_create_and_link'] = "create and link"
  input_atts['data-path'] = form.path
  input_atts['data-url'] = url_for :controller => :search, :action => :do_search, :format => :json
  input_atts['data-browse-url'] = url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.AGENT_FACETS, :sort => "title_sort asc"
  input_atts['data-selected'] = selected_json
  input_atts['data-multiplicity'] = multiplicity
  input_atts['data-types'] = linkable_types.to_json
  input_atts['data-exclude'] = exclude_ids.to_json
%>


<div class="form-group <% if required %> required <% end %>">
  <label class="control-label col-sm-3 text-right"
         id="<%= form.id_for("ref") %>_label"
         for="<%= form.id_for("ref") %>">
    <%= linker_label %>
  </label>
  <div class="controls col-sm-8">
    <div class="input-group linker-wrapper"
         role="combobox"
         aria-owns="<%= form.id_for("ref") %>_listbox"
         id="<%= form.id_for("ref") %>_combobox">
      <input type="text" class="linker"
             id="<%= form.id_for("ref") %>"
             aria-autocomplete="both"
             aria-controls="<%= form.id_for("ref") %>_listbox"
             aria-labelledby="<%= form.id_for("ref") %>_label"
             data-label_create="<%= t("agent.linker.create") %>"
             data-label_browse="<%= t("agent.linker.browse") %>"
             data-label_link="<%= t("linker.link") %>"
             data-label_create_and_link="<%= t("linker.create_and_link") %>"
             data-name="ref"
             data-path="<%= form.path %>"
             data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
             data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.AGENT_FACETS, :sort => "title_sort asc" %>"
             data-selected="<%= selected_json %>"
             data-multiplicity="<%= multiplicity %>"
             <% if multiplicity === "many" %>data-sortable="true"<% end %>
             data-types='<%= linkable_types.to_json %>'
             data-exclude='<%= exclude_ids.to_json %>'
             aria-label="<%= t("agent.linker.link_title") %>"
      />

      <% if form.obj.has_key?('_resolved') %>

            <input type="text"
              class='prelinker'
              name="<%= form.path %>[_resolved]"
              value="<%= selected_json %>" />

            <input type="text"
              class='prelinker'
              name="<%= form.path %>[ref]"
              value="<%= form.obj["ref"] %>" />

      <% end %>

      <div class="input-group-append">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-label="<%= t("agent.linker.link_title") %>"></button>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><a href="javascript:void(0);" class="linker-browse-btn"><%= t("actions.browse") %></a></li>
          <% if user_can?('update_agent_record') %>
            <li class="dropdown-submenu pull-left dropdown-item">
              <% if !hide_create && user_can?('update_agent_record') %>
              <a href="javascript:void(0);"><%= t("actions.create") %></a>
              <% end %>
              <ul class="dropdown-menu">
                <% creatable_types.each do |agent_type| %>
                <li><a href="javascript:void(0);" data-target="<%= url_for :controller => :agents, :action => :new, :agent_type => agent_type.intern, :inline => true %>" class="linker-create-btn"><%= t("#{agent_type}._singular") %></a></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
