<%
   multiplicity ||= "many"
   singular = "#{controller}".singularize
   extra_params = {} if extra_params.blank?
%>

  <div id="merge-dropdown" class="btn-group dropdown" data-no-change-tracking="true">
    <button class="btn btn-sm btn-default dropdown-toggle merge-action" data-toggle="dropdown" role="button" aria-expanded="false" title="<%= t("actions.merge") %>">
      <%= t("actions.merge") %>
    </button>
    <ul class="dropdown-menu merge-form dropdown-menu-right" role="none">
      <li>
        <p class="mb-0"><%= t("#{singular}._frontend.messages.merge_description") %>   <%= record.title %></p>
        <%= form_context :merge, {} do |form| %>

        <fieldset class="mt-3 mb-4 p-0">
          <div class="alert alert-danger missing-ref-message" style="display: none;"><%= t "#{singular}._frontend.messages.please_select_a_#{singular}_to_merge" %></div>
          <%= render_aspace_partial :partial => "#{controller}/linker", :locals => { :form => form,  :exclude_ids => [record.uri], :hide_create => true, :multiplicity => multiplicity, :layout => 'stacked' }%>
        </fieldset>
        <div class="pl-0 d-flex justify-content-between form-actions">
          <%=
             button_confirm_action(t("actions.merge"),
                                   url_for({:controller => controller, :action => :merge, :id => record.id}.merge(extra_params)),
                                   {
                                     :class => "btn btn-primary merge-button",
                                     :"data-title" => confirmation_title,
                                     :"data-message" => confirmation_msg,
                                     :"data-confirm-btn-label" => "#{t("actions.merge")}",
                                     :"data-confirm-btn-class" => "btn btn-default"
                                   })
          %>
          <button type="button" class="btn btn-default btn-cancel"><%= t("actions.cancel") %></button>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
