<% if @search_data %>

  <div class="d-inline-block">
    <%= I18n.t "pagination.summary_prefix" %> <strong><%= @search_data["offset_first"] %></strong> <%= I18n.t "pagination.summary_offset_connector" %> <strong><%= @search_data["offset_last"] %></strong> <%= I18n.t "pagination.summary_total_connector" %> <strong><%= @search_data["total_hits"] %></strong> <%= I18n.t "pagination.summary_suffix" %>
  </div>
  <% unless @hide_sort_options %>
    <div class="d-inline-block">
      <label>,&#160;<%= t("search_sorting.sort_by") %>&#160;</label>
      <button
        type="button"
        class="btn btn-sm btn-default dropdown-toggle"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        <%= @search_data.sorted_by_label %>
      </button>
      <ul class="dropdown-menu dropdown-menu-right sort-opts">
        <% @search_data.sort_fields.each do |field, label| %>
          <% next if field == 'score' && @search_data.sorted_by?(field) %>
          <li class="dropdown-item p-0 dropdown-submenu">
            <%= link_to label, build_search_params("sort" => @search_data.sort_filter_for(field, "desc")), :class => 'py-1 px-4 d-block text-decoration-none menu-with-options' %>
            <ul class="dropdown-menu" style="top: -3px;"> <%# top style for submenu alignment %>
              <% unless field == 'score' %>
                <li><%= link_to t("search_sorting.asc"), build_search_params("sort" => "#{field} asc"), :class => 'dropdown-item py-1 px-4 d-block text-decoration-none' %></li>
              <% end %>
              <li><%= link_to t("search_sorting.desc"), build_search_params("sort" => "#{field} desc"), :class => 'dropdown-item py-1 px-4 d-block text-decoration-none' %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @search_data.sorted? && !@search_data.sorted_by?('score') %>
    <div class="d-inline-block">
      <label>&#160;<%= t("search_sorting.and") %>&#160;</label>
      <button
        type="button"
        class="btn btn-sm btn-default dropdown-toggle"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        <%= @search_data.sorted_by_label(1) %>
      </button>
      <ul class="dropdown-menu dropdown-menu-right sort-opts">
        <% @search_data.sort_fields.each do |field, label| %>
          <% if !@search_data.sorted_by?(field) && field != 'score' %>
            <li class="dropdown-item p-0 dropdown-submenu">
              <%= link_to label, build_search_params("sort2" => @search_data.sort_filter_for(field, "desc")), :class => 'py-1 px-4 d-block text-decoration-none menu-with-options' %>
              <ul class="dropdown-menu" style="top: -3px;">
                <li><%= link_to t("search_sorting.asc"), build_search_params("sort2" => "#{field} asc"), :class => 'dropdown-item py-1 px-4 d-block text-decoration-none' %></li>
                <li><%= link_to t("search_sorting.desc"), build_search_params("sort2" => "#{field} desc"), :class => 'dropdown-item py-1 px-4 d-block text-decoration-none' %></li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
