<%
  page_limit = 10

  first_page = [@search_data['this_page'] - page_limit / 2, 1].max
  last_page = [first_page+page_limit, @search_data['last_page']].min

  page_range = (first_page..last_page)
%>

<% if @search_data %>

  <div class="pagination-centered">
    <ul class="pagination pagination-sm justify-content-center align-items-center">
      <% if not page_range.cover?(1) %>
        <li class='page-item px-2'>
            <%= link_to_merge_params t("pagination.first"), :page => 1, :class => 'page-link' %>
        </li>
      <% end %>

      <% if @search_data['this_page'] > 1 %>
        <li class='page-item'>
            <%= link_to_merge_params(t("pagination.previous").html_safe,
                                     {:page => @search_data['this_page'] - 1},
                                     {:title => t("pagination.previous_label"), :class => 'page-link'}) %>
        </li>
      <% else  %>
        <li class="disabled page-item"><a href="#" class='page-link'><%= t("pagination.previous").html_safe %></a></li>
      <% end %>

      <% page_range.each do |i| %>
        <% if @search_data['this_page'] === i %>
          <li class="active page-item"><a href="#" class='page-link'><%= i %></a></li>
        <% else %>
          <li class='page-item'>
            <%= link_to_merge_params(i, 
                                    {:page => i},
                                    {:class => 'page-link'}) %>
          </li>
        <% end %>
      <% end %>

      <% if @search_data['this_page'] != @search_data['last_page'] %>
        <li class='page-item'>
            <%= link_to_merge_params(t("pagination.next").html_safe,
                                     {:page => @search_data['this_page'] + 1},
                                     {:title => t("pagination.next_label"), 
                                      :class => 'page-link'}) %>
        </li>
      <% else %>
        <li class="disabled page-item"><a href="#" class='page-link'><%= t("pagination.next").html_safe %></a></li>
      <% end %>
      <% if not page_range.cover?(@search_data['last_page']) %>
        <li class='page-item px-2'>
            <%= link_to_merge_params t("pagination.last"), :page => @search_data['last_page'], :class => 'page-link' %>
        </li>
      <% end %>
    </ul>
  </div>

<% end %>

