<% if @search_data %>

  <div class="d-inline-block">
    <%= I18n.t "pagination.summary_prefix" %> <strong><%= @search_data["offset_first"] %></strong> <%= I18n.t "pagination.summary_offset_connector" %> <strong><%= @search_data["offset_last"] %></strong> <%= I18n.t "pagination.summary_total_connector" %> <strong><%= @search_data["total_hits"] %></strong> <%= I18n.t "pagination.summary_suffix" %>
  </div>
  <% unless @hide_sort_options %>
    <div class="d-inline-block">
      <span class="btn-group align-items-baseline">
        <label>,&#160;<%= I18n.t("search_sorting.sort_by") %>&#160;</label>
        <div class="btn-group align-items-center">
          <a class="dropdown-toggle border bg-white rounded d-flex align-items-center pr-3" data-toggle="dropdown" href="#">
            <span class="btn"><%= @search_data.sorted_by_label %></span>
          </a>
          <ul class="dropdown-menu">
            <% @search_data.sort_fields.each do |field, label| %>
              <% next if field == 'score' && @search_data.sorted_by?(field) %>
              <li class="dropdown-submenu dropdown-item">
                <%= link_to label, build_search_params("sort" => @search_data.sort_filter_for(field, "desc")) %>
                <ul class="dropdown-menu">
                  <% unless field == 'score' %>
                    <li class='dropdown-item'><%= link_to I18n.t("search_sorting.asc"), build_search_params("sort" => "#{field} asc") %></li>
                  <% end %>
                  <li class='dropdown-item'><%= link_to I18n.t("search_sorting.desc"), build_search_params("sort" => "#{field} desc") %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </span>
    </div>
  <% end %>
  <% if @search_data.sorted? && !@search_data.sorted_by?('score') %>
    <div class="d-inline-block">
      <span class="btn-group align-items-baseline">
        <label>&#160;<%= I18n.t("search_sorting.and") %>&#160;</label>
        <div class="btn-group">
          <a class="dropdown-toggle border bg-white rounded d-flex align-items-center pr-3" data-toggle="dropdown" href="#">
              <span class="btn"><%= @search_data.sorted_by_label(1) %></span>
          </a>
          <ul class="dropdown-menu">
            <% @search_data.sort_fields.each do |field, label| %>
              <% if !@search_data.sorted_by?(field) && field != 'score' %>
                <li class="dropdown-submenu dropdown-item">
                  <%= link_to label, build_search_params("sort2" => @search_data.sort_filter_for(field, "desc")) %>
                  <ul class="dropdown-menu">
                    <li class='dropdown-item'><%= link_to I18n.t("search_sorting.asc"), build_search_params("sort2" => "#{field} asc") %></li>
                    <li class='dropdown-item'><%= link_to I18n.t("search_sorting.desc"), build_search_params("sort2" => "#{field} desc") %></li>
                  </ul>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </span>
    </div>
  <% end %>
<% end %>
