<%
  page_limit = 10

  first_page = [@search_data['this_page'] - page_limit / 2, 1].max
  last_page = [first_page+page_limit, @search_data['last_page']].min

  page_range = (first_page..last_page)
%>

<% if @search_data %>

  <div class="pagination-centered">
    <ul class="pagination pagination-sm">
      <% if not page_range.cover?(1) %>
        <li>
          <%= link_to I18n.t("pagination.first"), params.merge(:page => 1) %>
        </li>
      <% end %>

      <% if @search_data['this_page'] > 1 %>
        <li>
          <%= link_to I18n.t("pagination.previous").html_safe, params.merge(:page => @search_data['this_page'] - 1), :title => I18n.t("pagination.previous_label") %>
        </li>
      <% else  %>
        <li class="disabled"><a href="#"><%= I18n.t("pagination.previous").html_safe %></a></li>
      <% end %>

      <% page_range.each do |i| %>
        <% if @search_data['this_page'] === i %>
          <li class="active"><a href="#"><%= i %></a></li>
        <% else %>
          <li>
            <%= link_to i, params.merge(:page => i) %>
          </li>
        <% end %>
      <% end %>

      <% if @search_data['this_page'] != @search_data['last_page'] %>
        <li>
          <%= link_to I18n.t("pagination.next").html_safe, params.merge(:page => @search_data['this_page'] + 1), :title => I18n.t("pagination.next_label") %>
        </li>
      <% else %>
        <li class="disabled"><a href="#"><%= I18n.t("pagination.next").html_safe %></a></li>
      <% end %>
      <% if not page_range.cover?(@search_data['last_page']) %>
        <li>
          <%= link_to I18n.t("pagination.last"), params.merge(:page => @search_data['last_page']) %>
        </li>
      <% end %>
    </ul>
  </div>

<% end %>

