<section class="d-flex flex-column">
  <div class="d-flex align-items-center gap-x-2 record-toolbar" role="toolbar">
    <% if !record.suppressed %>
      <% if !['edit', 'update', 'create'].include?(controller.action_name) %>
        <div class="btn-group">
          <%= link_to t("actions.edit"), {:action => :edit, :id => record.id, :anchor => "tree::#{record_type}_#{record.id}"}, :class => "btn btn-sm btn-primary" %>
        </div>
      <% end %>
    <% end %>
    <% if ['new', 'create', 'edit', 'update'].include?(controller.action_name) %>
      <div class="save-changes">
        <button type="submit" class="btn btn-primary btn-sm"><%= t("actions.save_prefix") %></button>
      </div>
    <% end %>
    <% if ['edit', 'update'].include?(controller.action_name) %>
      <div class="align-items-center revert-changes">
        <%= link_to t("actions.revert"), {:action => :edit, :id => record.id}, :class => "btn btn-sm btn-default flex-shrink-0" %>
      </div>
    <% end %>
    <div class="btn-group ml-auto" data-allow-disabled>
      <% if user_can?('update_event_record') && !record.suppressed %>
        <%= render_aspace_partial :partial => "shared/event_dropdown", :locals => {:record => record} %>
      <% end %>
      <div class="btn-group">
        <%= button_confirm_action(t("actions.publish"),
                    url_for({:action => :publish, :id => record.id}),
                    {
                      :class => "btn btn-sm btn-default",
                      :"data-title" => t("actions.publish_confirm_title"),
                      :"data-message" => t("actions.publish_confirm_message"),
                      :"data-confirm-btn-label" => "#{t("actions.publish")}",
                      :"data-confirm-btn-class" => "btn-primary",
                    }) %>
      </div>
      <% if ['resource'].include?(record_type) %>
        <%= button_confirm_action(t("actions.unpublish"),
                                  url_for({:action => :unpublish, :id => record.id}),
                                  {
                                    :class => "btn btn-sm btn-default",
                                    :"data-title" => t("actions.unpublish_confirm_title"),
                                    :"data-message" => t("actions.unpublish_confirm_message"),
                                    :"data-confirm-btn-label" => "#{t("actions.unpublish")}",
                                    :"data-confirm-btn-class" => "btn-primary",
                                  }) %>
      <% end %>
      <% if AppConfig[:enable_public] %>
        <%= render_aspace_partial :partial => "shared/view_published_button", :locals => {:record => record} %>
      <% end %>

      <% if @resource != nil %>
        <div class="btn-group">
          <%= link_to I18n.t("actions.duplicate_resource"), {
              controller: :exports,
              :action => :resource_duplicate,
              :resource_id => @resource.id
            },
            :merge_destination => :_blank,
            :class => "btn btn-sm btn-default",
            :"data-confirmation" => true,
            :"data-title" => I18n.t("actions.duplicate_resource", :title => @resource.title),
            :"data-message" => I18n.t("actions.duplicate_resource_confirm_message"),
            :"data-confirm-btn-label" => "#{I18n.t("actions.duplicate_resource")}",
            :"data-authenticity_token" => form_authenticity_token,
            :"data-confirm-btn-class" => "btn-warning"
          %>
        </div>
      <% end %>

      <div class="btn-group">
        <button
          type="button"
          id="export-dropdown-toggle"
          class="btn btn-sm btn-default dropdown-toggle"
          data-toggle="dropdown"
        >
          <%= t("actions.export") %>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <%= yield :exports %>
        </ul>
      </div>
      <% if user_can?('merge_archival_record') %>
        <%=
            render_aspace_partial :partial => "shared/merge_dropdown",
                  :locals => {:record => record,
                              :multiplicity => "one",
                              :controller => controller.controller_name,
                              :confirmation_title => t("actions.merge_confirm_title"),
                              :confirmation_msg => t("actions.merge_resource_confirm_message",
                                                          :source => record.title)}
        %>
      <% end %>
      <% if user_can?('transfer_archival_record') %>
        <%=
          render_aspace_partial :partial => "shared/transfer_dropdown",
                  :locals => {:record => record,
                              :controller => controller.controller_name,
                              :confirmation_title => t("actions.transfer_confirm_title"),
                              :confirmation_msg => t("actions.transfer_confirm_message", :target => record.title)}
        %>
      <% end %>
      <div class="btn-group dropdown" id="other-dropdown" style="display: none">
        <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= t('actions.more') %>
        </button>

        <% other_shown = false %>
        <ul class="dropdown-menu dropdown-menu-right">
          <% if ['resource', 'archival_object'].include?(record_type) %>
            <% other_shown = true %>
            <li><%= render_aspace_partial :partial => "extent_calculator/toolbar_button", :locals => {:record => record}, :class => "dropdown-item" %></li>
            <li><%= render_aspace_partial :partial => "date_calculator/toolbar_button", :locals => {:record => record}, :class => "dropdown-item" %></li>
          <% end %>
          <% if ['resource', 'digital_object'].include?(record_type) %>
            <% if user_can?('update_assessment_record') %>
              <% other_shown = true %>
              <li><%= link_to t('assessment._frontend.action.create_for_record'), {:controller => :assessments, :action => :new, :record_uri => record.uri}, :class => "dropdown-item" %></li>
            <% end %>
          <% end %>

          <% if @resource != nil %>
            <li>
              <%=
                link_to t('bulk_archival_object_update_spreadsheet.title'),
                {
                  :controller => :bulk_archival_object_updater, :action => :download_form, :resource => @resource.uri
                },
                :class => "dropdown-item"
              %>
            </li>
          <% end %>

          <% if user_can?('administer_system') && AppConfig[:arks_enabled] && record['ark_name'] %>
            <li><%= render_aspace_partial :partial => "shared/ark_editor", :locals => {:record => record} %></li>
          <% end %>
        </ul>

        <% if other_shown %><script>$('#other-dropdown').show();</script><% end %>
      </div>

      <% if user_can?('suppress_archival_record') %>
        <% if record.suppressed %>
          <%= button_confirm_action t("actions.unsuppress"),
          url_for(:action => :unsuppress, :id => record.id),
            {
            :class => "btn btn-sm btn-default unsuppress-record",
              :"data-title" => t("actions.unsuppress_confirm_title"),
              :"data-message" => t("actions.unsuppress_confirm_message"),
              :"data-confirm-btn-label" => "#{t("actions.unsuppress")}"
              }
          %>
        <% else %>
          <%= button_confirm_action t("actions.suppress"),
          url_for(:action => :suppress, :id => record.id),
            {
            :class => "btn btn-sm btn-warning suppress-record",
              :"data-title" => t("actions.suppress_confirm_title"),
              :"data-message" => t("actions.suppress_confirm_message"),
              :"data-confirm-btn-label" => "#{t("actions.suppress")}",
              :"data-confirm-btn-class" => "btn-warning"
                }
          %>
        <% end %>
      <% end %>
      <% if user_can?('delete_archival_record') %>
        <%= button_delete_action url_for(:action => :delete, :id => record.id), { :"data-title" => t("actions.delete_confirm_title", :title => record.title) } %>
      <% end %>
    </div>
  </div>

  <% if ['edit', 'update'].include?(controller.action_name) %>
    <div id="record-toolbar-alert">
      <p class="mb-0 pt-1 pb-2 px-2 fs-12px"><%= t("actions.toolbar_disabled_message") %></p>
    </div>
  <% end %>

</section>
