<%
   if !defined?(anchor)
     anchor = (property == :none) ? subrecord_type : "#{record_type}_#{property}_"
   end
   if !defined?(title)
      title = t("#{record_type}._frontend.section.#{subrecord_type}",
                     :default => t("#{subrecord_type}._plural"))
   end
   subentry = nil if !defined?(subentry)
   sidebar_heading = nil if !defined?(sidebar_heading)
   lightmode_toggle = local_assigns.fetch(:lightmode_toggle, false)
%>

<li role="tab" aria-selected="false" class="sidebar-entry-<%= anchor %><%= " sidebar-heading" if sidebar_heading %><%= " lightmode_toggle" if lightmode_toggle %>">
  <a class="nav-link" href="#<%= anchor %>" style="<%= "padding-left: 25px !important;" if !subentry.nil? %>">
    <%= title %>
    <% if !sidebar_heading %>
      <span class="glyphicon glyphicon-chevron-right"></span>
    <% end %>
  </a>
</li>
