<%
  plusone = defined?(plusone) ? plusone : false
%>

<div id="archivesSpaceSidebar">
  <ul class="nav nav-list as-nav-list">
    <% if @exceptions %>
      <li class="<% if @exceptions.has_key?(:errors)%>alert-error<% end %>">
        <a href="#form_messages"><%= I18n.t("errors.sidebar_label") %>  <span class="icon-chevron-right"></span></a>
      </li>
    <% end %>

    <li>
      <a href="#basic_information">
        <%= I18n.t("#{record_type}._frontend.section.basic_information") %>
        <span class="icon-chevron-right"></span>
      </a>
    </li>

    <%= yield(SidebarHelper::SidebarGenerator.new(self, {:record => record, :record_type => record_type})) %>


    <% if controller.action_name != "show" %>
      <li class="form-actions">
        <% if plusone && record.id.blank? %>
          <div class="btn-group btn-submit-group">
            <button type="submit" class="btn btn-primary"><%= I18n.t("archival_object._frontend.action.save") %></button>
            <button type="button" id="createPlusOne" class="btn btn-primary btn-plus-one"><%= I18n.t("actions.save_plus_one") %></button>
          </div>
        <% else %>
          <button type="submit" class="btn btn-primary"><%= I18n.t("#{record_type}._frontend.action.save") %></button>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

