<%
  plusone = defined?(plusone) ? plusone : false
  if !defined?(save_button_text)
    save_button_text = t("#{record_type}._frontend.action.save")
  end
%>

<div id="archivesSpaceSidebar" class="sidebar d-flex position-sticky top-1rem flex-column">
  <ul role='tablist' class="nav as-nav-list d-flex flex-column">
    <% if @exceptions %>
      <li class="<% if @exceptions.has_key?(:errors)%>alert-danger<% end %>">
        <a class="nav-link" href="#form_messages"><%= t("errors.sidebar_label") %>  <span class="glyphicon glyphicon-chevron-right"></span></a>
      </li>
    <% end %>

    <% unless defined?(suppress_basic_information) && suppress_basic_information %>
      <li role='tab' aria-selected="false">
        <a class="nav-link" href="#basic_information">
          <%= t("#{record_type}._frontend.section.basic_information") %>
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </li>
    <% end %>

    <%= yield(SidebarHelper::SidebarGenerator.new(self, {:record => record, :record_type => record_type})) %>

    <%= sidebar_plugins_for(record) %>

    <% unless defined?(suppress_submit_buttons) && suppress_submit_buttons %>
      <% if controller.action_name != "show" %>
        <li class="form-actions">
          <% if plusone && record.id.blank? %>
            <div class="btn-group btn-submit-group">
              <button type="submit" class="btn btn-primary btn-sm"><%= save_button_text %></button>
              <button type="#{plusone}" class="btn btn-primary btn-sm btn-plus-one createPlusOneBtn"><%= t("actions.save_plus_one") %></button>
            </div>
          <% else %>
            <button type="submit" class="btn btn-primary btn-sm"><%= save_button_text %></button>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%=
  render_plugin_partials("sidebar_footer",
                         :record => record,
                         :record_type => record_type)
  %>

</div>
