<%
  plusone = defined?(plusone) ? plusone : false
  if !defined?(save_button_text)
    save_button_text = I18n.t("#{record_type}._frontend.action.save")
  end
%>

<div id="archivesSpaceSidebar" class="sidebar">
  <ul class="nav list-group as-nav-list">
    <% if @exceptions %>
      <li class="<% if @exceptions.has_key?(:errors)%>alert-danger<% end %>">
        <a href="#form_messages"><%= I18n.t("errors.sidebar_label") %>  <span class="glyphicon glyphicon-chevron-right"></span></a>
      </li>
    <% end %>

    <% unless defined?(suppress_basic_information) && suppress_basic_information %>
      <li>
        <a href="#basic_information">
          <%= I18n.t("#{record_type}._frontend.section.basic_information") %>
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </li>
    <% end %>

    <%= yield(SidebarHelper::SidebarGenerator.new(self, {:record => record, :record_type => record_type})) %>

    <%= sidebar_plugins_for(record) %>

    <% unless defined?(suppress_submit_buttons) && suppress_submit_buttons %>
      <% if controller.action_name != "show" %>
        <li class="form-actions">
          <% if plusone && record.id.blank? %>
            <div class="btn-group btn-submit-group">
              <button type="submit" class="btn btn-primary"><%= save_button_text %></button>
              <button type="#{plusone}" class="btn btn-primary btn-plus-one createPlusOneBtn"><%= I18n.t("actions.save_plus_one") %></button>
            </div>
          <% else %>
            <button type="submit" class="btn btn-primary"><%= save_button_text %></button>
          <% end %>
          <br style="clear:both" /> <!-- So dirty! -->
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

