<div id="modal_custom_template"><!--
   <div class="modal {if fill} ${fill}{/if}" id="${id}">
     <div class="modal-dialog {if dialogClass} ${dialogClass}{/if}">
       <div class="modal-content">
         {if defined("title") && title.length > 0}
           <div class="modal-header align-items-start justify-content-between">
             <h3>${title|h}</h3>
             <button type="button" class="btn close" data-dismiss="modal">×</button>
           </div>
         {/if}
         ${content}
       </div>
     </div>
   </div>
--></div>

<div id="modal_quick_template"><!--
  <div class="modal-body">
    ${message}
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t "actions.continue" %></button>
  </div>
--></div>

<div id="merge_container_profiles_modal"><!--
<% if ["container_profiles"].include?(controller_name) %>
  <%= form_tag({:controller => :container_profiles}, {:class => "form-horizontal", :id => "batch_merge_form" }) do |f| %>
    <div class="modal-body">
      <p class="alert alert-info" id="alertBucket"><%= t("container_profile._frontend.bulk_operations.merge_instructions") %></p>
      <div class="selected-record-list card" id="mergeList">
        <div class="card-body" role="radiogroup" aria-labelledby="mergeList">
          {for item in selection}
            <% item_uri = "${item.uri}" %>
            <div id="chkPref" role="radio" tabindex="0">
              <%= radio_button_tag "merge_destination[]", "${item.uri}", false, :"data-object" => item_uri, :"aria-label" => "${item.display_string}", :"id" => "${item.uri}", :onclick => "activateBtn()", :onKeyPress => "activateBtn()" %>
              <span>${item.display_string}</span>
            </div>
          {/for}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary merge-button" data-js="selectTarget" disabled="disabled"><%= t("container_profile._frontend.bulk_operations.merge_select_merge_destination") %></button>
      <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t("actions.cancel") %></button>
    </div>
  <% end %>
<% end %>
  --></div>

<div id="confirm_merge_container_profiles_modal"><!--
<% if ["container_profiles"].include?(controller_name) %>
  <%= form_tag({:controller => :batch_merge, :action => controller_name}, {:class => "form-horizontal", :id => "batch_merge_form" }) do |f| %>
    <div class="modal-body">
      <p class="alert alert-danger" id="alertBucket"><%= t("container_profile._frontend.bulk_operations.confirm_merge_question") %></p>
      <h4><%= t("container_profile._frontend.bulk_operations.confirm_merge_candidates") %></h4>
      <ul>
        {for merge_candidate in mergeCandidates}
          <li>${merge_candidate}</li>
        {/for}
      </ul>
      <h4><%= t("container_profile._frontend.bulk_operations.confirm_merge_destination") %></h4>
      <ul>
        <li>${mergeDestination.display_string}</li>
      </ul>
      <div class="selected-record-list" id="mergeList">

        {for profile in mergeList}
          <input type="hidden" name="merge_candidates[]" value="${profile.uri}">
        {/for}

        <input type="hidden" name="merge_destination[]" value="${mergeDestination.uri}">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger merge-button"><%= t("actions.merge_n_records", :n => "${mergeList.length}") %></button>
      <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t("actions.cancel") %></button>
    </div>
  <% end %>
<% end %>
--></div>

<div id="save_changes_modal_template"><!--
   <div class="modal-body">
      <%= t "save_changes_modal.body" %>
   </div>
   <div class="modal-footer">
      <button id="saveChangesButton" class="btn btn-primary"><%= t "save_changes_modal.save" %></button>
      <button id="dismissChangesButton" class="btn btn-danger"><%= t "save_changes_modal.dismiss" %></button>
      <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t "actions.cancel" %></button>
   </div>
--></div>

<div id="confirmation_modal_template"><!--
  {if defined('message') && message.length > 0}
    <div class="modal-body border-top border-bottom">
      ${message}
    </div>
  {/if}
  <div class="modal-footer justify-content-between">
    <button id="confirmButton" class="btn btn-primary {if defined('confirm_class') && confirm_class} ${confirm_class}{/if}">{if defined('confirm_label') && confirm_label}${confirm_label}{else}<%= I18n.t "actions.confirm" %>{/if}</button>
    <button class="btn btn-default btn-cancel" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
  </div>
--></div>

<div id="modal_content_loading_template"><!--
  <div class="modal-body">
    <div class="modal-loading-message">
      <div class="alert alert-info">Loading...</div>
    </div>
  </div>
--></div>

<div id="linker_browsemodal_template"><!--
   <div class="modal-body linker-container">
      <div class="linker-list"></div>
   </div>
   <div class="modal-footer">
     {if defined('primary_button_text')}
     <button id="addSelectedButton" class="btn btn-primary">${primary_button_text}</button>
     {else}
     <button id="addSelectedButton" class="btn btn-primary">${label_link}</button>
     {/if}
     {if defined('must_select') && must_select}
     {elseif defined('cancel_button_text')}
     <button class="btn btn-cancel btn-default" data-dismiss="modal">${cancel_button_text}</button>
     {else}
     <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
     {/if}
   </div>
--></div>
<div id="linker_createmodal_template"><!--
   <div class="modal-body linker-container"></div>
   <div class="modal-footer">
      <button id="createAndLinkButton" class="btn btn-primary">${label_create_and_link}</button>
      <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= t "actions.cancel" %></button>
   </div>
--></div>
<div id="linker_browse_template"><!--
  {if search_data.results.length > 0}
   <div class="pagination">
    <%= t "pagination.page_prefix" %> ${search_data.this_page} <%= t "pagination.page_connector" %> ${search_data.last_page}
    <div class="navigation">
      {if search_data.this_page > search_data.first_page}<a href="javascript:void(0);" rel="${search_data.this_page - 1}"><%= t "pagination.previous_label" %></a>{/if}
      {if search_data.this_page > search_data.first_page && search_data.this_page < search_data.last_page} | {/if}
      {if search_data.this_page < search_data.last_page}<a href="javascript:void(0);" rel="${search_data.this_page + 1}"><%= t "pagination.next_label" %></a>{/if}
    </div>
   </div>
   <ul class="token-list">
      {for item in search_data.results}
         {var json = item}
         {if item.json}{var json = JSON.parse(item.json)}{/if}
         <li>
            <label>
               {if config.multiplicity === "one"}
                 <input
                    type="radio"
                    name="linker-item"
                    value="${item.uri}"
                    data-object='${JSON.stringify(json)}'
                    {if $.inArray(item.uri, selected) >= 0} checked="checked"{/if}
                 />
               {else}
                 <input
                    type="checkbox"
                    name="linker-item"
                    value="${item.uri}"
                    data-object='${JSON.stringify(json)}'
                    {if $.inArray(item.uri, selected) >= 0} checked="checked"{/if}
                 />
               {/if}
               {if config.format_property}
                  {var token_title = item[config.format_property]}
                {elseif config.format_template_id}
                  {var token_title = $(AS.renderTemplate(config.format_template_id, json)).html()}
                {else}
                  {var token_title =  AS.quickTemplate(config.format_template, json)}
                {/if}
               <%= render_token :label => "${token_title|h}",
                                :type => "${item.primary_type}",
                                :uri => "${item.uri}",
                                :inside_linker_browse => true %>
            </label>
         </li>
      {/for}
   </ul>
   <div class="pagination">
    <%= t "pagination.page_prefix" %> ${search_data.this_page} <%= t "pagination.page_connector" %> ${search_data.last_page}
    <div class="navigation">
      {if search_data.this_page > search_data.first_page}<a href="javascript:void(0);" rel="${search_data.this_page - 1}"><%= t "pagination.previous_label" %></a>{/if}
      {if search_data.this_page > search_data.first_page && search_data.this_page < search_data.last_page} | {/if}
      {if search_data.this_page < search_data.last_page}<a href="javascript:void(0);" rel="${search_data.this_page + 1}"><%= t "pagination.next_label" %></a>{/if}
    </div>
   </div>
  {else}
    <div class="alert alert-info"><%= t("search_results.no_results") %></div>
  {/if}
--></div>
<div id ="linker_browse_row_template"><!--
  <tr>
     <td class="col">
       <input type="radio" name="linker-item" value="${uri}" />
     </td>
     <td class="col  sortable sort-asc sortable sort-asc sortable sort-asc sortable sort-asc sortable sort-asc">${title}</td>
     <td class="col  sortable sortable sortable sortable sortable">${identifier}</td>
     <td class="col  sortable sortable sortable sortable sortable">${level}</td>
     <td class="col  sortable sortable sortable sortable sortable">${dates}</td>
     <td class="col  sortable sortable sortable sortable sortable">${extents[0]}</td>
  </tr>
 --></div>
<div id="linker_selectedtoken_template"><!--
   <li id="${item.id.replace(/\//g,'_')}">
      <input type="hidden" name="${config.path}[_resolved]{if config.multiplicity != 'one'}[]{/if}" />
      <input type="hidden" name="${config.path}[${config.name}]{if config.multiplicity != 'one'}[]{/if}" value="${item.id}" />
      <%= render_token :label => "${item.name|h}",
                       :type => "${item.json.jsonmodel_type}",
                       :uri => "${item.id}",
                       :inside_token_editor => true %>
   </li>
--></div>

<script>
  AS.linker_locales = {
    hintText: "<%= j(t("linker.hint_text")) %>",
    noResultsText: "<%= j(t("linker.no_results")) %>",
    searchingText: "<%= j(t("linker.searching")) %>",
    deleteText: "<%= j(t("linker.delete")) %>"
  }
</script>



<div id="subform_remove_confirmation_template"><!--
   <div class="ml-auto subrecord-form-removal-confirmation float-right">
    <div class="btn-group m-2">
      <button class="btn btn-sm btn-default cancel-removal"><%= I18n.t "actions.cancel" %></button>
      <button class="btn btn-sm btn-danger confirm-removal"><%= I18n.t "actions.confirm_removal" %></button>
     </div>
   </div>
--></div>

<div id="mixed_content_wrap_action_template"><!--
  <div class="mixed-content-wrapper popover bottom">
    <div class="arrow"></div>
    <div class="popover-inner">
      <div class="popover-content">
        <label><%= t "mixed_content.wrap_prefix" %>
          <select class="mixed-content-wrap-action">
            <option></option>
            {for tag in tags}
              <option>${tag.tag}</option>
            {/for}
          </select>
        </label>
      </div>
    </div>
  </div>
--></div>

<div id="mixed_content_help_template"><!--
  <div class="mixed-content-help">
    <%= t("mixed_content.help").html_safe %>
  </div>
--></div>

<div id="update_monitor_save_failed_with_stale_record_template"><!--
  <div class="alert alert-danger update-monitor-error">
    <%= t("update_monitor.save_failed") %> - <%= t("update_monitor.stale_record") %>
  </div>
--></div>

<div id="update_monitor_stale_record_message_template"><!--
  <div class="alert alert-danger update-monitor-error">
    <%= t("update_monitor.stale_record") %>
  </div>
--></div>

<div id="update_monitor_other_editors_message_template"><!--
  <div class="alert alert-warning update-monitor-error">
    <%= t("update_monitor.other_editors", :user_ids => "${user_ids}") %>
  </div>
--></div>

<div id="update_monitor_repository_changed_message_template"><!--
  <div class="alert alert-warning update-monitor-error">
    <%= t("update_monitor.repository_changed") %>
  </div>
--></div>

<div id="as_nav_list_errors_item_template"><!--
  <li class='alert-danger update-monitor-error'>
    <a href='#form_messages'><%= t("errors.sidebar_label") %> <span class='glyphicon glyphicon-chevron-right'></span></a>
  </li>
--></div>

<div id="template_subrecord_collapse_action"><!--
  <button class="btn btn-sm btn-default float-right mt-2 mr-0 collapse-subrecord-toggle">
    <span class="expand"><%= t("note._frontend.action.expand")%></span>
    <span class="collapse"><%= t("note._frontend.action.collapse")%></span>
  </button>
--></div>

<div id="too_many_subrecords_template"><!--
    <div class="alert alert-info alert-too-many">
      <%= t ("actions.click_to_show") %> (${count})
    </div>
--></div>

<div id="form_overlay_unlock_template"><!--
  <div class="unlock-notice">
    <div class="alert alert-info">
      <%= t ("actions.click_to_show") %>
    </div>
  </div>
--></div>

<div id="template_note_summary"><!--
  <div class="subrecord-summary-title">
    {if type != ""}
    ${type}
    {/if}
    {if label != "" && label != type}
    {if type != ""} - {/if}
    ${label}
    {/if}
    {if label == "" && type == ""}
    ${jsonmodel_type}
    {/if}
  </div>
  {if summary.length > 0}
  <div class="subrecord-summary-content">
    ${summary}
  </div>
  {/if}
--></div>

<div id="template_load_via_spreadsheet_help_icon"><!--
  <a merge_destination='_blank' class='btn btn-sm btn-default border-left-0 has-tooltip initialised' id='load_via_spreadsheet_help_icon' href="<%= ArchivesSpaceHelp.url_for_topic('resource_load_via_spreadsheet') %>" data-toggle="tooltip" data-placement="top" title="<%= t("help.topics.resource_load_via_spreadsheet")%>" data-container="body">
    <span class='context-help-icon glyphicon glyphicon-question-sign'></span>
  </a>
--></div>
