<%
   singular = "#{controller}".singularize 
   extra_params = {} if extra_params.blank?

   other_repositories = @repositories.reject {|r| r['uri'] == session[:repo]}.map {|r| [r['repo_code'], r['uri']]}
%>

<% if !other_repositories.empty? %>
  <div id="transfer-dropdown" class="btn-group dropdown" data-no-change-tracking="true">
    <a class="btn btn-sm btn-default dropdown-toggle transfer-action" data-toggle="dropdown" href="#" title="<%= I18n.t("actions.transfer") %>">
      <%= I18n.t("actions.transfer") %> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu open-aligned-right transfer-form">
      <li>
        <p><%= I18n.t("#{singular}._frontend.messages.transfer_description") %></p>
        <%= form_context :transfer, {} do |form| %>
        <fieldset>
          <div class="alert alert-danger missing-ref-message" style="display: none;"><%= I18n.t "#{singular}._frontend.messages.transfer_target" %></div>
          <%= form.label_and_select "ref", other_repositories, :layout => 'stacked' %>
        </fieldset>
        <div class="form-actions">
          <%=
             button_confirm_action(I18n.t("actions.transfer"),
                                   url_for({:controller => controller, :action => :transfer, :id => record.id}.merge(extra_params)),
                                   {
                                     :class => "btn pull-left btn-default transfer-button",
                                     :"data-title" => confirmation_title,
                                     :"data-message" => confirmation_msg,
                                     :"data-confirm-btn-label" => "#{I18n.t("actions.transfer")}",
                                     :"data-confirm-btn-class" => "btn"
                                   })
          %>
          <a class="btn pull-right btn-default btn-cancel" href="#"><%= I18n.t("actions.cancel") %></a>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
