<%
   read_only = false if read_only.blank?

   hierarchy_rules = {
    :resource => {
      :can_add_child => {
        :type => :archival_object,
        :action_label =>  I18n.t("resource._frontend.action.add_child"),
        :record_label => I18n.t("archival_object._singular")
      },
      :rapid_data_entry => {
        :type => :archival_object,
        :action_label =>  I18n.t("resource._frontend.action.rapid_data_entry")
      },
      :can_accept_paste_from_clipboard => :archival_object
    },
    :archival_object => {
      :can_add_child => {
        :type => :archival_object,
        :action_label =>  I18n.t("archival_object._frontend.action.add_child"),
        :record_label => I18n.t("archival_object._singular")
      },
      :can_add_sibling => {
        :type => :archival_object,
        :action_label =>  I18n.t("archival_object._frontend.action.add_sibling"),
        :record_label => I18n.t("archival_object._singular")
      },
      :can_move => true,
      :can_transfer => :resource,
      :rapid_data_entry => {
        :type => :archival_object,
        :action_label =>  I18n.t("resource._frontend.action.rapid_data_entry")
      },
      :can_accept_paste_from_clipboard => :archival_object,
      :can_cut_to_clipboard => :archival_object
    },
    :digital_object => {
      :can_add_child => {
        :type => :digital_object_component,
        :action_label =>  I18n.t("digital_object._frontend.action.add_child"),
        :record_label => I18n.t("digital_object_component._singular")
      },
      :rapid_data_entry => {
        :type => :digital_object_component,
        :action_label =>  I18n.t("digital_object._frontend.action.rapid_data_entry")
      },
      :can_accept_paste_from_clipboard => :archival_object
    },
    :digital_object_component => {
      :can_add_child => {
        :type => :digital_object_component,
        :action_label =>  I18n.t("digital_object_component._frontend.action.add_child"),
        :record_label => I18n.t("digital_object_component._singular")
      },
      :can_add_sibling => {
        :type => :digital_object_component,
        :action_label =>  I18n.t("digital_object_component._frontend.action.add_sibling"),
        :record_label => I18n.t("digital_object_component._singular")
      },
      :rapid_data_entry => {
        :type => :digital_object_component,
        :action_label =>  I18n.t("digital_object._frontend.action.rapid_data_entry")
      },
      :can_move => true,
      :can_accept_paste_from_clipboard => :archival_object,
      :can_cut_to_clipboard => :archival_object
    },
    :classification => {
      :can_add_child => {
        :type => :classification_term,
        :action_label =>  I18n.t("classification._frontend.action.add_child"),
        :record_label => I18n.t("classification_term._singular")
      },
      :can_accept_paste_from_clipboard => :classification_term
    },
    :classification_term => {
      :can_add_child => {
        :type => :classification_term,
        :action_label =>  I18n.t("classification_term._frontend.action.add_child"),
        :record_label => I18n.t("classification_term._singular")
      },
      :can_add_sibling => {
        :type => :classification_term,
        :action_label =>  I18n.t("classification_term._frontend.action.add_sibling"),
        :record_label => I18n.t("classification_term._singular")
      },
      :can_move => true,
      :can_accept_paste_from_clipboard => :classification_term,
      :can_cut_to_clipboard => :classification_term
    }
 }

%>

<div class="archives-tree-container">

  <div id="archives_tree_toolbar"></div>

  <div  id="archives_tree" class="archives-tree"
        data-read-only="<%= read_only %>"
        data-rules="<%= hierarchy_rules.to_json %>"
        data-tree-url="<%= url_for(:action => :tree) %>"
        data-root="<%= root_record['jsonmodel_type'] %>_<%= root_record.id %>"
        data-root-id="<%= root_record.id %>"
        data-root-node-type="<%= root_record['jsonmodel_type'] %>"
  >
    <div class="alert alert-info"><%= image_tag "jstree/throbber.gif" %> Loading the tree...</div>
  </div>

  <div id="tree_node_resource_template"><!--
    {macro render_container_summary(node)}
      {if node.containers.length > 0}
        {for container in node.containers}
          ${container.type_1}: ${container.indicator_1}{if container.type_2}, ${container.type_2}: ${container.indicator_2}{/if}{if container.type_3}, ${container.type_3}: ${container.indicator_3}{/if}{if container_index+1 < node.containers.length}, {/if}
        {/for}
      {else}
        &#160;
      {/if}
    {/macro}

    {macro render_instance_types(node)}
      ${node.instance_types.join(", ")||"&#160;"}
    {/macro}

    <span class="tree-node-text">
      <span class="title-column pull-left">${AS.stripHTML(node.title)|h}</span>
      <span class="field-column field-column-3 pull-right" title="${AS.encodeForAttribute(render_container_summary(node))}">${render_container_summary(node)}</span>
      <span class="field-column field-column-2 pull-right" title="${AS.encodeForAttribute(render_instance_types(node))}">${render_instance_types(node)}</span>
      <span class="field-column field-column-1 pull-right">${node.level||"&#160;"}</span>
    </span>
  --></div>

  <div id="tree_node_archival_object_template"><!--
    {eval}node.tmp = {node: node};{/eval}
    ${AS.renderTemplate("tree_node_resource_template", node.tmp)}
  --></div>

  <div id="tree_node_classification_template"><!--
    <span class="tree-node-text">
      <span class="title-column pull-left">${node.identifier|h}. ${node.title|h}</span>
    </span>
  --></div>

  <div id="tree_node_classification_term_template"><!--
    {eval}node.tmp = {node: node};{/eval}
    ${AS.renderTemplate("tree_node_classification_template", node.tmp)}
  --></div>

  <div id="tree_node_digital_object_template"><!--
    {macro render_file_version_summary(node)}
      {if node.file_versions.length > 0}
        {for file in node.file_versions}${file.file_uri}{if file_index+1 < node.file_versions.length}, {/if} {/for}
      {else}
        &#160;
      {/if}
    {/macro}
    <span class="tree-node-text">
     <span class="title-column pull-left">${AS.stripHTML(node.title)|h}</span>  
      <span class="field-column field-column-2 pull-right" title="">${render_file_version_summary(node)}</span>
      <span class="field-column field-column-1 pull-right">${node.digital_object_type||"&#160;"}</span>
    </span>
  --></div>

  <div id="tree_node_digital_object_component_template"><!--
    {macro render_file_version_summary(node)}
      {if node.file_versions.length > 0}
        {for file in node.file_versions}${file.file_uri}{if file_index+1 < node.file_versions.length}, {/if} {/for}
      {else}
        &#160;
      {/if}
    {/macro}
    <span class="tree-node-text">
      <span class="title-column pull-left">${node.title|h}</span>
      <span class="field-column field-column-2 pull-right" title="">${render_file_version_summary(node)}</span>
    </span>  --></div>


   <div id="tree_node_children_template"><!--
    {if nodes && nodes.length > 0}
    <ul>
      {for node_id in nodes}
      {var node = AS.tree_data[node_id]}
      <li id="${node.node_type}_${node.id}" class="${node.node_type} {if node.has_children} jstree-closed{/if}" rel="${node.node_type}" data-id="${node.id}" data-uri="${node.record_uri}">
        {eval}node.tmp = {node: node}{/eval}
        ${AS.renderTemplate("tree_node_template", node.tmp)}
      </li>
      {/for}
    </ul>
    {/if}
  --></div>

  <div id="tree_node_template"><!--
    <a href="#tree::${node.node_type}_${node.id}" title="${AS.encodeForAttribute(node.title)}" tabindex="-1">
      {eval}node.tmp = {node: node}{/eval}
      ${AS.renderTemplate("tree_node_"+node.node_type+"_template", node.tmp)}
    </a>
    {if node.children && node.children.length > 0}
      {eval}node.tmp = {nodes: node.children}{/eval}
      ${AS.renderTemplate("tree_node_children_template", node.tmp)}
    {/if}
  --></div>

  <div id="tree_template"><!--
     <ul class="jstree-classic">
        {var node = AS.tree_data[config.root]}
        <li id="${node.node_type}_${node.id}" class="${node.node_type} root" rel="${node.node_type}" data-id="${node.id}">
           {eval}node.tmp = {node: node}{/eval}
           ${AS.renderTemplate("tree_node_template", node.tmp)}
        </li>
     </ul>
  --></div>

  <div id="tree_toolbar_template"><!--
    <div class="btn-toolbar">
    </div>
  --></div>



  <div id="tree_nodenavigation_toolbar_template"><!--
    <div class="btn-group">
      {if defined('previous')}
        <a href="#tree::${previous}" class="btn btn-xs btn-default btn-prev-tree-node"><span class="glyphicon glyphicon-arrow-left"></span></a>
      {else}
        <a class="btn btn-xs btn-default btn-prev-tree-node disabled"><span class="glyphicon glyphicon-arrow-left"></span></a>
      {/if}
      {if defined('next')}
        <a href="#tree::${next}" class="btn btn-xs btn-default btn-next-tree-node"><span class="glyphicon glyphicon-arrow-right"></span></a>
      {else}
        <a class="btn btn-xs btn-default btn-next-tree-node disabled"><span class="glyphicon glyphicon-arrow-right"></span></a>
      {/if}
    </div>
  --></div>

  <% if not read_only %>

    <div id="tree_nodeactions_toolbar_template"><!--
        <div class="btn-group">
          {if rules.hasOwnProperty("can_add_child")}
            <a class="btn btn-xs btn-default add-child" rel="${rules.can_add_child.type}" href="javascript:void(0);" data-record-label="${rules.can_add_child.record_label}" title="${rules.can_add_child.action_label}">
              ${rules.can_add_child.action_label}
            </a>
          {/if}
          {if rules.hasOwnProperty("can_add_sibling")}
            <a class="btn btn-xs btn-default add-sibling" rel="${rules.can_add_sibling.type}" href="javascript:void(0);" data-record-label="${rules.can_add_child.record_label}" title="${rules.can_add_sibling.action_label}">
              ${rules.can_add_sibling.action_label}
            </a>
          {/if}
        </div>
      {if rules.hasOwnProperty("can_accept_paste_from_clipboard") || rules.hasOwnProperty("can_cut_to_clipboard")}
        <div class="btn-group">
          {if rules.hasOwnProperty("can_cut_to_clipboard") && rules.can_cut_to_clipboard}
            <a href="#" class="btn btn-xs btn-default cut-node disabled"><%= I18n.t "actions.cut" %></a>
          {/if}
          {if rules.hasOwnProperty("can_accept_paste_from_clipboard") && rules.can_accept_paste_from_clipboard}
            <a href="#" class="btn btn-xs btn-default paste-node disabled"><%= I18n.t "actions.paste" %></a>
          {/if}
        </div>
      {/if}
      {if rules.hasOwnProperty("can_move")}
        <div class="btn-group dropdown move-node-menu">
          <a class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="Move">
            <%= I18n.t "actions.move" %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {if !parent.hasClass("root")}
              <li><a href="javascript:void(0);" class="move-node move-node-up-level" data-target-node-id="${parent.parents("li:first").attr("id")}" data-target-index="${parent.index()}"><span class="glyphicon glyphicon-arrow-left"></span> <%= I18n.t "actions.move_up_a_level" %></a></li>
            {/if}

            {var children_count = parent.find("> ul > li").length}
            {if children_count > 1}
              {if node.index() > 0}
                <li><a href="javascript:void(0);" class="move-node move-node-up" data-target-node-id="${parent.attr("id")}" data-target-index="${node.index()-1}"><span class="glyphicon glyphicon-arrow-up"></span> <%= I18n.t "actions.move_up" %></a></li>
              {/if}
              {if node.index() < children_count - 1}
                <li><a href="javascript:void(0);" class="move-node move-node-down" data-target-node-id="${parent.attr("id")}" data-target-index="${node.index()+1}"><span class="glyphicon glyphicon-arrow-down"></span> <%= I18n.t "actions.move_down" %></a></li>
              {/if}
            {/if}

            {if defined('siblings') && siblings.length > 0}
              <li class="dropdown-submenu">
                <a href="javascript:void(0);"><span class="glyphicon glyphicon-arrow-right"></span> <%= I18n.t "actions.move_down_into" %></a>
                <ul class="dropdown-menu">
                {for sibling in siblings}
                  <li><a href="javascript:void(0);" class="move-node move-node-down-into" data-target-node-id="${sibling.id}">${sibling.title}</a></li>
                {/for}
                </ul>
              </li>
            {/if}
          </ul>
        </div>
      {/if}
      {if rules.hasOwnProperty("can_transfer")}
        <div class="btn-group dropdown">
          <a class="btn btn-xs btn-default dropdown-toggle transfer-node" data-toggle="dropdown" href="#" title="<%= I18n.t "actions.transfer" %>">
            <%= I18n.t "actions.transfer" %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu tree-transfer-form">
            <li>
              <%= form_tag("#{root_path}archival_objects/${node_id}/transfer") do |f| %>
                <%= form_context :transfer, {} do |form| %>
                <fieldset>
                  <%= form.hidden_input "current_resource_id", "${root_object_id}" %>
                  <div class="alert alert-danger missing-ref-message" style="display: none;"><%= I18n.t "archival_object._frontend.messages.please_select_a_resource_for_transfer" %></div>
                  <%= render_aspace_partial :partial => "resources/linker", :locals => { :form => form, :exclude_ids => [root_record.id] }%>
                </fieldset>
                <div class="form-actions">
                  <button class="btn btn-primary pull-left"><%= I18n.t("actions.transfer") %></button>
                  <a class="btn btn-cancel pull-right" href="#"><%= I18n.t("actions.cancel") %></a>
                </div>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      {/if}
      {if rules.hasOwnProperty("rapid_data_entry")}
        <div class="btn-group">
          <a class="btn btn-xs btn-default add-children" rel="${rules.rapid_data_entry.type}" href="javascript:void(0);" title="${rules.rapid_data_entry.action_label}">
            ${rules.rapid_data_entry.action_label}
          </a>
        </div>
      {/if}
    --></div>

    <div id="tree_finish_action_template"><!--
      <div class="pull-right">
        <a href="${APP_PATH}${config.root_node_type}s/${config.root_object_id}${location.hash}" class="btn btn-xs btn-success"><%= I18n.t "actions.finish_editing" %></a>
      </div>
    --></div>

    <div id="tree_revert_changes_label_template"><!--
      <%= I18n.t ("actions.revert") %>
    --></div>

    <div id="tree_unable_to_move_message_template"><!--
      <%= I18n.t ("actions.unable_to_move_message") %>
    --></div>

  <% end  %>

  <div id="tree_loading_notice_template"><!--
    <div class="alert alert-info tree-loading-notice">
      <%= I18n.t ("actions.loading") %>
    </div>
  --></div>

</div>
