<section class="d-flex flex-column">
  <div class="d-flex align-items-center gap-x-2 record-toolbar" role="toolbar">
    <div class="btn-group ml-auto" data-allow-disabled>
      <% if AppConfig[:enable_public] %>
        <%= render_aspace_partial :partial => "shared/view_published_button", :locals => {:record => record} %>
      <% end %>
    </div>
    <% if ['resource', 'accession'].include?(record['jsonmodel_type']) %>
      <div class="btn-group">
        <button type="button"
                class="btn btn-sm btn-default access-top-containers-btn"
                data-record-uri="<%= record.uri %>"
                data-record-type="<%= record['jsonmodel_type'] %>"
                data-record-title="<%= h(strip_tags(clean_mixed_content(record.title))) %>">
          <%= (user_can?('update_container_record') || user_can?('manage_container_record')) ? t("navbar.manage_top_containers") : t("navbar.view_top_containers") %>
        </button>
      </div>
    <% end %>
  </div>
</section>
