<div class='form-group'>
  <div class='control-label col-sm-2'>
  	<%= t("agent_sources.source_entry") %>
  </div>
  <div class='label-only col-sm-8'>
  	<%= agent_source["source_entry"] %>
 	</div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_sources.descriptive_note") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_source['descriptive_note'] %>
      <%= agent_source['descriptive_note'] %>
      <% end %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_sources.file_uri") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_source['file_uri'] %>
      <%= agent_source['file_uri'] %>
      <% end %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_sources.file_version_xlink_actuate_attribute") %>
  </div>
  <div class='label-only col-sm-8'>
    <%= t("enumerations.file_version_xlink_actuate_attribute.#{agent_source['file_version_xlink_actuate_attribute']}", :default => agent_source['file_version_xlink_actuate_attribute']) if agent_source['file_version_xlink_actuate_attribute'] %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_sources.file_version_xlink_show_attribute") %>
  </div>
  <div class='label-only col-sm-8'>
    <%= t("enumerations.file_version_xlink_show_attribute.#{agent_source['file_version_xlink_show_attribute']}", :default => agent_source['file_version_xlink_show_attribute']) if agent_source['file_version_xlink_show_attribute'] %>
  </div>
</div>


<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_sources.xlink_title_attribute") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_source['xlink_title_attribute'] %>
      <%= agent_source['xlink_title_attribute'] %>
      <% end %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_sources.xlink_role_attribute") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_source['xlink_role_attribute'] %>
      <%= agent_source['xlink_role_attribute'] %>
      <% end %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_sources.xlink_arcrole_attribute") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_source['xlink_arcrole_attribute'] %>
      <%= agent_source['xlink_arcrole_attribute'] %>
      <% end %>
  </div>
</div>

<div class='form-group'>
  <div class='control-label col-sm-2'>
    <%= t("agent_sources.last_verified_date") %>
  </div>
  <div class='label-only col-sm-8'>
    <% if agent_source['last_verified_date'] %>
      <%= agent_source['last_verified_date'] %>
      <% end %>
  </div>
</div>



