<div id="main-content" class="row">

  <div class="information col-sm-9">
    <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => true} } %>
    <div class="clear">
    <span class="inline-label clear"><%= t('enumeration_names.subject_source') %>: </span><%= t("enumerations.subject_source.#{@result['json']['source']}" ) %> 
    </div>


<br/>
<% unless @result['json']['used_within_repositories'].blank? %>
   <span class='repository inline-label'><%= t('subject.used_within') %>:</span>
   <ul>
   <%  @result['json']['used_within_repositories'].each do |r| %>
      <li><a href="<%= r %>"><%= get_pretty_facet_value('used_within_repository', r) %></a></li>
     <% end %>
</ul>
<% end %>
    <% if !@result['json']['dates'].blank? %>
      <% render partial: 'shared/dates', locals: {:dates => @result['json']['dates']} %>
    <% end %>

  <% if !@result['json']['component_id'].blank? %>
     <span class='component'><%= t(component._singular) %>: <%= @result['json']['component_id'] %></span>
    <% end %>
    <% if !@result['json']['ref_id'].blank? %>
      <span class='ref_id'>[Ref. ID: <%= @result['json']['ref_id'] %>]</span>
    <% end %>
    <% if @result['json']['scope_note'].present? %>
      <span class="inline-label"><%= t('scope_note') %>:</span> <%= process_mixed_content( @result['json']['scope_note']).html_safe %>
    <% end %>
    <%= render partial: 'shared/display_notes' %>
  <% unless @results.blank? || @results['total_hits'] == 0 %>
     <h3><%= t('found') %> <%= @results['total_hits'] %> <%= (@results['total_hits'] == 1? t('coll_obj._singular') : t('coll_obj._plural')) %>:</h3>
         <% @results['results'].each do |result| %>
           <%= render partial: 'shared/result', locals: {:result => result, :props => {:full => false}} %>
         <% end %>
         <%= render partial: 'shared/pagination', locals: {:pager  => @pager}  %>

   <% end %>

   </div>
  <div id="sidebar" class="col-sm-3 sidebar sidebar-container">
   <h4><%= t('more_about') %> '<%= strip_mixed_content(@result['json']['display_string'] || @result['title'])%>'</h4>
   <% if !@result['json']['terms'].blank? %>

      <h5><%= t('subject_term_type') %> </h5>
      <dl>
    <%    @result['json']['terms'].each do |term|  %>
         <dt><%= t("enumerations.subject_term_type.#{term['term_type']}") %></dt>
         <dd><%= term['term'] %></dd>
       <% end %>
       </dl>
   <% end %>
    <% unless @results.blank? || @results['total_hits'] == 0 %>
     <%= render partial: 'shared/facets' %>
    <% end %>
  </div>
</div>
