<%
   section_id = "deaccessions" if section_id.blank?
%>

<%= render :partial => "deaccessions/template" %>

<section id="<%= section_id %>">
  <h3>Deaccessions</h3>
  <div class="accordion details" id="deaccessions_accordion">
    <%= context.list_for(context["deaccessions"], "deaccessions[]") do |deaccession, index| %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <div class="row-fluid collapsed accordion-toggle" data-toggle="collapse" data-parent="#deaccessions_accordion" href="#deaccession_<%= index %>">
            <div class="span1">
              <span class="icon-chevron-right"></span>
              <span class="icon-chevron-down"></span>
            </div>
            <div class="span1">
              <% if deaccession["whole_or_part"] %>Whole<% else %>Part<% end %>
            </div>
            <div class="span3">
              <% if deaccession["date"]['date_type'] === "expression" %>
                <%= deaccession["date"]['expression'] %>
              <% elsif deaccession["date"]['date_type'] === "single" %>
                <%= deaccession["date"]['begin'] %> <%= deaccession["date"]['begin_time'] %>
              <% else %>
                <%= deaccession["date"]['begin'] %> <%= deaccession["date"]['begin_time'] %> &ndash; <%= deaccession["date"]['end'] %> <%= deaccession["date"]['end_time'] %>
              <% end %>
            </div>
            <div class="span7">
              <% if deaccession["extents"].length > 0 %>
                <%= deaccession["extents"][0]['number'] %>
                <%= I18n.t('extent.extent_type_'+deaccession["extents"][0]['extent_type']) %>
              <% end %>
            </div>
          </div>
        </div>
        <div id="deaccession_<%= index %>" class="accordion-body collapse">
          <div class="subrecord-form-container">
            <% deaccession.reject{|k,v| ["lock_version", "date", "extents", "jsonmodel_type"].include?(k)}.each do |k, v| %>
              <div class="row-fluid label-and-value">
                <div class="span3 offset1" ><%= I18n.t("deaccession.#{k}") %></div>
                <% if JSONModel(:deaccession).schema["properties"][k]["enum"] %>
                  <div class="span8"><%= I18n.t("deaccession.#{k}_#{v}") %></div>
                <% else  %>
                  <div class="span8"><%= v %></div>
                <% end %>
              </div>
            <% end %>
            <%= render :partial => "dates/show", :locals => { :dates =>[deaccession["date"]], :section_id => "deaccession_#{index}_date_", :section_title => "Deaccession Date" } %>
            <% if deaccession["extents"].length > 0 %>
              <%= render :partial => "extents/show", :locals => { :extents => deaccession["extents"], :section_id => "deaccession_#{index}_extents_" } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
