<%
   section_id = "deaccessions" if section_id.blank?
%>

<%= render_aspace_partial :partial => "deaccessions/template" %>

<section id="<%= section_id %>">
  <h3><%= t("deaccession._plural") %></h3>
  <div class="accordion details my-3" id="deaccessions_accordion">
    <%= context.list_for(context["deaccessions"], "deaccessions[]") do |deaccession, index| %>
      <div class="card mb-3">
        <div class="card-header panel-heading">
          <div class="row collapsed accordion-toggle" data-toggle="collapse" data-parent="#deaccessions_accordion" href="#deaccession_<%= index %>">
            <div class="col-md-1">
              <span class="glyphicon"></span>
            </div>
            <div class="col-md-1">
              <%= t("enumerations.deaccession_scope.#{deaccession["scope"]}", :default => deaccession["scope"]) %>
            </div>
            <div class="col-md-3">
              <% if deaccession["date"]['date_type'] === "expression" %>
                <%= deaccession["date"]['expression'] %>
              <% elsif deaccession["date"]['date_type'] === "single" %>
                <%= deaccession["date"]['begin'] %>
              <% else %>
                <%= deaccession["date"]['begin'] %> &ndash; <%= deaccession["date"]['end'] %>
              <% end %>
            </div>
            <div class="col-md-7">
              <% if !deaccession["extents"].blank? %>
                <%= deaccession["extents"][0]['number'] %>
                <%= t('enumerations.extent_extent_type.'+deaccession["extents"][0]['extent_type'], :default => deaccession["extents"][0]['extent_type']) %>
              <% end %>
            </div>
          </div>
        </div>
        <div id="deaccession_<%= index %>" class="accordion-body collapse">
          <div class="accordion-inner"> 
            <div class="subrecord-form-container">
              <%= read_only_view(deaccession) %>
              <%= render_aspace_partial :partial => "dates/show", :locals => { :dates =>[deaccession["date"]], :section_id => "deaccession_#{index}_date_", :section_title => t("deaccession.dates") } %>
              <% if !deaccession["extents"].blank? %>
                <%= render_aspace_partial :partial => "extents/show", :locals => { :extents => deaccession["extents"], :section_id => "deaccession_#{index}_extents_" } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
