<% define_template "deaccession" do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_boolean "whole_part", {}, form.jsonmodel_schema_definition(:deaccession, "whole_part")["default"] %>
    <%= form.label_and_textarea "description" %>
    <%= form.label_and_textarea "reason" %>
    <%= form.label_and_textarea "disposition" %>
    <%= form.label_and_boolean "notification", {}, form.jsonmodel_schema_definition(:deaccession, "notification")["default"] %>

    <div class="subrecord-form-container">
      <%# render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "dates"} %>
      <section id="deaccession_date" class="subrecord-form">
        <h4>Deaccession Date</h4>
        <div class="subrecord-form-container">
          <%= form.fields_for(form.obj["date"] || {"label" => "deaccession"}, "date") do | date | %>
            <% render :partial => "dates/template", :locals => {:form => form} %>
            <% form.emit_template("date") %>
          <% end %>
        </div>
      </section>
    </div>

    <div class="subrecord-form-container">
      <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents", :heading_size => "h4"} %>
    </div>
  </div>
<% end %>