<% define_template "deaccession", jsonmodel_definition(:deaccession) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_select "scope",  form.possible_options_for("scope") %>
    <%= form.label_and_textarea "description" %>
    <%= form.label_and_textarea "reason" %>
    <%= form.label_and_textarea "disposition" %>
    <%= form.label_and_boolean "notification", {}, form.default_for("notification") %>

    <div class="subrecord-form-container">
      <section id="deaccession_date" class="subrecord-form">
        <h3>
          <%= t("deaccession.dates") %>
          <%= link_to_help :topic => "deaccession_deaccession_date" %>
        </h3>
        <div class="subrecord-form-container">
          <%= form.fields_for(form.obj["date"] || {"label" => "deaccession"}, "date") do | date | %>
            <% render_aspace_partial :partial => "dates/template", :locals => {:form => form, :exclude => ["range"]} %>
            <% form.emit_template("date") %>
          <% end %>
        </div>
      </section>
    </div>

    <div class="subrecord-form-container">
      <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "extents", :heading_size => "h4", :help_topic => "deaccession_extents"} %>
    </div>
  </div>
<% end %>
