<%
  ajax_search_url = url_for({:controller => :assessments, :action => :embedded_search, :format => :js, :listing_only => true}.merge(build_search_params({"add_filter_term" => filter_term})))
  html_search_url = url_for({:controller => :assessments, :action => :index}.merge(build_search_params({"add_filter_term" => filter_term})))

  section_id ||= "linked_assessments"

  heading_text = t('assessment._frontend.linked_records.heading') if heading_text.blank?
%>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3 class="subrecord-form-heading d-flex align-items-center">
    <%= heading_text %>
    <%= link_to t("actions.view_search_results"), html_search_url, :class => "btn btn-sm btn-default ml-auto" %>
  </h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields embedded-search" data-url="<%= ajax_search_url %>">
      <div class="alert alert-info">
        <%= t('assessment._frontend.linked_records.loading') %>
      </div>
    </div>
  </div>

</section>
