<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @assessment, :form => form} %>

<% define_template("assessment", jsonmodel_definition(:assessment)) do |form| %>
  <section id="basic_information">
    <h3>
      <%= I18n.t "assessment._frontend.section.basic_information" %>
      <%= link_to_help :topic => "assessment_basic_information" %>
    </h3>
    <fieldset>
      <% if form.readonly? %>
        <div class="form-group">
          <div class="control-label col-sm-2"><%= I18n.t("assessment.records") %></div>
          <div class="controls token-list col-sm-10">
            <% form['records'].each do |record| %>
              <%= render_token :object => record['_resolved'],
                               :label => record['_resolved']['title'] || record['_resolved']['display_string'],
                               :type => record['_resolved']['jsonmodel_type'],
                               :uri => record['ref'],
                               :placement => "top" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <% form.push("records", form.obj["records"] || []) do %>
          <div class="form-group required">
            <%= form.label('records', {}, ['col-sm-2']) %>
            <div class="col-sm-9">
              <%= render_aspace_partial :partial => "assessments/records_linker", :locals => {:form => form} %>
            </div>
          </div>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-6">
          <%= form.label_and_boolean 'accession_report', :label_opts => { :col_size => 6 } %>
          <%= form.label_and_boolean 'appraisal', :label_opts => { :col_size => 6 } %>
          <%= form.label_and_boolean 'container_list', :label_opts => { :col_size => 6 } %>
          <%= form.label_and_boolean 'catalog_record', :label_opts => { :col_size => 6 } %>
          <%= form.label_and_boolean 'control_file', :label_opts => { :col_size => 6 } %>
        </div>
  
        <div class="col-md-6">
          <%= form.label_and_boolean 'finding_aid_ead', :label_opts => { :col_size => 6 } %>
          <%= form.label_and_boolean 'finding_aid_paper', :label_opts => { :col_size => 6 } %>
          <%= form.label_and_boolean 'finding_aid_word', :label_opts => { :col_size => 6 } %>
          <%= form.label_and_boolean 'finding_aid_spreadsheet', :label_opts => { :col_size => 6 } %>
        </div>
      </div>

      <hr>

      <% if form.readonly? %>
        <div class="form-group">
          <div class="control-label col-sm-2"><%= I18n.t("assessment.surveyed_by") %></div>
          <div class="controls token-list col-sm-10">
            <% form['surveyed_by'].each do |surveyed_by| %>
              <%= render_token :object => surveyed_by['_resolved'],
                               :label => surveyed_by['_resolved']['title'],
                               :type => surveyed_by['_resolved']['jsonmodel_type'],
                               :uri => surveyed_by['ref'],
                               :placement => "top" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <% form.push("surveyed_by", form.obj["surveyed_by"] || []) do %>
          <div class="form-group required">
            <%= form.label('surveyed_by', {}, ['col-sm-2']) %>
            <div class="col-sm-9">
              <%= render_aspace_partial :partial => "assessments/surveyor_linker", :locals => {:form => form} %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= form.label_and_date 'surveyed_date' %>
      <%= form.label_and_textfield 'surveyed_duration' %>
      <%= form.label_and_textarea 'surveyed_extent' %>
      <%= form.label_and_boolean 'review_required' %>

      <hr>

      <%= form.label_and_textarea 'purpose' %>
      <%= form.label_and_textarea 'scope' %>
      <%= form.label_and_boolean 'sensitive_material' %>
    </fieldset>
  </section>

  <section id="rating_attributes" class="subrecord-form-dummy">
    <h3>
      <%= I18n.t "assessment._frontend.section.rating_attributes" %>
      <%= link_to_help :topic => "assessment_rating_attributes" %>
    </h3>
    <div class="subrecord-form-container">
      <div class="subrecord-form-fields">
        <%= form.label_and_textarea 'general_assessment_note' %>

        <% if form.readonly? %>
          <table id="rating_attributes_table" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-sm-5">Rating</th>
                <th class="col-sm-1 text-center">Score</th>
                <th class="col-sm-6 text-center">Note</th>
              </tr>
            </thead>
            <tbody>
              <% ASUtils.wrap(form.obj['ratings']).each do |rating| %>
                <% next unless rating['value'] || rating['note'] %>
                <tr>
                  <td><%= rating.fetch('label') %></td>
                  <td><%= rating.fetch('value', '') %></td>
                  <td><%= rating.fetch('note', '') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <table id="rating_attributes_table" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-sm-5"></th>
                <th class="col-sm-1 text-center"><%= I18n.t('assessment.rating_attributes_value.rating_1') %></th>
                <th class="col-sm-1 text-center"><%= I18n.t('assessment.rating_attributes_value.rating_2') %></th>
                <th class="col-sm-1 text-center"><%= I18n.t('assessment.rating_attributes_value.rating_3') %></th>
                <th class="col-sm-1 text-center"><%= I18n.t('assessment.rating_attributes_value.rating_4') %></th>
                <th class="col-sm-1 text-center"><%= I18n.t('assessment.rating_attributes_value.rating_5') %></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% ratings_index = 0 %>
              <% @assessment_attribute_definitions.global_ratings.each do |rating| %>
              <% form.push(form.set_index("ratings[]", ratings_index), ASUtils.wrap(form.obj['ratings']).find{|r| r['definition_id'] == rating['id']} || {}) do %>
                <tr>
                  <td>
                    <%= rating.fetch('label') %>
                    <%= form.hidden_input('definition_id', rating.fetch('id')) %>
                  </td>
                  <td class="text-center">
                    <%= form.radio('value', '1') %>
                  </td>
                  <td class="text-center">
                    <%= form.radio('value', '2') %>
                  </td>
                  <td class="text-center">
                    <%= form.radio('value', '3') %>
                  </td>
                  <td class="text-center">
                    <%= form.radio('value', '4') %>
                  </td>
                  <td class="text-center">
                    <%= form.radio('value', '5') %>
                  </td>
                  <td>
                    <button class="btn btn-xs btn-default assessment-add-rating-note"><%= I18n.t('assessment._frontend.action.add_rating_note') %></button>
                    <button class="btn btn-xs btn-default assessment-remove-rating-note" style="display:none;" aria-hidden="true"><%= I18n.t('assessment._frontend.action.remove_rating_note') %></button>
                  </td>
                </tr>
                  <tr style="display:none">
                    <td>
                      <%= label_tag form.id_for('note'), I18n.t('assessment.rating_note', :label => rating.fetch('label')) %>
                    </td>
                    <td colspan="6">
                      <%= form.textarea 'note', form.obj['note'] %>
                    </td>
                  </tr>
                <% end %>
                <% ratings_index += 1 %>
              <% end %>
  
  
              <% if @assessment_attribute_definitions.repo_ratings.length > 0 %>
                <tr>
                  <th colspan="7"><%= I18n.t('assessment._frontend.section.rating_attributes_additional') %></th>
                </tr>
  
                <% @assessment_attribute_definitions.repo_ratings.each do |rating| %>
                  <% form.push(form.set_index("ratings[]", ratings_index), ASUtils.wrap(form.obj['ratings']).find{|r| r['definition_id'] == rating['id']} || {}) do %>
                    <tr>
                      <td>
                        <%= rating.fetch('label') %>
                        <%= form.hidden_input('definition_id', rating.fetch('id')) %>
                      </td>
                      <td class="text-center">
                        <%= form.radio('value', '1') %>
                      </td>
                      <td class="text-center">
                        <%= form.radio('value', '2') %>
                      </td>
                      <td class="text-center">
                        <%= form.radio('value', '3') %>
                      </td>
                      <td class="text-center">
                        <%= form.radio('value', '4') %>
                      </td>
                      <td class="text-center">
                        <%= form.radio('value', '5') %>
                      </td>
                      <td>
                        <button class="btn btn-xs btn-default assessment-add-rating-note"><%= I18n.t('assessment._frontend.action.add_rating_note') %></button>
                        <button class="btn btn-xs btn-default assessment-remove-rating-note" style="display:none;" aria-hidden="true"><%= I18n.t('assessment._frontend.action.remove_rating_note') %></button>
                      </td>
                    </tr>
                    <tr style="display:none">
                      <td>
                        <%= label_tag form.id_for('note'), I18n.t('assessment.rating_note', :label => rating.fetch('label')) %>
                      </td>
                      <td colspan="6">
                        <%= form.textarea 'note', form.obj['note'] %>
                      </td>
                    </tr>
                  <% end %>
                  <% ratings_index += 1 %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </section>


  <section id="format_attributes" class="subrecord-form-dummy">
    <h3>
      <%= I18n.t "assessment._frontend.section.format_attributes" %>
      <%= link_to_help :topic => "assessment_format_attributes" %>
    </h3>
    <div class="subrecord-form-container">
      <div class="subrecord-form-fields">
        <div class="row">
          <% if form.readonly? %>
            <ul>
              <% ASUtils.wrap(form.obj['formats']).each do |format| %>
                <% next unless format['value'] %>
                <li>
                  <td><%= format.fetch('label') %></td>
                </li>
              <% end %>
            </ul>
          <% else %>

            <% formats_index = 0 %>
            <% @assessment_attribute_definitions.global_formats.each do |format| %>
              <% form.push(form.set_index("formats[]", formats_index), ASUtils.wrap(form.obj['formats']).find{|r| r['definition_id'] == format['id']} || {}) do %>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.hidden_input('definition_id', format.fetch('id'), :disabled => form.obj['value'].nil?) %>
                    <%= label_tag form.id_for('value'), format.fetch('label'), :class => 'col-sm-6 control-label' %>
                    <div class="col-sm-1 checkbox">
                      <%= form.checkbox('value', {:value => 'true'}, false, form.obj['value'] == 'true') %>
                    </div>
                  </div>
                </div>
              <% end %>
              <% formats_index += 1 %>
            <% end %>
          </div>
  
          <% if @assessment_attribute_definitions.repo_formats.length > 0 %>
            <div class="row">
              <div class="col-md-12">
                <h5><%= I18n.t('assessment._frontend.section.format_attributes_additional') %></h5>
              </div>
            </div>
            <div class="row">
              <% @assessment_attribute_definitions.repo_formats.each do |format| %>
                <% form.push(form.set_index("formats[]", formats_index), ASUtils.wrap(form.obj['formats']).find{|r| r['definition_id'] == format['id']} || {}) do %>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.hidden_input('definition_id', format.fetch('id'), :disabled => form.obj['value'].nil?) %>
                      <%= label_tag form.id_for('value'), format.fetch('label'), :class => 'col-sm-6 control-label' %>
                      <div class="col-sm-1 checkbox">
                        <%= form.checkbox('value', {:value => 'true'}, false, form.obj['value'] == 'true') %>
                      </div>
                    </div>
                  </div>
                <% end %>
                <% formats_index += 1 %>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <% unless form.readonly? %>
          <hr>
        <% end %>

        <%= form.label_and_textarea 'special_format_note' %>
        <%= form.label_and_textarea 'exhibition_value_note' %>
      </div>
    </div>
  </section>


  <section id="conservation_issue_attributes" class="subrecord-form-dummy">
    <h3>
      <%= I18n.t "assessment._frontend.section.conservation_issue_attributes" %>
      <%= link_to_help :topic => "assessment_conservation_issue_attributes" %>
    </h3>
    <div class="subrecord-form-container">
      <div class="subrecord-form-fields">
        <% if form.readonly? %>
          <ul>
            <% ASUtils.wrap(form.obj['conservation_issues']).each do |conservation_issue| %>
              <% next unless conservation_issue['value'] %>
              <li>
                <td><%= conservation_issue.fetch('label') %></td>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="row">
              <% conservation_issues_index = 0 %>
              <% @assessment_attribute_definitions.global_conservation_issues.each do |conservation_issue| %>
                <% form.push(form.set_index("conservation_issues[]", conservation_issues_index), ASUtils.wrap(form.obj['conservation_issues']).find{|r| r['definition_id'] == conservation_issue['id']} || {}) do %>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.hidden_input('definition_id', conservation_issue.fetch('id'), :disabled => form.obj['value'].nil?) %>
                      <%= label_tag form.id_for('value'), conservation_issue.fetch('label'), :class => 'col-sm-6 control-label' %>
                      <div class="col-sm-1 checkbox">
                        <%= form.checkbox('value', {:value => 'true'}, false, form.obj['value'] == 'true') %>
                      </div>
                    </div>
                  </div>
                <% end %>
                <% conservation_issues_index += 1 %>
              <% end %>
            </div>
    
            <% if @assessment_attribute_definitions.repo_conservation_issues.length > 0 %>
              <div class="row">
                <div class="col-md-12">
                  <h5><%= I18n.t('assessment._frontend.section.conservation_issue_attributes_additional') %></h5>
                </div>
              </div>
              <div class="row">
                <% @assessment_attribute_definitions.repo_conservation_issues.each do |conservation_issue| %>
                  <% form.push(form.set_index("conservation_issues[]", conservation_issues_index), ASUtils.wrap(form.obj['conservation_issues']).find{|r| r['definition_id'] == conservation_issue['id']} || {}) do %>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= form.hidden_input('definition_id', conservation_issue.fetch('id'), :disabled => form.obj['value'].nil?) %>
                        <%= label_tag form.id_for('value'), conservation_issue.fetch('label'), :class => 'col-sm-6 control-label' %>
                        <div class="col-sm-1 checkbox">
                          <%= form.checkbox('value', {:value => 'true'}, false, form.obj['value'] == 'true') %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <% conservation_issues_index += 1 %>
                <% end %>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<% form.emit_template("assessment") %>

<%= form_plugins_for("assessment", form) %>

<div class="form-actions">            
  <button type="submit" class="btn btn-primary"><%= I18n.t("assessment._frontend.action.save") %></button>
  <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
</div>
