<%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @assessment, :form => form} %>

<%
  def i18n_rating(label)
    I18n.t("assessment_attribute.rating.#{label}", :default => label)
  end

  def i18n_format(label)
    I18n.t("assessment_attribute.format.#{label}", :default => label)
  end

  def i18n_conservation_issue(label)
    I18n.t("assessment_attribute.conservation_issue.#{label}", :default => label)
  end

  def rating_tooltip(rating)
    label = rating['label']
    result = I18n.t("assessment_attribute.rating.#{label}_tooltip", :default => '')

    unless result.empty?
      result.gsub('"', '&quot;')
    end
  end

  def rating_note_tooltip(rating)
    label = rating['label']
    result = I18n.t("assessment_attribute.rating.#{label}_note_tooltip", :default => '')

    unless result.empty?
      result.gsub('"', '&quot;')
    end
  end

  def rating_values_tooltip(rating)
    label = rating['label']
    result = I18n.t("assessment_attribute.rating.#{label}_values_tooltip", :default => '')

    unless result.empty?
      result.gsub('"', '&quot;')
    end
  end

%>

<% define_template("assessment", jsonmodel_definition(:assessment)) do |form| %>
  <section id="basic_information">
    <h3>
      <%= I18n.t "assessment._frontend.section.basic_information" %>
    </h3>
    <fieldset>
      <legend class='sr-only'><%= I18n.t "assessment._frontend.section.basic_information" %></legend>
      <% if form.readonly? %>
        <div class="form-group">
          <div class="control-label col-sm-2"><%= I18n.t("assessment.records") %></div>
          <div class="controls token-list col-sm-10">
            <table class="table table-striped table-bordered table-condensed table-hover token-list">
              <thead>
                <tr>
                  <td><%= I18n.t("assessment._frontend.linked_records.record_type") %></td>
                  <td><%= I18n.t("assessment._frontend.linked_records.identifier") %></td>
                  <td><%= I18n.t("assessment._frontend.linked_records.title") %></td>
                </tr>
              </thead>
              <tbody>
                <% form['records'].each do |record| %>
                  <tr>
                    <td><%= I18n.t("#{record['_resolved']['jsonmodel_type']}._singular") %></td>
                    <% identifier = case record['_resolved']['jsonmodel_type']
                    when 'digital_object'
                      record['_resolved']['digital_object_id']
                    when 'archival_object'
                      resource = JSONModel(:resource).find(
                        JSONModel.parse_reference(record['_resolved']['resource']['ref'])[:id])
                      [(0..3).map{|i| resource["id_#{i}"] }.compact.join("-"),
                        record['_resolved']['component_id']].compact.join(', ')
                    else
                      (0..3).map{|i| record["_resolved"]["id_#{i}"]}.compact.join("-")
                    end
                    %>
                    <td><%= identifier %></td>
                    <td>
                      <%= render_token :object => record['_resolved'],
                      :label => record['_resolved']['title'] || record['_resolved']['display_string'],
                      :type => record['_resolved']['jsonmodel_type'],
                      :uri => record['ref'],
                      :placement => "top" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% else %>
        <% form.push("records", form.obj["records"] || []) do %>
          <div class="form-group required">
            <%= form.label('records', {:for => 'token-input-assessment_records_'}, ['col-sm-2']) %>
            <div class="col-sm-9">
              <%= render_aspace_partial :partial => "assessments/records_linker", :locals => {:form => form} %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% existing_descriptions = form.readonly? ? %w(accession_report appraisal container_list catalog_record
            control_file deed_of_gift finding_aid_ead finding_aid_online
            finding_aid_paper finding_aid_word finding_aid_spreadsheet
            related_eac_records).select { |ed| form[ed] } : nil %>
      <div class="form-group">
        <% unless form.readonly? && existing_descriptions.empty? %>
          <div class="control-label col-sm-2"><%= I18n.t("assessment._frontend.section.existing_description") %></div>
        <% end %>
        <div class="col-sm-10">
          <% if form.readonly?  %>
            <ul>
              <% existing_descriptions.each do |existing_description| %>
                <li>
                  <td><%= I18n.t("assessment.#{existing_description}") %></td>
                </li>
              <% end %>
            </ul>
          <% else %>
            <div class="row">
              <div class="col-md-6">
                <%= form.label_and_boolean 'accession_report', :label_opts => { :col_size => 6 } %>
                <%= form.label_and_boolean 'appraisal', :label_opts => { :col_size => 6 } %>
                <%= form.label_and_boolean 'container_list', :label_opts => { :col_size => 6 } %>
                <%= form.label_and_boolean 'catalog_record', :label_opts => { :col_size => 6 } %>
                <%= form.label_and_boolean 'control_file', :label_opts => { :col_size => 6 } %>
                <%= form.label_and_boolean 'deed_of_gift', :label_opts => { :col_size => 6 } %>
                <%= form.label_and_boolean 'finding_aid_ead', :label_opts => { :col_size => 6 } %>
              </div>

              <div class="col-md-6">
                <%= form.label_and_boolean 'finding_aid_online', :label_opts => { :col_size => 6 } %>
                <%= form.label_and_boolean 'finding_aid_paper', :label_opts => { :col_size => 6 } %>
                <%= form.label_and_boolean 'finding_aid_word', :label_opts => { :col_size => 6 } %>
                <%= form.label_and_boolean 'finding_aid_spreadsheet', :label_opts => { :col_size => 6 } %>
                <%= form.label_and_boolean 'related_eac_records', :label_opts => { :col_size => 6 } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <%= form.label_and_textarea 'existing_description_notes' %>
      </div>

      <hr>

      <% if form.readonly? %>
        <div class="form-group">
          <div class="control-label col-sm-2"><%= I18n.t("assessment.surveyed_by") %></div>
          <div class="controls token-list col-sm-10">
            <% form['surveyed_by'].each do |surveyed_by| %>
              <%= render_token :object => surveyed_by['_resolved'],
              :label => surveyed_by['_resolved']['title'],
              :type => surveyed_by['_resolved']['jsonmodel_type'],
              :uri => surveyed_by['ref'],
              :placement => "top" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <% form.push("surveyed_by", form.obj["surveyed_by"] || []) do %>
          <div class="form-group required">
            <%= form.label('surveyed_by', {:for => 'token-input-assessment_surveyed_by_'}, ['col-sm-2']) %>
            <div class="col-sm-9">
              <%= render_aspace_partial :partial => "assessments/agent_linker", :locals => {:form => form, :linker_id => 'assessment_surveyed_by_'} %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= form.label_and_date 'survey_begin' %>
      <%= form.label_and_date 'survey_end' %>
      <%= form.label_and_textfield 'surveyed_duration' %>
      <%= form.label_and_textarea 'surveyed_extent' %>

      <hr>

      <%= form.label_and_boolean 'review_required' %>
      <% if form.readonly? %>
        <div class="form-group">
          <div class="control-label col-sm-2"><%= I18n.t("assessment.reviewer") %></div>
          <div class="controls token-list col-sm-10">
            <% form['reviewer'].each do |reviewer| %>
              <%= render_token :object => reviewer['_resolved'],
              :label => reviewer['_resolved']['title'],
              :type => reviewer['_resolved']['jsonmodel_type'],
              :uri => reviewer['ref'],
              :placement => "top" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <% form.push("reviewer", form.obj["reviewer"] || []) do %>
          <div class="form-group">
            <%= form.label('reviewer', {:for => 'token-input-assessment_reviewer_'}, ['col-sm-2']) %>
            <div class="col-sm-9">
              <%= render_aspace_partial :partial => "assessments/agent_linker", :locals => {:form => form, :label => I18n.t('assessment._frontend.browse_reviewers'), :linker_id => 'assessment_reviewer_'} %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= form.label_and_textarea 'review_note' %>

      <hr>

      <%= form.label_and_textarea 'purpose' %>
      <%= form.label_and_textarea 'scope' %>
      <%= form.label_and_boolean 'sensitive_material' %>

      <hr>

      <%= form.label_and_boolean 'inactive' %>
    </fieldset>
  </section>

  <section id="rating_attributes" class="subrecord-form-dummy">
    <h3>
      <%= I18n.t "assessment._frontend.section.rating_attributes" %>
    </h3>
    <fieldset>
      <legend class='sr-only'><%= I18n.t "assessment._frontend.section.rating_attributes" %></legend>
      <div class="subrecord-form-container">
        <div class="subrecord-form-fields">
          <%= form.label_and_textarea 'general_assessment_note' %>

          <% if form.readonly? %>
            <% if ASUtils.wrap(form.obj['ratings']).none? {|rating| rating['value'] || rating['note']} %>
              <p><%= I18n.t("assessment._frontend.section.rating_attributes_empty") %></p>
            <% else %>

              <table id="rating_attributes_table" class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="col-sm-5"><%= I18n.t('assessment._frontend.ratings_list.rating') %></th>
                    <th class="col-sm-1 text-center"><%= I18n.t('assessment._frontend.ratings_list.score') %></th>
                    <th class="col-sm-6 text-center"><%= I18n.t('assessment._frontend.ratings_list.note') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% ASUtils.wrap(form.obj['ratings']).sort{|a, b| i18n_rating(a.fetch('label')) <=> i18n_rating(b.fetch('label'))}.each do |rating| %>
                    <% next unless rating['value'] || rating['note'] %>
                    <tr>
                      <td><%= i18n_rating(rating.fetch('label')) %></td>
                      <td><%= rating.fetch('value', '') %></td>
                      <td><%= rating.fetch('note', '') %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          <% else %>
            <table id="rating_attributes_table" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th class="col-sm-5"><span class="sr-only">Condition</span></th>
                  <th class="col-sm-1 text-center"><%= I18n.t('assessment.rating_attributes_value.rating_none') %></th>
                  <th class="col-sm-1 text-center"><%= I18n.t('assessment.rating_attributes_value.rating_1') %></th>
                  <th class="col-sm-1 text-center"><%= I18n.t('assessment.rating_attributes_value.rating_2') %></th>
                  <th class="col-sm-1 text-center"><%= I18n.t('assessment.rating_attributes_value.rating_3') %></th>
                  <th class="col-sm-1 text-center"><%= I18n.t('assessment.rating_attributes_value.rating_4') %></th>
                  <th class="col-sm-1 text-center"><%= I18n.t('assessment.rating_attributes_value.rating_5') %></th>
                  <th><span class="sr-only">Add attribute note?</span></th>
                </tr>
              </thead>
              <tbody>
                <% ratings_index = 0 %>
                <% @assessment_attribute_definitions.global_ratings.sort{|a, b| i18n_rating(a.fetch('label')) <=> i18n_rating(b.fetch('label'))}.each do |rating| %>
                  <% next if rating['readonly'] %>
                  <% form.push(form.set_index("ratings[]", ratings_index), ASUtils.wrap(form.obj['ratings']).find{|r| r['definition_id'] == rating['id']} || {}) do %>
                    <tr>
                      <td>
                        <% rating_tooltip = rating_tooltip(rating) %>
                        <label <% if rating_tooltip %> class="has-tooltip control-label" data-trigger="manual" data-html="true" title="<%= rating_tooltip %>" <% end %>>
                          <%= i18n_rating(rating.fetch('label')) %>
                        </label>
                        <%= form.hidden_input('definition_id', rating.fetch('id')) %>

                        <% rating_values_tooltip = rating_values_tooltip(rating) %>
                        <% if rating_values_tooltip %>
                          <label class="pull-right ratings-value-tooltip glyphicon glyphicon-question-sign has-tooltip control-label"
                                 data-trigger="manual"
                                 data-html="true"
                                 title="<%= rating_values_tooltip %>"
                                 data-template='<div class="tooltip ratings-value-tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'>
                                <span class='sr-only'><%= i18n_rating(rating.fetch('label')) %></span>
                          </label>
                        <% end %>
                      </td>
                        <td class="text-center">
                          <label>
                            <%= form.radio('value', nil) %>
                            <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_none') %></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label>
                            <%= form.radio('value', '1') %>
                            <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_1') %></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label>
                            <%= form.radio('value', '2') %>
                            <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_2') %></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label>
                            <%= form.radio('value', '3') %>
                            <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_3') %></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label>
                            <%= form.radio('value', '4') %>
                            <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_4') %></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label>
                            <%= form.radio('value', '5') %>
                            <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_5') %></span>
                          </label>
                        </td>
                        <td>
                          <button class="btn btn-xs btn-default assessment-add-rating-note"><%= I18n.t('assessment._frontend.action.add_rating_note') %></button>
                          <button class="btn btn-xs btn-default assessment-remove-rating-note" style="display:none;" aria-hidden="true"><%= I18n.t('assessment._frontend.action.remove_rating_note') %></button>
                        </td>
                    </tr>
                    <tr style="display:none">
                      <td>
                        <%
                        label_options = {}
                        rating_note_tooltip = rating_note_tooltip(rating)

                        if rating_note_tooltip
                          label_options['class'] = 'control-label has-tooltip'
                          label_options['data-trigger'] = 'manual'
                          label_options['data-html'] = 'true'
                          label_options['title'] = rating_note_tooltip
                        end
                        %>
                        <%=
                        label_tag(form.id_for('note'),
                                  I18n.t('assessment.rating_note', :label => i18n_rating(rating.fetch('label'))),
                                  label_options)
                        %>
                      </td>
                      <td colspan="6">
                        <%= form.textarea 'note', form.obj['note'] %>
                      </td>
                    </tr>
                  <% end %>
                  <% ratings_index += 1 %>
                <% end %>

                <tr>
                  <th colspan="7">
                    <strong><%= I18n.t('assessment._frontend.section.rating_attributes_additional') %></strong>
                    <div>
                      <small class="text-muted">
                        <% if user_can?('manage_assessment_attributes') %>
                          <%= link_to I18n.t('assessment._frontend.messages.manage_attributes_hint', :attribute_type => I18n.t('assessment._frontend.ratings')), {:controller => :assessment_attributes,
                          :anchor => 'ratings', :action => :edit} %>
                        <% else %>
                          <%= I18n.t('assessment._frontend.messages.attributes_hint', :attribute_type => I18n.t('assessment._frontend.ratings')) %>
                        <% end %>
                      </small>
                    </div>
                  </th>
                </tr>

                <% if @assessment_attribute_definitions.repo_ratings.length > 0 %>
                  <% @assessment_attribute_definitions.repo_ratings.each do |rating| %>
                    <% form.push(form.set_index("ratings[]", ratings_index), ASUtils.wrap(form.obj['ratings']).find{|r| r['definition_id'] == rating['id']} || {}) do %>
                      <tr>
                        <td>
                          <% rating_tooltip = rating_tooltip(rating) %>
                          <label <% if rating_tooltip %> class="has-tooltip control-label" data-trigger="manual" data-html="true" title="<%= rating_tooltip %>" <% end %>>
                            <%= i18n_rating(rating.fetch('label')) %>
                          </label>

                          <%= form.hidden_input('definition_id', rating.fetch('id')) %>

                          <% rating_values_tooltip = rating_values_tooltip(rating) %>
                          <% if rating_values_tooltip %>
                            <label class="pull-right ratings-value-tooltip glyphicon glyphicon-question-sign has-tooltip control-label"
                                   data-trigger="manual"
                                   data-html="true"
                                   title="<%= rating_values_tooltip %>"
                                   data-template='<div class="tooltip ratings-value-tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'>
                                   <span class='sr-only'><%= i18n_rating(rating.fetch('label')) %></span>
                            </label>
                          <% end %>
                        </td>
                          <td class="text-center">
                            <label>
                              <%= form.radio('value', nil) %>
                              <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_none') %></span>
                            </label>
                          </td>
                          <td class="text-center">
                            <label>
                              <%= form.radio('value', '1') %>
                              <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_1') %></span>
                            </label>
                          </td>
                          <td class="text-center">
                            <label>
                              <%= form.radio('value', '2') %>
                              <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_2') %></span>
                            </label>
                          </td>
                          <td class="text-center">
                            <label>
                              <%= form.radio('value', '3') %>
                              <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_3') %></span>
                            </label>
                          </td>
                          <td class="text-center">
                            <label>
                              <%= form.radio('value', '4') %>
                              <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_4') %></span>
                            </label>
                          </td>
                          <td class="text-center">
                            <label>
                              <%= form.radio('value', '5') %>
                              <span class='sr-only'><%= I18n.t('assessment.rating_attributes_value.rating_5') %></span>
                            </label>
                          </td>
                          <td>
                            <button class="btn btn-xs btn-default assessment-add-rating-note"><%= I18n.t('assessment._frontend.action.add_rating_note') %></button>
                            <button class="btn btn-xs btn-default assessment-remove-rating-note" style="display:none;" aria-hidden="true"><%= I18n.t('assessment._frontend.action.remove_rating_note') %></button>
                          </td>
                      </tr>
                      <tr style="display:none">
                        <td>
                          <%
                          label_options = {}
                          rating_note_tooltip = rating_note_tooltip(rating)

                          if rating_note_tooltip
                            label_options['class'] = 'control-label has-tooltip'
                            label_options['data-trigger'] = 'manual'
                            label_options['data-html'] = 'true'
                            label_options['title'] = rating_note_tooltip
                          end
                          %>
                          <%=
                          label_tag(form.id_for('note'),
                                    I18n.t('assessment.rating_note', :label => i18n_rating(rating.fetch('label'))),
                                    label_options)
                          %>
                        </td>
                        <td colspan="6">
                          <%= form.textarea 'note', form.obj['note'] %>
                        </td>
                      </tr>
                    <% end %>
                    <% ratings_index += 1 %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </fieldset>
  </section>

  <section id="format_attributes" class="subrecord-form-dummy">
    <h3>
      <%= I18n.t "assessment._frontend.section.format_attributes" %>
    </h3>
    <fieldset>
      <legend class='sr-only'><%= I18n.t "assessment._frontend.section.format_attributes" %></legend>
      <div class="subrecord-form-container">
        <div class="subrecord-form-fields">
          <% if form.readonly? %>
            <% if ASUtils.wrap(form.obj['formats']).none? {|format| format['value']} %>
              <p><%= I18n.t("assessment._frontend.section.format_attributes_empty") %></p>
            <% else %>
              <ul>
                <% ASUtils.wrap(form.obj['formats']).sort{|a, b|
                  if a.fetch('label') == 'Other'
                    1
                  elsif b.fetch('label') == 'Other'
                    -1
                  else
                    i18n_format(a.fetch('label')) <=> i18n_format(b.fetch('label'))
                  end
                }.each do |format| %>
                  <% next unless format['value'] %>
                  <li>
                    <td><%= i18n_format(format.fetch('label')) %></td>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% else %>

            <% formats_index = 0 %>
            <% @assessment_attribute_definitions.global_formats.sort{|a, b|
              if a.fetch('label') == 'Other'
                1
              elsif b.fetch('label') == 'Other'
                -1
              else
                i18n_format(a.fetch('label')) <=> i18n_format(b.fetch('label'))
              end
            }.each_slice((@assessment_attribute_definitions.global_formats.length.to_f / 2).ceil).each do |group| %>
              <div class="col-md-6">
                <% group.each do |format| %>
                  <% form.push(form.set_index("formats[]", formats_index), ASUtils.wrap(form.obj['formats']).find{|r| r['definition_id'] == format['id']} || {}) do %>
                    <div class="form-group">
                      <%= form.hidden_input('definition_id', format.fetch('id'), :disabled => form.obj['value'].nil?) %>
                      <%= label_tag form.id_for('value'), i18n_format(format.fetch('label')), :class => 'col-sm-6 control-label' %>
                      <div class="col-sm-1 checkbox">
                        <%= form.checkbox('value', {:value => 'true'}, false, form.obj['value'] == 'true') %>
                      </div>
                    </div>
                  <% end %>
                  <% formats_index += 1 %>
                <% end %>
              </div>
            <% end %>

            <div class="row">
              <div class="col-md-12">
                <h4>
                  <strong><%= I18n.t('assessment._frontend.section.format_attributes_additional') %></strong>
                  <div>
                    <small class="text-muted">
                      <% if user_can?('manage_assessment_attributes') %>
                        <%= link_to I18n.t('assessment._frontend.messages.manage_attributes_hint', :attribute_type => I18n.t('assessment._frontend.formats')), {:controller => :assessment_attributes, :anchor => 'formats', :action => :edit} %>
                      <% else %>
                        <%= I18n.t('assessment._frontend.messages.attributes_hint', :attribute_type => I18n.t('assessment._frontend.formats')) %>
                      <% end %>
                    </small>
                  </div>
                </h4>
              </div>
            </div>
            <div class="row">

              <% if @assessment_attribute_definitions.repo_formats.length > 0 %>
                <% @assessment_attribute_definitions.repo_formats.each do |format| %>
                  <% form.push(form.set_index("formats[]", formats_index), ASUtils.wrap(form.obj['formats']).find{|r| r['definition_id'] == format['id']} || {}) do %>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= form.hidden_input('definition_id', format.fetch('id'), :disabled => form.obj['value'].nil?) %>
                        <%= label_tag form.id_for('value'), i18n_format(format.fetch('label')), :class => 'col-sm-6 control-label' %>
                        <div class="col-sm-1 checkbox">
                          <%= form.checkbox('value', {:value => 'true'}, false, form.obj['value'] == 'true') %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <% formats_index += 1 %>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <% unless form.readonly? %>
            <hr>
          <% end %>

          <%= form.label_and_textarea 'special_format_note' %>
          <%= form.label_and_textarea 'exhibition_value_note' %>

          <hr>

          <%= form.label_and_textfield 'monetary_value' %>
          <%= form.label_and_textarea 'monetary_value_note' %>
        </div>
      </div>
    </fieldset>
  </section>


  <section id="conservation_issue_attributes" class="subrecord-form-dummy">
    <h3>
      <%= I18n.t "assessment._frontend.section.conservation_issue_attributes" %>
    </h3>
    <fieldset>
      <legend class='sr-only'><%= I18n.t "assessment._frontend.section.conservation_issue_attributes" %></legend>
      <div class="subrecord-form-container">
        <div class="subrecord-form-fields">
          <% if form.readonly? %>
            <% if ASUtils.wrap(form.obj['conservation_issues']).none? {|conservation_issue| conservation_issue['value']} %>
              <p><%= I18n.t("assessment._frontend.section.conservation_issue_attributes_empty") %></p>
            <% else %>
              <ul>
                <% ASUtils.wrap(form.obj['conservation_issues']).sort{|a, b|
                  i18n_conservation_issue(a.fetch('label')) <=> i18n_conservation_issue(b.fetch('label'))
                }.each do |conservation_issue| %>
                  <% next unless conservation_issue['value'] %>
                  <li>
                    <%= i18n_conservation_issue(conservation_issue.fetch('label')) %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          <% else %>
            <div class="row">
              <% conservation_issues_index = 0 %>
              <% @assessment_attribute_definitions.global_conservation_issues.sort{|a, b|
                i18n_conservation_issue(a.fetch('label')) <=> i18n_conservation_issue(b.fetch('label'))
              }.each_slice((@assessment_attribute_definitions.global_conservation_issues.length.to_f / 2).ceil).each do |group| %>
                <div class="col-md-6">
                  <% group.each do |conservation_issue| %>
                    <% form.push(form.set_index("conservation_issues[]", conservation_issues_index), ASUtils.wrap(form.obj['conservation_issues']).find{|r| r['definition_id'] == conservation_issue['id']} || {}) do %>
                      <div class="form-group">
                        <%= form.hidden_input('definition_id', conservation_issue.fetch('id'), :disabled => form.obj['value'].nil?) %>
                        <%= label_tag form.id_for('value'), i18n_conservation_issue(conservation_issue.fetch('label')), :class => 'col-sm-6 control-label' %>
                        <div class="col-sm-1 checkbox">
                          <%= form.checkbox('value', {:value => 'true'}, false, form.obj['value'] == 'true') %>
                        </div>
                      </div>
                    <% end %>
                    <% conservation_issues_index += 1 %>
                  <% end %>
                </div>
              <% end %>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h4>
                  <strong><%= I18n.t('assessment._frontend.section.conservation_issue_attributes_additional') %></strong>
                  <div>
                    <small class="text-muted">
                      <% if user_can?('manage_assessment_attributes') %>
                        <%= link_to I18n.t('assessment._frontend.messages.manage_attributes_hint', :attribute_type => I18n.t('assessment._frontend.conservation_issues')), {:controller => :assessment_attributes, :anchor => 'conservation_issues', :action => :edit} %>
                      <% else %>
                        <%= I18n.t('assessment._frontend.messages.attributes_hint', :attribute_type => I18n.t('assessment._frontend.conservation_issues')) %>
                      <% end %>
                    </small>
                  </div>
                </h4>
              </div>
            </div>
            <% if @assessment_attribute_definitions.repo_conservation_issues.length > 0 %>
              <div class="row">
                <% @assessment_attribute_definitions.repo_conservation_issues.each do |conservation_issue| %>
                  <% form.push(form.set_index("conservation_issues[]", conservation_issues_index), ASUtils.wrap(form.obj['conservation_issues']).find{|r| r['definition_id'] == conservation_issue['id']} || {}) do %>
                    <div class="col-md-6">
                      <div class="form-group">
                        <%= form.hidden_input('definition_id', conservation_issue.fetch('id'), :disabled => form.obj['value'].nil?) %>
                        <%= label_tag form.id_for('value'), i18n_conservation_issue(conservation_issue.fetch('label')), :class => 'col-sm-6 control-label' %>
                        <div class="col-sm-1 checkbox">
                          <%= form.checkbox('value', {:value => 'true'}, false, form.obj['value'] == 'true') %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <% conservation_issues_index += 1 %>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <hr>
          <%= form.label_and_textarea 'conservation_note' %>
        </div>
      </div>
    </fieldset>
  </section>
<% end %>

<% form.emit_template("assessment") %>

<%= form_plugins_for("assessment", form) %>
