<%
  unless form.obj.empty?
    selected_json =  form.obj.map{|obj|
      ASUtils.to_json(obj['_resolved'])
    }
  else
    selected_json = "[]"
  end
  linker_id ||= "assessment_records_"
%>
<div class="form-group required">
  <div class="input-group linker-wrapper">
    <input type="text" class="linker"
           id="<%= linker_id %>"
           data-label_create="<%= t "assessment.records" %>"
           data-label_browse="<%= t "assessment.records" %>"
           data-label_link="<%= t("linker.link") %>"
           data-label_create_and_link="<%= t("linker.create_and_link") %>"
           data-path="<%= form.path %>"
           data-name="ref"
           data-url="<%= url_for :controller => :search, :action => :do_search, :format => :json %>"
           data-browse-url="<%= url_for :controller => :search, :action => :do_search, :format => :js, :facets => SearchResultData.ASSESSMENT_FACETS %>"
           data-selected="<%= selected_json %>"
           data-format_property="display_string"
           data-multiplicity="many"
           data-sortable="true"
           data-types='["resource", "accession", "digital_object", "archival_object"]'
           aria-label="<%= t('assessment.linker.link_title') %>"
    />

    <div class="input-group-append">
      <button
        type="button"
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
        aria-expanded="false"
        aria-label="<%= t('assessment.linker.link_title') %>"
        ></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <button
            type="button"
            class="btn btn-sm rounded-0 dropdown-item linker-browse-btn"
          ><%= t("actions.browse") %></button>
        </li>
      </ul>
    </div>
  </div>
</div>
