<%= setup_context(:object => @assessment) %>

<%= form_for @assessment, :as => "assessment", :url => {:action => :create}, :html => {:class => 'form-horizontal aspace-record-form', :id => "assessment_form"} do |f| %>

  <%= form_context :assessment, @assessment do |form| %>
    <div class="d-flex">
      <div class="col-md-3">
        <%= render_aspace_partial :partial => "sidebar" %>
      </div>
      <div class="col-md-9">
        <%= render_aspace_partial :partial => "shared/toolbar_new_records" %>
        <div class="record-pane">
          <%= link_to_help :topic => "assessment" %>
          <h2><%= t("assessment.new_title") %> <span class="label label-info badge"><%= t("assessment._singular") %></span></h2>
          <%= render_aspace_partial :partial => "assessments/form", :locals => {:form => form} %>

          <div class="form-actions pl-0">
            <button type="submit" class="btn btn-primary"><%= t("assessment._frontend.action.save") %></button>
            <%= link_to t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
