<%= setup_context(:object => @assessment, :title => @assessment.display_string) %>

<div class="d-flex">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "assessments/toolbar" %>
    <div class="record-pane">
      <%= readonly_context :assessment, @assessment do |readonly| %>
        <h2><%= t('assessment._frontend.form_header', :display_string => @assessment.display_string) %> <span class="label badge badge-primary"><%= t("assessment._singular") %></span></h2>

        <%= render_aspace_partial :partial => "assessments/form", :locals => {:form => readonly} %>

      <% end %>
    </div>
  </div>
</div>
