<% define_template "name_family", jsonmodel_definition(:name_family) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "authority_id" %>
    <%= form.label_and_select "source", form.possible_options_for('source', true), :required => :conditionally %>
    <%= form.label_and_select "rules", form.possible_options_for('rules', true), :required => :conditionally %>
    <hr/>
    <%= form.label_and_textfield "prefix" %>
    <%= form.label_and_textfield "family_name" %>
    <%= form.label_and_textfield "dates" %>
    <hr/>
    <%= form.label_and_textfield "qualifier" %>
    <%= form.label_and_textfield "sort_name", {:field_opts => {:automatable => true}, :required => :conditionally}%>
    <%= form.label_and_textfield "sort_name" %>
    <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "use_dates", :template_erb => "dates/template", :template => "date", :heading_text => I18n.t("name._frontend.section.use_date"), :heading_size => "h4", :template_overrides => "agents/name_forms/date_labels"} %>
  </div>
<% end %>
