<% define_template "name_person", jsonmodel_definition(:name_person) do |form| %>
  <div class="subrecord-form-fields agent-name-form">
    <h3 class="subrecord-form-heading">
      <span class="badge badge-pill badge-primary fs-14px is-authoritive-label"><%= t("name_person.authorized") %></span>
      <%= form.button_with_tooltip(t("name._frontend.action.make_authorized_tooltip"), t("name._frontend.action.make_authorized"), [], ["btn btn-sm btn-default btn-authoritive-name-toggle"]) %>
      <span class="badge badge-pill badge-primary fs-14px is-display-name-label"><%= t("name_person.is_display_name") %></span>
      <%= form.button_with_tooltip(t("name._frontend.action.make_display_name_tooltip"), t("name._frontend.action.make_display_name"), [], ["btn btn-sm btn-default btn-display-name-toggle"]) %>
    </h3>

    <%= render_aspace_partial :partial => "agents/name_forms/authority_fields", :locals => {:form => form} %>

    <%= form.label_and_select "name_order",
        form.possible_options_for("name_order") %>

    <%= form.label_and_textfield "prefix" %>

    <%= form.label_and_textfield "title" %>

    <%= form.label_and_textfield "primary_name" %>

    <%= form.label_and_textfield "rest_of_name" %>

    <%= form.label_and_textfield "suffix" %>

    <%= form.label_and_textfield "fuller_form" %>

    <%= form.label_and_textfield "number" %>

    <%= form.label_and_textfield "dates" %>

    <hr/>
    <%= form.label_and_select "language",
     [""] + form.possible_options_for("language", false) %>

    <%= form.label_and_select "script",
        [""] + form.possible_options_for("script", false) %>


    <%= form.label_and_select "transliteration",
        [""] + form.possible_options_for("transliteration", false) %>

    <hr/>

    <%= form.label_and_textfield "qualifier" %>

    <%= form.label_and_textfield "sort_name", {:field_opts => {:automatable => true}, :required => :conditionally}%>
    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "use_dates", :template_erb => "dates/template", :template => "structured_date_label_usage", :heading_text => t("name._frontend.section.use_date"), :heading_size => "h4", :template_overrides => {"date_label" => "agents/name_forms/date_labels"}} %>

    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "parallel_names", :template => "parallel_name_person", :template_erb => "agents/name_forms/agent_person", :heading_text => t("name._frontend.section.parallel_names"), :heading_size => "h4"} %>
  </div>
<% end %>

<% define_template "parallel_name_person", jsonmodel_definition(:parallel_name_person) do |form| %>
  <div class="subrecord-form-fields agent-name-form">

    <%= form.label_and_select "name_order", form.possible_options_for("name_order") %>
    <%= form.label_and_textfield "prefix" %>
    <%= form.label_and_textfield "title" %>
    <%= form.label_and_textfield "primary_name" %>
    <%= form.label_and_textfield "rest_of_name" %>
    <%= form.label_and_textfield "suffix" %>
    <%= form.label_and_textfield "fuller_form" %>
    <%= form.label_and_textfield "number" %>
    <%= form.label_and_textfield "dates" %>
    <hr/>
    <%= form.label_and_select "language", [""] + form.possible_options_for("language", false) %>
    <%= form.label_and_select "script", [""] + form.possible_options_for("script", false) %>
    <%= form.label_and_select "transliteration", [""] + form.possible_options_for("transliteration", false) %>
    <hr/>

    <%= form.label_and_textfield "qualifier" %>
    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "use_dates", :template_erb => "dates/template", :template => "structured_date_label_usage", :heading_text => t("name._frontend.section.use_date"), :heading_size => "h4", :template_overrides => {"date_label" => "agents/name_forms/date_labels"}} %>
  </div>
<% end %>
