<% define_template "name_software", jsonmodel_definition(:name_software) do |form| %>
  <div class="subrecord-form-fields">
    <h2 class="subrecord-form-heading">
      <span class="badge badge-info is-authoritive-label"><%= I18n.t("name_person.authorized") %></span>
      <span class="badge badge-info is-display-name-label"><%= I18n.t("name_person.is_display_name") %></span>
    </h2>

    <%= render_aspace_partial :partial => "agents/name_forms/authority_fields_required", :locals => {:form => form} %>

    <%= form.hidden_input "require_record", true %>
    <% field_names = ["software_name", "version", "manufacturer", "dates"] %>

    <% field_names.each do |field_name| %>
      <% if form.required?(field_name) %>
        <%= form.label_and_readonly field_name %>
      <% else %>
        <%= form.label_and_req_boolean field_name %>
      <% end %>
    <% end %>
    <hr/>
    <% field_names = ["language", "script", "transliteration"] %>
    <% field_names.each do |field_name| %>
      <% if form.required?(field_name) %>
        <%= form.label_and_readonly field_name %>
      <% else %>
        <%= form.label_and_req_boolean field_name %>
      <% end %>
    <% end %>
    <hr/>
    <%= form.label_and_req_boolean "qualifier" %>
    <%= form.label_and_disabled_checkbox "Sort Name" %>

    <hr/>
    <%= form.label_and_disabled_checkbox "Date(s) of Name Use" %>
    <hr/>
    <%= form.label_and_disabled_checkbox "Parallel Names" %>
  </div>
<% end %>
