<div class="agent-name-fields">
  <%= f.label_and_field :authority_id %>
  <%= f.label_and_field :source %>
  <%= f.label_and_field :rules %>
  <hr/>
  <%= f.label_and_field :direct_order %>
  <%= f.label_and_field :prefix %>
  <%= f.label_and_field :title %>
  <%= f.label_and_field :primary_name %>
  <%= f.label_and_field :rest_of_name %>
  <%= f.label_and_field :suffix %>
  <%= f.label_and_field :fuller_form %>
  <%= f.label_and_field :number %>
  <%= f.label_and_field :dates %>
  <hr/>
  <%= f.label_and_field :qualifier %>
  <div class="control-group">
    <%= f.jsonmodel_label :sort_name %>
    <div class="controls">
      <%= f.jsonmodel_field :sort_name, :readonly => "readonly" %>
      <label><%= check_box_tag "#{f.current_name(:sort_name_type)}", "automatic", true, :class => "sort-name-generation-type", :force_id => f.current_name(:sort_name_type, true) %> <small>Automatically generate?</small></label>
    </div>
  </div>
  <hr/>
  <%= f.label_and_field :description_type %>
  <%= f.label_and_field :description_note %>
  <%= f.label_and_field :description_citation %>
</div>