<% define_template "name_corporate_entity", jsonmodel_definition(:name_corporate_entity) do |form| %>
  <div class="subrecord-form-fields">
    <h4 class="subrecord-form-heading">
      <span class="badge badge-info is-authoritive-label"><%= I18n.t("name_person.authorized") %></span>
      <button class="btn btn-small btn-authoritive-name-toggle"><%= I18n.t("name._frontend.action.make_authorized") %></button>
      <span class="badge badge-info is-display-name-label"><%= I18n.t("name_person.is_display_name") %></span>
      <button class="btn btn-small btn-display-name-toggle"><%= I18n.t("name._frontend.action.make_display_name") %></button>
    </h4>

    <%= form.hidden_input "is_display_name", form["is_display_name"] || "false" %>
    <div class="name-authority-fields">
      <%= form.label_and_textfield "authority_id", :required => :conditionally %>
      <%= form.label_and_select "source", form.possible_options_for('source', true), :required => :conditionally %>
      <%= form.label_and_select "rules", form.possible_options_for('rules', true), :required => :conditionally %>
      <%= form.hidden_input "authorized", form["authorized"] || "false" %>
    </div>
    <hr/>
    <%= form.label_and_textfield "primary_name" %>
    <%= form.label_and_textfield "subordinate_name_1" %>
    <%= form.label_and_textfield "subordinate_name_2" %>
    <%= form.label_and_textfield "number" %>
    <%= form.label_and_textfield "dates" %>
    <hr/>
    <%= form.label_and_textfield "qualifier" %>
    <%= form.label_and_textfield "sort_name", {:field_opts => {:automatable => true}, :required => :conditionally}%>
    <%= render :partial => "shared/subrecord_form", :locals => {:form => form, :name => "use_dates", :template_erb => "dates/template", :template => "date", :heading_text => I18n.t("name._frontend.section.use_date"), :heading_size => "h4", :template_overrides => "agents/name_forms/date_labels"} %>
  </div>
<% end %>
