<% define_template "name_corporate_entity", jsonmodel_definition(:name_corporate_entity) do |form| %>
  <div class="subrecord-form-fields">
    <h2 class="subrecord-form-heading">
      <span class="badge badge-info is-authoritive-label"><%= I18n.t("name_person.authorized") %></span>
      <span class="badge badge-info is-display-name-label"><%= I18n.t("name_person.is_display_name") %></span>
    </h2>

    <%= render_aspace_partial :partial => "agents/name_forms/authority_fields_required", :locals => {:form => form} %>

    <% field_names = ["primary_name", "subordinate_name_1", "subordinate_name_2", "number", "dates"] %>
    <% field_names.each do |field_name| %>
      <% if form.required?(field_name) %>
        <%= form.label_and_readonly field_name %>
      <% else %>
        <%= form.label_and_req_boolean field_name %>
      <% end %>
    <% end %>
    <hr/>
    <%= form.label_and_req_boolean "qualifier" %>
    <%= form.label_and_readonly "sort_name" %>
    <%= render_aspace_partial :partial => "shared/subrecord_form", :locals => {:form => form, :name => "use_dates", :template_erb => "dates/template_required", :template => "usage_date", :heading_text => I18n.t("name._frontend.section.use_date"), :heading_size => "h4", :template_overrides => "agents/name_forms/date_labels"} %>
  </div>
<% end %>
