<% define_template "agent_software_name" do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "authority_id" %>
    <%= form.label_and_select "source", JSONModel(:name_software).schema['properties']['source']['enum'], :nodefault => true %>
    <%= form.label_and_select "rules", JSONModel(:name_software).schema['properties']['rules']['enum'], :nodefault => true %>
    <hr/>
    <%= form.label_and_textfield "software_name" %>
    <%= form.label_and_textfield "version" %>
    <%= form.label_and_textfield "manufacturer" %>
    <%= form.label_and_textfield "dates" %>
    <hr/>
    <%= form.label_and_textfield "qualifier" %>
    <div class="control-group">
      <%= form.label("sort_name") %>
      <div class="controls">
        <%= form.textfield "sort_name", form["sort_name"], :readonly => "readonly" %>
        <label><%= form.checkbox "automatic", true, :class => "sort-name-generation-type" %> <small>Automatically generate?</small></label>
      </div>
    </div>
    <hr/>
    <%= form.label_and_textfield "description_type" %>
    <%= form.label_and_textfield "description_note" %>
    <%= form.label_and_textfield "description_citation" %>
  </div>
<% end %>
