<% define_template "name_person", jsonmodel_definition(:name_person) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "authority_id" %>
    <%= form.label_and_select "source", form.possible_options_for('source', true) %>
    <%= form.label_and_select "rules", form.possible_options_for('rules', true) %>
    <hr/>
    <%= form.label_and_select "name_order", form.possible_options_for("name_order") %>
    <%= form.label_and_textfield "prefix" %>
    <%= form.label_and_textfield "title" %>
    <%= form.label_and_textfield "primary_name" %>
    <%= form.label_and_textfield "rest_of_name" %>
    <%= form.label_and_textfield "suffix" %>
    <%= form.label_and_textfield "fuller_form" %>
    <%= form.label_and_textfield "number" %>
    <%= form.label_and_textfield "dates" %>
    <hr/>
    <%= form.label_and_textfield "qualifier" %>
    <div class="control-group">
      <%= form.label("sort_name") %>
      <div class="controls">
        <%= form.textfield "sort_name", form["sort_name"], :readonly => "readonly" %>
        <label><%= form.checkbox "automatic", {:class => "sort-name-generation-type"}, true, true %> <small><%= I18n.t("agent_name.sort_name_auto_generate") %></small></label>
      </div>
    </div>
    <hr/>
    <%= form.label_and_textfield "description_type" %>
    <%= form.label_and_textarea "description_note" %>
    <%= form.label_and_textfield "description_citation" %>
  </div>
<% end %>
