<% define_template "name_software", jsonmodel_definition(:name_software) do |form| %>
  <div class="subrecord-form-fields">

    <%= form.record_level_merge_controls(form, "name_software", false) %>

    <% if form.obj['authorized'] %><span class="badge"><%= t("name_software.authorized") %></span><% end %>
    <% if form.obj['is_display_name'] %><span class="badge badge-info"><%= t("name_software.is_display_name") %></span><% end %>

    <%= render_aspace_partial :partial => "agents/name_forms/authority_fields_merge_destination", :locals => {:form => form} %>

    <%= form.label_and_readonly "software_name" %>
    <%= form.label_and_readonly "version" %>
    <%= form.label_and_readonly "manufacturer" %>
    <%= form.label_and_readonly "dates" %>
    <%= form.label_and_readonly "language" %>
    <%= form.label_and_readonly "script" %>
    <%= form.label_and_readonly "transliteration" %>
    <hr/>
    <%= form.label_and_readonly "qualifier" %>
    <%= form.label_and_readonly "sort_name" %>

    <%= render_aspace_partial :partial => "structured_dates/show_inline", :locals => { :dates => form.obj["use_dates"], :section_title => t("agent_name.use_dates"), :section_id => "merge_destination_name_use_dates", :heading_size => "h4"} %>

    <%= render_aspace_partial :partial => "agent_parallel_names/show_inline", :locals => { :names => form.obj['parallel_names'], :section_id => "merge_destination_parallel_names"} %>
  </div>
<% end %>
