<% define_template "name_corporate_entity", jsonmodel_definition(:name_corporate_entity) do |form| %>
  <div class="subrecord-form-fields">
    
    <% disable_replace = false %>

    <%= form.record_level_merge_controls(form, "name_corporate_entity", true, !disable_replace) %>

    <% if form.obj['authorized'] %><span class="badge"><%= t("name_corporate_entity.authorized") %></span><% end %>
    <% if form.obj['is_display_name'] %><span class="badge badge-info"><%= t("name_corporate_entity.is_display_name") %></span><% end %>

    <%= render_aspace_partial :partial => "agents/name_forms/authority_fields_merge", :locals => {:form => form} %>

    <%= form.hidden_input "id", form.obj["id"] %>

    <%= form.label_and_merge_select("primary_name", "", {:disable_replace => disable_replace}) %>
    <%= form.label_and_merge_select("subordinate_name_1", "", {:disable_replace => disable_replace}) %>
    <%= form.label_and_merge_select("subordinate_name_2", "", {:disable_replace => disable_replace}) %>
    <%= form.label_and_merge_select("number", "", {:disable_replace => disable_replace}) %>
    <%= form.label_and_merge_select("dates", "", {:disable_replace => disable_replace}) %>
    <%= form.label_and_merge_select("location", "", {:disable_replace => disable_replace}) %>
    <%= form.label_and_readonly("conference_meeting", "", {:disable_replace => disable_replace}) %>
    <%= form.label_and_readonly("jurisdiction", "", {:disable_replace => disable_replace}) %>
    <%= form.label_and_merge_select("language", "", {:disable_replace => disable_replace}) %>
    <%= form.label_and_merge_select("script", "", {:disable_replace => disable_replace}) %>
    <%= form.label_and_merge_select("transliteration", "", {:disable_replace => disable_replace}) %>
    <hr/>
    <%= form.label_and_merge_select("qualifier", "", {:disable_replace => disable_replace}) %>
    <%= form.label_and_readonly "sort_name" %>
    
    <%= render_aspace_partial :partial => "structured_dates/show_inline", :locals => { :dates => form.obj["use_dates"], :section_title => t("agent_name.use_dates"), :section_id => "merge_candidate_name_use_dates", :heading_size => "h4"} %>

    <%= render_aspace_partial :partial => "agent_parallel_names/show_inline", :locals => { :names => form.obj['parallel_names'], :section_id => "merge_candidate_parallel_names"} %>
  </div>
<% end %>
