<%
   section_id = "agent_function" if section_id.blank?
   section_title = "Functions" if section_title.blank?
   heading_size = "h3" if heading_size.blank?
%>

<section id="<%= section_id %>">
  <h3><%= section_title %></h3>
  <div class="details my-3" id="<%= section_id %>_accordion">
    <%= context.list_for(context["agent_functions"], "agent_functions[]") do |agent_function, index| %>
      <div class="card mb-3">
        <div class="card-header panel-heading">
          <div class="row accordion-toggle collapsed" data-toggle="collapse" data-parent="#<%= section_id %>_accordion" href="#<%= section_id %>_agent_function_<%= index %>">
            <div class="col-md-1">
              <span class="glyphicon"></span>
            </div>
            <div class="col-md-6">
              <%= render_aspace_partial :partial => "subjects/show_inline_abbr", :locals => {:subjects => agent_function['subjects']} %>
            </div>
          </div>
        </div>
        <div id="<%= section_id %>_agent_function_<%= index %>" class="panel-collapse collapse">
          <% if agent_function["subjects"].length > 0 %>
            <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => agent_function['subjects'], :section_id => "agent_function_subjects_", :section_title => t("agent_function.subjects"), :heading_size => "h4"} %>
          <% end %>

          <% if agent_function["places"].length > 0 %>
            <%= render_aspace_partial :partial => "subjects/show_inline", :locals => {:subjects => agent_function['places'], :section_id => "agent_function_places_", :section_title => t("agent_function.places"), :heading_size => "h4"} %>
          <% end %>

          <% if agent_function["dates"].length > 0 %>
            <%= render_aspace_partial :partial => "structured_dates/show", :locals => { :dates => agent_function['dates'], :section_id => "agent_function_dates", :section_title => t("agent_function.dates"), :heading_size => "h4"} %>
          <% end %>

          <% if agent_function["notes"].length > 0 %>
            <%= render_aspace_partial :partial => "notes/show", :locals => { :notes => agent_function["notes"], :section_id => "#{@agent.agent_type}_agent_function__#{index}__notes_", :context => context, :heading_size => "h4" } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
