<% if !p_body.strip.blank? %>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#<%= p_id %>" aria-controls="<%= p_id %>" aria-expanded="true">
        <%= p_title %>
      </button>
    </h2>
    <div id="<%= p_id %>" class="accordion-collapse collapse show note_panel">
      <div class="accordion-body">
        <%= p_body %>
      </div>
    </div>
  </div>
<% end %>
