<%
   heading_size = 'h3' if heading_size.blank?
%>

<% list.each do |role, relationships| %>
  <<%= heading_size %>><%= I18n.t("enumerations.linked_agent_role.#{role}", :default => role) %></<%= heading_size %>>
  <ul class="present_list agents_list">
    <% relationships.each do |relationship| %>
      <% agent = relationship.fetch('_resolved') %>
      <% relator = relationship['relator'] ? I18n.t("enumerations.linked_agent_archival_record_relators.#{relationship['relator']}", :default => relationship['relator']) : nil %>
      <li>
        <% unless relationship['_inherited'].blank? %>
          <%= inheritance(relationship['_inherited']).html_safe %>
        <% end %>

        <% terms = relationship['terms'].map {|t| t['term']} %>
        <% if role == "subject" && terms.length > 0 %>
          <% title = agent['title'] + " -- " + terms.join(" -- ") %>
        <% else %>
          <% title = agent['title'] %>
        <% end %>

        <%= link_to title, app_prefix(agent['uri']) %>
        (<%= [relator, I18n.t("#{agent['jsonmodel_type']}._singular")].compact.join(', ') %>)
      </li>
    <% end %>
  </ul>
<% end %>
