<% if rep_fv.present? %>
<div class="available-digital-objects">
  <div class="objectimage">
    <div class="panel panel-default">
      <%= render partial: 'shared/representative_file_version', locals: {:uri => rep_fv['file_uri'], :caption => rep_fv['caption']} %>
    </div>
  </div>
</div>
<% elsif dig_objs.present? %>
<div class="available-digital-objects">
  <% dig_objs.each do |d_file| %>
    <% if !d_file['out'].blank? %>
      <% if d_file['thumb'].blank? %>
        <div class="objectimage">
          <a
            class="external-digital-object__link record-type-badge digital_object"
            href="<%= d_file['out'] %>"
            target="new"
            title="<%= t('digital_object._public.link')%>"
          >
            <div class="external-digital-object__content-container">
              <i class="fa <%= { '(moving_image)' => 'fa-file-video-o' ,
                          '(sound_recording)' => 'fa-file-audio-o',
                          '(sound_recording_musical)' => 'fa-file-audio-o',
                          '(sound_recording_nonmusical)' => 'fa-file-audio-o' ,
                          '(still_image)' => 'fa-file-image-o' ,
                          '(text)' =>  'fa-file-text-o'}.fetch( d_file['material'], 'fa-file-o' ) %> fa-4x"></i>
              <h5 class="ws-normal">
                <%= d_file['caption'].blank? ? "#{t('enumerations.instance_instance_type.digital_object')} #{d_file['material']}" : d_file['caption'].html_safe %>
              </h5>
              <p class="external-digital-object__content-btn">
                <%= t('digital_object._public.go')%> <i class="fa fa-external-link" aria-hidden="true"></i>
              </p>
            </div>
          </a>
        </div>
      <% else %>
        <div class="objectimage">
          <div class="panel panel-default">
            <a class="thumbnail" href="<%= d_file['out'] %>" target="new" title="<%= t('digital_object._public.link')%>">
              <img src="<%= d_file['thumb'] %>" alt="<%= strip_mixed_content(d_file['caption'] || t('enumerations.instance_instance_type.digital_object')) %>" />
            </a>
                  <div class="panel-heading">
                    <%= (d_file['caption'] || t('enumerations.instance_instance_type.digital_object')).html_safe %>
                  </div>
          </div>
        </div>
      <% end %>
    <% elsif !d_file['thumb'].blank? %>
      <div class="objectimage">
        <img src="<%= d_file['thumb'] %>" alt="<%=  strip_mixed_content(d_file['caption'] || t('digital_object._public.thumbnail')) %>" />
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
