<%# displaying chosen facet(s) (if any) and facets %>

<div class="filters my-3">
 <% unless @filters.blank? && @search.filters_blank? %>
    <h3><%= t('search_results.filtered_by')%> </h3>
       <ul class='p-0 mt-4 mb-5'>
        <% @search.get_filter_q_arr(@page_search).each do |f_q| %>
    <% unless f_q['v'].blank? %>
     <li class="list-group-item"><span class="filter"><%= t('search_results.search_term') %>: <%= f_q['v'] %>
         <a href="<%= app_prefix(f_q['uri']) %>" title="<%= t('search_results.remove_filter')%>" class="delete_filter">X</a></span></li>
          <% end %>
        <% end %>
      <% unless @search[:filter_from_year].blank? && @search[:filter_to_year].blank? %>
      <%
   from_year = (@search[:filter_from_year].blank? ? '' : @search[:filter_from_year] )
   to_year = (@search[:filter_to_year].blank? ? t('search_results.filter.year_now') : @search[:filter_to_year])
      %>
      <li class="list-group-item"><span class="filter"><%= t('search_results.filter.from_to', :begin=> from_year, :end => to_year)%>
    <a href="<%= app_prefix(@page_search.sub("&filter_from_year=#{(from_year=='' ? '*' : from_year)}&filter_to_year=#{(to_year==t('search_results.filter.year_now') ? '*' : to_year)}",""))%>"
       title="<%= t('search_results.remove_filter') %> " class="delete_filter">X</a>
      </span></li>
  <% end  %>
  <% @filters.each do |k, a| %>
    <% a.each do |h| %>
      <li class="list-group-item"><span class="filter"><%= h['pt'] %>: <%= h['pv'] %>
        <a href="<%= app_prefix(h['uri']) %>"
          title="<%= t('search_results.remove_filter') %> " class="delete_filter">X</a>
      </li>
    <% end %>
  <% end %>
 </ul>
 <% end %>
</div>

<% if @search[:dates_within] || @search[:text_within] %>
<h3 class=''><%= t('search_results.filter.head') %></h3>
 <div class="filter_more">
   <%= form_tag(app_prefix("#{@base_search}"), method: 'get', :class=> "form-horizontal container mx-0 mt-4 mb-5") do %>
        <%= render partial: 'shared/hidden_params', :locals => { :no_ids => true } %>
        <% if @search[:text_within] %>
          <div class="form-group row">
            <%= hidden_field_tag('sort', "", :id => nil) %>
            <%= label_tag('filter_q',
                          t('actions.search_within'),
                          :class => 'sr-only') %>
            <%= text_field_tag('filter_q[]',
                               nil,
                               :id => 'filter_q',
                               :placeholder => t('actions.search_within'),
                               :class=> "form-control") %>
          </div>
        <% end %>
        <% if @search.search_dates_within? %>
          <div class="form-group row">
            <div class="col-md-6 year_from p-0 pr-md-1">
              <%= label_tag('filter_from_year',
                            t('search_results.filter.from_year'),
                            :class => 'sr-only') %>
              <%= text_field_tag(:filter_from_year,
                                 nil,
                                 :size => 4,
                                 :maxlength => 4,
                                 :class=>"form-control",
                                 :placeholder => t('search_results.filter.from_year'),
                                 :id => 'filter_from_year') %>
            </div>
            <div class="col-md-6 year_to p-0 pl-md-1 pt-3 pt-md-0">
              <%= label_tag('filter_to_year',
                            t('search_results.filter.to_year'),
                            :class=> 'sr-only') %>
              <%= text_field_tag(:filter_to_year,
                                 nil,
                                 :size => 4,
                                 :maxlength => 4,
                                 :class=> "form-control",
                                 :placeholder => t('search_results.filter.to_year'),
                                 :id => 'filter_to_year') %>
            </div>
          </div>
        <% else %>
          <%= hidden_field_tag(:filter_from_year, @search[:filter_from_year], :id => nil) %>
          <%= hidden_field_tag(:filter_to_year, @search[:filter_to_year], :id => nil) %>
        <% end %>
      <div class='row'>
        <%= submit_tag(t('search-button.label'), :class=>'btn btn-primary', :id => nil) %>
      </div>
  <% end %>
 </div>

<% end %>
<%= render partial: 'shared/only_facets' %>
