<section id="header">
  <div class="d-flex row align-items-center px-4">
    <div class="col-sm-9">
      <h1>
        <% unless request.original_fullpath == '/' %>
          <a title="<%=t('brand.title_link_text') %>" href="<%= AppConfig[:public_proxy_url] %>">
        <% end %>
        <%= t('brand.title') %>
        <% unless request.original_fullpath == '/' %>
          </a>
        <% end %>
      </h1>
    </div>
    <div class="col-sm-3 d-none d-md-block"><img class="logo" src="<%= asset_path(AppConfig[:pui_branding_img]) %>" alt="<%= AppConfig[:pui_branding_img_alt_text] %>" /></div>
  </div>
</section>
