<%
if result.level
    if result.primary_type =~ /digital_object/
      level = I18n.t("enumerations.digital_object_level.#{result.level}", :default => result.level)
      badge_label = I18n.t("digital_object._public.badge_label", :level => level)
    else
      level = result.level == 'otherlevel' ? result.other_level : result.level
      badge_label = I18n.t("enumerations.archival_record_level.#{level}", :default => level)
    end
else
    badge_label = t("#{result.primary_type}._singular")
end

%>


<%= (props.fetch(:full,false)? '<h1>' : '<h3>').html_safe %>
  <% if !props.fetch(:full,false) %>
    <a class="record-title" href="<%= app_prefix(result.uri) %>">  <%== result.display_string %></a>
  <% else %>
    <%== result.display_string %>
  <% end %>
<%= (props.fetch(:full,false)? '</h1>' : '</h3>').html_safe %>


<div class="badge-and-identifier">
  <div class="record-type-badge <%= (result.primary_type.start_with?('agent') ? 'agent' : result.primary_type) %>">
    <i class="<%= icon_for_type(result.primary_type) %>"></i>&#160;<%= badge_label %> <% if result.container_summary_for_badge %> &mdash; <%= result.container_summary_for_badge %><% end %>
  </div>
    <% comp_id = result.identifier %>
  <% unless comp_id.blank? %>
    <div class="identifier">
      <span class="id-label"><%= t('search_sorting.identifier') %>:</span>&#160;<span class="component"><%= comp_id %></span>
    </div>
  <% end %>
</div>
