<section id="navigation">
  <nav class="navbar navbar-expand-lg navbar-light navbar-default bg-light p-0" aria-label="<%= I18n.t("navigation.top_level") %>">
      <button type="button" class="navbar-toggler m-2 ml-auto" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
        <div class="container">
          <span class="sr-only"><%= t('navigation.mobile_menu') %></span>
          <span class="navbar-toggler-icon"></span>
        </div>
      </button>
      <div class="collapse navbar-collapse top-bar pl-4" id="collapsemenu">
        <ul class="navbar-nav mr-auto">
          <%# TODO: add class="active" if we're on that page %>
          <% $MAIN_MENU.each do |link| %>
            <li class="nav-item p-2">
              <a class="nav-link" href="<%= app_prefix(link[0]) %>"><%= t(link[1]) %></a>
            </li>
          <% end %>
          <% unless AppConfig[:pui_hide][:search_tab] %>
            <li class="nav-item p-2"><a class="nav-link" href="<%=  app_prefix('/search?reset=true') %>" title="<%= I18n.t('search_tab', :target => t('archive._plural'))%>">
                <span class="fa fa-search" aria-hidden="true"></span>
                <span class="sr-only"><%= I18n.t('search_tab', :target => t('archive._plural')) %></span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
  </nav>
</section>
