<% unless @facets.blank? %>
<h3><%= t('search_results.filter.add')%>: </h3>
<dl id="facets">

  <%
    preferred_facet_order = %w(repository primary_type agents subjects langcode)
    ordered_facet_types = @facets.keys.sort{|a,b|
      if preferred_facet_order.include?(a) && preferred_facet_order.include?(b)
        preferred_facet_order.index(a) <=> preferred_facet_order.index(b)
      elsif preferred_facet_order.include?(a)
        -1
      elsif preferred_facet_order.include?(b)
        1
      else
        0
      end
    }
  %>

  <% ordered_facet_types.each do |type| %>
    <% h = @facets.fetch(type, false) %>
    <% next unless h %>
    <dt><%= t("search_results.filter.#{type}") %></dt>
    <% facet_count = 0 %>
    <% h.each do |v, ct| %>
      <% if facet_count == 5 %>
        <div class="more-facets">
          <span class="more btn">&or; <%= t('search_results.more_facets') %></span>
          <div class="below-the-fold">
      <% end %>
      <% facet_count += 1 %>
      <dd>
        <a href="<%= app_prefix("#{@page_search}&filter_fields[]=#{type}&filter_values[]=#{CGI.escape(v)}") %>"
           rel="nofollow"
           title="<%= t('search_results.filter_by')%> '<%= get_pretty_facet_value(type,v) %>'">
          <%= get_pretty_facet_value(type,v) %>
        </a>
        <span class="recordnumber"><%= ct %></span>
      </dd>
    <% end %>
    <% if facet_count > 5 %>
        <span class="less btn">&and; <%= t('search_results.fewer_facets') %></span>
      </div>
    <% end %>
    <span class="type-spacer">&nbsp;</span>
  <% end %>
</dl>
<% end %>
