<% unless @facets.blank? %>
<h3><%= t('search_results.filter.add')%>: </h3>
<dl id="facets">

  <%
    preferred_facet_order = %w(repository primary_type agents subjects langcode)
    ordered_facet_types = @facets.keys.sort{|a,b|
      if preferred_facet_order.include?(a) && preferred_facet_order.include?(b)
        preferred_facet_order.index(a) <=> preferred_facet_order.index(b)
      elsif preferred_facet_order.include?(a)
        -1
      elsif preferred_facet_order.include?(b)
        1
      else
        0
      end
    }
  %>

  <% ordered_facet_types.each do |type| %>
    <% facet_group = @facets.fetch(type, false) %>

    <% next if facet_group.empty? %>
    <dt><%= t("search_results.filter.#{type}") %></dt>
    <% facet_group.each_with_index do |facet, i| %>
      <% if i == 5 %>
        <div class="more-facets">
          <span class="more btn">&or; <%= t('search_results.more_facets') %></span>
          <div class="below-the-fold">
      <% end %>
      <dd>
        <a href="<%= app_prefix("#{@page_search}&filter_fields[]=#{type}&filter_values[]=#{CGI.escape(facet.key)}") %>"
           rel="nofollow"
           title="<%= t('search_results.filter_by')%> '<%= facet.label %>'">
          <%= facet.label %>
        </a>
        <span class="recordnumber"><%= facet.count %></span>
      </dd>
    <% end %>
    <% if facet_group.size > 5 %>
+        <span class="less btn">&and; <%= t('search_results.fewer_facets') %></span>
      </div>
    <% end %>
    <span class="type-spacer">&nbsp;</span>
  <% end %>
</dl>
<% end %>
