<% if AppConfig[:pui_max_concurrent_pdfs] > 0 %>
  <%# Check if we're in resource or component view %>
  <% is_archival_object = controller_name == 'archival_objects' %>
  <% resource_uri = is_archival_object ? @result&.resource&.dig('ref') : @result&.uri %>

  <%# Only show print button if we have a valid resource URI %>
  <% if resource_uri.present? %>
    <% resource_id = resource_uri.split('/')&.last %>

    <%= form_tag(app_prefix("/repositories/#{params[:rid]}/resources/#{resource_id}/pdf"),
                method: 'post', :id => 'print_form') do %>
      <%= hidden_field_tag(:base_token, SecureRandom.hex) %>
      <%= hidden_field_tag(:token, "") %>
      <button id="print_button" class="btn btn-default page_action print">
        <i class="fa fa-file-pdf-o fa-3x"></i><br/>
        <span class="print-label"><%= t('actions.print') %></span><span class="generating-label" style="display: none"><%= t('actions.print-generating') %></span>
      </button>
    <% end %>
  <% end %>
<% end %>
