<!-- Look for '_inherited' and '*_inherited' properties -->
<% non_folder = %w(summary langmaterial accessrestrict userestrict bioghist) %>
<% folder = %w(abstract arrangement phystech physloc otherfindaid custodhist acqinfo appraisal accruals originalsloc altformavail extent relatedmaterial separatedmaterial note_bibliography materialspec physdesc inscription physfacet dimensions edition fileplan legalstatus odd note processinfo note_index) %>
<div class="upper-record-details">
    <% over = @result.note('scopecontent') %>
    <% if over.blank?
       over = @result.note('abstract')
       folder.shift # remove abstract from in-folder notes

    end %>
    <% unless over.blank? %>
      <%= render partial: 'shared/single_note', locals: {:type => 'abstract', :note_struct => over, :calling_partial => 'record_innards'} %>
    <% end %>

    <% unless @result.dates.blank? %>
      <h2><%= t('resource._public.dates') %></h2>
      <%= render partial: 'shared/dates', locals: {:dates => @result.dates} %>
    <% end %>

    <% if @result.agents && Array(@result.agents['creator']).length > 0 %>
      <%= render partial: 'shared/agents_list', locals: {:list => {'creator' => @result.agents['creator']}, :heading_size => 'h2'} %>
    <% end %>

    <% non_folder.each do |type| %>
      <% (@result.notes[type] || []).each do |note_struct| %>
       <% unless note_struct['note_text'].blank? %>
        <%= render partial: 'shared/single_note', locals: {:type => type, :note_struct => note_struct, :calling_partial => 'record_innards'} %>
       <% end %>
      <% end %>
    <% end %>

    <% unless @result.extents.blank? %>
      <% @result.extents.each do |ext| %>
        <h2>
          <%= ext['portion'] == 'whole' ? t('resource._public.extent_full') : t('resource._public.extent_partial') %>
        </h2>
        <p class="extent">
          <%= inheritance(ext['_inherited']).html_safe %>
          <%= ext['display'] %>
        </p>
      <% end %>
    <% end %>

    <% unless @result.notes.include?('langmaterial') || @result.lang_materials.blank? %>
      <h2><%= t('resource._public.lang') %></h2>
       <% @result.lang_materials.each do |lang_material| %>
        <p class="language"><%= inheritance(lang_material['_inherited']).html_safe %>
	  <%= t('enumerations.language_iso639_2.' + lang_material['language'])%>
	</p>
      <% end %>
    <% end %>

    <%= render partial: 'shared/metadata_rights_declarations', locals: {:result => @result} %>

    <% if @result.is_a?(Accession) && @result.inventory %>
      <h2><%= t('accession._public.section.inventory') %></h2>
      <p><%= @result.inventory %></p>
    <% end %>

    <% ASUtils.find_local_directories('public/views/_upper_record_innards.html.erb').each do |template| %>
      <%= render :inline => File.read(template) if File.exists?(template) %>
    <% end %>
</div>

    <div class="acc_holder clear-both">
      <div id="res_accordion" class="accordion">
	<% x = render partial: 'shared/multi_notes', locals: {:types => folder} %>
	<% unless x.blank? %>
	<%= render partial: 'shared/accordion_panel', locals: {:p_title =>  t('resource._public.additional'),
	      :p_id => 'add_desc', :p_body => x } %>
	<% end %>
  <%
    additional_published_fvs = []
    if @result.json['file_versions'].present? && @result.json['representative_file_version'].present?
      additional_published_fvs = @result.json['file_versions'].select { |fv| fv['publish'] && fv['file_uri'] != @result.json['representative_file_version']['file_uri'] }
    end
  %>
  <% unless additional_published_fvs.empty? %>
    <%
      x = render partial: 'digital_objects/additional_file_versions', locals: { :fvs => additional_published_fvs }
    %>
    <%= render partial: 'shared/accordion_panel', locals: {
      :p_title => t('digital_object._public.additional'),
      :p_id => 'additional_file_versions_list',
      :p_body => x
    } %>
  <% end %>
    <% unless @result.agents.blank? %>
  <%# ANW-1095: don't show creators in related names section since it is redundant %>
  <% not_creators = @result.agents.except("creator") %>
  <% x= render partial: 'shared/agents_list', locals: {:list => not_creators} %>
    <%= render partial: 'shared/accordion_panel', locals: {:p_title =>  t('pui_agent.related'),
       :p_id => 'agent_list', :p_body => x} %>
  <% end %>
  <% unless @result.subjects.blank? %>
	  <% x= render partial: 'shared/subjects_list', locals: {:list => @result.subjects} %>
	  <%= render partial: 'shared/accordion_panel', locals: {:p_title =>  t('subject._plural'),
	      :p_id => 'subj_list', :p_body => x} %>
	<% end %>
  <% if (@result.kind_of?(Accession) || @result.kind_of?(Resource)) && !@result.deaccessions.blank? %>
    <% x = render partial: 'shared/present_list', locals: {:list =>  @result.deaccessions.collect{|d| d.fetch('description')}, :list_clss => 'deaccessions'} %>
    <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('deaccessions'), :p_id => 'deaccessions_list', :p_body => x} %>
  <% end %>
  <% unless @result.classifications.blank? %>
    <% x= render partial: 'classifications/related_listing', locals: {:classifications => @result.classifications} %>
    <%= render partial: 'shared/accordion_panel', locals: {:p_title =>  t('classification._plural'),
                                                           :p_id => 'classifications_list', :p_body => x} %>
  <% end %>

	<% unless @result.linked_digital_objects.blank? %>
		<% x = render partial: 'resources/linked_digital_objects', locals: {:digital_objects => @result.linked_digital_objects} %>
		<%= render partial: 'shared/accordion_panel', locals: {:p_title => t('linked_digital_objects'), :p_id => 'linked_digital_objects_list', :p_body => x} %>
	<% end %>
	<% if @result.kind_of?(Resource) && !@result.finding_aid.blank? %>
	  <% x= render partial: 'resources/finding_aid' %>
	  <%= render partial: 'shared/accordion_panel', locals: {:p_title =>  t('resource._public.finding_aid.head'),
	     :p_id => 'fa', :p_body => x} %>
	<% end %>
	<% unless @result.container_titles_and_uris.blank? %>
	   <% x = render partial: 'shared/present_list', locals: {:list =>  @result.container_titles_and_uris, :list_clss => 'top_containers'} %>
	 <%= render partial: 'shared/accordion_panel', locals: {:p_title =>  t('containers'), :p_id => 'cont_list',
	 :p_body => x} %>
        <% end %>
  <% if @result.kind_of?(DigitalObject) && !@result.linked_instances.blank? %>
    <% x = render partial: 'digital_objects/linked_instances', locals: {:instances => @result.linked_instances} %>
    <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('linked_instances'), :p_id => 'linked_instances_list', :p_body => x} %>
  <% end %>
	<% unless @result.external_documents.blank? %>
	 <% x = render partial: 'shared/present_list_external_docs', locals: {:list =>  @result.external_documents, :list_clss => 'external_docs'} %>
	  <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('external_docs'), :p_id => 'ext_doc_list', :p_body => x} %>
	<% end %>
	<% unless @repo_info.blank? || @repo_info['top']['name'].blank? %>
           <% x= render partial: 'repositories/repository_details' %>
	    <%= render partial: 'shared/accordion_panel', locals: {:p_title =>  t('repository.details'),
	    :p_id => 'repo_details', :p_body => x} %>
        <% end %>
        <% if @result.kind_of?(Resource) && !@result.related_accessions.blank? %>
          <% x = render partial: 'resources/related_accessions', locals: {:accessions => @result.related_accessions} %>
          <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('related_accessions'), :p_id => 'related_accessions_list', :p_body => x} %>
        <% end %>
        <% if @result.kind_of?(Accession) && !@result.related_resources.blank? %>
          <% x = render partial: 'accessions/related_resources', locals: {:resources => @result.related_resources} %>
          <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('related_resources'), :p_id => 'related_resources_list', :p_body => x} %>
        <% end %>
        <% if @result.kind_of?(Accession) && !@result.related_accessions.blank? %>
          <% y = render partial: 'accessions/related_accessions', locals: {:accessions => @result.related_accessions} %>
          <%= render partial: 'shared/accordion_panel', locals: {:p_title => t('related_accessions'), :p_id => 'related_accessions_list', :p_body => y} %>
        <% end %>
      </div>
      <% ASUtils.find_local_directories('public/views/_lower_record_innards.html.erb').each do |template| %>
        <%= render :inline => File.read(template) if File.exists?(template) %>
      <% end %>
    </div>
    <script type="text/javascript" >initialize_accordion(".note_panel", "<%= t('accordion.expand') %>" , "<%= t('accordion.collapse') %>", <%= AppConfig[:pui_expand_all] %>);
    </script>
