<% add_figcaption = !caption.blank? || !dig_materials_link.blank? %>
<figure class="mb-0" data-rep-file-version-wrapper>
  <% if a_uri %>
    <a href="<%= a_uri %>" target="new" title="<%= t('digital_object._public.link')%>">
  <% end %>
    <img
      class="<%= add_figcaption ? '' : 'rounded-bottom' %>"
      src="<%= img_uri %>"
      alt="<%= caption.blank? ? '' : caption %>">
  <% if a_uri %>
    </a>
  <% end %>
  <% if add_figcaption %>
    <figcaption class="bg-lightgray rounded-bottom">
      <% unless caption.blank? %>
        <p class="mb-0"><%= caption %></p>
      <% end %>
      <% unless dig_materials_link.blank? %>
        <p class="mb-0"><%= dig_materials_link %></p>
      <% end %>
    </figcaption>
  <% end %>
</figure>
