<a name="search" title="<%= t('internal_links.search_collection') %>"></a>
<div class="search">

  <%= form_tag(app_prefix("#{resource_uri}/search"), method: 'get', :class=> "form-horizontal container mx-0 mb-5") do %>

    <div class="form-group row">
      <%= label_tag('filter_q0',
                    "#{t('actions.search_in',
                    :type => t('resource._singular'))}",
                    :class => 'sr-only') %>
      <%= text_field_tag('filter_q[]',
                         nil,
                         :id => 'filter_q0',
                         :placeholder => "#{action_text}",
                         :class=> "form-control") %>
    </div>

    <div class="form-group row gap-x-3">
      <%= hidden_field_tag('op[]','') %>
      <%= hidden_field_tag('field[]','') %>
      <%= hidden_field_tag('limit','') %>
      <%= hidden_field_tag('q[]','*') %>

      <div class="year_from p-0 flex-grow-1">
        <%= label_tag('filter_from_year', 
                      "#{t('search_results.filter.from_year')}", 
                      :class => 'sr-only') %>
        <%= text_field_tag(:filter_from_year,
                           nil,
                           :id => 'filter_from_year',
                           :size => 4,
                           :maxlength => 4,
                           :placeholder => t('search_results.filter.from_year'),
                           :class=>"form-control") %>
      </div>

      <div class="year_to p-0 flex-grow-1">
        <%= label_tag('filter_to_year', 
                      "#{t('search_results.filter.to_year')}",
                      :class=> 'sr-only') %>
        <%= text_field_tag(:filter_to_year,
                           nil,
                           :id => 'filter_to_year',
                           :size => 4,
                           :maxlength => 4, 
                           :placeholder => t('search_results.filter.to_year'),
                           :class=> "form-control") %>
      </div>

    </div>

    <div class="form-group row">
      <%= submit_tag(t('search-button.label'), :class=>'btn btn-primary') %>
    </div>

  <% end %>

</div>
