<%
  show_header = true if show_header.nil?
  header_size = '3' if header_size.nil?
%>
<div class="search" role="search">
  <a name="search" id="search"></a>
  <% if show_header %>
  <h<%= header_size %>><%=  t('actions.search') %>  <%= title %> </h<%= header_size %>>
  <% end %>
  <% @search = Search.new unless defined?(@search) %>
  <%= form_tag(app_prefix("#{search_url}"), method: 'get', :id => 'advanced_search') do %>
  <% (0...[1, @search.q.length].max).each do |i| %>
  <div class="row search_row" id="search_row_<%= i %>">
    <div class="col-sm-1 bool form-group form-inline">
      <%= label_tag("op#{i}", t('advanced_search.operator_label'), :class => 'sr-only') %>
      <%= select_tag('op[]', options_for_select(Search.get_boolean_opts, @search[:op][i]), disabled: (i == 0), :id => "op#{i}",:class=> 'form-control' + (i == 0 ? ' hidden' : '')) %>
      <%= hidden_field_tag('op[]','', :id => 'op_') if i == 0 %>
    </div>
    <div class="<%= i == 0 ? "col-sm-3" : "col-sm-6" %> form-group form-inline">
      <%= label_tag(:"q#{i}", t('navbar.search_placeholder'),:class => 'sr-only repeats') %>
      <%= text_field_tag('q[]', @search[:q][i], :placeholder =>  t('navbar.search_placeholder'), :id => "q#{i}",
            :class=> 'form-control repeats fill-column') %>
    </div>
    <% if i == 0 %>
      <div class="col-sm-3 form-group form-inline norepeat">
        <%= label_tag(:limit, t('search-limit'),:class => 'sr-only') %>
        <%= select_tag(:limit, options_for_select(limit_options, @search[:limit]), :class=> 'form-control fill-column') %>
      </div>
    <% end %>
    <div class="col-sm-5 form-group form-inline">
      <%= label_tag(:"field#{i}", t('search-field'),:class => 'sr-only repeats') %>
      <%= select_tag('field[]', options_for_select(field_options, @search[:field][i]), :id=> "field#{i}", :class=> 'form-control repeats') %>

      <span class="inline-label repeats"><%= t('search_results.filter.years') %>:</span>
      <%= label_tag(:"from_year#{i}", "#{t('search_results.filter.from_year')}", :class => 'sr-only repeats') %>
      <%= text_field_tag('from_year[]', @search[:from_year][i], :size => 4,:maxlength => 4, :id=>"from_year#{i}",
           :placeholder => t('search_results.filter.from'),:class=>'form-control repeats') %>

      <span class="inline-label repeats"><%= t('search_results.filter.to') %></span>
      <%= label_tag(:"to_year#{i}", "#{t('search_results.filter.to_year')}", :class=> 'sr-only repeats') %>
      <%= text_field_tag('to_year[]', @search[:to_year][i], :size => 4, :maxlength => 4, :id => "to_year#{i}",
               :class=> 'form-control repeats', :placeholder => t('search_results.filter.to')) %>
    <span class="plusminus"></span>

    </div>
  </div>
  <% end %>
  <div class="row" id="submit_div">
    <div class="col-sm-2">
      <%= submit_tag(t('search-button.label'), :class=>'btn btn-primary', :id => 'submit_search') %>
    </div>
  </div>
  <% end %>
</div>
<script type="text/javascript" >initialize_search();</script>
