<%  if !note_struct['note_text'].blank? %>
    <div class="<%= type %> single_note" >
     <% unless defined?(notitle) &&  notitle %> 
     <h4><%= note_struct['label'] %></h4>
     <% end %>
     <% if note_struct.has_key?('subnotes') %>
       <% note_struct['subnotes'].each do |subnote| %>
         <div class="subnote <%= 'well' if subnote['jsonmodel_type'] == 'note_citation' %>">
           <% if subnote['jsonmodel_type'] == 'note_citation' %>
             <h5><%= t('actions.cite') %></h5>
           <% elsif subnote['_title'] %>
             <h5><%= subnote['_title'] %></h5>
           <% elsif subnote['_inline_label'] %>
             <span class='inline-label'><%= subnote['_inline_label'] %></span>
           <% end %>
           <span class="note-content">
             <%= subnote['_text'].html_safe %>
           </span>
         </div>
       <% end %>
     <% else %>
       <div class="note-content">
         <%= note_struct['note_text'].html_safe %>
       </div>
     <% end %>
     </div>
<% end %>
