<%
   heading_size = 'h2' if heading_size.blank?
   sub_heading_size = 'h3' if sub_heading_size.blank?
%>

<%  if !note_struct['note_text'].blank? %>
    <div class="<%= type %> single_note" >
     <% unless defined?(notitle) &&  notitle %>
     <<%= heading_size %>><%= note_struct['label'] %></<%= heading_size %>>
     <% end %>
     <% if note_struct.has_key?('subnotes') %>
       <% note_struct['subnotes'].each do |subnote| %>
         <div <% unless calling_partial == 'infinite_item' %>class="subnote mr-2"<% end %>>
           <% if subnote['jsonmodel_type'] == 'note_citation' %>
             <<%= sub_heading_size %>><%= t('actions.cite') %></<%= sub_heading_size %>>
           <% elsif subnote['_title'] %>
             <<%= sub_heading_size %>><%= subnote['_title'] %></<%= sub_heading_size %>>
           <% elsif subnote['_inline_label'] %>
             <span class='inline-label'><%= subnote['_inline_label'] %></span>
           <% end %>
           <%= render partial: 'shared/note_content', locals: { :content => subnote['_text'], :is_inherited => note_struct['is_inherited'], :type => type, :calling_partial => calling_partial } %>
         </div>
       <% end %>
     <% else %>
        <%= render partial: 'shared/note_content', locals: { :content => note_struct['note_text'], :is_inherited => note_struct['is_inherited'], :type => type, :calling_partial => calling_partial } %>
     <% end %>
    </div>
<% end %>
