<%= form_tag(app_prefix("/login"), :method => "post", :class => "login mb-2") do %>
  <div class="col-md-6 mx-auto" id="login" >
    <div class="form-group required">
      <%= label_tag(:user_name, "#{t('login.username_placeholder')} #{t('login.required')}" ,  :class => 'sr-only') %>
      <div class="input-group">
        <%= text_field_tag :user_name, nil, :placeholder => t('login.username_placeholder'), :class => "form-control"%>
        <div class="input-group-append">
          <span class="input-group-text required"><%= t('login.required') %></span>
        </div>
      </div>
    </div>
    <div class="form-group required">
      <%= label_tag(:password, "#{t('login.password_placeholder')} #{t('login.required')}",  :class => 'sr-only') %>
      <div class="input-group">
        <%= text_field_tag :password, nil, type: 'password', :placeholder => t('login.password_placeholder'), :class => 'form-control' %>
        <div class="input-group-append">
          <span class="input-group-text required"><%= t('login.required') %></span>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary col-md-6 offset-3"><%= t('login.login') %></button>
  </div>
<% end %>
